Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

Re-show chat post menu on hover
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.module.scss
Due: web-changed

Hide duplicate emoji row on events
  apps/web/src/components/PostCard/EventBody/EventBody.js
Due: web-changed

Tweaks to post editor style
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/PostEditor/PostEditor.module.scss
  apps/web/src/components/ToField/ToField.js
  apps/web/src/components/ToField/ToField.module.scss
Due: web-changed

Fix joining groups
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

The Commons header image and tooltip
  apps/web/public/the-commons.jpg
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

always report number of events
  apps/web/src/components/Calendar/header/date/calendar-header-date-badge.tsx
Due: web-changed

remove redundant date
  apps/web/src/components/Calendar/header/date/calendar-header-date.tsx
Due: web-changed

move event onClick to parent div
  apps/web/src/components/Calendar/calendar-event.tsx
Due: web-changed

style today in week header
  apps/web/src/components/Calendar/body/calendar-body-header.tsx
Due: web-changed

remove space
  apps/web/src/components/Calendar/calendar-types.ts
Due: web-changed

fix calendar provider
  apps/web/src/components/Calendar/calendar-event.tsx
  apps/web/src/components/Calendar/calendar-provider.tsx
  apps/web/src/components/Calendar/calendar-types.ts
Due: web-changed

cleanup comments
  apps/web/src/components/EventCalendar/index.js
Due: web-changed

Make widgetUrl more robust
  apps/web/src/util/navigation.js
Due: web-changed

fixed height daypicker for event editing
  apps/web/src/components/ui/datetimepicker.jsx
Due: web-changed

fix typo (class vs className)
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

style calendar day
  apps/web/src/components/Calendar/body/day/calendar-body-day-event.tsx
  apps/web/src/components/Calendar/body/day/calendar-body-day-events.tsx
  apps/web/src/components/ui/calendar.tsx
Due: web-changed

remove unused components
  apps/web/src/components/Calendar/calendar.tsx
  apps/web/src/components/Calendar/dialog/calendar-manage-event-dialog.tsx
  apps/web/src/components/Calendar/dialog/calendar-new-event-dialog.tsx
  apps/web/src/components/Calendar/header/actions/calendar-header-actions-add.tsx
Due: web-changed

fix lint errors (except one)
  apps/web/src/components/Calendar/body/calendar-body-header.tsx
  apps/web/src/components/Calendar/body/calendar-body.tsx
  apps/web/src/components/Calendar/body/day/calendar-body-day-calendar.tsx
  apps/web/src/components/Calendar/body/day/calendar-body-day-content.tsx
  apps/web/src/components/Calendar/body/day/calendar-body-day-event.tsx
  apps/web/src/components/Calendar/body/day/calendar-body-day-events.tsx
  apps/web/src/components/Calendar/body/day/calendar-body-day.tsx
  apps/web/src/components/Calendar/body/day/calendar-body-margin-day-margin.tsx
  apps/web/src/components/Calendar/body/month/calendar-body-month.tsx
  apps/web/src/components/Calendar/body/week/calendar-body-week.tsx
  apps/web/src/components/Calendar/calendar-context.tsx
  apps/web/src/components/Calendar/calendar-event.tsx
  apps/web/src/components/Calendar/calendar-mode-icon-map.tsx
  apps/web/src/components/Calendar/calendar-provider.tsx
  apps/web/src/components/Calendar/calendar-tailwind-classes.ts
  apps/web/src/components/Calendar/calendar-types.ts
  apps/web/src/components/Calendar/calendar.tsx
  apps/web/src/components/Calendar/header/actions/calendar-header-actions-mode.tsx
  apps/web/src/components/Calendar/header/actions/calendar-header-actions.tsx
  apps/web/src/components/Calendar/header/calendar-header.tsx
  apps/web/src/components/Calendar/header/date/calendar-header-date-badge.tsx
  apps/web/src/components/Calendar/header/date/calendar-header-date-chevrons.tsx
  apps/web/src/components/Calendar/header/date/calendar-header-date-icon.tsx
  apps/web/src/components/Calendar/header/date/calendar-header-date.tsx
  apps/web/src/components/EventCalendar/EventCalendar.js
  apps/web/src/components/ui/calendar.tsx
  apps/web/src/components/ui/datetimepicker.jsx
Due: web-changed

fix lint error
  apps/web/src/components/ui/datetimepicker.jsx
Due: web-changed

giving up on this lint error
  apps/web/src/components/Calendar/header/date/calendar-header-date-chevrons.tsx
Due: web-changed

fix Button lint error
  apps/web/src/components/ui/button.tsx
Due: web-changed

organize argument list for consistency
  apps/web/src/components/Calendar/calendar-provider.tsx
Due: web-changed

stop unintended calendar mode change
  apps/web/src/components/Calendar/calendar-event.tsx
Due: web-changed

Add sql migrations for the initial setup of context widgets, and for the syncing fo chats and custom views to the context menu. Still requires a step to reorder widgets based on a groups contents
  apps/backend/api/models/Group.js
  apps/backend/migrations/20250130104013_setup-initial-context-widgets.js
  apps/backend/migrations/20250130104100_ensure-chats-and-custom-views-have-context-widgets.js
Due: backend-changed

Missing bracket
  apps/backend/api/models/Group.js
Due: backend-changed

Make sure groups have a home tag when transitioning menu
  apps/backend/api/models/Group.js
Due: backend-changed

Fix duplocate code
  apps/backend/api/models/Group.js
Due: backend-changed

New migration to switch from general topic to home topic
  apps/backend/migrations/20250131104100_switch-from-general-topic-to-home-topic-and-chat.js
Due: backend-changed

Add sql migrations for the initial setup of context widgets, and for the syncing fo chats and custom views to the context menu. Still requires a step to reorder widgets based on a groups contents
  apps/backend/api/models/Group.js
Due: backend-changed

update-widgets-based-on-group-content
  apps/backend/migrations/20250130121530_update-widgets-based-on-group-content.js
Due: backend-changed

Init models so Group methods actually work
  apps/backend/migrations/20250130121530_update-widgets-based-on-group-content.js
Due: backend-changed

Fix duplicate code
  apps/backend/api/models/Group.js
Due: backend-changed

Fix bug
  apps/backend/api/models/Group.js
Due: backend-changed

Comment
  apps/backend/migrations/20250130121530_update-widgets-based-on-group-content.js
Due: backend-changed

remove unused assignment
  apps/web/src/components/ui/calendar.tsx
Due: web-changed

show days wth events in small calendar
  apps/web/src/components/Calendar/body/day/calendar-body-day-calendar.tsx
Due: web-changed

chore: Handles Heroku post build logic in new script. Renames @hylo/shared build:cjs task to build.
  apps/backend/package.json
  heroku-postbuild.sh
  package.json
  packages/shared/package.json
Due: backend-changed

chore: Try and workspace focus in web deploy to also reduce its bundle size
  heroku-postbuild.sh
Due: none
