Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Fix popover when clicking on overflow emojis.
  apps/web/src/components/EmojiRow/EmojiRow.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.module.scss
Due: web-changed

Clean up logout and session cookie handling for mobile webviews
  apps/mobile/src/screens/PrimaryWebView/PrimaryWebView.js
  apps/web/src/routes/RootRouter/RootRouter.js
Due: web-changed, mobile-changed

Revert "properly handle mobile webviews with valid but stale session cookies"
  apps/web/src/routes/RootRouter/RootRouter.js
Due: web-changed

Ensure lottie is saved in podlock
  apps/mobile/ios/Podfile.lock
Due: mobile-changed

Mobile webview logout fix
  apps/mobile/src/screens/PrimaryWebView/PrimaryWebView.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/RootRouter/RootRouter.js
  packages/shared/src/constants.js
Due: web-changed, mobile-changed

Adjust size of new loading screen
  apps/mobile/src/screens/LoadingScreen.js
  apps/web/package.json
Due: web-changed, mobile-changed

Further lottie loading screen fixes
  apps/mobile/src/screens/LoadingScreen.js
Due: mobile-changed

Try to fix landing page appearing in the app
  apps/mobile/src/components/HyloWebView/HyloWebView.js
  apps/web/src/routes/RootRouter/RootRouter.js
  packages/contexts/AuthContext.js
Due: web-changed, mobile-changed

Better handling of mobile webview requests and the related session cookie
  apps/mobile/src/components/HyloWebView/HyloWebView.js
  apps/mobile/src/screens/PrimaryWebView/PrimaryWebView.js
  apps/web/src/server/redirectToApp.js
Due: web-changed, mobile-changed

Revert loading screen changes
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/src/screens/LoadingScreen.js
  apps/mobile/src/screens/PrimaryWebView/PrimaryWebView.js
  yarn.lock
Due: mobile-changed

Fix crash on production for link previews with busted URLs
  apps/web/src/components/LinkPreview/LinkPreview.js
Due: web-changed

Initial effort to cover android loading loop
  apps/mobile/src/hooks/useNetworkConnectivity.js
  apps/mobile/src/screens/PrimaryWebView/PrimaryWebView.js
Due: mobile-changed

mobile@v6.3.1
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Ensure currentUser does not cause errors in AuthRoot nav
  apps/mobile/src/navigation/AuthRootNavigator.js
Due: mobile-changed

Destructure currentUser return
  packages/hooks/useCurrentUser.js
Due: none

Ensure tracks are returned in offering add track query, even if unpublished
  apps/backend/Procfile.dev-stripe
  apps/web/src/routes/GroupSettings/PaidContentTab/OfferingsTab.js
Due: backend-changed, web-changed

Explicitly declare subscriptions to be recurring
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/GroupDetail/PaywallOfferingsSection.jsx
  apps/web/src/routes/GroupSettings/PaidContentTab/OfferingsTab.js
  apps/web/src/routes/OfferingDetails/OfferingDetails.jsx
  apps/web/src/routes/TrackHome/TrackPaywallOfferingsSection.jsx
Due: web-changed

Offer customizable buy now button text per offering
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/package.json
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/GroupDetail/PaywallOfferingsSection.jsx
  apps/web/src/routes/GroupSettings/PaidContentTab/OfferingsTab.js
  apps/web/src/routes/GroupSettings/PaidContentTab/PaidContentTab.store.js
  apps/web/src/routes/OfferingDetails/OfferingDetails.jsx
  apps/web/src/routes/TrackHome/TrackPaywallOfferingsSection.jsx
  apps/web/src/store/actions/fetchPublicStripeOffering.js
  apps/web/src/store/actions/fetchPublicStripeOfferings.js
  apps/web/src/util/accessGrants.js
Due: backend-changed, web-changed

Allow rich text in offering description field
  apps/web/src/routes/GroupDetail/PaywallOfferingsSection.jsx
  apps/web/src/routes/GroupSettings/PaidContentTab/OfferingsTab.js
  apps/web/src/routes/OfferingDetails/OfferingDetails.jsx
  apps/web/src/routes/TrackHome/TrackPaywallOfferingsSection.jsx
Due: web-changed

Wrap non-auth router screens in safe insets
  apps/mobile/src/screens/ForgotPassword/ForgotPassword.js
  apps/mobile/src/screens/Signup/Signup.js
  apps/mobile/src/screens/Signup/SignupEmailValidation/SignupEmailValidation.js
  apps/mobile/src/screens/Signup/SignupRegistration/SignupRegistration.js
  apps/mobile/src/screens/Signup/SignupSetLocation/SignupSetLocation.js
  apps/mobile/src/screens/Signup/SignupUploadAvatar/SignupUploadAvatar.js
Due: mobile-changed

release mobile@v6.3.2
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Add sliding scale payment option to offerings
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/stripe.js
  apps/backend/api/graphql/mutations/stripe.test.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/services/StripeService.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/SettingsControl/SettingsControl.js
  apps/web/src/routes/GroupDetail/PaywallOfferingsSection.jsx
  apps/web/src/routes/GroupSettings/PaidContentTab/OfferingsTab.js
  apps/web/src/routes/OfferingDetails/OfferingDetails.jsx
  apps/web/src/routes/TrackHome/TrackPaywallOfferingsSection.jsx
Due: backend-changed, web-changed

Added missing i18n setup for some email actions
  apps/backend/api/controllers/UserController.js
  apps/backend/api/graphql/mutations/invitation.js
  apps/backend/api/models/Group.js
  apps/backend/api/models/ModerationAction.js
  apps/backend/api/models/Notification.js
  apps/backend/api/models/PushNotification.js
  apps/backend/api/models/comment/notifications.js
  apps/backend/config/i18n.js
  apps/backend/config/locales/hi.json
  apps/backend/config/locales/pt.json
  apps/backend/lib/group/digest2/personalizeData.js
  apps/backend/lib/i18n/de.js
  apps/backend/lib/i18n/es.js
  apps/backend/lib/i18n/fr.js
  apps/backend/lib/i18n/hi.js
  apps/backend/lib/i18n/locales.js
  apps/backend/lib/i18n/pt.js
Due: backend-changed

Add paid content strings to missing i18n mail stuff
  apps/backend/api/controllers/StripeController.js
  apps/backend/lib/i18n/de.js
  apps/backend/lib/i18n/fr.js
  apps/backend/lib/i18n/hi.js
  apps/backend/lib/i18n/pt.js
Due: backend-changed

Add missing i18n strings to invite page
  apps/web/public/locales/de.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
Due: web-changed

All backend tests passing
  apps/backend/api/controllers/CommentController.js
  apps/backend/api/graphql/index.js
  apps/backend/api/graphql/index.test.js
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/fundingRound.test.js
  apps/backend/api/graphql/mutations/group.test.js
  apps/backend/api/graphql/mutations/topic.test.js
  apps/backend/api/models/PushNotification.js
  apps/backend/api/models/User.js
  apps/backend/lib/graphql-bookshelf-bridge/makeResolvers.js
  apps/backend/lib/group/digest2/util.js
  apps/backend/migrations/schema.sql
  apps/backend/test/unit/controllers/PostController.test.js
  apps/backend/test/unit/models/Activity.test.js
  apps/backend/test/unit/models/Comment.test.js
  apps/backend/test/unit/models/GroupExtension.test.js
  apps/backend/test/unit/models/LinkPreview.test.js
  apps/backend/test/unit/models/Media.test.js
  apps/backend/test/unit/models/Notification.test.js
  apps/backend/test/unit/models/Post.test.js
  apps/backend/test/unit/models/TagFollow.test.js
  apps/backend/test/unit/models/User.test.js
  apps/backend/test/unit/services/GetImageSize.test.js
  apps/backend/test/unit/services/digest2.test.js
Due: backend-changed

Test fixes from review
  apps/backend/api/controllers/CommentController.js
  apps/backend/test/unit/controllers/CommentController.test.js
Due: backend-changed

Add cookie sync and otherwise avoid loading loops
  apps/mobile/src/navigation/AuthRootNavigator.js
  apps/mobile/src/util/session.js
Due: mobile-changed

Put the cookie dependency in the right spot
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
  yarn.lock
Due: mobile-changed

Ensure we only check for internet connection in webview AFTER its been initialized
  apps/mobile/src/navigation/AuthRootNavigator.js
  apps/mobile/src/screens/PrimaryWebView/PrimaryWebView.js
Due: mobile-changed

Ensure hyloMobileV2 is injected into the webviews before loading. Ensure android cookie jar is pre-populated
  apps/mobile/src/components/HyloWebView/HyloWebView.js
  apps/mobile/src/util/session.js
Due: mobile-changed

Ensure we await the cookie check on android before trying to pass it to the webview
  apps/mobile/src/components/HyloWebView/HyloWebView.js
  apps/web/src/router/index.js
Due: web-changed, mobile-changed

Prevent duplicate sending of notifications
  apps/backend/api/models/Notification.js
  apps/backend/migrations/20260325120000_notification_processing_started_at.js
  apps/backend/test/unit/models/Notification.test.js
Due: backend-changed

Add monitoring for refunds and disputes coming out of Stripe
  apps/backend/api/controllers/AdminController.js
  apps/backend/api/controllers/StripeController.js
  apps/backend/api/graphql/mutations/stripe.js
  apps/backend/api/services/Email.js
  apps/backend/config/routes.js
  apps/backend/migrations/20260218150618_email_enabled_testers.js
  apps/backend/migrations/20260327113000_consolidate_stripe_logs.js
  apps/backend/migrations/20260327120000_group_stripe_sales_pause.js
  apps/web/src/routes/Management/Management.js
  apps/web/src/routes/Management/ManagementContextMenu.js
  apps/web/src/routes/Management/StripeAnalytics/StripeAnalytics.js
Due: backend-changed, web-changed

Add refund email for PAID CONTENT
  apps/backend/api/graphql/mutations/contentAccess.js
  apps/backend/api/services/Email.js
  scripts/i18n/i18n-templates/Refund_Processed_i18n/html.liquid
  scripts/i18n/i18n-templates/Refund_Processed_i18n/metadata.json
  scripts/i18n/i18n-templates/Refund_Processed_i18n/subject.liquid
  scripts/i18n/i18n-templates/Refund_Processed_i18n/template_data.json
  scripts/i18n/sendwithus-locales/de-DE.po
  scripts/i18n/sendwithus-locales/en-US.po
  scripts/i18n/sendwithus-locales/es-ES.po
  scripts/i18n/sendwithus-locales/fr-FR.po
  scripts/i18n/sendwithus-locales/hi-IN.po
  scripts/i18n/sendwithus-locales/pt-BR.po
Due: backend-changed

Add horizontal tab navigation mode as alternative to sidebar
  apps/web/src/components/ThemeSelector/ThemeSelector.js
  apps/web/src/contexts/ThemeContext.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/AuthLayoutRouter/components/TopNav/TopNav.jsx
  apps/web/src/routes/AuthLayoutRouter/components/TopNav/index.js
  apps/web/src/store/selectors/getMyGroups.js
Due: web-changed

Adjust group settings layout for tab navigation mode
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/FullPageModal/FullPageModal.js
Due: web-changed

Add one-column dashboard layout as group setting
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Group.js
  apps/web/src/components/ViewHeader/ViewHeader.jsx
  apps/web/src/graphql/fragments/groupQueryFragment.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/OneColumnLayout.jsx
  apps/web/src/routes/GroupSettings/AppearanceTab/AppearanceTab.js
  apps/web/src/routes/GroupSettings/GroupSettings.js
  apps/web/src/routes/GroupSettings/GroupSettings.store.js
Due: backend-changed, web-changed

Add in-place editing and post previews to one-column dashboard
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/OneColumnLayout.jsx
Due: web-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
