Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Send email digests in each member's local morning
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/User.js
  apps/backend/cron.js
  apps/backend/lib/group/digest2/index.js
  apps/backend/lib/group/digest2/localMorning.js
  apps/backend/lib/group/digest2/util.js
  apps/backend/test/unit/services/digest2.localMorning.test.js
  apps/web/src/routes/NonAuthLayoutRouter/Login/Login.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Signup.js
  apps/web/src/routes/RootRouter/RootRouter.js
  apps/web/src/store/actions/checkLogin.js
  apps/web/src/store/actions/login.js
  apps/web/src/util/timezone.js
  apps/web/src/util/timezone.test.js
Due: backend-changed, web-changed

Send the welcome email in the recipient's language
  apps/backend/api/models/User.js
  apps/backend/test/unit/models/User.lifecycle.test.js
Due: backend-changed

Email new members on day 2 to find a group and on day 3 to introduce themselves
  apps/backend/api/models/User.js
  apps/backend/api/models/user/lifecycleEmails.js
  apps/backend/api/services/Email.js
  apps/backend/api/services/Frontend.js
  apps/backend/cron.js
  apps/backend/lib/email/emailTypes.js
  apps/backend/lib/i18n/de.js
  apps/backend/lib/i18n/en.js
  apps/backend/lib/i18n/es.js
  apps/backend/lib/i18n/fr.js
  apps/backend/lib/i18n/hi.js
  apps/backend/lib/i18n/pt.js
  apps/backend/test/unit/models/User.lifecycle.test.js
  scripts/i18n/i18n-templates/Lifecycle_Find_A_Group_i18n/html.liquid
  scripts/i18n/i18n-templates/Lifecycle_Find_A_Group_i18n/metadata.json
  scripts/i18n/i18n-templates/Lifecycle_Find_A_Group_i18n/subject.liquid
  scripts/i18n/i18n-templates/Lifecycle_Find_A_Group_i18n/template_data.json
  scripts/i18n/i18n-templates/Lifecycle_Find_A_Group_i18n/text.liquid
  scripts/i18n/i18n-templates/Lifecycle_Introduce_Yourself_i18n/html.liquid
  scripts/i18n/i18n-templates/Lifecycle_Introduce_Yourself_i18n/metadata.json
  scripts/i18n/i18n-templates/Lifecycle_Introduce_Yourself_i18n/subject.liquid
  scripts/i18n/i18n-templates/Lifecycle_Introduce_Yourself_i18n/template_data.json
  scripts/i18n/i18n-templates/Lifecycle_Introduce_Yourself_i18n/text.liquid
  scripts/i18n/sendwithus-locales/de-DE.po
  scripts/i18n/sendwithus-locales/en-US.po
  scripts/i18n/sendwithus-locales/es-ES.po
  scripts/i18n/sendwithus-locales/fr-FR.po
  scripts/i18n/sendwithus-locales/hi-IN.po
  scripts/i18n/sendwithus-locales/pt-BR.po
  scripts/i18n/sendwithus-locales/template.pot
Due: backend-changed

Add a muted text colour that meets 4.5:1 contrast in every theme
  apps/web/src/themes/contrast.test.js
  apps/web/src/themes/index.js
  apps/web/tailwind.config.js
Due: web-changed

Add a re-runnable sweep from faded secondary text to the muted colour
  apps/web/scripts/mutedTextSweep.js
  apps/web/src/themes/index.js
Due: web-changed

Add e2e specs for new-member defaults and the muted text colour
  apps/web/e2e/membership-defaults.spec.js
  apps/web/e2e/theme-contrast.spec.js
Due: web-changed

Allow users to rejoin paid spaces without renewal of subscription
  apps/backend/api/graphql/index.test.js
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/mutations/membership.js
  apps/backend/api/graphql/mutations/membership.test.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Activity.js
  apps/backend/api/models/Notification.js
  apps/backend/api/models/Post.js
  apps/backend/api/models/post/createPost.test.js
  apps/backend/test/unit/models/Notification.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/RetainedAccessPanel/RetainedAccessPanel.jsx
  apps/web/src/graphql/fragments/groupDetailsFragment.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.test.js
  apps/web/src/routes/GroupDetail/GroupDetail.js
  apps/web/src/routes/RetainedAccessAbout/RetainedAccessAbout.jsx
  apps/web/src/routes/RetainedAccessAbout/RetainedAccessAbout.test.jsx
  apps/web/src/routes/SpaceJoinPage/SpaceJoinPage.jsx
  apps/web/src/routes/SpaceJoinPage/SpaceJoinPage.test.js
  apps/web/src/store/actions/fetchForGroup.js
  apps/web/src/store/actions/fetchRetainedAccessAbout.js
  apps/web/src/store/actions/rejoinGroup.js
  apps/web/src/store/constants.js
  apps/web/src/store/models/Group.js
  apps/web/src/store/reducers/ormReducer/index.js
  apps/web/src/store/reducers/ormReducer/index.test.js
Due: backend-changed, web-changed

Revert deleted but likely unused methods on the Activity model
  apps/backend/api/models/Activity.js
Due: backend-changed

Start each digest where the member's last one ended
  apps/backend/lib/group/digest2/localMorning.js
  apps/backend/lib/group/digest2/util.js
  apps/backend/test/unit/services/digest2.localMorning.test.js
Due: backend-changed

Switch memberships back on for past "Unsubscribe from all" users
  apps/backend/migrations/20261015000000_backfill_notification_settings.js
  apps/backend/test/unit/migrations/backfillNotificationSettings.test.js
Due: backend-changed

Keep the group home route's doc comment next to it
  apps/backend/api/services/Frontend.js
Due: backend-changed

Count only newly finished signups for the day-2 and day-3 emails
  apps/backend/api/models/User.js
  apps/backend/api/models/user/lifecycleEmails.js
  apps/backend/test/unit/models/User.lifecycle.test.js
Due: backend-changed

Darken muted text in three light themes for menus and sticky headers
  apps/web/src/themes/contrast.test.js
  apps/web/src/themes/index.js
Due: web-changed

Check the app's own muted colour and a swept date in the theme e2e spec
  apps/web/e2e/theme-contrast.spec.js
Due: web-changed

Clarify when a digest slot is skipped after a timezone change
  apps/backend/lib/group/digest2/localMorning.js
Due: backend-changed

Give the signed-out RootRouter tests time to load route code
  apps/web/src/routes/RootRouter/RootRouter.signedOut.test.js
Due: web-changed

Report the field's own name when TextInput's clear button empties it
  apps/web/src/components/TextInput/TextInput.js
  apps/web/src/components/TextInput/TextInput.test.js
Due: web-changed

Name Pillbox's suggestion handler handleSelect
  apps/web/src/components/Pillbox/Pillbox.js
Due: web-changed

Check the email-off line on the About page's Notification Settings tab
  apps/web/e2e/membership-defaults.spec.js
Due: web-changed

Show the email-off line on the About page's Notification Settings tab
  apps/web/src/components/GroupAboutView/GroupAboutView.jsx
  apps/web/src/components/GroupAboutView/GroupAboutView.test.js
Due: web-changed

Scroll to the new-member default before the after-save screenshot
  apps/web/e2e/membership-defaults.spec.js
Due: web-changed

Leave the email-off line to the parent group on a space's About page
  apps/web/src/components/GroupAboutView/GroupAboutView.jsx
  apps/web/src/components/GroupAboutView/GroupAboutView.test.js
Due: web-changed

Switch email on before off in the email-off e2e check
  apps/web/e2e/membership-defaults.spec.js
Due: web-changed

Switch the emulated system scheme with each theme in the contrast spec
  apps/web/e2e/theme-contrast.spec.js
Due: web-changed

Recognize the Hylo contribution line by its price metadata and current names
  apps/backend/api/controllers/StripeController.js
  apps/backend/test/unit/controllers/StripeController.test.js
Due: backend-changed

Move Draw boundary into the location input as a small polygon button
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/LocationWithBoundary/LocationWithBoundary.jsx
Due: web-changed

Fix issue where multi day events would only show last day on the calendar
  apps/web/src/components/Calendar/calendar-event.tsx
Due: web-changed

Re-run the muted text sweep after merging dev
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/SpaceSlugField.jsx
Due: web-changed

Strip reviewApps changes out from redux-remember branch
  apps/mobile-leap/src/util/session.ts
  apps/web/src/server/apiProxy.js
  apps/web/src/server/index.js
  apps/web/src/server/rewriteProxySetCookie.js
  apps/web/src/server/rewriteProxySetCookie.test.js
  apps/web/src/server/socketProxy.js
  apps/web/src/server/staticCacheHeaders.js
Due: web-changed

mobile pre-release for 7.0.4
  apps/mobile-leap/app.config.ts
Due: none

Fix mobile cookie handling
  apps/mobile-leap/src/components/HyloWebView/HyloWebView.tsx
Due: none

Temp logging commit
  apps/backend/api/graphql/index.js
Due: backend-changed

Revert "Merge branch 'temp-log-branch' into staging"
  apps/backend/api/graphql/index.js
  apps/mobile-leap/app.config.ts
  apps/mobile-leap/src/components/HyloWebView/HyloWebView.tsx
Due: backend-changed

Fix submission posts not getting created correctly when other post types are on in the funding round space
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

In daily digest dont show X comments in post rows for new posts that day
  apps/backend/lib/group/digest2/personalizeData.js
  apps/backend/test/unit/services/digest2.test.js
Due: backend-changed

Add new Show realtime submissions seting to funding rounds which shows submissions to all members during submission phase
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/migrations/20261001180000_add_show_realtime_submissions_to_funding_rounds.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/FundingRoundAboutInfo/FundingRoundAboutInfo.jsx
  apps/web/src/graphql/fragments/groupDetailsFragment.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddSpaceDialog.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/FundingRoundSettingsFields.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/SpaceSettingsModal.jsx
  apps/web/src/routes/FundingRoundSubmissionsView/FundingRoundSubmissionsView.jsx
  apps/web/src/routes/FundingRounds/FundingRounds.store.js
  apps/web/src/sandbox/seed/en/fundingRounds.js
  apps/web/src/store/actions/fetchForGroup.js
  apps/web/src/store/actions/fetchGroupFundingRounds.js
  apps/web/src/store/models/FundingRound.js
  packages/graphql/queries/fetchFundingRoundQuery.js
  packages/graphql/queries/groupFundingRoundsQuery.js
Due: backend-changed, web-changed

Web and backend v7.1.2
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

Lint fixes
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/viewCardTheme.js
  apps/web/src/sandbox/seed/en/comments.js
  apps/web/src/sandbox/seed/en/messageThreads.js
  apps/web/src/sandbox/seed/en/notifications.js
  apps/web/src/sandbox/seed/en/posts.js
  apps/web/src/sandbox/seed/index.js
Due: web-changed

Editing a chat post from the post details doesn't convert it to a discussion
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/PostEditor/PostEditor.test.js
Due: web-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
