Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

chore(mobile): Slightly simpler getStateFromPath test
  apps/mobile/src/navigation/linking/getStateFromPath.test.js
Due: mobile-changed

change "0 events" to "No events"
  apps/web/src/components/Calendar/header/date/calendar-header-date-badge.tsx
Due: web-changed

simplify calendar header
  apps/web/src/components/Calendar/header/date/calendar-header-date-chevrons.tsx
  apps/web/src/components/Calendar/header/date/calendar-header-date-icon.tsx
  apps/web/src/components/Calendar/header/date/calendar-header-date.tsx
Due: web-changed

const(mobile): Complete getStateFromPath (linking/routing) test
  apps/mobile/src/navigation/linking/getStateFromPath.js
  apps/mobile/src/navigation/linking/getStateFromPath.test.js
  apps/mobile/src/navigation/linking/index.js
Due: mobile-changed

chore(mobile): Tweak a test
  apps/mobile/src/navigation/linking/getStateFromPath.test.js
Due: mobile-changed

chore(mobile): Test tweak
  apps/mobile/src/navigation/linking/getStateFromPath.test.js
Due: mobile-changed

chore(mobile): Update linking and test
  apps/mobile/src/navigation/linking/getStateFromPath.js
  apps/mobile/src/navigation/linking/getStateFromPath.test.js
  apps/mobile/src/navigation/linking/index.js
Due: mobile-changed

chore(mobile): Adds snapshot testing for pending routing/linking tests on getStateFromPath
  apps/mobile/package.json
  apps/mobile/src/navigation/linking/__snapshots__/getStateFromPath.test.js.snap
  apps/mobile/src/navigation/linking/getStateFromPath.test.js
Due: mobile-changed

work in progress on cal bugs
  apps/web/src/components/Calendar/calendar.tsx
  apps/web/src/routes/Stream/Stream.js
  apps/web/src/store/reducers/queryResults.js
Due: web-changed

chore(mobile): Remove commented code, update test snapshot for readability
  apps/mobile/babel.config.js
  apps/mobile/src/navigation/linking/__snapshots__/getStateFromPath.test.js.snap
  apps/mobile/src/navigation/linking/getStateFromPath.test.js
Due: mobile-changed

WIP test dropping queries results to force loading of new posts from server
  apps/web/src/routes/Stream/Stream.js
  apps/web/src/store/reducers/queryResults.js
Due: web-changed

bust the cache for events
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

include last day of month
  apps/web/src/components/Calendar/body/month/calendar-body-month.tsx
Due: web-changed

this seemed necessary, not sure why
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

chore(mobile): Hoist @hylo/shared dependencies as we do with the other shared modules
  packages/shared/package.json
Due: none

Linting and fixing some scrolling weirdness
  apps/web/src/routes/Messages/MessageForm/MessageForm.js
  apps/web/src/routes/Messages/MessageSection/MessageSection.js
  apps/web/src/routes/Messages/PeopleSelector/PeopleList/PeopleList.js
  apps/web/src/routes/Messages/PeopleSelector/PeopleListItem/PeopleListItem.js
  apps/web/src/routes/Messages/PeopleSelector/PeopleListItem/PeopleListItem.module.scss
  apps/web/src/routes/Messages/PeopleSelector/PeopleSelector.js
Due: web-changed

change variable names
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

Fixed text helpers for time
  apps/web/src/components/TextInput/TextInput.js
  packages/shared/src/TextHelpers.js
Due: web-changed

localizations
  apps/web/src/components/Calendar/body/day/calendar-body-day-event.tsx
  apps/web/src/components/Calendar/body/day/calendar-body-margin-day-margin.tsx
  apps/web/src/components/Calendar/calendar-event.tsx
  apps/web/src/components/Calendar/header/date/calendar-header-date-badge.tsx
  apps/web/src/components/Calendar/header/date/calendar-header-date-chevrons.tsx
Due: web-changed

add numeric day for day view
  apps/web/src/components/Calendar/header/date/calendar-header-date-chevrons.tsx
Due: web-changed

Fixed filtering
  apps/web/src/routes/Messages/ThreadList/ThreadList.js
Due: web-changed

Fixed thread search to include message content
  apps/web/src/routes/Messages/Messages.store.js
  apps/web/src/routes/Messages/ThreadList/ThreadList.js
Due: web-changed

Linting
  apps/web/src/routes/Messages/Messages.store.js
  apps/web/src/routes/Messages/ThreadList/ThreadList.js
Due: web-changed

Linting
  apps/web/src/components/HyloEditor/HyloEditorMenuBar.js
  apps/web/src/components/PublicToggle/PublicToggle.js
  apps/web/src/routes/Messages/PeopleSelector/PeopleSelector.js
Due: web-changed

sync mobile and web widgetUrl and friends
  apps/mobile/src/util/navigation.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/util/navigation.js
Due: web-changed, mobile-changed

Remove merge orphaned component
  apps/mobile/src/navigation/menus/ContextMenu/ContextMenu.js
Due: mobile-changed

chore(mobile): Remove commented code
  apps/mobile/config/jest/setupTests.js
Due: mobile-changed

Add translations
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: web-changed

Ensure mobile links my profle widget to consistent route
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  packages/presenters/GroupPresenter.js
Due: web-changed

Fix removing roles
  apps/web/src/routes/GroupSettings/RolesSettingsTab/RolesSettingsTab.js
Due: web-changed

Fix creating posts and sending to chat rooms
  apps/web/src/store/actions/fetchMyMemberships.js
  apps/web/src/store/actions/fetchUserSettings.js
Due: web-changed

Fix image previews
  apps/mobile/.eslintrc.js
  apps/web/src/components/AttachmentManager/ImagePreview.jsx
Due: web-changed, mobile-changed

Fix display of attachments in post editor
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Fix chat post link to member to stay in current group
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
Due: web-changed

Not sure why navigation to user settings isnt working now....
  apps/mobile/src/hooks/useOpenURL.js
  apps/mobile/src/navigation/UserSettingsTabsNavigator.js
  apps/mobile/src/navigation/linking/index.js
  apps/mobile/src/screens/UserSettingsWebView/UserSettingsWebView.js
Due: mobile-changed

Fix a bunch of stuff related to the To Field in the post editor
  apps/web/src/components/KeyControlledList/KeyControlledItemList.js
  apps/web/src/components/KeyControlledList/KeyControlledList.js
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/TagInput/TagInput.js
  apps/web/src/components/ToField/ToField.js
Due: web-changed

Allow for create modal to appear over member profile
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Make sure Jump In button is always enabled on new groups welcome modal
  apps/web/src/routes/GroupWelcomeModal/GroupWelcomeModal.js
Due: web-changed

Linting
  apps/web/src/components/HyloEditor/HyloEditorMenuBar.js
Due: web-changed

WIP
  apps/backend/api/controllers/UserController.js
  apps/backend/api/models/Post.js
  apps/backend/api/models/TagFollow.js
  apps/backend/api/models/User.js
  apps/backend/cron.js
Due: backend-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
