Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

Convert PostEditor to Functional component (1st pass)
  apps/mobile/src/screens/PostEditor/PostEditor.connector.js
  apps/mobile/src/screens/PostEditor/PostEditor.connector.test.js
  apps/mobile/src/screens/PostEditor/PostEditor.js
  apps/mobile/src/screens/PostEditor/PostEditor.store.js
  apps/mobile/src/screens/PostEditor/index.js
  apps/mobile/src/store/reducers/ormReducer/sessionReducers.js
Due: mobile-changed

Make PostEditor a bit more managable
  apps/mobile/src/screens/PostEditor/DatePickerWithLabel.js
  apps/mobile/src/screens/PostEditor/PostEditor.js
  apps/mobile/src/screens/PostEditor/TypeSelector.js
Due: mobile-changed

Run group member export in background worker
  apps/backend/api/controllers/ExportController.js
  apps/backend/api/services/ExportService.js
  apps/backend/api/services/Queue.js
  apps/backend/package.json
Due: backend-changed

Try heroku stack-24 for the back-end and try monorepo buildpack
  apps/backend/app.json
Due: backend-changed

More tweaks to backend app.json
  apps/backend/app.json
Due: backend-changed

chore: PostEditor as functional component (WIP)
  apps/mobile/src/screens/PostEditor/PostEditor.js
  apps/mobile/src/store/selectors/getPost.js
Due: mobile-changed

Update backend to version 5.10.1
  apps/backend/CHANGELOG.md
  apps/backend/package.json
Due: backend-changed

Try to fix exporting large group member list again
  apps/backend/knexfile.js
  package.json
Due: backend-changed

Try updating database libraries to fix large group member export
  apps/backend/knexfile.js
  apps/backend/package.json
  yarn.lock
Due: backend-changed

Update bookshelf to fork that works with latest knex
  apps/backend/package.json
  yarn.lock
Due: backend-changed

Try to fix member export again
  apps/backend/api/services/ExportService.js
  apps/backend/knexfile.js
  apps/backend/migrations/scripts/updateMigrationsTable.js
  apps/backend/package.json
Due: backend-changed

Forgot yarn.lock
  yarn.lock
Due: none

Again
  apps/backend/package.json
  yarn.lock
Due: backend-changed

Try again
  apps/backend/knexfile.js
Due: backend-changed

chore(mobile): v.5.9.1 release prepared, attempts to fix broken build
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

chore(mobile): Fix CocoaPods issue with Sentry library
  apps/mobile/ios/Podfile.lock
Due: mobile-changed

chore(mobile): Fix Min iOS version issue with Pods
  apps/mobile/ios/Podfile
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
Due: mobile-changed

chore(mobile): Update out-of-date dependencies and Podfile to fix Bitrise build
  apps/mobile/android/build.gradle
  apps/mobile/ios/Podfile
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  yarn.lock
Due: mobile-changed

chore(mobile): Update out-of-date dependencies and Podfile to fix Bitrise build
  apps/mobile/ios/HyloReactNative.xcodeproj/project.pbxproj
  apps/mobile/ios/Podfile
  apps/mobile/ios/Podfile.lock
Due: mobile-changed

Basic context widget migration and model
  .gitignore
  apps/backend/api/models/ContextWidget.js
  apps/backend/migrations/20241030102234_context-menu.js
Due: backend-changed

Fix missing translation function
  .gitignore
  apps/mobile/src/screens/GroupWelcomeFlow/GroupWelcomeLanding.js
Due: mobile-changed

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

Backend: support passing a localId for optimistically created posts
  apps/backend/api/controllers/PostController.js
  apps/backend/api/graphql/mutations/post.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Notification.js
  apps/backend/api/models/Post.js
  apps/backend/api/models/post/createPost.js
  apps/backend/api/services/Search/forPosts.js
  apps/backend/lib/graphql-bookshelf-bridge/makeResolvers.js
  apps/backend/package.json
  apps/backend/test/unit/models/Notification.test.js
  yarn.lock
Due: backend-changed

Web: Fix sockets
  apps/web/package.json
  apps/web/src/client/websockets.js
  yarn.lock
Due: web-changed

Lint fixes and style fixes
  apps/web/src/components/GoogleButton/GoogleButton.js
  apps/web/src/components/GoogleButton/GoogleButton.module.scss
  apps/web/src/components/PostCard/PostCard.js
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/TextInput/TextInput.js
  apps/web/src/routes/Events/Events.js
  apps/web/src/routes/MapExplorer/MapDrawer/MapDrawer.js
  apps/web/src/routes/MemberProfile/MemberPosts/MemberPosts.js
  apps/web/src/routes/MemberProfile/MemberVotes/MemberVotes.js
  apps/web/src/routes/MemberProfile/RecentActivity/RecentActivity.js
  apps/web/src/routes/Messages/PeopleSelector/MatchingPeopleListItem/MatchingPeopleListItem.js
  apps/web/src/routes/Messages/PeopleSelector/PeopleSelector.js
  apps/web/src/routes/NonAuthLayoutRouter/Login/Login.js
Due: web-changed

Use new Virtuoso Message List component
  apps/web/package.json
  apps/web/src/graphql/mutations/createPostMutation.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/ChatRoom/ChatRoom.module.scss
  apps/web/src/store/actions/createPost.js
  yarn.lock
Due: web-changed

Add eslint plugin react refresh to track down why HMR not working with vite
  apps/web/eslint.config.js
  apps/web/package.json
  yarn.lock
Due: web-changed

Fix display of members in Map Drawer
  apps/web/src/routes/MapExplorer/MapExplorer.js
Due: web-changed

ContextWidget: Model, mutations and graphQL schema added. Mutations tests passing
  apps/backend/api/graphql/index.js
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/context_widgets.js
  apps/backend/api/graphql/mutations/context_widgets.tests.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/ContextWidget.js
  apps/backend/api/models/Group.js
  apps/backend/app.js
  apps/backend/config/bootstrap.js
  apps/backend/knexfile.js
  apps/backend/lib/skiff.js
  apps/backend/migrations/20241030102234_context-menu.js
  apps/backend/migrations/20241101130947_cascade-on-delete-moderation-actions.js
  apps/backend/migrations/schema.sql
  apps/backend/package.json
Due: backend-changed

Fix map drawer content to show members again
  apps/web/eslint.config.js
  apps/web/src/components/CreateTopic/CreateTopic.js
  apps/web/src/routes/MapExplorer/MapExplorer.js
  apps/web/src/store/selectors/getResponsibilitiesForGroup.js
  apps/web/src/util/savedSearch.js
Due: web-changed

More lint fixes
  apps/web/src/components/Button/Button.module.scss
  apps/web/src/components/CreateTopic/CreateTopic.module.scss
  apps/web/src/components/DropdownButton/DropdownButton.module.scss
  apps/web/src/components/Widget/FarmOpenToPublic/FarmOpenToPublic.js
  apps/web/src/components/Widget/OpportunitiesToCollaborateWidget/OpportunitiesToCollaborateWidget.js
  apps/web/src/components/Widget/RecentPostsWidget/RecentPostsWidget.js
  apps/web/src/routes/GroupSettings/ImportExportSettingsTab/ImportExportSettingsTab.module.scss
  apps/web/src/routes/GroupSettings/ResponsibilitiesTab/ResponsibilitiesTab.module.scss
  apps/web/src/routes/GroupSettings/RolesSettingsTab/RolesSettingsTab.module.scss
  apps/web/src/routes/Messages/Message/Message.js
  apps/web/src/routes/NonAuthLayoutRouter/Login/Login.module.scss
  apps/web/src/routes/NonAuthLayoutRouter/NonAuthLayoutRouter.module.scss
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Signup.module.scss
  apps/web/src/routes/OAuth/Consent/Consent.module.scss
  apps/web/src/routes/OAuth/Login/Login.module.scss
Due: web-changed

Chat room cleanup and lint fixes
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/ChatRoom/ChatRoom.module.scss
  apps/web/src/routes/GroupDetail/GroupDetail.js
Due: web-changed

Added transitionToNewMenu function. No invocation of it yet
  apps/backend/api/graphql/index.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/ContextWidget.js
  apps/backend/api/models/Group.js
  apps/backend/migrations/20241030102234_context-menu.js
  apps/backend/migrations/schema.sql
  yarn.lock
Due: backend-changed

Improve our @mentions significantly
  apps/backend/api/services/Search/util.js
  apps/web/package.json
  apps/web/src/components/HyloEditor/HyloEditor.module.scss
  apps/web/src/components/HyloEditor/extensions/PeopleMentions.js
  apps/web/src/components/HyloEditor/extensions/TopicMentions.js
  apps/web/src/components/HyloEditor/extensions/suggestions/SuggestionList.js
  apps/web/src/components/HyloEditor/extensions/suggestions/index.js
  apps/web/src/store/actions/findMentions.js
  yarn.lock
Due: backend-changed, web-changed

Add transitionToNewMenu to Group model
  apps/backend/api/graphql/mutations/context_widgets.js
  apps/backend/api/graphql/mutations/context_widgets.tests.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/models/Group.js
  apps/backend/migrations/20241106094624_fix-location-constraints.js
  apps/backend/migrations/schema.sql
  apps/backend/test/setup/factories.js
Due: backend-changed

Fix display of send button in comment form
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.module.scss
Due: web-changed

Small comments added
  apps/backend/api/models/Group.js
Due: backend-changed

Updating yarn.lock
  yarn.lock
Due: none

chore(mobile): Finish functional component re-factor of PostEditor, add PostPresenter pattern, update how post.attachments are handled
  apps/mobile/src/components/ImageAttachments/ImageAttachments.js
  apps/mobile/src/components/ImageViewer/ImageViewer.js
  apps/mobile/src/components/PostCard/PostCard.js
  apps/mobile/src/components/PostCard/PostCardForDetails.js
  apps/mobile/src/screens/PostDetails/PostDetails.js
  apps/mobile/src/screens/PostEditor/FileSelector/FileSelector.js
  apps/mobile/src/screens/PostEditor/ImageSelector/ImageSelector.js
  apps/mobile/src/screens/PostEditor/PostEditor.js
  apps/mobile/src/screens/PostEditor/__snapshots__/PostEditor.connector.test.js.snap
  apps/mobile/src/urql-shared/presenters/PostPresenter.js
  apps/mobile/src/urql-shared/resolvers/cursorPagination.js
  apps/mobile/src/urql-shared/resolvers/hyloSimplePagination.ts
  apps/mobile/src/urql-shared/resolvers/index.js
Due: mobile-changed
