Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Moderation fixes
  apps/web/src/components/FlagContent/FlagContent.js
  apps/web/src/components/FlagGroupContent/FlagGroupContent.js
  apps/web/src/components/FlagGroupContent/index.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/store/reducers/ormReducer/index.js
  apps/web/src/store/reducers/ormReducer/index.test.js
Due: web-changed

Remove the chat room tour
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/ChatRoom/ChatMembersPanel.jsx
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/ChatRoom/PinnedPostChips.jsx
  apps/web/src/tours/catalog.js
  apps/web/src/tours/chatTour.js
Due: web-changed

Mobile release 7.0.0
  apps/mobile-leap/CHANGELOG
  apps/mobile-leap/app.config.ts
Due: none

Tweak changelog
  apps/mobile-leap/CHANGELOG
Due: none

Don't let people try to convert a space to a child group if it has spaces of its own
  apps/backend/api/graphql/mutations/spaces.js
  apps/backend/api/graphql/mutations/spaces.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/GroupSettings/RelatedGroupsTab/RelatedGroupsTab.js
Due: backend-changed, web-changed

Update to v7.0.0 with CHANGELOG
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

Show moderation and join requests views in single column layout group menu (when pending)
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuGrid.jsx
Due: web-changed

Lint
  apps/web/src/components/FlagContent/FlagContent.js
Due: web-changed

Add site banner feature for global one time announcements to hylo users
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/mutations/siteBanners.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/SiteBanner.js
  apps/backend/api/services/Admin.js
  apps/backend/migrations/20260903150000_site_banners.js
  apps/backend/package.json
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/SiteBanners/SiteBanners.js
  apps/web/src/components/ViewHeader/ViewHeader.jsx
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/Management/Management.js
  apps/web/src/routes/Management/ManagementContextMenu.js
  apps/web/src/routes/Management/SiteBanners/SiteBanners.js
  apps/web/src/store/actions/siteBanners.js
  apps/web/src/store/constants.js
Due: backend-changed, web-changed

Add title to site banners
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/siteBanners.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/migrations/20260903150000_site_banners.js
  apps/web/src/components/SiteBanners/SiteBanners.js
  apps/web/src/routes/Management/SiteBanners/SiteBanners.js
  apps/web/src/store/actions/siteBanners.js
Due: backend-changed, web-changed

CHANGELOG
  apps/backend/CHANGELOG.md
  apps/web/CHANGELOG.md
Due: backend-changed, web-changed

Changelog update
  apps/backend/CHANGELOG.md
  apps/web/CHANGELOG.md
Due: backend-changed, web-changed

Changelog update to include admin post fulfillment and dark mode map fix
  apps/backend/CHANGELOG.md
  apps/web/CHANGELOG.md
Due: backend-changed, web-changed

Fix crash on staging
  apps/web/config/jest.config.js
  apps/web/src/server/postMetaTags.js
  packages/shared/package.json
Due: web-changed

Make flag reveals ephemeral and keep chat permanently obscured
  apps/web/src/components/PostCard/EventBody/EventBody.js
  apps/web/src/components/PostCard/PostBody/PostBody.js
  apps/web/src/components/PostCard/PostCard.jsx
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
  apps/web/src/routes/PostDetail/PostDetail.js
Due: web-changed

Style the site banner as a centered dialog over a scrim
  apps/web/src/components/SiteBanners/SiteBanners.js
  apps/web/src/store/actions/siteBanners.js
Due: web-changed

Keep pinned chips clear of the chat presence cluster on phones
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/ChatRoom/PinnedPostChips.jsx
Due: web-changed

Align the banner header equidistant from the card edges
  apps/web/src/components/SiteBanners/SiteBanners.js
Due: web-changed

Center the flag cover in the post viewer's content card
  apps/web/src/components/FlagBadge/index.js
  apps/web/src/components/PostCard/EventBody/EventBody.js
  apps/web/src/components/PostCard/PostBody/PostBody.js
  apps/web/src/routes/PostDetail/PostDetail.js
Due: web-changed

Let the nav drawer open from an edge swipe inside the chat stream
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Redesign the chat flag badge: red disc beside the content, reasons on hover
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/web/src/graphql/fragments/chatRoomPostFieldsFragment.js
  apps/web/src/graphql/fragments/postCardFieldsFragment.js
  apps/web/src/graphql/fragments/postFieldsFragment.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
  apps/web/src/store/models/Post.js
Due: backend-changed, web-changed

Wrap unbroken runs in post bodies and banner text
  apps/web/src/components/SiteBanners/SiteBanners.js
  apps/web/src/css/global/index.scss
Due: web-changed

Stack pinned chips under the presence cluster on phones
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/ChatRoom/PinnedPostChips.jsx
Due: web-changed

Slim the flag cover to a single bar
  apps/web/src/components/FlagBadge/index.js
Due: web-changed

Unify flagged-post treatment: shared badge, reasoned cover, sealed media
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/CardImageAttachments/CardImageAttachments.js
  apps/web/src/components/FlagBadge/index.js
  apps/web/src/components/PostCard/EventBody/EventBody.js
  apps/web/src/components/PostCard/PostBody/PostBody.js
  apps/web/src/components/PostCard/PostBody/PostBody.module.scss
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
  apps/web/src/graphql/fragments/chatRoomPostFieldsFragment.js
  apps/web/src/graphql/fragments/postCardFieldsFragment.js
  apps/web/src/graphql/fragments/postFieldsFragment.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
Due: web-changed

Tighten the banner dialog header and theme its action button
  apps/web/src/components/SiteBanners/SiteBanners.js
Due: web-changed

Give the banner title real headroom
  apps/web/src/components/SiteBanners/SiteBanners.js
Due: web-changed

Darken the group header pills further
  apps/web/src/components/GroupMenuHeader/GroupMenuHeader.jsx
Due: web-changed

Take the group header pills to black/80
  apps/web/src/components/GroupMenuHeader/GroupMenuHeader.jsx
Due: web-changed

Fix handling of drag and drop on global nav on mobile
  apps/web/src/components/ui/right-click-menu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

Show chat badge with number on single space views in context menu
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/GroupViewCard.jsx
  apps/web/src/store/models/GroupView.js
  apps/web/src/store/models/GroupView.test.js
  apps/web/src/util/viewUnreadBadges.test.js
Due: web-changed

Use the darkening token for header pills and the banner scrim
  apps/web/src/components/GroupMenuHeader/GroupMenuHeader.jsx
  apps/web/src/components/SiteBanners/SiteBanners.js
Due: web-changed

Ease the group header pills back to darkening/30
  apps/web/src/components/GroupMenuHeader/GroupMenuHeader.jsx
Due: web-changed

Fix e2e tests
  apps/backend/migrations/schema.sql
  apps/web/e2e/authenticated.auth-session.spec.js
  apps/web/src/components/SiteBanners/SiteBanners.js
  apps/web/src/routes/Management/SiteBanners/SiteBanners.js
Due: backend-changed, web-changed

Fix e2e
  apps/web/e2e/space-deeplink.spec.js
  apps/web/e2e/space-modal-title.spec.js
  apps/web/e2e/ui-regressions.spec.js
  apps/web/e2e/unauthenticated.routes.spec.js
  apps/web/e2e/verify-menu-changes.spec.js
  apps/web/src/components/StreamViewControls/StreamViewControls.js
  apps/web/src/routes/GroupDetail/GroupDetail.js
  apps/web/src/routes/JoinGroup/JoinGroup.js
  apps/web/src/routes/PublicLayoutRouter/PublicGroupDetail.jsx
  apps/web/src/store/middleware/graphqlMiddleware.js
  apps/web/src/store/middleware/graphqlMiddleware.test.js
Due: web-changed

Fix sandbox after site-banner addition
  apps/web/src/components/SiteBanners/SiteBanners.js
  apps/web/src/routes/Management/SiteBanners/SiteBanners.js
  apps/web/src/sandbox/handlers.js
  apps/web/src/sandbox/handlers.test.js
Due: web-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
