Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

CHANGELOG update
  apps/web/CHANGELOG.md
Due: web-changed

Revert "Remove focus from editor when touchmove scrolling on a mobile device"
  apps/web/src/components/HyloEditor/HyloEditor.js
Due: web-changed

Use legacy navigator behavior for React Navigation in mobile
  apps/mobile/ios/HyloReactNative.xcodeproj/project.pbxproj
  apps/mobile/ios/Podfile.lock
  apps/mobile/src/navigation/RootNavigator/RootNavigator.js
Due: mobile-changed

Stop creating a new DM from crashing the app
  apps/mobile/src/screens/Thread/Thread.js
  apps/mobile/src/screens/ThreadList/ThreadList.js
Due: mobile-changed

Getting ios building again for Tibet
  apps/mobile/ios/HyloReactNative.xcodeproj/project.pbxproj
Due: mobile-changed

Make sure memberships are available before trying to change groups
  apps/mobile/src/hooks/useHandleCurrentGroup.js
Due: mobile-changed

Fix comment digest emails
  apps/backend/api/models/comment/notifications.js
Due: backend-changed

Don't error out in sending digest emails when a user doesnt follow a chat room
  apps/backend/lib/group/digest2/personalizeData.js
Due: backend-changed

Update mobile README
  apps/mobile/README.md
Due: mobile-changed

Don't crash on GroupWelcome screen if user doesn't have memberships
  apps/mobile/src/screens/GroupWelcome/GroupWelcome.js
Due: mobile-changed

Added subscrptions debugging logs
  apps/mobile/package.json
  apps/mobile/src/urql/mobileSubscriptionExchange.js
  packages/hooks/useUnifiedSubscription.js
Due: mobile-changed

Remove bs cookie code from mobileSubscriptionsExchange; add extra debugging logs for subscriptions
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/makeSubscriptions.js
  apps/mobile/src/hooks/useHandleCurrentGroup.js
  apps/mobile/src/navigation/AuthRootNavigator.js
  apps/mobile/src/urql/mobileSubscriptionExchange.js
  apps/mobile/src/util/session.js
  packages/hooks/useUnifiedSubscription.js
Due: backend-changed, mobile-changed

debug output email to address
  apps/backend/worker.js
Due: backend-changed

refactor and add event send rsvp funcs
  apps/backend/api/graphql/mutations/event.js
  apps/backend/api/models/Post.js
  apps/backend/api/services/Email.js
Due: backend-changed

send event rsvp cancels on delete
  apps/backend/api/graphql/mutations/post.js
Due: backend-changed

refactor for ease
  apps/backend/api/models/EventInvitation.js
Due: backend-changed

send rsvp update emails
  apps/backend/api/models/event/mixin.js
  apps/backend/api/models/post/createPost.js
  apps/backend/api/models/post/updatePost.js
Due: backend-changed

fix update rsvp email on location only
  apps/backend/api/models/Post.js
  apps/backend/api/models/post/updatePost.js
Due: backend-changed

6.1.8 pre-release check; changelog updated
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  packages/hooks/useUnifiedSubscription.js
Due: mobile-changed

fix iCal bug for new date / location
  apps/backend/api/models/Post.js
Due: backend-changed

remove cruft include import
  apps/backend/api/models/event/mixin.js
Due: backend-changed

Add offline cache persistence for mobile app
  apps/mobile/.gitignore
  apps/mobile/index.js
  apps/mobile/ios/HyloReactNative.xcodeproj/project.pbxproj
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  packages/urql/makeUrqlClient.js
  yarn.lock
Due: mobile-changed

refactor away Post#deactivated finder
  apps/backend/api/models/Post.js
Due: backend-changed

Attempt to use cache for currentUser without causing auth problems
  apps/mobile/src/navigation/AuthRootNavigator.js
  packages/urql/updates/index.js
Due: mobile-changed

More error catching in worker
  apps/backend/worker.js
Due: backend-changed

Don't run sendUnsent forever, re-queue it if needed
  apps/backend/api/models/Notification.js
Due: backend-changed

Backend v6.1.14
  apps/backend/CHANGELOG.md
  apps/backend/package.json
Due: backend-changed

UI fixes to list of groups a post is sent to
  apps/web/src/components/GroupsList/GroupsList.js
  apps/web/src/components/PostCard/PostGroups/PostGroups.connector.js
  apps/web/src/components/PostCard/PostGroups/PostGroups.js
  apps/web/src/components/PostCard/PostGroups/PostGroups.module.scss
  apps/web/src/components/PostCard/PostGroups/index.js
Due: web-changed

Small spacing fix of post datetimes in post details header
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
Due: web-changed

Try to fix jump scroll issue in ios safari when chat box has focus
  apps/web/src/components/HyloEditor/HyloEditor.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.module.scss
Due: web-changed

Get is-ios class actually working
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

refactor sending event response emails
  apps/backend/api/graphql/mutations/event.js
  apps/backend/api/graphql/mutations/post.js
  apps/backend/api/models/Post.js
Due: backend-changed

remove stray async
  apps/backend/api/graphql/mutations/post.js
Due: backend-changed

Initial AI attempt at native chat room UI
  apps/mobile/src/components/ChatMessage/ChatMessage.js
  apps/mobile/src/components/ChatMessage/index.js
  apps/mobile/src/components/ChatMessageInput/ChatMessageInput.js
  apps/mobile/src/components/ChatMessageInput/index.js
  apps/mobile/src/navigation/HomeNavigator.js
  apps/mobile/src/screens/ChatRoom/ChatRoom.js
  apps/mobile/src/screens/ChatRoom/index.js
Due: mobile-changed

Invert chat list and correctly handle scrolling and paging
  apps/mobile/src/screens/ChatRoom/ChatRoom.js
Due: mobile-changed

Add scroll to bottom button
  apps/mobile/src/screens/ChatRoom/ChatRoom.js
Due: mobile-changed

Add avatar and exact timestamps
  apps/mobile/src/components/ChatMessage/ChatMessage.js
Due: mobile-changed

Show floating day marker
  apps/mobile/src/screens/ChatRoom/ChatRoom.js
Due: mobile-changed

Show emojis on chat posts
  apps/mobile/src/components/ChatMessage/ChatMessage.js
Due: mobile-changed

Show replies, tweak styles
  apps/mobile/src/components/ChatMessage/ChatMessage.js
  apps/mobile/src/components/EmojiRow/EmojiRow.js
Due: mobile-changed
