Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Clean up some comment related test issues
  apps/backend/api/graphql/mutations/comment.js
  apps/backend/api/graphql/mutations/comment.test.js
  apps/backend/api/models/Comment.js
Due: backend-changed

Removed post assertion in createGroup test, since that doesnt happen in this specific method
  apps/backend/api/graphql/mutations/group.test.js
Due: backend-changed

Remove legacy OneSignal tests
  apps/backend/test/unit/services/OneSignal.test.js
Due: backend-changed

Strip more facebook code out of backend
  apps/backend/config/passport.js
  apps/backend/package.json
  apps/backend/test/setup/core.js
  apps/backend/test/unit/models/User.test.js
  apps/backend/test/unit/services/FullTextSearch.test.js
  yarn.lock
Due: backend-changed

Use dummy env variable for email stuff in test setup
  apps/backend/test/setup/core.js
Due: backend-changed

Clean up PushNotif tests
  apps/backend/migrations/schema.sql
  apps/backend/test/unit/models/PushNotification.test.js
Due: backend-changed

Removed more facebook login code
  apps/backend/test/unit/controllers/SessionController.test.js
Due: backend-changed

Clean up tests for flaggedItem and Comments
  apps/backend/api/models/FlaggedItem.js
  apps/backend/api/services/Frontend.js
  apps/backend/test/unit/models/Comment.test.js
Due: backend-changed

Fix project and comment tests
  apps/backend/api/graphql/mutations/project.test.js
  apps/backend/api/models/comment/updateComment.test.js
Due: backend-changed

Clean up context widget tests
  apps/backend/api/models/util/contextWidgets.js
  apps/backend/api/models/util/contextWidgets.test.js
  apps/web/src/util/contextWidgets.js
Due: backend-changed, web-changed

Switch test cases to viewChat
  apps/backend/api/models/util/contextWidgets.test.js
  apps/backend/migrations/schema.sql
  apps/backend/test/setup/core.js
Due: backend-changed

fix proposal vote tests
  apps/backend/api/graphql/mutations/post.test.js
  apps/backend/api/models/Post.js
Due: backend-changed

Fix peer-to-peer group relly tests
  apps/backend/api/graphql/mutations/group.js
  apps/backend/api/graphql/mutations/group.test.js
  apps/backend/api/models/GroupRelationshipInvite.js
  apps/backend/migrations/schema.sql
Due: backend-changed

Another notif cleanup
  apps/backend/test/unit/models/comment/notifications.test.js
Due: backend-changed

Review fixes
  apps/backend/test/unit/models/Group.test.js
Due: backend-changed

Port createGroup test fixes
  apps/backend/api/graphql/mutations/group.test.js
Due: backend-changed

Remove passport-facebook references
  apps/backend/config/passport.js
Due: backend-changed

Add chevron to currency dropdown
  apps/web/src/components/FundingRoundEditor/FundingRoundEditor.jsx
Due: web-changed

Add funding round notifications
  apps/backend/api/graphql/mutations/fundingRound.js
  apps/backend/api/models/Activity.js
  apps/backend/api/models/FundingRound.js
  apps/backend/api/models/FundingRound/notifications.js
  apps/backend/api/models/Notification.js
  apps/backend/api/models/Post.js
  apps/backend/api/models/PushNotification.js
  apps/backend/api/models/post/createPost.js
  apps/backend/api/services/Email.js
  apps/backend/api/services/Frontend.js
  apps/backend/cron.js
  apps/backend/lib/group/digest2/formatData.js
  apps/backend/lib/group/digest2/util.js
  apps/backend/lib/i18n/en.js
  apps/backend/lib/i18n/es.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: backend-changed, web-changed

Hide other post types in funding round chat room
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

TagFollow doesnt seem to exist, so skip the tests
  apps/backend/test/unit/models/TagFollow.test.js
Due: backend-changed

silence pushNotif testing tests
  apps/backend/test/setup/core.js
  apps/backend/test/unit/models/PushNotification.test.js
  apps/backend/test/unit/models/TagFollow.test.js
Due: backend-changed

Silence pushAnnouncement test and ensure push notif variable has a test default
  apps/backend/test/setup/core.js
  apps/backend/test/unit/models/Notification.test.js
Due: backend-changed

Stripe mutations tests all passing
  apps/backend/api/graphql/mutations/stripe.js
  apps/backend/api/graphql/mutations/stripe.test.js
Due: backend-changed

Improve wording of discussion phase
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/FundingRoundHome/RoundPhaseStatus.jsx
Due: web-changed

Allow for images in funding round description and criteria fields
  apps/backend/api/models/FundingRound.js
  apps/backend/lib/uploader/types.js
  packages/shared/src/TextHelpers.js
Due: backend-changed

User who creates a funding round is added to the round
  apps/backend/api/graphql/mutations/fundingRound.js
  apps/backend/api/models/FundingRound.js
Due: backend-changed

Make sure create modal can appear on any funding round page
  apps/web/src/routes/FundingRoundHome/FundingRoundHome.jsx
Due: web-changed

Content access mutation tests passing
  apps/backend/api/graphql/mutations/contentAccess.js
  apps/backend/api/graphql/mutations/contentAccess.test.js
  apps/backend/api/models/ContentAccess.js
  apps/backend/migrations/20251020160838_paid-content-stripe.js
  apps/backend/migrations/schema.sql
Due: backend-changed

Tell users who join during voting phase that they cannot vote
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/FundingRound.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/FundingRoundHome/RoundPhaseStatus.jsx
  apps/web/src/routes/FundingRounds/FundingRounds.store.js
Due: backend-changed, web-changed

Add confirm to Unpublish button
  apps/web/src/components/FundingRoundEditor/FundingRoundEditor.jsx
Due: web-changed

Make sure non stewards cannot edit or manage a round
  apps/web/src/routes/FundingRoundHome/FundingRoundHome.jsx
Due: web-changed

In rounds list Join Round becomes View Round after voting starts
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/FundingRoundHome/RoundPhaseStatus.jsx
  apps/web/src/routes/FundingRounds/FundingRounds.jsx
Due: web-changed

Mkake total tokens required for a funding round
  apps/web/src/components/FundingRoundEditor/FundingRoundEditor.jsx
Due: web-changed

Fix searching for topics
  apps/backend/api/services/Search.js
Due: backend-changed

Switch connect access to track granting group and permissioned group separately, instead of implicitly assuming they are the same
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/contentAccess.js
  apps/backend/api/graphql/mutations/contentAccess.test.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/models/ContentAccess.js
  apps/backend/api/models/StripeProduct.js
  apps/backend/migrations/20251020160838_paid-content-stripe.js
  apps/backend/migrations/schema.sql
  docs/CONTENT_ACCESS_SUMMARY.md
Due: backend-changed

Fix funding round notifications appearance on front-end
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Activity.js
  apps/backend/api/models/FundingRound.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationsDropdown.store.js
  apps/web/src/routes/FundingRoundHome/phaseUtils.js
  apps/web/src/store/models/Activity.js
  packages/presenters/src/NotificationPresenter.js
Due: backend-changed, web-changed

Sync schema with queries
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/schema.graphql
Due: backend-changed

Review cleanup
  apps/backend/api/models/util/contextWidgets.js
Due: backend-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
