Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Fix error hovering over contact buttons on user profile
  apps/web/src/routes/MemberProfile/MemberProfile.js
Due: web-changed

Don't show All Topics header in public stream
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/Navigation.js
Due: web-changed

Fixing messaging someone from profile link
  apps/web/src/routes/Messages/Messages.js
Due: web-changed

Fix and translate block user confirm message
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/MemberProfile/MemberProfile.js
Due: web-changed

Fix flag clickthroughs on events
  apps/web/src/components/PostCard/EventBody/EventBody.js
  apps/web/src/components/PostCard/PostCard.jsx
  apps/web/src/components/PostCard/PostCard.module.scss
Due: web-changed

Remove extra mooo :)
  apps/web/src/routes/PublicLayoutRouter/PublicGroupDetail.jsx
Due: web-changed

Group, user, chat and container widgets confirmed added
  apps/web/src/routes/AllView/AllView.jsx
  apps/web/src/routes/GroupSettings/CustomViewsTab/CustomViewsTab.js
  apps/web/src/util/contextWidgets.js
  apps/web/src/util/navigation.js
Due: web-changed

Fix showing group welcome modal
  apps/web/src/routes/GroupWelcomeModal/GroupWelcomeModal.store.js
Due: web-changed

Switch string literals to faux constants
  apps/web/src/routes/AllView/AllView.jsx
  apps/web/src/util/index.js
Due: web-changed

Fix tooltips on post edit and comment timestamps
  apps/web/src/components/PostCard/PostDetails/PostDetails.js
  apps/web/src/components/PostCard/PostDetails/PostDetails.module.scss
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.jsx
Due: web-changed

Confirm custom views can be created from the add widget view
  apps/backend/api/models/ContextWidget.js
  apps/web/src/routes/AllView/AllView.jsx
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/Navigation.js
  apps/web/src/util/contextWidgets.js
Due: backend-changed, web-changed

Ensure externalLink custom views navigate correctly in context menu
  apps/web/src/routes/AllView/AllView.jsx
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/MenuLink/MenuLink.jsx
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/Navigation.js
Due: web-changed

Update backend to v5.11.0
  apps/backend/CHANGELOG.md
  apps/backend/package.json
Due: backend-changed

Update front-end to v5.11.0
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: web-changed

Updates to app.json
  apps/backend/app.json
  apps/web/app.json
Due: backend-changed, web-changed

Fix display of lists in posts
  apps/web/src/components/PostCard/PostDetails/PostDetails.module.scss
Due: web-changed

Add theme provider that switches theme to light or dark
  apps/web/src/components/ThemeProvider/index.jsx
  apps/web/src/components/ThemeProvider/useTheme.js
  apps/web/src/css/global/index.scss
  apps/web/src/router/index.js
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/NavLink/NavLink.module.scss
Due: web-changed

Remove bootstrap and start tweaking styles
  apps/web/package.json
  apps/web/src/css/global/index.scss
  apps/web/src/css/typography.scss
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Context nav menu never collapses/shrinks
  apps/web/package.json
  apps/web/src/components/PostCard/PostBody/PostBody.module.scss
  apps/web/src/components/PostCard/PostGroups/PostGroups.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.module.scss
  apps/web/src/css/global/_sass_resources.scss
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.module.scss
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/NavLink/NavLink.js
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/NavLink/NavLink.module.scss
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/Navigation.js
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/Navigation.module.scss
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/TopicNavigation/TopicNavigation.connector.js
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/TopicNavigation/TopicNavigation.js
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/TopicNavigation/TopicNavigation.module.scss
  apps/web/src/routes/Events/Events.js
  apps/web/src/routes/MapExplorer/MapDrawer/MapDrawer.module.scss
  apps/web/src/routes/MapExplorer/MapExplorer.js
  apps/web/src/routes/MapExplorer/MapExplorer.module.scss
Due: web-changed

Fix cron jobs on backend
  package.json
Due: none

Remove console.log
  apps/backend/lib/group/digest2/personalizeData.js
Due: backend-changed

Try to fix production by going back to older sails
  apps/backend/package.json
  yarn.lock
Due: backend-changed

chore(mobile): Convert Messages to URQL (WIP)
  apps/mobile/src/components/MessageInput/MessageInput.connector.js
  apps/mobile/src/components/MessageInput/MessageInput.js
  apps/mobile/src/components/MessageInput/MessageInput.store.js
  apps/mobile/src/graphql/mutations/createMessageMutation.js
  apps/mobile/src/hooks/useHasResponsibility.js
  apps/mobile/src/screens/NewMessage/NewMessage.js
  apps/mobile/src/screens/NewMessage/NewMessage.store.js
  apps/mobile/src/screens/Thread/Thread.js
  apps/mobile/src/store/actions/fetchRecentContacts.js
  apps/mobile/src/store/constants.js
  apps/mobile/src/store/reducers/index.js
  apps/mobile/src/urql-shared/keys.js
Due: mobile-changed

Added WidgetIconResolver
  apps/web/src/components/WidgetIconResolver/WidgetIconResolver.jsx
  apps/web/src/components/WidgetIconResolver/index.js
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/Navigation.js
  apps/web/src/util/contextWidgets.js
Due: web-changed

Try to fix logging in on production
  apps/web/vite.config.js
Due: web-changed

Try allowCredentials: true
  apps/backend/app.json
  apps/backend/config/cors.js
Due: backend-changed

Try credentials = include
  apps/backend/config/session.js
  apps/web/scripts/start.js
  apps/web/src/server/redirectToApp.js
  apps/web/src/store/middleware/apiMiddleware.js
  apps/web/vite.config.js
Due: backend-changed, web-changed

Try more allowed origins
  apps/backend/config/cors.js
Due: backend-changed

Log request headers
  apps/backend/config/http.js
Due: backend-changed

Add ask-and-offer view to routing
  apps/web/src/components/GroupBanner/GroupBanner.jsx
  apps/web/src/components/StreamViewControls/StreamViewControls.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/Navigation.js
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

Fix group graphql changes
  apps/mobile/src/graphql/fragments/groupFieldsFragment.js
  apps/web/src/graphql/fragments/groupFieldsFragment.js
Due: web-changed, mobile-changed

Use correct url for about widget
  apps/web/src/util/navigation.js
Due: web-changed

Add rules for auto-adding widgets to the context menu
  apps/backend/api/graphql/mutations/group.js
  apps/backend/api/models/ContextWidget.js
  apps/backend/api/models/Group.js
  apps/backend/api/models/Post.js
  apps/backend/api/models/post/createPost.js
  apps/backend/api/models/post/updatePost.js
  apps/backend/test/unit/models/Group.test.js
  apps/web/src/util/navigation.js
Due: backend-changed, web-changed

Fix logging in on production
  apps/web/src/client/websockets.js
Due: web-changed

Remove dup case
  apps/web/src/components/WidgetIconResolver/WidgetIconResolver.jsx
Due: web-changed

Allow widgets to be directly added to specific parts of the menu
  apps/web/src/routes/AllView/AllView.jsx
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/Navigation.js
  apps/web/src/util/contextWidgets.js
Due: web-changed

Improve styling of chat rooms
  apps/web/src/components/HyloEditor/HyloEditor.module.scss
  apps/web/src/components/PostCard/PostCard.jsx
  apps/web/src/components/PostCard/PostCard.module.scss
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/ChatRoom/ChatRoom.module.scss
Due: web-changed

Use new post dialog when opening post in chat room instead of drawer
  apps/web/src/components/PostCard/PostHeader/PostHeader.module.scss
  apps/web/src/components/PostDialog/PostDialog.jsx
  apps/web/src/components/PostDialog/index.js
  apps/web/src/components/ui/dialog.jsx
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.module.scss
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.js
  apps/web/src/routes/PostDetail/Comments/Comments.module.scss
  apps/web/src/routes/PostDetail/PostDetail.js
  apps/web/src/routes/PostDetail/PostDetail.module.scss
  apps/web/vite.config.js
Due: web-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
