Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Fix hot module reloading for toggle component
  apps/web/src/components/ui/toggle-group.tsx
  apps/web/src/components/ui/toggle-variants.tsx
  apps/web/src/components/ui/toggle.tsx
  apps/web/src/routes/Themes/Themes.js
Due: web-changed

Improve dragging detection on mobile
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

Backend v6.1.10
  apps/backend/CHANGELOG.md
  apps/backend/package.json
Due: backend-changed

Web v6.1.10
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: web-changed

Tweak presses of pinned groups
  apps/web/CHANGELOG.md
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

Temporarily comment out group subscription publishing because its broken
  apps/backend/api/graphql/mutations/group.js
Due: backend-changed

Fix answering join questions in dark mode
  apps/web/src/routes/GroupWelcomeModal/GroupWelcomeModal.js
  apps/web/src/routes/GroupWelcomeModal/GroupWelcomeModal.module.scss
Due: web-changed

Cleaned up GlobalNav styles, replaced BadgedIcons with Lucide
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

Color tuning for all themes
  apps/web/src/themes/index.js
Due: web-changed

Fixed desert dark mode bg clor
  apps/web/src/themes/index.js
Due: web-changed

Fixed color of divider between pinned groups and all groups
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

Fix missing import
  apps/backend/api/graphql/mutations/group.js
Due: backend-changed

Correctly paginate recentActivity queries on the member profile views of both mobile and web
  apps/mobile/src/screens/MemberProfile/MemberStream/MemberStream.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/MemberProfile/RecentActivity/RecentActivity.connector.js
  apps/web/src/routes/MemberProfile/RecentActivity/RecentActivity.js
  apps/web/src/routes/MemberProfile/RecentActivity/RecentActivity.store.js
Due: web-changed, mobile-changed

Review tweaks
  apps/mobile/src/services/mixpanel.js
  apps/web/src/components/AnalyticsWrapper/AnalyticsWrapper.js
  apps/web/src/components/AnalyticsWrapper/index.js
Due: web-changed, mobile-changed

Remove deprecated cookie components
  apps/web/src/components/HyloCookieConsent/HyloCookieConsent.js
  apps/web/src/components/HyloCookieConsent/HyloCookieConsent.module.scss
  apps/web/src/components/HyloCookieConsent/index.js
Due: web-changed

Remove unused cookie hook
  apps/web/src/hooks/useCookieConsentStatus.js
Due: web-changed

Update mixpanel in backend directly for user-consent
  apps/backend/api/controllers/CookieConsentController.js
Due: backend-changed

Ensure users cant be stranded on fallback screen
  apps/mobile/src/screens/NoContextFallbackScreen/NoContextFallbackScreen.js
Due: mobile-changed

Show last active at date in exported member data
  apps/backend/api/services/ExportService.js
Due: backend-changed

Lint issues
  apps/web/src/components/CookieConsentLinker/index.js
  apps/web/src/contexts/CookieConsentContext.js
Due: web-changed

Initial working desktop app
  apps/desktop/.gitignore
  apps/desktop/LICENSE
  apps/desktop/README.md
  apps/desktop/assets/icon.icns
  apps/desktop/forge.config.js
  apps/desktop/icon.iconset/hylo-logo-1024x1024.png
  apps/desktop/icon.iconset/icon_1024x1024.png
  apps/desktop/icon.iconset/icon_1024x1024@2x.png
  apps/desktop/icon.iconset/icon_128x128.png
  apps/desktop/icon.iconset/icon_128x128@2x.png
  apps/desktop/icon.iconset/icon_16x16.png
  apps/desktop/icon.iconset/icon_16x16@2x.png
  apps/desktop/icon.iconset/icon_256x256.png
  apps/desktop/icon.iconset/icon_256x256@2x.png
  apps/desktop/icon.iconset/icon_32x32.png
  apps/desktop/icon.iconset/icon_32x32@2x.png
  apps/desktop/icon.iconset/icon_512x512.png
  apps/desktop/icon.iconset/icon_512x512@2x.png
  apps/desktop/main.js
  apps/desktop/package-lock.json
  apps/desktop/package.json
  apps/desktop/preload.js
  apps/desktop/yarn.lock
Due: none

Sync formatDatePair functions in TextHelpers and DateTimeHelpers; fix packages test config to allow TS files; Replace use of TextHelpers.formatDatePair
  apps/backend/api/graphql/mutations/event.js
  apps/backend/api/models/Post.js
  apps/backend/api/models/comment/notifications.js
  apps/mobile/src/components/ActionCompletionSection/ActionCompletionSection.js
  apps/mobile/src/components/PostCard/PostBody/PostBody.js
  apps/mobile/src/screens/TrackDetail/TrackDetail.js
  apps/mobile/src/screens/UploadAction/UploadAction.js
  apps/web/src/components/PostCard/EventBody/EventBody.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
  package.json
  packages/shared/jest.config.js
  packages/shared/package.json
  packages/shared/src/DateTimeHelpers/DateTimeHelpers.d.ts
  packages/shared/src/DateTimeHelpers/DateTimeHelpers.test.ts
  packages/shared/src/DateTimeHelpers/DateTimeHelpers.ts
  packages/shared/src/DateTimeHelpers/__snapshots__/DateTimeHelpers.test.ts.snap
  packages/shared/tsconfig.json
  yarn.lock
Due: backend-changed, web-changed, mobile-changed

Remove formatDatePair from TextHelpers
  packages/shared/src/TextHelpers.js
  packages/shared/src/TextHelpers.test.js
Due: none

Remove unused imports
  apps/web/src/components/Calendar/body/day/calendar-body-day-calendar.tsx
Due: web-changed

Shift positioning of cookie preferences panel
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/CookiePreferencesPanel/CookiePreferencesPanel.js
Due: web-changed

Fix hooks violation
  apps/mobile/src/components/CommentEditor/CommentEditor.js
  apps/mobile/src/hooks/useReactOnEntity.js
  apps/mobile/src/screens/CreateGroup/CreateGroupReview.js
  apps/mobile/src/screens/PostDetails/PostDetails.js
  apps/mobile/src/screens/Signup/Signup.js
  apps/mobile/src/screens/Signup/SignupEmailValidation/SignupEmailValidation.js
  apps/mobile/src/screens/Signup/SignupRegistration/SignupRegistration.js
  apps/mobile/src/screens/Signup/SignupUploadAvatar/SignupUploadAvatar.js
  apps/mobile/src/screens/UploadAction/UploadAction.js
  apps/mobile/src/services/mixpanel.js
Due: mobile-changed

Update to backend v6.1.11
  apps/backend/CHANGELOG.md
  apps/backend/package.json
Due: backend-changed

Linting
  apps/web/src/routes/MemberProfile/MemberProfile.js
  apps/web/src/routes/OAuth/OAuthLayoutRouter.js
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.jsx
Due: web-changed

mobile === 6.1.5
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Draft native chatroom
  apps/mobile/src/screens/ChatRoomNative/ChatRoomNative.js
  apps/mobile/src/screens/ChatRoomNative/index.js
  packages/graphql/fragments/chatPostsQuerySetFragment.js
  packages/graphql/fragments/topicFollowFieldsFragment.js
  packages/graphql/mutations/updateTopicFollowMutation.js
  packages/graphql/queries/chatPostsQuery.js
  packages/graphql/queries/topicFollowQuery.js
  packages/hooks/useChatPosts.js
  packages/hooks/useTopicFollow.js
Due: mobile-changed

Fix issue where new group members can't navigate away from welcome page
  apps/web/src/store/actions/fetchAllMyGroupsChatRooms.js
Due: web-changed

Only fetch all membership chat rooms when creating a non chat post
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Final cleanup of copy and design of Cookie panel
  apps/web/src/components/CookiePreferencesPanel/CookiePreferencesPanel.js
Due: web-changed

Remove hover scaling that made it hard to select privay settings
  apps/web/src/routes/GroupSettings/PrivacySettingsTab/PrivacySettingsTab.jsx
Due: web-changed

Web v6.1.11 - GDPR!
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: web-changed

Lint
  apps/backend/api/graphql/mutations/event.js
Due: backend-changed

Show pinned groups at the top of the nav menu with a divider below them
  apps/mobile/src/components/ContextSwitchMenu/ContextSwitchMenu.js
  packages/graphql/fragments/membershipFieldsFragment.js
Due: mobile-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
