Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

updated snapshots
  apps/web/src/components/Membership/__snapshots__/Membership.test.js.snap
  apps/web/src/components/PostCard/PostHeader/__snapshots__/PostHeader.connector.test.js.snap
  apps/web/src/routes/MapExplorer/__snapshots__/MapExplorer.store.test.js.snap
  apps/web/src/routes/NonAuthLayoutRouter/Signup/__snapshots__/Signup.store.test.js.snap
  apps/web/src/routes/UserSettings/__snapshots__/UserSettings.store.test.js.snap
  apps/web/src/routes/WelcomeWizardRouter/AddLocation/__snapshots__/AddLocation.connector.test.js.snap
  apps/web/src/routes/WelcomeWizardRouter/UploadPhoto/__snapshots__/UploadPhoto.connector.test.js.snap
  apps/web/src/store/actions/__snapshots__/fetchPosts.test.js.snap
  apps/web/src/store/presenters/__snapshots__/presentPost.test.js.snap
Due: web-changed

updated tests
  apps/web/src/components/Affiliation/Affiliation.test.js
  apps/web/src/components/CommentCard/CommentCard.test.js
  apps/web/src/components/Membership/Membership.test.js
  apps/web/src/components/PostCard/PostFooter/PostFooter.test.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.connector.test.js
  apps/web/src/components/TagInput/TagInput.test.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.test.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationsDropdown.test.js
  apps/web/src/routes/FullPageModal/FullPageModal.test.js
  apps/web/src/routes/GroupSettings/GroupSettings.test.js
  apps/web/src/routes/GroupSidebar/GroupSidebar.test.js
  apps/web/src/routes/Messages/Messages.test.js
Due: web-changed

Use new save button for all group settings pages
  apps/web/src/components/GroupsSelector/GroupsSelector.js
  apps/web/src/components/GroupsSelector/GroupsSelector.module.scss
  apps/web/src/components/TagInput/TagInput.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/GroupSettings/AgreementsTab/AgreementsTab.js
  apps/web/src/routes/GroupSettings/GroupSettingsTab/GroupSettingsTab.js
  apps/web/src/routes/GroupSettings/PrivacySettingsTab/PrivacySettingsTab.js
  apps/web/src/routes/GroupSettings/PrivacySettingsTab/PrivacySettingsTab.module.scss
  apps/web/src/routes/GroupSettings/SaveButton.jsx
  apps/web/src/routes/GroupSettings/WelcomePageTab/WelcomePageTab.js
Due: web-changed

Remove react-cookie-consent because it was breaking loading email links in safari 🤪
  apps/web/package.json
  apps/web/src/components/HyloCookieConsent/HyloCookieConsent.js
  yarn.lock
Due: web-changed

Fix issue that allowed (sort of) viewing chat rooms in groups you were not a member of
  apps/web/src/components/NotFound/index.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Modified light mode theme to provide a bit more contrast
  apps/web/src/css/global/index.scss
Due: web-changed

Made the search input more visibleand used the right theme color
  apps/web/src/components/ViewHeader/ViewHeader.jsx
Due: web-changed

Not done but big improvements to map
  apps/web/src/components/Map/Map.js
  apps/web/src/components/PostCard/PostBody/PostBody.js
  apps/web/src/components/PostCard/PostCard.jsx
  apps/web/src/components/PostCard/PostFooter/PostFooter.js
  apps/web/src/routes/MapExplorer/MapDrawer/MapDrawer.js
Due: web-changed

Made postcard hover effect more substantial
  apps/web/src/components/PostCard/PostCard.jsx
Due: web-changed

Fix styling of signup button
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Signup.module.scss
Due: web-changed

Dont load platform agreements n page load, only when flagging content
  apps/web/src/components/FlagGroupContent/FlagGroupContent.js
  apps/web/src/components/FlagGroupContent/FlagGroupContent.module.scss
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Use new email template for moderation action emails
  apps/backend/api/models/ModerationAction.js
  apps/backend/api/services/Email.js
Due: backend-changed

Support website url as the primary URL
  apps/backend/api/models/Group.js
Due: backend-changed

chore(mobile): Fixes #403 and #404. Fixes issue with default group avatars being blank. Small code-level linting tweaks.
  apps/mobile/src/components/ContextSwitchMenu/ContextSwitchMenu.js
  apps/mobile/src/components/DrawerMenu/DrawerMenu.js
  apps/mobile/src/components/GroupMenuHeader/GroupMenuHeader.js
  apps/mobile/src/navigation/RootNavigator/RootNavigator.js
  apps/mobile/src/screens/PostEditor/PostEditor.js
  apps/mobile/src/screens/PostEditor/PostEditor.styles.js
  apps/mobile/src/screens/PostEditor/TypeSelector.js
  packages/hooks/useStaticContexts.js
  packages/presenters/GroupPresenter.js
Due: mobile-changed

Improvements to post editor
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/PostEditor/PostEditor.module.scss
  apps/web/src/components/ui/datetimepicker.jsx
Due: web-changed

Improvements to privacy settings tab UI
  apps/web/src/routes/GroupSettings/PrivacySettingsTab/PrivacySettingsTab.js
  apps/web/src/routes/GroupSettings/PrivacySettingsTab/PrivacySettingsTab.jsx
Due: web-changed

Correctly set header when viewing a post not in a modal
  apps/web/src/hooks/useRouteParams/index.js
Due: web-changed

Fix comment form input layout again
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.module.scss
Due: web-changed

feta(mobile): Sorts AllViews alphabetically, resolves #406
  apps/mobile/src/screens/AllViews/AllViews.js
Due: mobile-changed

Migration to automatically transition each group's most recent pinned post into its welcome page content
  apps/backend/migrations/20250313172703_transition-pinned-posts-to-welcome-page.js
Due: backend-changed

chore(mobile): Updates useConfirmAlert API to be more clear
  apps/mobile/src/hooks/useConfirmAlert.js
  apps/mobile/src/hooks/useHandleCurrentGroup.js
  apps/mobile/src/navigation/headers/ModalHeader.js
  apps/mobile/src/screens/CreateGroup/CreateGroup.js
  apps/mobile/src/screens/MemberProfile/MemberDetails/MemberDetails.js
  apps/mobile/src/screens/NewMessage/NewMessage.js
  apps/mobile/src/screens/PostEditor/PostEditor.js
  apps/mobile/src/screens/Signup/SignupRegistration/SignupRegistration.js
Due: mobile-changed

chore(presenters): Linting GroupPresenter#getShouldWelcomeResolver for clarity
  packages/presenters/GroupPresenter.js
Due: none

chore(mobile): Fixes loading state issue with ContextSwitchMenu when currentUser is temporarily null
  apps/mobile/src/components/ContextSwitchMenu/ContextSwitchMenu.js
Due: mobile-changed

chore(mobile): De-couples currentUser loading for staticContexts from groups that don't need it to reduce re-renders and state issues
  packages/hooks/useGroup.js
Due: none

chore(mobile): Fixes recently introduce bug in getContextWidgetsResolver
  packages/presenters/GroupPresenter.js
Due: none

chore(mobile): Further clears-up useConfirmAlert usage
  apps/mobile/src/hooks/useConfirmAlert.js
  apps/mobile/src/hooks/useHandleCurrentGroup.js
  apps/mobile/src/screens/MemberProfile/MemberDetails/MemberDetails.js
  apps/mobile/src/screens/Signup/SignupRegistration/SignupRegistration.js
Due: mobile-changed

chore(mobile): Fixes recent bug with static context loading
  packages/hooks/useGroup.js
Due: none

Fix comment digest emails
  apps/backend/api/models/comment/notifications.js
Due: backend-changed

chore(presenters): Cleans up getShouldWelcomeResolver logic
  packages/presenters/GroupPresenter.js
Due: none

Don't have text overflow chat box on mobile
  apps/web/src/components/HyloEditor/HyloEditor.js
  apps/web/src/components/HyloEditor/HyloEditorMenuBar.js
Due: web-changed

Oops missed a part of last commit
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Update new hylo message
  apps/web/src/components/GlobalAlert/GlobalAlert.jsx
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Translate new hylo message
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Show new message to every person joining hylo before 3/16/2025
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Show Group Welcome Page, integrated into GroupWelcomeLanding; update lastViewedAt correctly when GroupWelcomeLanding is completed
  apps/backend/api/graphql/schema.graphql
  apps/mobile/src/screens/GroupWelcomeFlow/GroupWelcomeLanding.js
  packages/presenters/GroupPresenter.js
Due: backend-changed, mobile-changed

Many fixes to user settings, and adding view headers and many translations
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/Affiliation/Affiliation.js
  apps/web/src/components/Affiliation/Affiliation.module.scss
  apps/web/src/components/Membership/Membership.js
  apps/web/src/components/Membership/Membership.module.scss
  apps/web/src/components/ModalDialog/ModalDialog.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
  apps/web/src/components/ViewHeader/ViewHeader.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/LocaleDropdown/LocaleDropdown.js
  apps/web/src/routes/GroupDetail/GroupDetail.js
  apps/web/src/routes/Members/Members.js
  apps/web/src/routes/Stream/Stream.js
  apps/web/src/routes/UserSettings/AccountSettingsTab/AccountSettingsTab.js
  apps/web/src/routes/UserSettings/BlockedUsersTab/BlockedUsersTab.js
  apps/web/src/routes/UserSettings/EditProfileTab/EditProfileTab.js
  apps/web/src/routes/UserSettings/LocaleTab/LocaleTab.jsx
  apps/web/src/routes/UserSettings/ManageInvitesTab/ManageInvitesTab.connector.js
  apps/web/src/routes/UserSettings/ManageInvitesTab/ManageInvitesTab.js
  apps/web/src/routes/UserSettings/ManageInvitesTab/index.js
  apps/web/src/routes/UserSettings/SavedSearchesTab/SavedSearchesTab.js
  apps/web/src/routes/UserSettings/UserGroupsTab/UserGroupsTab.connector.js
  apps/web/src/routes/UserSettings/UserGroupsTab/UserGroupsTab.js
  apps/web/src/routes/UserSettings/UserGroupsTab/UserGroupsTab.module.scss
  apps/web/src/routes/UserSettings/UserGroupsTab/index.js
  apps/web/src/util/locale.js
  packages/presenters/ContextWidgetPresenter.js
Due: web-changed, mobile-changed

Fix bug switching groups
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Fix search and search tests
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/Search/Search.js
  apps/web/src/routes/Search/Search.test.js
Due: web-changed

Modified dropdown button and event body to use new theme
  apps/web/src/components/DropdownButton/DropdownButton.js
  apps/web/src/components/PostCard/EventBody/EventBody.js
Due: web-changed

Made width of dropdown independent of parent width
  apps/web/src/components/DropdownButton/DropdownButton.js
Due: web-changed
