Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Perf: Aggressive optimizations - parallelized APIs and optimistic auth
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/RootRouter/RootRouter.js
Due: web-changed

Fix: ESLint indentation and spacing errors
  apps/web/src/hooks/usePrefetchChatRoom.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Perf: Optimistic user data rendering - eliminate blocking loads
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Fix: ESLint indentation in detail column Routes
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Clean up stripe account connection
  apps/backend/api/controllers/StripeController.js
  apps/backend/api/graphql/mutations/stripe.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/services/StripeService.js
  apps/web/src/routes/GroupSettings/PaidContentTab/PaidContentTab.js
  apps/web/src/routes/GroupSettings/PaidContentTab/PaidContentTab.store.js
Due: backend-changed, web-changed

Fix: Prevent NotFound flash during optimistic rendering
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Allow offers to be created; display existing offerings; start of validation for group paywall toggle
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/stripe.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/StripeProduct.js
  apps/web/src/routes/GroupSettings/PaidContentTab/PaidContentTab.js
  apps/web/src/routes/GroupSettings/PaidContentTab/PaidContentTab.store.js
Due: backend-changed, web-changed

Try to fix memory leaks
  apps/backend/MEMORY_LEAK_ANALYSIS.md
  apps/backend/api/graphql/makeSubscriptions.js
  apps/backend/api/services/RedisClient.js
  apps/backend/api/services/RedisPubSub.js
  apps/backend/api/services/Websockets.js
  apps/backend/lib/util/queryMonitor.js
  apps/backend/worker.js
Due: backend-changed

Make sure to load latest comments when viewing a post
  apps/mobile/src/components/Comments/Comments.js
Due: mobile-changed

Fix: Revert optimistic user data rendering - caused performance regression
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Fix: Revert optimistic auth - causing layout remounts and regressions
  apps/web/src/routes/RootRouter/RootRouter.js
Due: web-changed

Perf: Lazy load GlobalNav to prioritize content rendering
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Fix bug creating funding round
  apps/backend/api/models/FundingRound.js
Due: backend-changed

Fix bug where Stream would get re-added to context menu after being removed when a post is created
  apps/backend/api/models/Group.js
Due: backend-changed

Add the ability to delete widgets/views from All Views
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/context_widgets.js
  apps/backend/api/graphql/mutations/context_widgets.tests.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/ContextWidget.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/AllView/AllView.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MenuLink/MenuLink.jsx
  apps/web/src/store/actions/contextWidgets/index.js
  apps/web/src/store/actions/contextWidgets/index.test.js
  apps/web/src/store/constants.js
  apps/web/src/store/reducers/ormReducer/index.js
  packages/presenters/src/ContextWidgetPresenter.js
Due: backend-changed, web-changed

New Virtuoso key
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Small tweak to position of flagged post clickthrough warning
  apps/web/src/components/PostCard/PostBody/PostBody.module.scss
Due: web-changed

Fix creating track actions
  apps/web/src/routes/TrackHome/TrackHome.jsx
Due: web-changed

Update back-end and web to v6.2.1
  apps/backend/CHANGELOG.md
  apps/backend/api/models/FundingRound.js
  apps/backend/api/models/Group.js
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

Update back-end changelog
  apps/backend/CHANGELOG.md
Due: backend-changed

Dont show numbers for notifications on pinned groups in global nav
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

Several improvements to fulfilling posts
  apps/mobile/src/components/PostCard/PostCard.js
  apps/web/src/components/PostBigGridItem/PostBigGridItem.js
  apps/web/src/components/PostCard/PostCard.jsx
  apps/web/src/components/PostCard/PostCompletion/PostCompletion.js
  apps/web/src/components/PostCard/PostCompletion/PostCompletion.module.scss
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
  apps/web/src/components/PostCard/PostTitle/PostTitle.js
  apps/web/src/components/PostGridItem/PostGridItem.js
  apps/web/src/components/PostListRow/PostListRow.js
  apps/web/src/routes/Stream/Stream.js
  apps/web/src/store/reducers/queryResults.js
  packages/navigation/src/index.js
Due: web-changed, mobile-changed

Show pill tooltips on long press on mobile
  apps/web/src/components/Pill/Pill.js
Due: web-changed

Upload smaller circular group avatar for map when changing group avatar
  apps/backend/lib/uploader/index.js
  apps/web/src/components/Map/layers/iconLayer/index.js
Due: backend-changed, web-changed

Fix broken commenting on new posts
  apps/backend/api/models/comment/createComment.js
Due: backend-changed

Script to add small group icon for the map
  apps/backend/migrations/scripts/generateGroupMapAvatars.js
Due: backend-changed

Small UI improvements to map drawer
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/Widget/GroupsWidget/GroupsWidget.js
  apps/web/src/routes/MapExplorer/MapDrawer/MapDrawer.js
  apps/web/src/routes/MapExplorer/MapDrawer/MapDrawer.module.scss
Due: web-changed

Allow filtering of offerings by type
  apps/web/src/routes/GroupSettings/PaidContentTab/PaidContentTab.js
Due: web-changed

Fix location of map buttons
  apps/web/src/routes/MapExplorer/MapExplorer.js
  apps/web/src/routes/MapExplorer/MapExplorer.module.scss
Due: web-changed

Fix loading of posts for map sometimes
  apps/web/src/routes/MapExplorer/MapExplorer.store.js
Due: web-changed

Fix native lands layer tooltip location
  apps/web/src/components/Map/Map.js
Due: web-changed

Extend content_access concept to include user_scopes table as the way to check permissions
  apps/backend/api/controllers/StripeController.js
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/stripe.js
  apps/backend/api/graphql/mutations/stripe.test.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/ContentAccess.js
  apps/backend/api/models/Group.js
  apps/backend/api/models/GroupRole.js
  apps/backend/api/models/StripeProduct.js
  apps/backend/api/models/Track.js
  apps/backend/api/models/UserScope.js
  apps/backend/lib/scopes.js
  apps/backend/migrations/20251110143609_extend-content-access-to-scopes.js
  apps/backend/migrations/20251110143610_backfill-user-scopes.js
  apps/backend/migrations/schema.sql
  apps/backend/test/unit/lib/scopes.test.js
  docs/STRIPE_WEBHOOKS_TESTING_GUIDE.md
Due: backend-changed

WIP
  apps/web/src/components/PostCard/PostTitle/PostTitle.js
Due: web-changed

Actually remove orange dot from Activity Bell after it is clicked on
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationsDropdown.jsx
Due: web-changed

Fix reordering of image attachments in posts and comments
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.js
Due: web-changed

When uploading multiple images to a post the order of the images matches the order of the files
  apps/web/src/components/UploadAttachmentButton/UploadAttachmentButton.js
Due: web-changed

Latest filestack library
  apps/web/package.json
  yarn.lock
Due: web-changed

Comment digest emails come from the Group name not The Team at Hylo
  apps/backend/api/models/Notification.js
  apps/backend/api/models/comment/notifications.js
Due: backend-changed

Web and backend v6.2.2
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
