Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

Global nav goes all the way to the top now
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

Cleaned up tooltip styling
  apps/web/src/components/Tooltip/Tooltip.js
Due: web-changed

chore(mobile): Completes various clarifying re-factors and code-level corrections, WIP for initial app loading for group redirection
  apps/mobile/src/components/ContextMenu/ContextMenu.js
  apps/mobile/src/components/ContextSwitchMenu/ContextSwitchMenu.js
  apps/mobile/src/components/FlagGroupContent/FlagGroupContent.js
  apps/mobile/src/components/PostCard/PostGroups/PostGroups.js
  apps/mobile/src/hooks/useGoToTopic.js
  apps/mobile/src/hooks/usePostActionSheet.js
  apps/mobile/src/screens/AllViews/AllViews.js
  apps/mobile/src/screens/CreateGroup/CreateGroupName.js
  apps/mobile/src/screens/CreateGroup/CreateGroupPurpose.js
  apps/mobile/src/screens/GroupExploreWebView/GroupExploreWebView.js
  apps/mobile/src/screens/GroupSettingsWebView/GroupSettingsWebView.js
  apps/mobile/src/screens/PostEditor/PostEditor.js
  apps/mobile/src/screens/Stream/Stream.js
  apps/mobile/src/screens/Stream/makeStreamQuery.js
  apps/mobile/src/util/navigation.js
  apps/web/src/util/navigation.js
  packages/hooks/useGroup.js
  packages/hooks/useStaticContexts.js
  packages/hooks/useStreamQueryVariables.js
  packages/presenters/GroupPresenter.js
Due: web-changed, mobile-changed

Improved comment form styling
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.js
Due: web-changed

chore(mobile): Makes GroupPresenter corrections, fixes list render key warning
  apps/mobile/src/components/ImageAttachments/ImageAttachments.js
  packages/presenters/GroupPresenter.js
Due: mobile-changed

Improved styling of post detail and comments
  apps/web/src/components/PostCard/EventBody/EventBody.js
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.jsx
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.module.scss
  apps/web/src/routes/PostDetail/Comments/Comments.js
  apps/web/src/routes/PostDetail/PostDetail.js
Due: web-changed

Fixed background colors on postdialogue and postdetail
  apps/web/src/components/PostDialog/PostDialog.jsx
  apps/web/src/routes/PostDetail/PostDetail.js
Due: web-changed

Get chat rooms, posts with new comments and upcoming reminders really working
  apps/backend/api/models/Post.js
  apps/backend/lib/group/digest2/formatData.js
  apps/backend/lib/group/digest2/index.js
  apps/backend/lib/group/digest2/personalizeData.js
  apps/backend/lib/group/digest2/util.js
Due: backend-changed

chore(mobile): Align ContextMenu isActive widget styling with Web, better integrate All Views
  apps/mobile/src/components/ContextMenu/ContextMenu.js
  apps/mobile/src/screens/AllViews/AllViews.js
Due: mobile-changed

chore(mobile): ContextMenu adjustments
  apps/mobile/src/components/GroupMenuHeader/GroupMenuHeader.js
  packages/presenters/GroupPresenter.js
Due: mobile-changed

chore(mobile): Remove default dev debugging in Stream
  apps/mobile/src/screens/Stream/Stream.js
Due: mobile-changed

chore(presenters,web,mobile): Adds ContextMenuPresenter allViewsWidget and applies. Adds LucideIcon switching withing WidgetIconResolver for Mobile
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/src/components/ContextMenu/ContextMenu.js
  apps/mobile/src/components/LucideIcon/LucideIcon.js
  apps/mobile/src/components/WidgetIconResolver/WidgetIconResolver.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  packages/presenters/ContextWidgetPresenter.js
Due: web-changed, mobile-changed

chore(mobile,hooks,presenters): Adds short member list to ContextMenu, along with further general refinements. Extends WidgetIconResolver for more cases, adds more LucideIcons.
  apps/mobile/src/components/ContextMenu/ContextMenu.js
  apps/mobile/src/components/LucideIcon/LucideIcon.js
  apps/mobile/src/components/WidgetIconResolver/WidgetIconResolver.js
  packages/graphql/fragments/groupFieldsFragment.js
  packages/hooks/useContextWidgetChildren.js
  packages/presenters/ContextWidgetPresenter.js
Due: mobile-changed

chore(mobile,presenters): Simplifies Mobile use of static context widgets
  apps/mobile/src/components/ContextMenu/ContextMenu.js
  packages/presenters/ContextWidgetPresenter.js
  packages/presenters/GroupPresenter.js
Due: mobile-changed

chore(mobile): Removes pinned post functionality
  apps/mobile/src/components/PostCard/PostCard.js
  apps/mobile/src/components/PostCard/PostCardForDetails.js
  apps/mobile/src/components/PostCard/PostHeader/PostHeader.js
  apps/mobile/src/components/PostCard/PostHeader/PostHeader.styles.js
  apps/mobile/src/hooks/usePostActionSheet.js
  apps/mobile/src/screens/SearchPage/SearchPage.js
  packages/graphql/fragments/postFieldsFragment.js
  packages/presenters/PostPresenter.js
  packages/urql/updates/index.js
Due: mobile-changed

chore(mobile,presenters): Refactors Mobile initial currentGroup loading and navigation. Completes refinement of Mobile context groups setup.
  apps/mobile/src/hooks/useChangeToGroup.js
  apps/mobile/src/navigation/AuthRootNavigator.js
  apps/mobile/src/navigation/HomeNavigator.js
  apps/mobile/src/navigation/headers/TabStackHeader.js
  apps/mobile/src/navigation/linking/useHandleLinking.js
  apps/mobile/src/screens/CreateGroup/CreateGroupReview.js
  apps/mobile/src/screens/Groups/Groups.js
  apps/mobile/src/screens/JoinGroup/JoinGroup.js
  apps/mobile/src/screens/MemberProfile/MemberDetails/MemberDetails.js
  packages/contexts/AuthContext.js
  packages/hooks/useCurrentGroup.js
  packages/presenters/ContextWidgetPresenter.js
  packages/presenters/GroupPresenter.js
Due: mobile-changed

chore(mobile): No longer blocks AuthRoot for currentGroup fetching
  apps/mobile/src/navigation/AuthRootNavigator.js
Due: mobile-changed

Turn off showing pinned posts first in the stream for now
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/services/Search/forPosts.js
Due: backend-changed

Fix styling of role badges on member profile
  apps/web/src/components/Membership/Membership.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.module.scss
  apps/web/src/routes/MemberProfile/MemberProfile.js
  apps/web/src/routes/MemberProfile/MemberProfile.module.scss
Due: web-changed

Fix some comment fotm styling
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.module.scss
Due: web-changed

Fix display of current group about page
  apps/web/src/routes/GroupDetail/GroupDetail.js
  apps/web/src/routes/PublicLayoutRouter/PublicGroupDetail.jsx
  apps/web/src/routes/PublicLayoutRouter/PublicLayoutRouter.js
Due: web-changed

Group Welcome Page available as a screen
  apps/mobile/src/navigation/AuthRootNavigator.js
  apps/mobile/src/navigation/linking/index.js
  apps/mobile/src/screens/AllViews/AllViews.js
  apps/mobile/src/screens/GroupSettingsWebView/GroupSettingsWebView.js
  apps/mobile/src/screens/GroupWelcomePage/GroupWelcomePage.js
  apps/mobile/src/screens/GroupWelcomePage/index.js
  packages/graphql/fragments/groupFieldsFragment.js
  packages/graphql/fragments/groupPrerequisiteGroupsFieldsFragment.js
  packages/graphql/mutations/acceptInvitationMutation.js
  packages/graphql/queries/meQuery.js
Due: mobile-changed

upgrade translation mocks
  apps/web/config/jest/beforeTestEnvSetup.js
Due: web-changed

output test run times (may break ci?)
  apps/web/scripts/test.js
Due: web-changed

big push to upgrade tests
  apps/web/src/client/websockets.test.js
  apps/web/src/components/AttachmentManager/AttachmentManager.test.js
  apps/web/src/components/CreateTopic/CreateTopic.test.js
  apps/web/src/components/FlagContent/FlagContent.test.js
  apps/web/src/components/GroupMenuHeader/GroupMenuHeader.test.js
  apps/web/src/components/PostCard/EventBody/EventBody.test.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.test.js
  apps/web/src/components/PostEditor/PostEditor.test.js
  apps/web/src/components/SocketListener/SocketListener.store.test.js
  apps/web/src/components/SocketListener/SocketListener.test.js
  apps/web/src/components/TopicSelector/SingleTopicSelector.test.js
  apps/web/src/routes/AllTopics/AllTopics.test.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.test.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/MessagesDropdown/MessagesDropdown.test.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.test.js
  apps/web/src/routes/GroupSettings/GroupSettingsTab/GroupSettingsTab.test.js
  apps/web/src/routes/GroupSettings/RelatedGroupsTab/RelatedGroupsTab.test.js
  apps/web/src/routes/GroupSettings/RolesSettingsTab/RolesSettingsTab.test.js
  apps/web/src/routes/GroupSettings/WelcomePageTab/WelcomePageTab.test.js
  apps/web/src/routes/JoinGroup/JoinGroup.test.js
  apps/web/src/routes/MapExplorer/MapDrawer/MapDrawer.test.js
  apps/web/src/routes/Messages/Header/Header.test.js
  apps/web/src/routes/Messages/MessageSection/MessageSection.test.js
  apps/web/src/routes/Messages/Messages.test.js
  apps/web/src/routes/Messages/PeopleSelector/PeopleSelector.test.js
  apps/web/src/routes/Messages/ThreadList/ThreadList.test.js
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.test.js
  apps/web/src/routes/PostDetail/PostDetail.test.js
  apps/web/src/routes/UserSettings/NotificationSettingsTab/NotificationSettingsTab.test.js
  apps/web/src/routes/UserSettings/UserSettings.test.js
  apps/web/src/store/actions/resetNewPostCount.test.js
Due: web-changed

add accessibility for tests
  apps/web/src/components/CreateTopic/CreateTopic.js
  apps/web/src/components/GroupMenuHeader/GroupMenuHeader.jsx
  apps/web/src/components/Icon/Icon.js
  apps/web/src/components/Loading/Loading.jsx
  apps/web/src/components/PostEditor/ActionsBar.jsx
  apps/web/src/components/Select/Select.js
  apps/web/src/components/SwitchStyled/SwitchStyled.js
  apps/web/src/routes/Messages/MessageSection/MessageSection.js
  apps/web/src/routes/UserSettings/NotificationSettingsTab/MembershipSettingRow.jsx
  apps/web/src/routes/UserSettings/NotificationSettingsTab/SettingToggles.jsx
Due: web-changed

update tests to accessibility changes
  apps/web/src/components/GroupMenuHeader/GroupMenuHeader.test.js
  apps/web/src/routes/UserSettings/NotificationSettingsTab/NotificationSettingsTab.test.js
Due: web-changed

code modified thanks to tests
  apps/web/src/components/FlagContent/FlagContent.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
  apps/web/src/components/PostCard/PostTitle/PostTitle.js
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/GroupSettings/GroupSettingsTab/GroupSettingsTab.js
  apps/web/src/routes/GroupSettings/RolesSettingsTab/RolesSettingsTab.js
  apps/web/src/routes/GroupSettings/WelcomePageTab/WelcomePageTab.js
  apps/web/src/routes/Messages/PeopleSelector/PeopleList/PeopleList.js
  apps/web/src/routes/UserSettings/NotificationSettingsTab/NotificationSettingsTab.js
Due: web-changed

update snapshots
  apps/web/src/components/SocketListener/__snapshots__/SocketListener.connector.test.js.snap
  apps/web/src/routes/GroupSettings/RolesSettingsTab/__snapshots__/RolesSettingsTab.connector.test.js.snap
  apps/web/src/routes/GroupSettings/__snapshots__/GroupSettings.test.js.snap
  apps/web/src/store/actions/__snapshots__/resetNewPostCount.test.js.snap
Due: web-changed

THESE tests are not working
  apps/web/src/components/TopicSelector/TopicSelector.test.js
  apps/web/src/routes/Search/Search.test.js
Due: web-changed

Move Group Welcome Page from modal to regular screen
  apps/mobile/src/navigation/AuthRootNavigator.js
  apps/mobile/src/navigation/HomeNavigator.js
  apps/mobile/src/navigation/linking/index.js
Due: mobile-changed

Improvements to groups page
  apps/web/src/components/GroupNetworkMap/GroupNetworkMap.js
  apps/web/src/components/GroupNetworkMap/GroupNetworkMap.module.scss
  apps/web/src/components/GroupNetworkMap/GroupNetworkMapGenerator.js
  apps/web/src/routes/Groups/Groups.jsx
  apps/web/src/routes/Groups/Groups.module.scss
Due: web-changed

Missing translation
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: web-changed

WIP popup that tells current hylo user about new redesign
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/web/src/components/GlobalAlert/GlobalAlert.jsx
  apps/web/src/components/GlobalAlert/index.js
  apps/web/src/components/ui/dialog.jsx
  apps/web/src/graphql/queries/MeQuery.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: backend-changed, web-changed

Hide Topics tab from Group Settings for now
  apps/web/src/routes/GroupDetail/GroupDetail.js
  apps/web/src/routes/GroupSettings/GroupSettings.js
Due: web-changed

Fix display of stream view controls at small sizes
  apps/web/src/components/StreamViewControls/StreamViewControls.js
Due: web-changed

Fix display of buttons in the Group Welcome Modal
  apps/web/src/routes/GroupWelcomeModal/GroupWelcomeModal.js
Due: web-changed

ai added this -- review needed
  apps/web/src/components/PostCard/PostHeader/PostHeader.connector.js
Due: web-changed

pruned unused props
  apps/web/src/routes/FullPageModal/FullPageModal.js
Due: web-changed
