Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

remove editPost passed to PostHeader
  apps/web/src/components/PostCard/PostCard.jsx
Due: web-changed

pass routeParam view to PostHeader
  apps/web/src/routes/PostDetail/PostDetail.js
Due: web-changed

Correctly setup custom views and chats widgets
  apps/backend/migrations/20250129142240_add-home-tag-to-all-groups.js
  apps/backend/migrations/20250129161302_port-general-tag-content-to-home-tag.js
  apps/backend/migrations/20250130104013_setup-initial-context-widgets.js
  apps/backend/migrations/20250130104100_ensure-chats-and-custom-views-have-context-widgets.js
  apps/backend/migrations/20250131104100_switch-from-general-topic-to-home-topic-and-chat.js
Due: backend-changed

fix lint errors in stream.js
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

Improve migration to setup common views widget for all groups
  apps/backend/api/models/Group.js
  apps/backend/migrations/20250130121530_update-widgets-based-on-group-content.js
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/StreamViewControls/StreamViewControls.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/store/reducers/ormReducer/index.js
  packages/shared/src/ViewHelpers.js
Due: backend-changed, web-changed, mobile-changed

Use the default view settings for each common view
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

Add widgetIconResolver to mobile
  apps/mobile/src/components/WidgetIconResolver/WidgetIconResolver.js
  apps/mobile/src/components/WidgetIconResolver/index.js
Due: mobile-changed

chore: Moves shared-related root dependencies back into individual apps
  apps/mobile/package.json
  apps/web/package.json
  package.json
  yarn.lock
Due: web-changed, mobile-changed

WIP
  apps/backend/api/models/Notification.js
  apps/backend/lib/group/digest2/util.js
Due: backend-changed

Include context widgets on the groupPresenter
  apps/mobile/src/presenters/GroupPresenter.js
Due: mobile-changed

Make sure home chat goes in home widget
  apps/backend/migrations/20250130104013_setup-initial-context-widgets.js
Due: backend-changed

Add AllView widget; Add widgetUrl and dependent functions to mobile util/navigation
  apps/mobile/src/screens/AllView/AllView.js
  apps/mobile/src/screens/AllView/index.js
  apps/mobile/src/util/navigation.js
Due: mobile-changed

Add all view to the navigation structure
  apps/mobile/src/navigation/HomeNavigator.js
  apps/mobile/src/navigation/linking/index.js
Due: mobile-changed

Complete checking process.env.EMAIL_NOTIFICATIONS_ENABLED to determine whether to send email notifications
  apps/backend/api/models/Notification.js
  apps/backend/api/models/User.js
  apps/backend/lib/group/digest2/util.js
Due: backend-changed

Render widgets in all view
  apps/mobile/src/components/WidgetIconResolver/WidgetIconResolver.js
  apps/mobile/src/presenters/GroupPresenter.js
  apps/mobile/src/screens/AllView/AllView.js
  package.json
  packages/graphql/fragments/groupContextWidgetsFieldsFragment.js
  packages/graphql/queries/groupDetailsQueryMaker.js
  packages/hooks/useCurrentGroup.js
  packages/shared/src/ContextMenuHelpers.js
  yarn.lock
Due: mobile-changed

post-merge fix
  apps/mobile/ios/Podfile.lock
  package.json
  yarn.lock
Due: mobile-changed

Settle the ordering of all auto-view children
  apps/backend/migrations/20250203164236_settle-order-of-auto-view.js
Due: backend-changed

chore: Move ContextWidgetPresenter
  packages/presenters/ContextWidgetPresenter.js
Due: none

chore(presenters,shared): Refactor ContextWidgetPresenter, subsuming ContextMenuHelper and ViewHelpers into it (for now)
  packages/presenters/ContextWidgetPresenter.js
  packages/shared/src/ContextMenuHelpers.js
  packages/shared/src/ViewHelpers.js
Due: none

chore(shared,presenters,mobile,web): Reflects new location of ContextWidgetPresenter, et al
  apps/mobile/src/components/WidgetIconResolver/WidgetIconResolver.js
  apps/mobile/src/navigation/HomeNavigator.js
  apps/mobile/src/presenters/GroupPresenter.js
  apps/mobile/src/screens/AllView/index.js
  apps/mobile/src/screens/AllViews/AllViews.js
  apps/mobile/src/screens/AllViews/index.js
  apps/web/src/components/WidgetIconResolver/WidgetIconResolver.jsx
  apps/web/src/hooks/useGatherItems/index.js
  apps/web/src/routes/AllView/AllView.jsx
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/Stream/Stream.js
  packages/shared/src/index.js
Due: web-changed, mobile-changed

chore(mobile): Renames AllView screen to AllViews in line with other Mobile component naming. Makes AllViews accessible in GroupNavigation for testing
  apps/mobile/src/navigation/AuthRootNavigator.js
  apps/mobile/src/screens/GroupNavigation/GroupNavigation.js
Due: mobile-changed

chore(mobile): Removes react-native dependency from GroupPresenter
  apps/mobile/src/presenters/GroupPresenter.js
Due: mobile-changed

chore(presenters,mobile): Shares GroupPresenter from mobile into @hylo/presenters
  packages/presenters/GroupPresenter.js
Due: none

chore(mobile): Imports GroupPresenter from @hylo/presenters
  apps/mobile/src/components/FlagGroupContent/FlagGroupContent.js
  apps/mobile/src/components/GroupsList/GroupsList.js
  apps/mobile/src/components/PostCard/PostGroups/PostGroups.js
  apps/mobile/src/components/StreamList/StreamList.js
  apps/mobile/src/components/StreamList/StreamList.store.js
  apps/mobile/src/components/StreamList/useFetchPostParam.js
  apps/mobile/src/hooks/useChangeToGroup.js
  apps/mobile/src/hooks/useGoToTopic.js
  apps/mobile/src/hooks/usePostActionSheet.js
  apps/mobile/src/navigation/CreateGroupTabsNavigator.js
  apps/mobile/src/screens/CreateGroupFlow/CreateGroupFlow.store.js
  apps/mobile/src/screens/CreateGroupFlow/CreateGroupName.js
  apps/mobile/src/screens/CreateGroupFlow/CreateGroupParentGroups.js
  apps/mobile/src/screens/CreateGroupFlow/CreateGroupPurpose.js
  apps/mobile/src/screens/CreateGroupFlow/CreateGroupReview.js
  apps/mobile/src/screens/CreateGroupFlow/CreateGroupVisibilityAccessibility.js
  apps/mobile/src/screens/DrawerMenu/DrawerMenu.js
  apps/mobile/src/screens/GroupNavigation/GroupNavigation.js
  apps/mobile/src/screens/GroupWelcomeFlow/GroupWelcomeFlow.store.js
  apps/mobile/src/screens/GroupWelcomeFlow/GroupWelcomeLanding.js
  apps/mobile/src/screens/GroupWelcomeFlow/GroupWelcomeTabBar.js
  apps/mobile/src/screens/Groups/Groups.js
  apps/mobile/src/screens/MapWebView/MapWebView.js
  apps/mobile/src/screens/Stream/Stream.js
Due: mobile-changed

chore(mobile): useCurrentGroup to get GroupPresenter from @hylo/presenters
  packages/hooks/useCurrentGroup.js
Due: none

chore(presenters,web,mobile): Clean-up of ContextWidgetPresenter, addition of CustomViewPresenter
  apps/mobile/src/components/WidgetIconResolver/WidgetIconResolver.js
  apps/mobile/src/screens/GroupNavigation/GroupNavigation.js
  apps/web/src/components/WidgetIconResolver/WidgetIconResolver.jsx
  apps/web/src/routes/AllView/AllView.jsx
  apps/web/src/routes/Stream/Stream.js
  packages/presenters/ContextWidgetPresenter.js
  packages/presenters/CustomViewPresenter.js
Due: web-changed, mobile-changed

chore(presenters): Add back findHomeView to ContextWidgetPresenter
  packages/presenters/ContextWidgetPresenter.js
Due: none

chore(config): Adds @hylo/config to locate shared i18n instance for shared module to be able to use i18n instance without passing t
  apps/mobile/i18n.js
  apps/mobile/metro.config.js
  apps/mobile/package.json
  apps/web/package.json
  apps/web/src/i18n.mjs
  apps/web/vite.config.js
  packages/config/i18n.js
  packages/config/package.json
  yarn.lock
Due: web-changed, mobile-changed

chore(mobile): Updates URQL todos (ones with "URQL!" are necessary)
  apps/mobile/src/components/CommentEditor/CommentEditor.js
  apps/mobile/src/components/StreamList/StreamList.js
  apps/mobile/src/navigation/linking/getStateFromPath.js
  apps/mobile/src/screens/CreateGroupFlow/CreateGroupFlow.store.js
  apps/mobile/src/screens/CreateGroupFlow/CreateGroupReview.js
  apps/mobile/src/screens/GroupWelcomeFlow/GroupWelcomeTabBar.js
  apps/mobile/src/screens/Groups/Groups.js
  apps/mobile/src/screens/Signup/Signup.js
  apps/mobile/src/screens/Signup/SignupEmailValidation/SignupEmailValidation.js
  apps/mobile/src/screens/Signup/SignupRegistration/SignupRegistration.js
  apps/mobile/src/screens/UserSettingsWebView/UserSettingsWebView.js
  apps/mobile/src/store/middleware/groupFetchedMiddleware.js
  apps/mobile/src/store/middleware/userFetchedMiddleware.js
Due: mobile-changed

chore(mobile): Removes unused graphql utils
  apps/mobile/src/util/graphql.js
Due: mobile-changed

chore(mobile): Adds back AnalyticsEvents through direct mixpanel tracking calls
  apps/mobile/src/components/CommentEditor/CommentEditor.js
  apps/mobile/src/screens/CreateGroupFlow/CreateGroupFlow.store.js
  apps/mobile/src/screens/CreateGroupFlow/CreateGroupReview.js
  apps/mobile/src/screens/MemberProfile/MemberHeader.js
  apps/mobile/src/screens/Signup/Signup.js
  apps/mobile/src/screens/Signup/SignupEmailValidation/SignupEmailValidation.js
  apps/mobile/src/screens/Signup/SignupRegistration/SignupRegistration.js
Due: mobile-changed

chore(mobile): Removes mixpanelMiddleware
  apps/mobile/src/store/middleware/index.js
  apps/mobile/src/store/middleware/mixpanelMiddleware.js
Due: mobile-changed

chore(mobile): Convert remaining analytics events, and remove other cruft
  apps/mobile/src/screens/PostDetails/PostDetails.js
  apps/mobile/src/screens/Signup/SignupSetLocation/SignupSetLocation.js
  apps/mobile/src/screens/Signup/SignupUploadAvatar/SignupUploadAvatar.js
  apps/mobile/src/store/actions/__snapshots__/fetchPeople.test.js.snap
  apps/mobile/src/store/actions/trackAnalyticsEvent.js
  apps/mobile/src/store/middleware/mixpanelMiddleware.test.js
Due: mobile-changed

chore(mobile): Add TODO
  apps/mobile/src/store/actions/proposals/index.js
Due: mobile-changed

chore(mobile): Move proposal related mutations to PostBodyProposal component
  apps/mobile/src/components/PostCard/PostBodyProposal/PostBodyProposal.js
  apps/mobile/src/store/actions/proposals/index.js
Due: mobile-changed

chore(mobile): Remove unused constants, etc
  apps/mobile/src/store/actions/setCurrentGroupSlug.js
  apps/mobile/src/store/constants.js
  apps/mobile/src/store/reducers/sessionReducer.js
Due: mobile-changed

chore(mobile): Quick and dirty tidy-up of PostBodyProposal
  apps/mobile/src/components/PostCard/PostBodyProposal/PostBodyProposal.js
Due: mobile-changed

chore(mobile,hooks): Handle mixpanel group tracking, remove unused middleware
  apps/mobile/src/hooks/useChangeToGroup.js
  apps/mobile/src/navigation/AuthRootNavigator.js
  apps/mobile/src/store/middleware/groupFetchedMiddleware.js
  apps/mobile/src/store/middleware/userFetchedMiddleware.js
  packages/hooks/useCurrentGroup.js
Due: mobile-changed

Only settle widget order for active groups
  apps/backend/migrations/20250203164236_settle-order-of-auto-view.js
Due: backend-changed

chore(mobile): Fixes back button icon
  apps/mobile/metro.config.js
  apps/mobile/src/navigation/headers/TabStackHeader.js
Due: mobile-changed
