Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Upgrade sharp to try and fix playwright builds
  apps/backend/migrations/scripts/generateGroupMapAvatars.js
  apps/backend/package.json
  yarn.lock
Due: backend-changed

web release at 6.5.5
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

Remove does menu update
  apps/backend/api/graphql/mutations/fundingRound.js
  apps/backend/api/graphql/mutations/group.js
  apps/backend/api/graphql/mutations/track.js
  apps/backend/api/models/Group.js
  apps/backend/api/models/post/createPost.js
  apps/backend/api/models/post/updatePost.js
  apps/backend/test/unit/models/Group.test.js
Due: backend-changed

Fix knexfile for local playwright runs
  apps/backend/knexfile.js
Due: backend-changed

Fix backend tests and linting
  apps/backend/.eslintrc.cjs
  apps/backend/api/graphql/mutations/contentAccess.test.js
  apps/backend/api/graphql/mutations/fundingRound.test.js
  apps/backend/api/graphql/mutations/track.test.js
  apps/backend/api/models/User.js
Due: backend-changed

Fix migrations for deploy to heroku
  apps/backend/migrations/20260716160000_drop_groups_welcome_page.js
Due: backend-changed

Fix lint issues
  apps/web/src/components/ViewHeader/ViewHeader.jsx
  apps/web/src/routes/AuthLayoutRouter/components/TopNav/TopNav.jsx
Due: web-changed

Try to fix heroku build
  apps/web/vite.config.js
  heroku-postbuild.sh
Due: web-changed

Don't cache proxy error pages
  apps/web/src/server/proxy.js
Due: web-changed

Add more spaces and edit menu views, when using independent/nested space menus
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/EditMenuPage.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/GroupViewEditList.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MoreSpacesPage.jsx
  apps/web/src/store/selectors/getMoreSpacesSections.js
  apps/web/src/store/selectors/getMoreSpacesSections.test.js
Due: web-changed

Ensure !autofocus prop is respected by hylo editor
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Make Android responsive to system back button
  apps/mobile/CHANGELOG
  apps/mobile/src/screens/PrimaryWebView/PrimaryWebView.js
  apps/web/src/components/CreateModal/CreateModal.js
  apps/web/src/components/PostDialog/PostDialog.jsx
  apps/web/src/hooks/useMobileHardwareBack.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/util/hardwareBackHandler.js
  packages/shared/src/constants.js
Due: web-changed, mobile-changed

Prevent and prevent errors from null or blank user names
  apps/backend/api/controllers/SessionController.js
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/user.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/LinkedAccount.js
  apps/backend/api/models/User.js
  apps/backend/api/services/UserSession.js
  apps/backend/test/unit/models/User.test.js
  apps/web/src/components/PostCard/PeopleInfo/PeopleInfo.js
  apps/web/src/components/Widget/MembersWidget/MembersWidget.js
  apps/web/src/routes/WelcomeWizardRouter/WelcomeExplore/WelcomeExplore.js
  apps/web/src/store/models/Person.js
  packages/presenters/src/PersonPresenter.js
  packages/shared/src/Validators.test.js
Due: backend-changed, web-changed

Add Manage Round view always visible to stewards in Funding Round menu
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuGrid.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/SpaceSettingsModal.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/groupViewMenuUrl.js
  apps/web/src/routes/FundingRoundSubmissionsView/FundingRoundSubmissionsView.jsx
  apps/web/src/routes/ManageRoundView/ManageRoundView.jsx
  apps/web/src/routes/SpaceContent/SpaceContent.js
  packages/navigation/src/index.js
  packages/presenters/src/GroupViewPresenter.js
Due: web-changed

When clicking on space with only one view, keep group menu visible not space menu
  apps/web/src/components/ViewHeader/ViewHeader.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MoreSpacesPage.jsx
Due: web-changed

Better handle "back" navigation in mobile
  apps/web/src/components/ViewHeader/ViewHeader.jsx
  apps/web/src/hooks/useMobileHardwareBack.js
  apps/web/src/util/mobileNavBack.js
Due: web-changed

Ensure chatEditor respects autofocus param
  apps/web/src/components/ChatEditor/ChatEditor.js
Due: web-changed

WIP paid spaces
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/spaces.js
  apps/backend/api/graphql/queries/stripe.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/StripeProduct.js
  apps/backend/lib/offeringAccessGrants.js
  apps/backend/migrations/in-progress/20260714120000_paid_spaces_from_tracks.js
  apps/backend/scripts/seed-e2e-baseline.js
  apps/web/e2e/authenticated.track-paywall.spec.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/hooks/usePublishedOfferings.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddSpaceDialog.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuGrid.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MoreSpacesPage.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MoreSpacesSection.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/SpaceSettingsModal.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/spaceFormConstants.js
  apps/web/src/routes/GroupSettings/PaidContentTab/ContentAccessTab.js
  apps/web/src/routes/GroupSettings/PaidContentTab/OfferingsTab.js
  apps/web/src/routes/GroupSettings/PaidContentTab/PaidContentTab.js
  apps/web/src/routes/SpaceJoinPage/SpaceJoinPage.jsx
  apps/web/src/store/actions/fetchForGroup.js
  apps/web/src/store/actions/fetchGroupSpaces.js
  apps/web/src/store/actions/fetchGroupViews.js
  apps/web/src/store/actions/groupViews.js
  apps/web/src/util/accessGrants.js
  apps/web/src/util/paidSpaceVisibility.js
  apps/web/src/util/paidSpaceVisibility.test.js
  packages/shared/src/OfferingHelpers.js
  packages/shared/src/OfferingHelpers.test.js
Due: backend-changed, web-changed

Fix trakcing of last read in a chat views
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/SpaceContent/SpaceContent.js
  apps/web/src/store/actions/fetchGroupSpaces.js
  apps/web/src/store/actions/fetchGroupViews.js
  apps/web/src/store/actions/updateGroupViewUser.js
  apps/web/src/store/constants.js
  apps/web/src/store/reducers/ormReducer/index.js
Due: web-changed

Update caniuse
  yarn.lock
Due: none

Add redux-heroku app url to webview whitelist
  apps/mobile/src/components/HyloWebView/HyloWebView.js
Due: mobile-changed

Fix post creation timeouts on production
  apps/backend/api/models/Post.js
  apps/backend/api/models/post/createPost.js
  apps/backend/api/models/post/createPost.test.js
Due: backend-changed

Improved navigation of spaces and views
  apps/backend/api/graphql/mutations/group_views.js
  apps/backend/api/models/Group.js
  apps/backend/api/models/GroupView.js
  apps/backend/migrations/20260723140000_ensure_more_views_system_views.js
  apps/backend/scripts/seed-e2e-baseline.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/ViewHeader/ViewHeader.jsx
  apps/web/src/graphql/queries/MeQuery.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddCollectionDialog.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddGroupViewDialog.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddSpaceDialog.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuGrid.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/EditMenuPage.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/GroupViewEditList.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/GroupViewSettingsModal.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MoreSpacesPage.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MoreSpacesSection.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MoreViewsPage.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/groupViewMenuUrl.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/GroupSettings/GroupSettingsTab/GroupSettingsTab.js
  apps/web/src/routes/UserSettings/AppearanceTab/AppearanceTab.js
  apps/web/src/store/actions/checkLogin.js
  apps/web/src/store/actions/login.js
  apps/web/src/store/actions/updateUserSettings.js
  apps/web/src/store/models/GroupView.js
  apps/web/src/store/selectors/getMoreSpacesSections.js
  apps/web/src/store/selectors/getMoreSpacesSections.test.js
  apps/web/src/util/paidSpaceVisibility.js
  packages/graphql/fragments/meAuthFieldsFragment.js
  packages/graphql/queries/meQuery.js
Due: backend-changed, web-changed

Initial client-side cache of startup bootstrap, using redux-remember
  apps/web/package.json
  apps/web/src/components/RehydrationGate/RehydrationGate.js
  apps/web/src/router/index.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/RootRouter/RootRouter.js
  apps/web/src/store/bootstrap/bootstrapReplayMeta.js
  apps/web/src/store/bootstrap/bootstrapStorageDriver.js
  apps/web/src/store/bootstrap/bootstrapStorageDriver.test.js
  apps/web/src/store/bootstrap/migrateBootstrapState.js
  apps/web/src/store/bootstrap/rememberConstants.js
  apps/web/src/store/bootstrap/replayBootstrapIntoOrm.js
  apps/web/src/store/constants.js
  apps/web/src/store/index.js
  apps/web/src/store/middleware/bootstrapMiddleware.js
  apps/web/src/store/middleware/index.js
  apps/web/src/store/reducers/bootstrap.js
  apps/web/src/store/reducers/bootstrap.test.js
  apps/web/src/store/reducers/bootstrapUi.js
  apps/web/src/store/reducers/index.js
  apps/web/src/store/selectors/getBootstrap.js
  docs/REDUX_REMEMBER_BOOTSTRAP_PLAN.md
  yarn.lock
Due: web-changed

Polish simple-group settings and one-column dashboard
  apps/web/src/routes/AuthLayoutRouter/components/TopNav/TopNav.jsx
  apps/web/src/routes/GroupSettings/GroupSettingsTab/GroupSettingsTab.js
Due: web-changed

Theme dashboard cards and menu rows by postType color with icon patterns
  apps/web/e2e/dashboard-cards.spec.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/CardIconField.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuGrid.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MenuLink/MenuLink.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MenuRowBackground.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/viewCardTheme.js
Due: web-changed

More tweaks to navigation and menu editing
  apps/backend/migrations/20260723160000_ensure_common_off_menu_views.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/GroupViewEditList.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MoreViewsPage.jsx
Due: backend-changed, web-changed

Fix Done Editing bar to the viewport bottom on More Views and Spaces
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MoreViewsPage.jsx
Due: web-changed

Apply themed card design to More Views and Spaces page
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MoreViewsPage.jsx
Due: web-changed

Increase size of LRU cache for group data; also cache fetchGroupsMenuData
  apps/web/src/store/actions/fetchGroupsMenuData.js
  apps/web/src/store/bootstrap/bootstrapReplayMeta.js
  apps/web/src/store/bootstrap/bootstrapStorageDriver.js
  apps/web/src/store/bootstrap/replayBootstrapIntoOrm.js
  apps/web/src/store/reducers/bootstrap.js
  apps/web/src/store/reducers/bootstrap.test.js
Due: web-changed

Light-mode variants and interaction polish for themed cards and menu rows
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuGrid.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MenuLink/MenuLink.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MenuRowBackground.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MoreViewsPage.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/viewCardTheme.js
Due: web-changed

Update fetchGroupsMenuData to the new spaces paradigm
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuGrid.jsx
  apps/web/src/store/actions/fetchGroupsMenuData.js
  apps/web/src/store/util/extractNestedGroups.js
Due: web-changed

Basic structural update to My Groups view
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/GroupCard/GroupCard.js
  apps/web/src/routes/UserSettings/UserGroupsTab/UserGroupsTab.js
  apps/web/src/store/selectors/getMyGroups.js
  apps/web/src/store/selectors/selectors.test.js
Due: web-changed

Clean up how groups and spaces are cached for menu loads
  apps/web/src/store/actions/fetchGroupsMenuData.js
  apps/web/src/store/bootstrap/bootstrapReplayMeta.js
  apps/web/src/store/reducers/bootstrap.js
Due: web-changed

Attempt to get branch-based instances working for heroku with cookie changes
  apps/web/package.json
  apps/web/src/client/resolveSocketHost.js
  apps/web/src/client/resolveSocketHost.test.js
  apps/web/src/client/websockets.js
  apps/web/src/server/apiProxy.js
  apps/web/src/server/index.js
  apps/web/src/server/rewriteProxySetCookie.js
  apps/web/src/server/rewriteProxySetCookie.test.js
  apps/web/src/server/socketProxy.js
  yarn.lock
Due: web-changed

Fix cookie handling for mobile
  apps/mobile/src/util/session.js
Due: mobile-changed

pre-release for 6.3.9
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Simplify menu hover to pure CSS, add press detent and More Views badge
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuGrid.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MoreViewsPage.jsx
Due: web-changed

Restyle chat to the denser left-aligned design
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/CardImageAttachments/CardImageAttachments.js
  apps/web/src/components/ChatEditor/ChatEditor.js
  apps/web/src/components/EmojiPill/EmojiPill.js
  apps/web/src/components/EmojiRow/EmojiRow.js
  apps/web/src/components/LinkPreview/LinkPreview.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
  apps/web/src/routes/ChatRoom/ChatPostNotice.jsx
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/util/mainContentColumn.js
Due: web-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
