Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Backend v6.4.0
  apps/backend/CHANGELOG.md
  apps/backend/package.json
Due: backend-changed

Web v6.4.4
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: web-changed

Better design of funding rounds list on mobile
  apps/web/src/routes/FundingRoundHome/SubmissionsTab.jsx
  apps/web/src/routes/FundingRounds/FundingRounds.jsx
Due: web-changed

CHANGELOG
  apps/web/CHANGELOG.md
Due: web-changed

Update a range of tests; add pre-push hook for backend tests
  .githooks/pre-push
  apps/backend/api/controllers/CommentController.js
  apps/backend/api/graphql/index.js
  apps/backend/api/graphql/mutations/collection.js
  apps/backend/api/graphql/mutations/context_widgets.test.js
  apps/backend/api/graphql/mutations/track.js
  apps/backend/api/graphql/mutations/track.test.js
  apps/backend/api/models/ContextWidget.js
  apps/backend/api/models/Track.js
  apps/backend/api/models/User.js
  apps/backend/lib/graphql-bookshelf-bridge/makeResolvers.js
  apps/backend/migrations/schema.sql
  apps/backend/test/unit/controllers/CommentController.test.js
  apps/web/.husky/pre-push
  apps/web/src/store/actions/contextWidgets/index.js
  apps/web/src/store/constants.js
Due: backend-changed, web-changed

Initial post sockets fix for missing editedAt value
  apps/backend/api/models/Post.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: backend-changed, web-changed

Add data-loading indicator for chatroom
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Refresh chatrooms when newly focused/visible
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Try to fix scroll failure in the chat room
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Further scrolling fix attempts
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Don't add general topic to action posts
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Don't include actions and submissions in new post counts for topics/chat rooms
  apps/backend/api/models/post/createPost.js
Due: backend-changed

Add some error handling and cache clearing related to auth
  apps/web/src/routes/NonAuthLayoutRouter/Login/Login.js
  apps/web/src/routes/RootRouter/RootRouter.js
Due: web-changed

Dont use skeleton while checking login; we dont know that itll next load a logged in page
  apps/web/src/routes/RootRouter/RootRouter.js
Due: web-changed

fix(ios): exclude /oauth/* from Universal Links so OIDC clients can complete sign-in in the browser
  apps/web/public/apple-app-site-association
Due: web-changed

Remove query results from redux-persist
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/store/index.js
Due: web-changed

Revert change that prevented fix from correctly resetting broken new post count
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Web v6.4.5
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: web-changed

Remove unnecessary post fetch fallback
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Twaeked changelog
  apps/backend/CHANGELOG.md
Due: backend-changed

Add link to Shivam Pandit to CHANGELOG
  apps/backend/CHANGELOG.md
Due: backend-changed

Avoid PostEditor autofocus on mobile web
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Strip out scrolling related stuff
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Properly use isAuthorized and use safer uri decoding
  apps/mobile/src/navigation/linking/getStateFromPath.js
  apps/mobile/src/screens/LoginByTokenHandler/LoginByTokenHandler.js
Due: mobile-changed

6.3.6 pre-release for mobiel
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Guard against empty me during logouts
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.store.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.store.test.js
Due: web-changed

Fix content access changes to offerings during edits
  apps/backend/api/graphql/makeSchema.js
Due: backend-changed

Outline verification wait period when setting up stripe account
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/GroupSettings/PaidContentTab/AccountTab.js
  apps/web/src/routes/GroupSettings/PaidContentTab/PaidContentTab.js
Due: web-changed

Add some white space when my/transactions doesnt have any results
  apps/web/src/routes/MyTransactions/MyTransactions.jsx
Due: web-changed

Change copy for platform contributions
  apps/backend/api/graphql/mutations/stripe.js
  apps/backend/api/services/StripeService.js
  apps/backend/lib/i18n/de.js
  apps/backend/lib/i18n/en.js
  apps/backend/lib/i18n/es.js
  apps/backend/lib/i18n/fr.js
  apps/backend/lib/i18n/hi.js
  apps/backend/lib/i18n/pt.js
Due: backend-changed

Remove redux persist
  apps/web/package.json
  apps/web/src/router/index.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/Stream/Stream.js
  apps/web/src/store/index.js
  apps/web/src/store/reducers/resetStore.js
  yarn.lock
Due: web-changed

Remove code that might cause login to fail?
  apps/web/src/routes/RootRouter/RootRouter.js
Due: web-changed

Cleaned up single column layout
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/OneColumnLayout.jsx
Due: web-changed

Fixed iPad issues with keyboard covering comment input
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.js
  apps/web/src/routes/PostDetail/Comments/Comments.js
  apps/web/src/util/mobile.js
Due: web-changed

Mobile pre-release for 6.3.7
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Removed margin on group settings
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Fix double-margin gap below comment form on iPhone
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.js
  apps/web/src/routes/PostDetail/Comments/Comments.js
Due: web-changed

Fix requirement to answer join questions when joining a group
  apps/web/src/routes/GroupDetail/JoinSection.jsx
Due: web-changed

Make calender picker easier to use on mobile
  apps/web/src/components/ui/datetimepicker.jsx
Due: web-changed

Tweak layout of calender in mobile web
  apps/web/src/components/ui/datetimepicker.jsx
Due: web-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
