Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

Fix newrelic on production
  apps/web/index.html
  apps/web/package.json
  apps/web/src/index.jsx
  apps/web/src/router/Root.jsx
  apps/web/src/server/appMiddleware.js
  apps/web/src/server/appMiddleware.test.js
  apps/web/src/server/index.js
  apps/web/src/server/newrelic.js
  apps/web/src/util/locale.js
  yarn.lock
Due: web-changed

Remove comment connector
  apps/web/src/components/HyloEditor/HyloEditor.module.scss
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.connector.js
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.connector.test.js
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.jsx
  apps/web/src/routes/PostDetail/Comments/Comment/index.js
Due: web-changed

Switch from react-icons to lucide
  apps/web/app.json
  apps/web/package.json
  apps/web/src/components/HyloEditor/HyloEditor.js
  apps/web/src/components/HyloEditor/HyloEditor.module.scss
  apps/web/src/components/HyloEditor/HyloEditorBottomMenuBar.js
  apps/web/src/components/HyloEditor/HyloEditorMenuBar.js
  apps/web/src/components/PostEditor/LinkPreview/LinkPreview.js
  apps/web/src/components/SocketSubscriber/SocketSubscriber.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/ChatRoom/ChatRoom.module.scss
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.js
  yarn.lock
Due: web-changed

Tell back-end to use yarn for workspaces
  apps/backend/package.json
Due: backend-changed

Try to fix back-end deploy to heroku
  apps/backend/package.json
Due: backend-changed

Fix yarn.lock
  package.json
  yarn.lock
Due: none

chore(mobile): Search URQL'ifed, some bugs
  apps/mobile/README.md
  apps/mobile/src/screens/MemberProfile/MemberStream/__snapshots__/MemberStream.connector.test.js.snap
  apps/mobile/src/screens/MemberProfile/__snapshots__/MemberProfile.connector.test.js.snap
  apps/mobile/src/screens/Members/__snapshots__/Members.connector.test.js.snap
  apps/mobile/src/screens/SearchPage/SearchPage.connector.js
  apps/mobile/src/screens/SearchPage/SearchPage.connector.test.js
  apps/mobile/src/screens/SearchPage/SearchPage.js
  apps/mobile/src/screens/SearchPage/SearchPage.store.js
  apps/mobile/src/screens/SearchPage/SearchPage.store.test.js
  apps/mobile/src/screens/SearchPage/__snapshots__/SearchPage.connector.test.js.snap
  apps/mobile/src/screens/SearchPage/__snapshots__/SearchPage.store.test.js.snap
  apps/mobile/src/screens/SearchPage/index.js
  apps/mobile/src/store/reducers/index.js
  apps/mobile/src/urql-shared/keys.js
Due: mobile-changed

Fix migrate i hope
  package.json
Due: none

Move babel stuff to devDependencies
  apps/backend/config/views.js
  apps/backend/package.json
  yarn.lock
Due: backend-changed

Try to fix backend deploy
  package.json
  yarn.lock
Due: none

Add worker in main package for back-end deploy
  package.json
Due: none

Put babel back in dependencies for worker.js
  apps/backend/package.json
Due: backend-changed

Try to get slug size under 500
  apps/backend/config/bootstrap.js
  apps/backend/package.json
  apps/backend/worker.js
  yarn.lock
Due: backend-changed

Smaller slug??
  apps/backend/package.json
  yarn.lock
Due: backend-changed

Remove unused dependency from shared
  packages/shared/package.json
  yarn.lock
Due: none

Remove newrelic
  apps/backend/.env.example
  apps/backend/app.js
  apps/backend/lib/skiff.js
  apps/backend/newrelic.js
  apps/backend/package.json
  apps/web/newrelic.js
  yarn.lock
Due: backend-changed, web-changed

Try to fix backend deploy again
  apps/backend/package.json
  package.json
  yarn.lock
Due: backend-changed

Try to fix back-end deploy to heroku
  apps/backend/.env.example
  apps/backend/app.js
  apps/backend/config/bootstrap.js
  apps/backend/config/views.js
  apps/backend/lib/skiff.js
  apps/backend/newrelic.js
  apps/backend/package.json
  apps/backend/worker.js
  apps/web/newrelic.js
  package.json
  packages/shared/package.json
  yarn.lock
Due: backend-changed, web-changed

Fix image uploads for chat posts
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Make sure images are blurred on flagged posts
  apps/web/src/components/PostCard/PostCard.jsx
  apps/web/src/components/PostCard/PostCard.module.scss
Due: web-changed

Fix boldness of tooltips in safari
  apps/web/src/components/Tooltip/Tooltip.module.scss
Due: web-changed

Fix blurring of flagged posts on map and in chat rooms
  apps/web/src/components/CardImageAttachments/CardImageAttachments.js
  apps/web/src/components/CardImageAttachments/CardImageAttachments.module.scss
  apps/web/src/components/PostCard/PostBody/PostBody.module.scss
  apps/web/src/components/PostCard/PostCard.jsx
  apps/web/src/components/PostCard/PostCard.module.scss
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/Events/Events.js
  apps/web/src/routes/MapExplorer/MapDrawer/MapDrawer.js
  apps/web/src/routes/PostDetail/PostDetail.js
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

Fix deck.gl to version 9.0.35
  apps/web/package.json
  yarn.lock
Due: web-changed

Once again build @hylo/shared when starting backend dev server
  apps/backend/package.json
  apps/web/package.json
Due: backend-changed, web-changed

chore(mobile): Tidying up
  apps/mobile/src/components/MemberList/MemberList.js
  apps/mobile/src/components/StreamList/StreamList.js
  apps/mobile/src/hooks/useEnsureGroupTopics.js
Due: mobile-changed

chore(mobile): Completes URQL version of Search, including pagination
  apps/mobile/src/screens/SearchPage/SearchPage.js
  apps/mobile/src/screens/SearchPage/SearchPage.styles.js
  apps/mobile/src/urql-shared/resolvers/index.js
Due: mobile-changed

chore(mobile): Final checks/touch-ups, and smaller initial queries for Streams
  apps/mobile/src/components/StreamList/StreamList.js
  apps/mobile/src/screens/MemberProfile/MemberStream/MemberStream.js
  apps/mobile/src/screens/PostDetails/PostDetails.js
  apps/mobile/src/screens/Stream/Stream.js
Due: mobile-changed

chore(mobile): Update URQL todo list in README
  apps/mobile/README.md
Due: mobile-changed

Actually we dont need the babel cache clear on start anymore
  apps/web/package.json
  apps/web/src/graphql/fragments/groupQueryFragment.js
Due: web-changed

chore(mobile): Get Messages area mostly URQl'ified. NewMessage remains
  apps/mobile/README.md
  apps/mobile/src/components/ThreadCard/index.js
  apps/mobile/src/graphql/queries/messageThreadMessagesQuery.js
  apps/mobile/src/screens/Thread/Thread.connector.js
  apps/mobile/src/screens/Thread/Thread.connector.test.js
  apps/mobile/src/screens/Thread/Thread.js
  apps/mobile/src/screens/Thread/Thread.store.js
  apps/mobile/src/screens/Thread/Thread.store.test.js
  apps/mobile/src/screens/Thread/ThreadHeaderTitle.js
  apps/mobile/src/screens/Thread/__snapshots__/Thread.connector.test.js.snap
  apps/mobile/src/screens/Thread/__snapshots__/Thread.store.test.js.snap
  apps/mobile/src/screens/Thread/index.js
  apps/mobile/src/screens/ThreadList/ThreadList.connector.js
  apps/mobile/src/screens/ThreadList/ThreadList.connector.test.js
  apps/mobile/src/screens/ThreadList/ThreadList.js
  apps/mobile/src/screens/ThreadList/ThreadList.store.js
  apps/mobile/src/screens/ThreadList/ThreadList.store.test.js
  apps/mobile/src/screens/ThreadList/__snapshots__/ThreadList.connector.test.js.snap
  apps/mobile/src/screens/ThreadList/__snapshots__/ThreadList.store.test.js.snap
  apps/mobile/src/screens/ThreadList/index.js
  apps/mobile/src/screens/ThreadParticipants/ThreadParticipants.js
  apps/mobile/src/urql-shared/keys.js
  apps/mobile/src/urql-shared/resolvers/cursorPagination.js
  apps/mobile/src/urql-shared/resolvers/index.js
Due: mobile-changed

chore(mobile): Adjust Search Page results so People fetches more than other types
  apps/mobile/src/screens/SearchPage/SearchPage.js
Due: mobile-changed

chore(mobile): Begin removing unused ReduxORM and QueryResults code
  apps/mobile/src/graphql/mutations/createJoinRequestMutation.js
  apps/mobile/src/graphql/mutations/createPostMutation.js
  apps/mobile/src/graphql/mutations/createProjectMutation.js
  apps/mobile/src/graphql/mutations/deactivateMeMutation.js
  apps/mobile/src/graphql/mutations/deleteMeMutation.js
  apps/mobile/src/graphql/mutations/processStripTokenMutation.js
  apps/mobile/src/graphql/mutations/respondToEventMutation.js
  apps/mobile/src/graphql/mutations/updateCommentMutation.js
  apps/mobile/src/graphql/mutations/updatePostMutation.js
  apps/mobile/src/hooks/useCurrentUser.js
  apps/mobile/src/screens/CreateGroupFlow/CreateGroupFlow.store.js
  apps/mobile/src/screens/GroupExploreWebView/GroupExploreWebView.js
  apps/mobile/src/screens/MemberProfile/MemberProfile.connector.js
  apps/mobile/src/screens/NotificationsList/NotificationsList.store.js
  apps/mobile/src/store/actions/__snapshots__/updateGroupSettings.test.js.snap
  apps/mobile/src/store/actions/createJoinRequest.js
  apps/mobile/src/store/actions/createPost.js
  apps/mobile/src/store/actions/createProject.js
  apps/mobile/src/store/actions/deactivateMe.js
  apps/mobile/src/store/actions/deleteMe.js
  apps/mobile/src/store/actions/fetchCurrentUser.js
  apps/mobile/src/store/actions/fetchPost.js
  apps/mobile/src/store/actions/fetchThreads.js
  apps/mobile/src/store/actions/fetchTopics.js
  apps/mobile/src/store/actions/findMentions.js
  apps/mobile/src/store/actions/findTopics.js
  apps/mobile/src/store/actions/processStripeToken.js
  apps/mobile/src/store/actions/respondToEvent.js
  apps/mobile/src/store/actions/toggleGroupTopicSubscribe.js
  apps/mobile/src/store/actions/updateComment.js
  apps/mobile/src/store/actions/updateGroupSettings.js
  apps/mobile/src/store/actions/updateGroupSettings.test.js
  apps/mobile/src/store/actions/updatePost.js
  apps/mobile/src/store/actions/uploadAttachment.js
  apps/mobile/src/store/constants.js
  apps/mobile/src/store/middleware/userBlockingMiddleware.js
  apps/mobile/src/store/reducers/ormReducer/index.js
  apps/mobile/src/store/reducers/queryResults.js
  apps/mobile/src/store/selectors/getDefaultTopics.js
Due: mobile-changed

chore(mobile): Move URQL todo list out of README
  apps/mobile/README.md
Due: mobile-changed

chore(mobile): Tidying
  apps/mobile/src/components/StreamList/StreamList.store.js
  apps/mobile/src/screens/GroupExploreWebView/GroupExploreWebView.js
Due: mobile-changed

Fix a bunch of routing
  apps/web/src/components/GroupBanner/GroupBanner.jsx
  apps/web/src/components/GroupCard/GroupCard.js
  apps/web/src/components/ModerationListItem/ModerationListItem.js
  apps/web/src/components/PostCard/PostBody/PostBody.module.scss
  apps/web/src/components/PostCard/PostCard.jsx
  apps/web/src/components/Widget/GroupsWidget/GroupsWidget.js
  apps/web/src/hooks/useEnsureCurrentGroup/index.js
  apps/web/src/hooks/useEnsurePosts/index.js
  apps/web/src/hooks/useRouteParams/index.js
  apps/web/src/hooks/useRouterParams/index.js
  apps/web/src/routes/AllTopics/AllTopics.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/Navigation.js
  apps/web/src/routes/GroupExplorer/GroupSearch/GroupSearch.js
  apps/web/src/routes/Groups/Groups.jsx
  apps/web/src/routes/MapExplorer/MapExplorer.js
  apps/web/src/routes/NonAuthLayoutRouter/ManageNotifications/ManageNotifications.js
Due: web-changed

Load moderation actions when that is selected on the Decisions view
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

Fix clipping and blur on list view stream
  apps/web/src/components/PostListRow/PostListRow.js
  apps/web/src/components/PostListRow/PostListRow.module.scss
  apps/web/src/routes/PostDetail/PostDetail.js
Due: web-changed

chore(mobile): Add TODO comments
  apps/mobile/src/hooks/useHasResponsibility.js
  apps/mobile/src/screens/DrawerMenu/DrawerMenu.js
  apps/mobile/src/screens/PostEditor/PostEditor.js
Due: mobile-changed

chore(mobile): Update TODO comments
  apps/mobile/src/components/Comment/Comment.js
  apps/mobile/src/components/CommentEditor/CommentEditor.js
  apps/mobile/src/components/PostCard/PostCardForDetails.js
  apps/mobile/src/graphql/mutations/createPostMutation.js
  apps/mobile/src/graphql/mutations/createProjectMutation.js
  apps/mobile/src/graphql/mutations/updatePostMutation.js
  apps/mobile/src/screens/CreateGroupFlow/CreateGroupFlow.store.js
  apps/mobile/src/urql-shared/hooks/useReactOnEntity.js
  apps/mobile/src/urql-shared/presenters/GroupPresenter.js
Due: mobile-changed

chore(mobile): Fixes useHasResponsibility
  apps/mobile/src/graphql/queries/meQuery.js
Due: mobile-changed
