Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

Fixed skills & interests selection
  apps/web/src/components/Pillbox/Pillbox.js
  apps/web/src/components/SkillsSection/SkillsSection.js
Due: web-changed

Update offering urls to redirect to the about page
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/GroupSettings/PaidContentTab/OfferingsTab.js
  apps/web/src/routes/OfferingDetails/OfferingDetails.jsx
  apps/web/src/routes/RootRouter/RootRouter.js
  packages/navigation/src/index.js
Due: web-changed

Update test scenarios and add one day subscriptions
  apps/backend/api/controllers/StripeController.js
  apps/backend/api/graphql/mutations/stripe.js
  apps/backend/api/models/ContentAccess.js
  apps/backend/api/models/StripeProduct.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/GroupSettings/PaidContentTab/OfferingsTab.js
  docs/INVITATION_LINKS_ARCHITECTURE.md
Due: backend-changed, web-changed

Add revoke button for content access records
  apps/backend/api/controllers/StripeController.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/contentAccess.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/ContentAccess.js
  apps/backend/api/services/StripeService.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/GroupSettings/PaidContentTab/ContentAccessTab.js
  apps/web/src/store/actions/refundContentAccess.js
  apps/web/src/store/actions/revokeContentAccess.js
  apps/web/src/store/constants.js
Due: backend-changed, web-changed

Fixed up forest theme a bit in dark mode to make it more cohesive
  apps/web/src/themes/index.js
Due: web-changed

Fixed globalNav transparency issue
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

Fix bug where creating a post for a chat room when not in that chat room would not show you the post
  apps/backend/api/models/post/createPost.js
Due: backend-changed

Web & back-end v6.2.6
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

disable donations for now
  apps/backend/api/services/StripeService.js
Due: backend-changed

Fix staging
  apps/backend/api/controllers/StripeController.js
  apps/backend/api/models/ContentAccess.js
Due: backend-changed

Try to fix staging again
  apps/backend/api/graphql/mutations/contentAccess.js
Due: backend-changed

Add set donation line item for hylo donations
  apps/backend/api/services/StripeService.js
Due: backend-changed

Renable refunds with the correct logic
  apps/backend/Procfile.dev-stripe
  apps/backend/api/controllers/StripeController.js
  apps/backend/api/graphql/mutations/contentAccess.js
  apps/backend/api/models/ContentAccess.js
  apps/backend/api/services/StripeService.js
  apps/backend/package.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/GroupSettings/PaidContentTab/ContentAccessTab.js
Due: backend-changed, web-changed

Avoid cursor adding faulty imports
  .cursorrules
Due: none

Scope mentions and topic selections
  apps/web/src/components/HyloEditor/extensions/PeopleMentions.js
  apps/web/src/components/HyloEditor/extensions/TopicMentions.js
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/TopicSelector/TopicSelector.js
  apps/web/src/graphql/queries/topicsQuery.js
  apps/web/src/store/selectors/getDefaultTopics.js
Due: web-changed

requested changes
  apps/backend/api/models/EventInvitation.js
  apps/backend/api/models/Group.js
  apps/backend/api/models/Post.js
  apps/backend/api/models/event/mixin.js
  apps/backend/api/models/event/mixin.test.js
  apps/backend/test/unit/models/Post.test.js
Due: backend-changed

Fix About context widget to go to the right place
  packages/navigation/src/index.js
Due: none

Make chat digests come from DoNotReply@hylo.com so they bounce back instead of us receiving them
  apps/backend/api/models/TagFollow.js
Due: backend-changed

web and backend v6.2.7
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

Update web CHANGELOG
  apps/web/CHANGELOG.md
Due: web-changed

calendar_token in group creation
  apps/backend/api/models/Group.js
Due: backend-changed

test calendar_token on group creation
  apps/backend/test/unit/models/Group.test.js
Due: backend-changed

bug: fix group membership setting overwrite
  apps/backend/api/models/Group.js
  apps/backend/test/unit/models/Group.test.js
Due: backend-changed

Remove conditional for offerings create/edit ui
  apps/web/src/routes/GroupSettings/PaidContentTab/OfferingsTab.js
Due: web-changed

Support 1px borders with border-1
  apps/web/tailwind.config.js
Due: web-changed

Remove terms and conditions from My Home menu
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  packages/presenters/src/ContextWidgetPresenter.js
Due: web-changed

Fix display of Finish Setting up your group
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Fix color of pinned groups separator
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

Improve many display issues with tracks and funding rounds
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/FundingRoundHome/AboutTab.jsx
  apps/web/src/routes/FundingRoundHome/FundingRoundHome.jsx
  apps/web/src/routes/TrackHome/TrackHome.jsx
Due: web-changed

Fix text color in event calendar icon
  apps/web/src/components/PostCard/EventDate/EventDate.js
Due: web-changed

Fix destructive background in dark mode
  apps/web/src/themes/index.js
Due: web-changed

Spring, Fall, Granite
  apps/web/src/components/ThemeSelector/ThemeSelector.js
  apps/web/src/contexts/ThemeContext.js
  apps/web/src/themes/index.js
Due: web-changed

Increased opacity of groupheader image, changed "Your profile" -> "My Home" to match the "your" vs "my" within /my/, also based on feedback from anita and sam
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

Add border around create modal
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Improved fall and renamed spring to blossom
  apps/web/src/components/ThemeSelector/ThemeSelector.js
  apps/web/src/contexts/ThemeContext.js
  apps/web/src/themes/index.js
Due: web-changed

Fixed Stone and cleaned up commentForm
  apps/web/src/components/HyloEditor/HyloEditor.js
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.js
  apps/web/src/themes/index.js
Due: web-changed

Fixed up fall theme to be more orange and red
  apps/web/src/themes/index.js
Due: web-changed
