Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

Keep the Android app prompt under the post composer
  apps/web/src/components/AppInstallPrompt/AppInstallPrompt.jsx
  apps/web/src/components/AppInstallPrompt/AppInstallPrompt.test.js
Due: web-changed

Check on Android that the app prompt stays under the composer
  apps/web/e2e/composer-and-share.spec.js
Due: web-changed

Tear down the isolated e2e stack after failed tests too
  apps/web/scripts/run-isolated-e2e.js
Due: web-changed

Accept the phone inbox in the messages spec once a thread exists
  apps/web/e2e/authenticated.messages.spec.js
Due: web-changed

Name the new specs' screenshots per project
  apps/web/e2e/close-group.spec.js
  apps/web/e2e/composer-and-share.spec.js
  apps/web/e2e/create-group-and-policy.spec.js
Due: web-changed

Sign in afresh before the sign-out test in the session spec
  apps/web/e2e/authenticated.auth-session.spec.js
Due: web-changed

Accept a geoShape boundary when creating groups and spaces
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/spaces.js
  apps/backend/api/graphql/mutations/spaces.test.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Group.js
  apps/backend/test/unit/models/Group.test.js
Due: backend-changed

Web and backend v7.1.1
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

Draw a boundary polygon from the Location pill when creating groups and spaces
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/LocationWithBoundary/LocationWithBoundary.jsx
  apps/web/src/components/Map/EditableMap/EditableMap.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddSpaceDialog.jsx
  apps/web/src/routes/CreateGroup/CreateGroupForm.jsx
  apps/web/src/store/actions/groupViews.js
Due: web-changed

Add e2e coverage for drawing a group boundary at creation
  apps/web/e2e/create-group-boundary.spec.js
Due: web-changed

Let stewards block removed people from rejoining a group
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/group.ban.test.js
  apps/backend/api/graphql/mutations/group.js
  apps/backend/api/graphql/mutations/join_request.ban.test.js
  apps/backend/api/graphql/mutations/join_request.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/GroupBan.js
  apps/backend/api/services/InvitationService.js
  apps/backend/migrations/20261014000000_group_bans.js
  apps/backend/migrations/schema.sql
  apps/backend/package.json
Due: backend-changed

Leave posts members already got by email or have read out of their digests
  apps/backend/lib/group/digest2/dedupe.js
  apps/backend/lib/group/digest2/personalizeData.js
  apps/backend/migrations/20261011000100_digest_dedupe_indexes.js
  apps/backend/migrations/schema.sql
  apps/backend/test/unit/migrations/20261011000100_digest_dedupe_indexes.test.js
  apps/backend/test/unit/services/digest2.content.test.js
Due: backend-changed

Name the top post in digest subjects and add a preview line
  apps/backend/lib/group/digest2/personalizeData.js
  apps/backend/lib/i18n/de.js
  apps/backend/lib/i18n/en.js
  apps/backend/lib/i18n/es.js
  apps/backend/lib/i18n/fr.js
  apps/backend/lib/i18n/hi.js
  apps/backend/lib/i18n/pt.js
  apps/backend/test/unit/services/digest2.content.test.js
  scripts/i18n/i18n-templates/Digest_Email_i18n/preheader.liquid
  scripts/i18n/i18n-templates/Digest_Email_i18n/template_data.json
Due: backend-changed

Group social feedback notices per item, with one push per hour
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Activity.js
  apps/backend/api/models/Notification.js
  apps/backend/api/models/notification/grouping.js
  apps/backend/migrations/20261012000000_activities_group_key.js
  apps/backend/migrations/schema.sql
  apps/backend/test/unit/migrations/20261012000000_activities_group_key.test.js
  apps/backend/test/unit/models/notification/grouping.test.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationsDropdown.store.js
Due: backend-changed, web-changed

Say who sent any email invitation in the invitation check
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/services/InvitationService.js
  apps/backend/test/unit/services/InvitationService.inviter.test.js
  apps/backend/test/unit/services/InvitationService.test.js
Due: backend-changed

Use single quotes in the invitation check test
  apps/backend/test/unit/services/InvitationService.inviter.test.js
Due: backend-changed

Add an end-to-end check that the About page lists Hosts as stewards
  apps/backend/scripts/seed-e2e-baseline.js
  apps/web/e2e/stewards-list.spec.js
Due: backend-changed, web-changed

Make "message the stewards" open a message again
  apps/web/src/components/Widget/OpportunitiesToCollaborateWidget/OpportunitiesToCollaborateWidget.js
  apps/web/src/components/Widget/OpportunitiesToCollaborateWidget/OpportunitiesToCollaborateWidget.test.js
Due: web-changed

Tell Administrators, Moderators and Hosts when someone joins, and list Hosts as stewards
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/models/Group.js
  apps/backend/api/models/group/stewardAudience.js
  apps/backend/api/models/notification/rules/inAppOnly.js
  apps/backend/api/models/notification/rules/index.js
  apps/backend/test/unit/models/group/stewardAudience.test.js
Due: backend-changed

Add one line about the weekly-digest mix-up to people's next weekly digest
  apps/backend/lib/group/digest2/index.js
  apps/backend/lib/group/digest2/personalizeData.js
  apps/backend/lib/group/digest2/weeklyNotice.js
  apps/backend/lib/i18n/de.js
  apps/backend/lib/i18n/en.js
  apps/backend/lib/i18n/es.js
  apps/backend/lib/i18n/fr.js
  apps/backend/lib/i18n/hi.js
  apps/backend/lib/i18n/pt.js
  apps/backend/migrations/20261011000000_flag_weekly_digest_notice.js
  apps/backend/test/unit/migrations/20261011000000_flag_weekly_digest_notice.test.js
  apps/backend/test/unit/services/digest2.content.test.js
  scripts/i18n/i18n-templates/Digest_Email_i18n/html.liquid
  scripts/i18n/i18n-templates/Digest_Email_i18n/text.liquid
Due: backend-changed

Offer scoped unsubscribe choices on the emailed settings page
  apps/backend/api/controllers/UserController.js
  apps/backend/api/models/GroupViewUser.js
  apps/backend/api/models/comment/notifications.js
  apps/backend/api/models/notification/rules/index.js
  apps/backend/api/models/notification/rules/unsubscribeScope.js
  apps/backend/lib/email/emailTypes.js
  apps/backend/lib/group/digest2/util.js
  apps/backend/test/unit/controllers/UserController.test.js
  apps/backend/test/unit/models/GroupViewUser.delivery.test.js
  apps/backend/test/unit/models/comment/notifications.scope.test.js
  apps/backend/test/unit/models/notification/readerFilters.test.js
  apps/backend/test/unit/services/digest2.recipients.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/NonAuthLayoutRouter/ManageNotifications/ManageNotifications.js
  apps/web/src/routes/NonAuthLayoutRouter/ManageNotifications/ManageNotifications.test.js
  apps/web/src/store/actions/updateNotificationSettings.js
Due: backend-changed, web-changed

Record unanswered join requests and newcomers' unanswered first posts
  apps/backend/migrations/20261013000000_steward_notices.js
  apps/backend/migrations/schema.sql
Due: backend-changed

Send payment-failed and renewal-reminder emails as transactional
  apps/backend/api/services/Email.js
  apps/backend/lib/email/emailTypes.js
  apps/backend/test/unit/services/Email.test.js
Due: backend-changed

Tell people when someone accepts their invitation
  apps/backend/api/models/Activity.js
  apps/backend/api/models/Group.js
  apps/backend/api/models/Notification.js
  apps/backend/api/models/PushNotification.js
  apps/backend/api/models/invitation/invitationAccepted.js
  apps/backend/api/models/notification/priorityReasons.js
  apps/backend/api/models/notification/signalClasses.js
  apps/backend/lib/i18n/de.js
  apps/backend/lib/i18n/en.js
  apps/backend/lib/i18n/es.js
  apps/backend/lib/i18n/fr.js
  apps/backend/lib/i18n/hi.js
  apps/backend/lib/i18n/pt.js
  apps/backend/test/unit/models/Invitation.accepted.test.js
  apps/backend/test/unit/models/notification/signalClasses.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  packages/presenters/src/NotificationPresenter.js
Due: backend-changed, web-changed

Tell authors when people react to their posts and comments (experiment)
  apps/backend/api/models/Activity.js
  apps/backend/api/models/Comment.js
  apps/backend/api/models/Notification.js
  apps/backend/api/models/Post.js
  apps/backend/api/models/PushNotification.js
  apps/backend/api/models/notification/priorityReasons.js
  apps/backend/api/models/notification/signalClasses.js
  apps/backend/api/models/notification/socialNotices.js
  apps/backend/lib/i18n/de.js
  apps/backend/lib/i18n/en.js
  apps/backend/lib/i18n/es.js
  apps/backend/lib/i18n/fr.js
  apps/backend/lib/i18n/hi.js
  apps/backend/lib/i18n/pt.js
  apps/backend/test/unit/models/Comment.reactions.test.js
  apps/backend/test/unit/models/Post.notices.test.js
  apps/backend/test/unit/models/notification/signalClasses.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationPresenter.activityNotices.test.js
  packages/presenters/src/NotificationPresenter.js
Due: backend-changed, web-changed

Add one-click unsubscribe to bulk email, stopping only that kind of email
  apps/backend/api/controllers/UnsubscribeController.js
  apps/backend/api/models/GroupViewUser.js
  apps/backend/api/models/Notification.js
  apps/backend/api/models/comment/notifications.js
  apps/backend/api/services/Email.js
  apps/backend/config/policies.js
  apps/backend/config/routes.js
  apps/backend/lib/email/applyUnsubscribe.js
  apps/backend/lib/email/emailTypes.js
  apps/backend/lib/email/unsubscribeToken.js
  apps/backend/lib/group/digest2/index.js
  apps/backend/test/unit/controllers/UnsubscribeController.test.js
  apps/backend/test/unit/lib/unsubscribeToken.test.js
  apps/backend/test/unit/services/Email.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/NonAuthLayoutRouter/EmailUnsubscribe/EmailUnsubscribe.js
  apps/web/src/routes/NonAuthLayoutRouter/EmailUnsubscribe/EmailUnsubscribe.test.js
  apps/web/src/routes/NonAuthLayoutRouter/NonAuthLayoutRouter.js
  apps/web/src/routes/RootRouter/RootRouter.js
Due: backend-changed, web-changed

Expect the top post's title in the all-groups digest subject
  apps/backend/test/unit/services/digest2.test.js
Due: backend-changed

Nudge authors once when nobody has answered their request or offer
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/openRequestNudge.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Activity.js
  apps/backend/api/models/Notification.js
  apps/backend/api/models/PushNotification.js
  apps/backend/api/models/notification/priorityReasons.js
  apps/backend/api/models/notification/signalClasses.js
  apps/backend/api/models/post/openRequestNudge.js
  apps/backend/cron.js
  apps/backend/lib/i18n/de.js
  apps/backend/lib/i18n/en.js
  apps/backend/lib/i18n/es.js
  apps/backend/lib/i18n/fr.js
  apps/backend/lib/i18n/hi.js
  apps/backend/lib/i18n/pt.js
  apps/backend/test/unit/models/notification/signalClasses.test.js
  apps/backend/test/unit/models/post/openRequestNudge.test.js
Due: backend-changed

Tell event hosts when people say they're going or interested
  apps/backend/api/graphql/mutations/event.js
  apps/backend/api/graphql/mutations/event.test.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Activity.js
  apps/backend/api/models/Notification.js
  apps/backend/api/models/PushNotification.js
  apps/backend/api/models/notification/priorityReasons.js
  apps/backend/api/models/notification/signalClasses.js
  apps/backend/api/models/notification/socialNotices.js
  apps/backend/lib/i18n/de.js
  apps/backend/lib/i18n/en.js
  apps/backend/lib/i18n/es.js
  apps/backend/lib/i18n/fr.js
  apps/backend/lib/i18n/hi.js
  apps/backend/lib/i18n/pt.js
  apps/backend/test/unit/models/notification/signalClasses.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationPresenter.activityNotices.test.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationsDropdown.store.js
  packages/presenters/src/NotificationPresenter.js
Due: backend-changed, web-changed

Add an Open requests section to digests
  apps/backend/lib/group/digest2/formatData.js
  apps/backend/lib/group/digest2/index.js
  apps/backend/lib/group/digest2/mergeData.js
  apps/backend/lib/group/digest2/openRequests.js
  apps/backend/lib/group/digest2/personalizeData.js
  apps/backend/test/unit/services/digest2.content.test.js
  scripts/i18n/i18n-templates/Digest_Email_i18n/html.liquid
  scripts/i18n/i18n-templates/Digest_Email_i18n/template_data.json
Due: backend-changed

Let authors answer the open request nudge in one tap
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/PostDetail/OpenRequestPrompt.jsx
  apps/web/src/routes/PostDetail/PostDetail.js
  apps/web/src/routes/PostDetail/PostDetail.test.js
  apps/web/src/routes/PostDetail/postActionParams.js
  apps/web/src/store/actions/answerOpenRequestNudge.js
  apps/web/src/store/constants.js
  packages/presenters/src/NotificationPresenter.js
Due: web-changed

Land invitees on the group's About page, with one combined join screen
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/GroupDetail/GroupDetail.js
  apps/web/src/routes/GroupDetail/GroupDetail.test.js
  apps/web/src/routes/GroupDetail/JoinSection.jsx
  apps/web/src/routes/GroupDetail/JoinSection.test.js
  apps/web/src/routes/GroupWelcomeModal/GroupWelcomeModal.test.js
  apps/web/src/routes/JoinGroup/JoinGroup.js
  apps/web/src/routes/JoinGroup/JoinGroup.test.js
Due: web-changed

Forget first-touch source and email clicks when an account is deleted
  apps/backend/api/models/User.js
  apps/backend/test/unit/models/user/accountDeletion.test.js
Due: backend-changed

Tell members when a steward gives them a role or badge
  apps/backend/api/graphql/mutations/role.granted.test.js
  apps/backend/api/graphql/mutations/role.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Activity.js
  apps/backend/api/models/Notification.js
  apps/backend/api/models/notification/emailReasons.js
  apps/backend/api/models/notification/priorityReasons.js
  apps/backend/api/models/notification/signalClasses.js
  apps/backend/api/services/Email.js
  apps/backend/lib/email/emailTypes.js
  apps/backend/lib/i18n/de.js
  apps/backend/lib/i18n/en.js
  apps/backend/lib/i18n/es.js
  apps/backend/lib/i18n/fr.js
  apps/backend/lib/i18n/hi.js
  apps/backend/lib/i18n/pt.js
  apps/backend/test/unit/models/notification/signalClasses.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationsDropdown.store.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/stewardNotices.test.js
  packages/presenters/src/NotificationPresenter.js
  scripts/i18n/i18n-templates/Role_Granted_i18n/html.liquid
  scripts/i18n/i18n-templates/Role_Granted_i18n/metadata.json
  scripts/i18n/i18n-templates/Role_Granted_i18n/subject.liquid
  scripts/i18n/i18n-templates/Role_Granted_i18n/template_data.json
  scripts/i18n/sendwithus-locales/de-DE.po
  scripts/i18n/sendwithus-locales/en-US.po
  scripts/i18n/sendwithus-locales/es-ES.po
  scripts/i18n/sendwithus-locales/fr-FR.po
  scripts/i18n/sendwithus-locales/hi-IN.po
  scripts/i18n/sendwithus-locales/pt-BR.po
  scripts/i18n/sendwithus-locales/template.pot
Due: backend-changed, web-changed

Show learners their track progress and what to do next
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/TrackCard/TrackCard.jsx
  apps/web/src/components/TrackCompletionSuggestions/TrackCompletionSuggestions.jsx
  apps/web/src/components/TrackCompletionSuggestions/TrackCompletionSuggestions.test.js
  apps/web/src/components/TrackProgressBar/TrackProgressBar.jsx
  apps/web/src/components/TrackProgressBar/TrackProgressBar.test.js
  apps/web/src/components/TrackProgressBar/index.js
  apps/web/src/routes/MySpaceCollection/MySpaceCollection.jsx
  apps/web/src/routes/PostDetail/ActionCompletionSection.jsx
  apps/web/src/routes/TrackActionsView/TrackActionsView.jsx
  apps/web/src/store/actions/trackActions.js
  apps/web/src/util/trackProgress.js
  apps/web/src/util/trackProgress.test.js
Due: web-changed

Proposal notices: votes, closing soon, voting closed, outcome, vote reset
  apps/backend/api/graphql/mutations/post.js
  apps/backend/api/graphql/mutations/post.test.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Activity.js
  apps/backend/api/models/Notification.js
  apps/backend/api/models/Post.js
  apps/backend/api/models/PushNotification.js
  apps/backend/api/models/notification/priorityReasons.js
  apps/backend/api/models/notification/signalClasses.js
  apps/backend/api/models/notification/socialNotices.js
  apps/backend/api/models/post/proposalNotices.js
  apps/backend/cron.js
  apps/backend/lib/i18n/de.js
  apps/backend/lib/i18n/en.js
  apps/backend/lib/i18n/es.js
  apps/backend/lib/i18n/fr.js
  apps/backend/lib/i18n/hi.js
  apps/backend/lib/i18n/pt.js
  apps/backend/test/unit/models/Notification.voteReset.test.js
  apps/backend/test/unit/models/Post.notices.test.js
  apps/backend/test/unit/models/notification/signalClasses.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationPresenter.activityNotices.test.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationsDropdown.store.js
  packages/presenters/src/NotificationPresenter.js
Due: backend-changed, web-changed

Tell recently active members once a week how many people joined, so they say hi
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Activity.js
  apps/backend/api/models/group/newcomerBatch.js
  apps/backend/api/models/group/noticeMarks.js
  apps/backend/api/models/notification/priorityReasons.js
  apps/backend/api/models/notification/signalClasses.js
  apps/backend/cron.js
  apps/backend/migrations/20261013000000_steward_notices.js
  apps/backend/migrations/schema.sql
  apps/backend/test/unit/models/group/newcomerBatch.test.js
  apps/backend/test/unit/models/notification/signalClasses.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationsDropdown.store.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/stewardNotices.test.js
  packages/presenters/src/NotificationPresenter.js
Due: backend-changed, web-changed

Skip the photo and location steps for people who sign up from an invitation
  apps/backend/api/graphql/profileNudge.test.js
  apps/backend/api/graphql/schema.graphql
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/ProfileNudge/ProfileNudge.jsx
  apps/web/src/components/ProfileNudge/ProfileNudge.test.js
  apps/web/src/components/ProfileNudge/profileNudgeState.js
  apps/web/src/components/ProfileNudge/useFinishInviteSignup.js
  apps/web/src/graphql/queries/MeQuery.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.test.js
  apps/web/src/routes/WelcomeWizardRouter/AddLocation/AddLocation.js
  apps/web/src/routes/WelcomeWizardRouter/UploadPhoto/UploadPhoto.js
  apps/web/src/store/actions/updateUserSettings.js
Due: backend-changed, web-changed

Nudge stewards when a newcomer's first post goes unanswered, as an experiment
  apps/backend/api/models/Activity.js
  apps/backend/api/models/notification/priorityReasons.js
  apps/backend/api/models/notification/signalClasses.js
  apps/backend/api/models/post/firstPostNudge.js
  apps/backend/cron.js
  apps/backend/test/unit/models/notification/signalClasses.test.js
  apps/backend/test/unit/models/post/firstPostNudge.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/stewardNotices.test.js
  packages/presenters/src/NotificationPresenter.js
Due: backend-changed, web-changed
