Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

Keep the home view and the menu order in step
  apps/web/src/components/IncludedViewsEditor/IncludedViewsEditor.jsx
  apps/web/src/routes/CreateGroup/CreateGroupForm.jsx
Due: web-changed

Let any menu item hold the home view slot
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/CreateGroup/CreateGroupForm.jsx
Due: web-changed

Rename the home view heading to "Choose your group's home"
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/CreateGroup/CreateGroupForm.jsx
Due: web-changed

Explain Menu Items and rename the section to Additional settings
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/IncludedViewsEditor/IncludedViewsEditor.jsx
  apps/web/src/routes/CreateGroup/CreateGroupForm.jsx
Due: web-changed

Give space notification settings the segmented picker
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/SegmentedPicker/SegmentedPicker.jsx
  apps/web/src/routes/CreateGroup/CreateGroupForm.jsx
  apps/web/src/routes/GroupDetail/GroupDetail.js
Due: web-changed

Clamp a long member bio behind a View more toggle
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/MemberProfile/MemberProfile.js
Due: web-changed

Label the bio toggle Read more / Read less
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/MemberProfile/MemberProfile.js
Due: web-changed

Shrink the skill map on phones and move Enlarge onto the map
  apps/web/src/components/MemberSkillsGraph/MemberSkillsGraph.jsx
Due: web-changed

Apply timezone selector to everything with a time
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Initial split of en into en-US and en-US
  apps/backend/api/models/Invitation.js
  apps/backend/api/models/User.js
  apps/backend/lib/email/senderNameViaHylo.js
  apps/backend/lib/group/digest2/index.js
  apps/backend/lib/group/digest2/personalizeData.js
  apps/backend/lib/i18n/locales.js
  apps/backend/lib/localeHelpers.js
  apps/backend/lib/util.js
  apps/backend/test/setup/factories.js
  apps/desktop/i18n.js
  apps/mobile/i18n.js
  apps/mobile/src/components/LocaleSelector/LocaleSelector.js
  apps/mobile/src/navigation/AuthRootNavigator.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/Calendar/calendar-util.tsx
  apps/web/src/i18n.mjs
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/LocaleDropdown/LocaleDropdown.js
  apps/web/src/util/locale.js
  packages/shared/package.json
  packages/shared/src/DateTimeHelpers/DateTimeHelpers.ts
  packages/shared/src/LocaleHelpers.js
  packages/shared/src/LocaleHelpers.test.js
  packages/shared/src/index.js
Due: backend-changed, web-changed, mobile-changed

Fix getLocaleAsString and DateTimePicker for all UI locales
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/Calendar/calendar-util.tsx
  apps/web/src/components/ui/datetimepicker.jsx
  apps/web/src/store/models/index.js
  apps/web/src/util/locale.js
  packages/presenters/src/GroupViewPresenter.js
  packages/shared/src/DateTimeHelpers/DateTimeHelpers.test.ts
  packages/shared/src/DateTimeHelpers/DateTimeHelpers.ts
  packages/shared/src/LocaleHelpers.test.js
Due: web-changed

Centralize date formatting into utility, dateFormat
  apps/web/src/components/Member/Member.js
  apps/web/src/components/PostCard/PostBodyProposal/PostBodyProposal.js
  apps/web/src/components/Widget/EventsWidget/EventsWidget.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/GroupSettings/PaidContentTab/ContentAccessTab.js
  apps/web/src/routes/GroupSettings/PaidContentTab/OfferingsTab.js
  apps/web/src/routes/MyTransactions/MyTransactions.jsx
  apps/web/src/routes/UserSettings/ManageInvitesTab/ManageInvitesTab.js
  apps/web/src/util/dateFormat.js
  apps/web/src/util/dateFormat.test.js
  apps/web/src/util/savedSearch.js
Due: web-changed

Pass user locale to formatDatePair across web and backend
  apps/backend/api/models/Post.js
  apps/backend/api/models/comment/notifications.js
  apps/backend/api/models/event/mixin.js
  apps/web/src/components/ActionCompletionResponsesDialog/ActionCompletionResponsesDialog.jsx
  apps/web/src/components/FundingRoundAboutInfo/FundingRoundAboutInfo.jsx
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
  apps/web/src/routes/ChatRoom/ChatPostNotice.jsx
  apps/web/src/routes/FundingRoundSubmissionsView/FundingRoundPhaseManager.jsx
  apps/web/src/routes/FundingRoundSubmissionsView/RoundPhaseStatus.jsx
  apps/web/src/routes/FundingRounds/FundingRounds.jsx
  apps/web/src/routes/MapExplorer/MapDrawer/MapDrawer.js
  apps/web/src/routes/PostDetail/ActionCompletionSection.jsx
  apps/web/src/util/dateFormat.js
  packages/shared/src/DateTimeHelpers/DateTimeHelpers.test.ts
  packages/shared/src/DateTimeHelpers/DateTimeHelpers.ts
Due: backend-changed, web-changed

Use shared locale mapping for Stripe and access email dates
  apps/backend/api/controllers/StripeController.js
  apps/backend/api/graphql/mutations/contentAccess.js
  apps/backend/api/models/ContentAccess.js
Due: backend-changed

Fix editing of text views
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/GroupViewSettingsModal.jsx
Due: web-changed

Remove restriction on admins only being able to fulfill-unfulfill single-group posts
  apps/backend/api/graphql/mutations/post.test.js
  apps/backend/api/models/post/postFulfillmentPermissions.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
Due: backend-changed, web-changed

Fix resp check logic for admin fulfill-unfulfill
  apps/backend/api/graphql/mutations/post.test.js
  apps/backend/api/models/post/postFulfillmentPermissions.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
Due: backend-changed, web-changed

Clean up the removal of spaces resp
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Add email to the fulfilled-unfulfilled by admin notifications
  apps/backend/api/models/Notification.js
  apps/backend/lib/i18n/de.js
  apps/backend/lib/i18n/en.js
  apps/backend/lib/i18n/es.js
  apps/backend/lib/i18n/fr.js
  apps/backend/lib/i18n/hi.js
  apps/backend/lib/i18n/pt.js
Due: backend-changed

Review tweaks for i18n date-format fixes
  apps/backend/api/controllers/StripeController.js
  apps/backend/api/graphql/mutations/contentAccess.js
  apps/backend/api/models/ContentAccess.js
  apps/backend/api/models/GroupViewUser.js
  apps/backend/api/models/comment/notifications.js
  apps/backend/api/services/Email.js
  apps/backend/lib/util.js
  apps/desktop/i18n.js
  docs/SENDWITHUS_I18N_WORKFLOW.md
Due: backend-changed

Revert build settings
  packages/shared/package.json
Due: none

Fix isDateInTheFuture always returning true for string dates
  packages/shared/src/TextHelpers.js
  packages/shared/src/TextHelpers.test.js
Due: none

Add attachments to DMs
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/comment.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/comment/createComment.js
  apps/backend/lib/uploader/storage.js
  apps/backend/lib/uploader/storage.test.js
  apps/web/src/components/SocketListener/SocketListener.js
  apps/web/src/graphql/mutations/CreateMessageMutation.js
  apps/web/src/graphql/queries/MessageThreadMessagesQuery.js
  apps/web/src/graphql/queries/MessageThreadQuery.js
  apps/web/src/routes/Messages/Message/Message.js
  apps/web/src/routes/Messages/MessageForm/MessageForm.js
  apps/web/src/routes/Messages/MessageForm/MessageForm.test.js
  apps/web/src/routes/Messages/Messages.js
  apps/web/src/routes/Messages/Messages.store.js
  apps/web/src/routes/Messages/Messages.store.test.js
  apps/web/src/store/models/Attachment.js
  packages/graphql/fragments/messageThreadFieldsFragment.js
  packages/graphql/mutations/createMessageMutation.js
  packages/graphql/queries/messageThreadMessagesQuery.js
Due: backend-changed, web-changed

Fix event invite dialog appearing behind post
  apps/web/src/components/EventInviteDialog/EventInviteDialog.js
Due: web-changed

Clicking on any space with more than one view in the menu drills down into its menu
  apps/web/src/components/ViewHeader/ViewHeader.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Adding a view to a group stays in edit menu mode
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddGroupViewDialog.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddSpaceDialog.jsx
Due: web-changed

Review tweaks
  apps/web/src/components/Calendar/body/month/calendar-body-month.tsx
  packages/shared/src/DateTimeHelpers/DateTimeHelpers.test.ts
  packages/shared/src/DateTimeHelpers/DateTimeHelpers.ts
Due: web-changed

Allow user profiles to be made publically available
  apps/backend/api/graphql/filters.js
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/User.js
  apps/backend/migrations/20260812000000_add_is_profile_public_to_users.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/PostCard/PostCard.jsx
  apps/web/src/components/PostCard/PostFooter/PostFooter.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
  apps/web/src/graphql/queries/MeQuery.js
  apps/web/src/graphql/queries/personQuery.js
  apps/web/src/routes/MemberProfile/MemberPosts/MemberPosts.js
  apps/web/src/routes/MemberProfile/MemberPosts/MemberPosts.store.js
  apps/web/src/routes/MemberProfile/MemberPosts/MemberPosts.store.test.js
  apps/web/src/routes/MemberProfile/MemberProfile.js
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.js
  apps/web/src/routes/PostDetail/Comments/Comments.js
  apps/web/src/routes/PublicLayoutRouter/PublicMemberProfile.jsx
  apps/web/src/routes/RootRouter/RootRouter.js
  apps/web/src/routes/UserSettings/EditProfileTab/EditProfileTab.js
  apps/web/src/routes/UserSettings/UserSettings.store.js
  apps/web/src/store/actions/checkIsPersonPublic.js
  apps/web/src/store/actions/updateUserSettings.js
  apps/web/src/store/models/Me.js
  apps/web/src/store/models/Person.js
  packages/graphql/queries/personQuery.js
Due: backend-changed, web-changed

Add tag_names cache on posts to make it faster to load the tags on posts
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/models/Post.js
  apps/backend/api/models/Tag.js
  apps/backend/lib/graphql-bookshelf-bridge/util/initDataLoaders.js
  apps/backend/migrations/20260812120000_add_tag_names_to_posts.js
  apps/backend/test/unit/models/Tag.test.js
Due: backend-changed

Translation
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
Due: web-changed

When adding a space in one-column view, dont go to that space right away
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddSpaceDialog.jsx
Due: web-changed

Missing translations
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
Due: web-changed

Fix creating a space with role gating
  apps/web/src/components/TagInput/TagInput.js
  apps/web/src/components/TagInput/TagInput.test.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/SpaceSettingsModal.jsx
  apps/web/src/store/actions/groupViews.js
Due: web-changed

Clean up mobile signup styling and process
  apps/mobile-leap/locales/en.json
  apps/mobile-leap/locales/es.json
  apps/mobile-leap/src/components/ImagePicker.tsx
  apps/mobile-leap/src/components/KeyboardFriendlyView.tsx
  apps/mobile-leap/src/components/LocaleSelector.tsx
  apps/mobile-leap/src/components/auth/AuthScreenParts.tsx
  apps/mobile-leap/src/navigation/SignupNavigator.tsx
  apps/mobile-leap/src/screens/ForgotPassword/ForgotPasswordScreen.tsx
  apps/mobile-leap/src/screens/Login/LoginScreen.tsx
  apps/mobile-leap/src/screens/Signup/SignupIntroScreen.tsx
  apps/mobile-leap/src/screens/Signup/SignupStepScreens.tsx
  apps/mobile-leap/src/util/upload.ts
Due: none

Update locales for initial mobile screens
  apps/mobile-leap/locales/de.json
  apps/mobile-leap/locales/en.json
  apps/mobile-leap/locales/es.json
  apps/mobile-leap/locales/fr.json
  apps/mobile-leap/locales/hi.json
  apps/mobile-leap/locales/index.ts
  apps/mobile-leap/locales/pt.json
  apps/mobile-leap/src/App.tsx
  apps/mobile-leap/src/components/LocaleSelector.tsx
  apps/mobile-leap/src/hooks/useBindPlatformUser.ts
  apps/mobile-leap/src/i18n.ts
  apps/mobile-leap/src/navigation/NonAuthNavigator.tsx
  apps/mobile-leap/src/navigation/headers/ModalHeader.tsx
  apps/mobile-leap/src/screens/Signup/SignupStepScreens.tsx
  apps/mobile/locales/de.json
  apps/mobile/locales/fr.json
  apps/mobile/locales/hi.json
  apps/mobile/locales/pt.json
  packages/shared/src/LocaleHelpers.js
  packages/shared/src/LocaleHelpers.test.js
Due: mobile-changed

Fix geo-coding for location query
  apps/mobile-leap/src/components/LocationSelector.tsx
  apps/mobile-leap/src/screens/Signup/SignupStepScreens.tsx
  apps/mobile-leap/src/services/mapbox.ts
Due: none

Post-view cards themed by post type; event cards show a date tile
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuGrid.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/GroupViewCard.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/viewCardTheme.js
Due: web-changed

Space rows in the group menu show a member-count pill after the (i)
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/store/actions/fetchGroupSpaces.js
  apps/web/src/store/actions/fetchGroupViews.js
Due: web-changed

Space rows: (i) follows the name, member pill floats right
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed
