Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Update emoji picker library to avoid ios crash
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  yarn.lock
Due: mobile-changed

Realigning mobile colors to our themes
  apps/mobile/index.js
  apps/mobile/package.json
  apps/mobile/scripts/configure.sh
  apps/mobile/scripts/generate-theme-colors.js
  apps/mobile/src/components/Icon/Icon.js
  apps/mobile/src/navigation/TabsNavigator.js
  apps/mobile/src/style/README.md
  apps/mobile/src/style/global.css
  apps/mobile/src/style/theme-colors.js
  apps/web/src/components/ColorMigrationGuide/ColorMigrationGuide.jsx
  apps/web/src/routes/Themes/Themes.js
Due: web-changed, mobile-changed

refactor for efficiency
  apps/backend/api/graphql/mutations/post.js
  apps/backend/api/models/Post.js
Due: backend-changed

removed nulling of menuTimoutId
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

refactor for clarity
  apps/backend/api/graphql/mutations/post.js
Due: backend-changed

Show new posts line and update last post read
  apps/mobile/src/screens/ChatRoom/ChatRoom.js
  packages/graphql/mutations/updateTopicFollowMutation.js
  packages/graphql/queries/fetchTopicFollowQuery.js
  packages/urql/keys.js
Due: mobile-changed

WIP
  apps/mobile/src/screens/ChatRoom/ChatRoom.js
  apps/mobile/src/screens/Stream/makeStreamQuery.js
Due: mobile-changed

Switched over capeCod, athensGrey, amaranth, persimmon, gunsmoke, gainsboro, white, and black
  apps/mobile/src/components/Badge/Badge.styles.js
  apps/mobile/src/components/BadgedIcon/BadgedIcon.styles.js
  apps/mobile/src/components/Button/Button.js
  apps/mobile/src/components/CommentEditor/CommentEditor.js
  apps/mobile/src/components/ContextSwitchMenu/ContextSwitchMenu.js
  apps/mobile/src/components/ErrorBubble/ErrorBubble.js
  apps/mobile/src/components/FormattedError/FormattedError.js
  apps/mobile/src/components/Loading/Loading.js
  apps/mobile/src/components/LucideIcon/LucideIcon.js
  apps/mobile/src/components/MemberList/MemberList.styles.js
  apps/mobile/src/components/MessageCard/MessageCard.js
  apps/mobile/src/components/NotificationCard/NotificationCard.js
  apps/mobile/src/components/NotificationCard/NotificationCard.styles.js
  apps/mobile/src/components/NotificationOverlay/NotificationOverlay.js
  apps/mobile/src/components/PostCard/LinkPreview/LinkPreview.js
  apps/mobile/src/components/PostCard/PostBody/PostBody.js
  apps/mobile/src/components/PostCard/PostCard.styles.js
  apps/mobile/src/components/PostCard/PostHeader/PostHeader.styles.js
  apps/mobile/src/components/ThreadCard/ThreadCard.js
  apps/mobile/src/components/Topics/Topics.js
  apps/mobile/src/navigation/TabsNavigator.js
  apps/mobile/src/screens/GroupSettingsWebView/GroupSettingsWebView.js
  apps/mobile/src/screens/Groups/Groups.styles.js
  apps/mobile/src/screens/Login/Login.styles.js
  apps/mobile/src/screens/MemberProfile/Control.js
  apps/mobile/src/screens/MemberProfile/MemberHeader.styles.js
  apps/mobile/src/screens/MemberProfile/MemberProfile.styles.js
  apps/mobile/src/screens/NewMessage/NewMessage.js
  apps/mobile/src/screens/PostEditor/FileSelector/FileSelector.styles.js
  apps/mobile/src/screens/SearchPage/SearchPage.styles.js
  apps/mobile/src/screens/Stream/StreamHeader.js
  apps/mobile/src/style/COLOR_SYSTEM.md
Due: mobile-changed

Forgot part of new post text
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Add New posts text to new post line in chat room
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/ChatRoom/ChatRoom.module.scss
Due: web-changed

Don't need to load group location when loading posts
  apps/web/src/store/actions/fetchPosts.js
Due: web-changed

Swtiched over ghost, alabaster, treePoppy, mangoYellow, havelockBlue, pictonBlue, mediumPurple, slateGrey and regent to semantic color options
  apps/mobile/src/components/Comment/Comment.styles.js
  apps/mobile/src/components/FlagGroupContent/FlagGroupContent.js
  apps/mobile/src/components/ImageViewer/ImageViewer.js
  apps/mobile/src/components/ItemSelector.js
  apps/mobile/src/components/LocationSelectorModal/LocationSelectorItemRow.js
  apps/mobile/src/components/MemberList/MemberList.styles.js
  apps/mobile/src/components/MessageCard/MessageCard.js
  apps/mobile/src/components/ModerationListItem/ModerationListItem.js
  apps/mobile/src/components/PostCard/PostCard.styles.js
  apps/mobile/src/components/SearchBar/SearchBar.js
  apps/mobile/src/components/TopicsNavigation/TopicsNavigation.js
  apps/mobile/src/hooks/useHyloActionSheet.js
  apps/mobile/src/navigation/NonAuthRootNavigator.js
  apps/mobile/src/navigation/RootNavigator/RootNavigator.js
  apps/mobile/src/navigation/SearchNavigator.js
  apps/mobile/src/navigation/SignupNavigator.js
  apps/mobile/src/navigation/headers/HeaderLeftCloseIcon.js
  apps/mobile/src/navigation/headers/ModalHeader.js
  apps/mobile/src/navigation/headers/ModalHeaderTransparent.js
  apps/mobile/src/navigation/headers/WorkflowModalHeader.js
  apps/mobile/src/screens/GroupWelcome/GroupWelcome.styles.js
  apps/mobile/src/screens/GroupWelcome/GroupWelcomeTabBar.js
  apps/mobile/src/screens/MemberProfile/MemberDetails/MemberDetails.styles.js
  apps/mobile/src/screens/Members/Members.styles.js
  apps/mobile/src/screens/NewMessage/NewMessage.js
  apps/mobile/src/screens/PostEditor/ImageSelector/ImageSelector.styles.js
  apps/mobile/src/screens/PostEditor/TypeSelector.js
  apps/mobile/src/screens/Signup/Signup.styles.js
  apps/mobile/src/screens/Signup/SignupEmailValidation/SignupEmailValidation.styles.js
  apps/mobile/src/screens/Signup/SignupFlow.styles.js
  apps/mobile/src/screens/Signup/SignupSetLocation/SignupSetLocation.js
  apps/mobile/src/screens/Signup/SignupUploadAvatar/SignupUploadAvatar.styles.js
  apps/mobile/src/screens/Thread/Thread.js
Due: mobile-changed

Stray hex codes migrated to semantic colors
  apps/mobile/CHANGELOG
  apps/mobile/src/components/BadgeEmoji/BadgeEmoji.js
  apps/mobile/src/components/CommentEditor/CommentEditor.js
  apps/mobile/src/components/ContextSwitchMenu/ContextSwitchMenu.js
  apps/mobile/src/components/FlagContent/FlagContent.js
  apps/mobile/src/components/FlagGroupContent/FlagGroupContent.js
  apps/mobile/src/components/HyloHTML/HyloHTML.styles.js
  apps/mobile/src/components/ImageViewer/ImageViewer.js
  apps/mobile/src/components/LocaleSelector/LocaleSelector.js
  apps/mobile/src/components/MemberList/MemberList.styles.js
  apps/mobile/src/components/ModerationListItem/ModerationListItem.js
  apps/mobile/src/components/MultiSelect/MultiSelect.js
  apps/mobile/src/components/PostCard/PostBody/PostBody.js
  apps/mobile/src/components/PostCard/PostBodyProposal/PostBodyProposal.js
  apps/mobile/src/components/PostCard/PostHeader/PostHeader.styles.js
  apps/mobile/src/components/PostListRow/PostListRow.js
  apps/mobile/src/components/QuorumBar/QuorumBar.js
  apps/mobile/src/components/SocialAuth/GoogleLoginButton.js
  apps/mobile/src/components/ThreadCard/ThreadCard.js
  apps/mobile/src/screens/ForgotPassword/ForgotPassword.styles.js
  apps/mobile/src/screens/GroupWelcome/GroupWelcome.styles.js
  apps/mobile/src/screens/Login/Login.styles.js
  apps/mobile/src/screens/Unknown.js
  apps/web/src/routes/Themes/Themes.js
Due: web-changed, mobile-changed

Bump android API build target
  apps/mobile/android/build.gradle
Due: mobile-changed

Update geolocation library
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/src/hooks/useCurrentLocation.js
  yarn.lock
Due: mobile-changed

Many improvements to chat room
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Line up emojis and replies with chat post content
  apps/web/src/components/EmojiRow/EmojiRow.js
  apps/web/src/components/PostCard/PostContent/PostContent.jsx
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.module.scss
Due: web-changed

Emoji picker doesnt jump around when hovering over it for chat post
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
Due: web-changed

Fix scroll jumping while scrolling up in chat room
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Allow urls in the location field for posts
  apps/mobile/src/components/ClickableLocationText/ClickableLocationText.js
  apps/mobile/src/components/ClickableLocationText/index.js
  apps/mobile/src/components/PostCard/PostCard.js
  apps/mobile/src/components/PostCard/PostCardForDetails.js
Due: mobile-changed

Try to fix mobile safari scroll jump in chat room again
  apps/web/index.html
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.module.scss
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationsDropdown.jsx
Due: web-changed

Tweaks and code cleanup
  apps/web/src/components/HyloEditor/HyloEditor.js
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

web @v6.1.14
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: web-changed

Fix display of emoji button on comments
  apps/web/src/components/EmojiRow/EmojiRow.js
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.jsx
Due: web-changed

Render notifications in regular screen, not modal
  apps/mobile/src/navigation/AuthRootNavigator.js
Due: mobile-changed

Allow all urls in location field
  apps/mobile/src/components/ClickableLocationText/ClickableLocationText.js
Due: mobile-changed

6.1.9 changelog
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
Due: mobile-changed

Try to fix growing comment box on android
  apps/web/index.html
Due: web-changed

Fix map going below the bottom of the screen on mobile
  apps/web/src/routes/MapExplorer/MapExplorer.module.scss
Due: web-changed

Prevent duplicate notifications
  apps/backend/api/models/Notification.js
Due: backend-changed

Update chat posts immediately when the post is edited, commented or reacted on in the post editor
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Fix extra scroll bar when a chat room has no posts
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Make sure New Posts text always appears with new posts line
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/ChatRoom/ChatRoom.module.scss
Due: web-changed

Don't double update last read post when creating a new chat
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Update READMEs for root, web and backend
  README.md
  apps/backend/README.md
  apps/web/README.md
Due: backend-changed, web-changed

Use/describe correct env variables everywhere
  apps/web/.env.example
  apps/web/app.json
  apps/web/src/client/websockets.test.js
  apps/web/src/components/SocketListener/SocketListener.test.js
  apps/web/src/routes/UserSettings/PaymentSettingsTab/PaymentSettingsTab.js
  apps/web/src/server/redirectToApp.js
  apps/web/src/store/middleware/apiMiddleware.js
  apps/web/vite.config.js
Due: web-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
