Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

Bumped up the font size for mobile 14->15px
  apps/web/src/css/global/index.scss
Due: web-changed

Cleanup to contextMenu and GlobalNav
  apps/web/src/components/Badge/component.module.scss
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
Due: web-changed

Cleanup of badges for global Nav
  apps/web/src/components/Badge/component.js
  apps/web/src/components/Badge/component.module.scss
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
Due: web-changed

Ensure users with memberships but no user-scope are defined as lapsed members and handled accordingly
  apps/backend/api/policies/checkAndSetMembership.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/graphql/fragments/groupQueryFragment.js
  apps/web/src/routes/GroupDetail/PaywallOfferingsSection.jsx
Due: backend-changed, web-changed

Fixed color of chatroom titles https://github.com/Hylozoic/hylo/issues/1152
  apps/web/src/routes/UserSettings/NotificationSettingsTab/MembershipSettingRow.jsx
Due: web-changed

Split stripe/content access graphql operations into queries and mutations sections; Add accounted related stats for paid content
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/contentAccess.js
  apps/backend/api/graphql/mutations/contentAccess.test.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/mutations/stripe.js
  apps/backend/api/graphql/mutations/stripe.test.js
  apps/backend/api/graphql/queries/contentAccess.js
  apps/backend/api/graphql/queries/contentAccess.test.js
  apps/backend/api/graphql/queries/index.js
  apps/backend/api/graphql/queries/stripe.js
  apps/backend/api/graphql/queries/stripe.test.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/services/OfferingStatsService.js
Due: backend-changed

Update tests
  apps/backend/api/graphql/mutations/stripe.test.js
  apps/backend/api/graphql/queries/stripe.test.js
Due: backend-changed

Pull accounting related stats from Stripe for a groups offerings
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/queries/index.js
  apps/backend/api/graphql/queries/stripe.js
  apps/backend/api/graphql/queries/stripe.test.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/services/OfferingStatsService.js
  apps/backend/api/services/StripeService.js
Due: backend-changed

Show basic accounting information for each offering; clear up some prior linting issues
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/GroupSettings/PaidContentTab/PaidContentTab.js
  apps/web/src/util/graphql.js
Due: web-changed

Also provide some stats for one-time purchase items
  apps/backend/api/services/OfferingStatsService.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: backend-changed, web-changed

Update detailed manual test cases
  docs/INVITATION_LINKS_ARCHITECTURE.md
Due: none

TODO completed
  apps/web/src/routes/Search/Search.js
Due: web-changed

Fix crash when trying to record a video for a post attachment
  apps/mobile/ios/HyloReactNative/Info.plist
Due: mobile-changed

Fix text color of selected group setting page tab
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Fix color of Edit Profile button on profile
  apps/web/src/routes/MemberProfile/MemberProfile.js
Due: web-changed

Fix faulty useEffects requesting too much; split paidContentTab into several files
  apps/web/src/routes/GroupSettings/PaidContentTab/AccountTab.js
  apps/web/src/routes/GroupSettings/PaidContentTab/ContentAccessTab.js
  apps/web/src/routes/GroupSettings/PaidContentTab/OfferingsTab.js
  apps/web/src/routes/GroupSettings/PaidContentTab/PaidContentTab.js
  apps/web/src/routes/GroupSettings/PaidContentTab/index.js
Due: web-changed

allow for youtu.be URLs in embedded videos
  apps/web/src/components/HyloEditor/HyloEditorMenuBar.js
Due: web-changed

Tweak positioning of group settings menu more
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

EVent RSVP subscription calendar now has a name of My Hylo Events
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/models/Post.js
  apps/backend/api/models/User.js
Due: backend-changed

Toggling event RSVP subscription URL on works the first time in the UI
  apps/web/src/routes/UserSettings/UserSettings.store.js
Due: web-changed

Missing translations
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: web-changed

Fixed margin which was creating big gaps in certain cases with context menu
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Cleaned up styling of featured groups, my and added brighter colors for context menu
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
  apps/web/src/routes/GroupExplorer/FeaturedGroups/FeaturedGroups.js
  apps/web/src/themes/index.js
Due: web-changed

Adding nice globalnav backgrounds per theme
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/themes/index.js
Due: web-changed

First draft of group event cal sub
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Group.js
  apps/backend/api/models/Post.js
  apps/backend/api/models/User.js
  apps/backend/api/models/post/createPost.js
  apps/backend/api/models/post/updatePost.js
  apps/backend/migrations/20251206183200_add-calendar-token-to-groups.js
  apps/backend/migrations/20251217213600_add-ical-sequence-to-posts.js
  apps/web/src/graphql/fragments/groupQueryFragment.js
  apps/web/src/graphql/queries/MeQuery.js
  apps/web/src/routes/Stream/Stream.js
  packages/graphql/fragments/groupFieldsFragment.js
  packages/graphql/queries/meQuery.js
Due: backend-changed, web-changed

change icalSequence func to async
  apps/backend/api/models/EventInvitation.js
Due: backend-changed

fix react-day-picker version at 9.12
  apps/web/package.json
  yarn.lock
Due: web-changed

full width calendar for mobile
  apps/web/src/components/Calendar/body/day/calendar-body-day-calendar.tsx
  apps/web/src/components/Calendar/calendar.tsx
  apps/web/src/components/ui/calendar.tsx
Due: web-changed

exclude deleted events from rsvp cal subs
  apps/backend/api/models/User.js
Due: backend-changed

bug fix: update cal subs when post deleted
  apps/backend/api/models/Post.js
Due: backend-changed

refactor finding deactivated posts
  apps/backend/api/models/Post.js
Due: backend-changed

fix bug on creating events
  apps/backend/api/models/post/createPost.js
Due: backend-changed

add commented out debug log
  apps/backend/lib/uploader/storage.js
Due: backend-changed

better update group cal sub on event delete
  apps/backend/api/graphql/mutations/post.js
  apps/backend/api/models/Group.js
  apps/backend/api/models/Post.js
Due: backend-changed

yanrn.lock
  yarn.lock
Due: none

Polish navigation UI styling
  apps/web/src/components/Badge/component.js
  apps/web/src/components/GroupMenuHeader/GroupMenuHeader.jsx
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MenuLink/MenuLink.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
  apps/web/src/themes/index.js
  apps/web/tailwind.config.js
Due: web-changed

Omnibus of fixes while on the phone with Tibet
  apps/web/src/components/ui/switch.jsx
  apps/web/src/css/layout.scss
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MenuLink/MenuLink.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
  apps/web/src/themes/index.js
  apps/web/tailwind.config.js
Due: web-changed

Decrease size of scaling when hovering over context menu
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Fix padding of global nav to handle whether scroll bar is visible or not
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

Improved themes
  apps/web/src/themes/index.js
Due: web-changed
