Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

chore(mobile): Fixes Sentry config to make for non-crashing iOS distribution
  apps/mobile/ios/HyloReactNative.xcodeproj/project.pbxproj
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/PrivacyInfo.xcprivacy
  apps/mobile/ios/sentry.properties
  apps/mobile/metro.config.js
Due: mobile-changed

Follow resolver naming convention in group presenter
  packages/presenters/GroupPresenter.js
Due: none

Make all icon related functions and lookups use iconName
  packages/presenters/ContextWidgetPresenter.js
Due: none

Update resolver names in ContextWidgetPresenter
  packages/presenters/ContextWidgetPresenter.js
Due: none

Reset all topic follows to have no unread posts
  apps/backend/migrations/20250207125837_chat-room-notifications.js
Due: backend-changed

Add new post badge to chat room context widgets
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/ContextWidget.js
  apps/backend/api/models/GroupTag.js
  apps/web/src/components/SocketListener/SocketListener.connector.js
  apps/web/src/components/SocketListener/SocketListener.connector.test.js
  apps/web/src/components/SocketListener/SocketListener.js
  apps/web/src/components/SocketListener/SocketListener.store.js
  apps/web/src/components/SocketListener/index.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MenuLink/MenuLink.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/TopicNavigation/TopicNavigation.connector.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/store/actions/fetchMyMemberships.js
  apps/web/src/store/actions/resetNewPostCount.js
  apps/web/src/store/actions/updateTopicFollow.js
  apps/web/src/store/reducers/ormReducer/index.js
Due: backend-changed, web-changed

More fixes to chat room badges
  apps/web/src/components/SocketListener/SocketListener.store.js
  apps/web/src/store/reducers/ormReducer/index.js
Due: web-changed

Rename hook
  apps/mobile/src/navigation/menus/ContextMenu/ContextMenu.js
  packages/hooks/useContextWidgetChildren.js
Due: mobile-changed

Add number of new posts to jump to bottom button
  apps/web/src/components/SocketListener/SocketListener.store.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Move GroupWelcome check logic into Context menu and then delete references to old GroupWelcomeCheck component
  apps/mobile/ios/Podfile.lock
  apps/mobile/src/components/ContextMenu/ContextMenu.js
  apps/mobile/src/components/GroupWelcomeCheck/GroupWelcomeCheck.js
  apps/mobile/src/components/GroupWelcomeCheck/index.js
  apps/mobile/src/screens/ChatRoomWebView/ChatRoomWebView.js
  apps/mobile/src/screens/Stream/Stream.js
  packages/hooks/useCurrentGroup.js
Due: mobile-changed

chore(mobile): Start to bring back working jest setup
  apps/mobile/__mocks__/react-native-css-interop.js
  apps/mobile/__mocks__/react-native.js
  apps/mobile/babel.config.js
  apps/mobile/config/jest/handlers.js
  apps/mobile/config/jest/mswServer.js
  apps/mobile/config/jest/setupEnv.js
  apps/mobile/config/jest/setupTests.js
  apps/mobile/index.js
  apps/mobile/jest.config.js
  apps/mobile/msw.polyfills.js
  apps/mobile/package.json
  apps/mobile/src/components/MessageInput/__snapshots__/MessageInput.connector.test.js.snap
  apps/mobile/src/components/MessageInput/__snapshots__/MessageInput.test.js.snap
  apps/mobile/src/navigation/linking/getStateFromPath.test.js
  apps/mobile/src/services/websockets.test.js
  yarn.lock
Due: mobile-changed

chore(mobile): Clean-up msw setup and dependency issues after shuffle
  apps/mobile/index.js
  apps/mobile/jest.config.js
  apps/mobile/package.json
  apps/mobile/src/graphql/mocks/handlers.js
  apps/mobile/src/graphql/mocks/mswServer.js
  yarn.lock
Due: mobile-changed

Cleanup of messages, threadlist
  apps/web/src/routes/Messages/Header/Header.js
  apps/web/src/routes/Messages/Message/Message.js
  apps/web/src/routes/Messages/MessageForm/MessageForm.js
  apps/web/src/routes/Messages/MessageSection/MessageSection.js
  apps/web/src/routes/Messages/Messages.js
  apps/web/src/routes/Messages/ThreadList/ThreadListItem.jsx
Due: web-changed

Remove console
  apps/backend/api/graphql/mutations/index.js
Due: backend-changed

Fixed a number of things with assistance of ai:
  apps/web/src/routes/Messages/Header/Header.js
  apps/web/src/routes/Messages/MessageForm/MessageForm.js
  apps/web/src/routes/Messages/MessageSection/MessageSection.js
Due: web-changed

Massive improvements to messages ^_^
  apps/web/src/components/TextInput/TextInput.js
  apps/web/src/routes/Messages/MessageForm/MessageForm.js
  apps/web/src/routes/Messages/Messages.js
  apps/web/src/routes/Messages/PeopleSelector/MatchingPeopleListItem/MatchingPeopleListItem.js
  apps/web/src/routes/Messages/PeopleSelector/PeopleList/PeopleList.js
  apps/web/src/routes/Messages/PeopleSelector/PeopleListItem/PeopleListItem.js
  apps/web/src/routes/Messages/PeopleSelector/PeopleSelector.js
  apps/web/src/routes/Messages/ThreadList/ThreadList.js
  packages/shared/src/TextHelpers.js
Due: web-changed

Fixed issue where show less wasn't working on message headers
  apps/web/src/routes/Messages/Header/Header.js
Due: web-changed

Correctly subscribe to chat rooms
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/models/GroupTag.js
  apps/backend/api/models/Invitation.js
  apps/backend/api/models/Post.js
  apps/backend/api/models/Tag.js
  apps/backend/api/models/TagFollow.js
  apps/backend/api/models/User.js
  apps/backend/migrations/20250207125837_chat-room-notifications.js
Due: backend-changed

Linted Stream
  apps/mobile/src/screens/Stream/Stream.js
Due: mobile-changed

Fixed issue with message form
  apps/web/src/routes/Messages/MessageForm/MessageForm.js
Due: web-changed

Context menu lint
  apps/mobile/src/components/ContextMenu/ContextMenu.js
Due: mobile-changed

More tweaks and fixes to chat notification UI
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/Tooltip/Tooltip.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Fix immediate display of events widget when event is created
  apps/web/src/store/reducers/ormReducer/index.js
Due: web-changed

Ask cursor to never use semicolons and always use single quotes
  .cursorrules
Due: none

A TODO
  apps/web/src/hooks/useGatherItems/index.js
Due: web-changed

Reorder posts types to alphabetical
  apps/web/src/store/models/Post.js
Due: web-changed

Fixed a number of issues with people list
  apps/web/src/routes/Messages/PeopleSelector/PeopleList/PeopleList.js
  apps/web/src/routes/Messages/PeopleSelector/PeopleListItem/PeopleListItem.js
  apps/web/src/routes/Messages/PeopleSelector/PeopleListItem/PeopleListItem.module.scss
  apps/web/src/routes/Messages/PeopleSelector/PeopleSelector.js
Due: web-changed

Lint fixes
  apps/web/src/components/EmojiPicker/EmojiPicker.js
  apps/web/src/components/EmojiRow/EmojiRow.js
  apps/web/src/components/EmojiRow/EmojiRow.module.scss
  apps/web/src/components/LocationInput/LocationInput.js
  apps/web/src/components/Map/EditableMap/EditableMap.js
  apps/web/src/components/Map/EditableMap/EditableMap.module.scss
  apps/web/src/components/Pill/Pill.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
  apps/web/src/components/PublicToggle/PublicToggle.js
  apps/web/src/components/SettingsControl/SettingsControl.js
  apps/web/src/components/TagInput/TagInput.js
  apps/web/src/components/ui/toggle-group.tsx
  apps/web/src/components/ui/toggle.tsx
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/GroupSettings/ResponsibilitiesTab/ResponsibilitiesTab.js
  apps/web/src/routes/GroupSettings/SettingsSection/SettingsSection.js
  apps/web/src/routes/GroupSettings/SettingsSection/SettingsSection.module.scss
  apps/web/src/routes/MemberProfile/MemberProfile.js
  apps/web/src/routes/Messages/Header/Header.js
  apps/web/src/routes/Messages/MessageForm/MessageForm.js
  apps/web/src/routes/Messages/MessageSection/MessageSection.js
  apps/web/src/routes/Messages/PeopleSelector/MatchingPeopleListItem/MatchingPeopleListItem.js
  apps/web/src/routes/Messages/PeopleSelector/MatchingPeopleListItem/MatchingPeopleListItem.module.scss
  apps/web/src/routes/Messages/PeopleSelector/PeopleSelector.js
  apps/web/src/routes/Messages/PeopleSelector/PeopleSelector.module.scss
  apps/web/src/routes/Messages/ThreadList/ThreadList.js
  apps/web/src/routes/Messages/ThreadList/ThreadListItem.jsx
Due: web-changed

Fix a couple bugs in chat rooms
  apps/backend/api/graphql/mutations/index.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: backend-changed, web-changed

Fixed arrow navigation issue
  apps/web/src/routes/Messages/Messages.js
  apps/web/src/routes/Messages/PeopleSelector/PeopleList/PeopleList.js
  apps/web/src/routes/Messages/PeopleSelector/PeopleListItem/PeopleListItem.js
  apps/web/src/routes/Messages/PeopleSelector/PeopleSelector.js
Due: web-changed

Avatar tab press changes to my context and opens drawer
  apps/mobile/src/navigation/TabsNavigator.js
Due: mobile-changed

Try to fix deployment to heroku
  apps/web/src/components/Calendar/index.js
Due: web-changed

Fix display of empty chat rooms
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Fix display of Public Context menu
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Fix ability to see and join groups from groups pages and explorer
  apps/backend/api/models/TagFollow.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/GroupDetail/GroupDetail.js
  apps/web/src/routes/GroupDetail/GroupDetail.module.scss
  apps/web/src/routes/GroupDetail/JoinSection.jsx
Due: backend-changed, web-changed

Fix double display of open posts
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Fix viewing public groups while not logged in
  apps/backend/api/models/ContextWidget.js
Due: backend-changed

Fix display of lists in chat posts
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.module.scss
Due: web-changed

Remove old group menu stuff
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

chore(mobile): Working draft of linking test (and a whole lot of churn on jest setup to get things working again)
  apps/mobile/__mocks__/react-native-config.js
  apps/mobile/babel.config.js
  apps/mobile/config/jest/setupEnv.js
  apps/mobile/config/jest/setupTests.js
  apps/mobile/jest.config.js
  apps/mobile/package.json
  apps/mobile/src/components/HyloWebView/HyloWebView.js
  apps/mobile/src/navigation/linking/getStateFromPath.js
  apps/mobile/src/navigation/linking/getStateFromPath.test.js
  apps/mobile/src/util/testing/index.js
  package.json
  yarn.lock
Due: mobile-changed
