Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Remind people about an event a day before, and nudge unanswered invitees
  apps/backend/api/models/Activity.js
  apps/backend/api/models/Notification.js
  apps/backend/api/models/PushNotification.js
  apps/backend/api/models/event/mixin.js
  apps/backend/api/models/event/reminders.js
  apps/backend/api/models/notification/emailReasons.js
  apps/backend/api/models/notification/priorityReasons.js
  apps/backend/api/models/notification/signalClasses.js
  apps/backend/api/services/Email.js
  apps/backend/cron.js
  apps/backend/lib/email/emailTypes.js
  apps/backend/lib/i18n/de.js
  apps/backend/lib/i18n/en.js
  apps/backend/lib/i18n/es.js
  apps/backend/lib/i18n/fr.js
  apps/backend/lib/i18n/hi.js
  apps/backend/lib/i18n/pt.js
  apps/backend/test/unit/models/event/reminders.test.js
  apps/backend/test/unit/models/notification/signalClasses.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationPresenter.activityNotices.test.js
  packages/presenters/src/NotificationPresenter.js
  scripts/i18n/i18n-templates/Event_Reminder_i18n/html.liquid
  scripts/i18n/i18n-templates/Event_Reminder_i18n/metadata.json
  scripts/i18n/i18n-templates/Event_Reminder_i18n/subject.liquid
  scripts/i18n/i18n-templates/Event_Reminder_i18n/template_data.json
  scripts/i18n/i18n-templates/Event_Reminder_i18n/text.liquid
Due: backend-changed, web-changed

Handle hard bounces and spam complaints, and ask people to fix a bad address
  apps/backend/api/controllers/EmailEventsController.js
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/user.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/User.js
  apps/backend/api/services/Email.js
  apps/backend/config/customMiddleware.js
  apps/backend/config/policies.js
  apps/backend/config/routes.js
  apps/backend/lib/email/emailEvents.js
  apps/backend/lib/email/eventWebhookSignature.js
  apps/backend/migrations/20261010000000_users_email_undeliverable.js
  apps/backend/migrations/schema.sql
  apps/backend/test/unit/controllers/EmailEventsController.test.js
  apps/backend/test/unit/migrations/20261010000000_users_email_undeliverable.test.js
  apps/backend/test/unit/services/Email.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/UndeliverableEmailBanner/UndeliverableEmailBanner.jsx
  apps/web/src/components/UndeliverableEmailBanner/UndeliverableEmailBanner.test.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  packages/graphql/fragments/meAuthFieldsFragment.js
Due: backend-changed, web-changed

Add 'Also block from rejoining' to removing a member, and let stewards lift blocks
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/Member/Member.js
  apps/web/src/components/Member/Member.test.js
  apps/web/src/routes/GroupSettings/MembershipRequestsTab/BlockedFromRejoining.jsx
  apps/web/src/routes/GroupSettings/MembershipRequestsTab/MembershipRequestsTab.js
  apps/web/src/routes/GroupSettings/MembershipRequestsTab/MembershipRequestsTab.store.js
  apps/web/src/routes/GroupSettings/MembershipRequestsTab/MembershipRequestsTab.test.js
Due: web-changed

Keep mentions in announcements direct under the unsubscribe choices
  apps/backend/api/models/notification/rules/unsubscribeScope.js
  apps/backend/test/unit/models/notification/readerFilters.test.js
Due: backend-changed

Tell a project's creator when someone joins it
  apps/backend/api/graphql/mutations/project.js
  apps/backend/api/graphql/mutations/project.test.js
  apps/backend/api/models/Activity.js
  apps/backend/api/models/Notification.js
  apps/backend/api/models/PushNotification.js
  apps/backend/api/models/notification/priorityReasons.js
  apps/backend/api/models/notification/signalClasses.js
  apps/backend/api/models/project/mixin.js
  apps/backend/lib/i18n/de.js
  apps/backend/lib/i18n/en.js
  apps/backend/lib/i18n/es.js
  apps/backend/lib/i18n/fr.js
  apps/backend/lib/i18n/hi.js
  apps/backend/lib/i18n/pt.js
  apps/backend/test/unit/models/notification/signalClasses.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationPresenter.activityNotices.test.js
  packages/presenters/src/NotificationPresenter.js
Due: backend-changed, web-changed

Tell learners when they finish a track and remind them when they stall
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/track.test.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Activity.js
  apps/backend/api/models/Group.js
  apps/backend/api/models/Notification.js
  apps/backend/api/models/Post.js
  apps/backend/api/models/notification/emailReasons.js
  apps/backend/api/models/notification/priorityReasons.js
  apps/backend/api/models/notification/signalClasses.js
  apps/backend/api/models/track/progress.js
  apps/backend/api/models/track/reminders.js
  apps/backend/api/services/Email.js
  apps/backend/cron.js
  apps/backend/lib/email/emailTypes.js
  apps/backend/migrations/20261011000200_track_progress_backfill.js
  apps/backend/test/unit/migrations/20261011000200_track_progress_backfill.test.js
  apps/backend/test/unit/models/notification/signalClasses.test.js
  apps/backend/test/unit/models/track/reminders.test.js
  scripts/i18n/i18n-templates/Track_Reminder_i18n/html.liquid
  scripts/i18n/i18n-templates/Track_Reminder_i18n/metadata.json
  scripts/i18n/i18n-templates/Track_Reminder_i18n/subject.liquid
  scripts/i18n/i18n-templates/Track_Reminder_i18n/template_data.json
Due: backend-changed

Show stewards each learner's track progress and learners their notices
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationsDropdown.store.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/learnerNotices.test.js
  apps/web/src/routes/Members/Members.js
  apps/web/src/routes/Members/TrackProgressPanel.jsx
  apps/web/src/routes/Members/TrackProgressPanel.test.js
  apps/web/src/store/actions/trackActions.js
  apps/web/src/util/trackProgress.js
  packages/presenters/src/NotificationPresenter.js
Due: web-changed

Add an end-to-end spec for landing on an invitation, and update the signed-out ones
  apps/backend/scripts/seed-e2e-baseline.js
  apps/web/e2e/helpers/invitationLinksSeed.js
  apps/web/e2e/invite-landing.spec.js
  apps/web/e2e/signed-out-routes.spec.js
  apps/web/e2e/space-deeplink.spec.js
  apps/web/e2e/unauthenticated.invitation-links-about.spec.js
Due: backend-changed, web-changed

Add an end-to-end check for unsubscribe links and choices
  apps/backend/scripts/print-e2e-unsubscribe-jwt.js
  apps/web/e2e/email-unsubscribe.spec.js
  apps/web/scripts/run-isolated-e2e.js
Due: backend-changed, web-changed

Show the weekly steward email toggle on a group's notification tab too
  apps/web/src/components/GroupAboutView/GroupAboutView.jsx
Due: web-changed

Ask "Who helped?" when a request is marked met, and tell helpers and followers
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/post.js
  apps/backend/api/graphql/mutations/post.test.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Activity.js
  apps/backend/api/models/Contribution.js
  apps/backend/api/models/Notification.js
  apps/backend/api/models/PushNotification.js
  apps/backend/api/models/notification/priorityReasons.js
  apps/backend/api/models/notification/signalClasses.js
  apps/backend/api/models/post/fulfillPost.js
  apps/backend/lib/i18n/de.js
  apps/backend/lib/i18n/en.js
  apps/backend/lib/i18n/es.js
  apps/backend/lib/i18n/fr.js
  apps/backend/lib/i18n/hi.js
  apps/backend/lib/i18n/pt.js
  apps/backend/test/unit/models/notification/signalClasses.test.js
  apps/web/e2e/who-helped.spec.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/PostCard/PostCompletion/PostCompletion.js
  apps/web/src/components/PostCard/PostCompletion/PostCompletion.store.js
  apps/web/src/components/PostCard/PostCompletion/PostCompletion.test.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationPresenter.activityNotices.test.js
  packages/presenters/src/NotificationPresenter.js
Due: backend-changed, web-changed

Measure purchases and tracks on the server and tell stewards about new subscribers
  apps/backend/api/controllers/StripeController.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/stripe.js
  apps/backend/api/models/Group.js
  apps/backend/api/models/Post.js
  apps/backend/api/models/track/events.js
  apps/backend/api/services/Email.js
  apps/backend/lib/email/emailTypes.js
  apps/backend/lib/paidContent/afterCheckoutGrant.js
  apps/backend/test/unit/controllers/StripeController.events.test.js
  packages/shared/src/constants.js
  scripts/i18n/i18n-templates/New_Subscriber_Admin_i18n/html.liquid
  scripts/i18n/i18n-templates/New_Subscriber_Admin_i18n/metadata.json
  scripts/i18n/i18n-templates/New_Subscriber_Admin_i18n/subject.liquid
  scripts/i18n/i18n-templates/New_Subscriber_Admin_i18n/template_data.json
Due: backend-changed

Quieter delivery for members who've stopped visiting, plus one win-back email
  apps/backend/api/models/GroupViewUser.js
  apps/backend/api/models/comment/notifications.js
  apps/backend/api/models/notification/rules/inactiveReader.js
  apps/backend/api/models/notification/rules/index.js
  apps/backend/api/models/user/winback.js
  apps/backend/api/services/Email.js
  apps/backend/cron.js
  apps/backend/lib/email/emailTypes.js
  apps/backend/lib/group/digest2/index.js
  apps/backend/lib/group/digest2/util.js
  apps/backend/lib/i18n/de.js
  apps/backend/lib/i18n/en.js
  apps/backend/lib/i18n/es.js
  apps/backend/lib/i18n/fr.js
  apps/backend/lib/i18n/hi.js
  apps/backend/lib/i18n/pt.js
  apps/backend/test/unit/models/GroupViewUser.delivery.test.js
  apps/backend/test/unit/models/comment/notifications.scope.test.js
  apps/backend/test/unit/models/notification/readerFilters.test.js
  apps/backend/test/unit/models/user/winback.test.js
  apps/backend/test/unit/services/digest2.recipients.test.js
  scripts/i18n/i18n-templates/Winback_i18n/html.liquid
  scripts/i18n/i18n-templates/Winback_i18n/metadata.json
  scripts/i18n/i18n-templates/Winback_i18n/subject.liquid
  scripts/i18n/i18n-templates/Winback_i18n/template_data.json
  scripts/i18n/i18n-templates/Winback_i18n/text.liquid
  scripts/i18n/sendwithus-locales/de-DE.po
  scripts/i18n/sendwithus-locales/en-US.po
  scripts/i18n/sendwithus-locales/es-ES.po
  scripts/i18n/sendwithus-locales/fr-FR.po
  scripts/i18n/sendwithus-locales/hi-IN.po
  scripts/i18n/sendwithus-locales/pt-BR.po
  scripts/i18n/sendwithus-locales/template.pot
Due: backend-changed

Send the subscription cancelled notice to Administrators
  apps/backend/api/controllers/StripeController.js
  apps/backend/test/unit/controllers/StripeController.events.test.js
Due: backend-changed

Still send email when the recipient lookup fails
  apps/backend/api/services/Email.js
Due: backend-changed

Cover the invite-link request notice and the steward sender in the check
  apps/backend/api/graphql/index.test.js
  apps/backend/test/unit/models/Invitation.accepted.test.js
  apps/web/src/store/actions/checkInvitation.js
Due: backend-changed, web-changed

Funding rounds: tell submitters their own result, remind only people with tokens
  apps/backend/api/graphql/mutations/fundingRound.test.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/FundingRound/notifications.js
  apps/backend/api/models/Notification.js
  apps/backend/api/models/PushNotification.js
  apps/backend/lib/i18n/de.js
  apps/backend/lib/i18n/en.js
  apps/backend/lib/i18n/es.js
  apps/backend/lib/i18n/fr.js
  apps/backend/lib/i18n/hi.js
  apps/backend/lib/i18n/pt.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationPresenter.activityNotices.test.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationsDropdown.store.js
  packages/presenters/src/NotificationPresenter.js
  scripts/i18n/i18n-templates/Funding_Round_Phase_Transition_i18n/html.liquid
  scripts/i18n/i18n-templates/Funding_Round_Phase_Transition_i18n/template_data.json
Due: backend-changed, web-changed

Add end-to-end checks for open request answers and track progress
  apps/web/e2e/open-request-actions.spec.js
  apps/web/e2e/track-progress-steward.spec.js
Due: web-changed

Let a notification finish sending when its grouped notice was replaced
  apps/backend/api/models/Notification.js
  apps/backend/test/unit/models/notification/grouping.test.js
Due: backend-changed

Accept purpose-made link tokens only for their purpose
  apps/backend/config/passport.js
  apps/backend/test/unit/policies/checkJWT.test.js
Due: backend-changed

Give roles only to members, with the group's own roles, and don't repeat the notice
  apps/backend/api/graphql/mutations/role.granted.test.js
  apps/backend/api/graphql/mutations/role.js
Due: backend-changed

Deliver announcements that mention you under 'Everything except direct'
  apps/backend/api/models/Notification.js
  apps/backend/api/models/notification/rules/unsubscribeScope.js
  apps/backend/api/services/Email.js
  apps/backend/test/unit/models/Notification.unsubscribe.test.js
  apps/backend/test/unit/models/notification/readerFilters.test.js
Due: backend-changed

Count someone as new only when they are new to the whole group
  apps/backend/api/models/post/firstPostNudge.js
  apps/backend/migrations/20261013000000_steward_notices.js
  apps/backend/migrations/schema.sql
  apps/backend/test/unit/models/post/firstPostNudge.test.js
Due: backend-changed

Serve groups left out of the weekly new-member notices first the next week
  apps/backend/api/models/group/newcomerBatch.js
  apps/backend/test/unit/models/group/newcomerBatch.test.js
Due: backend-changed

Keep join-request notices working when the person can't see the group
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/stewardNotices.test.js
  packages/presenters/src/NotificationPresenter.js
Due: web-changed

Keep the weekly steward email to recent news and serve every group in turn
  apps/backend/lib/group/stewardDigest.js
  apps/backend/test/unit/lib/stewardDigest.test.js
  scripts/i18n/i18n-templates/Steward_Weekly_i18n/html.liquid
  scripts/i18n/sendwithus-locales/de-DE.po
  scripts/i18n/sendwithus-locales/en-US.po
  scripts/i18n/sendwithus-locales/es-ES.po
  scripts/i18n/sendwithus-locales/fr-FR.po
  scripts/i18n/sendwithus-locales/hi-IN.po
  scripts/i18n/sendwithus-locales/pt-BR.po
  scripts/i18n/sendwithus-locales/template.pot
Due: backend-changed

Count use of the Hylo mobile app as activity
  apps/backend/api/graphql/index.js
  apps/backend/test/unit/graphql/lastActive.test.js
Due: backend-changed

Don't send the 14-day "no answer yet" note for archived groups
  apps/backend/api/graphql/mutations/join_request.feedback.test.js
  apps/backend/api/models/JoinRequest.js
Due: backend-changed

Don't let someone blocked from rejoining a group buy their way back in
  apps/backend/api/graphql/mutations/stripe.ban.test.js
  apps/backend/api/graphql/mutations/stripe.js
Due: backend-changed

Only block people from rejoining a group they were in
  apps/backend/api/graphql/mutations/group.ban.test.js
  apps/backend/api/graphql/mutations/group.js
  apps/backend/api/graphql/schema.graphql
Due: backend-changed

Tell the inviter once when a space invitation is accepted
  apps/backend/api/models/invitation/invitationAccepted.js
  apps/backend/test/unit/models/Invitation.accepted.test.js
Due: backend-changed

Count skipped welcome steps only once they are skipped, and report failed nudge saves
  apps/web/src/components/ProfileNudge/ProfileNudge.jsx
  apps/web/src/components/ProfileNudge/ProfileNudge.test.js
  apps/web/src/components/ProfileNudge/useFinishInviteSignup.js
  apps/web/src/components/ProfileNudge/useFinishInviteSignup.test.js
Due: web-changed

Offer 'Also block from rejoining' when removing someone from their profile too
  apps/web/src/components/Member/BlockFromRejoiningOption.jsx
  apps/web/src/components/Member/Member.js
  apps/web/src/components/Member/useAfterRemoval.js
  apps/web/src/routes/MemberProfile/MemberProfile.js
  apps/web/src/routes/MemberProfile/MemberProfile.remove.test.js
Due: web-changed

Say why a request from someone blocked can't be accepted
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/GroupSettings/MembershipRequestsTab/MembershipRequestsTab.js
  apps/web/src/routes/GroupSettings/MembershipRequestsTab/MembershipRequestsTab.test.js
Due: web-changed

Leave an invalid invitation out of signup from the About page
  apps/web/src/routes/GroupDetail/GroupDetail.js
  apps/web/src/routes/GroupDetail/JoinSection.jsx
  apps/web/src/routes/GroupDetail/JoinSection.test.js
  apps/web/src/util/returnToPath.js
  apps/web/src/util/returnToPath.test.js
Due: web-changed

Preselect 'Everything except direct' again after resubscribing
  apps/web/src/routes/NonAuthLayoutRouter/ManageNotifications/ManageNotifications.js
  apps/web/src/routes/NonAuthLayoutRouter/ManageNotifications/ManageNotifications.test.js
Due: web-changed

Let a slowed weekly digest's unsubscribe link stop the daily groups it carries
  apps/backend/api/services/Email.js
  apps/backend/lib/email/applyUnsubscribe.js
  apps/backend/lib/email/emailEvents.js
  apps/backend/lib/email/unsubscribeToken.js
  apps/backend/lib/group/digest2/index.js
  apps/backend/test/unit/controllers/EmailEventsController.test.js
  apps/backend/test/unit/controllers/UnsubscribeController.test.js
  apps/backend/test/unit/lib/unsubscribeToken.test.js
  apps/backend/test/unit/services/Email.test.js
  apps/backend/test/unit/services/digest2.recipients.test.js
Due: backend-changed

Accept email provider events only when recently signed
  apps/backend/lib/email/eventWebhookSignature.js
  apps/backend/test/unit/controllers/EmailEventsController.test.js
Due: backend-changed

Remove two unused helpers and test the comment digest's unsubscribe link
  apps/backend/api/models/User.js
  apps/backend/api/models/notification/rules/unsubscribeScope.js
  apps/backend/test/unit/models/comment/notifications.scope.test.js
Due: backend-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
