Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

Dont error out in cron doing phase transition to voting phase
  apps/backend/api/graphql/mutations/fundingRound.js
  apps/backend/api/models/FundingRound.js
Due: backend-changed

Remove console
  apps/backend/api/models/Notification.js
Due: backend-changed

translations
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: web-changed

CHANGELOGs for web and backend v6.2.0
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

Performance: Eliminate waterfall delay in chatroom loading
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/store/actions/fetchChatRoomData.js
Due: web-changed

Fix: Add null checks and safer defaults in fetchChatRoomData
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/store/actions/fetchChatRoomData.js
Due: web-changed

Revert waterfall optimization - causing match() errors
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/store/actions/fetchChatRoomData.js
Due: web-changed

Performance: Eliminate waterfall delay in chatroom loading
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/store/actions/fetchChatRoomInit.js
  apps/web/src/store/constants.js
Due: web-changed

Fix: Remove unused import and GraphQL variable
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/store/actions/fetchChatRoomInit.js
Due: web-changed

Fix: Use topics array parameter instead of topic ID
  apps/web/src/store/actions/fetchChatRoomInit.js
Due: web-changed

Revert combined query approach - GraphQL schema incompatibility
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/store/actions/fetchChatRoomInit.js
  apps/web/src/store/constants.js
Due: web-changed

Performance: Eliminate waterfall delay in chatroom loading
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/services/Search/util.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/store/actions/fetchChatRoomInit.js
  apps/web/src/store/constants.js
Due: backend-changed, web-changed

Fix: Remove unused import
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/store/actions/fetchChatRoomInit.js
Due: web-changed

Fix: Use parallel dispatch instead of combined query
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/store/actions/fetchChatRoomInit.js
Due: web-changed

Add topicName parameter support to fetchPosts and GraphQL fragments
  apps/web/src/graphql/fragments/groupViewPostsQueryFragment.js
  apps/web/src/graphql/fragments/postsQueryFragment.js
  apps/web/src/store/actions/fetchChatRoomInit.js
  apps/web/src/store/actions/fetchPosts.js
Due: web-changed

Revert: Return to stable sequential chatroom loading
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/store/actions/fetchChatRoomInit.js
  apps/web/src/store/constants.js
Due: web-changed

Fix: Eliminate waterfall delay with consistent cache keys
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/store/actions/fetchChatRoomInit.js
  apps/web/src/store/constants.js
  apps/web/src/store/reducers/queryResults.js
Due: web-changed

Fix: Remove extra space in fetchChatRoomInit for linting
  apps/web/src/store/actions/fetchChatRoomInit.js
Due: web-changed

Fix: Ensure cache key consistency by using correct cursors
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/store/actions/fetchChatRoomInit.js
Due: web-changed

Revert to sequential loading with topicName parameter
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/store/actions/fetchChatRoomInit.js
Due: web-changed

Revert: Return to stable sequential chatroom loading
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/store/actions/fetchChatRoomInit.js
  apps/web/src/store/constants.js
  apps/web/src/store/reducers/queryResults.js
Due: web-changed

Switch from product to offering for paid content descriptor
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/mutations/stripe.js
  apps/backend/api/graphql/schema.graphql
  apps/web/src/routes/GroupSettings/PaidContentTab/PaidContentTab.js
  apps/web/src/routes/GroupSettings/PaidContentTab/PaidContentTab.store.js
  apps/web/src/routes/GroupStore/GroupStore.js
Due: backend-changed, web-changed

Use correct host for links
  apps/web/src/routes/GroupSettings/PaidContentTab/PaidContentTab.js
Due: web-changed

Merge conflict syntax errors missed in the conflict resolution
  apps/backend/api/graphql/schema.graphql
  apps/web/src/routes/GroupSettings/PaidContentTab/PaidContentTab.js
Due: backend-changed, web-changed

Lint stuff for tracks
  apps/mobile/src/components/TrackCard/TrackCard.js
  apps/mobile/src/screens/MyTracks/MyTracks.js
  apps/mobile/src/screens/TrackDetail/TrackDetail.js
  apps/mobile/src/screens/Tracks/Tracks.js
Due: mobile-changed

Add HTTP caching for GraphQL responses
  apps/backend/api/graphql/index.js
  apps/backend/api/graphql/plugins/responseCachePlugin.js
Due: backend-changed

Add skeleton loading UI for chatrooms
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/ChatRoom/ChatRoomSkeleton/ChatRoomSkeleton.js
  apps/web/src/routes/ChatRoom/ChatRoomSkeleton/ChatRoomSkeleton.module.scss
  apps/web/src/routes/ChatRoom/ChatRoomSkeleton/index.js
Due: web-changed

Fix datetime picker from closing when changing anything in funding round editor
  apps/web/src/components/FundingRoundEditor/FundingRoundEditor.jsx
  apps/web/src/components/ui/datetimepicker.jsx
Due: web-changed

Sort funding round submissions by most recent at the top
  apps/web/src/routes/FundingRoundHome/SubmissionsTab.jsx
Due: web-changed

Add hover prefetching for chatroom navigation
  apps/web/src/components/Widget/GroupTopicsWidget/GroupTopicsWidget.js
  apps/web/src/hooks/usePrefetchChatRoom.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/TopicNavigation/TopicNavigation.js
Due: web-changed

Fix: Performance regression and skeleton loading issues
  apps/backend/api/graphql/plugins/responseCachePlugin.js
  apps/web/src/hooks/usePrefetchChatRoom.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: backend-changed, web-changed

Fix: Remove 1s performance regression from skeleton loading condition
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Perf: Major performance optimizations to reduce load time to under 1s
  apps/web/src/i18n.mjs
  apps/web/src/index.jsx
  apps/web/src/router/index.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/vite.config.js
Due: web-changed

Fix: JSX structure errors from Suspense boundary additions
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Fix: ESLint import/first error with lazy-loaded routes
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Perf: Phase 1 optimizations - fonts, analytics, and router lazy loading
  apps/web/index.html
  apps/web/src/css/global/fonts.scss
  apps/web/src/router/index.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/RootRouter/RootRouter.js
Due: web-changed

Fix: ESLint indentation errors and complete Mixpanel deferral
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/RootRouter/RootRouter.js
  apps/web/src/store/middleware/mixpanelMiddleware.js
  apps/web/src/store/reducers/mixpanel.js
Due: web-changed

Expand paid content sub-tabs in the group settings
  apps/web/src/routes/GroupSettings/GroupSettings.js
  apps/web/src/routes/GroupSettings/PaidContentTab/PaidContentTab.js
Due: web-changed
