Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Allow people to edit their action completion responses
  apps/backend/api/models/Post.js
  apps/web/src/routes/PostDetail/ActionCompletionSection.jsx
  apps/web/src/routes/PostDetail/PostDetail.js
  apps/web/src/store/reducers/ormReducer/index.js
Due: backend-changed, web-changed

Fixed track responses styling, fixed people page
  apps/web/src/components/ActionCompletionResponsesDialog/ActionCompletionResponsesDialog.jsx
  apps/web/src/components/ModalDialog/ModalDialog.js
  apps/web/src/routes/TrackHome/TrackHome.jsx
Due: web-changed

Made people clickable
  apps/web/src/routes/TrackHome/TrackHome.jsx
Due: web-changed

UI tweaks and fixes
  apps/web/src/components/ActionCompletionResponsesDialog/ActionCompletionResponsesDialog.jsx
  apps/web/src/routes/PostDetail/ActionCompletionSection.jsx
  apps/web/src/routes/TrackHome/TrackHome.jsx
Due: web-changed

Fixed dropdown and display of responses in tracks
  apps/web/src/components/ActionCompletionResponsesDialog/ActionCompletionResponsesDialog.jsx
  apps/web/src/components/Dropdown/Dropdown.js
Due: web-changed

Add separate field for track action descriptor and descriptor plural
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/migrations/20250516182703_add-action-name-plural-to-track.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/TrackCard/TrackCard.jsx
  apps/web/src/components/TrackEditor/TrackEditor.js
  apps/web/src/components/TrackEditor/TrackEditor.test.js
  apps/web/src/routes/PostDetail/ActionCompletionSection.jsx
  apps/web/src/routes/TrackHome/TrackHome.jsx
  apps/web/src/store/actions/fetchGroupTracks.js
  apps/web/src/store/actions/fetchMyTracks.js
  apps/web/src/store/actions/trackActions.js
  apps/web/src/store/models/Track.js
Due: backend-changed, web-changed

Mobile: Use actionDescriptor values instead of actionsTerm
  apps/mobile/src/components/PostCompletion/PostCompletion.js
  apps/mobile/src/components/TrackCard/TrackCard.js
  apps/mobile/src/screens/TrackDetail/TrackDetail.js
  packages/graphql/fragments/trackFieldsFragment.js
  packages/graphql/fragments/trackFragment.js
Due: mobile-changed

Show welcome message on enrollment
  apps/mobile/src/screens/TrackDetail/TrackDetail.js
Due: mobile-changed

Rename PostCompletion to ActionCompletionSection
  apps/mobile/src/components/ActionCompletionSection/ActionCompletionSection.js
  apps/mobile/src/components/PostCompletion/index.js
  apps/mobile/src/screens/PostDetails/PostDetails.js
Due: mobile-changed

Allow action responses for text prompts to be updated
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/src/components/ActionCompletionSection/ActionCompletionSection.js
  apps/mobile/src/components/ActionCompletionSection/index.js
  apps/mobile/src/screens/PostDetails/PostDetails.js
  apps/web/public/locales/en.json
  apps/web/src/components/ActionCompletionResponsesDialog/ActionCompletionResponsesDialog.jsx
  packages/graphql/fragments/postFieldsFragment.js
  packages/presenters/PostPresenter.js
Due: web-changed, mobile-changed

Make track completion message consistent
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/src/components/ActionCompletionSection/ActionCompletionSection.js
  apps/mobile/src/screens/UploadAction/UploadAction.js
Due: mobile-changed

Attempt to circumnavigate iOS store version number annoyances
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

resolve currentAction in the TrackPresenter
  packages/presenters/TrackPresenter.js
Due: none

Pre-review clean up
  apps/mobile/src/hooks/useReactOnEntity.js
  apps/web/public/locales/es.json
  packages/graphql/queries/myTracksQuery.graphql
  packages/hooks/useTracks.js
Due: web-changed, mobile-changed

Expose allowInPublic on groups
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
Due: backend-changed

Fix issue where people without manage tracks responsibility could see menu item for it
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Explain that making certain posts public will share them to the Commons
  apps/mobile/locales/es.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/PublicToggle/PublicToggle.js
  apps/web/src/graphql/fragments/groupFieldsFragment.js
  apps/web/src/graphql/fragments/groupQueryFragment.js
  apps/web/src/routes/GroupSettings/PrivacySettingsTab/PrivacySettingsTab.jsx
  apps/web/src/store/actions/fetchMyMemberships.js
Due: web-changed, mobile-changed

Add form for allow-in-commons
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/GroupSettings/GroupSettings.module.scss
  apps/web/src/routes/GroupSettings/PrivacySettingsTab/PrivacySettingsTab.jsx
Due: web-changed

Show allow-in-commons section on createGroup
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/CreateGroup/CreateGroup.js
  apps/web/src/routes/CreateGroup/CreateGroup.jsx
  apps/web/src/routes/GroupSettings/PrivacySettingsTab/PrivacySettingsTab.jsx
Due: web-changed

Explain post-in-public in mobile Post Editor
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/src/screens/PostEditor/PostEditor.js
  packages/graphql/fragments/groupFieldsFragment.js
  packages/graphql/fragments/membershipFieldsFragment.js
Due: mobile-changed

Add allow-in-commons explainer to mobile group creation
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/src/screens/CreateGroup/CreateGroupVisibilityAccessibility.js
Due: mobile-changed

Revert removal of commented out group relationship code
  apps/web/src/routes/CreateGroup/CreateGroup.jsx
Due: web-changed

Review tweaks
  apps/mobile/locales/es.json
  apps/mobile/src/screens/CreateGroup/CreateGroupVisibilityAccessibility.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/CreateGroup/CreateGroup.jsx
  apps/web/src/routes/GroupSettings/PrivacySettingsTab/PrivacySettingsTab.jsx
Due: web-changed, mobile-changed

Remove unused query fields
  packages/graphql/fragments/postFieldsFragment.js
Due: none

Fix blank screen on signup
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Fix display of some group settings in dark mode
  apps/web/src/routes/GroupSettings/CustomViewsTab/CustomViewsTab.module.scss
  apps/web/src/routes/GroupSettings/RolesSettingsTab/RolesSettingsTab.module.scss
Due: web-changed

Remove extraneous border around some dropdowns
  apps/web/src/components/Dropdown/Dropdown.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
Due: web-changed

Verison web@v6.0.7
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: web-changed

Check whether there is a groupSlug available from the matched path, and use that to avoid certain navigation changes
  apps/mobile/src/hooks/useHandleCurrentGroup.js
Due: mobile-changed

Cleanup
  apps/mobile/src/hooks/useHandleCurrentGroup.js
  apps/mobile/src/navigation/AuthRootNavigator.js
Due: mobile-changed

Display comment responses to actions correctly
  apps/mobile/src/components/ActionCompletionSection/ActionCompletionSection.js
Due: mobile-changed

Copy tweaks for add-to-commons applications
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/src/screens/CreateGroup/CreateGroupVisibilityAccessibility.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/Map/Map.js
  apps/web/src/routes/CreateGroup/CreateGroup.jsx
  apps/web/src/routes/GroupSettings/PrivacySettingsTab/PrivacySettingsTab.jsx
Due: web-changed, mobile-changed

Replace emoji-mart with react-native-emoji-popup
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/src/components/EmojiPicker/EmojiPicker.js
  yarn.lock
Due: mobile-changed

Move path helper to shared navigation file
  apps/mobile/src/navigation/AuthRootNavigator.js
  packages/navigation/index.js
Due: mobile-changed

mobile pre-release 6.1.000
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

I hate the ios app store
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

I still hate the ios store
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Gah
  apps/mobile/ios/HyloReactNative/Info.plist
Due: mobile-changed

RC for 6.1.3
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
