Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Polish tabs, simple groups, and phone navigation
  apps/web/src/components/ViewHeader/ViewHeader.jsx
  apps/web/src/graphql/queries/MeQuery.js
  apps/web/src/hooks/useIsPhoneViewport.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/OneColumnLayout.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/AuthLayoutRouter/components/TopNav/TopNav.jsx
  apps/web/src/routes/GroupSettings/GroupSettings.js
  apps/web/src/store/selectors/getMyGroups.js
Due: web-changed

Another tweak to calendar input layout
  apps/web/src/components/ui/datetimepicker.jsx
  apps/web/src/components/ui/popover.jsx
Due: web-changed

Various copy tweaks for the paid content admin panel
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/GroupSettings/PaidContentTab/ContentAccessTab.js
  apps/web/src/routes/GroupSettings/PaidContentTab/GroupPaywallSection.js
  apps/web/src/routes/GroupSettings/PaidContentTab/OfferingsTab.js
  apps/web/src/routes/GroupSettings/PaidContentTab/PaidContentTab.js
Due: web-changed

Get e2e testing to cover non-auth routes
  apps/web/e2e/unauthenticated.routes.spec.js
  apps/web/package.json
  apps/web/playwright.config.js
  apps/web/src/routes/PublicLayoutRouter/PublicLayoutRouter.js
Due: web-changed

Isolate e2e tests from local dev; seed e2e db; first tranch of e2e tests
  apps/backend/api/controllers/UserController.js
  apps/backend/app.js
  apps/backend/scripts/print-e2e-notification-jwt.js
  apps/backend/scripts/seed-e2e-baseline.js
  apps/backend/seeds/e2e/README.md
  apps/web/.env.example
  apps/web/e2e/auth.setup.js
  apps/web/e2e/unauthenticated.routes.spec.js
  apps/web/package.json
  apps/web/playwright.config.js
  apps/web/scripts/run-isolated-e2e.js
  apps/web/src/config/index.js
  apps/web/src/routes/RootRouter/RootRouter.js
  apps/web/src/store/middleware/apiMiddleware.js
Due: backend-changed, web-changed

Update drafts functionality to store drafts on the server instead of on device
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/comment.js
  apps/backend/api/graphql/mutations/draft.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/mutations/post.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Draft.js
  apps/backend/migrations/20260413120000_create-drafts.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/CreateModal/CreateModal.js
  apps/web/src/components/PostDialog/PostDialog.jsx
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/UnsavedDraftLeaveDialog/UnsavedDraftLeaveDialog.js
  apps/web/src/hooks/useDraft.js
  apps/web/src/routes/Messages/Messages.js
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.jsx
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.js
  apps/web/src/routes/PostDetail/Comments/Comments.js
  apps/web/src/routes/PostDetail/PostDetail.js
  apps/web/src/routes/Stream/MyDrafts.jsx
  apps/web/src/store/actions/draftActions.js
  apps/web/src/store/constants.js
  apps/web/src/store/models/Draft.js
  apps/web/src/store/models/index.js
  apps/web/src/store/reducers/ormReducer/index.js
  apps/web/src/store/selectors/getDrafts.js
  packages/graphql/fragments/draftFieldsFragment.js
  packages/graphql/mutations/deleteDraftMutation.js
  packages/graphql/mutations/index.js
  packages/graphql/mutations/saveDraftMutation.js
  packages/graphql/queries/draftQuery.js
  packages/graphql/queries/myDraftsQuery.js
Due: backend-changed, web-changed

Add post type differentiation between drafts
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/draft.js
  apps/backend/api/graphql/mutations/post.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Draft.js
  apps/backend/migrations/20260501105000_add-post-type-to-drafts.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/CreateModal/CreateModal.js
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/ui/dialog.jsx
  apps/web/src/hooks/useDraft.js
  apps/web/src/hooks/useDraftStorage.js
  apps/web/src/routes/Messages/Messages.js
  apps/web/src/routes/Stream/MyDrafts.jsx
  apps/web/src/store/actions/draftActions.js
  apps/web/src/store/models/Draft.js
  apps/web/src/store/reducers/ormReducer/index.js
  apps/web/src/store/selectors/getDrafts.js
  packages/graphql/fragments/draftFieldsFragment.js
  packages/graphql/mutations/saveDraftMutation.js
  packages/graphql/queries/draftQuery.js
Due: backend-changed, web-changed

e2e batch A tests ready
  apps/web/.env.example
  apps/web/e2e/authenticated.shell.spec.js
  docs/E2E_PLAYWRIGHT_TRACKING.md
Due: web-changed

e2e batch B complete
  apps/web/e2e/authenticated.all-context.spec.js
  apps/web/e2e/authenticated.shell.spec.js
  apps/web/e2e/helpers/waitPastRootSessionLoading.js
  apps/web/e2e/unauthenticated.routes.spec.js
  docs/E2E_PLAYWRIGHT_TRACKING.md
Due: web-changed

Authenicated public content spec for e2e tests aka Batch C
  apps/web/e2e/authenticated.public-context.spec.js
  docs/E2E_PLAYWRIGHT_TRACKING.md
Due: web-changed

e2e tests for group routes
  apps/web/e2e/authenticated.group-workspace.spec.js
  docs/E2E_PLAYWRIGHT_TRACKING.md
Due: web-changed

e2e tests for post detail views; batch E
  apps/web/e2e/authenticated.post-detail.spec.js
  docs/E2E_PLAYWRIGHT_TRACKING.md
Due: web-changed

Members e2e tests; batch F
  apps/web/e2e/authenticated.members-profiles.spec.js
  docs/E2E_PLAYWRIGHT_TRACKING.md
Due: web-changed

messages e2e tests; Batch G
  apps/backend/lib/HyloJWT.js
  apps/web/e2e/auth.setup.js
  apps/web/e2e/authenticated.messages.spec.js
  apps/web/e2e/helpers/waitPastRootSessionLoading.js
  apps/web/e2e/unauthenticated.routes.spec.js
  apps/web/scripts/run-isolated-e2e.js
  apps/web/scripts/start.js
  apps/web/vite.config.js
  docs/E2E_PLAYWRIGHT_TRACKING.md
Due: backend-changed, web-changed

My account e2e tests; Batch H
  apps/web/e2e/authenticated.my-account.spec.js
  apps/web/scripts/start.js
  docs/E2E_PLAYWRIGHT_TRACKING.md
Due: web-changed

e2e for group settings and moderation; Batch I
  apps/backend/scripts/seed-e2e-baseline.js
  apps/web/e2e/authenticated.create-edit-modals.spec.js
  apps/web/e2e/authenticated.group-settings-moderation.spec.js
  apps/web/e2e/authenticated.group-workspace.spec.js
  docs/E2E_PLAYWRIGHT_TRACKING.md
Due: backend-changed, web-changed

Hide description for About widget in the context menu
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

e2e testing for welcome wizard; batch K
  apps/backend/api/graphql/index.test.js
  apps/web/e2e/authenticated.welcome-management.spec.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  docs/E2E_PLAYWRIGHT_TRACKING.md
Due: backend-changed, web-changed

e2e for create group and join group; Batch L '
  apps/backend/scripts/seed-e2e-baseline.js
  apps/web/e2e/authenticated.create-group-join.spec.js
  docs/E2E_PLAYWRIGHT_TRACKING.md
Due: backend-changed, web-changed

Add Via Hylo to appropriate emails
  apps/backend/api/services/Email.js
  apps/backend/lib/i18n/de.js
  apps/backend/lib/i18n/en.js
  apps/backend/lib/i18n/es.js
  apps/backend/lib/i18n/fr.js
  apps/backend/lib/i18n/hi.js
  apps/backend/lib/i18n/pt.js
Due: backend-changed

e2e for welcome overlay; Batch M
  apps/backend/scripts/seed-e2e-baseline.js
  apps/web/e2e/authenticated.group-welcome-modal.spec.js
  docs/E2E_PLAYWRIGHT_TRACKING.md
Due: backend-changed, web-changed

Setup CI/CD e2e tests in github
  .github/workflows/playwright.yml
  apps/web/playwright.config.js
Due: web-changed

Try a different postgres config for e2e testing in the cloud
  .github/workflows/playwright.yml
  docs/E2E_PLAYWRIGHT_TRACKING.md
Due: none

Add postGIS to e2e config and tell gitguardian to chill out
  .gitguardian.yaml
  .github/workflows/playwright.yml
Due: none

Avoid failing on setup of social auth
  .github/workflows/playwright.yml
Due: none

Fix OIDC fake key gen
  .github/workflows/playwright.yml
Due: none

Skip segment use in e2e testing
  apps/backend/api/services/Analytics.js
  apps/web/scripts/run-isolated-e2e.js
Due: backend-changed, web-changed

Try avoid the timeout on github actions
  .github/workflows/playwright.yml
  apps/backend/api/controllers/CommentController.js
  apps/backend/api/graphql/index.test.js
  apps/backend/api/graphql/mutations/group.js
  apps/backend/lib/HyloJWT.js
  apps/web/e2e/auth.setup.js
  apps/web/playwright.config.js
Due: backend-changed, web-changed

Attempt to bump Node version for github actions
  .github/workflows/playwright.yml
  apps/web/e2e/auth.setup.js
  apps/web/e2e/unauthenticated.routes.spec.js
Due: web-changed

Attempt to ensure login works on github actions
  apps/web/e2e/auth.setup.js
Due: web-changed

Add via Hylo to the SENDER, not subject
  apps/backend/api/models/Notification.js
  apps/backend/api/models/TagFollow.js
  apps/backend/api/models/comment/notifications.js
  apps/backend/api/models/event/mixin.js
  apps/backend/api/services/Email.js
  apps/backend/lib/email/senderNameViaHylo.js
  apps/backend/lib/group/digest2/index.js
  apps/backend/lib/i18n/de.js
  apps/backend/lib/i18n/en.js
  apps/backend/lib/i18n/es.js
  apps/backend/lib/i18n/fr.js
  apps/backend/lib/i18n/hi.js
  apps/backend/lib/i18n/pt.js
Due: backend-changed

Still trying to get login to work on github actions
  apps/web/e2e/auth.setup.js
  apps/web/playwright.config.js
Due: web-changed

Last chance
  .github/workflows/playwright.yml
  apps/web/e2e/auth.setup.js
Due: web-changed

Add agreements link to about page
  apps/web/src/routes/GroupDetail/GroupDetail.js
Due: web-changed

Skip filestack key for e2e cloud testing
  apps/web/src/client/filestack.js
Due: web-changed

Avoid public comments leading to badly formed urls in notifications
  apps/backend/api/models/Notification.js
  apps/backend/api/models/Post.js
  apps/backend/api/models/comment/notifications.js
  apps/backend/test/unit/models/Notification.test.js
  apps/backend/test/unit/models/Post.test.js
Due: backend-changed

Stop mixpanel from crashing the e2e cloud tets
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/RootRouter/RootRouter.js
  apps/web/src/store/reducers/mixpanel.js
Due: web-changed

Once more into the breech
  apps/web/e2e/auth.setup.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Squash intercom load for cloud e2e
  apps/backend/api/models/User.js
Due: backend-changed

Use the special action label for a track in all places
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/src/components/PostCard/PostCard.js
  apps/mobile/src/screens/TrackDetail/TrackDetail.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/PostCard/PostCard.jsx
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
  apps/web/src/routes/TrackHome/TrackHome.jsx
Due: web-changed, mobile-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
