Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Fix Manage Notifications again/more
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/NonAuthLayoutRouter/ManageNotifications/ManageNotifications.js
Due: web-changed

Once again, try to fix Heroku build
  apps/web/src/routes/NonAuthLayoutRouter/Login/Login.js
  apps/web/src/routes/NonAuthLayoutRouter/PasswordReset/PasswordReset.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Signup.js
Due: web-changed

Fix Android deeplinking but separating out into two intent filters
  apps/mobile/android/app/src/main/AndroidManifest.xml
Due: mobile-changed

mobile 6.1.3 final
  apps/mobile/CHANGELOG
Due: mobile-changed

Fix display of close drawer button on initial load of map
  apps/web/src/routes/MapExplorer/MapDrawer/MapDrawer.js
  apps/web/src/routes/MapExplorer/MapExplorer.js
Due: web-changed

Removing mobile calls for registerDevice, since these are redundant
  apps/mobile/src/navigation/AuthRootNavigator.js
  apps/mobile/src/navigation/RootNavigator/RootNavigator.js
Due: mobile-changed

staging test 6.1.3
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Updated language in an attempt to be more accurate
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/UserSettings/NotificationSettingsTab/NotificationSettingsTab.js
Due: web-changed

Fix z-index of open/close map drawer icon
  apps/web/src/routes/MapExplorer/MapExplorer.js
Due: web-changed

Mobile release 6.1.2
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Added many missing translations
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: web-changed

Push notifs ReadMe update
  apps/backend/.env.example
  apps/mobile/README.md
Due: backend-changed, mobile-changed

mobile = 6.1.4
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Format push notification url before sending to OneSignal
  apps/backend/api/services/OneSignal.js
Due: backend-changed

Fix console warning
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Deprecate Device model (leaving table in place for now)
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/mobile.js
  apps/backend/api/graphql/mutations/mobile.test.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Device.js
  apps/backend/api/models/Notification.js
  apps/backend/api/models/User.js
  apps/backend/package.json
  apps/backend/test/setup/factories.js
  apps/backend/test/unit/models/Device.test.js
  apps/backend/test/unit/models/Notification.test.js
  apps/backend/test/unit/services/UserManagement.test.js
  apps/mobile/src/navigation/AuthRootNavigator.js
Due: backend-changed, mobile-changed

Update OneSignal to use SDK and update related models and database tables
  apps/backend/api/controllers/UserController.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/PushNotification.js
  apps/backend/api/models/User.js
  apps/backend/api/services/OneSignal.js
  apps/backend/migrations/20250625101946_push-notifications-update-OneSignal.js
  apps/backend/package.json
  apps/web/src/graphql/queries/MeQuery.js
  apps/web/src/routes/UserSettings/NotificationSettingsTab/NotificationSettingsTab.test.js
  yarn.lock
Due: backend-changed, web-changed

Backend v6.1.4
  apps/backend/CHANGELOG.md
  apps/backend/package.json
Due: backend-changed

Improved the vibes of the group card
  apps/web/src/components/GroupCard/GroupCard.js
Due: web-changed

Re-add badge number to OneSignal call
  apps/backend/api/models/PushNotification.js
  apps/backend/api/services/OneSignal.js
Due: backend-changed

Stop querying for group postCount since we dont use it
  apps/web/src/routes/MapExplorer/MapExplorer.store.js
  apps/web/src/routes/MapExplorer/__snapshots__/MapExplorer.store.test.js.snap
  apps/web/src/routes/Stream/Stream.store.js
  apps/web/src/store/actions/__snapshots__/fetchPosts.test.js.snap
  apps/web/src/store/actions/fetchPosts.js
  apps/web/src/store/reducers/ormReducer/index.js
  apps/web/src/store/selectors/selectors.test.js
Due: web-changed

Fixed translation keys
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: web-changed

Remove cleanup function
  apps/mobile/src/navigation/AuthRootNavigator.js
Due: mobile-changed

Add one piece to mobile readme
  apps/mobile/README.md
Due: mobile-changed

Linting
  apps/web/src/routes/UserSettings/EditProfileTab/EditProfileTab.js
Due: web-changed

Make the topic selector much faster
  apps/backend/api/graphql/filters.js
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/services/Search.js
  apps/web/src/components/HyloEditor/extensions/TopicMentions.js
  apps/web/src/components/TopicSelector/TopicSelector.js
  apps/web/src/routes/AllView/AllView.jsx
  apps/web/src/store/actions/findTopics.js
Due: backend-changed, web-changed

Updated style of Edit Profile section of user settings
  apps/web/src/components/Pillbox/Pillbox.js
  apps/web/src/routes/UserSettings/EditProfileTab/EditProfileTab.js
  apps/web/src/routes/UserSettings/EditProfileTab/SocialControl.js
Due: web-changed

Fixed userGroups tab mobile
  apps/web/src/routes/UserSettings/UserGroupsTab/UserGroupsTab.js
Due: web-changed

Actually handle timezone during post create/update
  apps/mobile/src/screens/PostEditor/PostEditor.store.js
  packages/graphql/mutations/createPostMutation.js
  packages/graphql/mutations/createProjectMutation.js
  packages/graphql/mutations/updatePostMutation.js
Due: mobile-changed

Fix search text color in event invite dialog in dark mode
  apps/web/src/components/EventInviteDialog/EventInviteDialog.module.scss
Due: web-changed

Use timezones in display of dateTimes in posts
  apps/mobile/src/components/PostCard/PostBody/PostBody.js
  apps/mobile/src/components/PostCard/PostCard.js
  apps/mobile/src/components/PostCard/PostCardForDetails.js
  packages/graphql/fragments/groupContextWidgetsFieldsFragment.js
  packages/graphql/queries/personQuery.js
Due: mobile-changed

files component hook was missing parens
  apps/mobile/src/components/Files/Files.js
Due: mobile-changed

Update comment component to new emoji picker
  apps/mobile/src/components/Comment/Comment.js
  apps/mobile/src/components/EmojiPicker/EmojiPicker.js
Due: mobile-changed

Remove unnecessary comment component state
  apps/mobile/src/components/Comment/Comment.js
Due: mobile-changed

Add markdown formatting to welcome page content
  apps/mobile/src/screens/GroupWelcome/GroupWelcome.js
  apps/mobile/src/screens/GroupWelcome/GroupWelcomePage.js
Due: mobile-changed

Mobile readme tweaks
  apps/mobile/README.md
Due: mobile-changed

Fix html rendering of h1, h2 etc tags
  apps/mobile/src/components/HyloHTML/HyloHTML.styles.js
Due: mobile-changed

Missing translations
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: web-changed

Fixed button text size and label positioning on login/signup
  apps/web/src/components/GoogleButton/GoogleButton.js
  apps/web/src/components/TextInput/TextInput.js
  apps/web/src/routes/NonAuthLayoutRouter/Login/Login.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Signup.js
Due: web-changed

Lint fixes
  apps/web/src/contexts/DropdownContext.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/MemberProfile/MemberProfile.js
Due: web-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
