Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

chore(mobile): Remove unused toast setup
  apps/mobile/index.js
  apps/mobile/package.json
  apps/mobile/src/screens/PostEditor/PostEditor.test.js
  apps/mobile/src/store/actions/registerDevice.test.js
  apps/mobile/src/util/toast.js
  apps/mobile/src/util/toast.test.js
  yarn.lock
Due: mobile-changed

Clean up of nav, and posts
  apps/web/src/components/EmojiRow/EmojiRow.js
  apps/web/src/components/PostCard/PeopleInfo/PeopleInfo.js
  apps/web/src/components/PostCard/PostBody/PostBody.js
  apps/web/src/components/PostCard/PostCard.jsx
  apps/web/src/components/PostCard/PostFooter/PostFooter.js
  apps/web/src/routes/AllView/AllView.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
Due: web-changed

chore(mobile): URQL directives and debugging setup (WIP)
  apps/mobile/index.js
  apps/mobile/src/urql-shared/client.js
  apps/mobile/src/urql-shared/directives/index.js
Due: mobile-changed

First pass on profile
  apps/web/src/routes/MemberProfile/MemberProfile.js
  apps/web/src/routes/MemberProfile/MemberProfile.module.scss
Due: web-changed

chore(mobile): Upgrade to React Native 0.76.6
  apps/mobile/android/app/build.gradle
  apps/mobile/android/app/src/main/AndroidManifest.xml
  apps/mobile/android/app/src/main/java/com/hylo/hyloandroid/MainApplication.kt
  apps/mobile/android/build.gradle
  apps/mobile/android/gradle.properties
  apps/mobile/android/gradle/wrapper/gradle-wrapper.jar
  apps/mobile/android/gradle/wrapper/gradle-wrapper.properties
  apps/mobile/android/gradlew
  apps/mobile/android/gradlew.bat
  apps/mobile/android/settings.gradle
  apps/mobile/ios/Gemfile
  apps/mobile/ios/Gemfile.lock
  apps/mobile/ios/HyloReactNative.xcodeproj/project.pbxproj
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/src/components/ItemSelectorModal/ItemSelectorModal.js
  yarn.lock
Due: mobile-changed

chore(mobile): Remove Reactotron debugger
  apps/mobile/ReactotronConfig.js
  apps/mobile/index.js
  apps/mobile/package.json
  yarn.lock
Due: mobile-changed

chore(mobile): RoundCheckBox fix
  apps/mobile/src/components/ItemSelectorModal/ItemSelectorModal.js
  apps/mobile/src/components/RoundCheckBox/RoundCheckbox.js
Due: mobile-changed

chore(mobile): Random touch-ups
  apps/mobile/src/components/Button/Button.js
  apps/mobile/src/components/CreateGroupNotice/CreateGroupNotice.js
  apps/mobile/src/components/FormattedError/FormattedError.js
  apps/mobile/src/components/ImagePicker/ImagePicker.js
  apps/mobile/src/components/ListControl/ListControl.js
  apps/mobile/src/components/LocaleSelector/LocaleSelector.js
  apps/mobile/src/components/MultiSelect/MultiSelect.js
Due: mobile-changed

All sorts of improvements, mostly to profile
  apps/web/src/components/Button/Button.js
  apps/web/src/components/Button/Button.module.scss
  apps/web/src/components/Membership/Membership.js
  apps/web/src/css/layout.scss
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
  apps/web/src/routes/MemberProfile/MemberProfile.js
Due: web-changed

chore(mobile): RN 0.76.6 dependency updates
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/src/screens/PostEditor/PostEditor.js
  yarn.lock
Due: mobile-changed

First pass at new post editor
  apps/web/CHANGELOG.md
  apps/web/src/components/HyloEditor/HyloEditor.js
  apps/web/src/components/HyloEditor/HyloEditor.module.scss
  apps/web/src/components/HyloEditor/HyloEditorMenuBar.js
  apps/web/src/components/PostEditor/ActionsBar.jsx
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/PostEditor/PostEditor.module.scss
  apps/web/src/components/PostEditor/PostEditor.test.js
  apps/web/src/components/UploadAttachmentButton/UploadAttachmentButton.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.store.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MenuLink/MenuLink.jsx
  apps/web/src/store/models/Post.js
  apps/web/src/util/navigation.js
Due: web-changed

fix broken luxon code
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Fix error in chatrooms
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

wip
  apps/mobile/src/components/GroupMenuHeader/GroupMenuHeader.js
  apps/mobile/src/components/PostCard/PostBodyProposal/PostBodyProposal.js
  apps/mobile/src/components/WidgetIconResolver/WidgetIconResolver.js
  apps/mobile/src/navigation/menus/ContextMenu/ContextMenu.js
Due: mobile-changed

Show context menu for /ALL
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

chore(mobile): Some graphql clean-up/normalization
  apps/mobile/src/components/StreamList/StreamList.store.js
  apps/mobile/src/graphql/fragments/commentFieldsFragment.js
  apps/mobile/src/graphql/fragments/groupFieldsFragment.js
  apps/mobile/src/graphql/fragments/groupGroupExtensionsFieldsFragment.js
  apps/mobile/src/graphql/fragments/groupGroupTopicsFieldsFragment.js
  apps/mobile/src/graphql/fragments/groupJoinQuestionsFieldsFragment.js
  apps/mobile/src/graphql/fragments/groupPendingInvitationsFieldsFragment.js
  apps/mobile/src/graphql/fragments/groupPrerequisiteGroupsFieldsFragment.js
  apps/mobile/src/graphql/fragments/groupWidgetsFieldsFragment.js
  apps/mobile/src/graphql/fragments/postFieldsFragment.js
  apps/mobile/src/graphql/fragments/postsQuerySetFragment.js
  apps/mobile/src/graphql/queries/groupDetailsQueryMaker.js
  apps/mobile/src/screens/CreateGroupFlow/CreateGroupFlow.store.js
  apps/mobile/src/screens/MemberProfile/MemberStream/MemberStream.js
  apps/mobile/src/screens/Thread/Thread.js
  apps/mobile/src/screens/ThreadList/ThreadList.js
Due: mobile-changed

Correct background color for log-out button
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Merge fixes and ensuring Android builds
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/src/components/GroupMenuHeader/GroupMenuHeader.js
  apps/mobile/src/graphql/fragments/groupFieldsFragment.js
  apps/mobile/src/navigation/menus/GlobalNav/GlobalNav.js
  apps/mobile/src/screens/DrawerMenu/DrawerMenu.js
  yarn.lock
Due: mobile-changed

Add homeWidget to Group graphQL interface
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Group.js
Due: backend-changed

Add homeWidget to graphql fragments. Tweak widget helpers. WIP on navigation using openURL
  apps/mobile/src/graphql/fragments/groupFieldsFragment.js
  apps/mobile/src/graphql/queries/meQuery.js
  apps/mobile/src/hooks/useChangeToGroup.js
  apps/mobile/src/hooks/useCurrentGroup.js
  apps/mobile/src/navigation/TabsNavigator.js
  apps/mobile/src/navigation/headers/TabStackHeader.js
  apps/mobile/src/navigation/linking/index.js
  apps/mobile/src/navigation/menus/ContextMenu/ContextMenu.js
  apps/mobile/src/navigation/menus/GlobalNav/GlobalNav.js
  apps/mobile/src/screens/GroupWelcomeFlow/GroupWelcomeLanding.js
  packages/shared/src/WidgetHelpers.js
Due: mobile-changed

chore(mobile): Move to RN New Architecture + full dependency updates
  apps/mobile/ios/HyloReactNative.xcodeproj/project.pbxproj
  apps/mobile/ios/HyloReactNative/PrivacyInfo.xcprivacy
  apps/mobile/ios/Podfile
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  yarn.lock
Due: mobile-changed

chore(mobile): Fix LocationSelectorModal
  apps/mobile/src/components/ItemSelectorModal/ItemSelectorModal.js
  apps/mobile/src/components/LocationSelectorModal/LocationSelectorModalItemRow.js
  apps/mobile/src/components/LocationSelectorModal/useFindOrCreateLocationObject.js
  apps/mobile/src/screens/PostEditor/PostEditor.js
Due: mobile-changed

Added pager-view
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  yarn.lock
Due: mobile-changed

chore(mobile): ItemSelectorModal updates for initialSearchTerm, multiple chooser, etc. Applied to PostEditor.
  apps/mobile/src/components/ItemSelectorModal/ItemSelectorModal.js
  apps/mobile/src/screens/PostEditor/PostEditor.js
Due: mobile-changed

chore(mobile): Topics selection working in PostEditor
  apps/mobile/src/components/ItemSelectorModal/ItemSelectorModal.js
  apps/mobile/src/screens/PostEditor/PostEditor.js
Due: mobile-changed

chore(mobile): Fix back button icon
  apps/mobile/src/navigation/headers/TabStackHeader.js
Due: mobile-changed

chore(mobile): Fix Mobile Editor, and topics for group query
  apps/mobile/src/components/HyloWebView/HyloWebView.js
  apps/mobile/src/graphql/queries/topicsForGroupIdQuery.js
  apps/mobile/src/navigation/UserSettingsTabsNavigator.js
  apps/mobile/src/navigation/headers/TabStackHeader.js
  apps/mobile/src/urql-shared/keys.js
Due: mobile-changed

chore(mobile): Fixes Post Edit
  apps/mobile/src/screens/PostEditor/PostEditor.js
  apps/mobile/src/urql-shared/client.js
Due: mobile-changed

chore(mobile): Fixes PostBody footer styling due to LinearGradient library not up-to-date with Fabric
  apps/mobile/src/components/PostCard/PostCard.js
  apps/mobile/src/components/PostCard/PostFooter/PostFooter.js
Due: mobile-changed

chore(mobile): Normalize forwardRef usage
  apps/mobile/src/components/CommentEditor/CommentEditor.js
  apps/mobile/src/components/Comments/Comments.js
  apps/mobile/src/components/HyloEditorWebView/HyloEditorWebView.js
  apps/mobile/src/components/HyloWebView/HyloWebView.js
  apps/mobile/src/components/ItemSelectorModal/ItemSelectorModal.js
  apps/mobile/src/components/LocationSelectorModal/LocationSelectorModal.js
Due: mobile-changed

add .cursorrules
  .cursorrules
Due: none

Add basic all view to the mobile context menu
  apps/mobile/src/components/WidgetIconResolver/WidgetIconResolver.js
  apps/mobile/src/navigation/menus/ContextMenu/ContextMenu.js
  apps/mobile/src/screens/AllView/AllView.js
Due: mobile-changed

chore(mobile): Make URQL query get root more tolerant
  apps/mobile/src/urql-shared/getFirstRootFieldFromData.js
Due: mobile-changed

chore(mobile): Begin Signup conversion, fix deps
  apps/mobile/ios/HyloReactNative.xcodeproj/project.pbxproj
  apps/mobile/package.json
  apps/mobile/src/components/HyloWebView/HyloWebView.js
  apps/mobile/src/navigation/linking/getStateFromPath.js
  apps/mobile/src/screens/Signup/Signup.js
  apps/mobile/src/screens/Signup/SignupEmailValidation/SignupEmailValidation.js
  apps/mobile/src/store/actions/sendEmailVerification.js
  yarn.lock
Due: mobile-changed

Just use navigation.navigate for navigation. Several links/navigation actions need to be fixed. Chatroom does not seem responsive to change of topic
  apps/mobile/src/components/PostListRow/PostListRow.js
  apps/mobile/src/hooks/useChangeToGroup.js
  apps/mobile/src/navigation/HomeNavigator.js
  apps/mobile/src/navigation/TabsNavigator.js
  apps/mobile/src/navigation/headers/TabStackHeader.js
  apps/mobile/src/navigation/linking/index.js
  apps/mobile/src/navigation/menus/ContextMenu/ContextMenu.js
  apps/mobile/src/navigation/menus/GlobalNav/GlobalNav.js
  apps/mobile/src/screens/AllTopicsWebView/AllTopicsWebView.js
  apps/mobile/src/screens/AllView/AllView.js
  apps/mobile/src/screens/ChatRoomWebView/ChatRoomWebView.js
  apps/mobile/src/screens/PostEditor/DatePickerWithLabel.js
  apps/web/src/components/ViewHeader/ViewHeader.jsx
  apps/web/src/components/WidgetIconResolver/WidgetIconResolver.jsx
  packages/shared/src/NavigationHelpers.js
  packages/shared/src/WidgetHelpers.js
Due: web-changed, mobile-changed

chore(mobile): Convert Sign-up to URQL, change useAuthState to useAuthStatus and update usage throughout
  apps/mobile/src/graphql/mutations/updateUserSettingsMutation.js
  apps/mobile/src/hooks/useAuthState.js
  apps/mobile/src/hooks/useAuthStatus.js
  apps/mobile/src/navigation/NonAuthRootNavigator.js
  apps/mobile/src/navigation/RootNavigator/RootNavigator.js
  apps/mobile/src/navigation/linking/getStateFromPath.js
  apps/mobile/src/screens/JoinGroup/JoinGroup.js
  apps/mobile/src/screens/Login/Login.js
  apps/mobile/src/screens/LoginByTokenHandler/LoginByTokenHandler.js
  apps/mobile/src/screens/Signup/Signup.js
  apps/mobile/src/screens/Signup/SignupRegistration/SignupRegistration.js
  apps/mobile/src/screens/Signup/SignupSetLocation/SignupSetLocation.js
  apps/mobile/src/screens/Signup/SignupUploadAvatar/SignupUploadAvatar.js
  apps/mobile/src/store/actions/register.js
  apps/mobile/src/store/actions/verifyEmail.js
Due: mobile-changed

chore(mobile): Fix signup upload avatar step
  apps/mobile/src/screens/Signup/SignupUploadAvatar/SignupUploadAvatar.js
Due: mobile-changed

Somehow the webView was crashing without this undefined guard
  apps/mobile/src/components/HyloWebView/HyloWebView.js
Due: mobile-changed

chore(mobile): Fixes WebView path-to-regexp usage
  apps/mobile/src/components/HyloWebView/HyloWebView.js
Due: mobile-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
