Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

Cancel members' pending invitations when they can no longer invite
  apps/backend/api/graphql/mutations/group.test.js
  apps/backend/api/graphql/mutations/responsibilities.js
  apps/backend/api/graphql/mutations/responsibilities.test.js
  apps/backend/api/graphql/mutations/role.js
  apps/backend/api/graphql/mutations/role.test.js
  apps/backend/api/models/Group.js
  apps/backend/api/models/invitation/expireForPolicyChange.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/GroupSettings/PrivacySettingsTab/PrivacySettingsTab.jsx
  apps/web/src/routes/GroupSettings/PrivacySettingsTab/PrivacySettingsTab.test.js
Due: backend-changed, web-changed

Open All My Groups from /my and grey out empty My Home items
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/meHasAny.js
  apps/backend/api/graphql/meHasAny.test.js
  apps/backend/api/graphql/schema.graphql
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/TopicSupportComingSoon/TopicSupportComingSoon.test.js
  apps/web/src/components/TopicSupportComingSoon/index.js
  apps/web/src/graphql/queries/MeQuery.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuGrid.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuGrid.test.js
  apps/web/src/routes/MapExplorer/MapExplorer.js
  apps/web/src/routes/ViewContent/ViewContent.js
  apps/web/src/store/selectors/getLandingPath.js
  apps/web/src/store/selectors/getLandingPath.test.js
  apps/web/src/util/mobileNavBack.js
  apps/web/src/util/mobileNavBack.test.js
  apps/web/src/util/myHomeMenu.js
  apps/web/src/util/myHomeMenu.test.js
  apps/web/src/util/savedSearch.js
Due: backend-changed, web-changed

Search: gentler recency, a real Distance sort, city search and the matching-skill pill
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/services/FullTextSearch.js
  apps/backend/api/services/Search/forUsers.js
  apps/backend/api/services/Search/util.js
  apps/backend/migrations/20261004000100_search_index_person_location.js
  apps/backend/migrations/schema.sql
  apps/backend/test/unit/services/FullTextSearch.test.js
  apps/backend/test/unit/services/Search.test.js
  apps/web/src/routes/Members/Members.js
  apps/web/src/routes/Members/Members.test.js
  apps/web/src/routes/Search/Search.js
  apps/web/src/routes/Search/Search.test.js
Due: backend-changed, web-changed

Keep a first-touch acquisition source on each new account
  apps/backend/api/controllers/SessionController.js
  apps/backend/api/graphql/mutations/user.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/User.js
  apps/backend/lib/acquisitionSource.js
  apps/backend/migrations/20261006000100_users_acquisition_source.js
  apps/backend/migrations/schema.sql
  apps/backend/test/unit/controllers/SessionController.test.js
  apps/backend/test/unit/models/User.acquisitionSource.test.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Signup.store.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Signup.store.test.js
  apps/web/src/routes/RootRouter/RootRouter.js
  apps/web/src/sandbox/SandboxBanner.jsx
  apps/web/src/store/actions/loginWithService.js
  apps/web/src/util/acquisitionSource.js
  apps/web/src/util/acquisitionSource.test.js
Due: backend-changed, web-changed

Retry failed pushes only within 15 minutes of creation
  apps/backend/api/models/Notification.js
  apps/backend/test/unit/models/Notification.test.js
Due: backend-changed

Suggest live, open groups right after signup
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/services/Search.js
  apps/backend/test/unit/services/Search.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/WelcomeWizardRouter/AddLocation/AddLocation.js
  apps/web/src/routes/WelcomeWizardRouter/AddLocation/AddLocation.test.js
  apps/web/src/routes/WelcomeWizardRouter/RecommendedGroups/RecommendedGroups.js
  apps/web/src/routes/WelcomeWizardRouter/RecommendedGroups/RecommendedGroups.test.js
  apps/web/src/routes/WelcomeWizardRouter/RecommendedGroups/index.js
  apps/web/src/routes/WelcomeWizardRouter/WelcomeWizardRouter.js
  packages/shared/src/constants.js
Due: backend-changed, web-changed

Let people stop invitations to their email address
  apps/backend/api/controllers/InvitationController.js
  apps/backend/api/models/Invitation.js
  apps/backend/api/models/InvitationOptOut.js
  apps/backend/api/services/InvitationService.js
  apps/backend/config/policies.js
  apps/backend/config/routes.js
  apps/backend/lib/i18n/de.js
  apps/backend/lib/i18n/en.js
  apps/backend/lib/i18n/es.js
  apps/backend/lib/i18n/fr.js
  apps/backend/lib/i18n/hi.js
  apps/backend/lib/i18n/pt.js
  apps/backend/migrations/20261002000200_invitation_opt_outs.js
  apps/backend/migrations/schema.sql
  apps/backend/test/unit/controllers/InvitationController.test.js
  apps/backend/test/unit/models/Invitation.test.js
  apps/backend/test/unit/services/InvitationService.test.js
Due: backend-changed

Send Composer Opened, Composer Abandoned and Post Failed events
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/CreateMenu/CreateMenu.jsx
  apps/web/src/components/CreatePostModal/CreatePostModal.jsx
  apps/web/src/components/CreatePostModal/CreatePostModal.test.js
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/PostEditor/PostEditor.test.js
  apps/web/src/components/UnsavedDraftLeaveDialog/UnsavedDraftLeaveDialog.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/ViewContent/PostPrompt.jsx
  packages/navigation/src/index.js
  packages/navigation/src/navigation.test.js
Due: web-changed

Prompt new members to introduce themselves, from a template stewards can edit
  apps/backend/api/graphql/groupIntroTemplate.test.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Notification.js
  apps/backend/test/unit/models/Notification.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/NoPosts/NoPosts.test.js
  apps/web/src/components/NoPosts/index.js
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/PostEditor/PostEditor.test.js
  apps/web/src/components/PostEditor/composerTemplates.js
  apps/web/src/graphql/fragments/groupDetailsFragment.js
  apps/web/src/hooks/useIntroducePrompt.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/GroupSettings/GroupSettings.store.js
  apps/web/src/routes/GroupSettings/GroupSettingsTab/GroupSettingsTab.js
  apps/web/src/routes/GroupSettings/GroupSettingsTab/GroupSettingsTab.test.js
  apps/web/src/routes/GroupWelcomeModal/GroupWelcomeModal.js
  apps/web/src/routes/GroupWelcomeModal/GroupWelcomeModal.test.js
  apps/web/src/routes/GroupWelcomePage/GroupWelcomePage.jsx
  apps/web/src/routes/GroupWelcomePage/GroupWelcomePage.test.js
Due: backend-changed, web-changed

Add a visible Share button to posts and events
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/PostCard/PostFooter/PostFooter.js
  apps/web/src/components/PostCard/PostFooter/PostFooter.test.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
  apps/web/src/components/ShareButton/ShareButton.jsx
  apps/web/src/components/ShareButton/ShareButton.test.js
  apps/web/src/components/ShareButton/index.js
Due: web-changed

Let stewards give the Member role the group's own responsibilities
  apps/backend/api/graphql/mutations/responsibilities.js
  apps/backend/api/graphql/mutations/responsibilities.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/GroupSettings/RolesSettingsTab/RolesSettingsTab.js
  apps/web/src/routes/GroupSettings/RolesSettingsTab/RolesSettingsTab.test.js
Due: backend-changed, web-changed

Let people follow or unfollow a post from its menu
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.test.js
  apps/web/src/graphql/fragments/postFieldsFragment.js
  packages/graphql/fragments/postFieldsFragment.js
Due: web-changed

Expect /my to open All My Groups in the end-to-end checks
  apps/web/e2e/authenticated.my-account.spec.js
Due: web-changed

Record search, member directory and map filter events
  apps/web/src/routes/MapExplorer/MapExplorer.js
  apps/web/src/routes/MapExplorer/MapExplorer.test.js
  apps/web/src/routes/Members/Members.js
  apps/web/src/routes/Members/Members.test.js
  apps/web/src/routes/Search/Search.js
  apps/web/src/routes/Search/Search.test.js
  packages/shared/src/constants.js
Due: web-changed

Remove the dormant Facebook and LinkedIn sign-in server code
  .github/workflows/playwright.yml
  apps/backend/.env.example
  apps/backend/api/controllers/SessionController.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/LinkedAccount.js
  apps/backend/config/passport.js
  apps/backend/config/routes.js
  apps/backend/package.json
  apps/backend/test/unit/controllers/SessionController.test.js
  apps/backend/test/unit/models/User.test.js
  yarn.lock
Due: backend-changed

Add an end-to-end spec for group discovery
  apps/web/e2e/group-discovery.spec.js
Due: web-changed

Land people where they have something to do when Hylo opens
  apps/web/e2e/landing-and-tours.spec.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/AuthLayoutRouter/components/TopNav/TopNav.jsx
  apps/web/src/routes/ViewContent/NewSinceDivider.jsx
  apps/web/src/routes/ViewContent/NewSinceDivider.test.js
  apps/web/src/routes/ViewContent/ViewContent.js
  apps/web/src/routes/ViewContent/ViewContent.test.js
  apps/web/src/store/selectors/getLandingPath.js
  apps/web/src/store/selectors/getLandingPath.test.js
  apps/web/src/store/selectors/getLastViewedGroup.js
  apps/web/src/util/lastVisit.js
  apps/web/src/util/lastVisit.test.js
Due: web-changed

Show Couldn't load, with Try Again, when a post or group fails to load
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/LoadFailed/LoadFailed.jsx
  apps/web/src/components/LoadFailed/index.js
  apps/web/src/routes/GroupDetail/GroupDetail.js
  apps/web/src/routes/GroupDetail/GroupDetail.test.js
  apps/web/src/routes/PostDetail/PostDetail.js
  apps/web/src/routes/PostDetail/PostDetail.test.js
  apps/web/src/store/middleware/apiMiddleware.js
  apps/web/src/store/middleware/apiMiddleware.test.js
Due: web-changed

Add an end-to-end spec for untitled discussions, Enter to send, Share and introductions
  apps/web/e2e/composer-and-share.spec.js
Due: web-changed

Let people add a personal note to their invitations
  apps/backend/api/graphql/mutations/invitation.js
  apps/backend/api/graphql/mutations/invitation.test.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/services/InvitationService.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteNoteField.jsx
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.js
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.store.js
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.test.js
Due: backend-changed, web-changed

Load the signed-in app, signed-out pages and public pages as separate chunks
  apps/web/e2e/signed-out-routes.spec.js
  apps/web/src/routes/RootRouter/RootRouter.js
  apps/web/src/routes/RootRouter/RootRouter.lazy.test.js
Due: web-changed

Head pushes with the group name, stack them per group and collapse chat bursts
  apps/backend/api/models/Notification.js
  apps/backend/api/models/PushNotification.js
  apps/backend/api/models/User.js
  apps/backend/api/models/notification/pushGrouping.js
  apps/backend/api/services/OneSignal.js
  apps/backend/lib/i18n/de.js
  apps/backend/lib/i18n/en.js
  apps/backend/lib/i18n/es.js
  apps/backend/lib/i18n/fr.js
  apps/backend/lib/i18n/hi.js
  apps/backend/lib/i18n/pt.js
  apps/backend/test/unit/models/Notification.test.js
  apps/backend/test/unit/models/PushNotification.test.js
  apps/backend/test/unit/models/comment/notifications.test.js
  apps/backend/test/unit/services/OneSignal.test.js
Due: backend-changed

Keep backend lint clean for the new invitation models and strings
  apps/backend/lib/i18n/de.js
  apps/backend/lib/i18n/en.js
  apps/backend/lib/i18n/es.js
  apps/backend/lib/i18n/fr.js
  apps/backend/lib/i18n/hi.js
  apps/backend/lib/i18n/pt.js
  apps/backend/package.json
Due: backend-changed

Add social proof to the last invitation reminder and remind stalled signups once
  apps/backend/api/models/Invitation.js
  apps/backend/api/models/invitation/stalledSignupReminder.js
  apps/backend/api/services/Email.js
  apps/backend/cron.js
  apps/backend/test/unit/models/Invitation.test.js
  scripts/i18n/i18n-templates/Group_Person_Invite_i18n/html.liquid
  scripts/i18n/i18n-templates/Group_Person_Invite_i18n/template_data.json
  scripts/i18n/i18n-templates/Group_Person_Invite_i18n/text.liquid
  scripts/i18n/i18n-templates/Stalled_Signup_Reminder_i18n/html.liquid
  scripts/i18n/i18n-templates/Stalled_Signup_Reminder_i18n/metadata.json
  scripts/i18n/i18n-templates/Stalled_Signup_Reminder_i18n/subject.liquid
  scripts/i18n/i18n-templates/Stalled_Signup_Reminder_i18n/template_data.json
  scripts/i18n/i18n-templates/Stalled_Signup_Reminder_i18n/text.liquid
  scripts/i18n/sendwithus-locales/de-DE.po
  scripts/i18n/sendwithus-locales/en-US.po
  scripts/i18n/sendwithus-locales/es-ES.po
  scripts/i18n/sendwithus-locales/fr-FR.po
  scripts/i18n/sendwithus-locales/hi-IN.po
  scripts/i18n/sendwithus-locales/pt-BR.po
  scripts/i18n/sendwithus-locales/template.pot
Due: backend-changed

Add a setup checklist for people who just created a group
  apps/backend/api/graphql/groupSetupChecklist.js
  apps/backend/api/graphql/groupSetupChecklist.test.js
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/SetupChecklist/SetupChecklist.jsx
  apps/web/src/components/SetupChecklist/SetupChecklist.test.js
  apps/web/src/graphql/queries/MeQuery.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuGrid.jsx
  apps/web/src/store/actions/fetchGroupSetupChecklist.js
  packages/shared/src/constants.js
Due: backend-changed, web-changed

Move a card-menu comment out of a JSX expression
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuGrid.jsx
Due: web-changed

Keep a member's pending invites list as it was when it can't reload
  apps/web/src/routes/GroupSettings/InviteSettingsTab/PendingSubmissionsList.jsx
Due: web-changed

Grant access when a delayed payment succeeds, and say so honestly meanwhile
  apps/backend/api/controllers/StripeController.js
  apps/backend/test/unit/controllers/StripeController.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/GroupDetail/PaymentSuccess.jsx
  apps/web/src/routes/GroupDetail/PaymentSuccess.test.js
Due: backend-changed, web-changed

Check the invite tour anchor for limited-access members
  apps/web/src/components/GroupMenuHeader/GroupMenuHeader.test.js
Due: web-changed

Pre-fill the buyer's email at checkout and accept promotion codes
  apps/backend/api/controllers/StripeController.js
  apps/backend/api/graphql/mutations/stripe.js
  apps/backend/api/graphql/mutations/stripe.test.js
  apps/backend/api/services/StripeService.js
  apps/backend/test/unit/controllers/StripeController.test.js
  apps/backend/test/unit/services/StripeService.checkout.test.js
Due: backend-changed

Access-expired email's renew link opens the offering, else the space itself
  apps/backend/api/models/ContentAccess.js
  apps/backend/api/services/Frontend.js
  apps/backend/test/unit/models/ContentAccess.renewLink.test.js
Due: backend-changed

Add first-party experiment bucketing with recorded assignments
  apps/backend/lib/experiments.js
  apps/backend/migrations/20261001000000_experiment_assignments.js
  apps/backend/migrations/schema.sql
  apps/backend/test/unit/lib/experiments.test.js
  apps/backend/test/unit/migrations/20261001000000_experiment_assignments.test.js
Due: backend-changed

Offer hand-off, read-only archive or a restorable delete when closing a group
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/comment.js
  apps/backend/api/graphql/mutations/group.js
  apps/backend/api/graphql/mutations/group.test.js
  apps/backend/api/graphql/mutations/join_request.js
  apps/backend/api/graphql/mutations/post.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Group.js
  apps/backend/api/models/group/archive.js
  apps/backend/api/models/group/deletion.js
  apps/backend/api/services/Email.js
  apps/backend/migrations/20261003000100_group_deletion_record.js
  apps/backend/migrations/schema.sql
  apps/backend/test/unit/models/group/archive.test.js
  apps/web/e2e/close-group.spec.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/GroupAboutView/GroupAboutView.jsx
  apps/web/src/components/SoleAdminLeaveDialog/SoleAdminLeaveDialog.jsx
  apps/web/src/components/SoleAdminLeaveDialog/SoleAdminLeaveDialog.test.js
  apps/web/src/components/SoleAdminLeaveDialog/soleAdministratorGroups.js
  apps/web/src/routes/GroupDetail/GroupDetail.js
  apps/web/src/routes/GroupSettings/DeleteSettingsTab/DeleteSettingsTab.js
  apps/web/src/routes/GroupSettings/DeleteSettingsTab/DeleteSettingsTab.test.js
  apps/web/src/routes/Management/DeletedGroups/DeletedGroups.js
  apps/web/src/routes/Management/DeletedGroups/DeletedGroups.test.js
  apps/web/src/routes/Management/Management.js
  apps/web/src/routes/Management/ManagementContextMenu.js
  apps/web/src/routes/UserSettings/UserGroupsTab/UserGroupsTab.js
  packages/shared/src/constants.js
  scripts/i18n/i18n-templates/Group_Closed_i18n/html.liquid
  scripts/i18n/i18n-templates/Group_Closed_i18n/metadata.json
  scripts/i18n/i18n-templates/Group_Closed_i18n/subject.liquid
  scripts/i18n/i18n-templates/Group_Closed_i18n/template_data.json
Due: backend-changed, web-changed

Check members' invitation list through GraphQL
  apps/backend/api/graphql/index.test.js
Due: backend-changed

Show a titles-only preview of paid content before purchase
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/track/preview.js
  apps/backend/test/unit/models/track/preview.test.js
  apps/web/e2e/paywall-preview.spec.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/GroupDetail/PaywallOfferingsSection.jsx
  apps/web/src/routes/GroupDetail/PaywallOfferingsSection.test.js
  apps/web/src/routes/GroupSettings/GroupSettings.store.js
  apps/web/src/routes/GroupSettings/PaidContentTab/GroupPaywallSection.js
  apps/web/src/routes/GroupSettings/PaidContentTab/GroupPaywallSection.test.js
  apps/web/src/routes/SpaceJoinPage/SpaceJoinPage.test.js
  apps/web/src/store/actions/fetchPaywallPreview.js
Due: backend-changed, web-changed

Confirm account deactivation and deletion by email, and ask why people leave
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/user.accountExit.test.js
  apps/backend/api/graphql/mutations/user.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/services/Email.js
  apps/backend/migrations/20261003000200_account_exit_reasons.js
  apps/backend/migrations/schema.sql
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/UserSettings/AccountSettingsTab/AccountSettingsTab.js
  apps/web/src/routes/UserSettings/AccountSettingsTab/AccountSettingsTab.test.js
  apps/web/src/store/actions/deactivateMe.js
  apps/web/src/store/actions/deleteMe.js
  scripts/i18n/i18n-templates/Account_Closed_i18n/html.liquid
  scripts/i18n/i18n-templates/Account_Closed_i18n/metadata.json
  scripts/i18n/i18n-templates/Account_Closed_i18n/subject.liquid
  scripts/i18n/i18n-templates/Account_Closed_i18n/template_data.json
Due: backend-changed, web-changed

Show a toast on web when a direct notification or message arrives
  apps/backend/api/models/Notification.js
  apps/backend/test/unit/models/Notification.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/SocketListener/SocketListener.js
  apps/web/src/components/SocketListener/SocketListener.test.js
  apps/web/src/components/SocketListener/directToasts.jsx
  apps/web/src/components/SocketListener/directToasts.test.js
  packages/presenters/src/NotificationPresenter.js
Due: backend-changed, web-changed

Add an e2e spec that screenshots the relabelled post-notification options
  apps/web/e2e/notification-settings.spec.js
Due: web-changed

Let people report comments to their group and report people or conversations to Hylo staff
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/messageThread.js
  apps/backend/api/graphql/mutations/messageThread.test.js
  apps/backend/api/graphql/mutations/moderation_actions.js
  apps/backend/api/graphql/mutations/moderation_actions.test.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/ModerationAction.js
  apps/backend/api/models/Post.js
  apps/backend/api/services/Search/forModerationActions.js
  apps/backend/lib/i18n/de.js
  apps/backend/lib/i18n/en.js
  apps/backend/lib/i18n/es.js
  apps/backend/lib/i18n/fr.js
  apps/backend/lib/i18n/hi.js
  apps/backend/lib/i18n/pt.js
  apps/backend/migrations/20261009000000_moderation_action_objects.js
  apps/backend/migrations/schema.sql
Due: backend-changed

Add Block, Report and Leave to conversations, Report to comments and profiles
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/FlagContent/FlagContent.js
  apps/web/src/components/FlagContent/FlagContent.store.js
  apps/web/src/components/FlagGroupContent/FlagGroupContent.js
  apps/web/src/components/ModerationListItem/ModerationListItem.js
  apps/web/src/components/ModerationListItem/ModerationListItem.test.js
  apps/web/src/routes/Management/Management.js
  apps/web/src/routes/Management/ManagementContextMenu.js
  apps/web/src/routes/Management/ReportQueue/ReportQueue.js
  apps/web/src/routes/Management/ReportQueue/ReportQueue.test.js
  apps/web/src/routes/MemberProfile/MemberProfile.js
  apps/web/src/routes/MemberProfile/MemberProfile.test.js
  apps/web/src/routes/Messages/Header/Header.js
  apps/web/src/routes/Messages/Header/Header.test.js
  apps/web/src/routes/Messages/Messages.store.js
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.jsx
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.test.js
  apps/web/src/store/actions/moderationActions/index.js
  apps/web/src/store/constants.js
  apps/web/src/store/reducers/ormReducer/index.js
  apps/web/src/store/reducers/queryResults.js
Due: web-changed
