Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Global menu tweaks for mobile web
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
Due: web-changed

Update copy for 776; Select home view during group creation
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/CreateGroup/CreateGroup.jsx
Due: web-changed

feat: add join prompt to chat, security & UX improvements
  apps/backend/config/cors.js
  apps/backend/config/customMiddleware.js
  apps/web/public/locales/en.json
  apps/web/src/components/Highlight/Highlight.js
  apps/web/src/components/HyloHTML/HyloHTML.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/GroupSettings/GroupSettings.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Agreements/Agreements.js
Due: backend-changed, web-changed

Flip emails to using the new templates; remove version references
  apps/backend/api/controllers/UserController.js
  apps/backend/api/graphql/mutations/user.js
  apps/backend/api/models/Invitation.js
  apps/backend/api/models/ModerationAction.js
  apps/backend/api/models/Notification.js
  apps/backend/api/models/TagFollow.js
  apps/backend/api/services/Email.js
  apps/backend/api/services/UserImport.js
  apps/backend/lib/group/digest2/index.js
  apps/backend/lib/group/digest2/personalizeData.js
Due: backend-changed

remove group and user cal sub code
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/StreamViewControls/StreamViewControls.js
  apps/web/src/routes/Stream/Stream.js
  apps/web/src/routes/UserSettings/AccountSettingsTab/AccountSettingsTab.js
Due: web-changed

add group calsub with tests
  apps/web/src/routes/Stream/GroupCalendarSubscribe.js
  apps/web/src/routes/Stream/GroupCalendarSubscribe.test.js
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

add button for apple calsub
  apps/web/src/routes/Stream/GroupCalendarSubscribe.js
  apps/web/src/routes/Stream/GroupCalendarSubscribe.test.js
Due: web-changed

Clean up some Tracks related paid content styling
  apps/web/src/routes/OfferingDetails/OfferingDetails.jsx
  apps/web/src/routes/TrackHome/TrackHome.jsx
Due: web-changed

Paid Content admin settings UI and copy changes
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/GroupSettings/PaidContentTab/AccountTab.js
  apps/web/src/routes/GroupSettings/PaidContentTab/PaidContentTab.js
Due: web-changed

Mobile 6.3.0 release
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

move group calsub to its own folder
  apps/web/src/routes/GroupCalendarSubscribe/GroupCalendarSubscribe.js
  apps/web/src/routes/GroupCalendarSubscribe/GroupCalendarSubscribe.test.js
Due: web-changed

implement user rsvp calsub
  apps/web/src/routes/GroupCalendarSubscribe/GroupCalendarSubscribe.test.js
  apps/web/src/routes/Stream/Stream.js
  apps/web/src/store/models/Me.js
Due: web-changed

create user cal-token if null
  apps/web/src/routes/GroupCalendarSubscribe/GroupCalendarSubscribe.js
  apps/web/src/routes/GroupCalendarSubscribe/GroupCalendarSubscribe.test.js
  apps/web/src/routes/Stream/Stream.js
  apps/web/src/store/actions/updateUserSettings.js
Due: web-changed

rounded corners on calsub buttons
  apps/web/src/routes/GroupCalendarSubscribe/GroupCalendarSubscribe.js
Due: web-changed

only show calsub button on month view
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

esc closes the group calsub modal
  apps/web/src/components/ModalDialog/ModalDialog.js
Due: web-changed

group calsub apple and outlook
  apps/web/src/routes/GroupCalendarSubscribe/GroupCalendarSubscribe.js
Due: web-changed

remove stray french translation
  apps/web/public/locales/fr.json
Due: web-changed

Fixes to mobile required after merging in dev
  apps/mobile/src/components/LocaleSelector/LocaleSelector.js
  packages/graphql/queries/meQuery.js
  packages/hooks/useCurrentUser.js
Due: mobile-changed

mobile @ 6.3.1 prod
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Make safe insets respect themeing; tighten bottom inset on iOS
  apps/mobile/src/screens/PrimaryWebView/PrimaryWebView.js
  apps/mobile/src/store/themeStore.js
  apps/mobile/src/style/themes.js
  apps/web/src/contexts/ThemeContext.js
  packages/shared/src/constants.js
Due: web-changed, mobile-changed

Another wrong-account-id-reference bug fixed
  apps/backend/api/controllers/StripeController.js
  apps/backend/api/graphql/mutations/stripe.js
Due: backend-changed

Allow non-auth views of offerings to scroll
  apps/web/src/routes/OfferingDetails/OfferingDetails.jsx
Due: web-changed

Clean up sign-up-sign-in flow for /about pages, for paywalled and regular groups
  apps/backend/api/graphql/mutations/stripe.js
  apps/backend/api/graphql/mutations/stripe.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/GroupDetail/PaywallOfferingsSection.jsx
  apps/web/src/routes/OfferingDetails/OfferingDetails.jsx
  apps/web/src/routes/WelcomeWizardRouter/AddLocation/AddLocation.connector.js
Due: backend-changed, web-changed

Clip a one-time use script
  scripts/i18n/migrate-sendwithus-templates.js
Due: none

Clean up offering creation UI
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/GroupSettings/PaidContentTab/OfferingsTab.js
Due: web-changed

Avoid propagation of touch events for the notifications list
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationItem.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationsDropdown.jsx
Due: web-changed

Attempt to avoid keyboard blocking post detail views on load in mobile
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.js
Due: web-changed

Keep Mobile dms sane
  apps/web/src/routes/Messages/Messages.js
Due: web-changed

Further atttempts to get the dm keyboard and message input to live happily together
  apps/web/src/routes/Messages/Messages.js
Due: web-changed

Continued dm keyboard efforts
  apps/web/src/routes/Messages/Messages.js
Due: web-changed

Significant layout experiement.....
  apps/web/index.html
  apps/web/src/routes/Messages/Messages.js
Due: web-changed

Visual Viewport API attempt to fix mobile-web DMs
  apps/web/index.html
  apps/web/src/routes/Messages/Messages.js
Due: web-changed

Make DM header stickie
  apps/web/src/components/ViewHeader/ViewHeader.jsx
Due: web-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
