Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Fix scrolling of long public posts when not logged in
  apps/web/src/routes/PublicLayoutRouter/PublicPostDetail.jsx
Due: web-changed

fix bug in logic test
  apps/backend/api/graphql/mutations/event.js
Due: backend-changed

separate concerns
  apps/backend/api/graphql/mutations/event.js
  apps/backend/api/models/EventInvitation.js
  apps/backend/api/models/Post.js
Due: backend-changed

Once again fix OAuth login and consent flow
  apps/web/src/routes/NonAuthLayoutRouter/NonAuthLayoutRouter.js
  apps/web/src/routes/OAuth/Consent/Consent.js
  apps/web/src/routes/OAuth/Consent/Consent.module.scss
  apps/web/src/routes/OAuth/Login/Login.js
  apps/web/src/routes/OAuth/Login/Login.module.scss
  apps/web/src/routes/OAuth/OAuthLayoutRouter.js
  apps/web/src/routes/RootRouter/RootRouter.js
Due: web-changed

clean up code a bit
  apps/backend/api/graphql/mutations/event.js
Due: backend-changed

Re enable completing actions by just clicking button
  apps/web/src/routes/PostDetail/ActionCompletionSection.jsx
Due: web-changed

Update CHANGELOG for web 6.1.6
  apps/web/CHANGELOG.md
Due: web-changed

minimize calls if eventInvitation is null
  apps/backend/api/graphql/mutations/event.js
Due: backend-changed

further separation of concerns
  apps/backend/api/models/EventInvitation.js
  apps/backend/api/models/Post.js
Due: backend-changed

further separatino of concerns
  apps/backend/api/graphql/mutations/event.js
  apps/backend/api/models/EventInvitation.js
Due: backend-changed

ref ical enums, not literal strings
  apps/backend/api/models/Post.js
Due: backend-changed

dropdown for post editor higher in stack
  apps/web/src/components/DropdownButton/DropdownButton.js
Due: web-changed

Updated flagging modals and the multiselect that displays group agreements
  apps/web/src/components/FlagContent/FlagContent.js
  apps/web/src/components/FlagGroupContent/FlagGroupContent.js
  apps/web/src/components/MultiSelect/MultiSelect.js
Due: web-changed

Fix display of action completion responses when scrolled down
  apps/web/src/components/ActionCompletionResponsesDialog/ActionCompletionResponsesDialog.jsx
  apps/web/src/components/PostDialog/PostDialog.jsx
  apps/web/src/routes/PostDetail/PostDetail.js
Due: web-changed

Allow interaction with Nav menu and context menu while a post is open
  apps/web/src/components/PostDialog/PostDialog.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

Web v6.1.7
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: web-changed

Backend v6.1.5
  apps/backend/CHANGELOG.md
  apps/backend/package.json
Due: backend-changed

Fix CHANGELOG
  apps/web/CHANGELOG.md
Due: web-changed

Remove y padding of center column
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Fix inability to scroll post editor in chatroom when it gets too tall
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Fix joining groups from the group explorer
  apps/web/src/components/GroupCard/GroupCard.js
  apps/web/src/routes/GroupDetail/GroupDetail.js
  apps/web/src/routes/GroupDetail/JoinSection.jsx
Due: web-changed

Missing translation
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: web-changed

Web v6.1.8
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: web-changed

fix Maximum update depth exceeded
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

When creating a group set creator's lastViewedAt correctly
  apps/backend/api/models/Group.js
  apps/web/src/routes/CreateGroup/CreateGroup.store.js
Due: backend-changed, web-changed

Don't load related groups and greoup relationship invites on initial load
  apps/web/src/graphql/fragments/groupDetailsFragment.js
  apps/web/src/graphql/fragments/groupQueryFragment.js
  apps/web/src/graphql/fragments/groupsQueryFragment.js
  apps/web/src/routes/GroupSettings/GroupSettings.store.js
  apps/web/src/routes/GroupSettings/TracksTab/TracksTab.jsx
  apps/web/src/routes/Groups/Groups.jsx
  apps/web/src/routes/Groups/Groups.store.js
  apps/web/src/store/actions/fetchForGroup.js
  apps/web/src/store/actions/fetchGroupDetails.js
Due: web-changed

Some new indexes for performance of common queries
  apps/backend/migrations/20250707075410_add_indexes_for_speed.js
Due: backend-changed

Web v6.1.9
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: web-changed

Backend v6.1.6
  apps/backend/CHANGELOG.md
  apps/backend/package.json
Due: backend-changed

Fix CHANGELOG date
  apps/backend/CHANGELOG.md
Due: backend-changed

Better handle when to go to homeWidget on navigation actions
  apps/mobile/src/components/ContextSwitchMenu/ContextSwitchMenu.js
  apps/mobile/src/components/HyloWebView/HyloWebView.js
  apps/mobile/src/hooks/useHandleCurrentGroup.js
  apps/mobile/src/navigation/HomeNavigator.js
  apps/mobile/src/navigation/RootNavigator/RootNavigator.js
  apps/mobile/src/navigation/linking/index.js
  apps/mobile/src/screens/ContextMenu/ContextMenu.js
  apps/mobile/src/screens/ContextMenu/index.js
  apps/mobile/src/screens/NoContextFallbackScreen/NoContextFallbackScreen.js
  apps/mobile/src/screens/NoContextFallbackScreen/index.js
  apps/mobile/src/screens/Stream/PostRow.js
  apps/web/src/routes/GroupDetail/GroupDetail.js
Due: web-changed, mobile-changed

Review clean up
  apps/mobile/src/hooks/useHandleCurrentGroup.js
  apps/mobile/src/screens/NoContextFallbackScreen/NoContextFallbackScreen.js
Due: mobile-changed

Member Profile; sync data/query usage with web; ensure related backend query actually uses params from client
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/services/Search/util.js
  apps/mobile/src/screens/MemberProfile/MemberStream/MemberStream.js
  packages/graphql/queries/recentActivityQuery.js
  packages/hooks/useRecentActivity.js
  packages/presenters/PostPresenter.js
  packages/urql/keys.js
  packages/urql/resolvers/index.js
Due: backend-changed, mobile-changed

Add ability to pin groups to the top of global nav
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/membership.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/migrations/20250710075410_organizing-global-nav.js
  apps/web/package.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/ui/context-menu.jsx
  apps/web/src/graphql/queries/MeQuery.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
  apps/web/src/routes/TrackHome/TrackHome.jsx
  apps/web/src/store/actions/pinGroup.js
  apps/web/src/store/constants.js
  apps/web/src/store/models/Membership.js
  apps/web/src/store/reducers/ormReducer/index.js
  apps/web/src/store/selectors/getMyGroups.js
  packages/graphql/mutations/updateMembershipNavOrderMutation.js
  yarn.lock
Due: backend-changed, web-changed

Fix viewing public group page when not logged in
  apps/backend/api/graphql/makeModels.js
  apps/web/src/components/Widget/RichTextWidget/RichText.module.scss
  apps/web/src/routes/GroupDetail/GroupDetail.js
Due: backend-changed, web-changed

Extend the range of post related queries that have subscriptions backing them
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/makeSubscriptions.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Post.js
  apps/backend/api/models/post/updatePost.js
  apps/backend/lib/groupSubscriptionPublisher.js
  apps/backend/lib/postSubscriptionPublisher.js
  apps/backend/lib/subscriptionUtils.js
  apps/mobile/src/navigation/AuthRootNavigator.js
  apps/mobile/src/screens/PostDetails/PostDetails.js
  packages/urql/updates/index.js
Due: backend-changed, mobile-changed

changeToGroup bug: If false was passed in for navigateHome, it would stop the state update for that
  apps/mobile/src/hooks/useHandleCurrentGroup.js
Due: mobile-changed

Send image url to OneSignal for image use in push notifications
  apps/backend/api/models/Notification.js
  apps/backend/api/models/PushNotification.js
  apps/backend/api/models/User.js
  apps/backend/api/services/OneSignal.js
Due: backend-changed

Separate pinned groups from non pinned with divider line
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
Due: web-changed

Change shadcn context-menu to right-click-menu
  apps/web/src/components/ui/right-click-menu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
