Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Don't display actions in Create Modal Chooser
  apps/web/src/components/CreateModal/CreateModalChooser.js
Due: web-changed

Enable editing track settings
  apps/web/src/components/CreateModal/CreateModal.js
  apps/web/src/components/CreateTrack/CreateTrack.store.js
  apps/web/src/components/CreateTrack/CreateTrack.test.js
  apps/web/src/components/CreateTrack/index.js
  apps/web/src/components/TrackCard/TrackCard.jsx
  apps/web/src/components/TrackEditor/TrackEditor.js
  apps/web/src/components/TrackEditor/TrackEditor.test.js
  apps/web/src/components/TrackEditor/index.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/TrackHome/TrackHome.jsx
  apps/web/src/store/actions/trackActions.js
  apps/web/src/util/navigation.js
Due: web-changed

Updating and reordering posts done!
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/mutations/track.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Post.js
  apps/backend/api/models/Track.js
  apps/backend/api/models/post/updatePost.js
  apps/backend/migrations/20250414172703_change-track-post-order-to-sort-order.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/CreateModal/CreateModal.js
  apps/web/src/components/PostEditor/ActionsBar.jsx
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/TrackCard/TrackCard.jsx
  apps/web/src/graphql/mutations/updatePostMutation.js
  apps/web/src/routes/GroupSettings/TracksTab/TracksTab.jsx
  apps/web/src/routes/TrackHome/PostSummary.jsx
  apps/web/src/routes/TrackHome/TrackHome.jsx
  apps/web/src/routes/Tracks/Tracks.store.js
  apps/web/src/store/actions/completePost.js
  apps/web/src/store/actions/trackActions.js
  apps/web/src/store/actions/updatePost.js
  apps/web/src/store/models/Post.js
Due: backend-changed, web-changed

mobile@v6.0.3
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/package.json
Due: mobile-changed

mobile@v6.0.4-0 pre-release
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Fix issue where posts that hadnt already started were showing as ending soon
  apps/backend/api/models/Post.js
  apps/backend/cron.js
  apps/backend/lib/group/digest2/util.js
  packages/shared/src/TextHelpers.js
Due: backend-changed

Update to backend@v6.0.4
  apps/backend/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

Fix proposal summary with props fix
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
Due: web-changed

Add ability to complete actions with file attachment upload
  apps/backend/lib/uploader/types.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/AttachmentManager/FileManager.jsx
  apps/web/src/components/CardFileAttachments/CardFileAttachments.js
  apps/web/src/routes/PostDetail/PostCompletion.jsx
Due: backend-changed, web-changed

Fix html-based purpose and description in the about widget for web
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/GroupSidebar/AboutSection.js
  apps/web/src/routes/GroupSidebar/GroupSidebar.js
Due: web-changed

Correct handling of group related html in mobile about widget
  apps/mobile/src/components/ContextMenu/ContextMenu.js
Due: mobile-changed

Dark mode support for Flagging posts
  apps/web/src/components/FlagGroupContent/FlagGroupContent.module.scss
  apps/web/src/components/MultiSelect/MultiSelect.module.scss
Due: web-changed

More fixes to dark ånd light mode flagging of content popup
  apps/web/src/components/CheckBox/CheckBox.module.scss
  apps/web/src/components/FlagGroupContent/FlagGroupContent.module.scss
  apps/web/src/components/HyloEditor/HyloEditor.module.scss
Due: web-changed

Fix blockquote text color
  apps/web/src/css/typography.scss
Due: web-changed

Posts appear immediately when created in the Stream and the Events views
  apps/web/src/store/reducers/queryResults.js
Due: web-changed

web@v6.0.4
  apps/web/CHANGELOG.md
Due: web-changed

One more fix in changelog
  apps/web/CHANGELOG.md
Due: web-changed

Remove console
  apps/web/src/store/reducers/queryResults.js
Due: web-changed

Remove group sidebar
  apps/web/src/routes/GroupSidebar/AboutSection.js
  apps/web/src/routes/GroupSidebar/GroupSidebar.js
  apps/web/src/routes/GroupSidebar/GroupSidebar.module.scss
  apps/web/src/routes/GroupSidebar/GroupSidebar.test.js
  apps/web/src/routes/GroupSidebar/index.js
Due: web-changed

Enable viewing of all the completion responses of an actions in a track
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/post.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Post.js
  apps/backend/api/models/PostMembership.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/PostCard/PeopleInfo/PeopleInfo.js
  apps/web/src/components/TrackEditor/TrackEditor.js
  apps/web/src/graphql/fragments/postFieldsFragment.js
  apps/web/src/graphql/queries/postQuery.js
  apps/web/src/routes/PostDetail/PostCompletion.jsx
  apps/web/src/routes/PostDetail/PostDetail.js
  apps/web/src/routes/TrackHome/PostSummary.jsx
  apps/web/src/routes/TrackHome/TrackHome.jsx
  apps/web/src/store/actions/fetchPost.js
  apps/web/src/store/models/Post.js
  apps/web/src/store/models/index.js
  apps/web/src/store/presenters/presentPost.js
Due: backend-changed, web-changed

Cleanup on aisle 10
  apps/backend/api/models/Group.js
  apps/backend/cron.js
  apps/backend/lib/group/digest2/util.js
  apps/web/src/routes/GroupSettings/TracksTab/PrivacySettingsTab.module.scss
Due: backend-changed, web-changed

Only display post completion stuff for action posts
  apps/web/src/routes/PostDetail/PostDetail.js
Due: web-changed

Fix bold text color in comments
  apps/web/src/css/global/_sass_resources.scss
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.module.scss
Due: web-changed

Fix dropdowns in custom views settings and everywhere
  apps/web/src/components/Dropdown/Dropdown.js
  apps/web/src/components/Dropdown/Dropdown.module.scss
  apps/web/src/routes/GroupSettings/CustomViewsTab/CustomViewsTab.module.scss
Due: web-changed

Enable editing posts from custom views
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Better UX on groups page when a group has no related groups
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/Groups/Groups.jsx
Due: web-changed

Fix display of lists in comments
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.module.scss
Due: web-changed

Update context widget for viewTracks
  packages/presenters/ContextWidgetPresenter.js
Due: none

Missed one
  packages/presenters/ContextWidgetPresenter.js
Due: none

Set widget visbility for tracks to null
  apps/backend/migrations/20250424094857_set-tracks-widget-vis-to-null.js
Due: backend-changed

Handle tracks view when there are no tracks
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/Tracks/Tracks.jsx
Due: web-changed

Remove unnecessary migration
  apps/backend/migrations/20250424094857_set-tracks-widget-vis-to-null.js
Due: backend-changed

Hide public toggle for actions
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Add My Tracks view in My context
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/User.js
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/TrackCard/TrackCard.jsx
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/MyTracks/MyTracks.jsx
  apps/web/src/routes/MyTracks/index.js
  apps/web/src/routes/Tracks/Tracks.jsx
  apps/web/src/store/actions/fetchMyTracks.js
  apps/web/src/store/models/Me.js
  packages/presenters/ContextWidgetPresenter.js
Due: backend-changed, web-changed, mobile-changed

Prevent creating multiple tracksby double clicking create button
  apps/web/src/components/TrackEditor/TrackEditor.js
Due: web-changed

Fix completing a post that you have not already interacted with / followed
  apps/backend/api/models/Post.js
Due: backend-changed

Translations and cleanup
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/PostDetail/PostCompletion.jsx
Due: web-changed

Ensure tracks widget icon works for context menu
  apps/mobile/src/components/LucideIcon/LucideIcon.js
Due: mobile-changed

Load tracks into the Tracks view
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/src/screens/Tracks/Tracks.js
  packages/graphql/fragments/postFieldsFragment.js
  packages/graphql/queries/tracksQuery.js
  packages/hooks/useTracks.js
Due: mobile-changed

Handle tracks view when there are no tracks
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/src/screens/Tracks/Tracks.js
Due: mobile-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
