Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

Profile improvements
  apps/web/src/graphql/queries/personQuery.js
  apps/web/src/routes/MemberProfile/MemberProfile.js
  apps/web/src/routes/MemberProfile/MemberProfile.store.js
  packages/graphql/queries/personQuery.js
Due: web-changed

Add new page view type for static HTML content
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/GroupView.js
  apps/backend/lib/uploader/converter.js
  apps/backend/lib/uploader/index.js
  apps/backend/lib/uploader/index.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/client/filestack.js
  apps/web/src/components/HyloEditor/HyloEditor.js
  apps/web/src/css/global/index.scss
  apps/web/src/hooks/useRouteParams/index.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddGroupViewDialog.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddPageViewDialog.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/GroupViewCard.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/GroupViewSettingsModal.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/groupViewMenuUrl.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/groupViewMenuUrl.test.js
  apps/web/src/routes/GroupPageView/GroupPageView.jsx
  apps/web/src/routes/GroupPageView/index.js
  apps/web/src/routes/GroupWelcomePage/GroupWelcomePage.jsx
  apps/web/src/routes/SpaceContent/SpaceContent.js
  apps/web/src/store/models/GroupView.js
  apps/web/src/store/models/GroupView.test.js
  packages/navigation/src/index.js
  packages/navigation/src/navigation.test.js
  packages/presenters/src/GroupViewPresenter.js
  packages/shared/src/viewHelpers.js
Due: backend-changed, web-changed

Fix scrolling to load more (older) notifications
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationsDropdown.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationsDropdown.store.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationsDropdown.store.test.js
Due: web-changed

Use query param create=post instead of adding /create/post to any route to open create post modal
  apps/web/e2e/authenticated.create-edit-modals.spec.js
  apps/web/e2e/create-group-modal.spec.js
  apps/web/e2e/post-editor-mobile.spec.js
  apps/web/e2e/stream-empty-state.spec.js
  apps/web/src/components/CreateMenu/CreateMenu.jsx
  apps/web/src/components/CreateModal/CreateModal.js
  apps/web/src/components/CreateModal/CreateModal.module.scss
  apps/web/src/components/CreateModal/CreateModal.test.js
  apps/web/src/components/CreateModal/CreateModalChooser.js
  apps/web/src/components/CreateModal/index.js
  apps/web/src/components/CreatePostModal/CreatePostModal.jsx
  apps/web/src/components/CreatePostModal/CreatePostModal.module.scss
  apps/web/src/components/CreatePostModal/CreatePostModal.test.js
  apps/web/src/components/CreatePostModal/index.js
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/Widget/GroupsWidget/GroupsWidget.js
  apps/web/src/components/ui/datetimepicker.jsx
  apps/web/src/contexts/SpaceGroupContext.js
  apps/web/src/hooks/useRouteParams/index.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/Drawer/Drawer.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/CreateGroup/CreateGroupModal.jsx
  apps/web/src/routes/CreateGroup/createGroupUrl.js
  apps/web/src/routes/FundingRoundSubmissionsView/FundingRoundSubmissionsView.jsx
  apps/web/src/routes/MapExplorer/MapExplorer.js
  apps/web/src/routes/PublicLayoutRouter/PublicLayoutRouter.js
  apps/web/src/routes/ViewContent/PostPrompt.jsx
  apps/web/src/routes/ViewContent/ViewContent.js
  apps/web/src/routes/WelcomeWizardRouter/WelcomeExplore/WelcomeExplore.js
  apps/web/src/routes/WelcomeWizardRouter/WelcomeExplore/WelcomeExplore.test.js
  apps/web/src/util/hardwareBackHandler.js
  packages/navigation/src/index.js
  packages/navigation/src/navigation.test.js
Due: web-changed

Add open graph tags for public group URLs
  apps/web/config/jest.config.js
  apps/web/src/routes/GroupDetail/GroupDetail.js
  apps/web/src/server/appMiddleware.js
  apps/web/src/server/groupMetaTags.js
  apps/web/src/server/groupMetaTags.test.js
  apps/web/src/server/ogText.js
  apps/web/src/server/ogText.test.js
  apps/web/src/server/postMetaTags.js
  apps/web/src/server/publicMetaTags.js
  apps/web/src/server/publicMetaTags.test.js
  apps/web/vite.config.js
Due: web-changed

Fix e2e tests
  apps/web/e2e/members-pill-clamp.spec.js
Due: web-changed

Fix front-end unit tests
  apps/web/config/jest.config.js
  apps/web/config/jest/__mocks__/yet-another-react-lightbox-plugin.js
  apps/web/config/jest/__mocks__/yet-another-react-lightbox.js
  apps/web/src/components/PostCard/ChatActivityCard/ChatActivityCard.test.js
  apps/web/src/components/PostCard/EventBody/EventBody.test.js
  apps/web/src/components/PostEditor/PostEditor.test.js
  apps/web/src/routes/MapExplorer/__snapshots__/MapExplorer.store.test.js.snap
  apps/web/src/routes/Messages/PeopleSelector/PeopleSelector.test.js
  apps/web/src/store/actions/__snapshots__/fetchPeople.test.js.snap
  apps/web/src/store/actions/__snapshots__/fetchPosts.test.js.snap
  apps/web/src/store/reducers/ModelExtractor/index.test.js
Due: web-changed

Web and backend v7.0.3
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

Fix locale-dependent case ordering in i18n key sort
  scripts/i18n/lib.js
Due: none

Fix event RSVP emails
  apps/backend/api/models/event/mixin.js
Due: backend-changed

Fix sender name of emails from activity in spaces to include parent group name
  apps/backend/api/models/GroupViewUser.js
  apps/backend/api/models/Notification.js
  apps/backend/api/models/comment/notifications.js
  apps/backend/api/models/event/mixin.js
  apps/backend/lib/email/senderNameViaHylo.js
  apps/backend/test/unit/lib/email/senderNameViaHylo.test.js
  apps/backend/test/unit/models/Comment.test.js
  apps/backend/test/unit/models/Notification.test.js
Due: backend-changed

Keep space views unread until that view is opened, and show a parent group badge when a space has notifications.
  apps/backend/api/graphql/mutations/group_views.js
  apps/backend/api/models/GroupMembership.js
  apps/backend/api/models/post/createPost.js
  apps/backend/api/models/post/deletePost.js
  apps/backend/migrations/20260910120000_sync_membership_badge_counts.js
  apps/backend/test/unit/models/GroupMembership.test.js
  apps/web/src/components/SocketListener/SocketListener.store.js
  apps/web/src/components/SocketListener/SocketListener.store.test.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.store.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/GroupViewCard.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/groupViewMenuUrl.js
  apps/web/src/routes/SpaceContent/SpaceContent.js
  apps/web/src/store/actions/fetchGroupViews.test.js
  apps/web/src/store/reducers/ormReducer/index.js
  apps/web/src/store/reducers/ormReducer/index.test.js
  apps/web/src/store/selectors/getMyGroups.js
  apps/web/src/store/selectors/selectors.test.js
  apps/web/src/store/util/extractNestedGroups.js
  apps/web/src/store/util/extractNestedGroups.test.js
  apps/web/src/store/util/groupViewsOrder.js
  apps/web/src/store/util/groupViewsOrder.test.js
  apps/web/src/util/viewUnreadBadges.js
  apps/web/src/util/viewUnreadBadges.test.js
  packages/shared/src/viewHelpers.js
  packages/shared/src/viewHelpers.test.js
Due: backend-changed, web-changed

Web and backend v7.0.4
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

Fix link from moderation post so it shows the post correctly
  packages/navigation/src/index.js
  packages/navigation/src/navigation.test.js
Due: none

Align welcome page settings in Group Settings with the menu
  apps/backend/api/models/Group.js
  apps/backend/test/unit/models/Group.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/PostTypePills/PostTypePills.jsx
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/GroupSettings/GroupSettingsTab/GroupSettingsTab.js
  apps/web/src/routes/GroupSettings/GroupSettingsTab/GroupSettingsTab.test.js
Due: backend-changed, web-changed

CHANGELOG
  apps/backend/CHANGELOG.md
  apps/web/CHANGELOG.md
Due: backend-changed, web-changed

Fix clicking on a space in single column layout so it goes to space menu now instead of jumping to home view
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MoreSpacesPage.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/groupViewMenuUrl.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/groupViewMenuUrl.test.js
Due: web-changed

Fix android bottom no safe inset
  apps/mobile-leap/src/screens/PrimaryWebView/PrimaryWebViewScreen.tsx
Due: none

Fix loading screen background color
  apps/mobile-leap/src/components/LoadingScreen.tsx
  apps/mobile-leap/src/screens/PrimaryWebView/PrimaryWebViewScreen.tsx
Due: none

Fix dummy seed inserting removed group_memberships.role column
  apps/backend/seeds/dummy/dummy.js
Due: backend-changed

Auto-retry dummy seed on Faker name collisions
  apps/backend/seeds/dummy/dummy.js
Due: backend-changed

Add Remove Member action to profile page's three-dot menu
  apps/web/src/routes/MemberProfile/MemberProfile.js
  apps/web/src/routes/MemberProfile/MemberProfile.test.js
Due: web-changed

Auto-fill event meeting link from a Zoom/Meet/Jitsi URL in the description
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/util/url.js
  apps/web/src/util/url.test.js
Due: web-changed

Add a "Try the demo" link to the login page
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/NonAuthLayoutRouter/Login/Login.js
  apps/web/src/routes/NonAuthLayoutRouter/Login/Login.test.js
  docs/sandbox-mode-proposal.md
Due: web-changed

Fix occasional out of memory errors when loading post stream on production
  apps/backend/CHANGELOG.md
  apps/backend/api/graphql/filters.js
  apps/backend/api/graphql/filters.test.js
  apps/backend/api/graphql/index.js
  apps/backend/api/graphql/index.test.js
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/models/GroupMembership.js
  apps/backend/lib/graphql-bookshelf-bridge/fetcher.test.js
  apps/backend/lib/graphql-bookshelf-bridge/makeResolvers.js
  apps/backend/lib/graphql-bookshelf-bridge/makeResolvers.test.js
  apps/backend/lib/graphql-bookshelf-bridge/util/applyPagination.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/ViewContent/ViewContent.js
  apps/web/src/store/reducers/ModelExtractor/index.js
  apps/web/src/store/reducers/ModelExtractor/index.test.js
Due: backend-changed, web-changed

Add setting to decide whether to show site banners to new hylo users
  apps/backend/CHANGELOG.md
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/siteBanners.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/SiteBanner.js
  apps/backend/migrations/20260911170000_add_show_to_new_users_to_site_banners.js
  apps/web/CHANGELOG.md
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/Management/SiteBanners/SiteBanners.js
  apps/web/src/store/actions/siteBanners.js
Due: backend-changed, web-changed

fix: GHSA-4vmm-mhcq-4x9j security vulnerability
  package.json
  yarn.lock
Due: none

Support unlisted Vimeo videos
  apps/backend/api/models/Media.js
  apps/web/src/components/GroupAboutVideoEmbed/GroupAboutVideoEmbed.js
  apps/web/src/components/GroupAboutVideoEmbed/GroupAboutVideoEmbed.module.scss
  apps/web/src/components/HyloEditor/HyloEditorMenuBar.js
  apps/web/src/util/isPlayableVideoUrl.js
  apps/web/src/util/isPlayableVideoUrl.test.js
Due: backend-changed, web-changed

Fix loading of map data on zoom and pan
  apps/backend/CHANGELOG.md
  apps/web/CHANGELOG.md
  apps/web/src/components/Map/Map.js
  apps/web/src/components/Map/layers/clusterLayer/index.js
  apps/web/src/components/Map/layers/clusterLayer/index.test.js
  apps/web/src/components/Map/layers/iconLayer/index.js
  apps/web/src/routes/MapExplorer/MapExplorer.js
Due: backend-changed, web-changed

Update to v7.0.5
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

fix: CVE-2018-3750 security vulnerability
  package.json
  yarn.lock
Due: none

Added created at timestamp to the join requests page
  apps/web/src/routes/GroupSettings/MembershipRequestsTab/MembershipRequestsTab.js
Due: web-changed

Tweak copy of chat activity cards
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/PostCard/ChatActivityCard/ChatActivityCard.js
  apps/web/src/components/PostCard/ChatActivityCard/ChatActivityCard.test.js
Due: web-changed

Fix close/back buttons in DMs on mobile
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/Messages/MessagesLayout.js
  apps/web/src/routes/Messages/MessagesMobile.js
  apps/web/src/routes/Messages/ThreadList/ThreadList.js
  apps/web/src/routes/Messages/ThreadList/ThreadListItem.jsx
Due: web-changed

Fix backend tests
  apps/backend/api/graphql/index.test.js
  apps/backend/migrations/schema.sql
Due: backend-changed

Web and backend v7.0.6
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

get deep-linking to work for ios
  apps/mobile-leap/app.config.ts
Due: none
