Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

chore(mobile): Update usePerson hook to take useQueryArgs
  apps/mobile/src/hooks/usePerson.js
Due: mobile-changed

chore(mobile): Updates PostPresenter to properly present pinned status
  apps/mobile/src/urql-shared/presenters/PostPresenter.js
Due: mobile-changed

chore(mobile): Adds useQueryArgs to useCurrentUser
  apps/mobile/src/hooks/useCurrentUser.js
Due: mobile-changed

chore(mobile): Fixes/updates useHasResponsibility and applies throughout. Fixes #87 PostEditor Announcement permission.
  apps/mobile/src/components/Comment/Comment.js
  apps/mobile/src/components/MemberList/MemberList.js
  apps/mobile/src/components/ModerationListItem/ModerationListItem.js
  apps/mobile/src/components/PostCard/PostCard.js
  apps/mobile/src/components/PostCard/PostHeader/PostHeader.js
  apps/mobile/src/components/StreamList/StreamList.store.js
  apps/mobile/src/hooks/useHasResponsibility.js
  apps/mobile/src/hooks/usePostActionSheet.js
  apps/mobile/src/screens/DrawerMenu/DrawerMenu.js
  apps/mobile/src/screens/Members/Members.js
  apps/mobile/src/screens/PostEditor/PostEditor.js
Due: mobile-changed

chore(mobile): Fix post.pinned for PostDetail
  apps/mobile/src/components/PostCard/PostHeader/PostHeader.js
  apps/mobile/src/screens/PostDetails/PostDetails.js
Due: mobile-changed

chore(mobile): Correct usage of graphql fragments in some places
  apps/mobile/src/components/Comments/Comments.js
  apps/mobile/src/components/FlagGroupContent/FlagGroupContent.js
  apps/mobile/src/components/PostCard/PostCardForDetails.js
  apps/mobile/src/components/StreamList/StreamList.store.js
  apps/mobile/src/graphql/fragments/commentFieldsFragment.js
  apps/mobile/src/graphql/fragments/commentsQuerySetFieldsFragment.js
  apps/mobile/src/graphql/fragments/groupFieldsFragment.js
  apps/mobile/src/graphql/fragments/postFieldsFragment.js
  apps/mobile/src/graphql/mutations/createProjectMutation.js
  apps/mobile/src/graphql/mutations/updatePostMutation.js
  apps/mobile/src/graphql/queries/childCommentsQuery.js
  apps/mobile/src/graphql/queries/groupDetailsQueryMaker.js
  apps/mobile/src/hooks/useRolesForGroup.js
  apps/mobile/src/screens/CreateGroupFlow/CreateGroupFlow.store.js
  apps/mobile/src/store/actions/__snapshots__/resetNewPostCount.test.js.snap
Due: mobile-changed

chore(mobile): Updates useHasResponsibility hook
  apps/mobile/src/components/PostCard/PostHeader/PostHeader.js
  apps/mobile/src/hooks/useHasResponsibility.js
  apps/mobile/src/hooks/usePostActionSheet.js
  apps/mobile/src/screens/DrawerMenu/DrawerMenu.js
  apps/mobile/src/screens/Members/Members.js
  apps/mobile/src/screens/PostEditor/PostEditor.js
Due: mobile-changed

chore(mobile): Changes to URQL gql tag and removes gql-tag dependency
  apps/mobile/package.json
  apps/mobile/src/graphql/queries/meQuery.js
  apps/mobile/src/screens/Groups/Groups.graphql.js
  apps/mobile/src/store/actions/fetchGroupModerators.js
  apps/mobile/src/store/actions/fetchRecentContacts.js
  apps/mobile/src/util/graphql.js
  yarn.lock
Due: mobile-changed

Fix opening a post from the sttream while another is open
  apps/web/src/hooks/useRouteParams/index.js
Due: web-changed

Reordering position correct
  apps/backend/api/graphql/index.js
  apps/backend/api/graphql/mutations/context_widgets.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/ContextWidget.js
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/Navigation.js
Due: backend-changed, web-changed

Fix many issues with public pages/routes
  apps/web/src/components/NavigateWithParams/index.jsx
  apps/web/src/components/PostCard/PostBodyProposal/PostBodyProposal.js
  apps/web/src/hooks/useRouteParams/index.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.store.js
  apps/web/src/routes/GroupDetail/GroupDetail.js
  apps/web/src/routes/MapExplorer/MapExplorer.js
  apps/web/src/routes/PublicLayoutRouter/PublicGroupDetail.jsx
  apps/web/src/routes/PublicLayoutRouter/PublicLayoutRouter.js
  apps/web/src/routes/PublicLayoutRouter/PublicPageHeader.jsx
  apps/web/src/routes/PublicLayoutRouter/PublicPostDetail.jsx
  apps/web/src/routes/RootRouter/RootRouter.js
Due: web-changed

Better blurring of flagged content for grid view of the stream
  apps/web/src/components/PostBigGridItem/PostBigGridItem.js
  apps/web/src/components/PostBigGridItem/PostBigGridItem.module.scss
  apps/web/src/components/PostGridItem/PostGridItem.js
  apps/web/src/components/PostGridItem/PostGridItem.module.scss
Due: web-changed

Fix loading public post as non-logged in user
  apps/backend/api/models/Post.js
Due: backend-changed

reordering works for all things but child-to-child
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/ContextWidget.js
  apps/backend/api/models/util/contextWidgets.js
  apps/mobile/src/graphql/fragments/groupFieldsFragment.js
  apps/web/package.json
  apps/web/src/graphql/fragments/groupFieldsFragment.js
  apps/web/src/graphql/fragments/groupQueryFragment.js
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/Navigation.js
  apps/web/src/store/actions/contextWidgets/index.js
  apps/web/src/store/reducers/ormReducer/index.js
  apps/web/src/store/selectors/contextWidgetSelectors.js
  apps/web/src/util/contextWidgets.js
  yarn.lock
Due: backend-changed, web-changed, mobile-changed

Add missing strings for i18n
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: web-changed

Reordering now stable in all scenarios and includes validation of child-parent relationship
  apps/backend/api/models/util/contextWidgets.js
  apps/backend/api/models/util/contextWidgets.test.js
  apps/web/src/routes/AllView/AllView.js
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/Navigation.js
  apps/web/src/util/contextWidgets.js
Due: backend-changed, web-changed

Allow home widget to be updated
  apps/backend/api/graphql/index.js
  apps/backend/api/graphql/mutations/context_widgets.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/ContextWidget.js
  apps/backend/api/models/util/contextWidgets.js
  apps/backend/api/models/util/contextWidgets.test.js
  apps/web/src/routes/AllView/AllView.js
  apps/web/src/store/actions/contextWidgets/index.js
  apps/web/src/store/constants.js
  apps/web/src/store/reducers/ormReducer/index.js
  apps/web/src/util/contextWidgets.js
Due: backend-changed, web-changed

Allow widgets to be added to the menu
  apps/web/src/routes/AllView/AllView.js
Due: web-changed

Allow widgets/views to be added and removed from the context menu
  apps/backend/api/graphql/index.js
  apps/backend/api/graphql/mutations/context_widgets.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/ContextWidget.js
  apps/backend/api/models/util/contextWidgets.js
  apps/web/src/routes/AllView/AllView.js
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/Navigation.js
  apps/web/src/store/actions/contextWidgets/index.js
  apps/web/src/store/reducers/ormReducer/index.js
  apps/web/src/util/contextWidgets.js
Due: backend-changed, web-changed

Add some special actions for specific widgets
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/Navigation.js
  apps/web/src/util/contextWidgets.js
Due: web-changed

Review tweaks
  apps/backend/api/graphql/index.js
  apps/backend/api/graphql/mutations/context_widgets.js
  apps/backend/api/models/ContextWidget.js
  apps/backend/api/models/util/contextWidgets.js
Due: backend-changed

Remove comment
  apps/web/src/util/contextWidgets.js
Due: web-changed

Revert OneSignal config
  apps/mobile/android/app/src/main/AndroidManifest.xml
Due: mobile-changed

Avoid rendering proposal options in the map drawer
  apps/web/src/components/PostCard/PostBody/PostBody.js
  apps/web/src/components/PostCard/PostCard.jsx
  apps/web/src/routes/MapExplorer/MapDrawer/MapDrawer.js
Due: web-changed

Review tweaks
  apps/mobile/src/graphql/fragments/groupsQueryFragment.js
  apps/mobile/src/screens/CreateGroupFlow/CreateGroupFlow.store.js
  apps/mobile/src/store/actions/fetchGroupDetails.js
  apps/web/src/hooks/useGatherItems/index.js
  apps/web/src/routes/AllView/AllView.jsx
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/Navigation.js
Due: web-changed, mobile-changed

Review tweaks
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/MenuLink/MenuLink.jsx
Due: web-changed

Flagged posts now hidden in other contexts
  apps/web/src/components/PostBigGridItem/PostBigGridItem.js
  apps/web/src/components/PostCard/PostCard.jsx
  apps/web/src/components/PostGridItem/PostGridItem.js
  apps/web/src/components/PostListRow/PostListRow.js
  apps/web/src/routes/PostDetail/PostDetail.js
Due: web-changed

Use satellite with streets map view for group boundary map
  apps/web/src/components/Map/EditableMap/EditableMap.js
Due: web-changed

Remove unneeded aliases
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/models/ContextWidget.js
Due: backend-changed

Fix moderation action notifications
  apps/backend/api/models/ModerationAction.js
  apps/backend/api/models/ZapierTrigger.js
  apps/backend/api/models/post/findOrCreateThread.js
  apps/backend/api/services/Email.js
  apps/backend/api/services/MessagingService.js
  apps/backend/api/services/Search/forUsers.js
  apps/backend/app.json
  apps/backend/lib/i18n/en.js
  apps/backend/lib/i18n/es.js
  apps/web/src/routes/Stream/Stream.js
Due: backend-changed, web-changed

Update some snapshots and fix a test
  apps/web/src/components/ModalDialog/__snapshots__/ModalDialog.test.js.snap
  apps/web/src/components/PostCard/EventRSVP/__snapshots__/EventRSVP.test.js.snap
  apps/web/src/components/PostCard/PostTitle/__snapshots__/PostTitle.test.js.snap
  apps/web/src/routes/Messages/__snapshots__/Messages.store.test.js.snap
  apps/web/src/routes/NonAuthLayoutRouter/ManageNotifications/ManageNotifications.test.js
  apps/web/src/server/__snapshots__/appMiddleware.test.js.snap
Due: web-changed

Fix special renderer
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/Navigation.js
Due: web-changed

VERY unstyled about widget
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/Navigation.js
Due: web-changed

Fix adding suggested skill to a group
  apps/backend/api/graphql/mutations/index.js
Due: backend-changed

Fix bug where people are asked to answer join questions even after having answered them when requesting to join
  apps/backend/api/models/Group.js
  apps/web/src/routes/GroupWelcomeModal/GroupWelcomeModal.store.js
Due: backend-changed, web-changed

Fix updating group privacy settings
  apps/web/src/routes/GroupSettings/GroupSettings.js
  apps/web/src/routes/GroupSettings/MembershipRequestsTab/MembershipRequestsTab.js
Due: web-changed

Fix adding default topics to a group
  apps/web/src/components/TopicSelector/SingleTopicSelector.js
Due: web-changed

Allow adding widgets to the context menu; container widgets tested so far
  apps/backend/api/graphql/filters.js
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/ContextWidget.js
  apps/web/package.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/HyloEditor/extensions/TopicMentions.js
  apps/web/src/components/PostSelector/PostSelector.js
  apps/web/src/components/ui/button.jsx
  apps/web/src/components/ui/command.jsx
  apps/web/src/components/ui/dialog.jsx
  apps/web/src/components/ui/input.jsx
  apps/web/src/components/ui/label.jsx
  apps/web/src/components/ui/select.jsx
  apps/web/src/routes/AllView/AllView.jsx
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/Navigation.js
  apps/web/src/routes/GroupSettings/CustomViewsTab/CustomViewsTab.js
  apps/web/src/store/actions/contextWidgets/index.js
  apps/web/src/store/actions/findTopics.js
  apps/web/src/store/reducers/ormReducer/index.js
  apps/web/src/util/contextWidgets.js
  yarn.lock
Due: backend-changed, web-changed

Fix incorrect child post indicator in public events stream
  apps/web/src/routes/Events/Events.js
Due: web-changed
