Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

chore(mobile): Bring back group fetching awareness to ContextMenu
  apps/mobile/src/components/ContextMenu/ContextMenu.js
Due: mobile-changed

chore(mobile): Remove routeParams-based setToGroupSlug from DrawerMenu
  apps/mobile/src/components/DrawerMenu/DrawerMenu.js
Due: mobile-changed

chore(mobile): Add "all" -> "my" context translation to screen path params processing in custom linking config
  apps/mobile/src/navigation/linking/getStateFromPath.js
  apps/mobile/src/navigation/linking/index.js
Due: mobile-changed

chore(mobile): Linking and StreamQuery alignments, useRouteParams fix
  apps/mobile/src/components/ModerationList/ModerationList.js
  apps/mobile/src/components/PostCard/PostHeader/PostHeader.js
  apps/mobile/src/hooks/useRouteParams.js
  apps/mobile/src/navigation/HomeNavigator.js
  apps/mobile/src/navigation/linking/index.js
  apps/mobile/src/screens/Stream/Stream.js
  packages/hooks/useStreamQueryVariables.js
Due: mobile-changed

chore(mobile): Fixes bugs in Stream Query variables composition, debugging logging and comments, cleans-up some code
  apps/mobile/src/components/ContextMenu/ContextMenu.js
  apps/mobile/src/navigation/HomeNavigator.js
  apps/mobile/src/navigation/linking/index.js
  apps/mobile/src/screens/Stream/Stream.js
  apps/mobile/src/screens/Stream/makeStreamQuery.js
  packages/hooks/useStreamQueryVariables.js
Due: mobile-changed

chore(mobile): fixes issue with NewMessage
  apps/mobile/src/screens/NewMessage/NewMessage.js
Due: mobile-changed

Include midnight for query start of range
  apps/backend/api/services/Search/util.js
Due: backend-changed

include multiday events in sort
  apps/web/src/components/Calendar/body/month/calendar-body-month.tsx
Due: web-changed

chore(mobile): Remove commented code
  apps/mobile/src/components/CommentEditor/CommentEditor.js
Due: mobile-changed

chore(mobile): Remove unused dependencies
  apps/mobile/src/components/CommentEditor/CommentEditor.js
Due: mobile-changed

chore(mobile): Fix modal close button color
  apps/mobile/src/navigation/headers/ModalHeader.js
  apps/mobile/src/screens/NotificationsList/NotificationsList.js
Due: mobile-changed

chore(mobile): Updates to Stream Query Variables that make most streams work
  packages/hooks/useStreamQueryVariables.js
Due: none

chore(mobile): Provisional styles and Stream titles
  apps/mobile/src/components/ContextMenu/ContextMenu.js
  apps/mobile/src/screens/Stream/Stream.js
Due: mobile-changed

display date range for multiday posts
  apps/web/src/components/PostListRow/PostListRow.js
Due: web-changed

add revised week mode to calendar
  apps/web/src/components/Calendar/body/calendar-body.tsx
  apps/web/src/components/Calendar/body/week/calendar-body-week-calendar.tsx
  apps/web/src/components/Calendar/body/week/calendar-body-week.tsx
  apps/web/src/components/Calendar/calendar-types.ts
  apps/web/src/components/Calendar/calendar-util.tsx
  apps/web/src/components/Calendar/header/date/calendar-header-date-chevrons.tsx
  apps/web/src/components/ui/calendar.tsx
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

revise selected style in week mode
  apps/web/src/components/ui/calendar.tsx
Due: web-changed

widgets to my/stream and my/map go to expected screen and load expected data
  apps/mobile/ios/Podfile.lock
  apps/mobile/src/navigation/linking/index.js
  apps/mobile/src/screens/Stream/Stream.js
  packages/hooks/useStreamQueryVariables.js
Due: mobile-changed

Revert streamParams tweak
  packages/hooks/useStreamQueryVariables.js
Due: none

Do not use /stream as a :myHome param
  apps/mobile/src/navigation/linking/index.js
Due: mobile-changed

Add note to experimental /my routes
  apps/mobile/src/navigation/linking/index.js
Due: mobile-changed

Adjust /my/profile to go to the non-modal screen
  apps/mobile/src/navigation/linking/index.js
Due: mobile-changed

Make sure titles for widgets render after Presenter changes
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/AllView/AllView.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Remove comment, use openUrl for All view nav
  apps/mobile/src/components/ContextMenu/ContextMenu.js
  apps/mobile/src/navigation/linking/index.js
Due: mobile-changed

enable week mode for other posts
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

improve week mode for other posts
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

prettify code
  apps/web/src/components/PostListRow/PostListRow.js
Due: web-changed

Split decisions widget into Proposals and Moderation widgets
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/src/components/ModerationList/ModerationList.js
  apps/mobile/src/components/PostCard/PostHeader/PostHeader.js
  apps/mobile/src/navigation/HomeNavigator.js
  apps/mobile/src/navigation/linking/index.js
  apps/mobile/src/screens/Moderation/Moderation.js
  apps/mobile/src/screens/Moderation/index.js
  apps/mobile/src/screens/Stream/Stream.js
Due: mobile-changed

Fix group member navigation
  apps/mobile/src/navigation/linking/index.js
Due: mobile-changed

fix calendarMode type
  apps/web/src/components/Calendar/calendar-provider.tsx
  apps/web/src/components/Calendar/calendar-types.ts
Due: web-changed

add date range for week view
  apps/web/src/components/Calendar/header/date/calendar-header-date-chevrons.tsx
Due: web-changed

restore orig query with cal query
  apps/backend/api/services/Search/util.js
  apps/web/src/routes/Stream/Stream.js
Due: backend-changed, web-changed

When widget is removed from menu, null out the positioning of its children
  apps/backend/api/models/util/contextWidgets.js
  apps/backend/api/models/util/contextWidgets.test.js
  apps/backend/migrations/schema.sql
  apps/web/src/util/contextWidgets.js
Due: backend-changed, web-changed

chore(mobile): Code-level clean-ups
  apps/mobile/src/components/ContextMenu/ContextMenu.js
  apps/mobile/src/components/ContextSwitchMenu/ContextSwitchMenu.js
  apps/mobile/src/hooks/useReactOnEntity.js
  apps/mobile/src/screens/MemberProfile/MemberProfile.js
  packages/hooks/useCurrentUser.js
Due: mobile-changed

chore(mobile): Improve keyboard avoiding behavior PostDetails > CommentEditor
  apps/mobile/src/components/Comments/Comments.js
Due: mobile-changed

chore(mobile): Updates linking snapshot after all > my conversion and settings screen changes
  apps/mobile/src/navigation/linking/__snapshots__/getStateFromPath.test.js.snap
Due: mobile-changed

chore(mobile): Align Chat Room screen naming
  apps/mobile/src/hooks/useGoToTopic.js
  apps/mobile/src/navigation/HomeNavigator.js
  apps/mobile/src/navigation/linking/__snapshots__/getStateFromPath.test.js.snap
  apps/mobile/src/navigation/linking/index.js
  apps/mobile/src/screens/AllTopicsWebView/AllTopicsWebView.js
  apps/mobile/src/screens/NotificationsList/NotificationsList.store.js
Due: mobile-changed

chore: Address initial loading of Home widget for Mobile. Adds GroupPresenter#homeWidget. Some code clean-up
  apps/mobile/src/components/ContextSwitchMenu/ContextSwitchMenu.js
  apps/mobile/src/navigation/HomeNavigator.js
  apps/mobile/src/screens/ChatRoomWebView/ChatRoomWebView.js
  packages/hooks/useCurrentGroup.js
  packages/presenters/GroupPresenter.js
Due: mobile-changed

chore(mobile): Update linking test
  apps/mobile/src/navigation/linking/getStateFromPath.test.js
Due: mobile-changed

chore(mobile): Removed unused i18n from GroupPresenter
  packages/presenters/GroupPresenter.js
Due: none

restore query afterTime, beforeTime
  apps/backend/api/services/Search/util.js
  apps/web/src/routes/Stream/Stream.js
Due: backend-changed, web-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
