Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

Backend and front-end to v6.1.18
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

Fix bug crashing public map
  apps/web/src/components/EmojiRow/EmojiRow.js
Due: web-changed

Default map base layer is now satellite with streets
  apps/web/src/routes/MapExplorer/MapExplorer.js
Due: web-changed

Lint fixes
  apps/web/src/components/GroupNetworkMap/GroupNetworkMapGenerator.js
Due: web-changed

One more place default to satellite with streets as map base layer
  apps/web/src/components/Map/Map.js
Due: web-changed

Prevent create post popup from appearing when dragging on the map
  apps/web/src/components/Map/Map.js
  apps/web/src/routes/MapExplorer/MapExplorer.js
Due: web-changed

Fix display of post and group layers at far out zooms
  apps/web/src/components/Map/Map.js
Due: web-changed

CHANGELOG update
  apps/web/CHANGELOG.md
Due: web-changed

CHANGELOG add
  apps/web/CHANGELOG.md
Due: web-changed

Upload smaller circular group avatar for map when changing group avatar
  apps/backend/lib/uploader/index.js
  apps/web/src/components/Map/layers/iconLayer/index.js
Due: backend-changed, web-changed

Don't show create post popup on public map for non logged in users
  apps/web/CHANGELOG.md
  apps/web/src/routes/MapExplorer/MapExplorer.js
Due: web-changed

Fix searching members in event invite and attending dialogs
  apps/web/src/components/CheckBox/CheckBox.module.scss
  apps/web/src/components/EventInviteDialog/EventInviteDialog.js
  apps/web/src/components/EventInviteDialog/EventInviteDialog.module.scss
  apps/web/src/components/PostCard/EventBody/EventBody.js
  apps/web/src/components/PostPeopleDialog/PostPeopleDialog.js
Due: web-changed

remove cruft (TextInput ignores inputRef)
  apps/web/src/components/EventInviteDialog/EventInviteDialog.js
  apps/web/src/components/TextInput/TextInput.js
Due: web-changed

remove cruft
  apps/web/src/components/ModalDialog/ModalDialog.js
Due: web-changed

add FocusScope to control focus
  apps/web/src/components/PostDialog/PostDialog.jsx
Due: web-changed

restore slick-slide carrousel nav behavior
  apps/web/src/components/ModalDialog/ModalDialog.js
Due: web-changed

Put keyboard adjustments in a hook
  apps/mobile/src/components/CommentEditor/CommentEditor.js
  apps/mobile/src/hooks/useKeyboardHeight.js
  apps/mobile/src/screens/NewMessage/NewMessage.js
  apps/mobile/src/screens/Thread/Thread.js
Due: mobile-changed

Fix display of post datetimepicker in chatroom webview on android
  apps/web/src/components/ui/datetimepicker.jsx
Due: web-changed

Fix display of post people dialog in dark mode
  apps/web/src/components/PostPeopleDialog/PostPeopleDialog.js
  apps/web/src/components/PostPeopleDialog/PostPeopleDialog.module.scss
  apps/web/src/components/TextInput/TextInput.js
Due: web-changed

Fix adding location to chat post on Android
  apps/web/package.json
  apps/web/src/components/GeocoderAutocomplete/GeocoderAutocomplete.js
  apps/web/src/components/LocationInput/LocationInput.js
  apps/web/src/components/LocationInput/LocationInput.module.scss
  apps/web/src/components/PostEditor/PostEditor.js
  yarn.lock
Due: web-changed

Web v6.1.19
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: web-changed

Initial backend for Funding Rounds
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/fundingRound.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/FundingRound.js
  apps/backend/api/models/Group.js
  apps/backend/api/models/Responsibility.js
  apps/backend/migrations/20250904120000_funding_rounds.js
  apps/backend/migrations/20250904121000_add-manage-rounds-responsibility.js
Due: backend-changed

6.1.11 actual changelog
  apps/mobile/CHANGELOG
Due: mobile-changed

Fix viewing public posts with comment reactions when not logged in
  apps/web/src/components/EmojiRow/EmojiRow.js
Due: web-changed

Rank search results much more by recency than just matching relevance
  apps/backend/api/services/FullTextSearch.js
  apps/backend/test/unit/services/FullTextSearch.test.js
Due: backend-changed

Fix scrolling to load more search results
  apps/web/src/components/Loading/Loading.module.scss
  apps/web/src/routes/Search/Search.js
Due: web-changed

Web v6.1.20
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: web-changed

backend v6.1.19
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
Due: backend-changed, web-changed

Fix post importer
  apps/backend/api/controllers/UploadController.js
  apps/backend/lib/uploader/index.js
  apps/backend/lib/uploader/postImporter.js
Due: backend-changed

Fix adding peer group relationship that was formerly a parent -> child relationship
  apps/backend/api/graphql/mutations/group.js
Due: backend-changed

Backend v6.1.20
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
Due: backend-changed, web-changed

Tweak styling of map drawer
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
  apps/web/src/routes/MapExplorer/MapDrawer/MapDrawer.js
  apps/web/src/routes/MapExplorer/MapDrawer/MapDrawer.module.scss
Due: web-changed

Fix display of post location in map drawer
  apps/web/src/components/PostCard/PostTitle/PostTitle.js
  apps/web/src/routes/MapExplorer/MapExplorer.store.js
Due: web-changed

WIP
  apps/backend/api/graphql/schema.graphql
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: backend-changed, web-changed
