Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

add explanation for function usage
  apps/backend/api/models/Post.js
Due: backend-changed

remove debug console.logs
  apps/backend/api/services/Email.js
Due: backend-changed

fix rsvp invite so iCal file is correct
  apps/backend/api/graphql/mutations/event.js
Due: backend-changed

Fix issue where chatroom wouldnt track atBottom correctly
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

restore function shorthand after debugging
  apps/backend/api/services/Email.js
Due: backend-changed

use pointer cursor for rsvp dropdown
  apps/web/src/components/DropdownButton/DropdownButton.js
Due: web-changed

rename variable for consistency
  apps/backend/api/models/Post.js
Due: backend-changed

replaced one async call with eager loading
  apps/backend/api/graphql/mutations/event.js
  apps/backend/api/models/Post.js
Due: backend-changed

remove left over #fetch
  apps/backend/api/models/Post.js
Due: backend-changed

remove debugging stuff
  apps/backend/api/services/Email.js
Due: backend-changed

leave sendEmailWithOptions as found
  apps/backend/api/services/Email.js
Due: backend-changed

revise to not break code
  apps/backend/api/graphql/mutations/event.js
  apps/backend/api/services/Email.js
Due: backend-changed

update HumanResponse
  apps/backend/api/models/EventInvitation.js
Due: backend-changed

fix bug introduced with rsvp email
  apps/backend/api/graphql/mutations/event.js
  apps/backend/api/models/Post.js
Due: backend-changed

Update Virtuoso Message list to latest version
  apps/web/package.json
  yarn.lock
Due: web-changed

Fix issue where people would be asked to answer join questions after joining even if they already had
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/routes/GroupWelcomeModal/GroupWelcomeModal.js
  apps/web/src/store/actions/fetchAllMyGroupsChatRooms.js
  apps/web/src/store/actions/fetchMyMemberships.js
  apps/web/src/store/constants.js
  apps/web/src/store/reducers/ormReducer/index.js
Due: web-changed

Fix issue where join question answers get overridden by duplicate and empty answers
  apps/web/src/routes/GroupWelcomeModal/GroupWelcomeModal.js
Due: web-changed

Default join question answers to do not display
  apps/web/src/routes/Members/Members.js
Due: web-changed

Port of 466 PR for datetime helper
  apps/backend/api/models/Notification.js
  apps/backend/api/models/Post.js
  apps/web/src/components/Calendar/body/day/calendar-body-day-calendar.tsx
  apps/web/src/components/Calendar/body/month/calendar-body-month.tsx
  apps/web/src/components/Calendar/body/week/calendar-body-week-calendar.tsx
  apps/web/src/components/Calendar/calendar-event.tsx
  apps/web/src/components/Calendar/calendar-util.tsx
  apps/web/src/components/Calendar/calendar.tsx
  apps/web/src/components/Calendar/header/date/calendar-header-date-chevrons.tsx
  apps/web/src/components/DatePicker/DatePicker.js
  apps/web/src/components/DatePicker/index.js
  apps/web/src/components/PostCard/ChatCard/ChatCard.js
  apps/web/src/components/PostCard/EventDate/EventDate.js
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/PostListRow/PostListRow.js
  apps/web/src/components/Widget/AnnouncementWidget/AnnouncementWidget.js
  apps/web/src/components/Widget/EventsWidget/EventsWidget.js
  apps/web/src/components/Widget/ProjectsWidget/ProjectsWidget.js
  apps/web/src/components/ui/datetimepicker.jsx
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/LocaleDropdown/LocaleDropdown.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/MemberProfile/MemberProfile.js
  apps/web/src/routes/NonAuthLayoutRouter/NonAuthLayoutRouter.js
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.jsx
  apps/web/src/routes/Stream/Stream.js
  apps/web/src/routes/UserSettings/LocaleTab/LocaleTab.jsx
  apps/web/src/routes/UserSettings/ManageInvitesTab/ManageInvitesTab.js
  apps/web/src/store/presenters/presentPost.js
  apps/web/src/util/locale.js
  apps/web/src/util/savedSearch.js
  packages/shared/src/DateTimeHelpers/DateTimeHelpers.d.ts
  packages/shared/src/DateTimeHelpers/DateTimeHelpers.test.ts
  packages/shared/src/DateTimeHelpers/DateTimeHelpers.ts
  packages/shared/src/index.js
  packages/shared/src/types/pretty-date.d.ts
Due: backend-changed, web-changed

Make sure we need to check for autofill before checking for autofill
  apps/web/src/components/TextInput/TextInput.js
Due: web-changed

Added toggling of menu to threaditems for mobile viewers
  apps/web/src/routes/Messages/ThreadList/ThreadListItem.jsx
Due: web-changed

Added an explicit z-order for when the menu is not needed on mobile devices
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Cleaned up cookie consent at different screen sizes
  apps/web/src/components/HyloCookieConsent/HyloCookieConsent.js
Due: web-changed

Massive improvements to non-auth layout, signup and login
  apps/web/src/components/GoogleButton/GoogleButton.js
  apps/web/src/routes/NonAuthLayoutRouter/Login/Login.js
  apps/web/src/routes/NonAuthLayoutRouter/NonAuthLayoutRouter.js
  apps/web/src/routes/NonAuthLayoutRouter/PasswordReset/PasswordReset.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Signup.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/VerifyEmail/VerifyEmail.js
Due: web-changed

Added default text sizes for mobile and removed the navigation arrow. For messages the default back button will work
  apps/web/src/routes/Messages/Header/Header.js
Due: web-changed

Modified text input to be more mobile friendly, and to work better with autofill
  apps/web/src/components/TextInput/TextInput.js
Due: web-changed

Added explicit z-index to global nav for mobile
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

Fixed group settings menu on mobile
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Fixed page titles, added helmet to non-auth layout routes, removed getPageTitle
  apps/web/src/routes/NonAuthLayoutRouter/Login/Login.js
  apps/web/src/routes/NonAuthLayoutRouter/ManageNotifications/ManageNotifications.js
  apps/web/src/routes/NonAuthLayoutRouter/NonAuthLayoutRouter.js
  apps/web/src/routes/NonAuthLayoutRouter/PasswordReset/PasswordReset.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Signup.js
Due: web-changed

Fixed width of thread list on mobile
  apps/web/src/routes/Messages/ThreadList/ThreadList.js
Due: web-changed

Added documentation for checkautofill function
  apps/web/src/routes/NonAuthLayoutRouter/Login/Login.js
Due: web-changed

Fixed autofill on text inputs to have mode-appropriate colors
  apps/web/src/css/global/index.scss
Due: web-changed

Fixed drawer close button position at all sizes
  apps/web/src/routes/MapExplorer/MapDrawer/MapDrawer.js
  apps/web/src/routes/MapExplorer/MapExplorer.js
Due: web-changed

Mobile improvements to context menu, post detail and stream
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/PostDetail/PostDetail.js
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

Cleaned up cookie consent at different screen sizes
  apps/web/src/components/StreamViewControls/StreamViewControls.js
Due: web-changed

Made it so local server listens beyond localhost, allows for connecting phones and other devices to local environment over wifi
  apps/web/scripts/start.js
Due: web-changed

Added min widths to chevrons so that they always display correctly and removed context icons entirely for views that are not messages
  apps/web/src/components/ViewHeader/ViewHeader.jsx
Due: web-changed

Fixed padding on center column on phones
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

WIP
  apps/backend/api/graphql/filters.js
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/services/Search.js
  apps/web/src/components/HyloEditor/extensions/TopicMentions.js
  apps/web/src/store/actions/findTopics.js
Due: backend-changed, web-changed
