Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Fixed global nav opacity
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.module.scss
Due: web-changed

Cleaned up global menu, chatroom & context menu
  apps/web/src/components/GroupMenuHeader/GroupMenuHeader.jsx
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/ChatRoom/ChatRoom.module.scss
Due: web-changed

More improvements to global nav
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
Due: web-changed

Move COMMON_VIEWS into hylo/shared
  apps/web/src/components/WidgetIconResolver/WidgetIconResolver.jsx
  apps/web/src/routes/Stream/Stream.js
  apps/web/src/util/constants.js
  packages/shared/src/ViewHelpers.js
  packages/shared/src/index.js
Due: web-changed

Fix tracking location changes in redux
  apps/web/package.json
  apps/web/src/router/index.js
  yarn.lock
Due: web-changed

Starting to split the drawer nav between GlobalNav and ContextMenu
  apps/mobile/src/graphql/fragments/groupFieldsFragment.js
  apps/mobile/src/graphql/queries/groupDetailsQueryMaker.js
  apps/mobile/src/hooks/useCurrentGroup.js
  apps/mobile/src/navigation/DrawerNavigator.js
  apps/mobile/src/navigation/menus/ContextMenu/ContextMenu.js
  apps/mobile/src/navigation/menus/ContextMenu/index.js
  apps/mobile/src/navigation/menus/GlobalNav/GlobalNav.js
  apps/mobile/src/navigation/menus/GlobalNav/index.js
  apps/mobile/src/screens/DrawerMenu/DrawerMenu.js
  apps/mobile/src/urql-shared/presenters/GroupPresenter.js
Due: mobile-changed

New Group Settings
  apps/web/src/components/GroupMenuHeader/GroupMenuHeader.jsx
  apps/web/src/routes/AllTopics/AllTopics.module.scss
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/FullPageModal/FullPageModal.js
  apps/web/src/routes/FullPageModal/FullPageModal.module.scss
  apps/web/src/routes/FullPageModal/index.js
  apps/web/src/routes/GroupSettings/GroupSettings.js
  apps/web/src/routes/GroupSettings/GroupSettingsTab/GroupSettingsTab.js
  apps/web/src/routes/UserSettings/UserSettings.js
  apps/web/src/store/reducers/locationHistory.js
Due: web-changed

Switch GroupWelcomeLanding to rely on useCurrentGroup
  apps/mobile/src/screens/GroupWelcomeFlow/GroupWelcomeLanding.js
  apps/mobile/src/urql-shared/keys.js
Due: mobile-changed

Clean up some stuff
  apps/web/src/components/GroupMenuHeader/GroupMenuHeader.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
  apps/web/src/routes/FullPageModal/FullPageModal.connector.js
  apps/web/src/routes/FullPageModal/FullPageModal.js
  apps/web/src/routes/FullPageModal/FullPageModal.module.scss
Due: web-changed

Fix create button in Global Nav
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

Padding around chatbox
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Add key to globalNav list items
  apps/mobile/src/navigation/menus/GlobalNav/GlobalNav.js
Due: mobile-changed

Beginnings of mobile nav menu
  apps/web/src/components/ViewHeader/ViewHeader.jsx
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.module.scss
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.store.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.module.scss
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/GroupSettings/GroupSettings.js
Due: web-changed

Switch from 'proposals' url to 'decisions'
  apps/backend/api/models/Group.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.connector.js
  apps/web/src/components/StreamViewControls/StreamViewControls.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/Stream/Stream.js
Due: backend-changed, web-changed

More improvements to mobile nav
  apps/web/src/components/ViewHeader/ViewHeader.jsx
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.store.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MenuLink/MenuLink.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
Due: web-changed

Add group name letters when using default avatar
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
Due: web-changed

GlobalNav updates WIP
  apps/mobile/src/components/WidgetIconResolver/WidgetIconResolver.js
  apps/mobile/src/components/WidgetIconResolver/index.js
  apps/mobile/src/hooks/useChangeToGroup.js
  apps/mobile/src/navigation/HomeNavigator.js
  apps/mobile/src/navigation/headers/TabStackHeader.js
  apps/mobile/src/navigation/menus/ContextMenu/ContextMenu.js
  apps/mobile/src/navigation/menus/GlobalNav/GlobalNav.js
  apps/mobile/src/screens/DrawerMenu/DrawerMenu.js
  apps/mobile/src/screens/GroupWelcomeFlow/GroupWelcomeTabBar.js
  apps/mobile/src/store/selectors/getContextWidgetsForGroup.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/store/selectors/contextWidgetSelectors.js
  packages/shared/src/NavigationHelpers.js
  packages/shared/src/WidgetHelpers.js
  packages/shared/src/index.js
Due: web-changed, mobile-changed

Add common role responsibilities to seed data
  apps/backend/seeds/groups.js
Due: backend-changed

Fix clicking on a mention or topic in a post
  apps/web/src/components/HyloEditor/extensions/PeopleMentions.js
  apps/web/src/components/HyloEditor/extensions/TopicMentions.js
Due: web-changed

Switch chat rooms to use /chat/:topicName url
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/Stream/Stream.js
  apps/web/src/util/navigation.js
Due: web-changed

Allow nav to myHome via bottomNavTab. Use context widgets for myHome menu. Remove Group Navigation, but still need to add something that takes its place
  apps/mobile/src/navigation/TabsNavigator.js
  apps/mobile/src/navigation/headers/TabStackHeader.js
  apps/mobile/src/navigation/menus/ContextMenu/ContextMenu.js
  apps/mobile/src/navigation/menus/GlobalNav/GlobalNav.js
  apps/mobile/src/screens/DrawerMenu/DrawerMenu.js
  apps/mobile/src/screens/Stream/Stream.js
  apps/mobile/src/store/selectors/getContextWidgetsForGroup.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/store/selectors/contextWidgetSelectors.js
Due: web-changed, mobile-changed

chore(mobile): Update vector icons package
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/src/screens/GroupNavigation/GroupNavigation.js
  yarn.lock
Due: mobile-changed

chore(mobile): More targeted warning and error log suppression
  apps/mobile/index.js
Due: mobile-changed

graphcache optimistic and update efforts to avoid re-queries--so far unsuccessful
  apps/mobile/src/graphql/mutations/createCommentMutation.js
  apps/mobile/src/hooks/useCurrentGroup.js
  apps/mobile/src/urql-shared/optimistic/index.js
  apps/mobile/src/urql-shared/updates/createComment.js
Due: mobile-changed

add posts_users delete to seeds
  apps/backend/seeds/groups.js
Due: backend-changed

Dynamic view header component for all views
  apps/web/src/components/ViewHeader/ViewHeader.jsx
  apps/web/src/contexts/ViewHeaderContext/ViewHeaderProvider.jsx
  apps/web/src/contexts/ViewHeaderContext/index.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MenuLink/MenuLink.jsx
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/GroupSettings/DeleteSettingsTab/DeleteSettingsTab.js
  apps/web/src/routes/GroupSettings/ExportDataTab/ExportDataTab.js
  apps/web/src/routes/GroupSettings/GroupSettingsTab/GroupSettingsTab.js
  apps/web/src/routes/GroupSettings/ImportExportSettingsTab/ImportExportSettingsTab.js
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.js
  apps/web/src/routes/GroupSettings/MembershipRequestsTab/MembershipRequestsTab.connector.js
  apps/web/src/routes/GroupSettings/MembershipRequestsTab/MembershipRequestsTab.js
  apps/web/src/routes/GroupSettings/MembershipRequestsTab/index.js
  apps/web/src/routes/GroupSettings/PrivacySettingsTab/PrivacySettingsTab.js
  apps/web/src/routes/GroupSettings/RelatedGroupsTab/RelatedGroupsTab.js
  apps/web/src/routes/GroupSettings/ResponsibilitiesTab/ResponsibilitiesTab.js
  apps/web/src/routes/GroupSettings/RolesSettingsTab/RolesSettingsTab.connector.js
  apps/web/src/routes/GroupSettings/RolesSettingsTab/RolesSettingsTab.connector.test.js
  apps/web/src/routes/GroupSettings/RolesSettingsTab/RolesSettingsTab.js
  apps/web/src/routes/GroupSettings/RolesSettingsTab/index.js
  apps/web/src/routes/Groups/Groups.jsx
  apps/web/src/routes/LandingPage/LandingPage.js
  apps/web/src/routes/MapExplorer/MapExplorer.js
  apps/web/src/routes/MapExplorer/MapExplorer.module.scss
  apps/web/src/routes/MemberProfile/MemberProfile.js
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

Don't allow people to edit a post and make it public if no groups have allow in public
  apps/backend/CHANGELOG.md
  apps/backend/api/models/post/createPost.js
  apps/backend/api/models/post/setupPostAttrs.js
  apps/backend/api/models/post/updatePost.js
  apps/backend/package.json
Due: backend-changed

Fix flagging of public posts
  apps/web/src/components/FlagContent/FlagContent.connector.js
  apps/web/src/components/FlagContent/FlagContent.js
Due: web-changed

Fix tooltips on proposal votes
  apps/web/src/components/PostCard/PostBodyProposal/PostBodyProposal.js
Due: web-changed

Update web to v5.11.3
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: web-changed

Better drag me handle in context menu
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

chore(mobile): Update URQL handling of auth and cookie
  apps/mobile/src/components/HyloHTML/HyloHTML.js
  apps/mobile/src/components/SocialAuth/AppleLoginButton.js
  apps/mobile/src/components/SocialAuth/GoogleLoginButton.js
  apps/mobile/src/components/SocialAuth/SocialAuth.js
  apps/mobile/src/graphql/fragments/meAuthFieldsFragment.js
  apps/mobile/src/graphql/mutations/loginMutation.js
  apps/mobile/src/graphql/mutations/logoutMutation.js
  apps/mobile/src/graphql/queries/meCheckAuthQuery.js
  apps/mobile/src/hooks/useAuthState.js
  apps/mobile/src/hooks/useCurrentGroup.js
  apps/mobile/src/hooks/useHasResponsibility.js
  apps/mobile/src/navigation/AuthRootNavigator.js
  apps/mobile/src/navigation/RootNavigator/RootNavigator.js
  apps/mobile/src/navigation/UserSettingsTabsNavigator.js
  apps/mobile/src/screens/DrawerMenu/DrawerMenu.js
  apps/mobile/src/screens/Login/Login.js
  apps/mobile/src/screens/MemberProfile/MemberDetails/MemberDetails.js
  apps/mobile/src/screens/Signup/SignupRegistration/SignupRegistration.js
  apps/mobile/src/screens/Stream/Stream.js
  apps/mobile/src/screens/UserSettingsWebView/UserSettingsWebView.js
  apps/mobile/src/urql-shared/client.js
  apps/mobile/src/urql-shared/hooks/useLogout.js
  apps/mobile/src/urql-shared/updates/index.js
  apps/mobile/src/util/session.js
Due: mobile-changed

add react-date-picker, date-fns
  apps/web/package.json
  yarn.lock
Due: web-changed

add shadcn ui expansion datetime-picker
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/ui/button.jsx
  apps/web/src/components/ui/calendar.jsx
  apps/web/src/components/ui/datetimepicker.jsx
  apps/web/src/components/ui/select.jsx
  apps/web/tailwind.config.js
Due: web-changed

remove stray commented code
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

chore(mobile): Finally wraps-up auth (with notes)
  apps/mobile/src/graphql/mutations/registerDeviceMutation.js
  apps/mobile/src/hooks/useAuthState.js
  apps/mobile/src/hooks/useCurrentUser.js
  apps/mobile/src/navigation/AuthRootNavigator.js
  apps/mobile/src/store/actions/__snapshots__/registerDevice.test.js.snap
  apps/mobile/src/store/actions/registerDevice.js
Due: mobile-changed

chore(mobile): Auth notes
  apps/mobile/src/hooks/useCurrentUser.js
  apps/mobile/src/navigation/AuthRootNavigator.js
Due: mobile-changed

Sort all view widgets by title alphabetically
  apps/web/src/routes/AllView/AllView.jsx
Due: web-changed

Update tiptap to 2.11.2
  apps/web/package.json
  yarn.lock
Due: web-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
