Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Allow for publishing a funding round as a steward without joining round
  apps/backend/api/graphql/mutations/fundingRound.js
Due: backend-changed

Lint issue
  apps/backend/api/models/FundingRound.js
Due: backend-changed

Remove expired OIDC payloads in cron, not in every call to DBAdapter
  apps/backend/api/services/oidc/KnexAdapter.js
  apps/backend/cron.js
Due: backend-changed

Create a singleton kue queue to prevent memory leaks
  apps/backend/api/services/Queue.js
Due: backend-changed

Create a singleton socket io emitter to prevent memory leaks
  apps/backend/lib/util.js
Due: backend-changed

After joining a round navigate to it
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/FundingRounds/FundingRounds.jsx
Due: web-changed

Only show round statis if participating in the round
  apps/web/src/routes/FundingRoundHome/AboutTab.jsx
Due: web-changed

Make sure only people with correct roles can submit or vote to funding rounds
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/FundingRoundHome/AboutTab.jsx
  apps/web/src/routes/FundingRoundHome/FundingRoundHome.jsx
  apps/web/src/routes/FundingRoundHome/PeopleTab.jsx
  apps/web/src/routes/FundingRoundHome/RoundPhaseStatus.jsx
  apps/web/src/routes/FundingRoundHome/SubmissionCard.jsx
  apps/web/src/routes/FundingRoundHome/SubmissionsTab.jsx
Due: web-changed

Everyone can submit or vote if no roles set for the round
  apps/web/src/routes/FundingRoundHome/FundingRoundHome.jsx
Due: web-changed

Fix confirm message when going back from voting phase
  apps/web/src/routes/FundingRoundHome/ManageTab.jsx
Due: web-changed

When voting starts only distribute tokens to eligible voters
  apps/backend/api/graphql/mutations/fundingRound.js
  apps/backend/api/models/FundingRound.js
Due: backend-changed

Deeper tweaks to migration
  apps/backend/migrations/20251020160838_paid-content-stripe.js
Due: backend-changed

Paid content backend, without actual access control
  apps/backend/.env.example
  apps/backend/api/controllers/StripeController.js
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/contentAccess.js
  apps/backend/api/graphql/mutations/contentAccess.test.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/mutations/stripe.js
  apps/backend/api/graphql/mutations/stripe.test.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/ContentAccess.js
  apps/backend/api/models/StripeProduct.js
  apps/backend/api/models/Track.js
  apps/backend/api/services/StripeService.js
  apps/backend/config/routes.js
  apps/backend/migrations/20251020160838_paid-content-stripe.js
  apps/backend/migrations/schema.sql
  apps/backend/package.json
  apps/mobile/package.json
  docs/CONTENT_ACCESS_SUMMARY.md
  docs/PAID_CONTENT_WORKFLOW.md
  docs/STRIPE_CONNECT_INTEGRATION.md
  yarn.lock
Due: backend-changed, mobile-changed

Ensure we pass group id as metadata on stripe connect account creation
  apps/backend/api/controllers/StripeController.js
  apps/backend/api/graphql/mutations/stripe.js
  apps/backend/api/services/StripeService.js
  docs/PAID_CONTENT_WORKFLOW.md
Due: backend-changed

Refined backend
  apps/backend/api/controllers/StripeController.js
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/stripe.js
  apps/backend/api/graphql/mutations/stripe.test.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/StripeProduct.js
  apps/backend/api/services/StripeService.js
  apps/backend/migrations/20251020160838_paid-content-stripe.js
  apps/backend/migrations/schema.sql
Due: backend-changed

Get tests *runnnig* but not yet passing
  apps/backend/migrations/schema.sql
  apps/backend/test/setup/index.js
  docs/PAID_CONTENT_WORKFLOW.md
Due: backend-changed

wip web changes
  apps/web/src/routes/GroupSettings/PaidContentTab/PaidContentTab.js
  apps/web/src/routes/GroupSettings/PaidContentTab/PaidContentTab.store.js
  apps/web/src/routes/GroupSettings/PaidContentTab/index.js
  apps/web/src/routes/GroupStore/GroupStore.js
  apps/web/src/routes/GroupStore/index.js
Due: web-changed

Remove legacy OneSignal tests
  apps/backend/test/unit/services/OneSignal.test.js
Due: backend-changed

Strip more facebook code out of backend
  apps/backend/config/passport.js
  apps/backend/package.json
  apps/backend/test/setup/core.js
  apps/backend/test/unit/models/User.test.js
  apps/backend/test/unit/services/FullTextSearch.test.js
  yarn.lock
Due: backend-changed

Email salt error
  apps/backend/TEST_FIXES.md
  apps/backend/api/services/Email.js
  apps/backend/config/passport.js
Due: backend-changed

Use dummy env variable for email stuff in test setup
  apps/backend/test/setup/core.js
Due: backend-changed

Fix copying link to a submission
  apps/web/src/routes/FundingRoundHome/SubmissionCard.jsx
Due: web-changed

Fix typos
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/FundingRoundEditor/FundingRoundEditor.jsx
Due: web-changed

Don't let peole edit submissions once voting starts
  apps/web/src/routes/FundingRoundHome/FundingRoundHome.jsx
  apps/web/src/routes/FundingRoundHome/SubmissionCard.jsx
Due: web-changed

Tweak tagFollows to fix tests
  apps/backend/api/models/TagFollow.js
Due: backend-changed

Clean up PushNotif tests
  apps/backend/migrations/schema.sql
  apps/backend/test/unit/models/PushNotification.test.js
Due: backend-changed

send() still creates PushNotif records, even if they are ultimately not sent (disabled)
  apps/backend/api/models/Notification.js
Due: backend-changed

Clean up various pushNotif tests
  apps/backend/api/models/Notification.js
  apps/backend/api/models/Post.js
  apps/backend/api/models/PushNotification.js
  apps/backend/api/models/User.js
  apps/backend/test/setup/helpers.js
  apps/backend/test/unit/models/Post.test.js
  apps/backend/test/unit/models/PushNotification.test.js
  apps/backend/test/unit/services/digest2.test.js
Due: backend-changed

Test fixes for notifications and previews
  apps/backend/api/models/Media.js
  apps/backend/api/models/Notification.js
  apps/backend/api/models/User.js
  apps/backend/test/setup/helpers.js
  apps/backend/test/unit/models/LinkPreview.test.js
  apps/backend/test/unit/models/Media.test.js
  apps/backend/test/unit/models/Notification.test.js
Due: backend-changed

Removed more facebook login code
  apps/backend/test/unit/controllers/SessionController.test.js
Due: backend-changed

Clean up tests for flaggedItem and Comments
  apps/backend/api/models/FlaggedItem.js
  apps/backend/api/services/Frontend.js
  apps/backend/test/unit/models/Comment.test.js
Due: backend-changed

generateNotificationMedia fix
  apps/backend/test/unit/models/Activity.test.js
Due: backend-changed

Enable "deleting" a funding round with deactivated_at column
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/fundingRound.js
  apps/backend/api/models/FundingRound.js
  apps/backend/migrations/20251027120000_add_deactivated_at_to_funding_rounds.js
  apps/web/src/routes/FundingRoundHome/ManageTab.jsx
  apps/web/src/routes/FundingRounds/FundingRounds.store.js
Due: backend-changed, web-changed

Tweak styling of funding rounds list
  apps/web/src/routes/FundingRounds/FundingRounds.jsx
Due: web-changed

Fix project and comment tests
  apps/backend/api/graphql/mutations/project.test.js
  apps/backend/api/models/comment/updateComment.test.js
Due: backend-changed

Clean up context widget tests
  apps/backend/api/models/util/contextWidgets.js
  apps/backend/api/models/util/contextWidgets.test.js
  apps/web/src/util/contextWidgets.js
Due: backend-changed, web-changed

fix proposal vote tests
  apps/backend/api/graphql/mutations/post.test.js
  apps/backend/api/models/Post.js
Due: backend-changed

Fix peer-to-peer group relly tests
  apps/backend/api/graphql/mutations/group.js
  apps/backend/api/graphql/mutations/group.test.js
  apps/backend/api/models/GroupRelationshipInvite.js
  apps/backend/migrations/schema.sql
Due: backend-changed

Another notif cleanup
  apps/backend/test/unit/models/comment/notifications.test.js
Due: backend-changed

Fix some group tests
  apps/backend/api/models/Group.js
  apps/backend/test/unit/models/Group.test.js
Due: backend-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
