Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Massive improvements to non-auth layout, signup and login
  apps/web/src/components/GoogleButton/GoogleButton.js
  apps/web/src/routes/NonAuthLayoutRouter/Login/Login.js
  apps/web/src/routes/NonAuthLayoutRouter/NonAuthLayoutRouter.js
  apps/web/src/routes/NonAuthLayoutRouter/PasswordReset/PasswordReset.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Signup.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/VerifyEmail/VerifyEmail.js
Due: web-changed

Modified text input to be more mobile friendly, and to work better with autofill
  apps/web/src/components/TextInput/TextInput.js
Due: web-changed

Fixed padding on center column on phones
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Mobile improvements to context menu, post detail and stream
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/PostDetail/PostDetail.js
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

Fixed autofill on text inputs to have mode-appropriate colors
  apps/web/src/css/global/index.scss
Due: web-changed

Faster closing of post modal after creating a non chat post
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Fixed drawer close button position at all sizes
  apps/web/src/routes/MapExplorer/MapDrawer/MapDrawer.js
  apps/web/src/routes/MapExplorer/MapExplorer.js
Due: web-changed

Made it so local server listens beyond localhost, allows for connecting phones and other devices to local environment over wifi
  apps/web/scripts/start.js
Due: web-changed

Cleaned up cookie consent at different screen sizes
  apps/web/src/components/StreamViewControls/StreamViewControls.js
Due: web-changed

Cleaned up cookie consent at different screen sizes
  apps/web/src/components/HyloCookieConsent/HyloCookieConsent.js
Due: web-changed

Fix post dialog position when scrolled down in the stream
  apps/web/src/components/PostDialog/PostDialog.jsx
  apps/web/src/routes/TrackHome/TrackHome.jsx
Due: web-changed

Update to web@v6.1.2
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: web-changed

Move path helper to shared navigation file
  apps/mobile/src/navigation/AuthRootNavigator.js
  packages/navigation/index.js
Due: mobile-changed

Direct admins to members view for join answers
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/GroupSettings/MembershipRequestsTab/MembershipRequestsTab.js
Due: web-changed

pre-release 6.1.1-0
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Lint
  apps/web/src/components/SendAnnouncementModal/SendAnnouncementModal.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Add joinQuestionAnswers to groupMember query; expose those values in the graphQL schema and backend resolvers
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/web/src/routes/Members/Members.js
  apps/web/src/routes/Members/Members.store.js
Due: backend-changed, web-changed

Show join question-answers in members directory, conditionally
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/Member/Member.js
  apps/web/src/routes/Members/Members.js
  apps/web/src/routes/Members/Members.store.js
Due: backend-changed, web-changed

Correctly navigate to first message when going to /messages
  apps/web/src/routes/Messages/ThreadList/ThreadList.js
Due: web-changed

Lint fixes
  apps/web/src/components/PostDialog/PostDialog.jsx
  apps/web/src/components/SendAnnouncementModal/SendAnnouncementModal.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/tailwind.config.js
Due: web-changed

Make sure we need to check for autofill before checking for autofill
  apps/web/src/components/TextInput/TextInput.js
Due: web-changed

Added toggling of menu to threaditems for mobile viewers
  apps/web/src/routes/Messages/ThreadList/ThreadListItem.jsx
Due: web-changed

Added min widths to chevrons so that they always display correctly and removed context icons entirely for views that are not messages
  apps/web/src/components/ViewHeader/ViewHeader.jsx
Due: web-changed

Added an explicit z-order for when the menu is not needed on mobile devices
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Fixed group settings menu on mobile
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Added explicit z-index to global nav for mobile
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

Added default text sizes for mobile and removed the navigation arrow. For messages the default back button will work
  apps/web/src/routes/Messages/Header/Header.js
Due: web-changed

Fixed width of thread list on mobile
  apps/web/src/routes/Messages/ThreadList/ThreadList.js
Due: web-changed

Added documentation for checkautofill function
  apps/web/src/routes/NonAuthLayoutRouter/Login/Login.js
Due: web-changed

Fixed page titles, added helmet to non-auth layout routes, removed getPageTitle
  apps/web/src/routes/NonAuthLayoutRouter/Login/Login.js
  apps/web/src/routes/NonAuthLayoutRouter/ManageNotifications/ManageNotifications.js
  apps/web/src/routes/NonAuthLayoutRouter/NonAuthLayoutRouter.js
  apps/web/src/routes/NonAuthLayoutRouter/PasswordReset/PasswordReset.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Signup.js
Due: web-changed

testing with Tibet
  .gitignore
  apps/backend/api/graphql/mutations/event.js
  apps/backend/api/models/Post.js
  apps/backend/api/services/Email.js
  apps/backend/package.json
  yarn.lock
Due: backend-changed

Get email data correct for
  apps/backend/api/graphql/mutations/event.js
Due: backend-changed

Fix lint issue
  apps/backend/api/graphql/mutations/event.js
Due: backend-changed

Fix width of image attachments in safari
  apps/web/src/components/CardImageAttachments/CardImageAttachments.module.scss
Due: web-changed

add getHumanResponse for EventInvitation
  apps/backend/api/models/EventInvitation.js
Due: backend-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
