Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

Unified several subscriptions into one, to reduce number of connections required to maintain app state
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/makeSubscriptions.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/lib/postSubscriptionPublisher.js
  apps/mobile/android/app/src/debug/AndroidManifest.xml
  apps/mobile/android/app/src/debug/res/xml/network_security_config.xml
  apps/mobile/android/app/src/main/AndroidManifest.xml
  apps/mobile/src/navigation/AuthRootNavigator.js
  apps/mobile/src/screens/NoContextFallbackScreen/NoContextFallbackScreen.js
  apps/mobile/src/urql/mobileSubscriptionExchange.js
  packages/hooks/useUnifiedSubscription.js
  packages/urql/makeUrqlClient.js
  packages/urql/updates/index.js
Due: backend-changed, mobile-changed

Add platform agreements to signup flow
  apps/mobile/src/screens/NoContextFallbackScreen/NoContextFallbackScreen.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Agreements/Agreements.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Agreements/index.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/SignupRouter.js
  apps/web/src/store/selectors/getAuthState.js
Due: web-changed, mobile-changed

mobile@v6.1.6-0 pre-release
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

pre-release 6.1.6
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/android/build.gradle
  apps/mobile/android/gradle.properties
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Remove console
  apps/desktop/i18n.js
Due: none

Remove unused moment from mobile app
  apps/mobile/package.json
  yarn.lock
Due: mobile-changed

Update yarn checksum
  yarn.lock
Due: none

Fix linting
  apps/web/src/routes/UserSettings/ThemeTab/index.js
Due: web-changed

6.1.6 changelog
  apps/mobile/CHANGELOG
Due: mobile-changed

Commit and version bump
  apps/mobile/package.json
  yarn.lock
Due: mobile-changed

Upgrade reanimated to 4.x
  apps/mobile/android/gradle.properties
  apps/mobile/babel.config.js
  apps/mobile/package.json
  apps/mobile/src/components/NotificationOverlay/NotificationOverlay.js
  yarn.lock
Due: mobile-changed

Import fix
  apps/web/src/components/ui/right-click-menu.jsx
  yarn.lock
Due: web-changed

Update react native build libraries also to 0.76.9
  apps/mobile/android/gradle.properties
  apps/mobile/package.json
  yarn.lock
Due: mobile-changed

This one change will save 5-6 seconds per stream load
  packages/graphql/fragments/postFieldsFragment.js
Due: none

Add Reactotron for network debugging
  apps/mobile/ReactotronConfig.js
  apps/mobile/index.js
  apps/mobile/package.json
  yarn.lock
Due: mobile-changed

Removes yalc stuff, should fix development and bitrise
  apps/desktop/.gitignore
  apps/desktop/README.md
  apps/desktop/package.json
  apps/desktop/scripts/copy-shared-packages.js
  apps/desktop/yalc.lock
  packages/presenters/src/NotificationPresenter.js
  yarn.lock
Due: none

Break building desktop for now to fix other dev
  apps/desktop/README.md
  apps/desktop/package.json
  apps/desktop/scripts/copy-shared-packages.js
  apps/desktop/scripts/restore-workspace-references.js
  yarn.lock
Due: none

One more fix to doing stuff
  apps/desktop/package.json
Due: none

Update pod lock
  apps/mobile/ios/Podfile.lock
Due: mobile-changed

let us see if we can get at least ONE of the builds working
  apps/mobile/android/gradle.properties
Due: mobile-changed

More bitrise tweaks
  apps/mobile/android/gradle.properties
  apps/mobile/ios/sentry.properties
Due: mobile-changed

More android build tweaks
  apps/mobile/android/gradle.properties
Due: mobile-changed

Get desktop app building again
  apps/desktop/README.md
  apps/desktop/package.json
  apps/desktop/scripts/copy-shared-packages.js
  apps/desktop/scripts/restore-workspace-references.js
  yarn.lock
Due: none

Fix gradle version
  apps/mobile/android/build.gradle
Due: mobile-changed

Further android tweaks
  apps/mobile/android/gradle.properties
Due: mobile-changed

Another useless android tweak
  apps/mobile/android/gradle.properties
Due: mobile-changed

mobile === 6.1.7
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
Due: mobile-changed

Correct changelog
  apps/mobile/CHANGELOG
Due: mobile-changed

React Navigation to 7.x; seemed successful
  apps/mobile/CHANGELOG
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  yarn.lock
Due: mobile-changed

RN 0.77.x
  apps/mobile/android/build.gradle
  apps/mobile/ios/Gemfile
  apps/mobile/ios/HyloReactNative/AppDelegate.mm
  apps/mobile/ios/Podfile.lock
  apps/mobile/metro.config.js
  apps/mobile/package.json
  yarn.lock
Due: mobile-changed

Attempt to avoid java heap stack dump on 0.77 RN build for android
  apps/mobile/android/gradle.properties
Due: mobile-changed

Beginning of trust graph
  apps/active
  apps/backend/api/controllers/RoleStewardshipController.js
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Group.js
  apps/backend/api/models/GroupRole.js
  apps/backend/api/models/TrustExpression.js
  apps/backend/api/services/TrustStewardshipService.js
  apps/backend/config/policies.js
  apps/backend/config/routes.js
  apps/backend/migrations/20250723154613_add_leaderless_groups_support.js
  apps/backend/migrations/20250723154614_add_roles_widget_for_self_stewarded_groups.js
  apps/backend/migrations/20250723154615_update_existing_self_stewarded_groups.js
  apps/backend/migrations/20250723154616_update_existing_self_stewarded_roles.js
  apps/backend/migrations/20250725170000_add_unique_index_trust_expressions.js
  apps/backend/migrations/20250727180000_add_unique_idx_memberships_roles.js
  apps/backend/migrations/20250727181000_add_unique_idx_group_role_responsibilities.js
  apps/web/public/locales/en.json
  apps/web/src/components/RolesPanel/RolesPanel.jsx
  apps/web/src/components/TrustCard/TrustCard.jsx
  apps/web/src/components/TrustSlider/TrustSlider.jsx
  apps/web/src/components/TrustSlider/index.js
  apps/web/src/components/VolunteerModal/VolunteerModal.jsx
  apps/web/src/graphql/fragments/groupQueryFragment.js
  apps/web/src/graphql/queries/groupRolesQuery.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/CreateGroup/CreateGroup.jsx
  apps/web/src/routes/GroupSettings/RolesSettingsTab/RolesSettingsTab.js
  packages/presenters/ContextWidgetPresenter.js
Due: backend-changed, web-changed

Web 6.1.12
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: web-changed

Backend v6.1.12
  apps/backend/CHANGELOG.md
  apps/backend/package.json
Due: backend-changed

Desktop v1.0.0
  apps/desktop/CHANGELOG
  apps/desktop/package.json
Due: none

Setting up new shared packages not working on heroku. Lets see if newer yarn fixes it. v4.9.2
  apps/backend/package.json
  apps/desktop/README.md
  apps/desktop/package.json
  apps/web/package.json
  package.json
Due: backend-changed, web-changed

Build navigation and presenters packages as part of heroku post build
  heroku-postbuild.sh
Due: none

Fix notifications in production build of desktop app
  apps/desktop/entitlements.plist
  apps/desktop/forge.config.js
  apps/desktop/main.js
  apps/desktop/preload.js
Due: none
