Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

Fixed postDetail at smaller resolutions it was breaking out of the frame
  apps/web/src/routes/PostDetail/PostDetail.js
Due: web-changed

Simplified membership cards
  apps/web/src/components/Membership/Membership.js
Due: web-changed

Fixed dropdowns popping behind posts in streamview. Additionally, added a dropdown provider to be able to close open dropdowns before opening new ones.
  apps/web/src/components/Dropdown/Dropdown.js
  apps/web/src/components/StreamViewControls/StreamViewControls.js
  apps/web/src/contexts/DropdownContext.js
  apps/web/src/router/index.js
Due: web-changed

Fixed display of datetime picker at smaller resolutions
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Improved styling of notifications at different resolutions, improved contrast & readability
  apps/web/src/components/StreamViewControls/StreamViewControls.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationItem.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationsDropdown.jsx
Due: web-changed

Added ids to all dropdowns to accommodate the new dropdown provider
  apps/web/src/components/CreateGroup/CreateGroup.js
  apps/web/src/components/Member/Member.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
  apps/web/src/routes/AllTopics/SearchBar.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/LocaleDropdown/LocaleDropdown.js
  apps/web/src/routes/GroupExplorer/GroupSearch/GroupSearch.js
  apps/web/src/routes/GroupSettings/CustomViewsTab/CustomViewsTab.js
  apps/web/src/routes/GroupSettings/GroupSettingsTab/GroupSettingsTab.js
  apps/web/src/routes/GroupSettings/RelatedGroupsTab/RelatedGroupsTab.js
  apps/web/src/routes/GroupSettings/TopicsSettingsTab/TopicsSettingsTab.js
  apps/web/src/routes/MapExplorer/MapDrawer/MapDrawer.js
  apps/web/src/routes/MapExplorer/MapExplorer.js
  apps/web/src/routes/MemberProfile/MemberProfile.js
  apps/web/src/routes/Members/Members.js
Due: web-changed

Moved padding from the container to the last element and that seemed to preserve auto updating position when a new message arrived
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Fix console warning
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Fixed styles of textInput
  apps/web/src/components/TextInput/TextInput.js
Due: web-changed

Updated styles of Finish Registration step
  apps/web/src/routes/NonAuthLayoutRouter/Signup/FinishRegistration/FinishRegistration.js
Due: web-changed

Cleaned up style of addlocation
  apps/web/src/routes/WelcomeWizardRouter/AddLocation/AddLocation.js
Due: web-changed

Cleaned up buttons on the bottom of the welcome wizard
  apps/web/src/routes/WelcomeWizardRouter/WelcomeWizardModalFooter/index.js
Due: web-changed

Cleaned up styles for upload Photo
  apps/web/src/routes/WelcomeWizardRouter/UploadPhoto/UploadPhoto.js
Due: web-changed

Cleaned up style of Welcome & Explore
  apps/web/src/routes/WelcomeWizardRouter/WelcomeExplore/WelcomeExplore.js
Due: web-changed

Stop querying for group postCount since we dont use it
  apps/web/src/routes/MapExplorer/MapExplorer.store.js
  apps/web/src/routes/MapExplorer/__snapshots__/MapExplorer.store.test.js.snap
  apps/web/src/routes/Stream/Stream.store.js
  apps/web/src/store/actions/__snapshots__/fetchPosts.test.js.snap
  apps/web/src/store/actions/fetchPosts.js
  apps/web/src/store/reducers/ormReducer/index.js
  apps/web/src/store/selectors/selectors.test.js
Due: web-changed

Prevent chat digest emails from going out on staging
  apps/backend/api/models/Notification.js
  apps/backend/api/models/PushNotification.js
  apps/backend/api/models/TagFollow.js
  apps/backend/api/models/User.js
  apps/backend/test/unit/models/PushNotification.test.js
Due: backend-changed

mobile 6.1.3 final
  apps/mobile/CHANGELOG
Due: mobile-changed

Backend v6.1.4
  apps/backend/CHANGELOG.md
  apps/backend/package.json
Due: backend-changed

Remove cleanup function
  apps/mobile/src/navigation/AuthRootNavigator.js
Due: mobile-changed

mobile = 6.1.4
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Also catch chat posts with comments and send them to the chatroom
  apps/mobile/src/navigation/linking/index.js
Due: mobile-changed

Comment is highlighted from path for chat paths
  apps/mobile/src/components/Comments/Comments.js
  apps/mobile/src/navigation/linking/index.js
  apps/mobile/src/screens/PostDetails/PostDetails.js
Due: mobile-changed

Update backend env example
  apps/backend/.env.example
  apps/mobile/src/screens/PostDetails/PostDetails.js
Due: backend-changed, mobile-changed

Respect linking path for *back* navigation, when the app view is set by a notification
  apps/mobile/src/navigation/headers/ModalHeader.js
Due: mobile-changed

Linting
  apps/web/src/routes/GroupExplorer/FeaturedGroups/FeaturedGroups.js
  apps/web/src/routes/GroupSettings/MembershipRequestsTab/MembershipRequestsTab.js
  apps/web/src/routes/PublicLayoutRouter/PublicGroupDetail.jsx
  apps/web/src/routes/Themes/Themes.js
Due: web-changed

Translation keys updated
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: web-changed

Pull featured groups from an environment variable
  apps/web/src/routes/GroupExplorer/GroupExplorer.js
Due: web-changed

Grouped different import types and alphabetized components
  apps/web/src/routes/GroupSettings/CustomViewsTab/CustomViewsTab.js
Due: web-changed

Title for mobile was incorrect, fixed it
  apps/web/src/routes/GroupSettings/CustomViewsTab/CustomViewsTab.js
Due: web-changed

Translations for CustomViewsTab
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: web-changed

Translations for related groups
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: web-changed

Added translations for invite tab
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: web-changed

Added translation for agreements tab
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: web-changed

Alphabetized translations
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: web-changed

Removed console logs
  apps/web/src/routes/GroupSettings/PrivacySettingsTab/PrivacySettingsTab.jsx
Due: web-changed

Linting
  apps/web/src/routes/GroupSettings/CustomViewsTab/CustomViewsTab.js
Due: web-changed

Added explanation for changes to handling navigation on modal close
  apps/mobile/src/navigation/headers/ModalHeader.js
Due: mobile-changed

Update to v 6.1.4
  apps/web/CHANGELOG.md
  apps/web/package.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: web-changed

Try to fix deploy to staging
  apps/web/src/routes/NonAuthLayoutRouter/NonAuthLayoutRouter.js
Due: web-changed

Avoid hardcoding link_schema
  apps/mobile/android/app/src/main/AndroidManifest.xml
Due: mobile-changed
