Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

People with manage content can reorder posts and spaces in collections by drag and drop
  apps/backend/api/graphql/mutations/group_views.js
  apps/web/src/components/CollectionDragHandle.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/GroupViewCard.jsx
  apps/web/src/routes/SpaceCollection/SpaceCollection.jsx
  apps/web/src/routes/ViewContent/ViewContent.js
  apps/web/src/store/reducers/queryResults.js
  apps/web/src/store/reducers/queryResults.test.js
  apps/web/src/util/spaceCollection.js
  apps/web/src/util/spaceCollection.test.js
Due: backend-changed, web-changed

Fix dummy seed: remove stale group_memberships.role column
  apps/backend/seeds/dummy/dummy.js
Due: backend-changed

Add Cloud Agent environment config for Hylo monorepo
  .cursor/environment.json
  .cursor/install.sh
  .cursor/start.sh
Due: none

Move profile => public toggle down edit profile page; ensure comments are not available on anonymous views of public posts
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/EmojiPill/EmojiPill.js
  apps/web/src/components/EmojiRow/EmojiRow.js
  apps/web/src/components/Pill/Pill.js
  apps/web/src/components/PostCard/PostFooter/PostFooter.js
  apps/web/src/components/PostCard/PostFooter/PostFooter.test.js
  apps/web/src/graphql/fragments/postFieldsFragment.js
  apps/web/src/graphql/queries/postQuery.js
  apps/web/src/routes/PostDetail/Comments/Comments.js
  apps/web/src/routes/PostDetail/Comments/Comments.test.js
  apps/web/src/routes/PostDetail/PostDetail.js
  apps/web/src/routes/UserSettings/EditProfileTab/EditProfileTab.js
  apps/web/src/store/actions/fetchPost.js
Due: web-changed

Try to fix e2e tests
  apps/backend/scripts/seed-e2e-baseline.js
  apps/web/e2e/authenticated.group-settings-moderation.spec.js
  apps/web/e2e/authenticated.group-workspace.spec.js
  apps/web/e2e/chat-width-rail.spec.js
  apps/web/e2e/dashboard-cards.spec.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/SpaceContent/SpaceContent.js
Due: backend-changed, web-changed

Update spaces and views spec
  docs/spaces-and-views-engineering-spec.md
Due: none

Update README with additional context for setup
  README.md
Due: none

Add buttons say where they are adding to - menu or more spaces
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddViewOrSpaceMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MoreSpacesPage.jsx
Due: web-changed

Show track settings when creating a track type space
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddSpaceDialog.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/SpaceSettingsModal.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/TrackSettingsFields.jsx
Due: web-changed

Name the destination in the Add Space modal title
  apps/web/e2e/space-modal-title.spec.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddSpaceDialog.jsx
Due: web-changed

Bring the space create/edit modals up to the group creation form design
  apps/web/e2e/space-modal-redesign.spec.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/LucideIconPicker/LucideIconPicker.jsx
  apps/web/src/components/SettingSelectRow/SettingSelectRow.jsx
  apps/web/src/components/ui/form-field.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddSpaceDialog.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/SpaceIconRow.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/SpaceSettingsModal.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/SpaceSlugField.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/spaceFormConstants.js
  apps/web/src/routes/CreateGroup/CreateGroupForm.jsx
Due: web-changed

Present a space from the top when opening it on the phone
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Drop the menu's selected state in the drawer layout
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MenuLink/MenuLink.jsx
Due: web-changed

Give space creation the group form's home picker and additional settings
  apps/web/e2e/space-modal-redesign.spec.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/AdvancedSettings/AdvancedSettings.jsx
  apps/web/src/components/HomeViewPicker/HomeViewPicker.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddSpaceDialog.jsx
  apps/web/src/routes/CreateGroup/CreateGroupForm.jsx
Due: web-changed

Let the post editor use a phone's width, and truncate the To chip
  apps/web/e2e/post-editor-mobile.spec.js
  apps/web/src/components/CreateModal/CreateModal.module.scss
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/TagInput/TagInput.js
  apps/web/src/components/ToField/ToField.module.scss
Due: web-changed

Move member-row roles to the location line, clamped to one row
  apps/web/src/components/Member/Member.js
Due: web-changed

Mark active members with an avatar dot instead of a strip and notes
  apps/web/src/components/Member/Member.js
  apps/web/src/components/Member/Member.test.js
  apps/web/src/routes/Members/Members.js
Due: web-changed

Put the skill map behind a toggle instead of leading the members page
  apps/web/src/routes/Members/Members.js
Due: web-changed

Halve the boot loader's lockup on phones too
  apps/web/index.html
Due: web-changed

Bring Space Settings up to the space creation form's design
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddSpaceDialog.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/SpaceSettingsModal.jsx
Due: web-changed

Give the boot loader a milestone progress bar; always animate
  apps/web/index.html
  apps/web/src/index.jsx
  apps/web/src/routes/RootRouter/RootRouter.js
Due: web-changed

Boot with the animated Hylo loading screen, from HTML parse
  apps/web/index.html
  apps/web/src/routes/RootRouter/RootRouter.js
Due: web-changed

Add a search affordance to the one-column group header
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuGrid.jsx
Due: web-changed

Make the member-count pill's green dot an online-overflow indicator
  apps/web/src/components/CurrentlyActiveMembers/CurrentlyActiveMembers.jsx
Due: web-changed

Let the members strip run flush against the count pill
  apps/web/src/components/CurrentlyActiveMembers/CurrentlyActiveMembers.jsx
Due: web-changed

Fade the menu's members row out instead of clipping it
  apps/web/src/components/CurrentlyActiveMembers/CurrentlyActiveMembers.jsx
Due: web-changed

Hide undrawn edges' cap dots; fade the reduced-motion lockup in
  apps/web/index.html
Due: web-changed

Match the skill map toggle's height to its neighbors
  apps/web/src/routes/Members/Members.js
Due: web-changed

Reverse the boot mark's build direction
  apps/web/index.html
Due: web-changed

Stop the chat typing strip reserving a band above the composer
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Show the chat typing strip only while someone is typing
  apps/web/src/components/PeopleTyping/PeopleTyping.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Remove ability to add custom email invite to email invitations
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/invitation.js
  apps/backend/api/graphql/mutations/invitation.test.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/lib/i18n/de.js
  apps/backend/lib/i18n/en.js
  apps/backend/lib/i18n/es.js
  apps/backend/lib/i18n/fr.js
  apps/backend/lib/i18n/hi.js
  apps/backend/lib/i18n/pt.js
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.js
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.store.js
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.test.js
Due: backend-changed, web-changed

Fix event datetime picker on safari
  apps/web/src/components/CreateModal/CreateModal.module.scss
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/ui/datetimepicker.jsx
Due: web-changed

CHANGELOG
  apps/web/CHANGELOG.md
Due: web-changed

Give the auth pages the updated card styling
  apps/web/src/routes/NonAuthLayoutRouter/Login/Login.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Agreements/Agreements.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/FinishRegistration/FinishRegistration.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Signup.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/VerifyEmail/VerifyEmail.js
Due: web-changed

Add a toursSeen user setting for guided tours
  apps/backend/api/graphql/schema.graphql
  apps/web/src/graphql/queries/MeQuery.js
  apps/web/src/routes/AuthLayoutRouter/components/SiteTour/SiteTour.js
  apps/web/src/routes/AuthLayoutRouter/components/SiteTour/index.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Signup.store.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/__snapshots__/Signup.store.test.js.snap
  apps/web/src/store/actions/checkLogin.js
  apps/web/src/store/actions/login.js
  apps/web/src/store/actions/updateUserSettings.js
  packages/graphql/fragments/meAuthFieldsFragment.js
  packages/graphql/queries/meQuery.js
Due: backend-changed, web-changed

Modernize the welcome wizard cards
  apps/web/src/routes/WelcomeWizardRouter/AddLocation/AddLocation.js
  apps/web/src/routes/WelcomeWizardRouter/UploadPhoto/UploadPhoto.js
  apps/web/src/routes/WelcomeWizardRouter/UploadPhoto/UploadPhoto.test.js
  apps/web/src/routes/WelcomeWizardRouter/WelcomeExplore/WelcomeExplore.js
  apps/web/src/routes/WelcomeWizardRouter/WelcomeWizardModalFooter/index.js
  apps/web/src/routes/WelcomeWizardRouter/WelcomeWizardRouter.js
Due: web-changed

Replace the dead Joyride tour with a driver.js tour foundation
  apps/web/package.json
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
  apps/web/src/tours/globalChromeTour.js
  apps/web/src/tours/tours.css
  apps/web/src/tours/useTour.js
  apps/web/vite.config.js
  yarn.lock
Due: web-changed

Fix JSX indentation in the upload photo step
  apps/web/src/routes/WelcomeWizardRouter/UploadPhoto/UploadPhoto.js
Due: web-changed
