Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

Two more post routing fixes
  apps/backend/api/services/Frontend.js
  packages/navigation/src/index.js
Due: backend-changed

CHANGELOGs
  apps/backend/CHANGELOG.md
  apps/web/CHANGELOG.md
Due: backend-changed, web-changed

Don't error out trying to delete a draft that doesnt exist
  apps/backend/api/graphql/mutations/draft.js
Due: backend-changed

Fix issue where after creating a post the saved draft was not removed
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/hooks/useDraft.js
Due: web-changed

Make sure new posts created in requests and offers view appear immediately
  apps/web/src/store/reducers/queryResults.js
Due: web-changed

CHANGELOG
  apps/web/CHANGELOG.md
Due: web-changed

Query for layout field when querying for a group
  apps/web/src/graphql/fragments/groupDetailsFragment.js
  apps/web/src/graphql/queries/MeQuery.js
  apps/web/src/routes/GroupWelcomeModal/GroupWelcomeModal.store.js
  apps/web/src/store/actions/acceptInvitation.js
  apps/web/src/store/actions/fetchForGroup.js
  apps/web/src/store/actions/fetchGroups.js
  apps/web/src/store/actions/fetchGroupsMenuData.js
  packages/graphql/fragments/groupFieldsFragment.js
  packages/graphql/fragments/groupPrerequisiteGroupsFieldsFragment.js
  packages/graphql/fragments/membershipFieldsFragment.js
  packages/graphql/mutations/acceptInvitationMutation.js
Due: web-changed

Backend changed required to allow mobile to log in via OIDC; block cursor from ever running migration related commands automatically
  .cursor/hooks.json
  .cursor/hooks/block-migrations.sh
  apps/backend/api/controllers/SessionController.js
  apps/backend/api/services/OIDCTokens.js
  apps/backend/config/routes.js
  apps/backend/migrations/20260604120000_seed_native_oidc_client.js
  apps/backend/scripts/spike-mint-tokens.js
  apps/mobile/package.json
  yarn.lock
Due: backend-changed, mobile-changed

Switch mobile login to OIDC provider and away from cookie based auth
  apps/mobile/config/jest/setupTests.js
  apps/mobile/index.js
  apps/mobile/ios/Podfile.lock
  apps/mobile/src/components/HyloWebView/HyloWebView.js
  apps/mobile/src/components/SocialAuth/SocialAuth.js
  apps/mobile/src/components/SocialAuth/actions.js
  apps/mobile/src/util/authAdapter.js
  apps/mobile/src/util/authApi.js
  apps/mobile/src/util/fetchJSON.js
  apps/mobile/src/util/session.js
  apps/mobile/src/util/tokenStore.js
  packages/contexts/AuthContext.js
  packages/urql/makeUrqlClient.js
Due: mobile-changed

Avoid linking accounts incorrectly
  apps/backend/api/controllers/SessionController.js
Due: backend-changed

Channel password reset auth into the token path as well
  apps/backend/api/controllers/SessionController.js
  apps/backend/test/setup/factories.js
  apps/mobile/src/screens/LoginByTokenHandler/LoginByTokenHandler.js
  apps/mobile/src/store/actions/loginByJWT.js
Due: backend-changed, mobile-changed

6.3.7 changelog
  apps/mobile/CHANGELOG
Due: mobile-changed

Include docs for lat mobile auth
  docs/modern-mobile-auth-options.md
  docs/phase-1-token-auth-implementation-plan.md
Due: none

Try to fix having to log in every time when using google auth
  apps/mobile/src/components/HyloWebView/HyloWebView.js
  apps/mobile/src/components/SocialAuth/SocialAuth.js
  apps/mobile/src/hooks/useLogout.js
  apps/mobile/src/screens/PrimaryWebView/PrimaryWebView.js
  apps/mobile/src/screens/Signup/SignupRegistration/SignupRegistration.js
  apps/mobile/src/util/tokenStore.js
  packages/urql/makeUrqlClient.js
Due: mobile-changed

Refine one-column layout, tabs, and sidebar nav
  apps/web/src/components/Member/Member.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/OneColumnLayout.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
  apps/web/src/routes/AuthLayoutRouter/components/TopNav/TopNav.jsx
  apps/web/src/routes/Members/Members.js
Due: web-changed

Debugging social auth
  apps/backend/api/graphql/index.js
  apps/backend/api/policies/checkClientCredentials.js
  apps/mobile/src/components/SocialAuth/SocialAuth.js
  apps/mobile/src/util/authApi.js
  apps/mobile/src/util/authDebug.js
  apps/mobile/src/util/session.js
  apps/mobile/src/util/tokenStore.js
  apps/mobile/src/util/tokenStore.test.js
Due: backend-changed, mobile-changed

Missed staging file for last commit
  packages/urql/makeUrqlClient.js
Due: none

Cookies will forever betray you
  apps/mobile/src/util/session.js
  apps/web/src/routes/RootRouter/RootRouter.js
Due: web-changed, mobile-changed

No cookie left behind; make sure cookies actually have the correct domain; if there is a dud cookie on the webview, dont just logout straight away, send verify message to the react native code
  apps/backend/api/controllers/SessionController.js
  apps/mobile/src/components/HyloWebView/HyloWebView.js
  apps/mobile/src/util/session.js
  apps/web/src/routes/RootRouter/RootRouter.js
  packages/shared/src/constants.js
Due: backend-changed, web-changed, mobile-changed

Add home button for welcome page in mobile wev
  apps/web/public/locales/en.json
  apps/web/src/routes/GroupWelcomePage/GroupWelcomePage.jsx
Due: web-changed

Add dedicated layout conditional for tablets
  apps/web/src/components/ViewHeader/ViewHeader.jsx
  apps/web/src/css/typography.scss
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationsDropdown.jsx
  apps/web/src/util/mobile.js
  apps/web/src/util/mobile.test.js
Due: web-changed

Linting fixes that did not get included in last merge
  apps/web/src/components/MemberSelector/MemberSelector.test.js
  apps/web/src/components/SkillsSection/SkillsSection.test.js
  apps/web/src/components/SocketSubscriber/SocketSubscriber.js
  apps/web/src/routes/WelcomeWizardRouter/AddLocation/AddLocation.js
  apps/web/src/util/postDetailCloseNavigation.test.js
Due: web-changed

Clean up spike script
  apps/backend/scripts/spike-mint-tokens.js
Due: backend-changed

Add different positioning for save action on mobile or tablet
  apps/web/src/routes/UserSettings/EditProfileTab/EditProfileTab.js
Due: web-changed

Fix text styling in about page mod list
  apps/web/CHANGELOG.md
  apps/web/src/routes/GroupDetail/GroupDetail.js
  apps/web/src/routes/GroupDetail/GroupDetail.module.scss
Due: web-changed

Fix calendar data loading; fix some infinite loading loops connected to the removal of redux connectors; Allow better event creation when on the calendar view of the stream component
  apps/web/src/components/EventInviteDialog/EventInviteDialog.js
  apps/web/src/components/MemberSelector/MemberSelector.js
  apps/web/src/components/MemberSelector/MemberSelector.test.js
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/ui/datetimepicker.jsx
  apps/web/src/routes/GroupSettings/TopicsSettingsTab/TopicsSettingsTab.js
  apps/web/src/routes/PostDetail/Comments/Comments.js
  apps/web/src/routes/Stream/PostPrompt.jsx
  apps/web/src/routes/Stream/Stream.js
  apps/web/src/store/reducers/queryResults.js
  apps/web/src/store/reducers/queryResults.test.js
Due: web-changed

Sync calendar params to query strings
  apps/backend/api/graphql/mutations/stripe.js
  apps/backend/api/graphql/mutations/stripe.test.js
  apps/backend/lib/stripeOfferingMetadata.js
  apps/backend/test/unit/lib/stripeOfferingMetadata.test.js
  apps/web/package.json
  apps/web/src/components/Calendar/body/day/calendar-body-day.tsx
  apps/web/src/components/Calendar/body/month/calendar-body-month.tsx
  apps/web/src/components/Calendar/body/week/calendar-body-week.tsx
  apps/web/src/components/Calendar/calendar-provider.tsx
  apps/web/src/components/Calendar/calendar-types.ts
  apps/web/src/components/Calendar/calendar.tsx
  apps/web/src/routes/GroupSettings/PaidContentTab/OfferingsTab.js
  apps/web/src/routes/Stream/Stream.js
  apps/web/src/util/accessGrants.js
Due: backend-changed, web-changed

Enforce that track-only offerings defer to one-time purchase in display
  apps/backend/api/graphql/mutations/stripe.js
  apps/backend/api/graphql/mutations/stripe.test.js
  apps/backend/lib/offeringAccessGrants.js
  apps/web/src/routes/GroupSettings/PaidContentTab/OfferingsTab.js
  packages/shared/src/OfferingHelpers.js
  packages/shared/src/OfferingHelpers.test.js
  packages/shared/src/index.js
Due: backend-changed, web-changed

6.5.0 release commit
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

Fix URL to event post in RSVP emails
  apps/backend/api/models/event/mixin.js
Due: backend-changed

open-link script now uses the HYLO_WEB_BASE_URL in the mobile .env instead of always going to hylo.com
  apps/mobile/README.md
  apps/mobile/scripts/open-link.sh
Due: mobile-changed

Fix places where we could add an extra ? to post URL query params which might break deep linking
  apps/backend/api/models/Post.js
  apps/backend/api/models/TagFollow.js
  apps/backend/api/models/comment/notifications.js
  apps/backend/api/services/Frontend.js
  apps/backend/lib/group/digest2/personalizeData.js
Due: backend-changed

Post view uses post type and title in the view header
  apps/web/src/routes/PostDetail/PostDetail.js
Due: web-changed

Fix displaying correct View Header for /post URLs
  apps/web/src/hooks/useRouteParams/index.js
Due: web-changed

Show role badges in the Stewards section of the group About page
  apps/web/src/routes/GroupDetail/GroupDetail.js
  apps/web/src/routes/GroupDetail/GroupDetail.module.scss
Due: web-changed

Many improvements to editing of Group Menu, and All Views in general
  apps/backend/api/graphql/mutations/context_widgets.test.js
  apps/backend/migrations/20260611121500_set_null_context_widgets_type_to_container.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/AllView/AllView.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: backend-changed, web-changed

Backend v6.4.6
  apps/backend/CHANGELOG.md
  apps/backend/package.json
Due: backend-changed

Web v6.4.11
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: web-changed

Add read/unread UI to DMs
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Post.js
  apps/backend/test/unit/models/Post.test.js
  apps/web/public/locales/en.json
  apps/web/src/components/Badge/component.js
  apps/web/src/components/Badge/component.module.scss
  apps/web/src/graphql/mutations/MarkThreadUnreadMutation.js
  apps/web/src/routes/Messages/Messages.store.js
  apps/web/src/routes/Messages/ThreadList/ThreadListItem.jsx
  apps/web/src/store/constants.js
  apps/web/src/store/models/MessageThread.js
  apps/web/src/store/models/MessageThread.test.js
  apps/web/src/store/reducers/ormReducer/index.js
  packages/graphql/mutations/markThreadUnreadMutation.js
  packages/urql/updates/index.js
Due: backend-changed, web-changed

Clean up search query
  apps/backend/api/services/FullTextSearch.js
  apps/backend/migrations/20260612160000_add_search_index_id_indexes.js
  apps/backend/test/unit/services/FullTextSearch.test.js
  apps/web/src/routes/Search/Search.js
  apps/web/src/routes/Search/Search.test.js
Due: backend-changed, web-changed
