Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

Fix styling of tabs in funding round home
  apps/web/src/hooks/useRouteParams/index.js
  apps/web/src/routes/FundingRoundHome/FundingRoundHome.jsx
  packages/navigation/src/index.js
Due: web-changed

Show and manage round phases in Manage tab
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/FundingRoundEditor/FundingRoundEditor.jsx
  apps/web/src/routes/FundingRoundHome/FundingRoundHome.jsx
Due: web-changed

Fix build
  packages/presenters/package.json
  yarn.lock
Due: none

Fix loading stream and chat room posts
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/web/src/graphql/fragments/groupViewPostsQueryFragment.js
  apps/web/src/routes/MapExplorer/MapExplorer.store.js
  apps/web/src/routes/MemberProfile/MemberPosts/MemberPosts.store.js
  apps/web/src/routes/MemberProfile/RecentActivity/RecentActivity.store.js
  packages/graphql/queries/recentActivityQuery.js
  packages/hooks/useRecentActivity.js
  packages/hooks/useStreamQueryVariables.js
Due: backend-changed, web-changed

Mobile cookie explanation
  docs/mobile-auth-cookie-workflow.md
Due: none

Revert icon related changes to ContextWidgetPresenter
  apps/web/src/components/WidgetIconResolver/WidgetIconResolver.jsx
  packages/presenters/package.json
  packages/presenters/src/ContextWidgetPresenter.js
Due: web-changed

Fix migration rollback
  apps/backend/migrations/20250904120000_funding_rounds.js
Due: backend-changed

Fix confirm when editing proposal that will wipe out votes
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Don't dupliicate getLastParams
  apps/mobile/src/hooks/useRouteParams.js
  apps/mobile/src/navigation/headers/ModalHeader.js
Due: mobile-changed

Add submission card
  apps/web/package.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/PostCard/PostFooter/PostFooter.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/FundingRoundHome/FundingRoundHome.jsx
  apps/web/src/routes/FundingRoundHome/SubmissionCard.jsx
  apps/web/src/routes/TrackHome/ActionSummary.jsx
  apps/web/src/store/actions/fundingRoundActions.js
  yarn.lock
Due: web-changed

Fix display of edit and flag menu items for submissions
  apps/web/src/routes/FundingRoundHome/SubmissionCard.jsx
Due: web-changed

Allow for declining group agreements, which leaves the group
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/ui/button-variants.tsx
  apps/web/src/routes/GroupWelcomeModal/GroupWelcomeModal.js
Due: web-changed

6.1.12 pre-release prep for mobile
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Add post id to in-app chat notifications
  apps/mobile/src/screens/NotificationsList/NotificationsList.store.js
Due: mobile-changed

Remove console log
  apps/mobile/src/screens/NotificationsList/NotificationsList.store.js
Due: mobile-changed

Avoid dumping the auth cookie on app crash
  apps/mobile/src/screens/ErrorBoundary/ErrorBoundary.js
  apps/mobile/src/util/session.js
Due: mobile-changed

use getLastParams in modalheader nav
  apps/mobile/src/hooks/useRouteParams.js
  apps/mobile/src/navigation/headers/ModalHeader.js
Due: mobile-changed

Stop web from triggering mobile to navigate away from specific chat posts
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Conditional for chatroom query param reset
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Add token allocation and voting on funding round!
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/fundingRound.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/FundingRound.js
  apps/backend/cron.js
  apps/backend/migrations/20251012120000_funding_rounds_token_allocation.js
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/css/global/index.scss
  apps/web/src/routes/FundingRoundHome/AboutTab.jsx
  apps/web/src/routes/FundingRoundHome/FundingRoundHome.jsx
  apps/web/src/routes/FundingRoundHome/ManageTab.jsx
  apps/web/src/routes/FundingRoundHome/PeopleTab.jsx
  apps/web/src/routes/FundingRoundHome/SubmissionCard.jsx
  apps/web/src/routes/FundingRoundHome/SubmissionsTab.jsx
  apps/web/src/store/actions/fundingRoundActions.js
Due: backend-changed, web-changed, mobile-changed

Switch to data loader based caching for FundingRoundUser
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/models/FundingRound.js
  apps/backend/api/models/mixins/HasSettings.js
  apps/backend/lib/graphql-bookshelf-bridge/util/initDataLoaders.js
  apps/backend/migrations/20251012120000_funding_rounds_token_allocation.js
Due: backend-changed

Add banner to funding round about tab
  apps/web/src/routes/FundingRoundHome/AboutTab.jsx
Due: web-changed

Update to latest version oaf apple-app-site-association format
  apps/web/public/apple-app-site-association
Due: web-changed

Front-end and back-end v6.1.23
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

Fix yarn.lock
  yarn.lock
Due: none

Fix URL for chat rooms in digest emails
  apps/backend/CHANGELOG.md
  apps/backend/lib/group/digest2/personalizeData.js
Due: backend-changed

Update .env.example for web and backend
  apps/backend/.env.example
  apps/web/.env.example
Due: backend-changed, web-changed

Update to backend .env.example
  apps/backend/.env.example
Due: backend-changed

update to backend readme .env stuff
  apps/backend/README.md
Due: backend-changed

Display final votes in order when round is complete
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/fundingRound.js
  apps/backend/api/graphql/schema.graphql
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/FundingRoundHome/SubmissionCard.jsx
  apps/web/src/routes/FundingRoundHome/SubmissionsTab.jsx
  apps/web/src/store/actions/fetchGroupFundingRounds.js
  apps/web/src/store/actions/fundingRoundActions.js
  apps/web/src/store/models/FundingRound.js
  apps/web/src/store/models/Post.js
Due: backend-changed, web-changed

Fix my/public navigation bounces
  apps/mobile/src/components/ContextSwitchMenu/ContextSwitchMenu.js
  apps/mobile/src/hooks/useHandleCurrentGroup.js
  apps/mobile/src/screens/ChatRoomWebView/ChatRoomWebView.js
  packages/hooks/useStreamQueryVariables.js
Due: mobile-changed

Remove log
  apps/mobile/src/components/ContextSwitchMenu/ContextSwitchMenu.js
Due: mobile-changed

Drafts v1
  apps/web/src/components/CreateModal/CreateModal.js
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/WidgetIconResolver/WidgetIconResolver.jsx
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.js
Due: web-changed

Added a necessary missing break from merge with dev
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

Update file selector
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/src/screens/PostEditor/FileSelector/FileSelector.js
  yarn.lock
Due: mobile-changed

Updated react-native-screens in prep for 0.78 RN update
  apps/mobile/android/app/src/main/java/com/hylo/hyloandroid/MainActivity.kt
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  yarn.lock
Due: mobile-changed

Update RN SVG for 0.78 rn bump
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  yarn.lock
Due: mobile-changed

Support multiple voting and submitting roles
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/fundingRound.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/FundingRound.js
  apps/backend/api/models/post/createPost.js
  apps/backend/migrations/20251015120000_funding_rounds_multiple_roles.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/FundingRoundEditor/FundingRoundEditor.jsx
  apps/web/src/components/KeyControlledList/KeyControlledList.js
  apps/web/src/components/MemberSelector/MemberSelector.module.scss
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/TagInput/TagInput.js
  apps/web/src/routes/FundingRoundHome/AboutTab.jsx
  apps/web/src/routes/FundingRoundHome/FundingRoundHome.jsx
  apps/web/src/routes/FundingRoundHome/ManageTab.jsx
  apps/web/src/routes/FundingRoundHome/PeopleTab.jsx
  apps/web/src/routes/FundingRoundHome/SubmissionCard.jsx
  apps/web/src/routes/FundingRounds/FundingRounds.store.js
  apps/web/src/store/actions/fundingRoundActions.js
  apps/web/src/store/models/FundingRound.js
  apps/web/src/store/selectors/getFundingRound.js
Due: backend-changed, web-changed

Fix opening group details from Groups page
  apps/web/src/routes/GroupDetail/JoinSection.jsx
  apps/web/src/routes/Groups/Groups.store.js
Due: web-changed

Improvements to round UI
  apps/backend/api/graphql/makeModels.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/FundingRoundEditor/FundingRoundEditor.jsx
  apps/web/src/routes/FundingRoundHome/AboutTab.jsx
  apps/web/src/routes/FundingRoundHome/FundingRoundHome.jsx
  apps/web/src/routes/FundingRoundHome/PeopleTab.jsx
  apps/web/src/routes/FundingRounds/FundingRounds.jsx
  apps/web/src/store/actions/fetchGroupFundingRounds.js
  apps/web/src/store/selectors/getFundingRoundsForGroup.js
Due: backend-changed, web-changed
