Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

initial calendar feature
  apps/web/package.json
  yarn.lock
Due: web-changed

style calendar header date icon
  apps/web/src/components/Calendar/header/date/calendar-header-date-icon.tsx
Due: web-changed

style calendar events
  apps/web/src/components/Calendar/calendar-event.tsx
Due: web-changed

style not current month days
  apps/web/src/components/Calendar/body/month/calendar-body-month.tsx
Due: web-changed

remove react-roving-focus lock
  yarn.lock
Due: none

connect calendar events to details modal
  apps/web/src/components/Calendar/calendar-event.tsx
  apps/web/src/components/Calendar/calendar-provider.tsx
  apps/web/src/components/Calendar/calendar-types.ts
  apps/web/src/components/Calendar/calendar.tsx
  apps/web/src/components/EventCalendar/EventCalendar.js
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

Logging migrations
  apps/backend/migrations/20241030102234_context-menu.js
  apps/backend/migrations/20241101130947_cascade-on-delete-moderation-actions.js
  apps/backend/migrations/20241106094624_fix-location-constraints.js
  apps/backend/migrations/20250114125837_user-notifications-to-memberships.js
  apps/backend/migrations/20250125083836_remove-nexudus_accounts.js
  apps/backend/migrations/20250129142240_add-home-tag-to-all-groups.js
  apps/backend/migrations/20250129161302_port-general-tag-content-to-home-tag.js
Due: backend-changed

Init models so Group methods actually work
  apps/backend/migrations/20250130121530_update-widgets-based-on-group-content.js
Due: backend-changed

Try to fix migrations on staging
  apps/backend/migrations/20250129142240_add-home-tag-to-all-groups.js
Due: backend-changed

onre more try migrations on staging
  apps/backend/migrations/20250129142240_add-home-tag-to-all-groups.js
Due: backend-changed

Switch migration to sql
  apps/backend/migrations/20250129142240_add-home-tag-to-all-groups.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: backend-changed, web-changed

Revert change
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Remove border around Home widget while editing
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

react-roving-focus lock
  yarn.lock
Due: none

update calendar icon to latest cn
  apps/web/src/components/StreamViewControls/StreamViewControls.js
Due: web-changed

Try to get backend slug size under 500Mb
  apps/backend/.slugignore
  apps/backend/api/models/FollowDeprecated.js
  apps/backend/api/models/LastReadDeprecated.js
  apps/backend/api/models/MembershipDeprecated.js
  apps/backend/package.json
  yarn.lock
Due: backend-changed

Remove dotenv-cli
  apps/backend/package.json
  yarn.lock
Due: backend-changed

Try slugignore stuff. Clean up consoles in migrations
  apps/backend/.slugignore
  apps/backend/migrations/20241030102234_context-menu.js
  apps/backend/migrations/20241101130947_cascade-on-delete-moderation-actions.js
  apps/backend/migrations/20241106094624_fix-location-constraints.js
  apps/backend/migrations/20250114125837_user-notifications-to-memberships.js
  apps/backend/migrations/20250125083836_remove-nexudus_accounts.js
  apps/backend/migrations/20250129142240_add-home-tag-to-all-groups.js
  apps/backend/migrations/20250129161302_port-general-tag-content-to-home-tag.js
Due: backend-changed

Try updating to newer AWS sdk and see if it gets smaller?
  .slugignore
  apps/backend/package.json
  yarn.lock
Due: backend-changed

Try updating emoji mart
  apps/backend/package.json
  yarn.lock
Due: backend-changed

Try switching to unified csv library
  apps/backend/package.json
  yarn.lock
Due: backend-changed

Try removing old analyics stuff
  apps/backend/package.json
  yarn.lock
Due: backend-changed

Remove promirepl
  apps/backend/console.js
  apps/backend/package.json
  yarn.lock
Due: backend-changed

Remove linkedin strategy
  apps/backend/package.json
  yarn.lock
Due: backend-changed

Library updates and remove old stuff
  apps/backend/api/services/Analytics.js
  apps/backend/api/services/ExportService.js
  apps/backend/api/services/UserImport.js
  apps/backend/config/passport.js
Due: backend-changed

Work in progress switch to amazon aws sdk v3
  apps/backend/lib/uploader/storage.js
  apps/backend/package.json
  yarn.lock
Due: backend-changed

Updated yarn file
  yarn.lock
Due: none

Make sure groups have a home tag when transitioning menu
  apps/backend/api/models/Group.js
Due: backend-changed

Click editing button when done editing context menu
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Ask and Offer -> Requests & Offers
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: web-changed

Add icon and improve display of info about views in All Views
  apps/web/src/routes/AllView/AllView.jsx
  packages/shared/src/ContextWidgetPresenter.js
Due: web-changed

Fix post widget URL
  apps/web/src/util/navigation.js
Due: web-changed

Re-add rollbar to notifications
  apps/backend/api/models/Notification.js
Due: backend-changed

Fix creating new group
  apps/backend/api/models/Group.js
Due: backend-changed

Asks and offers -> requests and offers
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: web-changed

chore(@hylo/contexts): Transition. Working with AuthContext relying upon @hylo naming imports of graphql things still in Mobile directory
  apps/mobile/metro.config.js
  apps/mobile/package.json
  apps/web/package.json
  apps/web/vite.config.js
  package.json
  packages/contexts/AuthContext.js
  packages/contexts/package.json
  yarn.lock
Due: web-changed, mobile-changed

place event tooltip on parent
  apps/web/src/components/Calendar/calendar-event.tsx
Due: web-changed

render calendar even if no events
  apps/web/src/components/EventCalendar/EventCalendar.js
Due: web-changed

Fix style of map location search input
  apps/web/src/routes/MapExplorer/MapExplorer.js
Due: web-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
