Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

Sync group relationship creation buttons in settings; fix count/plural string usages for Group views
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/src/screens/Groups/Groups.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/GroupCard/GroupCard.js
  apps/web/src/routes/GroupDetail/GroupDetail.js
  apps/web/src/routes/GroupSettings/RelatedGroupsTab/RelatedGroupsTab.js
  apps/web/src/routes/Groups/Groups.jsx
Due: web-changed, mobile-changed

Readme update
  apps/mobile/README.md
Due: mobile-changed

Make sure we ask for group inside membership on groupCreation mutation; fix strings on GroupCreation; fix submission UX on group Creation
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/src/components/ContextSwitchMenu/ContextSwitchMenu.js
  apps/mobile/src/screens/CreateGroup/CreateGroup.js
  apps/mobile/src/screens/CreateGroup/CreateGroup.store.js
  apps/mobile/src/screens/CreateGroup/CreateGroupReview.js
  packages/graphql/mutations/createGroupMutation.js
  packages/hooks/useCurrentUser.js
Due: mobile-changed

Ensure slugs get generated
  apps/mobile/src/screens/CreateGroup/CreateGroup.store.js
  apps/mobile/src/screens/CreateGroup/CreateGroupUrl.js
Due: mobile-changed

rewview tweaks
  apps/mobile/src/components/ContextSwitchMenu/ContextSwitchMenu.js
Due: mobile-changed

Simplify create group UI reset
  apps/mobile/src/screens/CreateGroup/CreateGroupReview.js
Due: mobile-changed

Make data handling related to threads and messaging more robust
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/src/screens/Thread/Thread.js
  packages/graphql/mutations/createMessageMutation.js
  packages/urql/updates/index.js
Due: mobile-changed

Add basic analytics to messaging
  apps/mobile/src/screens/Thread/Thread.js
  packages/graphql/mutations/createMessageMutation.js
Due: mobile-changed

Update request policy for messages
  apps/mobile/src/screens/Thread/Thread.js
Due: mobile-changed

Review tweak
  apps/mobile/src/screens/Thread/Thread.js
Due: mobile-changed

Detect if the auth cookie goes missing and actually do something about it
  apps/mobile/debug-webview-instructions.md
  apps/mobile/src/components/HyloWebView/HyloWebView.js
  apps/mobile/src/components/HyloWebView/WebViewDebugFallback.js
  apps/mobile/src/components/HyloWebView/webViewDebugUtils.js
  apps/mobile/src/screens/ChatRoomWebView/ChatRoomWebView.js
Due: mobile-changed

Prevent trying to create chat room with > 40 characters in topic
  apps/web/src/routes/AllView/AllView.jsx
Due: web-changed

Handle long context widget names better
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Add tooltips to menu items on context widgets when editing menu
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Fix issue when joining group with a welcome page where you would get bounced back to the welcome page
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.store.js
  apps/web/src/store/models/Membership.js
Due: web-changed

Null checks needed for groups screen
  apps/mobile/src/screens/Groups/Groups.js
Due: mobile-changed

Cover another log-out/log-in bug
  apps/mobile/src/hooks/useHandleCurrentGroup.js
Due: mobile-changed

Stable startup navigation
  apps/mobile/src/hooks/useHandleCurrentGroup.js
Due: mobile-changed

Allow spaces when searching in post To field
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/TagInput/TagInput.js
  apps/web/src/components/ToField/ToField.js
Due: web-changed

Some clean up of log-out/login flows
  apps/mobile/src/components/ContextMenu/ContextMenu.js
  apps/mobile/src/hooks/useHandleCurrentGroup.js
  apps/mobile/src/screens/ContextMenu/ContextMenu.js
  packages/urql/makeUrqlClient.js
Due: mobile-changed

remove cuff
  apps/mobile/debug-webview-instructions.md
Due: mobile-changed

Clip cuff
  apps/mobile/src/components/HyloWebView/WebViewDebugFallback.js
  apps/mobile/src/screens/ChatRoomWebView/ChatRoomWebView.js
Due: mobile-changed

Simplify cookie missing recovery UI
  apps/mobile/src/components/HyloWebView/HyloWebView.js
Due: mobile-changed

Remove unused utilities
  apps/mobile/src/components/HyloWebView/HyloWebView.js
  apps/mobile/src/components/HyloWebView/webViewDebugUtils.js
Due: mobile-changed

Fix missing references
  apps/mobile/src/components/HyloWebView/HyloWebView.js
Due: mobile-changed

Fix mobile delete group UX
  apps/mobile/src/components/HyloWebView/HyloWebView.js
  apps/mobile/src/navigation/linking/index.js
  apps/mobile/src/screens/NoContextFallbackScreen/NoContextFallbackScreen.js
  apps/web/src/routes/GroupSettings/GroupSettings.js
  packages/shared/src/constants.js
Due: web-changed, mobile-changed

Update useCurrentLocation to new library code
  apps/mobile/src/hooks/useCurrentLocation.js
Due: mobile-changed

Fix accidental creation of empty chats when pressing option-enter after creating a post
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Fix bck-end for deleteing peer to peer group relationships
  apps/backend/api/graphql/mutations/group.js
  apps/backend/api/models/GroupRelationship.js
Due: backend-changed

Tweak copy for joining parent groups
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/GroupSettings/RelatedGroupsTab/RelatedGroupsTab.js
Due: web-changed

Regularly check whether sockets need to be reconnected and fo so
  apps/web/src/client/websockets.js
Due: web-changed

Review tweaks
  apps/mobile/src/components/HyloWebView/HyloWebView.js
  apps/mobile/src/hooks/useHandleCurrentGroup.js
  apps/mobile/src/screens/ChatRoomWebView/ChatRoomWebView.js
Due: mobile-changed

Fixes keyboard issue with comments editor
  apps/mobile/index.js
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/src/components/CommentEditor/CommentEditor.js
  apps/mobile/src/components/KeyboardFriendlyView.js
  yarn.lock
Due: mobile-changed

Fix keyboard repositioning of chat input when focused
  apps/mobile/src/components/KeyboardFriendlyView.js
  apps/mobile/src/screens/ChatRoomWebView/ChatRoomWebView.js
Due: mobile-changed

Better handle comment editor positioning on ios
  apps/mobile/src/components/CommentEditor/CommentEditor.js
Due: mobile-changed

Initial h3 experiement; successful but it will be blocked by heroku sucking
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/services/Search/util.js
  apps/backend/lib/h3Utils.js
  apps/backend/migrations/20250910114902_h3-indexes.js
Due: backend-changed

Deleting of peer group relationships
  apps/web/src/routes/GroupSettings/RelatedGroupsTab/RelatedGroupsTab.js
Due: web-changed

Optimistic adding of peer group relationships
  apps/web/src/store/reducers/ormReducer/index.js
Due: web-changed

Fix many aspects of inviting and accepting peer group relationshios
  apps/backend/api/graphql/mutations/group.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/GroupRelationship.js
  apps/backend/api/models/GroupRelationshipInvite.js
  apps/backend/api/models/Notification.js
  apps/backend/api/services/Email.js
  apps/backend/api/services/ExportService.js
  apps/backend/lib/i18n/en.js
  apps/backend/lib/i18n/es.js
Due: backend-changed

Fix threadlist text input
  apps/mobile/src/screens/Thread/Thread.js
Due: mobile-changed
