Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

Fix spacing between agreements and paid content sections
  apps/web/src/routes/GroupDetail/GroupDetail.js
Due: web-changed

Fix lint issues
  apps/web/src/graphql/queries/contentAccessQuery.js
  apps/web/src/routes/GroupSettings/RelatedGroupsTab/RelatedGroupsTab.js
  apps/web/src/store/actions/revokeContentAccess.js
  apps/web/src/util/offerings.js
Due: web-changed

Fix backend crash
  apps/backend/lib/offeringAccessGrants.js
Due: backend-changed

Add Agree to all checkbox to Agreements list when there are more than 3 agreements
  apps/web/src/routes/GroupDetail/JoinSection.jsx
Due: web-changed

Fix redirectPath for welcome wizard workflow
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/JoinGroup/JoinGroup.test.js
  apps/web/src/routes/WelcomeWizardRouter/AddLocation/AddLocation.js
  apps/web/src/routes/WelcomeWizardRouter/AddLocation/AddLocation.test.js
  apps/web/src/util/returnToPath.js
  apps/web/src/util/returnToPath.test.js
Due: web-changed

Remove duplicate code in JoinSection
  apps/web/src/routes/GroupDetail/JoinSection.jsx
Due: web-changed

Sync calendar params to query strings
  apps/web/package.json
  apps/web/src/components/Calendar/body/day/calendar-body-day.tsx
  apps/web/src/components/Calendar/body/month/calendar-body-month.tsx
  apps/web/src/components/Calendar/body/week/calendar-body-week.tsx
  apps/web/src/components/Calendar/calendar-provider.tsx
  apps/web/src/components/Calendar/calendar-types.ts
  apps/web/src/components/Calendar/calendar.tsx
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

Provide search error and no-result UI
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/Search/Search.js
  apps/web/src/routes/Search/Search.store.js
  apps/web/src/routes/Search/Search.store.test.js
  apps/web/src/routes/Search/Search.test.js
  apps/web/src/store/reducers/index.js
  apps/web/src/store/reducers/pending.js
  apps/web/src/util/assets.js
Due: web-changed

Search backend optimisation
  apps/backend/CHANGELOG.md
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/services/FullTextSearch.js
  apps/backend/api/services/Search.js
  apps/backend/lib/graphql-bookshelf-bridge/util/presentQuerySet.js
  apps/backend/migrations/20260615120000_search_index_sort_ts_and_concurrent_refresh.js
  apps/backend/test/unit/services/FullTextSearch.test.js
Due: backend-changed

File missed from prior commit
  apps/backend/lib/graphql-bookshelf-bridge/util/presentQuerySet.js
Due: backend-changed

Make DM search a back-end query and thus more rubust
  apps/backend/api/graphql/index.test.js
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/messageThreadSearch.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/test/unit/graphql/messageThreadSearch.test.js
  apps/web/src/graphql/queries/MessageThreadsQuery.js
  apps/web/src/routes/Messages/Messages.store.js
  apps/web/src/routes/Messages/ThreadList/ThreadList.js
  apps/web/src/store/actions/fetchThreads.js
  packages/graphql/queries/messageThreadsQuery.js
Due: backend-changed, web-changed

Restrict DMs to 20 participants and allow participants to leave a DM group
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/mutations/messageThread.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/test/unit/graphql/mutations/messageThread.test.js
  apps/web/src/graphql/mutations/LeaveMessageThreadMutation.js
  apps/web/src/routes/Messages/Header/Header.js
  apps/web/src/routes/Messages/LeaveThreadButton.js
  apps/web/src/routes/Messages/Messages.js
  apps/web/src/routes/Messages/Messages.store.js
  apps/web/src/routes/Messages/MessagesMobile.js
  apps/web/src/routes/Messages/PeopleSelector/PeopleSelector.js
  apps/web/src/routes/Messages/ThreadList/ThreadListItem.jsx
  apps/web/src/routes/Messages/messageThreadLimits.js
  apps/web/src/routes/Messages/messageThreadLimits.test.js
  apps/web/src/store/constants.js
  apps/web/src/store/reducers/ormReducer/index.js
  apps/web/src/store/reducers/queryResults.js
  packages/graphql/mutations/leaveMessageThreadMutation.js
Due: backend-changed, web-changed

Final 6.5.0 changelog update
  apps/backend/CHANGELOG.md
  apps/web/CHANGELOG.md
Due: backend-changed, web-changed

CHANGELOG tweaks
  apps/backend/CHANGELOG.md
  apps/web/CHANGELOG.md
Due: backend-changed, web-changed

Show join question answers in grid member directory
  apps/web/src/components/Member/Member.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Harden CORS
  apps/backend/api/services/OpenIDConnect.js
  apps/backend/config/cors.js
  apps/backend/config/corsAllowedOrigins.js
  apps/backend/config/customMiddleware.js
  apps/backend/config/env/production.js
Due: backend-changed

Add more cors origins
  apps/backend/config/corsAllowedOrigins.js
Due: backend-changed

Mute threads instead of leaving them
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/comment.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/mutations/messageThread.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Post.js
  apps/backend/api/models/PostUser.js
  apps/backend/api/models/comment/notifications.js
  apps/backend/migrations/20260615120000_add-muted-at-to-posts-users.js
  apps/backend/test/unit/graphql/mutations/messageThread.test.js
  apps/web/src/graphql/mutations/LeaveMessageThreadMutation.js
  apps/web/src/graphql/mutations/MuteMessageThreadMutation.js
  apps/web/src/graphql/mutations/UnmuteMessageThreadMutation.js
  apps/web/src/graphql/queries/MessageThreadQuery.js
  apps/web/src/graphql/queries/MessageThreadsQuery.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/MessagesDropdown/MessagesDropdown.jsx
  apps/web/src/routes/Messages/Header/Header.js
  apps/web/src/routes/Messages/LeaveThreadButton.js
  apps/web/src/routes/Messages/Messages.js
  apps/web/src/routes/Messages/Messages.store.js
  apps/web/src/routes/Messages/MessagesMobile.js
  apps/web/src/routes/Messages/MuteThreadButton.js
  apps/web/src/routes/Messages/MutedThreadNotice.js
  apps/web/src/routes/Messages/ThreadList/ThreadList.js
  apps/web/src/routes/Messages/ThreadList/ThreadListItem.jsx
  apps/web/src/store/actions/fetchThreads.js
  apps/web/src/store/constants.js
  apps/web/src/store/models/MessageThread.js
  apps/web/src/store/reducers/ormReducer/index.js
  apps/web/src/store/reducers/queryResults.js
  packages/graphql/fragments/messageThreadFieldsFragment.js
  packages/graphql/mutations/leaveMessageThreadMutation.js
  packages/graphql/mutations/muteMessageThreadMutation.js
  packages/graphql/mutations/unmuteMessageThreadMutation.js
  packages/graphql/queries/messageThreadsQuery.js
Due: backend-changed, web-changed

Add locale translations for new DM inbox
  apps/backend/migrations/schema.sql
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/store/actions/fetchThreads.js
Due: backend-changed, web-changed

ipad layout tweaks
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/FullPageModal/FullPageModal.js
  apps/web/src/routes/Messages/Messages.js
  apps/web/src/routes/Messages/MessagesLayout.js
  apps/web/src/routes/Messages/ThreadList/ThreadList.js
  apps/web/src/routes/Messages/ThreadList/ThreadListItem.jsx
  apps/web/src/util/mobile.js
  apps/web/src/util/mobile.test.js
Due: web-changed

Add more cors origins
  apps/backend/config/corsAllowedOrigins.js
  apps/web/config/jest.config.js
  apps/web/config/jest/__mocks__/tooltip.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.test.js
  apps/web/src/routes/Stream/Stream.js
Due: backend-changed, web-changed

Fix mobile app WebView infinite reload by disabling __getcookie and deferring socket connect
  apps/web/src/client/websockets.js
  apps/web/src/routes/RootRouter/RootRouter.js
  packages/shared/src/constants.js
Due: web-changed

Fix e2e tests
  apps/web/e2e/auth.setup.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/GroupWelcomeModal/GroupWelcomeModal.js
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

Web and backend v6.5.1
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

Improve mobile WebView auth recovery UX with in-place retry and steady spinner
  apps/web/src/routes/RootRouter/RootRouter.js
  packages/shared/src/constants.js
Due: web-changed

Fix when the web app detected a cookie desync it remounted the entire WebView on each VERIFY_AUTH, causing visible reload flashes before logout.
  apps/mobile/src/components/HyloWebView/HyloWebView.js
  apps/mobile/src/screens/PrimaryWebView/PrimaryWebView.js
  apps/mobile/src/util/session.js
Due: mobile-changed

Fix e2e test
  apps/web/src/routes/RootRouter/RootRouter.js
Due: web-changed

mobile pre-release commit for 6.3.8
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Fix e2e tests
  apps/web/e2e/auth.setup.js
  apps/web/e2e/authenticated.create-edit-modals.spec.js
  apps/web/e2e/authenticated.post-detail.spec.js
  apps/web/e2e/helpers/waitForAuthBootstrap.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.test.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/GroupWelcomeModal/GroupWelcomeModal.js
  apps/web/src/routes/PostDetail/PostDetail.js
  apps/web/src/routes/Stream/Stream.js
  apps/web/src/util/postDetailCloseNavigation.js
  apps/web/src/util/postDetailCloseNavigation.test.js
Due: web-changed

Fix text selection on mobile
  apps/web/src/components/HyloEditor/HyloEditor.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/PostDetail/PostDetail.js
  apps/web/src/util/textSelectionTouch.js
  apps/web/src/util/textSelectionTouch.test.js
Due: web-changed

Further iOS focused changes
  apps/web/src/components/HyloEditor/HyloEditor.js
  apps/web/src/components/HyloEditor/HyloEditor.module.scss
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.js
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.module.scss
  apps/web/src/util/mobile.js
  apps/web/src/util/textSelectionTouch.js
Due: web-changed

Attempt to fix ios text selection
  apps/web/src/components/HyloEditor/HyloEditor.js
Due: web-changed

See if we can get text selectable in ios comment inputs
  apps/web/src/components/HyloEditor/HyloEditor.module.scss
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.js
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.module.scss
  apps/web/src/routes/PostDetail/Comments/Comments.js
  apps/web/src/routes/PostDetail/PostDetail.js
  apps/web/src/util/textSelectionTouch.js
  apps/web/src/util/textSelectionTouch.test.js
Due: web-changed

See if we can get text selectable in ios comment inputs
  apps/web/src/components/HyloEditor/HyloEditor.js
  apps/web/src/components/HyloEditor/HyloEditor.module.scss
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.jsx
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.js
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.module.scss
  apps/web/src/routes/PostDetail/Comments/Comments.js
  apps/web/src/routes/PostDetail/PostDetail.js
  apps/web/src/util/textSelectionTouch.js
  apps/web/src/util/textSelectionTouch.test.js
Due: web-changed

Yet another attempt to get this working
  apps/web/src/components/HyloEditor/HyloEditor.module.scss
  apps/web/src/components/PostDialog/PostDialog.jsx
  apps/web/src/util/textSelectionTouch.js
  apps/web/src/util/textSelectionTouch.test.js
Due: web-changed

Once more
  apps/web/src/components/PostDialog/PostDialog.jsx
  apps/web/src/css/global/index.scss
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Trim changes back to minimal fix
  apps/web/src/components/HyloEditor/HyloEditor.js
  apps/web/src/components/HyloEditor/HyloEditor.module.scss
  apps/web/src/components/PostDialog/PostDialog.jsx
  apps/web/src/css/global/index.scss
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.jsx
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.js
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.module.scss
  apps/web/src/routes/PostDetail/Comments/Comments.js
  apps/web/src/routes/PostDetail/PostDetail.js
  apps/web/src/util/mobile.js
  apps/web/src/util/textSelectionTouch.js
  apps/web/src/util/textSelectionTouch.test.js
Due: web-changed

Avoid unnecessary re-renders
  apps/web/src/routes/PostDetail/PostDetail.js
  apps/web/src/routes/PostDetail/PostDetail.test.js
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

Continue to refine postDetail priority loading
  apps/web/src/routes/PostDetail/PostDetail.js
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

Fix unintentional re-renders
  apps/web/src/routes/RootRouter/RootRouter.js
Due: web-changed
