Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

chore(mobile): More ContextSwitchMenu scroll expansion tuning
  apps/mobile/src/components/ContextSwitchMenu/ContextSwitchMenu.js
  apps/mobile/src/components/DrawerMenu/DrawerMenu.js
Due: mobile-changed

Fix sending of flagged post notifications/messages
  apps/backend/api/models/ModerationAction.js
  apps/backend/api/services/Frontend.js
Due: backend-changed

Split button variants into own file for hot reloading
  apps/web/src/components/Calendar/body/day/calendar-body-day-calendar.tsx
  apps/web/src/components/Calendar/body/week/calendar-body-week-calendar.tsx
  apps/web/src/components/Calendar/header/date/calendar-header-date-chevrons.tsx
  apps/web/src/components/FlagGroupContent/FlagGroupContent.js
  apps/web/src/components/HyloEditor/HyloEditorMenuBar.js
  apps/web/src/components/ui/button-variants.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/calendar.tsx
  apps/web/src/components/ui/datetimepicker.jsx
  apps/web/src/routes/AllView/AllView.jsx
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/CreateGroup/CreateGroup.jsx
Due: web-changed

Cleanup, whitespace, addressing pull request comments in pull 310
  apps/web/src/components/HyloEditor/HyloEditor.js
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
Due: web-changed

Made a little button for all members
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Made group number correct and button style correct
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Accidentally removed some key animation code during a merge conflict
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
Due: web-changed

Changed focus and selected colors Cleaned up u ser profile settings
  apps/web/src/css/global/index.scss
  apps/web/src/routes/UserSettings/EditProfileTab/EditProfileTab.js
Due: web-changed

Added a filter blur while fixing the timing of the backdrop of the global nav
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

Cleaned up affiliations on user profile
  apps/web/src/components/Affiliation/Affiliation.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

fix bug: question marks in proposal options
  apps/backend/api/models/Post.js
Due: backend-changed

Cleaned up nav
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

remove id, add post_id to proposal options
  apps/backend/api/models/Post.js
Due: backend-changed

fix lint error
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Improvements to the member profile
  apps/web/src/components/Affiliation/Affiliation.js
  apps/web/src/components/Membership/Membership.js
  apps/web/src/routes/MemberProfile/MemberProfile.js
Due: web-changed

Move notifications from TabStackHeader to TabsNavigator
  apps/mobile/babel.config.js
  apps/mobile/metro.config.js
  apps/mobile/src/navigation/TabsNavigator.js
  apps/mobile/src/navigation/headers/TabStackHeader.js
Due: mobile-changed

better way to merge post_id
  apps/backend/api/models/Post.js
Due: backend-changed

Open post details and member views in modals at the root navigation level
  apps/mobile/src/components/PostCard/PostCard.js
  apps/mobile/src/components/PostCard/PostFooter/PostFooter.js
  apps/mobile/src/navigation/AuthRootNavigator.js
  apps/mobile/src/navigation/HomeNavigator.js
  apps/mobile/src/navigation/linking/index.js
  apps/mobile/src/screens/ChatRoomWebView/ChatRoomWebView.js
  apps/mobile/src/screens/GroupExploreWebView/GroupExploreWebView.js
  apps/mobile/src/screens/MapWebView/MapWebView.js
  apps/mobile/src/screens/MemberProfile/MemberStream/MemberStream.js
  apps/mobile/src/screens/Members/Members.js
  apps/mobile/src/screens/PostEditor/PostEditor.js
  apps/mobile/src/screens/PostEditor/PostEditor.test.js
  apps/mobile/src/screens/Stream/PostRow.js
Due: mobile-changed

Fix child group tooltips in grid view modes
  apps/web/src/components/PostBigGridItem/PostBigGridItem.js
  apps/web/src/components/PostGridItem/PostGridItem.js
Due: web-changed

Fix display of post filter stream control
  apps/web/src/components/StreamViewControls/StreamViewControls.js
  apps/web/src/components/StreamViewControls/StreamViewControls.module.scss
  apps/web/src/routes/Stream/PostPrompt.jsx
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

Fix display of event times in member profile
  apps/web/src/routes/MemberProfile/MemberProfile.js
Due: web-changed

chore(mobile): Remove console.log
  apps/mobile/src/components/ContextSwitchMenu/ContextSwitchMenu.js
Due: mobile-changed

chore(mobile): Updates PostEditor state management fixing multiple image selection, and a variety of subtle other issues
  apps/mobile/src/screens/PostEditor/ImageSelector/ImageSelector.js
  apps/mobile/src/screens/PostEditor/ImageSelector/ImageSelector.styles.js
  apps/mobile/src/screens/PostEditor/PostEditor.js
  apps/mobile/src/screens/PostEditor/PostEditor.store.js
  packages/presenters/PostPresenter.js
Due: mobile-changed

Fix creating chats
  apps/web/src/components/HyloEditor/HyloEditor.js
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

chore(mobile): Fixes PostDetails top alignment when post + comments shorter than one screen
  apps/mobile/src/components/Comment/Comment.styles.js
  apps/mobile/src/components/Comments/Comments.js
Due: mobile-changed

scroll new widget into view
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

draw attention to new widget
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

remove unnecessary test
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

chore(web,mobile): Fixes HyloEditorMobile but probably breaks it for Web
  apps/web/src/components/HyloEditor/HyloEditor.js
Due: web-changed

chore(mobile): Put Notifications to far right of tab, linting
  apps/mobile/src/navigation/TabsNavigator.js
Due: mobile-changed

remove unnecessary code
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Cleaned up the profile in many ways
  apps/web/src/components/Affiliation/Affiliation.js
  apps/web/src/components/RoundImage/RoundImage.js
  apps/web/src/components/RoundImage/RoundImage.module.scss
  apps/web/src/routes/MemberProfile/MemberProfile.js
Due: web-changed

Cleaned up conditional styling of attachments, and various parts of post/comment cards
  apps/web/src/components/CommentCard/CommentCard.js
  apps/web/src/components/PostCard/ChatCard/ChatCard.js
  apps/web/src/components/PostCard/PostBody/PostBody.js
  apps/web/src/components/ViewHeader/ViewHeader.jsx
  apps/web/src/routes/MemberProfile/RecentActivity/RecentActivity.js
  apps/web/src/routes/PostDetail/PostDetail.js
Due: web-changed

Trying out some fonts, improvements to postCard, CommentCard, PostEditor
  apps/web/src/components/CommentCard/CommentCard.js
  apps/web/src/components/PostCard/PostCard.jsx
  apps/web/src/components/PostCard/PostContent/PostContent.jsx
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
  apps/web/src/components/PostCard/PostTitle/PostTitle.js
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/css/global/_sass_resources.scss
  apps/web/src/css/global/fonts.scss
  apps/web/src/css/global/index.scss
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Trying out a new font
  apps/web/src/css/global/_sass_resources.scss
  apps/web/src/css/global/fonts.scss
  apps/web/src/css/global/index.scss
Due: web-changed

Cleaned up post prompt
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
  apps/web/src/routes/Stream/PostPrompt.jsx
Due: web-changed

Improvements to dragging experience in context menu editing
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Switch icons for TabHeader navigation
  apps/mobile/src/navigation/HomeNavigator.js
  apps/mobile/src/navigation/headers/TabStackHeader.js
Due: mobile-changed

Leave Group Explore in place
  apps/mobile/src/screens/ChatRoomWebView/ChatRoomWebView.js
  apps/mobile/src/screens/GroupExploreWebView/GroupExploreWebView.js
  apps/mobile/src/screens/MapWebView/MapWebView.js
Due: mobile-changed
