Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Make sure link preview clears from chat box after creating a post
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Cleanup and improvements to the spacing of the fields in the post editor
  apps/web/src/components/PostEditor/AnonymousVoteToggle/AnonymousVoteToggle.js
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/PostEditor/PostEditor.module.scss
Due: web-changed

Little bit more improvements to spacing around chat box
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Hide the allow in commons section if already allowed in the commons
  apps/web/src/routes/GroupSettings/PrivacySettingsTab/PrivacySettingsTab.jsx
Due: web-changed

trying
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Tweak language and display of text for when public posts will be visible in the Commons
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/PublicToggle/PublicToggle.js
Due: web-changed

Web v6.0.8
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: web-changed

CompletionResponse always returns an array
  apps/mobile/src/components/ActionCompletionSection/ActionCompletionSection.js
  packages/presenters/PostPresenter.js
Due: mobile-changed

get specific track widgets working in the context menu
  apps/mobile/src/util/navigation.js
Due: mobile-changed

pre-6.1.0 rc4
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Make sure tracks widget appears in menu for all members after a track is published
  apps/backend/api/models/Group.js
Due: backend-changed

Don't allow for creating a widget for an unpublished track
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/services/Search.js
  apps/web/src/graphql/fragments/groupFieldsFragment.js
  apps/web/src/graphql/fragments/groupQueryFragment.js
  apps/web/src/routes/AllView/AllView.jsx
  apps/web/src/store/actions/contextWidgets/index.js
  apps/web/src/store/actions/fetchContextWidgets.js
  apps/web/src/store/actions/fetchGroupTracks.js
  packages/presenters/ContextWidgetPresenter.js
Due: backend-changed, web-changed

Little fixes to related groups list styling
  apps/web/src/routes/Groups/Groups.jsx
  apps/web/src/routes/Groups/Groups.module.scss
Due: web-changed

people tab includes links to profiles; shortened data formatting to avoid overflow
  apps/mobile/src/screens/TrackDetail/TrackDetail.js
  packages/shared/src/TextHelpers.js
Due: mobile-changed

Sync up copy and colors for action status badges
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/src/components/PostCard/PostCard.js
Due: mobile-changed

Add margin to track detail view
  apps/mobile/src/screens/TrackDetail/TrackDetail.js
Due: mobile-changed

Hide "posted in" section on action detail view; Remove duplicate values from multi-select results display
  apps/mobile/src/components/ActionCompletionSection/ActionCompletionSection.js
  apps/mobile/src/components/PostCard/PostCardForDetails.js
Due: mobile-changed

Action Completion padding fixed; optimistic reactions fixed
  apps/mobile/src/screens/PostDetails/PostDetails.js
  apps/mobile/src/screens/UploadAction/UploadAction.js
  packages/urql/updates/sideEffectPostCompletion.js
Due: mobile-changed

reQuery trackDetails when switching to the actions tab
  apps/mobile/src/screens/TrackDetail/TrackDetail.js
Due: mobile-changed

6.1.0-RC-5
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Add the ability to duplicate tracks
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/mutations/track.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Track.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/TrackCard/TrackCard.jsx
  apps/web/src/components/TrackEditor/TrackEditor.js
  apps/web/src/store/actions/trackActions.js
  apps/web/src/store/selectors/getTracksForGroup.js
Due: backend-changed, web-changed

Fix track's num actions after removing an action
  apps/backend/api/models/Post.js
  apps/backend/api/models/Track.js
  apps/web/src/routes/TrackHome/TrackHome.jsx
Due: backend-changed, web-changed

Fix home navigation on cold-boot and reload
  apps/mobile/src/navigation/AuthRootNavigator.js
  apps/mobile/src/navigation/headers/TabStackHeader.js
Due: mobile-changed

mobile@v6.1.0
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Update front-end and back-end to v6.1.0
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

Tiny UI fix to tracks people tab
  apps/web/src/routes/TrackHome/TrackHome.jsx
Due: web-changed

Try to prevent auto responders from making comments
  apps/backend/api/controllers/CommentController.js
  apps/backend/api/services/Email.js
Due: backend-changed

Try to remove all quoted text in email replies
  apps/backend/api/models/Comment.js
Due: backend-changed

Fix removing people's comments as a steward
  apps/backend/api/models/Tag.js
  apps/backend/api/models/comment/deleteComment.js
Due: backend-changed

Add missing translation
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: web-changed

Remove welcome to new hylo message
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Fix display of post send button when disabled and send announcement modal
  apps/web/src/components/Button/Button.module.scss
  apps/web/src/components/PostEditor/ActionsBar.jsx
  apps/web/src/components/SendAnnouncementModal/SendAnnouncementModal.js
  apps/web/src/components/SendAnnouncementModal/SendAnnouncementModal.module.scss
Due: web-changed

Remove console.log
  apps/web/src/components/Map/Map.js
Due: web-changed

Update web and backend to v6.1.1
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

Fix immediate editing of a new chat post
  apps/web/src/store/presenters/presentPost.js
Due: web-changed

Fixed drawer close button position at all sizes
  apps/web/src/routes/MapExplorer/MapDrawer/MapDrawer.js
  apps/web/src/routes/MapExplorer/MapExplorer.js
Due: web-changed

Made it so local server listens beyond localhost, allows for connecting phones and other devices to local environment over wifi
  apps/web/scripts/start.js
Due: web-changed

Add missing translations
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: web-changed

Cleaned up cookie consent at different screen sizes
  apps/web/src/components/HyloCookieConsent/HyloCookieConsent.js
Due: web-changed

Cleaned up cookie consent at different screen sizes
  apps/web/src/components/StreamViewControls/StreamViewControls.js
Due: web-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
