Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

Fix block UI bugs; update library and change function syntax
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/package.json
  apps/mobile/src/hooks/useHyloActionSheet.js
  apps/mobile/src/screens/MemberProfile/MemberHeader.js
  yarn.lock
Due: mobile-changed

6.1.10 release
  apps/mobile/CHANGELOG
Due: mobile-changed

Fix timezone of individual chats in chat digest
  apps/backend/api/models/TagFollow.js
Due: backend-changed

Lint fix
  apps/backend/api/graphql/mutations/event.js
Due: backend-changed

If somehow logging in while already logged in, log in as the new user credentials
  apps/backend/api/graphql/mutations/user.js
Due: backend-changed

Much improved dummy data
  apps/backend/seeds/dummy/dummy.js
Due: backend-changed

Fix display of current day sticky header in chat rooms
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

pre-release setup for 6.1.11
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Initial backend for peer to peer groups
  apps/backend/api/graphql/filters.js
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/group.js
  apps/backend/api/graphql/mutations/group.test.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Activity.js
  apps/backend/api/models/Group.js
  apps/backend/api/models/GroupRelationship.js
  apps/backend/api/models/GroupRelationshipInvite.js
  apps/backend/api/models/Notification.js
  apps/backend/api/models/PushNotification.js
  apps/backend/lib/i18n/en.js
  apps/backend/lib/i18n/es.js
  apps/backend/migrations/20250826123001_peer-to-peer.js
Due: backend-changed

Tweak spacing of comments
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.jsx
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.module.scss
Due: web-changed

Fix group names in push notifications for group to group join requests/invites
  apps/backend/lib/i18n/en.js
Due: backend-changed

Fix announcements showing publis posts not in your groups
  apps/backend/api/graphql/makeModels.js
Due: backend-changed

Add peer relationship and display peer relationship in the group settings
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/group.js
  apps/backend/api/models/Group.js
  apps/backend/api/models/GroupRelationship.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/graphql/fragments/groupQueryFragment.js
  apps/web/src/routes/GroupSettings/RelatedGroupsTab/RelatedGroupsTab.js
  apps/web/src/store/actions/groupRelationshipActions.js
  apps/web/src/store/constants.js
  apps/web/src/store/models/Group.js
  apps/web/src/store/models/GroupRelationshipInvite.js
  apps/web/src/store/selectors/getGroupRelationships.js
Due: backend-changed, web-changed

Tweaks to platform agreements UI
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Agreements/Agreements.js
Due: web-changed

Web and backend v6.1.17
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

Add forward and back button to desktop app title bar
  apps/desktop/main.js
  apps/desktop/preload.js
Due: none

Add reload button and make title text bigger
  apps/desktop/main.js
  apps/desktop/preload.js
Due: none

Fix deprecation warnings
  apps/desktop/main.js
Due: none

Fix text overflow for proposal status at small widths
  apps/web/src/components/PostCard/PostBodyProposal/PostBodyProposal.js
Due: web-changed

Remove pre loading of some screens
  apps/mobile/src/navigation/HomeNavigator.js
  apps/mobile/src/navigation/TabsNavigator.js
Due: mobile-changed

Revert "Add version number on the logout button"
  apps/mobile/src/components/ContextMenu/ContextMenu.js
Due: mobile-changed

Re-add mesages badge count
  apps/mobile/src/navigation/TabsNavigator.js
Due: mobile-changed

Update to latest intercom package
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  yarn.lock
Due: mobile-changed

Revert "fix chat post path and add notifications refresh"
  apps/mobile/src/screens/NotificationsList/NotificationsList.js
  apps/mobile/src/screens/NotificationsList/NotificationsList.store.js
Due: mobile-changed

Revert "Fix block UI bugs; update library and change function syntax"
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/package.json
  apps/mobile/src/hooks/useHyloActionSheet.js
  apps/mobile/src/screens/MemberProfile/MemberHeader.js
  yarn.lock
Due: mobile-changed

Revert "Add a no-posts-to-display to empty streams"
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/src/screens/Stream/Stream.js
Due: mobile-changed

Revert "Remove use of modal for postdetail views"
  apps/mobile/src/components/HyloWebView/HyloWebView.js
  apps/mobile/src/components/PostListRow/PostListRow.js
  apps/mobile/src/screens/MemberProfile/MemberStream/MemberStream.js
  apps/mobile/src/screens/SearchPage/SearchPage.js
  apps/mobile/src/screens/Stream/PostRow.js
Due: mobile-changed

Comment out all use of intercom
  apps/mobile/ios/HyloReactNative/AppDelegate.mm
  apps/mobile/src/components/ContextSwitchMenu/ContextSwitchMenu.js
  apps/mobile/src/hooks/useLogout.js
  apps/mobile/src/navigation/AuthRootNavigator.js
Due: mobile-changed

Display peer groups in groups view and groups network map; allow group relationship invites as notifications in web and mobile;
  apps/backend/api/models/Notification.js
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/src/components/HyloWebView/HyloWebView.js
  apps/mobile/src/hooks/useOpenURL.js
  apps/mobile/src/screens/GroupSettingsWebView/GroupSettingsWebView.js
  apps/mobile/src/screens/Groups/Groups.js
  apps/mobile/src/screens/NotificationsList/NotificationsList.store.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/GroupNetworkMap/GroupNetworkMapGenerator.js
  apps/web/src/routes/GroupSettings/RelatedGroupsTab/RelatedGroupsTab.js
  apps/web/src/routes/Groups/Groups.jsx
  apps/web/src/routes/Groups/Groups.store.js
  apps/web/src/store/actions/groupRelationshipActions.js
  apps/web/src/store/reducers/ormReducer/index.js
  apps/web/src/store/selectors/getGroupRelationships.js
  apps/web/src/util/networkMap.js
  packages/graphql/fragments/groupFieldsFragment.js
  packages/graphql/fragments/notificationFieldsFragment.js
  packages/presenters/src/NotificationPresenter.js
Due: backend-changed, web-changed, mobile-changed

Dump cache on app crash; Add more null checks to data in threadcards; add dev only diag for urql and thread cards
  apps/mobile/src/components/ThreadCard/ThreadCard.js
  apps/mobile/src/components/ThreadCard/ThreadDataDiagnostic.js
  apps/mobile/src/components/ThreadCard/UrqlCacheDiagnostic.js
  apps/mobile/src/screens/ErrorBoundary/ErrorBoundary.js
  apps/mobile/src/screens/ThreadList/ThreadList.js
Due: mobile-changed

Add safe area insets to modals, thus fixing numerous UI bugs with modals
  apps/mobile/src/navigation/AuthRootNavigator.js
Due: mobile-changed

6.1.11 changelog
  apps/mobile/CHANGELOG
Due: mobile-changed

Readme release section update for mobile
  apps/mobile/README.md
Due: mobile-changed

Remove unnecessary bool check on avatarUrls
  apps/mobile/src/components/ThreadCard/ThreadCard.js
Due: mobile-changed

6.1.12 pre-release setup
  apps/mobile/CHANGELOG
  apps/mobile/README.md
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Add link to example mobile pre-release setup
  apps/mobile/README.md
Due: mobile-changed

Tweak README
  README.md
Due: none

Update colors and legend for group network diagram
  apps/web/src/components/GroupNetworkMap/GroupNetworkMapGenerator.js
  apps/web/src/util/networkMap.js
Due: web-changed

Show off peer description in the network diagram
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Group.js
  apps/web/src/components/GroupNetworkMap/GroupNetworkMapGenerator.js
  apps/web/src/routes/Groups/Groups.jsx
  apps/web/src/routes/Groups/Groups.store.js
  apps/web/src/util/networkMap.js
Due: backend-changed, web-changed
