Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Try to fix e2e tests
  apps/backend/scripts/seed-e2e-baseline.js
  apps/web/e2e/authenticated.group-settings-moderation.spec.js
Due: backend-changed, web-changed

Show granted roles on offering landing page
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/web/src/routes/OfferingDetails/OfferingDetails.jsx
  apps/web/src/store/actions/fetchPublicStripeOffering.js
  apps/web/src/store/actions/fetchPublicStripeOfferings.js
  apps/web/src/util/accessGrants.js
Due: backend-changed, web-changed

Try to fix role assignment from grant
  apps/backend/api/controllers/StripeController.js
  apps/backend/api/models/StripeProduct.js
Due: backend-changed

Show current logged in user email in settings menu and My Home header
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

Only show mute/unread buttons when hovering over DM row
  apps/web/src/routes/Messages/ThreadList/ThreadListItem.jsx
Due: web-changed

Don't show orange dot in global nav for muted threads
  apps/backend/api/models/comment/createComment.js
  apps/backend/test/unit/models/comment/createComment.test.js
  apps/web/src/components/SocketListener/SocketListener.js
  apps/web/src/components/SocketListener/SocketListener.store.js
  apps/web/src/components/SocketListener/SocketListener.store.test.js
  apps/web/src/routes/Messages/ThreadList/ThreadList.js
  packages/urql/updates/index.js
Due: backend-changed, web-changed

Web v6.5.3 + backend v6.5.2
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

Prevent errors fro updating last read text for new message threads
  apps/backend/api/graphql/makeSchema.js
  apps/web/src/routes/Messages/Messages.js
  apps/web/src/routes/Messages/Messages.store.js
  apps/web/src/routes/Messages/Messages.store.test.js
  apps/web/src/routes/Messages/MessagesMobile.js
Due: backend-changed, web-changed

Try to fix daily digest sending
  apps/backend/api/services/Email.js
Due: backend-changed

Fix ordering of translations
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
Due: web-changed

Speed up group menu loadig by only loading steward.groupRoles for current group
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/web/src/graphql/fragments/groupDetailsFragment.js
  apps/web/src/graphql/fragments/groupQueryFragment.js
  apps/web/src/store/actions/fetchForGroup.js
  packages/graphql/fragments/groupFieldsFragment.js
Due: backend-changed, web-changed

Speed up saved search queries
  apps/backend/api/models/SavedSearch.js
  apps/backend/lib/group/digest2/savedSearches.js
Due: backend-changed

Speed up loading of role settings tab
  apps/web/src/routes/GroupSettings/RolesSettingsTab/RolesSettingsTab.js
  apps/web/src/routes/GroupSettings/RolesSettingsTab/RolesSettingsTab.store.js
  apps/web/src/routes/GroupSettings/RolesSettingsTab/RolesSettingsTab.test.js
  apps/web/src/store/actions/fetchForGroup.js
  apps/web/src/store/actions/roles/index.js
  apps/web/src/store/constants.js
  packages/hooks/groupRoleHelpers.js
Due: web-changed

HOTFIX: broken mobile app
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
Due: backend-changed

Oops, actually backend v6.5.3
  apps/backend/CHANGELOG.md
Due: backend-changed

Better error logging in comment/message digest email sending
  apps/backend/api/models/comment/notifications.js
Due: backend-changed

Add more logging to chat digests
  apps/backend/api/models/TagFollow.js
Due: backend-changed

Avoid pull-to-refresh on screens where is doesnt make sense
  apps/web/src/hooks/usePullToRefresh.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Fix stream filter by type for views other than stream
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

When searching in the stream also search by post creator name
  apps/backend/api/services/Search/util.js
  apps/backend/api/services/Search/util.test.js
Due: backend-changed

Post create modal only allows creating the post type(s) for a common view when on that view
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/PostTypeSelect/PostTypeSelect.jsx
  apps/web/src/hooks/useAllowedPostTypesForView.js
Due: web-changed

Web v6.5.4
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: web-changed

Backend v6.5.4
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
Due: backend-changed, web-changed

Initial draft of engineering plan
  docs/spaces-and-views-engineering-spec.md
Due: none

Tweaks to plan
  docs/spaces-and-views-engineering-spec.md
Due: none

Plan tweaks
  docs/spaces-and-views-engineering-spec.md
Due: none

Common role migration already done
  docs/spaces-and-views-engineering-spec.md
Due: none

Updates to spaces spec
  docs/spaces-and-views-engineering-spec.md
Due: none

Initial phase 1 migrations and new models
  apps/backend/api/models/CollectionPost.js
  apps/backend/api/models/Group.js
  apps/backend/api/models/GroupRole.js
  apps/backend/api/models/GroupView.js
  apps/backend/api/models/GroupViewUser.js
  apps/backend/api/models/Responsibility.js
  apps/backend/migrations/20260702190000_spaces_and_views_schema.js
  apps/backend/migrations/20260702190100_add_manage_spaces_responsibility.js
  docs/spaces-and-views-engineering-spec.md
Due: backend-changed

Phase 2, Group Views activated and migration
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/group_views.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/mutations/spaces.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Group.js
  apps/backend/api/models/GroupView.js
  apps/backend/api/models/GroupViewUser.js
  apps/backend/migrations/20260703000000_migrate_context_widgets_to_group_views.js
  apps/backend/package.json
Due: backend-changed

Lint fix
  packages/presenters/src/ContextWidgetPresenter.js
Due: none

Don't show unecessary not defined errors in vscode when looking at the monorepo
  apps/backend/.eslintrc.cjs
Due: backend-changed

Get My and Public context menus working
  apps/web/public/locales/en.json
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  packages/presenters/src/ContextWidgetPresenter.js
  packages/presenters/src/GroupViewPresenter.js
Due: web-changed

Add updating group view settings from the context menu
  apps/backend/api/graphql/mutations/group_views.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/CustomViewForm/CustomViewFormFields.jsx
  apps/web/src/components/CustomViewForm/DefaultViewModePicker.jsx
  apps/web/src/components/CustomViewForm/customViewFormConstants.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddCustomViewDialog.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/GroupViewEditList.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/GroupViewSettingsModal.jsx
  apps/web/src/routes/ViewContent/ViewContent.js
  apps/web/src/store/actions/groupViews.js
  apps/web/src/store/constants.js
  apps/web/src/store/models/GroupView.js
  apps/web/src/store/reducers/ormReducer/index.js
  apps/web/src/store/selectors/getGroupViews.js
  apps/web/src/store/util/groupViewsOrder.js
Due: backend-changed, web-changed

Many chat room and post editing improvements
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/GroupViewUser.js
  apps/backend/api/models/post/createPost.js
  apps/backend/migrations/20260703000000_migrate_context_widgets_to_group_views.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/AttachmentManager/AttachmentManager.module.scss
  apps/web/src/components/AttachmentManager/FileManager.jsx
  apps/web/src/components/AttachmentManager/FilePreview.jsx
  apps/web/src/components/AttachmentManager/ImageManager.jsx
  apps/web/src/components/AttachmentManager/ImagePreview.jsx
  apps/web/src/components/CardImageAttachments/CardImageAttachments.js
  apps/web/src/components/CardImageAttachments/CardImageAttachments.module.scss
  apps/web/src/components/ChatEditor/ChatEditor.js
  apps/web/src/components/ChatEditor/index.js
  apps/web/src/components/PostEditor/ActionsBar.jsx
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/PostEditor/PostEditor.module.scss
  apps/web/src/components/PostEditor/postDraftUtils.js
  apps/web/src/graphql/fragments/chatRoomPostFieldsFragment.js
  apps/web/src/graphql/fragments/groupViewPostsQueryFragment.js
  apps/web/src/hooks/useRouteParams/index.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.module.scss
  apps/web/src/routes/ChatRoom/ChatPostNotice.jsx
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/ChatRoom/ChatRoom.test.js
  apps/web/src/store/actions/fetchForGroup.js
  apps/web/src/store/actions/fetchPosts.js
  apps/web/src/store/actions/fetchPosts.test.js
  apps/web/src/store/reducers/ormReducer/index.js
  packages/navigation/src/index.js
  packages/navigation/src/navigation.test.js
Due: backend-changed, web-changed

Lucide icon picker is now grid
  apps/web/src/components/LucideIconPicker/LucideIconPicker.jsx
Due: web-changed

Fix initial migration to handle icons
  apps/backend/migrations/20260702190000_spaces_and_views_schema.js
  apps/backend/migrations/20260703000000_migrate_context_widgets_to_group_views.js
  apps/backend/migrations/20260708140000_add_group_icon_column.js
Due: backend-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
