Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

Direct editting of custom view widgets to settings/views
  apps/web/src/routes/AllView/AllView.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Allow editing of widgets from all view as well
  apps/web/src/routes/AllView/AllView.jsx
  apps/web/src/store/reducers/ormReducer/index.js
Due: web-changed

Make sure public chat room post URLs display for non logged in users
  apps/web/src/routes/RootRouter/RootRouter.js
Due: web-changed

Update queryParamWhiteList
  apps/web/src/store/reducers/queryResults.js
Due: web-changed

Make sure queryParams still allows topic
  apps/web/src/store/reducers/queryResults.js
Due: web-changed

Missing translations
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: web-changed

Fix signing up after using join link going to that group
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/RootRouter/RootRouter.js
Due: web-changed

Tweaked styles on add location welcome wizard modal
  apps/web/src/routes/WelcomeWizardRouter/AddLocation/AddLocation.js
  apps/web/src/routes/WelcomeWizardRouter/WelcomeWizard.module.scss
Due: web-changed

Fix z-index of cooke consent for public map
  apps/web/src/components/HyloCookieConsent/HyloCookieConsent.js
Due: web-changed

Fix welcome email data so name appears and group info is there when someone joins through a group
  apps/backend/api/models/User.js
Due: backend-changed

All topics route is respected; topics navigate to stream; stream respects topicName; stream respects all-post filter
  apps/mobile/README.md
  apps/mobile/src/components/HyloWebView/HyloWebView.js
  apps/mobile/src/navigation/HomeNavigator.js
  apps/mobile/src/navigation/linking/index.js
  apps/mobile/src/screens/AllTopicsWebView/AllTopicsWebView.js
  apps/mobile/src/screens/AllTopicsWebView/index.js
  apps/mobile/src/screens/Stream/Stream.js
  apps/web/src/routes/FullPageModal/FullPageModal.js
Due: web-changed, mobile-changed

Route direct to WebView for all topics
  apps/mobile/src/navigation/HomeNavigator.js
  apps/mobile/src/navigation/linking/index.js
Due: mobile-changed

Filter out some container type widgets from the mobile all-views
  apps/mobile/src/screens/AllViews/AllViews.js
Due: mobile-changed

mobile 6.0.1
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Disallow whitespace inputs on chat topic selector for context widget creation
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/AllView/AllView.jsx
Due: web-changed

Removed silly fragment
  apps/web/src/routes/AllView/AllView.jsx
Due: web-changed

Add a little margin to selected context
  apps/mobile/src/components/ContextSwitchMenu/ContextSwitchMenu.js
Due: mobile-changed

Sync selected styles for globalNav (web) and context switching menu (mobile)
  apps/mobile/src/components/ContextSwitchMenu/ContextSwitchMenu.js
Due: mobile-changed

Fix warning
  apps/web/src/components/PostCard/PostBodyProposal/PostBodyProposal.js
Due: web-changed

Add CHAT and MEMBER JOINED notif display to mobile notifications
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/src/screens/NotificationsList/NotificationsList.js
  apps/mobile/src/screens/NotificationsList/NotificationsList.store.js
Due: mobile-changed

Fix some styling on custom views settings tab
  apps/web/src/components/PostBigGridItem/PostBigGridItem.js
  apps/web/src/routes/GroupSettings/AgreementsTab/AgreementsTab.js
  apps/web/src/routes/GroupSettings/CustomViewsTab/CustomViewsTab.js
  apps/web/src/routes/MemberProfile/RecentActivity/RecentActivity.js
Due: web-changed

Make blockquotes in posts more readable
  apps/web/src/css/typography.scss
Due: web-changed

Ensure local state for childInclusion is updated
  apps/mobile/src/components/PostCard/PostCard.js
  apps/mobile/src/screens/Stream/Stream.js
Due: mobile-changed

Reduce stream page size; Reduce number of commenter Avatar urls requested; remove redundant query elements from postQuery; comment out badge code from postHeader
  apps/mobile/src/components/PostCard/PostHeader/PostHeader.js
  apps/mobile/src/screens/Stream/makeStreamQuery.js
  packages/graphql/fragments/postFieldsFragment.js
Due: mobile-changed

Load less posts at a timefor ChatRoom and Stream when viewing from mobile (web or app)
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

Focus back on the chat box after creating a post
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Fix layout issues for webview in mobile; 1st pass
  apps/mobile/src/components/HyloWebView/HyloWebView.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.module.scss
Due: web-changed, mobile-changed

Remove custom style reference
  apps/mobile/src/components/HyloWebView/HyloWebView.js
Due: mobile-changed

Recenter chat post content
  apps/mobile/src/components/HyloWebView/HyloWebView.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.module.scss
Due: web-changed, mobile-changed

Review tweaks
  apps/mobile/src/components/PostCard/PostHeader/PostHeader.js
  packages/graphql/fragments/postFieldsFragment.js
Due: mobile-changed

Add notes about urql devtools to mobile readme
  apps/mobile/README.md
Due: mobile-changed

add DateTime import
  apps/web/src/util/savedSearch.js
Due: web-changed

Review tweaks
  apps/mobile/src/components/HyloWebView/HyloWebView.js
Due: mobile-changed

Remove postMemberships from query
  packages/graphql/fragments/postFieldsFragment.js
Due: none

chore(mobile): Moves to 6.0.2-0 pre-release
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Add padding to both the center view column and specifically to the chats feed
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.module.scss
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Ensure chat creator avatar styling is happy at all break-points
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
Due: web-changed

chore(mobile): Update post release version instructions
  apps/mobile/README.md
Due: mobile-changed

Translation tweak
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: web-changed
