Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Debugging link crash
  apps/mobile/ios/Podfile.lock
  apps/mobile/src/hooks/useOpenInitialURL.js
  apps/mobile/src/hooks/useOpenURL.js
  apps/mobile/src/hooks/useReturnToOnAuthPath.js
Due: mobile-changed

6.3.4 pre-release
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Prevent duplicate sending of notifications
  apps/backend/api/models/Notification.js
  apps/backend/migrations/20260325120000_notification_processing_started_at.js
  apps/backend/test/unit/models/Notification.test.js
Due: backend-changed

Polish one-column dashboard layout
  apps/web/src/components/ViewHeader/ViewHeader.jsx
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/OneColumnLayout.jsx
Due: web-changed

Apply theme-aware styling to Upcoming Events and Projects cards on user profile
  apps/web/src/routes/MemberProfile/MemberProfile.js
Due: web-changed

Fix duplicate posts table join when resolving person.comments
  apps/backend/api/graphql/filters.js
  apps/backend/api/models/User.js
Due: backend-changed

Replace scrollable recent activity container with full-height lazy loading
  apps/web/src/routes/MemberProfile/RecentActivity/RecentActivity.connector.js
  apps/web/src/routes/MemberProfile/RecentActivity/RecentActivity.js
Due: web-changed

parallelize some initialization queries and fetchPost early
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Add redux-persist and streamline some initialization queries
  apps/web/package.json
  apps/web/src/router/index.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/store/index.js
  apps/web/src/store/reducers/resetStore.js
  yarn.lock
Due: web-changed

Final test tweaks
  apps/backend/api/graphql/mutations/collection.test.js
  apps/backend/api/graphql/mutations/context_widgets.test.js
  apps/backend/api/graphql/mutations/join_request.test.js
  apps/backend/api/graphql/mutations/savePost.test.js
  apps/backend/api/graphql/mutations/track.test.js
  apps/backend/api/models/Collection.js
  apps/backend/api/models/JoinRequest.js
Due: backend-changed

Prerelease for mobile@6.3.5
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Add Playwright E2E testing setup and Claude Code project guide
  .gitignore
  CLAUDE.md
  apps/web/e2e/smoke.spec.js
  apps/web/package.json
  apps/web/playwright.config.js
  yarn.lock
Due: web-changed

Fix search results not scrollable
  apps/web/src/routes/Search/Search.js
Due: web-changed

Fix translation script sort to put uppercase before lowercase (#1266)
  scripts/i18n/lib.js
  scripts/i18n/lib.test.js
Due: none

Fix tooltip z-index rendering behind post images (#1205)
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
  apps/web/src/components/Tooltip/Tooltip.js
Due: web-changed

Skeleton loading UI
  apps/web/src/components/PostCard/PostCardSkeleton.jsx
  apps/web/src/components/Skeleton/BootstrapShell.jsx
  apps/web/src/components/Skeleton/NavColumnSkeleton.jsx
  apps/web/src/components/Skeleton/RouteBootstrapSkeleton.jsx
  apps/web/src/components/Skeleton/Skeleton.module.scss
  apps/web/src/components/Skeleton/ViewHeaderSkeleton.jsx
  apps/web/src/components/Skeleton/index.jsx
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/PostDetail/PostDetailSkeleton.jsx
  apps/web/src/routes/RootRouter/RootRouter.js
  apps/web/src/routes/Stream/Stream.js
  apps/web/src/util/mainContentColumn.js
Due: web-changed

Don't load group relationship and invite fields on initial load
  apps/web/src/graphql/fragments/groupQueryFragment.js
  apps/web/src/routes/Groups/Groups.jsx
  apps/web/src/routes/Groups/Groups.store.js
  apps/web/src/store/actions/fetchGroupRelationships.js
  apps/web/src/store/constants.js
Due: web-changed

Don't need to load groupTopics on initial group load
  apps/web/src/components/Widget/Widget.js
  apps/web/src/graphql/fragments/groupQueryFragment.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/store/actions/fetchForGroup.js
Due: web-changed

Make loading spinners more consistently placed on initial load
  apps/web/src/components/Loading/Loading.jsx
  apps/web/src/components/Loading/Loading.module.scss
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Try not loading groups for every post, see if that breaks anything
  apps/web/src/graphql/fragments/postCardFieldsFragment.js
Due: web-changed

Add authenticated Playwright sessions and screenshot utility
  .gitignore
  apps/web/e2e/auth.setup.js
  apps/web/e2e/screenshot.spec.js
  apps/web/package.json
  apps/web/playwright.config.js
Due: web-changed

Fix copy confirmation showing on wrong section in Invite Settings (#1248)
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.js
Due: web-changed

Show Copied! feedback inline in the copy button
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.js
Due: web-changed

Try not fetching topics for post cards, see if that breaks anything
  apps/web/src/graphql/fragments/postCardFieldsFragment.js
Due: web-changed

Update CLAUDE.md with autonomous agent workflow and Playwright docs
  CLAUDE.md
Due: none

Fix scrolling search results but still dont overflow width on mobile
  apps/web/src/routes/Search/Search.js
Due: web-changed

Backend v6.3.2
  apps/backend/CHANGELOG.md
  apps/backend/package.json
Due: backend-changed

Web v6.4.1
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: web-changed

Remove duplicate code
  apps/backend/api/models/Notification.js
Due: backend-changed

Smooth out app loading
  apps/web/src/components/PostCard/PostCardSkeleton.jsx
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

Continued loading tweaks
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/RootRouter/RootRouter.js
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

Check if mobile side is adding an extra loading spinner
  apps/mobile/src/navigation/AuthRootNavigator.js
Due: mobile-changed

Revert "Check if mobile side is adding an extra loading spinner"
  apps/mobile/src/navigation/AuthRootNavigator.js
Due: mobile-changed

Persist queryResults as well; topic loading ignoring cached data
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/Stream/Stream.js
  apps/web/src/store/index.js
Due: web-changed

Avoid refetching-issue for loading states
  apps/mobile/src/navigation/AuthRootNavigator.js
  apps/mobile/src/navigation/RootNavigator/RootNavigator.js
Due: mobile-changed

Fix wonky bs imports
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/RootRouter/RootRouter.js
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

No loading spinner for root suspense
  apps/web/src/router/Root.jsx
Due: web-changed

Further loading wrangling
  apps/web/src/routes/GroupDetail/GroupDetail.js
  apps/web/src/routes/LandingPage/LandingPage.js
  apps/web/src/routes/PostDetail/PostDetail.js
Due: web-changed

Fixed login edgecase
  packages/contexts/AuthContext.js
Due: none

Update CLAUDE.md code conventions per PR review feedback
  CLAUDE.md
Due: none

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
