Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Refractor arguments for reorderTree; update tests
  apps/backend/api/models/ContextWidget.js
  apps/backend/api/models/util/contextWidgets.js
  apps/backend/api/models/util/contextWidgets.test.js
  apps/web/src/util/contextWidgets.js
Due: backend-changed, web-changed

Ensure generic description doesnt stop setup widget
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

#170: Ensure context menu updates optimistically with new group content
  apps/web/src/store/actions/createPost.js
  apps/web/src/store/actions/createProject.js
  apps/web/src/store/constants.js
  apps/web/src/store/reducers/ormReducer/index.js
Due: web-changed

Fix post creation
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

chore(mobile): Fixes createComment to add the new comment at the beginning vs the end of the list to accommodate our new pagination code
  apps/mobile/src/urql-shared/updates/createComment.js
Due: mobile-changed

chore(mobile): removes no longer necessary reactOn urql updater, and adds helpful notes and some TODOs in a couple of places
  apps/mobile/src/components/StreamList/StreamList.js
  apps/mobile/src/graphql/mutations/createMessageMutation.js
  apps/mobile/src/urql-shared/updates/index.js
Due: mobile-changed

chore(backend): Fixes bug from merge
  apps/backend/api/graphql/makeSubscriptions.js
Due: backend-changed

Make home the default chat channel
  apps/backend/api/graphql/mutations/context_widgets.tests.js
  apps/backend/api/models/Group.js
  apps/backend/migrations/20250129142240_add-home-tag-to-all-groups.js
Due: backend-changed

Safety-create home tag
  apps/backend/migrations/20250128140449_migrate-to-new-context-menu.js
Due: backend-changed

Ports all general tagged content to the home tag
  apps/backend/migrations/20250129161302_port-general-tag-content-to-home-tag.js
Due: backend-changed

Fix all views title
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Lots of improvements
  apps/web/src/components/Map/EditableMap/EditableMap.js
  apps/web/src/components/SettingsControl/SettingsControl.js
  apps/web/src/components/ViewHeader/ViewHeader.jsx
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/ChatRoom/ChatRoom.module.scss
  apps/web/src/routes/FullPageModal/FullPageModal.js
  apps/web/src/routes/GroupSettings/AgreementsTab/AgreementsTab.js
  apps/web/src/routes/GroupSettings/GroupSettingsTab/GroupSettingsTab.js
  apps/web/src/routes/GroupSettings/ResponsibilitiesTab/ResponsibilitiesTab.js
  apps/web/src/routes/GroupSettings/RolesSettingsTab/RolesSettingsTab.js
Due: web-changed

Fix styling for external link custom views in context menu
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MenuLink/MenuLink.jsx
Due: web-changed

#171 containers have a border when in edit mode
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

chore(mobiled): useLogout won't be shared as it uses Mobile specific things
  apps/mobile/src/hooks/useLogout.js
  apps/mobile/src/navigation/UserSettingsTabsNavigator.js
  apps/mobile/src/screens/MemberProfile/MemberDetails/MemberDetails.js
  apps/mobile/src/screens/Signup/SignupRegistration/SignupRegistration.js
  apps/mobile/src/screens/UserSettingsWebView/UserSettingsWebView.js
Due: mobile-changed

chore(mobile,shared): Move urql migration-related hooks to shared target
  apps/mobile/src/urql-shared/hooks/urql-migration/useDeepCompareMemoize.js
  apps/mobile/src/urql-shared/hooks/urql-migration/useGraphqlAction.js
  apps/mobile/src/urql-shared/hooks/urql-migration/useHyloQuery.js
  apps/mobile/src/urql-shared/hooks/urql-migration/useUrqlQueryAction.js
  apps/mobile/src/urql-shared/optimistic/index.js
Due: mobile-changed

chore(mobile): Converts remaining class components to functional
  apps/mobile/src/components/SettingControl/SettingControl.js
  apps/mobile/src/components/SocialAuth/GoogleLoginButton.js
  apps/mobile/src/screens/ErrorBoundary/ErrorBoundary.js
  apps/mobile/src/screens/MemberProfile/Control.js
Due: mobile-changed

chore(mobile): Removes extraneous import
  apps/mobile/src/hooks/useAuthStatus.js
Due: mobile-changed

Cleanup of create group interface
  apps/web/src/routes/CreateGroup/CreateGroup.jsx
Due: web-changed

More cleanup of create group
  apps/web/src/routes/CreateGroup/CreateGroup.jsx
Due: web-changed

Comment out migrations transitioning to new menu and home chat
  apps/backend/migrations/20250125083836_remove-nexudus_accounts.js
  apps/backend/migrations/20250128140449_migrate-to-new-context-menu.js
  apps/backend/migrations/20250129142240_add-home-tag-to-all-groups.js
  apps/backend/migrations/20250129161302_port-general-tag-content-to-home-tag.js
Due: backend-changed

Add sql migrations for the initial setup of context widgets, and for the syncing fo chats and custom views to the context menu. Still requires a step to reorder widgets based on a groups contents
  apps/backend/api/models/Group.js
  apps/backend/migrations/20250130104013_setup-initial-context-widgets.js
  apps/backend/migrations/20250130104100_ensure-chats-and-custom-views-have-context-widgets.js
Due: backend-changed

chore(mobile): Consolidate auth management into AuthContext/Provider and useAuth hook
  apps/backend/api/graphql/mutations/user.js
  apps/mobile/index.js
  apps/mobile/src/contexts/AuthContext.js
  apps/mobile/src/hooks/useLogout.js
  apps/mobile/src/navigation/NonAuthRootNavigator.js
  apps/mobile/src/navigation/RootNavigator/RootNavigator.js
  apps/mobile/src/navigation/linking/index.js
  apps/mobile/src/screens/JoinGroup/JoinGroup.js
  apps/mobile/src/screens/Login/Login.js
  apps/mobile/src/screens/LoginByTokenHandler/LoginByTokenHandler.js
  apps/mobile/src/screens/Signup/Signup.js
  apps/mobile/src/screens/Signup/SignupRegistration/SignupRegistration.js
  apps/mobile/src/screens/Signup/SignupSetLocation/SignupSetLocation.js
  apps/mobile/src/urql-shared/makeUrqlClient.js
Due: backend-changed, mobile-changed

chore(mobile): Remove deprecated useAuthStatus
  apps/mobile/src/urql-shared/hooks/useAuthStatus.js
Due: mobile-changed

Lots of improvements, mostly to post creation and group creation
  apps/web/src/components/CreateModal/CreateModal.module.scss
  apps/web/src/components/KeyControlledList/KeyControlledList.js
  apps/web/src/components/KeyControlledList/KeyControlledList.module.scss
  apps/web/src/components/PostEditor/ActionsBar.jsx
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/PostGridItem/PostGridItem.js
  apps/web/src/components/PostGridItem/PostGridItem.module.scss
  apps/web/src/components/PublicToggle/PublicToggle.js
  apps/web/src/components/RoundImage/RoundImage.module.scss
  apps/web/src/components/StreamViewControls/StreamViewControls.js
  apps/web/src/components/TagInput/TagInput.js
  apps/web/src/components/ToField/ToField.js
  apps/web/src/components/ToField/ToField.module.scss
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/CreateGroup/CreateGroup.jsx
Due: web-changed

chore(mobile): Begin preparing urql-shared directory for @hylo/frontend-shared move
  apps/mobile/src/frontend-shared/directives/index.js
  apps/mobile/src/frontend-shared/fetchGraphqlSchema.js
  apps/mobile/src/frontend-shared/getFirstRootFieldFromData.js
  apps/mobile/src/frontend-shared/hooks/urql-migration/useDeepCompareMemoize.js
  apps/mobile/src/frontend-shared/hooks/urql-migration/useGraphqlAction.js
  apps/mobile/src/frontend-shared/hooks/urql-migration/useHyloQuery.js
  apps/mobile/src/frontend-shared/hooks/urql-migration/useUrqlQueryAction.js
  apps/mobile/src/frontend-shared/hooks/useCurrentGroup.js
  apps/mobile/src/frontend-shared/hooks/useCurrentUser.js
  apps/mobile/src/frontend-shared/hooks/useHasResponsibility.js
  apps/mobile/src/frontend-shared/hooks/useMixpanelTrack.js
  apps/mobile/src/frontend-shared/hooks/usePeopleTyping.js
  apps/mobile/src/frontend-shared/hooks/usePerson.js
  apps/mobile/src/frontend-shared/hooks/usePlatformAgreements.js
  apps/mobile/src/frontend-shared/hooks/useReactOnEntity.js
  apps/mobile/src/frontend-shared/hooks/useRolesForGroup.js
  apps/mobile/src/frontend-shared/keys.js
  apps/mobile/src/frontend-shared/makeUrqlClient.js
  apps/mobile/src/frontend-shared/mobileSubscriptionExchange.js
  apps/mobile/src/frontend-shared/optimistic/index.js
  apps/mobile/src/frontend-shared/presenters/EventInvitationPresenter.js
  apps/mobile/src/frontend-shared/presenters/GroupPresenter.js
  apps/mobile/src/frontend-shared/presenters/PersonPresenter.js
  apps/mobile/src/frontend-shared/presenters/PostPresenter.js
  apps/mobile/src/frontend-shared/resolvers/hyloSimplePagination.ts
  apps/mobile/src/frontend-shared/resolvers/index.js
  apps/mobile/src/frontend-shared/resolvers/makePaginationResolver.js
  apps/mobile/src/frontend-shared/updates/createComment.js
  apps/mobile/src/frontend-shared/updates/index.js
  apps/mobile/src/frontend-shared/updates/reactOn.js
Due: mobile-changed

chore(mobile): Fixes relative graphql file paths
  apps/mobile/src/frontend-shared/graphql/mutations/updatePostMutation.js
  apps/mobile/src/frontend-shared/graphql/queries/postQuery.js
Due: mobile-changed

chore(mobile): Missed import rename
  apps/mobile/index.js
Due: mobile-changed

Missing bracket
  apps/backend/api/models/Group.js
Due: backend-changed

update-widgets-based-on-group-content
  apps/backend/migrations/20250130121530_update-widgets-based-on-group-content.js
Due: backend-changed

Use home as Default chat room
  apps/backend/api/models/Group.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/JoinGroup/JoinGroup.js
  apps/web/src/store/models/Group.js
Due: backend-changed, web-changed

Tweaks to context menu language
  apps/web/public/locales/en.json
Due: web-changed

Try to fix migrations on staging
  apps/backend/migrations/20250128140449_migrate-to-new-context-menu.js
  apps/backend/migrations/20250129142240_add-home-tag-to-all-groups.js
  apps/backend/migrations/20250129161302_port-general-tag-content-to-home-tag.js
Due: backend-changed

connect calendar events to details modal
  apps/web/src/components/Calendar/calendar-event.tsx
  apps/web/src/components/Calendar/calendar-provider.tsx
  apps/web/src/components/Calendar/calendar-types.ts
  apps/web/src/components/Calendar/calendar.tsx
  apps/web/src/components/EventCalendar/EventCalendar.js
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

fix DateTime bug in event details modal
  apps/web/src/components/PostCard/EventDate/EventDate.js
Due: web-changed

initial calendar feature
  apps/web/package.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/Calendar/body/calendar-body-header.tsx
  apps/web/src/components/Calendar/body/calendar-body.tsx
  apps/web/src/components/Calendar/body/day/calendar-body-day-calendar.tsx
  apps/web/src/components/Calendar/body/day/calendar-body-day-content.tsx
  apps/web/src/components/Calendar/body/day/calendar-body-day-events.tsx
  apps/web/src/components/Calendar/body/day/calendar-body-day.tsx
  apps/web/src/components/Calendar/body/day/calendar-body-margin-day-margin.tsx
  apps/web/src/components/Calendar/body/month/calendar-body-month.tsx
  apps/web/src/components/Calendar/body/week/calendar-body-week.tsx
  apps/web/src/components/Calendar/calendar-context.tsx
  apps/web/src/components/Calendar/calendar-event.tsx
  apps/web/src/components/Calendar/calendar-mode-icon-map.tsx
  apps/web/src/components/Calendar/calendar-provider.tsx
  apps/web/src/components/Calendar/calendar-tailwind-classes.ts
  apps/web/src/components/Calendar/calendar-types.ts
  apps/web/src/components/Calendar/calendar.tsx
  apps/web/src/components/Calendar/dialog/calendar-manage-event-dialog.tsx
  apps/web/src/components/Calendar/dialog/calendar-new-event-dialog.tsx
  apps/web/src/components/Calendar/header/actions/calendar-header-actions-add.tsx
  apps/web/src/components/Calendar/header/actions/calendar-header-actions-mode.tsx
  apps/web/src/components/Calendar/header/actions/calendar-header-actions.tsx
  apps/web/src/components/Calendar/header/calendar-header.tsx
  apps/web/src/components/Calendar/header/date/calendar-header-date-badge.tsx
  apps/web/src/components/Calendar/header/date/calendar-header-date-chevrons.tsx
  apps/web/src/components/Calendar/header/date/calendar-header-date-icon.tsx
  apps/web/src/components/Calendar/header/date/calendar-header-date.tsx
  apps/web/src/components/EventCalendar/EventCalendar.js
  apps/web/src/components/EventCalendar/index.js
  apps/web/src/components/StreamViewControls/StreamViewControls.js
  apps/web/src/components/ui/calendar.tsx
  apps/web/src/components/ui/toggle-group.tsx
  apps/web/src/components/ui/toggle.tsx
  apps/web/src/routes/GroupSettings/CustomViewsTab/CustomViewsTab.js
  apps/web/src/routes/Stream/Stream.js
  apps/web/tsconfig.json
  yarn.lock
Due: web-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
