Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

chore(mobile): Fixes PostEditor and image/file display issues, nudges PostPresenter forward
  apps/mobile/src/components/PostCard/PostCard.js
  apps/mobile/src/components/PostCard/PostCardForDetails.js
  apps/mobile/src/screens/PostEditor/PostEditor.js
  apps/mobile/src/screens/PostEditor/PostEditor.store.js
  packages/presenters/PostPresenter.js
Due: mobile-changed

chore(mobile): Changes "Post In" field in Post Editor to "To:" and moves to top of editor
  apps/mobile/src/screens/PostEditor/PostEditor.js
Due: mobile-changed

chore(mobile): Removes console.log
  apps/mobile/src/screens/PostEditor/PostEditor.store.js
Due: mobile-changed

chore(mobile): Fixes attachments loading validation check in PostEditor
  apps/mobile/src/components/ImagePicker/ImagePicker.js
  apps/mobile/src/screens/PostEditor/PostEditor.store.js
Due: mobile-changed

chore(shared/presenters): Adds notes PostPresenter date defaults
  packages/presenters/PostPresenter.js
Due: none

chore(mobile): Corrects iOS version numbers (pre-release identifiers not allowed)
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
Due: mobile-changed

Remove duplicate votes before adding unique constraing
  apps/backend/migrations/20250404122630_unique-vote-constraint.js
Due: backend-changed

Cache tagFollow loading on GroupTag to reduce num of queries
  apps/backend/api/models/GroupTag.js
Due: backend-changed

Move create modal into the view section of the layout
  apps/web/src/components/CreateModal/CreateModal.module.scss
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Allow view header to use lucide icon components
  apps/web/src/components/ViewHeader/ViewHeader.jsx
Due: web-changed

Make tracks view only visible to admins to start
  apps/backend/migrations/20250331172704_add-tracks-view-widget.js
Due: backend-changed

WIP track analytics
  packages/shared/src/constants.js
Due: none

Add shadcn radio group and checkbox
  apps/web/package.json
  apps/web/src/components/ui/checkbox.jsx
  apps/web/src/components/ui/radio-group.jsx
  yarn.lock
Due: web-changed

Fix duplicate import
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Track num people who completed a post
  apps/backend/api/graphql/mutations/post.js
  apps/web/src/routes/PostDetail/PostCompletion.jsx
Due: backend-changed, web-changed

Update to web@v6.0.3
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: web-changed

Update to backend@v6.0.3
  apps/backend/CHANGELOG.md
  apps/backend/package.json
Due: backend-changed

Tweaks to styling of more button in post header
  apps/web/src/components/Dropdown/Dropdown.js
  apps/web/src/components/Icon/Icon.module.scss
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
Due: web-changed

Tweaks to proposal creation
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Add tooltip prop to button component
  apps/web/src/components/ui/button-variants.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/tooltip.tsx
Due: web-changed

When an action is added to a track increment num_actions
  apps/backend/api/models/Track.js
Due: backend-changed

Add ability to publish/unpublish a track from the track list
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/mutations/track.js
  apps/backend/api/graphql/schema.graphql
  apps/web/src/components/TrackCard/TrackCard.jsx
  apps/web/src/routes/Tracks/Tracks.store.js
  apps/web/src/store/actions/trackActions.js
Due: backend-changed, web-changed

Don't include actions in create menu
  apps/web/src/components/CreateMenu/CreateMenu.jsx
Due: web-changed

Tracks view/widget only appears to admins until first track is published
  apps/backend/api/graphql/mutations/track.js
  apps/backend/api/models/ContextWidget.js
  apps/backend/api/models/Group.js
Due: backend-changed

Use custom action name throughout tracks
  apps/web/src/components/CreateModal/CreateModal.module.scss
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/PostTypeSelect/PostTypeSelect.jsx
  apps/web/src/components/TrackCard/TrackCard.jsx
  apps/web/src/routes/TrackHome/TrackHome.jsx
  apps/web/src/store/actions/fetchGroupTracks.js
  apps/web/src/store/actions/trackActions.js
Due: web-changed

Styling of track creation
  apps/web/src/components/CreateModal/CreateModal.js
  apps/web/src/components/CreateTrack/CreateTrack.js
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Cleanup of Tracks settings, Track Card and Track home
  apps/web/src/components/TrackCard/TrackCard.jsx
  apps/web/src/routes/GroupSettings/TracksTab/TracksTab.jsx
  apps/web/src/routes/TrackHome/TrackHome.jsx
  apps/web/src/routes/Tracks/Tracks.jsx
Due: web-changed

Real time show new action when added to a track
  apps/web/src/graphql/fragments/postFieldsFragment.js
  apps/web/src/graphql/mutations/createPostMutation.js
  apps/web/src/routes/TrackHome/TrackHome.jsx
  apps/web/src/routes/Tracks/Tracks.store.js
  apps/web/src/store/actions/createPost.js
Due: web-changed

Improvements to completion section when creating an action
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

More improvements to track home, about actions and edit mode as well as updates to the trackcard
  apps/web/src/components/TrackCard/TrackCard.jsx
  apps/web/src/routes/TrackHome/TrackHome.jsx
Due: web-changed

Only show unpublished tracks to stewards
  apps/web/src/routes/Tracks/Tracks.jsx
Due: web-changed

Show tracks icon in ContextMenu
  apps/web/src/components/WidgetIconResolver/WidgetIconResolver.jsx
  packages/presenters/ContextWidgetPresenter.js
Due: web-changed

Show track banner on about page
  apps/web/src/routes/TrackHome/TrackHome.jsx
Due: web-changed

Fixed up the action creation
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Fix banner positioning
  apps/web/src/routes/TrackHome/TrackHome.jsx
Due: web-changed

Allow for completing an action by commenting
  apps/backend/api/models/Post.js
  apps/backend/api/models/comment/createComment.js
  apps/web/src/store/reducers/ormReducer/index.js
Due: backend-changed, web-changed

Complete reaction completion action
  apps/backend/api/models/Post.js
  apps/web/src/store/reducers/ormReducer/index.js
Due: backend-changed, web-changed

Add text response completion action
  apps/web/src/routes/PostDetail/PostCompletion.jsx
  apps/web/src/store/models/Post.js
Due: web-changed

Should your completion response on completed actions
  apps/web/src/routes/PostDetail/PostCompletion.jsx
Due: web-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
