Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Chat activity cards: match post-card chrome
  apps/web/src/components/PostCard/ChatActivityCard/ChatActivityCard.js
Due: web-changed

Opening a space on mobile shows the space's menu instead of immediately showing home view
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MenuLink/MenuLink.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MoreViewsPage.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/groupViewMenuUrl.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/groupViewMenuUrl.test.js
Due: web-changed

Moderation actions for spaces appear in the parent's moderation queue too
  apps/backend/api/models/Group.js
  apps/backend/api/models/GroupMembership.js
  apps/backend/api/services/Search/forModerationActions.js
  apps/backend/api/services/Search/forModerationActions.test.js
  apps/backend/test/unit/models/Group.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/FlagGroupContent/FlagGroupContent.js
  apps/web/src/components/ModerationListItem/ModerationListItem.js
  apps/web/src/components/PostBigGridItem/PostBigGridItem.js
  apps/web/src/components/PostCard/PostCard.jsx
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.store.js
  apps/web/src/components/PostGridItem/PostGridItem.js
  apps/web/src/components/PostListRow/PostListRow.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
  apps/web/src/routes/FundingRoundSubmissionsView/SubmissionCard.jsx
  apps/web/src/routes/GroupSettings/GroupSettings.js
  apps/web/src/routes/Moderation/Moderation.jsx
  apps/web/src/routes/PostDetail/PostDetail.js
  apps/web/src/store/actions/moderationActions/index.js
  apps/web/src/store/selectors/getModerationActions.js
Due: backend-changed, web-changed

Chat composer: grow with the formatting toolbar; prune phone tools
  apps/web/src/components/HyloEditor/HyloEditorMenuBar.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Chat activity cards: "Recently in <group>" heading, hover View activity link
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/PostCard/ChatActivityCard/ChatActivityCard.js
Due: web-changed

About redesign: banner + tab menu for groups and spaces
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/GroupAboutView/GroupAboutView.jsx
  apps/web/src/components/GroupAboutView/index.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/SpaceSettingsModal.jsx
  apps/web/src/routes/GroupAboutPage/GroupAboutPage.jsx
  apps/web/src/routes/GroupAboutPage/index.js
  apps/web/src/routes/SpaceAboutModal/SpaceAboutModal.jsx
Due: web-changed

About: About tab first; dialog members default to list view
  apps/web/src/components/GroupAboutView/GroupAboutView.jsx
  apps/web/src/routes/Members/Members.js
  apps/web/src/routes/SpaceAboutModal/SpaceAboutModal.jsx
Due: web-changed

About nav border-2; banner name stays white; space header tile loses its border
  apps/web/src/components/GroupAboutView/GroupAboutView.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuGrid.jsx
Due: web-changed

About nav: ViewHeader drop shadow instead of border-bottom
  apps/web/src/components/GroupAboutView/GroupAboutView.jsx
Due: web-changed

Moderation cards: hover z stays below sticky headers
  apps/web/src/components/ModerationListItem/ModerationListItem.js
Due: web-changed

Menu rows: alert badge without the orange border
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MenuLink/MenuLink.jsx
Due: web-changed

Global nav system buttons: dark tiles in both color schemes
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
Due: web-changed

Can't remove home view when creating a space
  apps/web/src/components/IncludedViewsEditor/IncludedViewsEditor.jsx
Due: web-changed

Context menu: gradient on the scroll container, not the content column
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Chat presence: roster-only strip, scoped typing, faster staleness
  apps/backend/api/controllers/GroupController.js
  apps/backend/api/models/Post.js
  apps/backend/config/sockets.js
  apps/web/src/components/PeopleTyping/PeopleTyping.js
  apps/web/src/components/PeopleTyping/PeopleTyping.store.js
  apps/web/src/components/SocketListener/SocketListener.js
  apps/web/src/components/SocketSubscriber/SocketSubscriber.js
  apps/web/src/routes/ChatRoom/ChatMembersPanel.jsx
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/Messages/Messages.js
  apps/web/src/routes/Messages/MessagesMobile.js
Due: backend-changed, web-changed

Can move spaces from menu to More Spaces in one column layout
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuGrid.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/GroupViewCard.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/GroupViewEditList.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/SortableViewsGrid.jsx
Due: web-changed

Can move spaces from menu to More Spaces in one column layout
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/SortableViewsGrid.jsx
Due: web-changed

Missing prop
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/GroupViewCard.jsx
Due: web-changed

About tab redesigned per the prototype; header surfaces join the menu tonal family
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/GroupAboutView/GroupAboutView.jsx
  apps/web/src/components/ViewHeader/ViewHeader.jsx
Due: web-changed

Stream controls: always one row on phones
  apps/web/src/components/StreamViewControls/StreamViewControls.js
Due: web-changed

Image lightbox: scrim covers the post dialog
  apps/web/src/components/CardImageAttachments/CardImageAttachments.js
Due: web-changed

Fix warnings and improve performance and clean up old names
  apps/web/e2e/verify-menu-changes.spec.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
  apps/web/src/components/ViewHeader/ViewHeader.jsx
  apps/web/src/hooks/useGroupViews.js
  apps/web/src/hooks/useMoreSpacesSections.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddSpaceDialog.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MoreSpacesPage.jsx
  apps/web/src/routes/FundingRoundSubmissionsView/FundingRoundSubmissionsView.jsx
  apps/web/src/routes/GroupWelcomePage/GroupWelcomePage.jsx
  apps/web/src/store/selectors/getGroupViews.js
  apps/web/src/store/selectors/getMoreSpacesSections.js
  apps/web/src/store/util/groupViewsOrder.js
  apps/web/src/util/spaceVisibility.js
Due: web-changed

Update announcement warning text
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/SendAnnouncementModal/SendAnnouncementModal.js
  apps/web/src/components/SendAnnouncementModal/SendAnnouncementModal.test.js
Due: web-changed, mobile-changed

Improve performance of active user tracking and sockets
  apps/backend/api/controllers/GroupController.js
  apps/backend/api/graphql/mutations/group_views.js
  apps/backend/api/graphql/mutations/spaces.js
  apps/backend/api/models/post/createPost.js
  apps/backend/api/models/post/deletePost.js
  apps/web/src/components/SocketListener/SocketListener.js
  apps/web/src/components/SocketListener/SocketListener.store.js
  apps/web/src/components/SocketListener/SocketListener.store.test.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/ChatRoom/RoomPresence.store.js
  packages/shared/src/unreadViewHelpers.js
  packages/shared/src/unreadViewHelpers.test.js
Due: backend-changed, web-changed

Members view shows active member pills
  apps/web/src/components/CurrentlyActiveMembers/CurrentlyActiveMembers.jsx
  apps/web/src/components/CurrentlyActiveMembers/CurrentlyActivePills.jsx
  apps/web/src/components/CurrentlyActiveMembers/index.js
  apps/web/src/components/InviteMembersPopover/InviteMembersPopover.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuGrid.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/GroupViewCard.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/SortableViewsGrid.jsx
  apps/web/src/routes/ChatRoom/ChatMembersPanel.jsx
  apps/web/src/routes/Members/Members.js
  apps/web/src/routes/Members/Members.store.js
  apps/web/src/store/reducers/queryResults.js
Due: web-changed

Fix in-app chat notifications
  apps/backend/api/models/Activity.js
  apps/backend/api/models/Post.js
  apps/backend/api/services/Frontend.js
  apps/backend/package.json
  apps/backend/test/unit/models/Activity.test.js
  apps/backend/test/unit/models/Post.test.js
  apps/mobile/src/screens/NotificationsList/NotificationsList.store.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationsDropdown.store.js
  apps/web/src/store/models/Group.js
  packages/graphql/fragments/notificationFieldsFragment.js
  packages/navigation/src/index.js
  packages/navigation/src/navigation.test.js
  packages/presenters/src/NotificationPresenter.js
Due: backend-changed, web-changed, mobile-changed

Add space collection type view
  apps/backend/api/models/GroupView.js
  apps/backend/migrations/20260703000000_migrate_context_widgets_to_group_views.js
  apps/backend/migrations/scripts/rollbackSpecificMigration.js
  apps/backend/package.json
  apps/web/e2e/space-collection.spec.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/SpaceSelector/SpaceSelector.jsx
  apps/web/src/components/SpaceSelector/SpaceSelector.test.js
  apps/web/src/components/SpaceSelector/index.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddGroupViewDialog.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddSpaceCollectionDialog.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddSpaceDialog.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuGrid.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/GroupViewCard.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/GroupViewEditList.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MoreSpacesPage.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/groupViewMenuUrl.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/groupViewMenuUrl.test.js
  apps/web/src/routes/SpaceCollection/SpaceCollection.jsx
  apps/web/src/routes/SpaceCollection/index.js
  apps/web/src/routes/SpaceContent/SpaceContent.js
  apps/web/src/store/actions/fetchGroupSpaces.js
  apps/web/src/store/actions/fetchGroupViews.js
  apps/web/src/store/actions/fetchGroupsMenuData.js
  apps/web/src/store/actions/groupViews.js
  apps/web/src/store/models/GroupView.js
  apps/web/src/util/spaceCollection.js
  apps/web/src/util/spaceCollection.test.js
  packages/navigation/src/index.js
  packages/navigation/src/navigation.test.js
  packages/presenters/src/GroupViewPresenter.js
  packages/shared/src/unreadViewHelpers.js
  packages/shared/src/unreadViewHelpers.test.js
Due: backend-changed, web-changed

If going to a space from a different group then pressing back to parent group go to parent group not to last page
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuGrid.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/groupViewMenuUrl.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/groupViewMenuUrl.test.js
Due: web-changed

Add funding round details tab to space About view
  apps/web/src/components/FundingRoundAboutInfo/FundingRoundAboutInfo.jsx
  apps/web/src/components/GroupAboutView/GroupAboutView.jsx
  apps/web/src/routes/GroupAboutPage/GroupAboutPage.jsx
Due: web-changed

Updates to spaces and views spec
  docs/spaces-and-views-engineering-spec.md
Due: none

Validate post type acceptance in group/space on backend when creating a post
  apps/backend/api/models/post/createPost.js
  apps/backend/api/models/post/createPost.test.js
  apps/backend/api/models/post/validatePostData.js
  apps/backend/api/models/post/validatePostData.test.js
Due: backend-changed

Redirect old routes all-views, tracks, funding-rounds, all-topics to /more-spaces
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  docs/spaces-and-views-engineering-spec.md
Due: web-changed

Initial plan and seed for the sandbox
  apps/web/src/sandbox/seed/README.md
  apps/web/src/sandbox/seed/constants.js
  apps/web/src/sandbox/seed/en/comments.js
  apps/web/src/sandbox/seed/en/fundingRounds.js
  apps/web/src/sandbox/seed/en/groups.js
  apps/web/src/sandbox/seed/en/index.js
  apps/web/src/sandbox/seed/en/messageThreads.js
  apps/web/src/sandbox/seed/en/people.js
  apps/web/src/sandbox/seed/en/posts.js
  apps/web/src/sandbox/seed/en/tracks.js
  apps/web/src/sandbox/seed/helpers.js
  apps/web/src/sandbox/seed/index.js
  docs/sandbox-mode-proposal.md
Due: web-changed

Get email digest and chat digest working for spaces!
  apps/backend/api/models/GroupViewUser.js
  apps/backend/api/models/Post.js
  apps/backend/api/services/Email.js
  apps/backend/api/services/Frontend.js
  apps/backend/cron.js
  apps/backend/lib/group/digest2/formatData.js
  apps/backend/lib/group/digest2/index.js
  apps/backend/lib/group/digest2/personalizeData.js
  apps/backend/lib/group/digest2/sampleData.json
  apps/backend/lib/group/digest2/util.js
  apps/backend/package.json
  apps/backend/scripts/sendDailyDigest.js
  apps/backend/test/unit/models/GroupViewUser.test.js
  apps/backend/test/unit/services/digest2.test.js
  apps/web/e2e/authenticated.group-workspace.spec.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  package.json
  scripts/i18n/i18n-templates/Digest_Email_i18n/html.liquid
  scripts/i18n/i18n-templates/Digest_Email_i18n/macro_post_card.snippet.liquid
  scripts/i18n/i18n-templates/Digest_Email_i18n/template_data.json
  scripts/i18n/i18n-templates/New_Chats_in_Chat_Room_Digest_i18n/html.liquid
  scripts/i18n/i18n-templates/New_Chats_in_Chat_Room_Digest_i18n/subject.liquid
  scripts/i18n/i18n-templates/New_Chats_in_Chat_Room_Digest_i18n/template_data.json
  scripts/i18n/sendwithus-locales/de-DE.po
  scripts/i18n/sendwithus-locales/en-US.po
  scripts/i18n/sendwithus-locales/es-ES.po
  scripts/i18n/sendwithus-locales/fr-FR.po
  scripts/i18n/sendwithus-locales/hi-IN.po
  scripts/i18n/sendwithus-locales/pt-BR.po
  scripts/i18n/sendwithus-locales/template.pot
Due: backend-changed, web-changed

About view: every tab panel shares the nav column width
  apps/web/src/components/GroupAboutView/GroupAboutView.jsx
Due: web-changed

Pinned posts, per the prototype
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/Dropdown/Dropdown.js
  apps/web/src/components/PostCard/PostCard.jsx
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
  apps/web/src/graphql/fragments/chatRoomPostFieldsFragment.js
  apps/web/src/graphql/fragments/groupViewPostsQueryFragment.js
  apps/web/src/graphql/fragments/postCardFieldsFragment.js
  apps/web/src/graphql/fragments/postFieldsFragment.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/ChatRoom/PinnedPostChips.jsx
  apps/web/src/store/actions/fetchPosts.js
  apps/web/src/store/actions/pinPost.js
  apps/web/src/store/constants.js
  apps/web/src/store/presenters/presentPost.js
  apps/web/src/store/reducers/ormReducer/index.js
  apps/web/src/store/selectors/getPinnedPosts.js
Due: web-changed

ViewHeader: view icon on a post-type-tinted tile
  apps/web/src/components/ViewHeader/ViewHeader.jsx
Due: web-changed

Backend: revive post pinning
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/services/Search/forPosts.js
  apps/backend/api/services/Search/util.js
Due: backend-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
