Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

reverse hide/show calsub link button
  apps/web/src/components/StreamViewControls/StreamViewControls.js
Due: web-changed

add setting for event RSVPs by email
  apps/backend/api/graphql/mutations/membership.js
  apps/backend/api/graphql/schema.graphql
  apps/web/src/graphql/queries/MeQuery.js
  apps/web/src/routes/UserSettings/NotificationSettingsTab/MembershipSettingRow.jsx
  apps/web/src/routes/UserSettings/NotificationSettingsTab/NotificationSettingsTab.js
  apps/web/src/routes/UserSettings/UserSettings.store.js
  apps/web/src/store/actions/fetchUserSettings.js
  packages/graphql/fragments/membershipFieldsFragment.js
Due: backend-changed, web-changed

update yarn lock
  yarn.lock
Due: none

Remove ~ from day picker package.json entry
  apps/web/package.json
  yarn.lock
Due: web-changed

Enable access control for tracks
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/contentAccess.js
  apps/backend/api/graphql/queries/stripe.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/StripeProduct.js
  apps/backend/api/models/Track.js
  apps/backend/migrations/20251110143610_backfill-user-scopes.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/TrackEditor/TrackEditor.js
  apps/web/src/routes/TrackHome/TrackHome.jsx
  apps/web/src/routes/TrackHome/TrackPaywallOfferingsSection.jsx
  packages/graphql/fragments/trackFieldsFragment.js
Due: backend-changed, web-changed

Fix access to admin view of kue jobs
  apps/backend/api/controllers/AdminSessionController.js
  apps/backend/api/policies/isAdmin.js
  apps/backend/api/services/Admin.js
  apps/backend/api/services/UserSession.js
  apps/backend/config/customMiddleware.js
  apps/web/src/server/apiProxy.js
Due: backend-changed, web-changed

Fix bug in calendar stuff + linting
  apps/backend/api/graphql/mutations/event.js
  apps/backend/api/models/Post.js
  apps/backend/api/models/User.js
Due: backend-changed

Cleaned up hover style of postCard
  apps/web/src/components/PostCard/PostCard.jsx
Due: web-changed

Cleaned up the date display to be legible on bg-card
  apps/web/src/components/PostCard/EventDate/EventDate.js
Due: web-changed

Added a fade in to postdialog to make it a bit nicer feeling
  apps/web/src/components/PostDialog/PostDialog.jsx
Due: web-changed

Prettified the PostListRow
  apps/web/src/components/PostListRow/PostListRow.js
Due: web-changed

Fixed styling of members widget
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Removed a previous test for scrollbar styling
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

Fixed up stream for postBigGrid and PostGrid
  apps/web/src/components/PostBigGridItem/PostBigGridItem.js
  apps/web/src/components/PostGridItem/PostGridItem.js
  apps/web/src/routes/Stream/Stream.js
  apps/web/src/store/presenters/presentPost.js
Due: web-changed

allow for youtu.be URLs in embedded videos
  apps/web/src/components/HyloEditor/HyloEditorMenuBar.js
Due: web-changed

Make it more clear that you need an explanation when flagging a post
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/FlagGroupContent/FlagGroupContent.js
Due: web-changed

Tweak positioning of group settings menu more
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Fix breaking staging environment
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/models/Post.js
  apps/backend/api/models/Tag.js
  apps/backend/api/models/event/mixin.js
  apps/backend/api/models/post/createPost.js
  apps/backend/api/models/post/updatePost.js
  apps/backend/api/policies/checkAndSetMembership.js
  apps/backend/config/kue.js
  apps/backend/worker.js
Due: backend-changed

Web and backend v6.2.5
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

Fixed dropdown and chatpost hover styling
  apps/web/src/components/Dropdown/Dropdown.js
  apps/web/src/components/Member/Member.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
  apps/web/src/routes/GroupSettings/RelatedGroupsTab/RelatedGroupsTab.js
  apps/web/src/routes/MemberProfile/MemberProfile.js
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.jsx
Due: web-changed

Allow admins to grant access to paywall group or access controlled tracks
  apps/web/src/components/ItemSelector/ItemSelector.js
  apps/web/src/components/ItemSelector/index.js
  apps/web/src/graphql/queries/PeopleAutocompleteQuery.js
  apps/web/src/routes/GroupSettings/PaidContentTab/ContentAccessTab.js
  apps/web/src/store/actions/fetchPeopleAutocomplete.js
  apps/web/src/store/actions/grantContentAccess.js
  apps/web/src/store/constants.js
Due: web-changed

Allow admins to invite users to their group AND add a role
  apps/backend/api/graphql/mutations/contentAccess.js
  apps/backend/api/graphql/mutations/invitation.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Invitation.js
  apps/backend/api/services/InvitationService.js
  apps/backend/migrations/20260102150000_add-role-id-to-group-invites.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/GroupDetail/GroupDetail.js
  apps/web/src/routes/GroupDetail/JoinSection.jsx
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.connector.js
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.js
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.store.js
  apps/web/src/store/actions/checkInvitation.js
  docs/INVITATION_LINKS_ARCHITECTURE.md
Due: backend-changed, web-changed

Don't lose scroll position in funding round submissions when opening and closing a submission
  apps/web/src/routes/FundingRoundHome/FundingRoundHome.jsx
  apps/web/src/routes/FundingRoundHome/SubmissionsTab.jsx
Due: web-changed

Add my transactions to user menu, and display transactions and subscriptions
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/queries/index.js
  apps/backend/api/graphql/queries/transactions.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/services/StripeService.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/MyTransactions/MyTransactions.jsx
  apps/web/src/routes/MyTransactions/index.js
  apps/web/src/store/actions/fetchMyTransactions.js
  apps/web/src/store/reducers/index.js
  apps/web/src/store/reducers/myTransactions.js
  packages/presenters/src/ContextWidgetPresenter.js
Due: backend-changed, web-changed

Update backend readme with stripe details
  apps/backend/README.md
Due: backend-changed

Allow users to see their transaction/subscriptions, and manage subscriptions via the Stripe portal
  apps/backend/api/controllers/StripeController.js
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/queries/transactions.js
  apps/backend/api/graphql/schema.graphql
  apps/web/src/graphql/queries/contentAccessQuery.js
  apps/web/src/routes/GroupSettings/PaidContentTab/ContentAccessTab.js
  apps/web/src/routes/MyTransactions/MyTransactions.jsx
  apps/web/src/store/actions/fetchMyTransactions.js
Due: backend-changed, web-changed

Add funding round setting to hide final voting results from participants
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/migrations/20260101225255_add_hide_final_results_to_funding_rounds.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/FundingRoundEditor/FundingRoundEditor.jsx
  apps/web/src/routes/FundingRoundHome/SubmissionCard.jsx
  apps/web/src/routes/FundingRoundHome/SubmissionsTab.jsx
  apps/web/src/routes/FundingRounds/FundingRounds.store.js
  apps/web/src/store/actions/fetchGroupFundingRounds.js
  apps/web/src/store/models/FundingRound.js
  packages/graphql/queries/fetchFundingRoundQuery.js
  packages/graphql/queries/groupFundingRoundsQuery.js
Due: backend-changed, web-changed

Add funding round setting to control whether people can vote on their own submissions
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/fundingRound.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/migrations/20260101230000_add_allow_self_voting_to_funding_rounds.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/FundingRoundEditor/FundingRoundEditor.jsx
  apps/web/src/routes/FundingRoundHome/FundingRoundHome.jsx
  apps/web/src/routes/FundingRoundHome/SubmissionCard.jsx
  apps/web/src/routes/FundingRounds/FundingRounds.store.js
  apps/web/src/store/actions/fetchGroupFundingRounds.js
  apps/web/src/store/models/FundingRound.js
  packages/graphql/queries/fetchFundingRoundQuery.js
  packages/graphql/queries/groupFundingRoundsQuery.js
Due: backend-changed, web-changed

Prevent scroll wheel from changing vote amount on submission card
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/FundingRoundHome/FundingRoundHome.jsx
  apps/web/src/routes/FundingRoundHome/SubmissionCard.jsx
Due: web-changed

Cleaned up avatar and roundImage styling, updated with tailwind and set up some props that weren't all the way wired
  apps/web/src/components/Avatar/Avatar.js
  apps/web/src/components/RoundImage/RoundImage.js
  apps/web/src/components/RoundImageRow/RoundImageRow.js
Due: web-changed

Cleaned up styling of pills to take up a little bit less space to tighten up the design
  apps/web/src/components/EmojiPill/EmojiPill.js
  apps/web/src/components/Pill/Pill.js
Due: web-changed

Added "chat" to the PostCard
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Modified counter for funding rounds to have a background
  apps/web/src/routes/FundingRounds/FundingRounds.jsx
Due: web-changed

Changed hover color from hover:border-foreground/100 to hover:border-foreground/50
  apps/web/src/components/CreateMenu/CreateMenu.jsx
  apps/web/src/components/GroupCard/GroupCard.js
  apps/web/src/components/MultiSelect/MultiSelect.js
  apps/web/src/components/PostBigGridItem/PostBigGridItem.js
  apps/web/src/components/PostCard/PostCard.jsx
  apps/web/src/components/PostGridItem/PostGridItem.js
  apps/web/src/components/PostListRow/PostListRow.js
  apps/web/src/components/ThemeSelector/ThemeSelector.js
  apps/web/src/components/ui/button-variants.tsx
  apps/web/src/routes/AllView/AllView.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/CreateGroup/CreateGroup.jsx
  apps/web/src/routes/FundingRoundHome/ManageTab.jsx
  apps/web/src/routes/FundingRoundHome/SubmissionsTab.jsx
  apps/web/src/routes/FundingRounds/FundingRounds.jsx
  apps/web/src/routes/GroupSettings/AgreementsTab/AgreementsTab.js
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.js
  apps/web/src/routes/GroupSettings/ResponsibilitiesTab/ResponsibilitiesTab.js
  apps/web/src/routes/GroupSettings/RolesSettingsTab/RolesSettingsTab.js
  apps/web/src/routes/GroupSettings/TracksTab/TracksTab.jsx
  apps/web/src/routes/MapExplorer/MapExplorer.js
  apps/web/src/routes/MemberProfile/MemberProfile.js
  apps/web/src/routes/PostDetail/PostDetail.js
  apps/web/src/routes/Search/Search.js
  apps/web/src/routes/TrackHome/TrackHome.jsx
  apps/web/src/routes/Tracks/Tracks.jsx
  apps/web/src/routes/WelcomeWizardRouter/WelcomeWizardModalFooter/index.js
Due: web-changed

Fixed styling of number counts for votes, participants in funding rounds
  apps/web/src/routes/FundingRoundHome/FundingRoundHome.jsx
Due: web-changed

Add optional donations to hylo transactions
  apps/backend/api/controllers/StripeController.js
  apps/backend/api/services/InvitationService.js
  apps/backend/api/services/StripeService.js
  apps/web/src/routes/OfferingDetails/OfferingDetails.jsx
  apps/web/src/routes/TrackHome/TrackHome.jsx
Due: backend-changed, web-changed

Fix pluralization of funding ound participants
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/FundingRounds/FundingRounds.jsx
Due: web-changed

If allow self voting set to false during voting phase return votes to self submissions
  apps/backend/api/graphql/mutations/fundingRound.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/FundingRoundEditor/FundingRoundEditor.jsx
Due: backend-changed, web-changed

Add emails to many of the paid content actions
  apps/backend/api/controllers/StripeController.js
  apps/backend/api/graphql/mutations/contentAccess.js
  apps/backend/api/models/ContentAccess.js
  apps/backend/api/services/Email.js
  apps/backend/api/services/StripeService.js
  apps/backend/cron.js
  apps/backend/lib/i18n/en.js
  apps/backend/lib/i18n/es.js
Due: backend-changed

Fixed transparency issue on the contextMenu by wrapping the content and moving the gradient into its own element
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed
