Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

Use background instead of foreground in theme color swatches
  apps/web/src/components/ThemeSelector/ThemeSelector.js
Due: web-changed

Moved Stone up near Default so monochromes are together
  apps/web/src/components/ThemeSelector/ThemeSelector.js
Due: web-changed

Fix ordering of color schemes
  apps/web/src/components/ThemeSelector/ThemeSelector.js
  apps/web/src/themes/index.js
Due: web-changed

Tweak language and add translations
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/ThemeSelector/ThemeSelector.js
  apps/web/src/contexts/ThemeContext.js
  apps/web/src/routes/UserSettings/ThemeTab/ThemeTab.js
Due: web-changed

Add new settings menu to global nav
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/PostCard/PostCard.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

Fix switch style on mobile
  apps/web/src/components/ui/switch.jsx
Due: web-changed

Fix hidden buttons on account settings on mobile
  apps/web/src/routes/UserSettings/AccountSettingsTab/AccountSettingsTab.js
Due: web-changed

Flesh out the paid content interactions with roles to make sure they actually work
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/contentAccess.js
  apps/backend/api/graphql/queries/contentAccess.js
  apps/backend/api/models/ContentAccess.js
  apps/backend/api/models/StripeProduct.js
  apps/backend/lib/scopes.js
  apps/backend/migrations/20260116151442_split_role_id_in_content_access.js
  apps/web/src/routes/GroupSettings/PaidContentTab/OfferingsTab.js
  apps/web/src/util/accessGrants.js
Due: backend-changed, web-changed

Web v6.3.0 - color schemes!
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: web-changed

Cleaned up Pill, moved styles out of Pill.module.scss into tailwind, changed emojiPill selected text color
  apps/web/src/components/EmojiPill/EmojiPill.js
  apps/web/src/components/Pill/Pill.js
  apps/web/src/components/Pill/Pill.module.scss
Due: web-changed

Cleaned up LinkPreview to not get so big when its hovered
  apps/web/src/components/LinkPreview/LinkPreview.js
Due: web-changed

Fixed the padding on Authlayoutrouter, chatroom and ChatPost to allow for hover state
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Add user select none to pill
  apps/web/src/components/Pill/Pill.js
Due: web-changed

Add migration to give every group a calendar token
  apps/backend/migrations/20260116120000_backfill_calendar_tokens_for_groups.js
Due: backend-changed

Fix last migration
  apps/backend/migrations/20260116120000_backfill_calendar_tokens_for_groups.js
Due: backend-changed

Add support for German, French, Hindi and Portugese languages
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/i18n.mjs
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/LocaleDropdown/LocaleDropdown.js
  apps/web/src/routes/UserSettings/LocaleTab/LocaleTab.jsx
Due: web-changed

Lint
  scripts/i18n/auto-translate-locale.js
Due: none

Add filters to user transactions list
  apps/backend/api/graphql/queries/transactions.js
  apps/backend/api/graphql/schema.graphql
  apps/web/src/routes/MyTransactions/MyTransactions.jsx
  apps/web/src/store/actions/fetchMyTransactions.js
Due: backend-changed, web-changed

Add filters to my transactions user tab; re-position tab in user menu
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/contentAccess.js
  apps/backend/api/graphql/queries/contentAccess.js
  apps/backend/api/graphql/schema.graphql
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  packages/presenters/src/ContextWidgetPresenter.js
Due: backend-changed, web-changed

Set general topic as default for all posts
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/ToField/ToField.js
Due: web-changed

Filter out general pills from TO field
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Put current group topics at top of TO field selector
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Open draw on zoomed in cluster marker click, for mobile map views
  apps/web/src/routes/MapExplorer/MapExplorer.js
Due: web-changed

Backend allows group creation with selected home views
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Group.js
Due: backend-changed

Allow users to select home view in group creation flow
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/CreateGroup/CreateGroup.jsx
Due: web-changed

Tweaks to allow users to pick their home view when chat is created
  apps/backend/api/models/Group.js
  apps/web/src/routes/CreateGroup/CreateGroup.jsx
Due: backend-changed, web-changed

Let user know they can change homeview later
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/CreateGroup/CreateGroup.jsx
Due: web-changed

Fix display of edit and delete icons in comment hover menu
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.jsx
Due: web-changed

Fix bug in last commit that always shows comment hover menus
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.jsx
Due: web-changed

Lint fix
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.jsx
Due: web-changed

Improve styling of people typing text in messages and comment form
  apps/web/src/components/PeopleTyping/PeopleTyping.js
  apps/web/src/components/PeopleTyping/PeopleTyping.module.scss
  apps/web/src/routes/Messages/Messages.js
  apps/web/src/routes/Messages/Messages.module.scss
  apps/web/src/routes/PostDetail/Comments/Comments.module.scss
Due: web-changed

Remove docs from other branch
  docs/20250209 - Milestones - Workspace Post Type.md
  docs/20250209 - Spec - Workspace Post Type.md
Due: none

Remove script from other branch
  fix-mobile-setup.sh
Due: none

Revert accidental changes to fundingRound.js
  apps/backend/api/graphql/mutations/fundingRound.js
Due: backend-changed

Revert accidental changes to schema.graphql
  apps/backend/api/graphql/schema.graphql
Due: backend-changed

Review tweaks for making the general topic the default
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Also align TO field pill choices with general topic as default
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Review clean up
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Group.js
Due: backend-changed
