Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

fix(mobile, shared): Fix comments to default to currentGroup for moderation permissions. Add My Group to context group set (shared)
  apps/mobile/src/components/Comment/Comment.js
  apps/mobile/src/components/Comments/Comments.js
  apps/mobile/src/components/StreamList/StreamList.store.js
  apps/mobile/src/screens/PostDetails/PostDetails.js
  apps/mobile/src/screens/ThreadList/ThreadList.js
  apps/mobile/src/urql-shared/presenters/GroupPresenter.js
  apps/mobile/src/util/navigation.js
  packages/shared/src/constants.js
Due: mobile-changed

Fix my global nav and clean up more
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

Rename PostDetails to PostContent
  apps/web/src/components/PostCard/EventBody/EventBody.js
  apps/web/src/components/PostCard/PostBody/PostBody.js
  apps/web/src/components/PostCard/PostContent/PostContent.jsx
  apps/web/src/components/PostCard/PostContent/PostContent.module.scss
  apps/web/src/components/PostCard/PostContent/PostContent.test.js
  apps/web/src/components/PostCard/PostContent/index.js
  apps/web/src/components/PostCard/PostDetails/index.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/FullPageModal/FullPageModal.js
Due: web-changed

Member widget URLs open in right group context
  apps/web/src/util/navigation.js
Due: web-changed

More fixes
  apps/web/src/components/Widget/Widget.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MenuLink/MenuLink.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
  apps/web/tailwind.config.js
Due: web-changed

More fixes to context menu
  apps/web/src/components/ViewHeader/ViewHeader.jsx
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/tailwind.config.js
Due: web-changed

Use postdetail dialog on stream and member profile, not drawer
  apps/web/package.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/AttachmentManager/AttachmentManager.connector.js
  apps/web/src/components/AttachmentManager/AttachmentManager.js
  apps/web/src/components/AttachmentManager/AttachmentManager.jsx
  apps/web/src/components/AttachmentManager/AttachmentManager.test.js
  apps/web/src/components/AttachmentManager/FileManager.jsx
  apps/web/src/components/AttachmentManager/FilePreview.jsx
  apps/web/src/components/AttachmentManager/ImageManager.jsx
  apps/web/src/components/AttachmentManager/ImagePreview.jsx
  apps/web/src/components/AttachmentManager/index.js
  apps/web/src/components/PostCard/PostBody/PostBody.module.scss
  apps/web/src/components/PostCard/PostCard.jsx
  apps/web/src/components/PostDialog/PostDialog.jsx
  apps/web/src/css/global/index.scss
  apps/web/src/hooks/useRouteParams/index.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/GroupSettings/GroupSettings.store.js
  apps/web/src/routes/MapExplorer/MapExplorer.module.scss
  apps/web/src/routes/MemberProfile/MemberProfile.js
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.connector.js
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.js
  apps/web/src/routes/PostDetail/Comments/CommentForm/index.js
  apps/web/src/routes/PostDetail/PostDetail.js
  apps/web/src/routes/Stream/Stream.js
  apps/web/src/routes/Stream/Stream.module.scss
  apps/web/src/util/contextWidgets.js
  yarn.lock
Due: web-changed

Fix links to members in context menu
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Lint fixes
  apps/web/src/components/AttachmentManager/index.js
  apps/web/src/router/index.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MenuLink/MenuLink.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MenuLink/index.js
Due: web-changed

GroupChatLanding, group chat creation modal in progress
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/EditGroupChat/EditGroupChat.jsx
  apps/web/src/components/EditGroupChat/index.js
  apps/web/src/hooks/useRouteParams/index.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/GroupChatLanding/GroupChatLanding.jsx
  apps/web/src/routes/GroupChatLanding/index.jsx
  apps/web/src/routes/Messages/Messages.js
  apps/web/src/store/actions/fetchGroupChats.js
  apps/web/src/store/constants.js
  apps/web/src/store/models/Group.js
  apps/web/src/store/models/GroupChat.js
  apps/web/src/store/models/index.js
  apps/web/src/store/selectors/contextWidgetSelectors.js
Due: web-changed

feat(hylo-shared): Add Me context group to shard helper
  apps/mobile/src/urql-shared/presenters/GroupPresenter.js
Due: mobile-changed

fix(mobile): Update dependencies
  apps/mobile/package.json
  yarn.lock
Due: mobile-changed

chore(web): Move HyloEditorMobile into routes
  apps/web/src/components/HyloEditor/HyloEditorRender.js
  apps/web/src/router/Root.jsx
  apps/web/src/routes/HyloEditorMobile/HyloEditorMobile.js
  apps/web/src/routes/HyloEditorMobile/HyloEditorMobile.module.scss
  apps/web/src/routes/HyloEditorMobile/index.js
Due: web-changed

Updated dependencies to allow ios build
  apps/mobile/ios/Podfile.lock
Due: mobile-changed

Fixing things up!
  apps/web/src/components/HyloEditor/HyloEditor.js
  apps/web/src/components/HyloEditor/HyloEditorMenuBar.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/tailwind.config.js
Due: web-changed

yarn deduped and added <BrowserRoute> as a provider
  apps/web/src/router/index.js
  yarn.lock
Due: web-changed

First dm created
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Group.js
  apps/backend/config/locales/fr.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/EditGroupChat/EditGroupChat.jsx
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/store/actions/fetchPosts.js
  apps/web/src/util/navigation.js
Due: backend-changed, web-changed

Fix bug seeing group explorer when not logged in
  apps/web/src/routes/PublicLayoutRouter/PublicLayoutRouter.js
Due: web-changed

UPdate to version 5.11.1
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: web-changed

Add group header to context menu
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/GroupMenuHeader/GroupMenuHeader.jsx
  apps/web/src/components/GroupMenuHeader/GroupMenuHeader.module.scss
  apps/web/src/components/GroupMenuHeader/GroupMenuHeader.test.js
  apps/web/src/components/GroupMenuHeader/index.js
  apps/web/src/components/SuggestedSkills/SuggestedSkills.jsx
  apps/web/src/components/SuggestedSkills/SuggestedSkills.module.scss
  apps/web/src/components/SuggestedSkills/index.js
  apps/web/src/components/Widget/JoinWidget/JoinWidget.js
  apps/web/src/css/typography.scss
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.module.scss
  apps/web/src/routes/GroupDetail/GroupDetail.js
  apps/web/src/routes/GroupDetail/GroupDetail.module.scss
  apps/web/src/routes/GroupDetail/JoinSection.jsx
  apps/web/src/routes/GroupWelcomeModal/GroupWelcomeModal.js
  apps/web/tailwind.config.js
Due: web-changed

Ensure all view widget-add still works
  apps/web/src/routes/AllView/AllView.jsx
Due: web-changed

chore(mobile): Update WebView dependency to latest
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/src/components/HyloWebView/HyloWebView.js
  yarn.lock
Due: mobile-changed

fix(web): HyloEditorMobile moves to create ready instead of onBeforeCreate, fixes #109
  apps/web/src/components/HyloEditor/HyloEditor.js
  apps/web/src/components/HyloEditor/HyloEditorMobile.js
Due: web-changed

fix(mobile): Parent comment id
  apps/mobile/src/components/CommentEditor/CommentEditor.js
  apps/mobile/src/components/Comments/Comments.js
Due: mobile-changed

Updated Stream component
  apps/backend/api/models/Group.js
  apps/web/src/components/GroupBanner/GroupBanner.jsx
  apps/web/src/components/GroupBanner/GroupBanner.module.scss
  apps/web/src/components/GroupBanner/GroupBanner.test.js
  apps/web/src/components/GroupBanner/index.js
  apps/web/src/components/GroupMenuHeader/GroupMenuHeader.module.scss
  apps/web/src/components/GroupMenuHeader/GroupMenuHeader.test.js
  apps/web/src/components/PostCard/PostCard.jsx
  apps/web/src/components/StreamViewControls/StreamViewControls.js
  apps/web/src/components/StreamViewControls/StreamViewControls.module.scss
  apps/web/src/components/SwitchStyled/SwitchStyled.js
  apps/web/src/components/ViewHeader/ViewHeader.jsx
  apps/web/src/components/WidgetIconResolver/WidgetIconResolver.jsx
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/Events/Events.js
  apps/web/src/routes/Events/Events.module.scss
  apps/web/src/routes/Events/Events.store.js
  apps/web/src/routes/Events/Events.store.test.js
  apps/web/src/routes/Events/Events.test.js
  apps/web/src/routes/Events/__snapshots__/Events.store.test.js.snap
  apps/web/src/routes/Events/index.js
  apps/web/src/routes/LandingPage/LandingPage.js
  apps/web/src/routes/Stream/PostPrompt.jsx
  apps/web/src/routes/Stream/Stream.js
  apps/web/src/routes/Stream/Stream.module.scss
  apps/web/src/store/reducers/index.js
  apps/web/src/store/reducers/queryResults.js
  apps/web/src/util/constants.js
Due: backend-changed, web-changed

chore(mobile): Move useCurrentGroup closer to encapsulation
  apps/mobile/src/hooks/useCurrentGroup.js
Due: mobile-changed

chore(mobile): Remove unused dependency
  apps/mobile/src/components/Comment/Comment.js
Due: mobile-changed

fix(mobile): Comment creation and paginated comment results on PostDetails
  apps/mobile/src/components/Comments/Comments.js
  apps/mobile/src/components/PostCard/PostCardForDetails.js
  apps/mobile/src/components/PostCard/PostFooter/PostFooter.js
  apps/mobile/src/graphql/fragments/commentsQuerySetFieldsFragment.js
  apps/mobile/src/graphql/mutations/createCommentMutation.js
  apps/mobile/src/screens/PostDetails/PostDetails.js
  apps/mobile/src/urql-shared/updates/createComment.js
  apps/mobile/src/urql-shared/updates/index.js
Due: mobile-changed

fix(mobile): New Message creation when paginated (WIP)
  apps/mobile/src/graphql/mutations/createMessageMutation.js
  apps/mobile/src/screens/Thread/Thread.js
  apps/mobile/src/urql-shared/resolvers/cursorPagination.js
  apps/mobile/src/urql-shared/updates/index.js
Due: mobile-changed

fix(mobile): ChatRoom nav fixes
  apps/mobile/src/components/TopicsNavigation/TopicsNavigation.js
  apps/mobile/src/screens/AllTopicsWebView/AllTopicsWebView.js
  apps/mobile/src/screens/ChatRoomWebView/ChatRoomWebView.js
Due: mobile-changed

fix(mobile): Comments loading indication
  apps/mobile/src/components/Comments/Comments.js
Due: mobile-changed

Added /all nav items to the /my /all context menu
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/util/contextWidgets.js
Due: web-changed

Fix drag overlay reliablility
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Moved edit to its own line
  apps/web/src/components/HyloEditor/HyloEditor.module.scss
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/ChatRoom/ChatRoom.module.scss
Due: web-changed

Update web to version 5.11.2
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: web-changed

chore(mobile): Add URQL todos
  apps/mobile/src/screens/Thread/Thread.js
  apps/mobile/src/screens/UserSettingsWebView/UserSettingsWebView.js
Due: mobile-changed

Nativewind config confirmed by verifyInstallation()
  apps/mobile/babel.config.js
  apps/mobile/index.js
  apps/mobile/ios/Podfile.lock
  apps/mobile/metro.config.js
  apps/mobile/nativewind-env.d.ts
  apps/mobile/package.json
  apps/mobile/src/components/Icon/config.json
  apps/mobile/src/style/global.css
  apps/mobile/tailwind.config.js
  yarn.lock
Due: mobile-changed

chore(mobile): Clean-up cursorPagination and add notes
  apps/mobile/src/urql-shared/resolvers/cursorPagination.js
Due: mobile-changed

chore(mobile): clean-up simple pagination
  apps/mobile/src/urql-shared/resolvers/hyloCursorPagination.js
  apps/mobile/src/urql-shared/resolvers/hyloSimplePagination.ts
  apps/mobile/src/urql-shared/resolvers/index.js
Due: mobile-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
