Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

Cleaned up style of popover and create menu
  apps/web/src/components/CreateMenu/CreateMenu.jsx
  apps/web/src/components/ui/popover.jsx
Due: web-changed

Cleaned up styling of custom view creation flow
  apps/web/src/components/PostSelector/PostSelector.js
  apps/web/src/routes/AllView/AllView.jsx
  apps/web/src/routes/GroupSettings/CustomViewsTab/CustomViewsTab.js
  apps/web/src/routes/GroupSettings/CustomViewsTab/CustomViewsTab.module.scss
Due: web-changed

Cleaned up styling of post groups filter container and links
  apps/web/src/components/PostCard/PostGroups/PostGroups.js
Due: web-changed

Happening now! Added to event body
  apps/web/src/components/PostCard/EventBody/EventBody.js
Due: web-changed

Sync mobile stream with user settings for stream
  apps/mobile/src/screens/Stream/Stream.js
  packages/hooks/useStreamQueryVariables.js
Due: mobile-changed

rename function for clarity and differentiation
  apps/web/src/components/Calendar/body/week/calendar-body-week.tsx
  apps/web/src/components/Calendar/calendar-util.tsx
Due: web-changed

rename function for clarity and differentiation
  apps/web/src/components/Calendar/body/day/calendar-body-day-calendar.tsx
  apps/web/src/components/Calendar/body/day/calendar-body-day.tsx
  apps/web/src/components/Calendar/body/month/calendar-body-month.tsx
  apps/web/src/components/Calendar/body/week/calendar-body-week-calendar.tsx
  packages/shared/src/DateTimeHelpers.tsx
Due: web-changed

rename functions for clarity of purpose
  apps/web/src/components/Calendar/body/day/calendar-body-day-calendar.tsx
  apps/web/src/components/Calendar/body/month/calendar-body-month.tsx
  apps/web/src/components/Calendar/body/week/calendar-body-week-calendar.tsx
  apps/web/src/components/Calendar/calendar-event.tsx
  apps/web/src/components/Calendar/calendar-util.tsx
  apps/web/src/components/Calendar/header/date/calendar-header-date-chevrons.tsx
  apps/web/src/components/PostListRow/PostListRow.js
  packages/shared/src/DateTimeHelpers.tsx
Due: web-changed

Don't display jump to section in digests when 2 or less sections of content
  apps/backend/api/models/TagFollow.js
  apps/backend/api/services/Email.js
  apps/backend/lib/group/digest2/formatData.js
  apps/backend/lib/group/digest2/personalizeData.js
Due: backend-changed

Fix chat digest URL to chat room/post
  apps/backend/api/models/TagFollow.js
Due: backend-changed

Hopefully fix blank post titles for posts with comments in digests
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/models/Post.js
Due: backend-changed

no 'upcoming' label for past events
  apps/web/src/components/PostCard/EventBody/EventBody.js
Due: web-changed

Missing translation
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: web-changed

Small UI tweak to group explorer list of people
  apps/web/src/components/RoundImageRow/RoundImageRow.module.scss
Due: web-changed

Fix issue where group URL for public groups would show 404 for logged in people
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Fix adding suggested skills when joining a group
  apps/web/src/components/Pill/Pill.js
  apps/web/src/components/Pill/Pill.module.scss
  apps/web/src/components/SuggestedSkills/SuggestedSkills.jsx
  apps/web/src/components/SuggestedSkills/SuggestedSkills.module.scss
Due: web-changed

Change syntax for accessing user steam settings
  apps/mobile/src/screens/Stream/Stream.js
Due: mobile-changed

Made it so invite buttons only appear in chat if you are able to invite people
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Avoid use of React-Player for webviews of chat
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
Due: web-changed

Fixed padding on post big grid item
  apps/web/src/components/PostBigGridItem/PostBigGridItem.js
Due: web-changed

Removed unused css file
  apps/web/src/components/Tooltip/Tooltip.js
Due: web-changed

Upgrade to proposals
  apps/web/src/components/PostCard/PostBodyProposal/PostBodyProposal.js
  apps/web/src/components/QuorumBar/QuorumBar.js
Due: web-changed

Fix GroupWelcome bug for Android
  apps/mobile/src/screens/GroupWelcome/GroupWelcome.js
Due: mobile-changed

More darkmode cleanup -- group badges and member cards
  apps/web/src/components/BadgeEmoji/BadgeEmoji.js
  apps/web/src/components/Member/Member.js
  apps/web/src/components/Member/Member.module.scss
  apps/web/src/routes/MapExplorer/MapDrawer/MapDrawer.js
  apps/web/src/routes/Members/Members.js
Due: web-changed

Comment on old failed broken migration
  apps/backend/migrations/20250207125838_chat-room-notifications-datajs
Due: backend-changed

Ensure home widget does not have a dropzone
  packages/presenters/ContextWidgetPresenter.js
Due: none

Fis quorum info tooltip
  apps/web/src/components/QuorumBar/QuorumBar.js
Due: web-changed

Missing translations
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: web-changed

Revert to old quorum bar for now
  apps/web/src/components/QuorumBar/QuorumBar.js
  apps/web/src/components/Tooltip/Tooltip.js
Due: web-changed

Fixed map drawer and members list loading
  apps/web/src/routes/MapExplorer/MapDrawer/MapDrawer.js
  apps/web/src/routes/Members/Members.js
Due: web-changed

fix(mobile): Fixes React Player loading in WebView for youtube, vimeo, and soundcloud
  apps/mobile/src/components/HyloWebView/HyloWebView.js
Due: mobile-changed

fix(mobile): Doesn't enable iOS only KeyboardManager in Android
  apps/mobile/src/screens/GroupWelcome/GroupWelcome.js
Due: mobile-changed

Dont reload every person twice on the members page
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/Member/Member.js
  apps/web/src/routes/Members/Members.js
  apps/web/src/routes/Members/Members.store.js
Due: web-changed

Fix potential breaking bug for deleted users when sending digest emails
  apps/backend/api/models/comment/notifications.js
Due: backend-changed

Fix error trying to send push notification to inactive user
  apps/backend/api/models/Device.js
Due: backend-changed

Fix removing members from group in member directory
  apps/web/src/components/Member/Member.js
  apps/web/src/components/Member/Member.module.scss
  apps/web/src/routes/Members/Members.js
  apps/web/src/routes/Members/Members.store.js
  apps/web/src/store/reducers/queryResults.js
Due: web-changed

Fix clearing sessions from redis when a user changes password
  apps/backend/api/models/User.js
Due: backend-changed

Don't send chat digests to inactive group members
  apps/backend/api/models/TagFollow.js
Due: backend-changed

Allow editing container widgets
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/AllView/AllView.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/store/actions/contextWidgets/index.js
  apps/web/src/store/reducers/ormReducer/index.js
  packages/presenters/ContextWidgetPresenter.js
Due: web-changed
