Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Add Public Context to global nav
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

WIP; probably need to reconfigure local state for creation to streamline it for editting
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/AllView/AllView.jsx
Due: web-changed

Correct merge conflict artifact
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/Navigation.js
Due: web-changed

Add min width to post detail
  apps/web/src/routes/PostDetail/PostDetail.module.scss
Due: web-changed

Switch from Mailgun to Sendgrid for inbound email parsing
  apps/backend/.env.example
  apps/backend/README.md
  apps/backend/api/controllers/CommentController.js
  apps/backend/api/models/User.js
  apps/backend/api/services/Email.js
  apps/backend/test/unit/services/Email.test.js
Due: backend-changed

Break replies on line of dashes or emdashes
  apps/backend/api/controllers/CommentController.js
  apps/backend/api/models/Comment.js
  apps/backend/api/models/User.js
  apps/backend/api/services/Email.js
Due: backend-changed

Update version to backend@v5.11.1
  apps/backend/CHANGELOG.md
  apps/backend/package.json
Due: backend-changed

Fix cleaning email reply text when going through Sendgrid
  apps/backend/api/controllers/CommentController.js
Due: backend-changed

First try to enable publishing public groups to murmurations
  apps/backend/api/controllers/MurmurationsController.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Comment.js
  apps/backend/api/models/Group.js
  apps/backend/config/policies.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/GroupSettings/GroupSettings.store.js
  apps/web/src/routes/GroupSettings/PrivacySettingsTab/PrivacySettingsTab.js
  apps/web/src/routes/GroupSettings/PrivacySettingsTab/PrivacySettingsTab.jsx
Due: backend-changed, web-changed

Forgot the dang route
  apps/backend/config/routes.js
Due: backend-changed

More logging
  apps/backend/api/models/Group.js
Due: backend-changed

Trying something
  apps/backend/api/controllers/MurmurationsController.js
  apps/backend/api/models/Group.js
Due: backend-changed

Try again
  apps/backend/api/controllers/MurmurationsController.js
Due: backend-changed

Upper case country code
  apps/backend/api/models/Group.js
Due: backend-changed

Another try
  apps/backend/api/models/Group.js
Due: backend-changed

Prevent error
  apps/backend/api/models/Group.js
Due: backend-changed

Always publish all group updates to murmurations
  apps/backend/api/models/Group.js
Due: backend-changed

Only add /post/ when its not already coming from a post view url
  apps/web/src/util/navigation.js
Due: web-changed

Fix opening a post in the pulic or all stream when one is already open
  apps/web/src/hooks/useRouteParams/index.js
Due: web-changed

Remove logging
  apps/backend/api/controllers/MurmurationsController.js
  apps/backend/api/models/Group.js
Due: backend-changed

Add missing spanish translations
  apps/web/public/locales/es.json
Due: web-changed

Fix lint issues
  apps/web/src/components/ui/button.jsx
  apps/web/src/components/ui/command.jsx
  apps/web/src/components/ui/input.jsx
  apps/web/src/components/ui/label.jsx
  apps/web/src/components/ui/select.jsx
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/Navigation.js
Due: web-changed

Fix height of settings
  apps/web/src/css/layout.scss
Due: web-changed

Basic "my" context
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/WidgetIconResolver/WidgetIconResolver.jsx
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/Navigation.js
  apps/web/src/util/contextWidgets.js
Due: web-changed

prior "my" options navigate correctly
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/Navigation.js
  apps/web/src/util/contextWidgets.js
  apps/web/src/util/navigation.js
Due: web-changed

Add typescript support to eslint
  apps/web/eslint.config.js
  apps/web/package.json
  yarn.lock
Due: web-changed

Improved notifications and messages popover menus
  apps/web/src/components/ui/button.jsx
  apps/web/src/components/ui/popover.jsx
  apps/web/src/lib/utils.ts
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavDropdown/GlobalNavDropdown.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavDropdown/GlobalNavDropdown.module.scss
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavDropdown/GlobalNavDropdown.store.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavDropdown/GlobalNavDropdown.test.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavDropdown/index.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/MessagesDropdown/MessagesDropdown.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/MessagesDropdown/MessagesDropdown.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/MessagesDropdown/MessagesDropdown.module.scss
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/MessagesDropdown/MessagesDropdown.test.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/MessagesDropdown/MessagesDropdownItem.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/MessagesDropdown/util.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationItem.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationsDropdown.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationsDropdown.module.scss
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationsDropdown.test.js
  apps/web/src/store/models/MessageThread.js
  apps/web/src/util/index.js
Due: web-changed

user setting urls work with my context
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/Navigation.js
  apps/web/src/routes/FullPageModal/FullPageModal.js
  apps/web/src/routes/UserSettings/UserSettings.js
  apps/web/src/util/contextWidgets.js
  apps/web/src/util/navigation.js
Due: web-changed

locale added as user setting
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/UserSettings/LocaleTab/LocaleTab.jsx
  apps/web/src/routes/UserSettings/LocaleTab/index.js
  apps/web/src/routes/UserSettings/UserSettings.js
  apps/web/src/util/contextWidgets.js
Due: web-changed

Ensure view passed into "my" context
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/UserSettings/LocaleTab/LocaleTab.jsx
Due: web-changed

Fix i18n cursor blip
  apps/web/public/locales/es.json
Due: web-changed

Allow view to be passed into settingsUrl function
  apps/web/src/util/navigation.js
Due: web-changed

Navigation => ContextMenu
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.module.scss
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MenuLink/MenuLink.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MenuLink/index.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/NavLink/NavLink.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/NavLink/NavLink.module.scss
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/NavLink/index.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/TopicNavigation/TopicNavigation.connector.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/TopicNavigation/TopicNavigation.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/TopicNavigation/TopicNavigation.module.scss
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/TopicNavigation/TopicNavigation.store.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/TopicNavigation/TopicNavigation.store.test.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/TopicNavigation/TopicNavigation.test.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/TopicNavigation/__snapshots__/TopicNavigation.store.test.js.snap
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/TopicNavigation/index.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/index.js
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/index.js
Due: web-changed

First pass learning tailwind!!
  apps/web/src/components/PostCard/PostDetails/PostDetails.module.scss
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.module.scss
  apps/web/src/css/global/index.scss
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/MenuLink/MenuLink.jsx
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/Navigation.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.module.scss
  apps/web/tailwind.config.js
  yarn.lock
Due: web-changed

Add Logout functionality to logout button
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Basic public context menu switch
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/util/contextWidgets.js
Due: web-changed

Lots of updates/fixes to styling posts
  apps/web/src/components/PostCard/PostCard.jsx
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.module.scss
  apps/web/src/css/global/index.scss
  apps/web/src/graphql/fragments/groupViewPostsQueryFragment.js
  apps/web/src/graphql/fragments/postCardFieldsFragment.js
  apps/web/src/graphql/fragments/postsQueryFragment.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.module.scss
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.module.scss
  apps/web/src/routes/PostDetail/PostDetail.js
  apps/web/tailwind.config.js
Due: web-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
