Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

tests: update, some review needed
  apps/web/src/components/PostCard/PostHeader/PostHeader.connector.test.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/TopicNavigation/TopicNavigation.test.js
  apps/web/src/routes/Messages/Message/Message.test.js
  apps/web/src/routes/Messages/MessageForm/MessageForm.js
  apps/web/src/routes/UserSettings/EditProfileTab/EditProfileTab.test.js
  apps/web/src/routes/WelcomeWizardRouter/WelcomeExplore/WelcomeExplore.test.js
  apps/web/src/server/proxy.js
  apps/web/src/server/proxy.test.js
  apps/web/src/util/navigation.test.js
Due: web-changed

tests: wip, help needed
  apps/web/src/components/SocketListener/SocketListener.store.test.js
Due: web-changed

Fix typescript in tests
  apps/web/babel.config.cjs
  apps/web/package.json
  yarn.lock
Due: web-changed

Fix some testing bugs
  apps/web/components.json
  apps/web/config/jest.config.js
  apps/web/config/jest/beforeTestEnvSetup.js
  apps/web/src/components/Affiliation/Affiliation.js
  apps/web/src/components/Calendar/body/day/calendar-body-day-calendar.tsx
  apps/web/src/components/Calendar/body/month/calendar-body-month.tsx
  apps/web/src/components/Calendar/body/week/calendar-body-week-calendar.tsx
  apps/web/src/components/Calendar/header/actions/calendar-header-actions-mode.tsx
  apps/web/src/components/Calendar/header/date/calendar-header-date-chevrons.tsx
  apps/web/src/components/PostTypeSelect/PostTypeSelect.jsx
  apps/web/src/components/ui/calendar.tsx
  apps/web/src/components/ui/datetimepicker.jsx
  apps/web/src/components/ui/switch.jsx
  apps/web/src/components/ui/toggle-group.tsx
  apps/web/src/components/ui/toggle-variants.tsx
  apps/web/src/components/ui/toggle.tsx
  apps/web/src/lib/utils.ts
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/util/testing/reactTestingLibraryExtended.js
Due: web-changed

chore(mobile): Remove unused props
  apps/mobile/src/components/PostCard/PostGroups/PostGroups.js
Due: mobile-changed

chore(mobile): Fixes back button behavior for GroupSettingsWebView area
  apps/mobile/src/components/GroupMenuHeader/GroupMenuHeader.js
  apps/mobile/src/navigation/headers/TabStackHeader.js
  apps/mobile/src/screens/GroupSettingsWebView/GroupSettingsWebView.js
  apps/mobile/src/screens/Signup/Signup.js
  apps/mobile/src/screens/Signup/SignupEmailValidation/SignupEmailValidation.js
Due: mobile-changed

chore(mobile): Signup Set Location allows no Location selected
  apps/mobile/src/navigation/NonAuthRootNavigator.js
  apps/mobile/src/navigation/linking/useHandleLinking.js
  apps/mobile/src/screens/Signup/SignupSetLocation/SignupSetLocation.js
Due: mobile-changed

chore(mobile): Adds LucideIcon, applies to ContextSwitchMenu and TabStackHeader giving Public and My icon/avatar in header
  apps/mobile/src/components/ContextSwitchMenu/ContextSwitchMenu.js
  apps/mobile/src/components/LucideIcon/LucideIcon.js
  apps/mobile/src/components/LucideIcon/index.js
  apps/mobile/src/navigation/headers/TabStackHeader.js
  packages/presenters/GroupPresenter.js
Due: mobile-changed

chore(mobile): Uses LucideIcon in ContextSwitchMenu
  apps/mobile/src/components/ContextSwitchMenu/ContextSwitchMenu.js
Due: mobile-changed

chore(mobile): Switches to openURL from navigation.navigate in many places, fixes drawer now closing issues
  apps/mobile/src/components/ContextMenu/ContextMenu.js
  apps/mobile/src/components/GroupMenuHeader/GroupMenuHeader.js
  apps/mobile/src/screens/GroupWelcomeFlow/GroupWelcomeTabBar.js
  apps/mobile/src/screens/Members/Members.js
  apps/mobile/src/screens/NotificationsList/NotificationsList.store.js
Due: mobile-changed

chore(mobile): Updates ContextMenu styles
  apps/mobile/src/components/ContextMenu/ContextMenu.js
  apps/mobile/src/components/LucideIcon/LucideIcon.js
  apps/mobile/src/screens/AllViews/AllViews.js
Due: mobile-changed

chore(mobile): Syncs icons with Web, adds "Request" = "Heart" icon exception
  apps/mobile/android/app/src/main/assets/fonts/hylo-evo-icons.ttf
  apps/mobile/assets/fonts/hylo-evo-icons.ttf
  apps/mobile/ios/assets/src/components/Icon/config.json
  apps/mobile/src/components/Icon/config.json
  apps/mobile/src/components/Icon/index.js
Due: mobile-changed

chore(mobile): Somewhat normalizes rendering of TopElements links in ContextMenu
  apps/mobile/src/components/ContextMenu/ContextMenu.js
Due: mobile-changed

chore(mobile): Update ContextMenu component naming to be more clear
  apps/mobile/src/components/ContextMenu/ContextMenu.js
Due: mobile-changed

chore(mobile): ContextMenu clean-ups
  apps/mobile/src/components/ContextMenu/ContextMenu.js
Due: mobile-changed

chore(mobile): Further adjusts ContextMenu internal component names
  apps/mobile/src/components/ContextMenu/ContextMenu.js
Due: mobile-changed

Shared styling for post content in all the places
  apps/web/src/components/HyloEditor/HyloEditor.js
  apps/web/src/components/HyloEditor/HyloEditor.module.scss
  apps/web/src/components/PostCard/PostContent/PostContent.jsx
  apps/web/src/css/global/_sass_resources.scss
  apps/web/src/css/global/index.scss
  apps/web/src/css/typography.scss
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.module.scss
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

chore(mobile): Makes Icon component comply with pods convention
  apps/mobile/src/components/Icon/Icon.js
  apps/mobile/src/components/Icon/index.js
Due: mobile-changed

Handle external links for custom views in mobile
  apps/mobile/src/components/ContextMenu/ContextMenu.js
  apps/mobile/src/screens/AllViews/AllViews.js
  apps/mobile/src/util/navigation.js
Due: mobile-changed

chore(mobile): ContextSwitchMenu tidy
  apps/mobile/src/components/ContextSwitchMenu/ContextSwitchMenu.js
Due: mobile-changed

chore(mobile): Fixes path to /my in GroupWelcome
  apps/mobile/src/screens/GroupWelcomeFlow/GroupWelcomeTabBar.js
Due: mobile-changed

Use TextHelper.sanitizeURL instead of new helper function
  apps/mobile/src/components/ContextMenu/ContextMenu.js
  apps/mobile/src/screens/AllViews/AllViews.js
  apps/mobile/src/util/navigation.js
Due: mobile-changed

chore(mobile): Fixes no Commons posts stream when current user doesn't have memberships
  apps/mobile/src/screens/Stream/Stream.js
Due: mobile-changed

Removed merge conflict
  apps/mobile/src/components/ContextMenu/ContextMenu.js
Due: mobile-changed

chore(backend,web,mobile): Sanitize CustomView#externalLink on query
  apps/backend/api/graphql/makeModels.js
  apps/mobile/src/components/ContextMenu/ContextMenu.js
  apps/mobile/src/screens/AllViews/AllViews.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MenuLink/MenuLink.jsx
Due: backend-changed, web-changed, mobile-changed

Redo all our emails!
  apps/backend/api/controllers/UserController.js
  apps/backend/api/graphql/mutations/user.js
  apps/backend/api/models/Invitation.js
  apps/backend/api/models/ModerationAction.js
  apps/backend/api/models/Notification.js
  apps/backend/api/models/Post.js
  apps/backend/api/models/SavedSearch.js
  apps/backend/api/models/TagFollow.js
  apps/backend/api/models/comment/notifications.js
  apps/backend/api/services/Email.js
  apps/backend/api/services/Frontend.js
  apps/backend/cron.js
  apps/backend/lib/group/digest2/formatData.js
  apps/backend/lib/group/digest2/index.js
  apps/backend/lib/group/digest2/personalizeData.js
  apps/backend/lib/group/digest2/savedSearches.js
  apps/backend/lib/group/digest2/util.js
  apps/backend/lib/i18n/en.js
  apps/backend/lib/i18n/es.js
  apps/backend/lib/util/normalize.js
Due: backend-changed

Re-add linting in vscode for the backend
  apps/backend/package.json
  yarn.lock
Due: backend-changed

Fix/add some translations
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/GroupSettings/GroupSettingsTab/GroupSettingsTab.js
Due: web-changed

Tweaks to post content styling
  apps/web/src/components/PostCard/PostTitle/PostTitle.js
  apps/web/src/css/global/index.scss
Due: web-changed

Correctly style content of welcome page
  apps/web/src/routes/GroupWelcomePage/GroupWelcomePage.jsx
Due: web-changed

Fix chat rooms with new chats in digest
  apps/backend/lib/group/digest2/personalizeData.js
Due: backend-changed

i18n for welcome page
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
Due: mobile-changed

Modified the "groups" field to look like a "to" field, as in the PostEditor
  apps/web/src/components/PostCard/PostGroups/PostGroups.js
Due: web-changed

Made menulink look like global nav when there are unread items
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MenuLink/MenuLink.jsx
Due: web-changed

Moved Groups section to top of post detail
  apps/web/src/routes/PostDetail/PostDetail.js
Due: web-changed

Made a number of improvements to globalnav:
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
Due: web-changed

Made some improvements to events: When an event is happening within the next 72 hrs, show an upcoming badge. For all events show the day name abbreviated
  apps/web/src/components/PostCard/EventBody/EventBody.js
  packages/shared/src/TextHelpers.js
Due: web-changed

Added post type to cards
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
Due: web-changed

Made link preview a little more legible
  apps/web/src/components/LinkPreview/LinkPreview.js
Due: web-changed

Made upcoming tag conditional
  apps/web/src/components/PostCard/EventBody/EventBody.js
Due: web-changed
