Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Don't let people post to a space they have not joined
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/PostEditor/PostEditor.store.js
  apps/web/src/components/PostEditor/PostEditor.store.test.js
Due: web-changed

Show Editing Chat in title of post editor when editing a chat
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/PostEditor/PostEditor.test.js
Due: web-changed

Lint
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Fix occasional stuck on add location during welcome flow on android
  apps/web/src/components/GeocoderAutocomplete/GeocoderAutocomplete.js
  apps/web/src/components/LocationInput/LocationInput.js
  apps/web/src/components/LocationInput/LocationInput.module.scss
  apps/web/src/components/SiteBanners/SiteBanners.js
  apps/web/src/routes/WelcomeWizardRouter/AddLocation/AddLocation.js
  apps/web/src/routes/WelcomeWizardRouter/UploadPhoto/UploadPhoto.js
  apps/web/src/routes/WelcomeWizardRouter/WelcomeExplore/WelcomeExplore.js
  apps/web/src/routes/WelcomeWizardRouter/WelcomeWizard.module.scss
  apps/web/src/routes/WelcomeWizardRouter/WelcomeWizardModalFooter/WelcomeWizardModalFooter.test.js
  apps/web/src/routes/WelcomeWizardRouter/WelcomeWizardModalFooter/index.js
Due: web-changed

Don't save a post draft until there is title or body content
  apps/web/src/hooks/useDraft.js
  apps/web/src/hooks/useDraft.test.js
Due: web-changed

Fix calendar flicker
  apps/web/src/components/Calendar/body/month/calendar-body-month.tsx
  apps/web/src/components/Calendar/header/actions/calendar-header-actions-mode.tsx
  apps/web/src/routes/ViewContent/ViewContent.js
  apps/web/src/store/actions/fetchPosts.js
Due: web-changed

Web v7.1.3
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: web-changed

Fix dependabot critical issues
  apps/backend/package.json
  package.json
  yarn.lock
Due: backend-changed

Make context menu edit draggable
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/GroupViewEditList.jsx
Due: web-changed

Open links via message bridge in react native
  apps/mobile-leap/src/screens/PrimaryWebView/PrimaryWebViewScreen.tsx
  apps/web/src/components/ClickCatcher/ClickCatcher.js
  apps/web/src/components/LinkPreview/LinkPreview.js
  packages/shared/src/constants.js
Due: web-changed

Revert "Open links via message bridge in react native"
  apps/mobile-leap/src/screens/PrimaryWebView/PrimaryWebViewScreen.tsx
  apps/web/src/components/ClickCatcher/ClickCatcher.js
  apps/web/src/components/LinkPreview/LinkPreview.js
  packages/shared/src/constants.js
Due: web-changed

Fix android links
  apps/mobile-leap/package.json
  apps/mobile-leap/src/screens/PrimaryWebView/PrimaryWebViewScreen.tsx
  apps/web/src/components/ClickCatcher/ClickCatcher.js
  apps/web/src/components/LinkPreview/LinkPreview.js
  yarn.lock
Due: web-changed

Revert "Fix android links"
  apps/mobile-leap/package.json
  apps/mobile-leap/src/screens/PrimaryWebView/PrimaryWebViewScreen.tsx
  apps/web/src/components/ClickCatcher/ClickCatcher.js
  apps/web/src/components/LinkPreview/LinkPreview.js
  yarn.lock
Due: web-changed

Move comment to correct space
  apps/web/src/store/models/Group.js
Due: web-changed

Android link fix
  apps/mobile-leap/src/components/HyloWebView/HyloWebView.tsx
  apps/mobile-leap/src/components/HyloWebView/linkNavigation.test.ts
  apps/mobile-leap/src/components/HyloWebView/linkNavigation.ts
Due: none

Extended android link fix
  apps/mobile-leap/src/components/HyloWebView/HyloWebView.tsx
  apps/mobile-leap/src/components/HyloWebView/linkNavigation.test.ts
  apps/mobile-leap/src/components/HyloWebView/linkNavigation.ts
Due: none

Really ensure that when a group membership is deactivated the roles associated with that membership are deleted. So if they rejoin they dont have those roles.
  apps/backend/api/models/GroupMembership.js
  apps/backend/test/unit/models/GroupMembership.test.js
Due: backend-changed

Flatten imageUrls on postinput to support nested array formats coming from zapier
  apps/backend/api/graphql/index.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/post/createPost.test.js
  apps/backend/lib/uploader/rehostRemoteMedia.js
  apps/backend/lib/uploader/rehostRemoteMedia.test.js
Due: backend-changed

Add silent parameter to createPost to enable stewards to create posts without sending notifications
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Post.js
  apps/backend/api/models/post/createPost.js
  apps/backend/api/models/post/createPost.test.js
  apps/backend/test/unit/models/Post.test.js
Due: backend-changed

Web + backend v7.1.4
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

Update yarn.lock after merging dev (yet-another-react-lightbox dependency)
  yarn.lock
Due: none

Fix over-zealous refocusing in search for android
  apps/web/src/routes/Search/Search.js
Due: web-changed

Fix post notifications to display the post correctly when the group home view is a page
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/services/Frontend.js
  apps/backend/lib/graphql-bookshelf-bridge/fetcher.js
  apps/backend/lib/graphql-bookshelf-bridge/fetcher.test.js
  apps/backend/lib/graphql-bookshelf-bridge/util/initDataLoaders.js
  apps/backend/lib/graphql-bookshelf-bridge/util/initDataLoaders.test.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/SpaceContent/SpaceContent.js
  packages/navigation/src/index.js
  packages/navigation/src/navigation.test.js
Due: backend-changed, web-changed

Remove console
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Make public profiles show data for anonymous viewers
  apps/backend/api/graphql/makeModels.js
Due: backend-changed

Make sure public profiles show data they are supposed to show
  apps/backend/api/graphql/index.test.js
  apps/backend/api/graphql/makeModels.js
  apps/web/src/graphql/queries/personQuery.js
  apps/web/src/routes/MemberProfile/MemberProfile.js
Due: backend-changed, web-changed

Hylo v7.1.5
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

Fix anonymous getters regression after merging dev conflict resolution
  apps/backend/api/graphql/makeModels.js
Due: backend-changed

Make activeMember UI clicks go to memberlist
  apps/web/src/components/CurrentlyActiveMembers/CurrentlyActiveMembers.jsx
  apps/web/src/components/Member/Member.js
  apps/web/src/routes/ChatRoom/ChatMembersPanel.jsx
  apps/web/src/routes/Members/Members.js
  apps/web/src/routes/Members/Members.store.js
  apps/web/src/routes/Members/Members.store.test.js
Due: web-changed

Add rsvp filter to event views
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/services/Search/forPosts.js
  apps/backend/api/services/Search/util.js
  apps/web/public/locales/en.json
  apps/web/src/components/StreamViewControls/StreamViewControls.js
  apps/web/src/graphql/fragments/groupViewPostsQueryFragment.js
  apps/web/src/graphql/fragments/postsQueryFragment.js
  apps/web/src/routes/ViewContent/ViewContent.js
  apps/web/src/store/actions/fetchPosts.js
Due: backend-changed, web-changed

i18n for new event filter
  apps/web/public/locales/de.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
Due: web-changed

message threads refetch on refocus
  apps/web/src/routes/Messages/Messages.js
  apps/web/src/routes/Messages/Messages.store.js
Due: web-changed

Collpase event filter options going and interested into one
  apps/backend/api/services/Search/forPosts.js
  apps/backend/api/services/Search/util.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/StreamViewControls/StreamViewControls.js
Due: backend-changed, web-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
