Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Fix make Funding Rounds widget visible when first one is published
  apps/backend/api/graphql/mutations/fundingRound.js
  apps/backend/api/models/Group.js
Due: backend-changed

Show spinner while tracks are loading
  apps/web/src/routes/Tracks/Tracks.jsx
Due: web-changed

Allow submissions to be edited
  apps/backend/api/models/post/updatePost.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/FundingRoundHome/FundingRoundHome.jsx
  apps/web/src/routes/FundingRoundHome/SubmissionsTab.jsx
  apps/web/src/routes/FundingRounds/FundingRounds.store.js
Due: backend-changed, web-changed

Fix opening group details from Groups page
  apps/web/src/routes/GroupDetail/JoinSection.jsx
  apps/web/src/routes/Groups/Groups.store.js
Due: web-changed

CHANGELOG update for web
  apps/web/CHANGELOG.md
Due: web-changed

Make sure we can have notifications go to right chat post in mobile app
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Many fixes to address comments on the PR
  apps/web/src/components/PostCard/PostCard.jsx
  apps/web/src/components/PostCard/PostCompletion/PostCompletion.js
  apps/web/src/components/PostCard/PostGroups/PostGroups.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
  apps/web/src/components/PostDialog/PostDialog.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
  apps/web/src/themes/index.js
  apps/web/tailwind.config.js
Due: web-changed

Bumped reanimated version is correct several misconfigurations
  apps/mobile/babel.config.js
  apps/mobile/ios/HyloReactNative/AppDelegate.mm
  apps/mobile/ios/Podfile.lock
  apps/mobile/metro.config.js
  apps/mobile/package.json
  yarn.lock
Due: mobile-changed

CHANGELOG fix
  apps/web/CHANGELOG.md
Due: web-changed

Maybe fix building on android?
  package.json
  yarn.lock
Due: none

Don't need to undo round roles migration
  apps/backend/migrations/20251015120000_funding_rounds_multiple_roles.js
Due: backend-changed

Tweak public nav behavior to avoid double bounce
  apps/mobile/src/components/ContextSwitchMenu/ContextSwitchMenu.js
  apps/mobile/src/hooks/useHandleCurrentGroup.js
Due: mobile-changed

Add saving posts to chat posts
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

Remove unecessary TooltipProvider from button
  apps/web/src/components/ui/button.tsx
Due: web-changed

gesture handler version bump
  apps/mobile/package.json
  yarn.lock
Due: mobile-changed

Changelog
  apps/mobile/CHANGELOG
Due: mobile-changed

Add save/unsave button and My Saved Posts to mobile
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/src/components/ContextSwitchMenu/ContextSwitchMenu.js
  apps/mobile/src/components/LucideIcon/LucideIcon.js
  apps/mobile/src/components/PostCard/PostCard.js
  apps/mobile/src/components/PostCard/PostCardForDetails.js
  apps/mobile/src/components/PostCard/PostHeader/PostHeader.js
  apps/mobile/src/hooks/usePostActionSheet.js
  apps/mobile/src/navigation/linking/index.js
  apps/web/src/routes/Stream/Stream.js
  packages/graphql/fragments/postFieldsFragment.js
Due: web-changed, mobile-changed

Save and display budget field for submissions and project posts
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/post/setupPostAttrs.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/PostCard/PostContent/PostContent.jsx
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/graphql/fragments/postFieldsFragment.js
  apps/web/src/graphql/mutations/createPostMutation.js
  apps/web/src/graphql/mutations/updatePostMutation.js
  apps/web/src/routes/FundingRoundHome/SubmissionCard.jsx
  apps/web/src/routes/FundingRounds/FundingRounds.store.js
  apps/web/src/store/actions/createPost.js
  apps/web/src/store/actions/updatePost.js
Due: backend-changed, web-changed

Removed references to circular font
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.module.scss
Due: web-changed

Cleaned up funding round editor
  apps/web/src/components/FundingRoundEditor/FundingRoundEditor.jsx
  apps/web/src/routes/FundingRoundHome/FundingRoundHome.jsx
Due: web-changed

Removed old reference to circular
  apps/web/src/css/typography.scss
Due: web-changed

Improved TrackEditor and TrackHome to match the new funding round functionality for publishing and unpublishing. Also cleaned up the style of the HyloEditor
  apps/web/src/components/TrackEditor/TrackEditor.js
  apps/web/src/routes/TrackHome/TrackHome.jsx
Due: web-changed

Improved style of Round Card
  apps/web/src/routes/FundingRounds/FundingRounds.jsx
Due: web-changed

Improvements to the round timeline
  apps/web/src/routes/FundingRoundHome/ManageTab.jsx
Due: web-changed

Cleaned up postDetail to get rid of square corners at the top
  apps/web/src/routes/PostDetail/PostDetail.js
Due: web-changed

Cleaned up errors and styled the different tabs and voting states
  apps/backend/api/graphql/mutations/fundingRound.js
  apps/web/src/routes/FundingRoundHome/ManageTab.jsx
  apps/web/src/routes/FundingRoundHome/PeopleTab.jsx
  apps/web/src/routes/FundingRoundHome/SubmissionsTab.jsx
Due: backend-changed, web-changed

Modified background color of tab menu
  apps/web/src/routes/FundingRoundHome/FundingRoundHome.jsx
Due: web-changed

More style improvements
  apps/web/src/components/FundingRoundEditor/FundingRoundEditor.jsx
  apps/web/src/routes/FundingRoundHome/SubmissionsTab.jsx
Due: web-changed

Improved style of voting card and fixed a bug where vote was not persistent when switching between tags. Added better error reporting.
  apps/web/src/routes/FundingRoundHome/FundingRoundHome.jsx
  apps/web/src/routes/FundingRoundHome/SubmissionCard.jsx
  apps/web/src/routes/FundingRoundHome/SubmissionsTab.jsx
Due: web-changed

Trying to fix votes not registering
  apps/backend/api/models/FundingRound.js
  apps/web/src/routes/FundingRounds/FundingRounds.store.js
Due: backend-changed, web-changed

Fixed language on round settings pills
  apps/web/src/routes/FundingRoundHome/AboutTab.jsx
Due: web-changed

Fix empty translations
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
Due: mobile-changed

Update Mobile changelog. Start section for 6.1.13
  apps/mobile/CHANGELOG
Due: mobile-changed

Track current funding round phase in the database
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/fundingRound.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/FundingRound.js
  apps/backend/migrations/20251019120000_funding_rounds_add_phase.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/FundingRoundEditor/FundingRoundEditor.jsx
  apps/web/src/graphql/fragments/groupDetailsFragment.js
  apps/web/src/routes/FundingRoundHome/FundingRoundHome.jsx
  apps/web/src/routes/FundingRoundHome/ManageTab.jsx
  apps/web/src/routes/FundingRounds/FundingRounds.store.js
  apps/web/src/store/actions/fetchGroupFundingRounds.js
  apps/web/src/store/models/FundingRound.js
Due: backend-changed, web-changed

Initial draft of db migration
  apps/backend/migrations/20251020160838_paid-content-stripe.js
Due: backend-changed

Get HTML to show up right in funding round About and Criteria
  apps/web/src/components/HyloHTML/HyloHTML.js
Due: web-changed

Fix import of CheckBox that breaks on Heroku
  apps/web/src/components/FundingRoundEditor/FundingRoundEditor.jsx
Due: web-changed

More improvements to the funding rounds.
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/routes/FundingRoundHome/AboutTab.jsx
  apps/web/src/routes/FundingRoundHome/FundingRoundHome.jsx
  apps/web/src/routes/FundingRoundHome/PeopleTab.jsx
  apps/web/src/routes/FundingRoundHome/RoundPhaseStatus.jsx
  apps/web/src/routes/FundingRoundHome/SubmissionsTab.jsx
  apps/web/src/routes/FundingRoundHome/phaseUtils.js
  apps/web/src/routes/FundingRounds/FundingRounds.jsx
  apps/web/src/store/actions/fetchGroupFundingRounds.js
Due: web-changed

Can open create modal while looking at a funding round
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
