Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

chore(backend,mobile): Refine comment subscription handling
  apps/backend/api/graphql/index.js
  apps/backend/api/graphql/makeSubscriptions.js
  apps/backend/api/graphql/mutations/comment.js
  apps/backend/api/graphql/schema.graphql
  apps/mobile/src/screens/PostDetails/PostDetails.js
  apps/mobile/src/screens/Thread/Thread.js
  apps/mobile/src/urql-shared/updates/index.js
Due: backend-changed, mobile-changed

chore(mobile): Adds Zustand store for local stores and migration off of Redux bit by bit
  apps/mobile/package.json
  yarn.lock
Due: mobile-changed

chore(mobile): Fixes various issues with changing between groups and premature hook returns, mostly related to GroupWelcome and useCurrentGroup (which now used Zustand).
  apps/mobile/src/components/GroupWelcomeCheck/GroupWelcomeCheck.js
  apps/mobile/src/components/HyloHTML/HyloHTML.js
  apps/mobile/src/hooks/useChangeToGroup.js
  apps/mobile/src/hooks/useCurrentGroup.js
  apps/mobile/src/screens/ChatRoomWebView/ChatRoomWebView.js
  apps/mobile/src/screens/GroupNavigation/GroupNavigation.js
  apps/mobile/src/screens/GroupWelcomeFlow/GroupWelcomeLanding.js
  apps/mobile/src/screens/Stream/Stream.js
  apps/mobile/src/urql-shared/presenters/GroupPresenter.js
Due: mobile-changed

chore(mobile): Remove old WebSockets subscriptions (will require subscriptions to send WebSockets events from backend until Web is converted)
  apps/mobile/src/components/SocketListener/SocketListener.connector.js
  apps/mobile/src/components/SocketListener/SocketListener.connector.test.js
  apps/mobile/src/components/SocketListener/SocketListener.js
  apps/mobile/src/components/SocketListener/SocketListener.store.js
  apps/mobile/src/components/SocketListener/SocketListener.store.test.js
  apps/mobile/src/components/SocketListener/__snapshots__/SocketListener.connector.test.js.snap
  apps/mobile/src/components/SocketListener/index.js
  apps/mobile/src/components/SocketSubscriber/SocketSubscriber.js
  apps/mobile/src/components/SocketSubscriber/index.js
  apps/mobile/src/navigation/RootNavigator/RootNavigator.js
  apps/mobile/src/screens/Login/Login.js
  apps/mobile/src/screens/Stream/Stream.js
  apps/mobile/src/services/websockets.js
  apps/mobile/src/store/reducers/index.js
  apps/mobile/src/store/reducers/resetStore.js
Due: mobile-changed

Block voting while votes are mutating
  apps/mobile/src/components/PostCard/PostBodyProposal/PostBodyProposal.js
Due: mobile-changed

Remove no longer existing user setings from queries on mobile
  apps/mobile/src/graphql/fragments/meAuthFieldsFragment.js
  apps/mobile/src/graphql/queries/meQuery.js
  apps/mobile/src/screens/Signup/SignupEmailValidation/SignupEmailValidation.js
  apps/mobile/src/screens/Signup/SignupRegistration/SignupRegistration.js
Due: mobile-changed

Some cleanup and translations
  apps/backend/api/models/Group.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/UserSettings/NotificationSettingsTab/NotificationSettingsTab.js
Due: backend-changed, web-changed

Correct showing of childPost indicator for my context
  apps/mobile/src/components/StreamList/PostRow/PostRow.js
Due: mobile-changed

Refetch Post entity when moderation action is created for it
  apps/mobile/src/components/FlagGroupContent/FlagGroupContent.js
  apps/mobile/src/urql-shared/updates/index.js
Due: mobile-changed

recordClickthrough refreshes related post in cache
  apps/mobile/src/urql-shared/updates/index.js
Due: mobile-changed

Fix moderation list for urql
  apps/mobile/src/components/ModerationList/ModerationList.js
  apps/mobile/src/components/ModerationListItem/ModerationListItem.js
  apps/mobile/src/urql-shared/keys.js
Due: mobile-changed

Refetch Moderation Action when related mutation is called
  apps/mobile/src/components/ModerationList/ModerationList.js
  apps/mobile/src/urql-shared/keys.js
  apps/mobile/src/urql-shared/updates/index.js
Due: mobile-changed

chore(mobile): Tidy-up some subscription related things
  apps/mobile/src/components/PeopleTyping/PeopleTyping.js
  apps/mobile/src/navigation/TabsNavigator.js
  apps/mobile/src/screens/NotificationsList/NotificationsList.js
  apps/mobile/src/urql-shared/client.js
  apps/mobile/src/urql-shared/hooks/usePeopleTyping.js
Due: mobile-changed

chore(backend,mobile): Creates update subscription with a union graphql return type to support Notification, MessageThread, and Message
  apps/backend/api/graphql/index.js
  apps/backend/api/graphql/makeSubscriptions.js
  apps/backend/api/graphql/mutations/comment.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Notification.js
  apps/backend/api/models/post/findOrCreateThread.js
  apps/mobile/src/graphql/fragments/messageThreadFieldsFragment.js
  apps/mobile/src/graphql/fragments/notificationFieldsFragment.js
  apps/mobile/src/graphql/queries/messageThreadsQuery.js
  apps/mobile/src/graphql/queries/notificationsQuery.js
  apps/mobile/src/navigation/AuthRootNavigator.js
  apps/mobile/src/screens/Thread/Thread.js
  apps/mobile/src/urql-shared/updates/index.js
Due: backend-changed, mobile-changed

chore(backend,mobile): Fix peopleTyping
  apps/backend/api/graphql/makeSubscriptions.js
  apps/backend/api/graphql/mutations/peopleTyping.js
  apps/mobile/src/screens/Thread/Thread.js
Due: backend-changed, mobile-changed

Simplify names of proposal mutations
  apps/mobile/src/components/PostCard/PostBodyProposal/PostBodyProposal.js
Due: mobile-changed

chore(backend,mobile,web): Bridges peopleTyping subscription/mutation to userTyping WebSocket event. Fixes Messages isTyping in web. Clean-up of unused code and notes.
  apps/backend/api/controllers/PostController.js
  apps/backend/api/graphql/index.js
  apps/backend/api/graphql/makeSubscriptions.js
  apps/backend/api/graphql/mutations/comment.js
  apps/backend/api/graphql/mutations/peopleTyping.js
  apps/backend/api/graphql/schema.graphql
  apps/mobile/src/navigation/AuthRootNavigator.js
  apps/mobile/src/screens/Thread/Thread.js
  apps/mobile/src/urql-shared/updates/index.js
  apps/web/src/routes/Messages/Messages.js
Due: backend-changed, web-changed, mobile-changed

chore(backend,mobile): Fix misnamed comments subscription, and move from comments parentCommentId to simply commentId. PR review fix.
  apps/backend/api/graphql/makeSubscriptions.js
  apps/backend/api/graphql/mutations/comment.js
  apps/mobile/src/screens/PostDetails/PostDetails.js
  apps/mobile/src/urql-shared/client.js
Due: backend-changed, mobile-changed

chore(mobile): comments subscription name fix
  apps/mobile/src/urql-shared/updates/index.js
Due: mobile-changed

commit(backend): graphql-yoga upgrade - Change from GraphQLYogaError to GraphQLError as per graphql-yoga v3 upgrade guide
  apps/backend/api/controllers/PostController.js
  apps/backend/api/graphql/mutations/affiliation.js
  apps/backend/api/graphql/mutations/collection.js
  apps/backend/api/graphql/mutations/comment.js
  apps/backend/api/graphql/mutations/context_widgets.js
  apps/backend/api/graphql/mutations/event.js
  apps/backend/api/graphql/mutations/group.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/mutations/invitation.js
  apps/backend/api/graphql/mutations/join_request.js
  apps/backend/api/graphql/mutations/membership.js
  apps/backend/api/graphql/mutations/moderation_actions.js
  apps/backend/api/graphql/mutations/post.js
  apps/backend/api/graphql/mutations/project.js
  apps/backend/api/graphql/mutations/responsibilities.js
  apps/backend/api/graphql/mutations/role.js
  apps/backend/api/graphql/mutations/topic.js
  apps/backend/api/graphql/mutations/user.js
  apps/backend/api/models/BlockedUser.js
  apps/backend/api/models/Collection.js
  apps/backend/api/models/EventInvitation.js
  apps/backend/api/models/FlaggedItem.js
  apps/backend/api/models/Group.js
  apps/backend/api/models/GroupRelationshipInvite.js
  apps/backend/api/models/JoinRequest.js
  apps/backend/api/models/LinkedAccount.js
  apps/backend/api/models/User.js
  apps/backend/api/models/UserConnection.js
  apps/backend/api/models/comment/updateComment.js
  apps/backend/api/models/post/createPost.js
  apps/backend/api/models/post/findOrCreateThread.js
  apps/backend/api/models/post/updatePost.js
  apps/backend/api/models/post/validatePostData.js
  apps/backend/api/policies/checkAndDecodeToken.js
  apps/backend/api/services/InvitationService.js
  apps/backend/api/services/Search/forUsers.js
  apps/backend/api/services/Search/util.js
  apps/backend/lib/graphql-bookshelf-bridge/util/applyPagination.js
  apps/backend/lib/uploader/validation.js
Due: backend-changed

chore(backend): Upgrades from @graphl-yoga/node 2.13.13 to graphql-yoga 3.9.1
  apps/backend/api/graphql/index.js
  apps/backend/api/graphql/index.test.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/makeSubscriptions.js
  apps/backend/api/graphql/mutations/user.js
  apps/backend/api/services/RedisPubSub.js
  apps/backend/config/customMiddleware.js
  apps/backend/package.json
  yarn.lock
Due: backend-changed

chore(backend): Complete GraphQL Yoga 3.9 smoke testing (and fixing)
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/user.js
Due: backend-changed

chore(backend): Moves to Yoga 5.10. Passes more than a smoke test, and everything seems happy. Brief dependency audit and updates.
  apps/backend/api/graphql/makeSchema.js
  apps/backend/package.json
  yarn.lock
Due: backend-changed

Temporal time fix
  apps/mobile/src/components/PostCard/PostCard.js
  apps/mobile/src/components/PostCard/PostCardForDetails.js
  apps/mobile/src/urql-shared/presenters/PostPresenter.js
  packages/shared/src/TextHelpers.js
Due: mobile-changed

Put "add new view" button at end of menu
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Improve DnD color indications for context menu editing
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Switch Context Menu context-widget dependencies to shared
  apps/web/src/hooks/useGatherItems/index.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Move context widget related functions into shared
  packages/shared/src/ContextMenuPresenter.js
  packages/shared/src/ContextWidgetPresenter.js
Due: none

Switch icon resolver dependency to shared
  apps/web/src/components/WidgetIconResolver/WidgetIconResolver.jsx
Due: web-changed

Switch AllView context-widget dependencies to shared
  apps/web/src/routes/AllView/AllView.jsx
Due: web-changed

Remove functions from contextWidget utility, that have been moved to shared
  apps/web/src/routes/AllView/AllView.jsx
  apps/web/src/util/contextWidgets.js
Due: web-changed

Move context menu ordering function to shared
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/store/selectors/contextWidgetSelectors.js
  packages/shared/src/ContextMenuPresenter.js
Due: web-changed

chore(backend): Minor adjustments to fix broken peopleTyping subscription after upgrades
  apps/backend/api/graphql/makeSubscriptions.js
  apps/mobile/src/urql-shared/client.js
  apps/mobile/src/urql-shared/hooks/usePeopleTyping.js
Due: backend-changed, mobile-changed

Lean more heavily on ContextWidgetPresenter
  apps/web/src/components/WidgetIconResolver/WidgetIconResolver.jsx
  apps/web/src/routes/AllView/AllView.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  packages/shared/src/ContextWidgetPresenter.js
Due: web-changed

Stop container widgets from being children of other widgets
  packages/shared/src/ContextWidgetPresenter.js
Due: none

Missed a ? :(
  packages/shared/src/ContextWidgetPresenter.js
Due: none

chore(backend): Make GRAPHQL_ENDPOINT a const
  apps/backend/api/graphql/index.js
  apps/backend/config/customMiddleware.js
Due: backend-changed

chore(backend): Adds yoga graphql prometheus plugin in dev, and prometheus docker setup for metrics ui at /noo/graphql/metrics
  apps/backend/.gitignore
  apps/backend/api/graphql/index.js
  apps/backend/package.json
  apps/backend/prometheus/docker-compose.yml
  apps/backend/prometheus/down
  apps/backend/prometheus/prometheus.yml
  apps/backend/prometheus/up
  yarn.lock
Due: backend-changed

chore(backend): Update yarn.lock
  yarn.lock
Due: none
