Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

List notification priority reasons one per line
  apps/backend/api/models/notification/priorityReasons.js
Due: backend-changed

Name the web app Hylo in its manifest
  apps/web/public/manifest.json
  apps/web/src/manifest.test.js
Due: web-changed

Send server Mixpanel events only for people who haven't turned analytics off
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/models/CookieConsent.js
  apps/backend/lib/analytics/trackServerEvent.js
  apps/backend/test/unit/lib/trackServerEvent.test.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Signup.store.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Signup.store.test.js
Due: backend-changed, web-changed

Hold the loading screen still for people who prefer reduced motion
  apps/web/e2e/reduced-motion.spec.js
  apps/web/index.html
  apps/web/src/bootLoader.test.js
Due: web-changed

Fix a lint error in the reduced-motion loading screen check
  apps/web/e2e/reduced-motion.spec.js
Due: web-changed

Remove Segment
  apps/backend/.env.example
  apps/backend/api/controllers/CommentController.js
  apps/backend/api/controllers/PostController.js
  apps/backend/api/controllers/SessionController.js
  apps/backend/api/graphql/mutations/user.js
  apps/backend/api/models/Invitation.js
  apps/backend/api/models/Notification.js
  apps/backend/api/services/Analytics.js
  apps/backend/api/services/UserSession.js
  apps/backend/lib/group/digest2/personalizeData.js
  apps/backend/lib/group/digest2/sampleData.json
  apps/backend/package.json
  apps/backend/test/unit/controllers/CommentController.test.js
  apps/web/scripts/run-isolated-e2e.js
  apps/web/src/config/index.js
  scripts/i18n/i18n-templates/Access_Expired_i18n/html.liquid
  scripts/i18n/i18n-templates/Digest_Email_i18n/template_data.json
  scripts/i18n/i18n-templates/Digest_for_Saved_Searches_i18n/template_data.json
  yarn.lock
Due: backend-changed, web-changed

Move notification channel rules into phases and classify every signal
  apps/backend/api/models/Activity.js
  apps/backend/api/models/notification/rules/index.js
  apps/backend/api/models/notification/signalClasses.js
  apps/backend/lib/email/emailTypes.js
  apps/backend/test/unit/lib/email/emailTypes.test.js
  apps/backend/test/unit/models/notification/signalClasses.test.js
Due: backend-changed

Keep current members out of the group invite people search
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/services/Search/forUsers.js
  apps/backend/test/unit/services/InvitationService.test.js
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.js
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.store.js
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.test.js
Due: backend-changed, web-changed

Run the guided tours in the card-menu and top-bar layouts
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuGrid.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/HelpMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/TopNav/TopNav.jsx
  apps/web/src/routes/AuthLayoutRouter/components/TopNav/TopNav.test.js
  apps/web/src/routes/UserSettings/AppearanceTab/AppearanceTab.js
  apps/web/src/routes/UserSettings/AppearanceTab/AppearanceTab.test.js
  apps/web/src/tours/catalog.js
  apps/web/src/tours/globalChromeTour.js
  apps/web/src/tours/groupTours.js
  apps/web/src/tours/layouts.js
  apps/web/src/tours/tours.test.js
  apps/web/src/tours/useTour.js
Due: web-changed

Show each post type's description in the post editor's type picker
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/PostTypeSelect/PostTypeSelect.jsx
  apps/web/src/components/PostTypeSelect/PostTypeSelect.test.js
  apps/web/src/store/models/Post.js
Due: web-changed

Keep at least one Administrator when roles change or members are removed
  apps/backend/api/graphql/mutations/group.js
  apps/backend/api/graphql/mutations/group.test.js
  apps/backend/api/graphql/mutations/responsibilities.js
  apps/backend/api/graphql/mutations/responsibilities.test.js
  apps/backend/api/graphql/mutations/role.js
  apps/backend/api/graphql/mutations/role.test.js
  apps/backend/api/models/Group.js
  apps/backend/api/models/Responsibility.js
  apps/backend/api/models/group/administrators.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/GroupSettings/RolesSettingsTab/RolesSettingsTab.js
  apps/web/src/routes/GroupSettings/RolesSettingsTab/RolesSettingsTab.test.js
Due: backend-changed, web-changed

Let members invite people who share a group with them from the people search
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/invitation.js
  apps/backend/api/graphql/mutations/invitation.test.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/services/InvitationService.js
  apps/backend/api/services/Search/forUsers.js
  apps/backend/lib/featureFlags.js
  apps/backend/test/unit/services/InvitationService.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/config/featureFlags.js
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.js
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.store.js
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.test.js
Due: backend-changed, web-changed

Find groups left without an Administrator and let staff assign one
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/orphanedGroups.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/cron.js
  apps/backend/test/unit/models/group/administrators.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/SoleAdminLeaveDialog/soleAdministratorGroups.js
  apps/web/src/routes/Management/Management.js
  apps/web/src/routes/Management/ManagementContextMenu.js
  apps/web/src/routes/Management/OrphanedGroups/OrphanedGroups.js
  apps/web/src/routes/Management/OrphanedGroups/OrphanedGroups.test.js
  apps/web/src/routes/UserSettings/AccountSettingsTab/AccountSettingsTab.js
  apps/web/src/routes/UserSettings/AccountSettingsTab/AccountSettingsTab.test.js
Due: backend-changed, web-changed

Point people to Building Hylo when they need help
  apps/web/index.html
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/bootLoader.test.js
  apps/web/src/components/ErrorBoundary/ErrorBoundary.js
  apps/web/src/components/ErrorBoundary/ErrorBoundary.test.js
  apps/web/src/components/NeedHelpLink/NeedHelpLink.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.test.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/HelpMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/HelpMenu.test.js
  apps/web/src/routes/AuthLayoutRouter/components/TopNav/TopNav.test.js
  apps/web/src/routes/NonAuthLayoutRouter/Login/Login.js
  apps/web/src/routes/NonAuthLayoutRouter/Login/Login.test.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Signup.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Signup.test.js
  apps/web/src/util/support.js
Due: web-changed

Add a "New public groups" review list for the Group Explorer
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/explorerReview.js
  apps/backend/api/graphql/mutations/explorerReview.test.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Group.js
  apps/backend/migrations/20261004000000_group_explorer_review.js
  apps/backend/migrations/schema.sql
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/Management/ExplorerReview/ExplorerReview.js
  apps/web/src/routes/Management/ExplorerReview/ExplorerReview.test.js
  apps/web/src/routes/Management/Management.js
  apps/web/src/routes/Management/ManagementContextMenu.js
Due: backend-changed, web-changed

Let discussions be posted without a title
  apps/backend/api/models/post/createPost.js
  apps/backend/api/models/post/createPost.test.js
  apps/backend/api/models/post/titleFromDetails.js
  apps/backend/api/models/post/updatePost.js
  apps/backend/api/models/post/updatePost.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/PostEditor/PostEditor.test.js
  apps/web/src/components/PostEditor/titleFromDetails.js
Due: backend-changed, web-changed

Send chat messages with Enter on desktop
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/ChatEditor/ChatEditor.js
  apps/web/src/components/ChatEditor/ChatEditor.test.js
  apps/web/src/components/HyloEditor/HyloEditor.js
  apps/web/src/components/HyloEditor/extensions/suggestions/SuggestionList.test.js
  apps/web/src/components/HyloEditor/extensions/suggestions/index.js
Due: web-changed

Offer View Draft when a post fails after the Create Post window closed
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/CreatePostModal/CreatePostModal.jsx
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/PostEditor/PostEditor.test.js
Due: web-changed

Retire the old Slack new-post webhook
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Group.js
  apps/backend/api/models/Post.js
  apps/backend/api/models/post/createPost.js
  apps/backend/api/models/post/createPost.test.js
  apps/backend/api/services/Slack.js
Due: backend-changed

Record how guided tours end, and send consent-gated tour events
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/graphql/toursOutcome.test.js
  apps/web/src/graphql/queries/MeQuery.js
  apps/web/src/store/actions/updateUserSettings.js
  apps/web/src/tours/useTour.js
  apps/web/src/tours/useTour.test.js
  packages/shared/src/constants.js
Due: backend-changed, web-changed

Delete the Mixpanel profile when someone turns analytics off
  apps/backend/api/controllers/CookieConsentController.js
  apps/backend/lib/mixpanel.js
  apps/backend/test/unit/controllers/CookieConsentController.test.js
  apps/web/src/contexts/CookieConsentContext.js
  apps/web/src/contexts/CookieConsentContext.test.js
  apps/web/src/util/analytics.js
  apps/web/src/util/analytics.test.js
Due: backend-changed, web-changed

Show members every address they invited the same way, sent or not
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/mutations/invitation.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/services/InvitationService.js
  apps/backend/migrations/20261002000300_invitation_submissions.js
  apps/backend/migrations/schema.sql
  apps/backend/test/unit/services/InvitationService.test.js
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.js
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.store.js
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.test.js
  apps/web/src/routes/GroupSettings/InviteSettingsTab/PendingSubmissionsList.jsx
Due: backend-changed, web-changed

Let @-mentions reach people whatever their post or comment setting
  apps/backend/api/models/Notification.js
  apps/backend/api/models/comment/notifications.js
  apps/backend/api/models/notification/rules/directSignals.js
  apps/backend/api/models/notification/rules/index.js
  apps/backend/api/models/notification/rules/predicates.js
  apps/backend/test/unit/models/Activity.test.js
  apps/backend/test/unit/models/Comment.test.js
  apps/backend/test/unit/models/Notification.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/GroupDetail/GroupDetail.js
  apps/web/src/routes/NonAuthLayoutRouter/ManageNotifications/ManageNotifications.js
  apps/web/src/routes/UserSettings/NotificationSettingsTab/GroupMembershipNotificationSettings.jsx
  apps/web/src/routes/UserSettings/NotificationSettingsTab/MembershipSettingRow.jsx
Due: backend-changed, web-changed

Make "Stewards" mean Administrators, Moderators and Hosts
  apps/backend/api/graphql/mutations/group.test.js
  apps/backend/api/models/GroupRole.js
  apps/backend/migrations/20261003000000_invite_policy_stewards_moderators_and_open_groups.js
  apps/backend/migrations/schema.sql
  apps/backend/test/unit/migrations/invitePolicyStewards.test.js
  apps/backend/test/unit/models/GroupRole.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/InvitePolicySelect/InvitePolicySelect.jsx
  apps/web/src/components/InvitePolicySelect/InvitePolicySelect.test.js
  apps/web/src/routes/CreateGroup/CreateGroupForm.jsx
  apps/web/src/routes/CreateGroup/CreateGroupForm.test.js
  apps/web/src/routes/GroupSettings/PrivacySettingsTab/PrivacySettingsTab.jsx
  apps/web/src/routes/GroupSettings/PrivacySettingsTab/PrivacySettingsTab.test.js
Due: backend-changed, web-changed

Record email link clicks in Hylo's own database, then remove the tags
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/emailClick.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/lib/rateLimit.js
  apps/backend/migrations/20261006000000_email_clicks.js
  apps/backend/migrations/schema.sql
  apps/backend/test/unit/graphql/emailClick.test.js
  apps/web/src/hooks/useEmailClickthrough.js
  apps/web/src/hooks/useEmailClickthrough.test.js
  apps/web/src/routes/RootRouter/RootRouter.js
  apps/web/src/routes/RootRouter/RootRouter.signedOut.test.js
Due: backend-changed, web-changed

Send a 'Page Viewed' event with the route pattern on each page change
  apps/web/src/hooks/usePageViewTracking.js
  apps/web/src/hooks/usePageViewTracking.test.js
  apps/web/src/routes/RootRouter/RootRouter.js
  apps/web/src/util/routePattern.js
  apps/web/src/util/routePattern.test.js
  packages/shared/src/constants.js
Due: web-changed

Refund button gives the money back and leaves access in place
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/contentAccess.js
  apps/backend/api/graphql/mutations/contentAccess.test.js
  apps/backend/api/graphql/queries/transactions.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/ContentAccess.js
  apps/backend/api/services/Search/util.js
  apps/backend/migrations/20261005000000_content_access_refunded_at.js
  apps/backend/migrations/schema.sql
  apps/backend/test/unit/controllers/StripeController.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/graphql/queries/contentAccessQuery.js
  apps/web/src/routes/GroupSettings/PaidContentTab/ContentAccessTab.js
  apps/web/src/routes/GroupSettings/PaidContentTab/ContentAccessTab.test.js
  apps/web/src/routes/MyTransactions/MyTransactions.jsx
  apps/web/src/routes/MyTransactions/MyTransactions.test.js
  apps/web/src/store/actions/fetchMyTransactions.js
  apps/web/src/store/actions/refundContentAccess.js
Due: backend-changed, web-changed

Send signed-out buyers to sign up, and show prices in their currency
  apps/web/src/routes/GroupDetail/PaywallOfferingsSection.jsx
  apps/web/src/routes/GroupDetail/PaywallOfferingsSection.test.js
  apps/web/src/routes/GroupSettings/PaidContentTab/OfferingsTab.js
  apps/web/src/routes/MyTransactions/MyTransactions.jsx
  apps/web/src/routes/OfferingDetails/OfferingDetails.jsx
  apps/web/src/routes/OfferingDetails/OfferingDetails.test.js
  apps/web/src/util/formatPrice.js
  apps/web/src/util/formatPrice.test.js
Due: web-changed

Track which invite link people copy
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.js
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.test.js
  packages/shared/src/constants.js
Due: web-changed

Document the notification timing settings in the backend .env.example
  apps/backend/.env.example
Due: backend-changed

Sort the Group Explorer by "Recently active" by default
  apps/backend/api/services/Search/util.js
  apps/backend/test/unit/services/Search.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/hooks/useEnsureSearchedGroups/index.js
  apps/web/src/routes/GroupExplorer/FeaturedGroups/FeaturedGroups.js
  apps/web/src/routes/GroupExplorer/FeaturedGroups/FeaturedGroups.test.js
  apps/web/src/routes/GroupExplorer/GroupExplorer.js
  apps/web/src/routes/GroupExplorer/GroupExplorer.test.js
  apps/web/src/routes/GroupExplorer/GroupSearch/GroupSearch.js
Due: backend-changed, web-changed

Name the review page's button handlers the way the linter expects
  apps/web/src/routes/Management/ExplorerReview/ExplorerReview.js
Due: web-changed

Ask creators to choose visibility and joining, and default new groups to Everyone
  apps/backend/api/graphql/mutations/group.test.js
  apps/backend/api/models/Group.js
  apps/backend/api/models/GroupRole.js
  apps/backend/test/unit/models/GroupRole.test.js
  apps/web/e2e/authenticated.invite-policy.spec.js
  apps/web/e2e/create-group-and-policy.spec.js
  apps/web/e2e/create-group-modal.spec.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/SettingSelectRow/SettingSelectRow.jsx
  apps/web/src/routes/CreateGroup/CreateGroupForm.jsx
  apps/web/src/routes/CreateGroup/CreateGroupForm.test.js
Due: backend-changed, web-changed

Give members personal, tracked invite links
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/group.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/mutations/invitation.js
  apps/backend/api/graphql/mutations/invitation.test.js
  apps/backend/api/graphql/mutations/join_request.js
  apps/backend/api/graphql/mutations/join_request.test.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Group.js
  apps/backend/api/models/GroupMembership.js
  apps/backend/api/models/InvitationSend.js
  apps/backend/api/models/JoinRequest.js
  apps/backend/api/models/MemberInviteLink.js
  apps/backend/api/services/InvitationService.js
  apps/backend/migrations/20261002000000_member_invite_links.js
  apps/backend/migrations/20261002000100_join_requests_sponsor.js
  apps/backend/migrations/schema.sql
  apps/backend/test/unit/services/InvitationService.test.js
  apps/mobile-leap/src/screens/JoinGroup/JoinGroupScreen.tsx
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/GroupDetail/GroupDetail.js
  apps/web/src/routes/GroupDetail/GroupDetail.store.js
  apps/web/src/routes/GroupDetail/JoinSection.jsx
  apps/web/src/routes/GroupDetail/JoinSection.test.js
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.js
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.store.js
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.test.js
  apps/web/src/routes/GroupSettings/InviteSettingsTab/MemberInviteLinkCard.jsx
  apps/web/src/routes/JoinGroup/JoinGroup.js
  apps/web/src/routes/JoinGroup/JoinGroup.test.js
  apps/web/src/store/actions/checkInvitation.js
Due: backend-changed, web-changed

Publish a robots.txt and a daily sitemap of listed Public groups
  apps/backend/api/services/Sitemap.js
  apps/backend/cron.js
  apps/backend/test/unit/services/Sitemap.test.js
  apps/web/public/robots.txt
  apps/web/src/server/index.js
  apps/web/src/server/sitemapRoute.js
  apps/web/src/server/sitemapRoute.test.js
Due: backend-changed, web-changed

Add an end-to-end spec for members' personal invite links
  apps/backend/scripts/seed-e2e-baseline.js
  apps/web/e2e/member-invite-link.spec.js
Due: backend-changed, web-changed

Show groups in the main search, with a link to the Explorer when nothing matches
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/services/Search.js
  apps/backend/test/unit/services/Search.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/Search/Search.js
  apps/web/src/routes/Search/Search.store.js
  apps/web/src/routes/Search/Search.test.js
Due: backend-changed, web-changed

Match Stripe dashboard refunds of subscription charges and log them
  apps/backend/api/controllers/StripeController.js
  apps/backend/test/unit/controllers/StripeController.test.js
Due: backend-changed

Make Important adapt: live chat conversations and quiet groups
  apps/backend/api/models/Activity.js
  apps/backend/api/models/Post.js
  apps/backend/api/models/group/activityBenchmark.js
  apps/backend/api/models/notification/rules/adaptiveImportant.js
  apps/backend/api/models/notification/rules/index.js
  apps/backend/cron.js
  apps/backend/test/unit/models/Post.test.js
  apps/backend/test/unit/models/group/activityBenchmark.test.js
  apps/backend/test/unit/models/notification/adaptiveImportant.test.js
Due: backend-changed

Stop the hourly chat digest when a group's email digest is Never
  apps/backend/api/models/GroupViewUser.js
  apps/backend/test/unit/models/GroupViewUser.test.js
  apps/web/src/routes/UserSettings/NotificationSettingsTab/GroupMembershipNotificationSettings.jsx
Due: backend-changed, web-changed
