Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Go back to loading more posts on initial chat load
  apps/backend/api/models/post/createPost.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: backend-changed, web-changed

Add license to root of the repo
  LICENSE.md
Due: none

fix: preserve filename for URL-based file attachments
  apps/web/src/components/AttachmentManager/AttachmentManager.store.js
  apps/web/src/components/AttachmentManager/FilePreview.jsx
  apps/web/src/components/UploadAttachmentButton/UploadAttachmentButton.js
Due: web-changed

Clear up merge conflict artifact
  apps/web/src/routes/TrackHome/TrackHome.jsx
Due: web-changed

Fix so all new posts instantly appear in stream and events calendar again, even ones with topics
  apps/web/src/store/reducers/queryResults.js
Due: web-changed

Ignore query params when deciding if its a different post draft or not
  apps/web/src/components/CreateModal/CreateModal.js
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Fix ability to click on comment box to move cursor location
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.js
Due: web-changed

Initial sendwithus i18n update
  apps/backend/lib/util.js
  package.json
  scripts/i18n/lib.js
  scripts/i18n/migrate-sendwithus-templates.js
  scripts/i18n/po-utils.js
  scripts/i18n/sendwithus-client.js
  scripts/i18n/sendwithus-inventory.json
  scripts/i18n/sendwithus-locales/de-DE.po
  scripts/i18n/sendwithus-locales/en-US.po
  scripts/i18n/sendwithus-locales/es-ES.po
  scripts/i18n/sendwithus-locales/fr-FR.po
  scripts/i18n/sendwithus-locales/hi-IN.po
  scripts/i18n/sendwithus-locales/pt-BR.po
  scripts/i18n/sendwithus-locales/template.pot
  scripts/i18n/sendwithus-locales/translations.zip
  scripts/i18n/template-id-mapping.json
  scripts/i18n/template-parser.js
  scripts/i18n/upload-po-files.js
  scripts/i18n/verify-po-upload.js
  yarn.lock
Due: backend-changed

feat(oauth): add web_only mode to prevent mobile app OAuth interception
  apps/backend/api/hooks/oidcRoutes.js
  apps/backend/api/services/OpenIDConnect.js
  apps/web/src/routes/RootRouter/RootRouter.js
Due: backend-changed, web-changed

feat: add Developer Mode and Bot Support
  apps/backend/api/graphql/mutations/application.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Application.js
  apps/backend/api/models/BotGroupPermission.js
  apps/backend/api/models/User.js
  apps/backend/api/policies/checkClientCredentials.js
  apps/backend/api/services/OpenIDConnect.js
  apps/backend/migrations/20260126120000_add_developer_applications_and_bots.js
  apps/web/src/routes/UserSettings/DeveloperSettingsTab/DeveloperSettingsTab.js
  apps/web/src/routes/UserSettings/DeveloperSettingsTab/DeveloperSettingsTab.module.scss
  apps/web/src/routes/UserSettings/DeveloperSettingsTab/DeveloperSettingsTab.store.js
  apps/web/src/routes/UserSettings/DeveloperSettingsTab/index.js
  apps/web/src/routes/UserSettings/UserSettings.js
Due: backend-changed, web-changed

fix: fix ESLint errors in DeveloperSettingsTab
  apps/web/src/routes/UserSettings/DeveloperSettingsTab/DeveloperSettingsTab.js
Due: web-changed

fix: correct indentation in DeveloperSettingsTab
  apps/web/src/routes/UserSettings/DeveloperSettingsTab/DeveloperSettingsTab.js
Due: web-changed

fix: add eslint-disable for multiline-ternary
  apps/web/src/routes/UserSettings/DeveloperSettingsTab/DeveloperSettingsTab.js
Due: web-changed

feat(developer-portal): unified Developer tab with accurate API documentation
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/UserSettings/DeveloperSettingsTab/DeveloperSettingsTab.js
  apps/web/src/routes/UserSettings/DeveloperSettingsTab/DeveloperSettingsTab.module.scss
  apps/web/src/routes/UserSettings/UserSettings.js
Due: web-changed

feat(developer-settings): add redirect URI management and API test scripts
  apps/web/scripts/api-test-bot.js
  apps/web/scripts/generate-test-token.js
  apps/web/src/routes/UserSettings/DeveloperSettingsTab/DeveloperSettingsTab.js
  apps/web/src/routes/UserSettings/DeveloperSettingsTab/DeveloperSettingsTab.module.scss
  apps/web/src/routes/UserSettings/DeveloperSettingsTab/DeveloperSettingsTab.store.js
Due: web-changed

feat(developer-settings): add bot creation UI for Discord-style service accounts
  apps/web/src/routes/UserSettings/DeveloperSettingsTab/DeveloperSettingsTab.js
  apps/web/src/routes/UserSettings/DeveloperSettingsTab/DeveloperSettingsTab.module.scss
Due: web-changed

fix(developer-settings): fix ESLint multiline-ternary errors
  apps/web/src/routes/UserSettings/DeveloperSettingsTab/DeveloperSettingsTab.js
Due: web-changed

feat(oauth,bots): Fix mobile OAuth routing and implement Discord-style Developer Portal
  apps/backend/api/graphql/index.js
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/application.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Application.js
  apps/backend/api/models/BotGroupPermission.js
  apps/backend/api/models/Group.js
  apps/backend/api/models/post/validatePostData.js
  apps/backend/lib/uploader/types.js
  apps/backend/lib/uploader/validation.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/GroupSettings/BotsSettingsTab/BotsSettingsTab.js
  apps/web/src/routes/GroupSettings/BotsSettingsTab/BotsSettingsTab.module.scss
  apps/web/src/routes/GroupSettings/BotsSettingsTab/BotsSettingsTab.store.js
  apps/web/src/routes/GroupSettings/BotsSettingsTab/index.js
  apps/web/src/routes/GroupSettings/GroupSettings.js
  apps/web/src/routes/UserSettings/ApiDocumentationTab/ApiDocumentationTab.js
  apps/web/src/routes/UserSettings/ApiDocumentationTab/ApiDocumentationTab.module.scss
  apps/web/src/routes/UserSettings/ApiDocumentationTab/index.js
  apps/web/src/routes/UserSettings/DeveloperSettingsTab/DeveloperSettingsTab.js
  apps/web/src/routes/UserSettings/DeveloperSettingsTab/DeveloperSettingsTab.module.scss
  apps/web/src/routes/UserSettings/DeveloperSettingsTab/DeveloperSettingsTab.store.js
  apps/web/src/store/actions/fetchUserSettings.js
Due: backend-changed, web-changed

Sanitize HTML being returned from backend for comments
  apps/backend/api/models/comment/createComment.js
Due: backend-changed

Chatroom tweaks
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

disable group cal sub links for now
  apps/web/src/components/StreamViewControls/StreamViewControls.js
Due: web-changed

Backend v6.3.0
  apps/backend/CHANGELOG.md
  apps/backend/package.json
Due: backend-changed

Frontend/web v6.3.1
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: web-changed

Missed changelog entry
  apps/web/CHANGELOG.md
Due: web-changed

Further fixes to how roles are handled by content access and transaction queries
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/queries/transactions.js
  apps/backend/api/services/Search/util.js
  apps/web/src/graphql/queries/contentAccessQuery.js
  apps/web/src/routes/GroupSettings/PaidContentTab/ContentAccessTab.js
  apps/web/src/routes/GroupSettings/PaidContentTab/PaidContentTab.store.js
Due: backend-changed, web-changed

Further tweaks to how roles are handled by content access records and stripe offering records
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/contentAccess.test.js
  apps/backend/api/graphql/mutations/stripe.js
  apps/backend/api/graphql/mutations/stripe.test.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/ContentAccess.js
  apps/backend/api/models/StripeProduct.js
  apps/backend/lib/scopes.js
  apps/backend/test/unit/lib/scopes.test.js
  apps/web/src/routes/GroupDetail/PaywallOfferingsSection.jsx
  apps/web/src/routes/GroupSettings/PaidContentTab/OfferingsTab.js
  apps/web/src/routes/GroupSettings/PaidContentTab/PaidContentTab.store.js
  apps/web/src/routes/OfferingDetails/OfferingDetails.jsx
  apps/web/src/store/actions/fetchPublicStripeOffering.js
  apps/web/src/store/actions/fetchPublicStripeOfferings.js
  apps/web/src/store/actions/grantContentAccess.js
  apps/web/src/store/models/ContentAccess.js
  apps/web/src/util/accessGrants.js
Due: backend-changed, web-changed

Fix tracks enrollment display logic in TrackHome view
  apps/web/src/routes/TrackHome/TrackHome.jsx
Due: web-changed

Trying to ensure that the PO files have the correct syntax
  scripts/i18n/check-po-format-flags.js
  scripts/i18n/fix-po-format-flags.js
  scripts/i18n/sendwithus-locales/en-US.po
  scripts/i18n/sendwithus-locales/translations.zip
  scripts/i18n/validate-po-syntax.js
  scripts/i18n/validate-po-variables.js
Due: none

Groups and topics weee
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Missing translation
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
Due: web-changed

Fix issue where #general would still appear in possible groups even when already selected
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Fix favicon icons
  apps/web/index.html
Due: web-changed

Fix join flow; actually save pre-answered join questions and dont ask for agreements if they are already done
  apps/backend/api/models/GroupMembership.js
  apps/backend/api/models/User.js
  apps/web/src/routes/GroupWelcomeModal/GroupWelcomeModal.js
Due: backend-changed, web-changed

PAID CONTENT: Ensure membership is created before roles are granted
  apps/backend/api/controllers/StripeController.js
Due: backend-changed

Improve UX of My transactions and the filters
  apps/web/src/routes/MyTransactions/MyTransactions.jsx
  apps/web/src/store/reducers/myTransactions.js
Due: web-changed

Fix RSVPing to an event
  apps/backend/api/graphql/mutations/event.js
  apps/backend/api/graphql/mutations/event.test.js
  apps/backend/api/models/Group.js
  apps/backend/api/models/Post.js
  apps/backend/api/models/event/mixin.js
  apps/backend/worker.js
Due: backend-changed

Delete associated context widgets when deleting a custom view
  apps/backend/api/models/Group.js
Due: backend-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
