Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

Web v6.1.5
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: web-changed

Fix topic selector text color in dark mode
  apps/web/src/components/TopicSelector/TopicSelector.js
  apps/web/src/components/TopicSelector/TopicSelector.module.scss
Due: web-changed

Remove extra weird star on proposal options
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Lint fix
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Remove action as a post type option for custom views
  apps/web/src/routes/GroupSettings/CustomViewsTab/CustomViewsTab.js
Due: web-changed

French, Hindi and some Portuguese
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/Dropdown/Dropdown.js
  apps/web/src/i18n.mjs
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/LocaleDropdown/LocaleDropdown.js
Due: web-changed

Change default group explorer featured groups to empty
  apps/web/src/routes/GroupExplorer/GroupExplorer.js
Due: web-changed

Fix flash of [Object] in page titles
  apps/web/src/components/ViewHeader/ViewHeader.jsx
Due: web-changed

Fix setting up prerequisite groups
  apps/web/src/components/GroupsSelector/GroupsSelector.js
  apps/web/src/components/GroupsSelector/GroupsSelector.module.scss
  apps/web/src/components/KeyControlledList/KeyControlledItemList.module.scss
  apps/web/src/components/KeyControlledList/KeyControlledList.js
  apps/web/src/components/KeyControlledList/KeyControlledList.module.scss
  apps/web/src/components/TagInput/TagInput.js
  apps/web/src/routes/GroupSettings/GroupSettings.js
Due: web-changed

Fix #topic links in Group Welcome Page
  apps/web/src/routes/GroupWelcomePage/GroupWelcomePage.jsx
Due: web-changed

No padding around map view
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Fixes to map drawer styling
  apps/web/src/routes/MapExplorer/MapDrawer/MapDrawer.module.scss
  apps/web/src/routes/PostDetail/PostDetail.js
  apps/web/src/routes/PostDetail/PostDetail.module.scss
Due: web-changed

Fix filtering by topics in map drawer
  apps/web/src/routes/MapExplorer/MapExplorer.js
  apps/web/src/routes/MapExplorer/MapExplorer.store.js
Due: web-changed

Cleaned up translations, and added translation tools to make managing translations easier
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/scripts/translation-tools/HOWTO-Translate-a-new-key-to-all-languages.md
  apps/web/scripts/translation-tools/HOWTO-Translate-a-new-language.md
  apps/web/scripts/translation-tools/HOWTO-Use-translation-tools
  apps/web/scripts/translation-tools/applyChunk.js
  apps/web/scripts/translation-tools/applyMissingTranslations.js
  apps/web/scripts/translation-tools/checkProgress.js
  apps/web/scripts/translation-tools/compareLocales.js
  apps/web/scripts/translation-tools/finalizeTranslation.js
  apps/web/scripts/translation-tools/findDuplicates.js
  apps/web/scripts/translation-tools/findExtraKeys.js
  apps/web/scripts/translation-tools/findMissingTranslations.js
  apps/web/scripts/translation-tools/findRawDuplicates.js
  apps/web/scripts/translation-tools/improvedTranslations.js
  apps/web/scripts/translation-tools/mergeTranslations.js
  apps/web/scripts/translation-tools/processChunk.js
  apps/web/scripts/translation-tools/processMissingKeys.js
  apps/web/scripts/translation-tools/sortLocales.js
  apps/web/scripts/translation-tools/translateLocale.js
  apps/web/scripts/translation-tools/translateToLanguage.js
  apps/web/scripts/translation-tools/translation-plan-hi.json
Due: web-changed

fix migration rollback for posts#num_commenters
  apps/backend/migrations/20250614182703_add-num-commenters-to-posts.js
Due: backend-changed

update schema.sql
  apps/backend/migrations/schema.sql
Due: backend-changed

Remove unnecessary markdown parsing
  apps/mobile/src/screens/GroupWelcome/GroupWelcome.js
Due: mobile-changed

Remove other references to TextHelpers
  apps/mobile/src/screens/GroupWelcome/GroupWelcome.js
  apps/mobile/src/screens/GroupWelcome/GroupWelcomePage.js
Due: mobile-changed

Web v6.1.6
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: web-changed

Modified ThemeSelector to default to "Auto" which follows whatever the browser says.
  apps/web/src/components/ThemeSelector/ThemeSelector.js
  apps/web/src/contexts/ThemeContext.js
Due: web-changed

Removed console.log
  apps/web/src/routes/GroupSettings/PrivacySettingsTab/PrivacySettingsTab.jsx
Due: web-changed

Fix text color of featured groups in group explorer on prod
  apps/web/src/css/typography.scss
Due: web-changed

Get backend tests running again
  apps/backend/migrations/schema.sql
  apps/backend/package.json
  apps/backend/test/unit/controllers/SessionController.test.js
  apps/backend/test/unit/models/Comment.test.js
  apps/backend/test/unit/models/User.test.js
  apps/backend/test/unit/services/Email.test.js
Due: backend-changed

Add various group related subscriptions to the backend and mobile
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/makeSubscriptions.js
  apps/backend/api/graphql/mutations/group.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Group.js
  apps/backend/lib/groupSubscriptionPublisher.js
  apps/mobile/src/navigation/AuthRootNavigator.js
  packages/urql/updates/index.js
Due: backend-changed, mobile-changed

Defer more work in group mutations with subscriptions
  apps/backend/api/graphql/mutations/group.js
  apps/backend/lib/groupSubscriptionPublisher.js
Due: backend-changed

add ical_sequence to event_invitations
  apps/backend/migrations/20250701075410_add_sequence_to_eventInvitation.js
  apps/backend/migrations/schema.sql
Due: backend-changed

send rsvp email when appropriate
  apps/backend/api/graphql/mutations/event.js
  apps/backend/api/models/Post.js
Due: backend-changed

remove debug console stmts
  apps/backend/api/graphql/mutations/event.js
Due: backend-changed

remove unused utility function
  apps/backend/api/models/Post.js
Due: backend-changed

Fixed border on color scheme selector
  apps/web/src/components/ThemeSelector/ThemeSelector.js
Due: web-changed

Linting
  apps/web/src/components/ThemeSelector/ThemeSelector.js
Due: web-changed

Fix oAuth consent page
  apps/web/src/routes/NonAuthLayoutRouter/NonAuthLayoutRouter.js
  apps/web/src/routes/OAuth/Consent/Consent.connector.js
  apps/web/src/routes/OAuth/Consent/Consent.js
  apps/web/src/routes/OAuth/Consent/index.js
  apps/web/src/routes/RootRouter/RootRouter.js
Due: web-changed

Updated noPosts to look nicer and to work better for new groups
  apps/web/src/components/NoPosts/index.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Cleaned up project view, which had different sections at the bottom that had not been updated to the new style
  apps/web/src/routes/PostDetail/PostDetail.js
Due: web-changed

Update APIs README
  apps/backend/APIs.md
  apps/backend/api/hooks/oidcRoutes.js
Due: backend-changed

Cleaned up styling of moderationListItem, added createdAt to the actions so that I could display <user> reported this on <day>, updated translations for change in text
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/ModerationListItem/ModerationListItem.js
  apps/web/src/store/actions/moderationActions/index.js
Due: web-changed

Fixed up titles
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/ModerationListItem/ModerationListItem.js
Due: web-changed

Fix bug for select one track actions
  apps/web/src/routes/PostDetail/ActionCompletionSection.jsx
Due: web-changed

Crap, fix logging in
  apps/web/src/routes/NonAuthLayoutRouter/NonAuthLayoutRouter.js
Due: web-changed

Fix display of /post/:postId URLs when logged in
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed
