Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

Allow group admins to create stripe account; add check for stripe status; add link to stripe dashboard for connected accounts
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/mutations/project.js
  apps/backend/api/graphql/mutations/stripe.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Group.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/GroupSettings/GroupSettings.js
  apps/web/src/routes/GroupSettings/GroupSettings.store.js
  apps/web/src/routes/GroupSettings/PaidContentTab/PaidContentTab.js
  apps/web/src/routes/GroupSettings/PaidContentTab/PaidContentTab.store.js
  apps/web/src/store/models/Group.js
  apps/web/src/util/contextWidgets.js
Due: backend-changed, web-changed

When a round is complete, display who voted for what and allow download of the results.
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/schema.graphql
  apps/web/src/routes/FundingRoundHome/ManageTab.jsx
  apps/web/src/routes/FundingRoundHome/SubmissionCard.jsx
  apps/web/src/routes/FundingRoundHome/SubmissionsTab.jsx
  apps/web/src/routes/FundingRounds/FundingRounds.store.js
  apps/web/src/store/actions/fetchFundingRoundAllocations.js
  apps/web/src/store/models/FundingRound.js
  apps/web/src/store/selectors/getFundingRound.js
Due: backend-changed, web-changed

When a round is complete, display who voted for what and allow download of the results.
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/schema.graphql
Due: backend-changed

Text and translations
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/FundingRoundEditor/FundingRoundEditor.jsx
  apps/web/src/routes/FundingRoundHome/FundingRoundHome.jsx
Due: web-changed

Create a singleton kue queue to prevent memory leaks
  apps/backend/api/services/Queue.js
Due: backend-changed

Remove expired OIDC payloads in cron, not in every call to DBAdapter
  apps/backend/api/services/oidc/KnexAdapter.js
  apps/backend/cron.js
Due: backend-changed

Create a singleton socket io emitter to prevent memory leaks
  apps/backend/lib/util.js
Due: backend-changed

Make sure avatar images don't get squished at certain sizes
  apps/web/src/components/RoundImage/RoundImage.module.scss
Due: web-changed

External links in context menu show icon indicating they go to external webpage
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MenuLink/MenuLink.jsx
Due: web-changed

Fix bug that would briefly show an orange dot on a DM thread after you posted a new message
  apps/backend/api/models/comment/createComment.js
Due: backend-changed

Rest of check for new notifications on visibility
  apps/web/src/store/actions/checkForNewNotifications.js
  apps/web/src/store/constants.js
Due: web-changed

Lint fix
  apps/backend/api/models/PostUser.js
Due: backend-changed

Fix bug that was not resetting the new notifications count when you click on the activity bell
  apps/backend/api/graphql/makeSchema.js
Due: backend-changed

Activity bell and group icons show blank orange dots for notifications
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
Due: web-changed

When Hylo tab becomes visible again check for new notifications
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Remove ugly header for new message UI in mobile
  apps/web/src/routes/Messages/Messages.js
  apps/web/src/routes/Messages/Messages.module.scss
Due: web-changed

Change new message text to New Message With
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/Messages/PeopleSelector/PeopleSelector.js
Due: web-changed

Fix creating new messages on web mobile
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/Messages/ThreadList/ThreadList.js
Due: web-changed

Correctly update orange dot on chat room when new post is received
  apps/web/src/components/SocketListener/SocketListener.store.js
Due: web-changed

Fix duplicate post issue when switching to chat room that has new posts
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Commet form doesn't overlap comments above it
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.js
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.module.scss
  apps/web/src/routes/PostDetail/Comments/Comments.js
  apps/web/src/routes/PostDetail/Comments/Comments.module.scss
Due: web-changed

Use option-enter to submit comments instead of enter
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.js
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.module.scss
  apps/web/src/routes/PostDetail/Comments/Comments.js
Due: web-changed

Fix occasional state error in global nav menu
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
Due: web-changed

Clean up how we return funding around vote allocations from back end
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/models/FundingRound.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: backend-changed, web-changed

Don't show submission criteria when blank
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Always show total tokens on about tab
  apps/web/src/routes/FundingRoundHome/AboutTab.jsx
Due: web-changed

When a post is deleted decrement new_post_count of associated topic follows that have not seen the post yet
  apps/backend/api/models/Post.js
  apps/backend/api/models/post/deletePost.js
Due: backend-changed

Performance optimization: Chatroom quick wins (60% faster)
  apps/backend/api/models/Post.js
  apps/backend/api/models/post/createPost.js
  apps/backend/migrations/20251104000001_chatroom-performance-indexes.js
  apps/web/src/store/presenters/presentPost.js
Due: backend-changed, web-changed

Add final piece for Android 16k memory support
  apps/mobile/android/app/src/main/java/com/hylo/hyloandroid/MainApplication.kt
Due: mobile-changed

Performance optimization Phase 2: Architectural improvements (80% total gain)
  apps/web/src/graphql/fragments/chatPostFieldsFragment.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/store/actions/fetchPosts.js
Due: web-changed

Reset chat room new post count when at latest post but its showing new posts
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Remove unused stuff
  apps/backend/api/graphql/mutations/fundingRound.js
  apps/web/src/components/FundingRoundEditor/FundingRoundEditor.jsx
Due: backend-changed, web-changed

Performance optimization: Eliminate waterfall by loading data in parallel
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Revert parallel loading - caused race condition bug
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Fix: Proper parallel loading using topicName instead of topic ID
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Fix: Add missing fields to chatPostFieldsFragment for PeopleInfo component
  apps/web/src/graphql/fragments/chatPostFieldsFragment.js
Due: web-changed

Revert to sequential loading - parallel loading caused cache mismatch
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Cleanup and some tests for mutations
  apps/backend/api/graphql/mutations/fundingRound.js
  apps/backend/api/graphql/mutations/fundingRound.test.js
  apps/backend/migrations/schema.sql
  apps/mobile/locales/en.json
Due: backend-changed, mobile-changed

Don't allow pasted in images in post editor
  apps/web/src/components/HyloEditor/HyloEditor.js
Due: web-changed

Remove console
  apps/backend/api/models/Notification.js
Due: backend-changed
