Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Lift the card fade on hover so more of the icon pattern shows
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuGrid.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/GroupViewCard.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/viewCardTheme.js
Due: web-changed

Pull grid headings closer to the cards they label
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuGrid.jsx
Due: web-changed

Cleaned up login stylings
  apps/mobile-leap/assets/fonts/hylo-evo-icons.ttf
  apps/mobile-leap/package.json
  apps/mobile-leap/src/components/GoogleLoginButton.tsx
  apps/mobile-leap/src/components/HyloWebView/HyloWebView.tsx
  apps/mobile-leap/src/components/SocialAuth.tsx
  apps/mobile-leap/src/components/auth/AuthScreenParts.tsx
  apps/mobile-leap/src/navigation/AuthNavigator.tsx
  apps/mobile-leap/src/screens/Login/LoginScreen.tsx
  apps/mobile-leap/src/screens/PrimaryWebView/PrimaryWebViewScreen.tsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuGrid.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuOld.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/RootRouter/RootRouter.js
  apps/web/src/util/webView.js
  yarn.lock
Due: web-changed

Bold the global nav labels to match the context menu
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
Due: web-changed

Raise the phone type scale off its 15px root
  apps/web/src/css/global/index.scss
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/viewCardTheme.js
Due: web-changed

Fix iOS cert signing setup for bitrise
  apps/mobile-leap/scripts/bitrise-build.sh
  apps/mobile-leap/scripts/patch-ios-hylo-signing.sh
Due: none

Fix ios script
  apps/mobile-leap/scripts/bitrise-build.sh
Due: none

Ensure iOS store is passed dev team info
  apps/mobile-leap/scripts/bitrise-build.sh
  apps/mobile-leap/scripts/patch-ios-hylo-signing.sh
Due: none

Update intercom deps for ios bitrise build
  apps/mobile-leap/package.json
  apps/mobile-leap/scripts/patch-ios-hylo-signing.sh
  yarn.lock
Due: none

Hide the More Views entry when there is nothing behind it
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuGrid.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/GroupViewCard.jsx
Due: web-changed

Fix config for testflight distribution
  apps/mobile-leap/app.config.ts
Due: none

Reorder the one-column menu as cards instead of dropping to a list
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuGrid.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/GroupViewCard.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/GroupViewEditList.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/SortableViewsGrid.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/useViewReorder.js
  packages/presenters/src/GroupViewPresenter.js
Due: web-changed

Make Add View and Add Space cards at the foot of the card grids
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuGrid.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/GroupViewCard.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MoreViewsPage.jsx
Due: web-changed

Fade back the Add View and Add Space card outlines
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/GroupViewCard.jsx
Due: web-changed

Start card drags on mouse movement rather than a hold
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/GroupViewCard.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/SortableViewsGrid.jsx
Due: web-changed

Stop cards distorting while dragging the menu grid
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/SortableViewsGrid.jsx
Due: web-changed

Reflow the menu grid during a drag so text rows keep their own line
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/SortableViewsGrid.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/useViewReorder.js
Due: web-changed

Show the grab cursor over cards in the editable menu grid
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/GroupViewCard.jsx
Due: web-changed

Fix collapsed cards in the editable menu grid on phone
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/GroupViewCard.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/SortableViewsGrid.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/viewCardTheme.js
Due: web-changed

Stop a card drag from selecting text
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/SortableViewsGrid.jsx
Due: web-changed

Stop rebuilding every card's icon field on each drag event
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/CardIconField.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/GroupViewCard.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/SortableViewsGrid.jsx
Due: web-changed

Fix display of all lucide icons for spaces
  packages/presenters/src/GroupViewPresenter.js
Due: none

Draw the card wallpaper as one SVG pattern instead of 272 elements
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/CardIconField.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/CardIconField.test.js
Due: web-changed

Centre the empty-stream notice and warm up its wording
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/NoPosts/index.js
  apps/web/src/routes/ViewContent/ViewContent.js
Due: web-changed

Suppress the text-select loupe on the dragged card, and open what you create
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddGroupViewDialog.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddSpaceDialog.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/SortableViewsGrid.jsx
Due: web-changed

Stop the active space label flashing dark before it turns white
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Combine Add View and Add Space, and share one Done Editing bar
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddChooserDialog.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuGrid.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/EditingBottomBar.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MoreViewsPage.jsx
Due: web-changed

Editing DMs
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/comment.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/comment/createComment.js
  apps/backend/api/services/Websockets.js
  apps/web/src/components/SocketListener/SocketListener.js
  apps/web/src/components/SocketListener/SocketListener.store.js
  apps/web/src/components/SocketListener/SocketListener.store.test.js
  apps/web/src/graphql/queries/MessageThreadMessagesQuery.js
  apps/web/src/graphql/queries/MessageThreadQuery.js
  apps/web/src/graphql/queries/MessageThreadsQuery.js
  apps/web/src/routes/Messages/Message/Message.js
  apps/web/src/routes/Messages/Message/Message.test.js
  apps/web/src/store/actions/updateComment.js
  apps/web/src/store/models/Message.js
  apps/web/src/store/reducers/ormReducer/index.js
  apps/web/src/store/reducers/ormReducer/index.test.js
Due: backend-changed, web-changed

Improve sorting and filtering of member lists
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/Members/Members.js
  apps/web/src/routes/Members/Members.store.js
  apps/web/src/routes/Members/Members.store.test.js
  apps/web/src/store/reducers/queryResults.js
Due: web-changed

Filter deleted profiles out of queries on the backend
  apps/backend/api/models/Group.js
  apps/backend/api/models/group/queryUtils.js
  apps/backend/api/services/Search/forUsers.js
  apps/backend/api/services/Search/util.js
  apps/backend/test/unit/models/Group.test.js
Due: backend-changed

Open Add as a dropdown on its card rather than a modal
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddChooserDialog.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddViewOrSpaceMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuGrid.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/GroupViewCard.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MoreViewsPage.jsx
Due: web-changed

Quieten the global nav's utilities and lift its group icons
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
Due: web-changed

Match the rail's hover mechanics inside the stack, and count its children
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
Due: web-changed

Let a large stack of groups scroll instead of running past the fold
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
Due: web-changed

Silence rail labels while a stack's submenu is open
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
Due: web-changed

Allow Tailscale hostnames to reach the dev server
  apps/web/vite.config.js
Due: web-changed

Make sockets work when the dev server is reached from another device
  apps/web/src/client/websockets.js
  apps/web/vite.config.js
Due: web-changed

Let vite preview serve remote hosts too
  apps/web/vite.config.js
Due: web-changed

New notifications
  apps/backend/api/models/GroupViewUser.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/GroupMenuHeader/GroupMenuHeader.jsx
  apps/web/src/components/GroupNotificationsPopover/GroupNotificationsPopover.jsx
  apps/web/src/components/ui/tooltip.tsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuGrid.jsx
  apps/web/src/routes/GroupDetail/GroupDetail.js
  apps/web/src/routes/UserSettings/NotificationSettingsTab/GroupMembershipNotificationSettings.jsx
  apps/web/src/routes/UserSettings/NotificationSettingsTab/MembershipSettingRow.jsx
  apps/web/src/routes/UserSettings/NotificationSettingsTab/NotificationSettingsTab.js
  apps/web/src/routes/UserSettings/NotificationSettingsTab/NotificationSettingsTab.test.js
  apps/web/src/routes/UserSettings/NotificationSettingsTab/SettingToggles.jsx
Due: backend-changed, web-changed

Deleting a space from More Views and Spaces fully deletes it
  apps/backend/api/graphql/mutations/spaces.js
  apps/backend/api/graphql/mutations/spaces.test.js
  apps/backend/api/models/Group.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuGrid.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/GroupViewCard.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/GroupViewEditList.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MoreViewsPage.jsx
  apps/web/src/store/actions/groupViews.js
  apps/web/src/store/constants.js
  apps/web/src/store/models/GroupView.js
Due: backend-changed, web-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
