Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

Fix display of enrolled and completed dates for tracks
  apps/web/src/components/ActionCompletionResponsesDialog/ActionCompletionResponsesDialog.jsx
  apps/web/src/routes/PostDetail/ActionCompletionSection.jsx
  apps/web/src/routes/TrackHome/TrackHome.jsx
Due: web-changed

Fix display of upcoming posts in email digests
  apps/backend/api/models/Post.js
  apps/backend/api/models/TagFollow.js
Due: backend-changed

Fix hover state of global nav menu on mobile browser
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

Remove use of modal for postdetail views
  apps/mobile/src/components/HyloWebView/HyloWebView.js
  apps/mobile/src/components/PostListRow/PostListRow.js
  apps/mobile/src/screens/MemberProfile/MemberStream/MemberStream.js
  apps/mobile/src/screens/SearchPage/SearchPage.js
  apps/mobile/src/screens/Stream/PostRow.js
Due: mobile-changed

Update web and backend to v6.1.15
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

Tweak tab bar styles to avoid icons getting clipped
  apps/mobile/src/navigation/TabsNavigator.js
Due: mobile-changed

Avoid opening two versions of a post detail view for webviews in mobile
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Fix adding text content fo Flagging group content
  apps/web/src/components/FlagGroupContent/FlagGroupContent.js
  apps/web/src/components/FlagGroupContent/index.js
Due: web-changed

Add a no-posts-to-display to empty streams
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/src/screens/Stream/Stream.js
Due: mobile-changed

Fix times for ical event RSVP attachements
  apps/backend/CHANGELOG.md
  apps/backend/api/models/Post.js
Due: backend-changed

Fix adding text content fo Flagging group content
  apps/web/CHANGELOG.md
Due: web-changed

Center track title on the track home
  apps/web/CHANGELOG.md
  apps/web/src/routes/TrackHome/TrackHome.jsx
Due: web-changed

Mobile pre-release setup for 6.1.10
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
Due: mobile-changed

Fix dummy seeds
  apps/backend/seeds/dummy/dummy.js
Due: backend-changed

Tweak steam colors
  apps/mobile/src/screens/Stream/Stream.js
  apps/mobile/src/screens/Stream/StreamHeader.js
Due: mobile-changed

Fix major bug where deleting a comment would remove all tags from parent post!
  apps/backend/CHANGELOG.md
  apps/backend/api/models/comment/deleteComment.js
Due: backend-changed

Tweak changelog
  apps/web/CHANGELOG.md
Due: web-changed

Update schema
  apps/backend/migrations/schema.sql
Due: backend-changed

Update dummy seed data to work with roles and responsibilities and chat rooms
  apps/backend/seeds/dummy/dummy.js
Due: backend-changed

Fix double display of login errors
  apps/web/src/routes/NonAuthLayoutRouter/Login/Login.js
Due: web-changed

Fix display of flagged posts in grid views
  apps/web/src/components/PostBigGridItem/PostBigGridItem.js
  apps/web/src/components/PostBigGridItem/PostBigGridItem.module.scss
  apps/web/src/components/PostGridItem/PostGridItem.module.scss
Due: web-changed

Display blocked users tab better
  apps/web/src/routes/UserSettings/BlockedUsersTab/BlockedUsersTab.js
  apps/web/src/routes/UserSettings/UserSettings.js
Due: web-changed

Fix bug where you see no posts when viewing a chat room you have not followed
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Ensure group is included in notif paths
  apps/mobile/src/screens/NotificationsList/NotificationsList.store.js
Due: mobile-changed

Make text bold for current view in group menu
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MenuLink/MenuLink.jsx
Due: web-changed

Preload (of sorts) for NON-webview screens
  apps/mobile/src/navigation/HomeNavigator.js
  apps/mobile/src/navigation/TabsNavigator.js
Due: mobile-changed

Clean up unused imports
  apps/mobile/src/navigation/HomeNavigator.js
Due: mobile-changed

fix chat post path and add notifications refresh
  apps/mobile/src/screens/NotificationsList/NotificationsList.js
  apps/mobile/src/screens/NotificationsList/NotificationsList.store.js
Due: mobile-changed

Allow users to export their profile and content
  apps/backend/api/controllers/ExportController.js
  apps/backend/api/services/Email.js
  apps/backend/api/services/ExportService.js
  apps/backend/config/routes.js
  apps/web/src/routes/UserSettings/AccountSettingsTab/AccountSettingsTab.js
  apps/web/src/routes/UserSettings/UserSettings.store.js
Due: backend-changed, web-changed

Fix jump to bottom button appearing when at bottom in chat rooms
  apps/web/package.json
  yarn.lock
Due: web-changed

Always use viewChat for chat room context widgets
  apps/backend/api/models/ContextWidget.js
  apps/backend/api/models/Group.js
  apps/backend/api/models/TagFollow.js
  apps/backend/api/models/util/contextWidgets.js
  apps/backend/migrations/20250822182703_chat-context-widgets-use-type-viewChat.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/store/reducers/ormReducer/index.js
  packages/presenters/src/ContextWidgetPresenter.js
Due: backend-changed, web-changed

Make sure new chat posts get added optimistically to the chat room even as you navigate around
  apps/web/src/store/reducers/queryResults.js
Due: web-changed

Make sure as you move between chat rooms new chat posts dont get added to multiple chat rooms at the same time
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Fix bug preventing parent groups from appearing on the related groups view
  apps/web/src/routes/Groups/Groups.store.js
Due: web-changed

Web and backend to v6.1.16
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

Remove console
  apps/web/src/store/reducers/queryResults.js
Due: web-changed

Add version number on the logout button
  apps/mobile/package.json
  apps/mobile/src/components/ContextMenu/ContextMenu.js
Due: mobile-changed
