Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Make sure that when buttons in the global nav menu are clicked, it closes the nav menu
  apps/web/src/components/CreateMenu/CreateMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

Tweak Create Group styles for small screens
  apps/web/src/routes/CreateGroup/CreateGroup.jsx
Due: web-changed

Small screens: Header back button just opens the menu
  apps/mobile/ios/Podfile.lock
  apps/web/src/components/CreateModal/CreateModal.js
  apps/web/src/components/ViewHeader/ViewHeader.jsx
Due: web-changed, mobile-changed

Cleaned up webview experiment docs
  WEBVIEW_MIGRATION_CHANGES.md
  docs/webview-transition-testing.md
Due: none

Hide edit menu button for mobile, even for admins
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

disable calendar view mode for phones
  apps/web/src/components/StreamViewControls/StreamViewControls.js
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

Fix color of unchecked switch thumb
  apps/web/src/components/ui/switch.jsx
Due: web-changed

Fix toggling send notifications by email or push for all groups
  apps/backend/api/graphql/mutations/membership.js
Due: backend-changed

Web and backend v6.2.4
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

Move theme-background into themes file
  apps/web/src/css/global/index.scss
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
  apps/web/src/routes/Messages/PeopleSelector/PeopleList/PeopleList.js
  apps/web/src/routes/Messages/PeopleSelector/PeopleListItem/PeopleListItem.js
  apps/web/src/routes/Messages/PeopleSelector/PeopleSelector.js
  apps/web/src/routes/Themes/Themes.js
  apps/web/src/themes/index.js
  apps/web/tailwind.config.js
Due: web-changed

Added tonally appropriate theme background colors for each theme to the global nav
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/themes/index.js
  docs/project-molt-evaluation.md
Due: web-changed

upgrade react-day-picker to get navLayout
  apps/web/package.json
  yarn.lock
Due: web-changed

prettier event day tiny-calendar
  apps/web/src/components/ui/calendar.tsx
Due: web-changed

switch calendar view mode for phones
  apps/web/src/components/Calendar/body/day/calendar-body-day.tsx
  apps/web/src/components/Calendar/calendar.tsx
Due: web-changed

calendar view mode styling for phones
  apps/web/src/components/Calendar/body/day/calendar-body-day-calendar.tsx
  apps/web/src/components/Calendar/body/week/calendar-body-week-calendar.tsx
  apps/web/src/components/ui/calendar.tsx
Due: web-changed

remove click-through params from cal sub
  apps/backend/api/models/Post.js
Due: backend-changed

refactor code, remove awkward helper
  apps/backend/api/models/User.js
Due: backend-changed

Democracy on hylo
  apps/backend/api/controllers/RoleStewardshipController.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Group.js
  apps/backend/api/models/GroupRole.js
  apps/backend/api/models/Responsibility.js
  apps/backend/api/services/TrustStewardshipService.js
  apps/backend/config/routes.js
  apps/backend/migrations/20250731120000_backfill_group_role_memberships.js
  apps/backend/migrations/20250731121500_normalize_threshold_required.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/RolesPanel/RolesPanel.jsx
  apps/web/src/components/TrustSlider/TrustSlider.jsx
  apps/web/src/routes/CreateGroup/CreateGroup.jsx
  apps/web/src/routes/GroupSettings/RolesSettingsTab/RolesSettingsTab.js
Due: backend-changed, web-changed

During voting sort posts differntly for each user to remove bias
  apps/web/src/routes/FundingRoundHome/SubmissionsTab.jsx
  apps/web/src/util/seededRandom.js
Due: web-changed

Tweaks to language and UI of funding rounds
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/FundingRoundHome/FundingRoundHome.jsx
  apps/web/src/routes/FundingRoundHome/ManageTab.jsx
  apps/web/src/routes/FundingRoundHome/RoundPhaseStatus.jsx
  apps/web/src/routes/FundingRoundHome/SubmissionCard.jsx
Due: web-changed

Add scrolling to group settings menu if to loong for screen
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Make it more clear that you need an explanation when flagging a post
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/FlagGroupContent/FlagGroupContent.js
Due: web-changed

Lint clean up
  apps/mobile/src/components/HyloWebView/HyloWebView.js
  apps/web/src/hooks/useSwipeGesture.js
Due: web-changed, mobile-changed

Prevent default browser actions when long-pressing in global nav
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
Due: web-changed

Fix locale settings
  apps/web/src/routes/UserSettings/UserSettings.js
Due: web-changed

Clean up empty background div that would sometimes load on map load for small screens
  apps/web/src/routes/MapExplorer/MapDrawer/MapDrawer.js
  apps/web/src/routes/MapExplorer/MapDrawer/MapDrawer.module.scss
Due: web-changed

Check for internet connectivity and warn user if its missing
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/src/hooks/useNetworkConnectivity.js
  apps/mobile/src/navigation/AuthRootNavigator.js
  apps/mobile/src/screens/NoInternetConnection/NoInternetConnection.js
  apps/mobile/src/screens/NoInternetConnection/index.js
  apps/mobile/src/screens/PrimaryWebView/PrimaryWebView.js
Due: mobile-changed

Stack account action buttons vertically on small screens
  apps/web/src/routes/UserSettings/AccountSettingsTab/AccountSettingsTab.js
Due: web-changed

remover isMobile use
  apps/web/src/components/Calendar/body/day/calendar-body-day-calendar.tsx
Due: web-changed

restore months classname
  apps/web/src/components/ui/calendar.tsx
Due: web-changed

Yarn.lock
  yarn.lock
Due: none

Add ability to embed videos in our tip tap editor. Can be used for Welcome Page, or for Funding Round and Track descriptions
  apps/web/src/components/HyloEditor/HyloEditor.js
  apps/web/src/components/HyloEditor/HyloEditor.module.scss
  apps/web/src/components/HyloEditor/HyloEditorMenuBar.js
  apps/web/src/components/HyloEditor/extensions/Video.js
  apps/web/src/components/HyloHTML/HyloHTML.js
Due: web-changed

Redirect joinGroup hook to about page; allow access to /about page when token or accessCode is provided
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/services/InvitationService.js
  apps/web/src/routes/GroupDetail/GroupDetail.js
  apps/web/src/routes/GroupDetail/PaywallOfferingsSection.jsx
  apps/web/src/routes/GroupStore/GroupStore.js
  apps/web/src/routes/GroupStore/index.js
  apps/web/src/routes/JoinGroup/JoinGroup.js
  apps/web/src/routes/PublicLayoutRouter/PublicGroupDetail.jsx
  apps/web/src/store/actions/checkInvitation.js
  apps/web/src/store/actions/checkIsGroupViewable.js
  apps/web/src/store/actions/checkIsPublicGroup.js
  apps/web/src/store/actions/fetchGroupDetails.js
Due: backend-changed, web-changed

Streamline joinSection and paywall section to share joinBarriers component; Ensure accessCode/invite-token/agreementsAccepted is passed in on creation of membership
  apps/backend/api/controllers/StripeController.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/group.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/GroupMembership.js
  apps/web/src/routes/GroupDetail/GroupDetail.js
  apps/web/src/routes/GroupDetail/GroupDetail.store.js
  apps/web/src/routes/GroupDetail/JoinSection.jsx
  apps/web/src/routes/GroupDetail/PaywallOfferingsSection.jsx
  docs/INVITATION_LINKS_ARCHITECTURE.md
Due: backend-changed, web-changed

Validate if currentUsers email matches the invite-links email; i18n
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/GroupDetail/GroupDetail.js
  apps/web/src/routes/JoinGroup/JoinGroup.js
Due: web-changed

Update platform fee
  apps/backend/api/graphql/mutations/stripe.js
  apps/backend/api/services/StripeService.js
Due: backend-changed

Actually create subscription type offerings
  apps/backend/api/graphql/mutations/stripe.js
  apps/backend/api/services/StripeService.js
Due: backend-changed

Fixed color of chatroom titles https://github.com/Hylozoic/hylo/issues/1152
  apps/web/src/routes/UserSettings/NotificationSettingsTab/MembershipSettingRow.jsx
Due: web-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
