Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

Dismiss the boot loader on render errors and offer a Reload
  apps/web/index.html
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/client/chunkReload.js
  apps/web/src/components/ErrorBoundary/ErrorBoundary.js
  apps/web/src/components/ErrorBoundary/ErrorBoundary.test.js
  apps/web/src/index.jsx
  apps/web/src/router/Root.jsx
  apps/web/src/routes/RootRouter/RootRouter.js
Due: web-changed

Make the emailed notification settings page read and write membership settings
  apps/backend/api/controllers/UserController.js
  apps/backend/test/unit/controllers/UserController.test.js
  apps/web/src/routes/NonAuthLayoutRouter/ManageNotifications/ManageNotifications.js
  apps/web/src/routes/NonAuthLayoutRouter/ManageNotifications/ManageNotifications.test.js
  apps/web/src/store/actions/updateNotificationSettings.js
Due: backend-changed, web-changed

Keep checking the session when the API is unreachable
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/RootRouter/RootRouter.js
  apps/web/src/routes/RootRouter/RootRouter.test.js
  apps/web/src/store/middleware/apiMiddleware.js
  apps/web/src/store/middleware/apiMiddleware.test.js
  apps/web/src/store/reducers/authSession.js
  apps/web/src/store/reducers/authSession.test.js
  apps/web/src/store/selectors/getAuthSession.js
Due: web-changed

Apply the parent group's email and push settings to its spaces
  apps/backend/api/models/Activity.js
  apps/backend/api/models/GroupViewUser.js
  apps/backend/test/unit/models/Activity.test.js
  apps/backend/test/unit/models/GroupViewUser.test.js
Due: backend-changed

Show an unread dot on the phone nav toggle
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/ViewHeader/ViewHeader.jsx
  apps/web/src/components/ViewHeader/ViewHeader.test.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/store/selectors/getHasUnreadActivity.js
Due: web-changed

Keep a post in the editor and offer a retry when saving it fails
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/PostEditor/PostEditor.test.js
Due: web-changed

Add link previews for group pages, join links and invitations
  apps/web/src/server/appMiddleware.js
  apps/web/src/server/groupMetaTags.js
  apps/web/src/server/groupMetaTags.test.js
  apps/web/src/server/postMetaTags.js
  apps/web/src/server/postMetaTags.test.js
Due: web-changed

Stop creating email notifications that can never send
  apps/backend/api/models/Activity.js
  apps/backend/api/models/notification/emailReasons.js
  apps/backend/test/unit/models/Activity.test.js
  apps/backend/test/unit/models/notification/emailReasons.test.js
Due: backend-changed

Refresh group badges after sleep and socket reconnects
  apps/web/src/components/SocketListener/SocketListener.js
  apps/web/src/components/SocketListener/SocketListener.test.js
  apps/web/src/hooks/useRefreshBadgesOnReturn.js
  apps/web/src/hooks/useRefreshBadgesOnReturn.test.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/store/actions/fetchBadgeCounts.js
  apps/web/src/store/constants.js
  apps/web/src/util/badgeRefresh.js
  apps/web/src/util/badgeRefresh.test.js
Due: web-changed

Don't notify commenters about mentioning themselves
  apps/backend/api/models/Comment.js
  apps/backend/test/unit/models/Comment.test.js
Due: backend-changed

Track reaction removals as Reaction Removed and drop the duplicate Mixpanel init
  apps/web/src/store/actions/removeReactOnEntity.js
  apps/web/src/store/actions/removeReactOnEntity.test.js
  apps/web/src/store/reducers/mixpanel.js
  packages/shared/src/constants.js
Due: web-changed

Do not send analytics events for actions that failed
  apps/web/src/store/middleware/mixpanelMiddleware.js
  apps/web/src/store/middleware/mixpanelMiddleware.test.js
Due: web-changed

Show registration errors and track signup steps only when they succeed
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Agreements/Agreements.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Agreements/Agreements.test.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/FinishRegistration/FinishRegistration.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/FinishRegistration/FinishRegistration.test.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Signup.store.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Signup.store.test.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/VerifyEmail/VerifyEmail.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/VerifyEmail/VerifyEmail.test.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/__snapshots__/Signup.store.test.js.snap
Due: web-changed

Add the Invite Members responsibility and implicit Member roles
  apps/backend/migrations/20260927120000_member_role_and_invite_members.js
  apps/backend/migrations/schema.sql
  apps/backend/test/setup/index.js
  apps/backend/test/unit/migrations/20260927120000_member_role_and_invite_members.test.js
Due: backend-changed

Create each group's Member role alongside its system roles
  apps/backend/api/models/GroupRole.js
  apps/backend/api/models/Responsibility.js
  apps/backend/test/unit/models/GroupRole.test.js
  apps/backend/test/unit/models/Responsibility.test.js
Due: backend-changed

Offer the map's member layer only on group maps
  apps/web/src/routes/MapExplorer/MapDrawer/MapDrawer.js
  apps/web/src/routes/MapExplorer/MapDrawer/MapDrawer.test.js
  apps/web/src/routes/MapExplorer/MapExplorer.js
  apps/web/src/routes/MapExplorer/MapExplorer.store.js
  apps/web/src/routes/MapExplorer/MapExplorer.test.js
Due: web-changed

Honor a rejection of analytics cookies in Mixpanel
  apps/web/src/contexts/CookieConsentContext.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.test.js
  apps/web/src/routes/RootRouter/RootRouter.js
  apps/web/src/store/reducers/mixpanel.js
  apps/web/src/util/analytics.js
  apps/web/src/util/analytics.test.js
Due: web-changed

Don't boot Intercom for people who rejected support cookies
  apps/web/config/jest/beforeTestEnvSetup.js
  apps/web/src/components/IntercomConsentSync/IntercomConsentSync.js
  apps/web/src/components/IntercomConsentSync/IntercomConsentSync.test.js
  apps/web/src/components/IntercomConsentSync/index.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.test.js
Due: web-changed

Prefill the invited email on signup and replace the bad-invite alert
  apps/web/src/routes/GroupDetail/GroupDetail.js
  apps/web/src/routes/GroupDetail/GroupDetail.test.js
  apps/web/src/routes/JoinGroup/JoinGroup.js
  apps/web/src/routes/JoinGroup/JoinGroup.test.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Signup.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Signup.test.js
Due: web-changed

Keep the Member role and built-in titles out of role editing
  apps/backend/api/graphql/mutations/responsibilities.js
  apps/backend/api/graphql/mutations/responsibilities.test.js
  apps/backend/api/graphql/mutations/role.js
  apps/backend/api/graphql/mutations/role.test.js
Due: backend-changed

Index and list only the skills people have, not ones they're learning
  apps/backend/api/models/Group.js
  apps/backend/api/services/FullTextSearch.js
  apps/backend/migrations/20260927130000_search_index_skills_has_only.js
  apps/backend/migrations/schema.sql
  apps/backend/test/unit/models/Group.test.js
  apps/backend/test/unit/services/FullTextSearch.test.js
Due: backend-changed

Drop groups from Murmurations when they stop publishing a profile
  apps/backend/api/controllers/MurmurationsController.js
  apps/backend/api/models/Group.js
  apps/backend/test/unit/controllers/MurmurationsController.test.js
  apps/backend/test/unit/models/Group.test.js
Due: backend-changed

Add followPost and unfollowPost mutations and Post.isFollowing
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/mutations/post.js
  apps/backend/api/graphql/mutations/post.test.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/test/unit/graphql/postFollow.test.js
Due: backend-changed

Track public group views, invite link opens and login-wall redirects
  apps/web/src/routes/JoinGroup/JoinGroup.js
  apps/web/src/routes/JoinGroup/JoinGroup.test.js
  apps/web/src/routes/PublicLayoutRouter/PublicGroupDetail.jsx
  apps/web/src/routes/PublicLayoutRouter/PublicGroupDetail.test.js
  apps/web/src/routes/PublicLayoutRouter/PublicPostDetail.jsx
  apps/web/src/routes/PublicLayoutRouter/PublicPostDetail.test.js
  apps/web/src/store/actions/checkIsGroupViewable.js
Due: web-changed

Fail the web tests when a locale drifts from English
  apps/web/src/i18n/localeParity.test.js
Due: web-changed

Fix broken locale placeholders and translate stray strings
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.jsx
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.test.js
Due: web-changed

Pass t to formatError on the OAuth Login and Consent screens
  apps/web/src/routes/NonAuthLayoutRouter/util.js
  apps/web/src/routes/NonAuthLayoutRouter/util.test.js
  apps/web/src/routes/OAuth/Consent/Consent.js
  apps/web/src/routes/OAuth/Login/Login.js
  apps/web/src/routes/OAuth/Login/Login.test.js
Due: web-changed

Record email and push send failures instead of marking them sent
  apps/backend/api/models/Notification.js
  apps/backend/api/models/PushNotification.js
  apps/backend/api/services/Email.js
  apps/backend/api/services/OneSignal.js
  apps/backend/lib/group/digest2/index.js
  apps/backend/test/setup/helpers.js
  apps/backend/test/unit/models/Notification.test.js
  apps/backend/test/unit/models/PushNotification.test.js
  apps/backend/test/unit/models/comment/notifications.test.js
  apps/backend/test/unit/services/Email.test.js
  apps/backend/test/unit/services/digest2.test.js
Due: backend-changed

Set <html lang> from the active locale and honor reduced motion
  apps/web/src/css/global/index.scss
  apps/web/src/i18n.mjs
  apps/web/src/util/documentLanguage.js
  apps/web/src/util/documentLanguage.test.js
Due: web-changed

Track Group Invitation Accepted on the join path people actually use
  apps/web/src/routes/GroupDetail/GroupDetail.store.js
  apps/web/src/routes/GroupDetail/GroupDetail.store.test.js
Due: web-changed

Keep attachments in drafts, give chat its own attachment bucket, surface upload errors
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/AttachmentManager/AttachmentManager.jsx
  apps/web/src/components/AttachmentManager/AttachmentManager.store.js
  apps/web/src/components/AttachmentManager/AttachmentManager.store.test.js
  apps/web/src/components/AttachmentManager/FileManager.jsx
  apps/web/src/components/AttachmentManager/ImageManager.jsx
  apps/web/src/components/ChatEditor/ChatEditor.js
  apps/web/src/components/ChatEditor/ChatEditor.test.js
  apps/web/src/components/PostEditor/ActionsBar.jsx
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/PostEditor/PostEditor.test.js
  apps/web/src/components/PostEditor/postDraftUtils.js
  apps/web/src/components/PostEditor/postDraftUtils.test.js
  apps/web/src/components/UploadAttachmentButton/UploadAttachmentButton.js
  apps/web/src/components/UploadAttachmentButton/UploadAttachmentButton.test.js
  apps/web/src/hooks/useDraft.js
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.js
  apps/web/src/store/actions/uploadAttachment.js
  apps/web/src/store/actions/uploadAttachment.test.js
Due: web-changed

Track join requests being created, approved, declined and canceled
  apps/web/src/routes/GroupDetail/GroupDetail.store.js
  apps/web/src/routes/GroupDetail/GroupDetail.store.test.js
  apps/web/src/routes/GroupSettings/MembershipRequestsTab/MembershipRequestsTab.js
  apps/web/src/routes/GroupSettings/MembershipRequestsTab/MembershipRequestsTab.store.js
  apps/web/src/routes/GroupSettings/MembershipRequestsTab/MembershipRequestsTab.store.test.js
  apps/web/src/routes/UserSettings/ManageInvitesTab/ManageInvitesTab.js
  apps/web/src/routes/UserSettings/ManageInvitesTab/ManageInvitesTab.store.js
  apps/web/src/routes/UserSettings/ManageInvitesTab/ManageInvitesTab.store.test.js
  apps/web/src/routes/UserSettings/ManageInvitesTab/ManageInvitesTab.test.js
Due: web-changed

Make the unfollow link in post emails unfollow the post
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/PostDetail/PostDetail.js
  apps/web/src/routes/PostDetail/PostDetail.test.js
  apps/web/src/routes/PublicLayoutRouter/PublicPostDetail.jsx
  apps/web/src/store/actions/followPost.js
  apps/web/src/store/constants.js
Due: web-changed

Sweep unsent notifications from cron and clean up failed kue jobs
  apps/backend/api/services/Queue.js
  apps/backend/cron.js
  apps/backend/test/unit/models/Notification.test.js
  apps/backend/test/unit/services/Queue.test.js
  apps/backend/worker.js
Due: backend-changed

Link post titles, make Go back a button, lint for accessibility
  apps/web/eslint.config.js
  apps/web/src/components/NotFound/NotFound.test.js
  apps/web/src/components/NotFound/index.js
  apps/web/src/components/PostCard/PostTitle/PostTitle.js
  apps/web/src/components/PostCard/PostTitle/PostTitle.test.js
Due: web-changed

Make the global nav keyboard operable
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.test.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.test.js
Due: web-changed

Track the welcome wizard, group welcome modal and group welcome page
  apps/web/src/routes/GroupWelcomeModal/GroupWelcomeModal.js
  apps/web/src/routes/GroupWelcomeModal/GroupWelcomeModal.test.js
  apps/web/src/routes/GroupWelcomePage/GroupWelcomePage.jsx
  apps/web/src/routes/GroupWelcomePage/GroupWelcomePage.test.js
  apps/web/src/routes/WelcomeWizardRouter/AddLocation/AddLocation.js
  apps/web/src/routes/WelcomeWizardRouter/AddLocation/AddLocation.test.js
  apps/web/src/routes/WelcomeWizardRouter/UploadPhoto/UploadPhoto.js
  apps/web/src/routes/WelcomeWizardRouter/UploadPhoto/UploadPhoto.test.js
  apps/web/src/routes/WelcomeWizardRouter/WelcomeExplore/WelcomeExplore.js
  apps/web/src/routes/WelcomeWizardRouter/WelcomeExplore/WelcomeExplore.test.js
Due: web-changed

Put failed chat messages and comments back in the composer with a retry
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/ChatEditor/ChatEditor.js
  apps/web/src/components/ChatEditor/ChatEditor.test.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/ChatRoom/ChatRoom.test.js
  apps/web/src/routes/ChatRoom/chatRoomUtils.js
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.js
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.test.js
Due: web-changed

Keep digest runs going when one recipient or group fails
  apps/backend/api/models/comment/notifications.js
  apps/backend/lib/group/digest2/index.js
  apps/backend/test/unit/models/Comment.test.js
  apps/backend/test/unit/services/digest2.test.js
Due: backend-changed

When auto adding people to a space give them same notification settings as they have in parent group
  apps/backend/api/models/Group.js
  apps/backend/test/unit/models/Group.test.js
Due: backend-changed
