Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Podlocccck
  apps/mobile/ios/Podfile.lock
Due: mobile-changed

Cleanup
  apps/mobile/src/screens/AllView/AllView.js
Due: mobile-changed

Fix unnecessary render of childPost notice on my context posts
  apps/mobile/src/components/StreamList/PostRow/PostRow.js
Due: mobile-changed

Correct an import on FlagContent
  apps/web/src/components/FlagContent/FlagContent.js
Due: web-changed

chore(mobile): URQL JoinGroup (untested)
  apps/mobile/src/screens/JoinGroup/JoinGroup.js
Due: mobile-changed

More cleanup to global context menu
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

More polish of menu
  apps/web/src/components/WidgetIconResolver/WidgetIconResolver.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Track in MenuLink if link is for current location
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MenuLink/MenuLink.jsx
Due: web-changed

chore(mobile): Update mixpanel setup
  apps/mobile/src/hooks/useMixpanelTrack.js
  apps/mobile/src/navigation/AuthRootNavigator.js
  apps/mobile/src/services/mixpanel.js
  apps/mobile/src/store/reducers/mixpanel.js
  apps/mobile/src/urql-shared/hooks/useLogout.js
Due: mobile-changed

Member profile and /my
  apps/web/src/components/Membership/Membership.js
  apps/web/src/components/Pill/Pill.js
  apps/web/src/components/Pill/Pill.module.scss
  apps/web/src/components/WidgetIconResolver/WidgetIconResolver.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/MemberProfile/MemberProfile.js
Due: web-changed

Better highlight color
  apps/web/src/components/GroupMenuHeader/GroupMenuHeader.jsx
  apps/web/src/css/global/index.scss
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MenuLink/MenuLink.jsx
  apps/web/tailwind.config.js
Due: web-changed

update datetimepicker interface
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/ui/datetimepicker.jsx
Due: web-changed

Actually fix cn in FlagContent
  apps/web/src/components/FlagContent/FlagContent.js
Due: web-changed

Go away
  apps/web/src/components/FlagContent/FlagContent.js
Due: web-changed

Correct default context for widgetUrl function
  apps/web/src/util/navigation.js
  packages/shared/src/NavigationHelpers.js
Due: web-changed

Add logout functionality to my Context Menu
  apps/mobile/src/navigation/linking/index.js
  apps/mobile/src/navigation/menus/ContextMenu/ContextMenu.js
Due: mobile-changed

Extending GlobalNav
  apps/mobile/src/navigation/menus/GlobalNav/GlobalNav.js
Due: mobile-changed

chore(mobile): Fixes after merging dev
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  yarn.lock
Due: mobile-changed

chore(mobile): Fix useAuthStatus and getStateFromPath (which fixes openURL)
  apps/mobile/src/hooks/useAuthStatus.js
  apps/mobile/src/navigation/linking/getStateFromPath.js
Due: mobile-changed

chore(mobile): Fix some things with WIP new nav and design, add comments
  apps/mobile/src/components/WidgetIconResolver/WidgetIconResolver.js
  apps/mobile/src/hooks/useChangeToGroup.js
  apps/mobile/src/navigation/DrawerNavigator.js
  apps/mobile/src/navigation/HomeNavigator.js
  apps/mobile/src/navigation/TabsNavigator.js
  apps/mobile/src/navigation/menus/ContextMenu/ContextMenu.js
  apps/mobile/src/navigation/menus/GlobalNav/GlobalNav.js
  apps/mobile/src/screens/AllView/AllView.js
  apps/mobile/src/screens/DrawerMenu/DrawerMenu.js
  apps/mobile/src/screens/GroupWelcomeFlow/GroupWelcomeTabBar.js
  apps/mobile/src/screens/Stream/Stream.js
  apps/mobile/src/urql-shared/presenters/WidgetPresenter.js
  packages/shared/src/NavigationHelpers.js
  packages/shared/src/WidgetHelpers.js
Due: mobile-changed

chore(mobile): Refactor FlagContent to functional component and URQL
  apps/mobile/src/components/FlagContent/FlagContent.connector.js
  apps/mobile/src/components/FlagContent/FlagContent.connector.test.js
  apps/mobile/src/components/FlagContent/FlagContent.js
  apps/mobile/src/components/FlagContent/FlagContent.store.js
  apps/mobile/src/components/FlagContent/FlagContent.store.test.js
  apps/mobile/src/components/FlagContent/FlagContent.test.js
  apps/mobile/src/components/FlagContent/__snapshots__/FlagContent.connector.test.js.snap
  apps/mobile/src/components/FlagContent/__snapshots__/FlagContent.store.test.js.snap
  apps/mobile/src/components/FlagContent/__snapshots__/FlagContent.test.js.snap
  apps/mobile/src/components/FlagContent/index.js
Due: mobile-changed

feat(mobile)!: Remove ReduxORM entirely, clear out and better organize other code
  apps/mobile/package.json
  apps/mobile/src/components/SocketListener/SocketListener.js
  apps/mobile/src/components/SocketListener/SocketListener.store.js
  apps/mobile/src/components/SocketSubscriber/SocketSubscriber.js
  apps/mobile/src/hooks/useGraphqlAction.js
  apps/mobile/src/screens/Login/Login.js
  apps/mobile/src/screens/PostEditor/PostEditor.js
  apps/mobile/src/screens/Thread/Thread.js
  apps/mobile/src/screens/ThreadList/ThreadList.js
  apps/mobile/src/services/websockets.js
  apps/mobile/src/services/websockets.test.js
  apps/mobile/src/store/actions/fetchGraphQL.js
  apps/mobile/src/store/actions/fetchGroupDetails.js
  apps/mobile/src/store/actions/fetchTopicsForGroupId.js
  apps/mobile/src/store/actions/groupRelationshipActions.js
  apps/mobile/src/store/actions/joinGroup.js
  apps/mobile/src/store/actions/logError.js
  apps/mobile/src/store/actions/setReturnToPath.js
  apps/mobile/src/store/actions/upload.js
  apps/mobile/src/store/middleware/graphqlMiddleware.js
  apps/mobile/src/store/middleware/graphqlMiddleware.test.js
  apps/mobile/src/store/middleware/groupFetchedMiddleware.js
  apps/mobile/src/store/middleware/index.js
  apps/mobile/src/store/middleware/mixpanelMiddleware.js
  apps/mobile/src/store/middleware/userFetchedMiddleware.js
  apps/mobile/src/store/middleware/util.js
  apps/mobile/src/store/models/Model.extension.js
  apps/mobile/src/store/models/index.js
  apps/mobile/src/store/reducers/index.js
  apps/mobile/src/store/reducers/util.js
  apps/mobile/src/store/selectors/getMixpanel.js
  apps/mobile/src/store/selectors/getTopicsForAutocompleteWithNew.js
  apps/mobile/src/urql-shared/client.js
  apps/mobile/src/urql-shared/fetchGraphqlScheme.js
  apps/mobile/src/urql-shared/hooks/useHyloQuery.js
  apps/mobile/src/urql-shared/hooks/useUrqlQueryAction.js
  apps/mobile/src/util/Request.js
  apps/mobile/src/util/index.js
  apps/mobile/src/util/reduxOrmMigration.js
  apps/mobile/src/util/testing/index.js
Due: mobile-changed

chore(mobile): Update yarn.lock
  yarn.lock
Due: none

chore(mobile): Fix LocationSelectorModal
  apps/mobile/src/components/FlagContent/FlagContent.js
  apps/mobile/src/components/LocationSelectorModal/LocationSelectorModal.js
  apps/mobile/src/hooks/useCurrentLocation.js
Due: mobile-changed

Clean up of context menu editing
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

More improvements to context menu
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Fixed opacity
  apps/web/src/components/GroupMenuHeader/GroupMenuHeader.jsx
Due: web-changed

More improvements to dragging
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Linting update for main README
  README.md
Due: none

More cleanup of menu editing
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Group settings
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Tweaks of Loren tweaks
  apps/mobile/src/components/WidgetIconResolver/WidgetIconResolver.js
  apps/mobile/src/hooks/useChangeToGroup.js
  apps/mobile/src/navigation/HomeNavigator.js
  apps/mobile/src/navigation/TabsNavigator.js
  apps/mobile/src/navigation/menus/ContextMenu/ContextMenu.js
  apps/mobile/src/navigation/menus/GlobalNav/GlobalNav.js
  apps/mobile/src/screens/DrawerMenu/DrawerMenu.js
  apps/mobile/src/urql-shared/presenters/WidgetPresenter.js
  apps/mobile/src/util/index.js
  apps/web/src/components/GroupMenuHeader/GroupMenuHeader.jsx
  packages/shared/src/NavigationHelpers.js
  packages/shared/src/WidgetHelpers.js
Due: web-changed, mobile-changed

More cleanup of context menu
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Fixed font sizing
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

New post editor To Field
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/context_widgets.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/ContextWidget.js
  apps/backend/api/models/Group.js
  apps/backend/api/models/TagFollow.js
  apps/backend/api/models/post/createPost.js
  apps/backend/package.json
  apps/web/src/components/Button/Button.module.scss
  apps/web/src/components/HyloEditor/HyloEditorMenuBar.js
  apps/web/src/components/PostEditor/ActionsBar.jsx
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/ToField/ToField.js
  apps/web/src/components/ToField/ToField.module.scss
  apps/web/src/components/ToField/index.js
  apps/web/src/graphql/queries/MeQuery.js
  apps/web/src/routes/GroupSettings/GroupSettingsTab/GroupSettingsTab.js
  apps/web/src/store/actions/fetchMyMemberships.js
  apps/web/src/store/constants.js
  apps/web/src/store/models/Group.js
  apps/web/src/store/models/index.js
Due: backend-changed, web-changed

yoga+urql+rn subscriptions (wip)
  apps/backend/api/graphql/index.js
  apps/backend/api/graphql/schema.graphql
  apps/mobile/package.json
  apps/mobile/src/navigation/HomeNavigator.js
  apps/mobile/src/urql-shared/client.js
  apps/mobile/src/urql-shared/updates/index.js
  yarn.lock
Due: backend-changed, mobile-changed

Initial integration of messages into the context menu
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/Messages/Messages.js
  apps/web/src/routes/Messages/Messages.module.scss
  apps/web/src/routes/Messages/ThreadList/ThreadList.js
  apps/web/src/routes/Messages/ThreadList/ThreadList.test.js
  apps/web/src/routes/Messages/ThreadList/ThreadListItem.jsx
Due: web-changed

Move search from global nav to view header
  apps/web/src/components/ViewHeader/ViewHeader.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/Search/Search.js
  apps/web/src/routes/Search/Search.module.scss
Due: web-changed

chore(mobile): openURL / Linking debugging
  apps/mobile/src/hooks/useOpenURL.js
  packages/shared/src/WidgetHelpers.js
Due: mobile-changed

chore(mobile): Adds some documentation and debugging to useOpenURL / openURL and experimental useLink implementation
  apps/mobile/src/hooks/useOpenURL.js
  apps/mobile/src/navigation/HomeNavigator.js
  apps/mobile/src/navigation/linking/getStateFromPath.js
  apps/mobile/src/navigation/linking/index.js
  apps/mobile/src/navigation/menus/ContextMenu/ContextMenu.js
Due: mobile-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
