Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Display trackUser status on trackcards
  apps/mobile/src/components/TrackCard/TrackCard.js
Due: mobile-changed

add comment explaining need for polyfill
  apps/web/src/config/index.js
Due: web-changed

skip polyfill if not needed
  apps/web/src/config/index.js
Due: web-changed

turns out, FIrefox needs polyfill forced
  apps/web/src/config/index.js
Due: web-changed

Make sure to sanitize HTML in track welcome message and completion message
  apps/backend/api/models/Track.js
Due: backend-changed

Track copy updates
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/store/actions/trackActions.js
Due: web-changed

Close track editor on save
  apps/web/src/components/TrackEditor/TrackEditor.js
Due: web-changed

Don't let you interact with track actions when not enrolled
  apps/web/src/routes/TrackHome/TrackHome.jsx
Due: web-changed

Fixing up tracks
  apps/web/src/components/AttachmentManager/ImageManager.jsx
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
  apps/web/src/components/PostDialog/PostDialog.jsx
  apps/web/src/routes/MyTracks/MyTracks.jsx
  apps/web/src/routes/PostDetail/PostDetail.js
  apps/web/src/routes/TrackHome/TrackHome.jsx
Due: web-changed

Fixed toasts styling; allow initial track completion; added navigation package
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/metro.config.js
  apps/mobile/package.json
  apps/mobile/src/components/PostCompletion/PostCompletion.js
  apps/mobile/src/components/Toast/Toast.js
  apps/mobile/src/components/Toast/ToastProvider.js
  apps/mobile/src/components/TrackCard/TrackCard.js
  apps/mobile/src/screens/ChatRoomWebView/ChatRoomWebView.js
  apps/mobile/src/screens/PostDetails/PostDetails.js
  apps/mobile/src/screens/UploadAction/UploadAction.js
  apps/web/package.json
  apps/web/vite.config.js
  packages/navigation/index.js
  packages/navigation/package.json
  yarn.lock
Due: web-changed, mobile-changed

Add a unique_id to the group murmurations object
  apps/backend/api/models/Group.js
Due: backend-changed

Display comment HTML correctly in action completion comments
  apps/web/src/routes/PostDetail/PostDetail.js
Due: web-changed

More cleanup
  apps/web/src/components/PostCard/PostCard.jsx
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
  apps/web/src/routes/GroupDetail/GroupDetail.js
  apps/web/src/routes/GroupDetail/JoinSection.jsx
  apps/web/src/routes/GroupWelcomeModal/GroupWelcomeModal.js
  apps/web/src/routes/PostDetail/PostCompletion.jsx
  apps/web/src/routes/TrackHome/TrackHome.jsx
Due: web-changed

Fixed up group welcome model, agreements tab & chatroom
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/GroupSettings/AgreementsTab/AgreementsTab.js
  apps/web/src/routes/GroupSettings/SaveButton.jsx
  apps/web/src/routes/GroupWelcomeModal/GroupWelcomeModal.js
Due: web-changed

Cleaned up leaving a comment image and other bits and bobs related to tracks
  apps/web/src/components/AttachmentManager/ImageManager.jsx
  apps/web/src/components/ModalDialog/ModalDialog.js
  apps/web/src/components/PostDialog/PostDialog.jsx
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.js
  apps/web/src/routes/PostDetail/PostCompletion.jsx
  apps/web/src/routes/PostDetail/PostDetail.js
Due: web-changed

Reintroduced blur
  apps/web/src/components/PostDialog/PostDialog.jsx
Due: web-changed

Missing translation
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: web-changed

Improve UI pf publish button on track home
  apps/web/src/routes/TrackHome/TrackHome.jsx
Due: web-changed

Actions dont have start and end times yet
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Fix creating group roles
  apps/web/src/store/actions/roles/index.js
Due: web-changed

Refine tracks-related steward notifications
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/src/screens/NotificationsList/NotificationsList.store.js
  apps/web/src/store/actions/completePost.js
  apps/web/src/store/actions/trackActions.js
  packages/graphql/fragments/notificationFieldsFragment.js
Due: web-changed, mobile-changed

Prep track completion in the upload action screen
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/src/screens/UploadAction/UploadAction.js
Due: mobile-changed

Refixed file upload for completion; checked track completion via upload
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/src/components/PostCompletion/PostCompletion.js
  apps/mobile/src/screens/PostEditor/FileSelector/FileSelector.js
  apps/mobile/src/screens/UploadAction/UploadAction.js
Due: mobile-changed

Add a People tab to Tracks that shows all enrolled users
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Track.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/TrackHome/TrackHome.jsx
  apps/web/src/store/actions/trackActions.js
  apps/web/src/store/models/Track.js
  apps/web/src/store/selectors/getTrack.js
Due: backend-changed, web-changed

Update mobile README.md
  apps/mobile/README.md
Due: mobile-changed

Update mobile in further depth README.md
  apps/mobile/README.md
Due: mobile-changed

Add people tab to trackDetail view
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/src/screens/TrackDetail/TrackDetail.js
  packages/graphql/fragments/trackFieldsFragment.js
  packages/presenters/TrackPresenter.js
Due: mobile-changed

Make use of actionsName consistent
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/src/components/PostCompletion/PostCompletion.js
  apps/mobile/src/screens/TrackDetail/TrackDetail.js
Due: mobile-changed

Update all shadcn/radix components and add dropdown menu
  apps/web/package.json
  apps/web/src/components/ui/dropdown-menu.jsx
  yarn.lock
Due: web-changed

Add menu to delete an action or copy a link to it
  apps/web/src/routes/TrackHome/ActionSummary.jsx
  apps/web/src/routes/TrackHome/TrackHome.jsx
  apps/web/src/store/actions/deletePost.js
Due: web-changed

Add menu to delete an action or copy a link to it
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: web-changed

Tweak colors :(
  apps/mobile/src/components/PostCompletion/PostCompletion.js
  apps/mobile/src/screens/PostDetails/PostDetails.js
Due: mobile-changed

update GitHub url for mobile config script
  apps/mobile/scripts/configure.sh
Due: mobile-changed

Comment completions will also complete tracks
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/src/components/CommentEditor/CommentEditor.js
  apps/mobile/src/components/PostCompletion/PostCompletion.js
  apps/mobile/src/hooks/useReactOnEntity.js
Due: mobile-changed

Fix completing a post by reaction
  apps/backend/api/models/Post.js
Due: backend-changed

Fix display of enrolled time in people tab
  apps/web/src/routes/TrackHome/TrackHome.jsx
Due: web-changed

Add Welcome Message when enrolling in a track
  apps/web/src/routes/TrackHome/TrackHome.jsx
Due: web-changed

Fix z-index and location of action post completions dialog
  apps/web/src/components/ModalDialog/ModalDialog.js
  apps/web/src/components/ModalDialog/index.js
  apps/web/src/routes/PostDetail/PostDetail.js
Due: web-changed

Enable viewing of all action completion responses by clicking on # Completed pill in edit table of the track home
  apps/web/src/components/ActionCompletionResponsesDialog/ActionCompletionResponsesDialog.jsx
  apps/web/src/components/ActionCompletionResponsesDialog/index.js
  apps/web/src/routes/PostDetail/PostDetail.js
  apps/web/src/routes/TrackHome/ActionSummary.jsx
  apps/web/src/store/actions/trackActions.js
Due: web-changed

Display HTML in comment completion responses correctly
  apps/web/src/routes/PostDetail/PostCompletion.jsx
Due: web-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
