Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

Actually this is desktop 1.0.0-beta.1
  apps/desktop/CHANGELOG
  apps/desktop/package.json
Due: none

Revert "pre-release 6.1.6"
  apps/mobile/android/app/build.gradle
  apps/mobile/android/build.gradle
  apps/mobile/android/gradle.properties
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Do you LOVE ME
  apps/mobile/src/components/HyloHTML/HyloHTML.styles.js
  package.json
Due: mobile-changed

Put build-packages command in the configure script
  apps/mobile/scripts/configure.sh
Due: mobile-changed

Copy fix in web changelog
  apps/web/CHANGELOG.md
Due: web-changed

Tweak build configure script for mobile CI
  apps/mobile/scripts/configure.sh
Due: mobile-changed

Fix up some babel config stuff
  apps/mobile/babel.config.js
  apps/mobile/package.json
  packages/presenters/babel.config.json
  packages/presenters/package.json
  yarn.lock
Due: mobile-changed

update to latest virtuose message list
  apps/web/package.json
  yarn.lock
Due: web-changed

Stop loading myReactions as separate field on posts and comments
  apps/web/src/components/EmojiRow/EmojiRow.js
  apps/web/src/components/PostCard/PostFooter/PostFooter.test.js
  apps/web/src/graphql/fragments/CommentFieldsFragment.js
  apps/web/src/graphql/fragments/postCardFieldsFragment.js
  apps/web/src/graphql/fragments/postFieldsFragment.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.test.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/ChatRoom/ChatRoom.test.js
  apps/web/src/routes/MapExplorer/__snapshots__/MapExplorer.store.test.js.snap
  apps/web/src/store/actions/__snapshots__/fetchPosts.test.js.snap
  apps/web/src/store/actions/trackActions.js
  apps/web/src/store/reducers/ormReducer/index.js
  apps/web/src/store/reducers/ormReducer/index.test.js
Due: web-changed

Remove unused Stream.store
  apps/web/src/routes/Stream/Stream.store.js
Due: web-changed

Don't load topicFollow lastReadPostId unecessarily
  apps/web/src/components/EmojiRow/EmojiRow.js
  apps/web/src/graphql/fragments/groupDetailsFragment.js
  apps/web/src/graphql/fragments/groupTopicsQueryFragment.js
  apps/web/src/graphql/queries/topicsQuery.js
  apps/web/src/store/actions/__snapshots__/fetchGroupTopic.test.js.snap
  apps/web/src/store/actions/fetchGroupTopic.js
  apps/web/src/store/actions/fetchGroups.js
Due: web-changed

Basic expo setup with nativewind config and our theme
  apps/mobile-expo/.gitignore
  apps/mobile-expo/App.js
  apps/mobile-expo/app.json
  apps/mobile-expo/assets/adaptive-icon.png
  apps/mobile-expo/assets/favicon.png
  apps/mobile-expo/assets/icon.png
  apps/mobile-expo/assets/splash-icon.png
  apps/mobile-expo/babel.config.js
  apps/mobile-expo/eas.json
  apps/mobile-expo/index.js
  apps/mobile-expo/metro.config.js
  apps/mobile-expo/nativewind-env.d.ts
  apps/mobile-expo/package.json
  apps/mobile-expo/src/style/global.css
  apps/mobile-expo/tailwind.config.js
Due: none

Rename map fetchGroups to fetchGroupsForMap
  apps/web/src/routes/MapExplorer/MapExplorer.js
  apps/web/src/routes/MapExplorer/MapExplorer.store.js
Due: web-changed

Stop loading separate myReactions in mobile too
  apps/mobile/ios/Gemfile.lock
  apps/mobile/ios/Podfile.lock
  apps/mobile/src/components/Comment/Comment.js
  apps/mobile/src/components/EmojiRow/EmojiRow.js
  apps/mobile/src/hooks/useReactOnEntity.js
  packages/urql/updates/reactions.js
Due: mobile-changed

Basic nav to test new chat room
  apps/mobile-expo/.expo/README.md
  apps/mobile-expo/.expo/devices.json
Due: none

Navigation basics for new RN chat room
  apps/mobile-expo/.expo/README.md
  apps/mobile-expo/.expo/devices.json
  apps/mobile/src/navigation/HomeNavigator.js
  apps/mobile/src/navigation/linking/index.js
  packages/urql/keys.js
Due: mobile-changed

initial android build working on EAS
  app.json
  apps/mobile-expo/app.json
  apps/mobile-expo/assets/splash.png
  apps/mobile-expo/eas.json
  apps/mobile-expo/package.json
  apps/mobile-expo/prebuild.sh
  package.json
  yarn.lock
Due: none

Open external links in the system's default browser
  apps/desktop/CHANGELOG
  apps/desktop/main.js
  apps/desktop/package.json
Due: none

Built successfully in EAS with a range of additional dependencies from our mobile app
  apps/mobile-expo/.gitignore
  apps/mobile-expo/app.config.js
  apps/mobile-expo/app.json
  apps/mobile-expo/eas.json
  apps/mobile-expo/package.json
  yarn.lock
Due: none

Don't change desktop app title on new notification
  apps/web/src/components/SocketListener/SocketListener.store.js
Due: web-changed

Open desktop app to login screen, not home page
  apps/desktop/CHANGELOG
  apps/desktop/main.js
Due: none

Build with google services integrates
  apps/mobile-expo/GoogleService-Info.plist
  apps/mobile-expo/app.config.js
  apps/mobile-expo/google-services.json
Due: none

Lint fixes
  apps/mobile/src/components/Comment/Comment.js
  apps/mobile/src/hooks/useReactOnEntity.js
  apps/mobile/src/screens/Stream/Stream.js
Due: mobile-changed

Chat digest emails come from the group name
  apps/backend/api/models/TagFollow.js
Due: backend-changed

Fix copying post link from a post page
  apps/web/src/hooks/useRouteParams/index.js
Due: web-changed

Make sure comment notifications link to the right group
  apps/backend/api/models/Comment.js
Due: backend-changed

Added urql, onesignal, and several other dependencies
  apps/mobile-expo/App.js
  apps/mobile-expo/babel.config.js
  apps/mobile-expo/config/featureFlags.js
  apps/mobile-expo/config/index.js
  apps/mobile-expo/hooks/useVersionCheck.js
  apps/mobile-expo/package.json
  apps/mobile-expo/src/components/HyloHTML/HyloHTML.styles.js
  apps/mobile-expo/urql/mobileSubscriptionExchange.js
  apps/mobile-expo/util/platform.js
  apps/mobile-expo/util/session.js
  package.json
  packages/shared/src/apiHost.js
  packages/shared/src/index.js
  packages/shared/src/session.js
  packages/urql/makeUrqlClient.js
  yarn.lock
Due: none

Memoise styles
  apps/mobile-expo/App.js
Due: none

Missed some changes on the last change-set
  packages/navigation/package.json
  packages/presenters/package.json
  packages/shared/package.json
  packages/urql/makeUrqlClient.js
  yarn.lock
Due: none

Make progress towards ios building again
  apps/mobile/ios/HyloReactNative.xcodeproj/project.pbxproj
  apps/mobile/ios/HyloReactNative.xcodeproj/xcshareddata/xcschemes/HyloReactNative.xcscheme
  apps/mobile/ios/OneSignalNotificationServiceExtension/NotificationService.swift
  apps/mobile/ios/OneSignalNotificationServiceExtension/OneSignalNotificationServiceExtension.entitlements
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  yarn.lock
Due: mobile-changed

********* xcode
  apps/mobile/ios/.xcode.env
  apps/mobile/ios/Gemfile.lock
  apps/mobile/ios/HyloReactNative.xcodeproj/project.pbxproj
  apps/mobile/ios/Podfile.lock
Due: mobile-changed

Get ios builds working for Tibet
  apps/mobile/ios/HyloReactNative.xcodeproj/project.pbxproj
Due: mobile-changed

Update web and backend to v6.1.13
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

Actually fix copying post url from /post/:postId
  apps/web/src/hooks/useRouteParams/index.js
  packages/navigation/src/index.js
Due: web-changed

Fix a bunch of track pages/functionality
  apps/backend/api/models/TagFollow.js
  apps/web/src/components/ActionCompletionResponsesDialog/ActionCompletionResponsesDialog.jsx
  apps/web/src/routes/PostDetail/ActionCompletionSection.jsx
  apps/web/src/routes/TrackHome/TrackHome.jsx
Due: backend-changed, web-changed

CHANGELOG update
  apps/web/CHANGELOG.md
Due: web-changed

Fix scrolling notifications while a post is open
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationsDropdown.jsx
Due: web-changed

Fix inviting people to events from post details dialog
  apps/web/CHANGELOG.md
  apps/web/src/components/ModalDialog/ModalDialog.js
Due: web-changed

Remove focus from editor when touchmove scrolling on a mobile device
  apps/web/src/components/HyloEditor/HyloEditor.js
Due: web-changed
