Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

Bump mobile version
  apps/mobile-leap/app.config.ts
Due: none

Move AAPA to .well-known
  apps/web/public/.well-known/apple-app-site-association
Due: web-changed

Actually fix the android safe inset issue
  apps/mobile-leap/src/screens/PrimaryWebView/PrimaryWebViewScreen.tsx
Due: none

Fix post editor readding current path group/space too often
  .gitignore
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Fixes wide-screen UI blocking
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.module.scss
Due: web-changed

Fix link editor in page view type editor
  apps/web/src/components/HyloEditor/HyloEditorMenuBar.js
Due: web-changed

Post notification emails now name a group the recipient is a member of, not another group the post was also shared to
  apps/backend/CHANGELOG.md
  apps/backend/api/models/Notification.js
  apps/backend/test/unit/models/Notification.test.js
Due: backend-changed

Fix only allowing posting of accepted post types in a group
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/models/Group.js
  apps/backend/api/models/post/validatePostData.js
  apps/backend/api/models/post/validatePostData.test.js
  apps/backend/test/unit/models/Group.test.js
  apps/web/src/components/CreateMenu/CreateMenu.jsx
  apps/web/src/routes/GroupSettings/GroupSettingsTab/GroupSettingsTab.js
  apps/web/src/store/models/Group.js
  apps/web/src/store/models/GroupView.js
  apps/web/src/store/models/GroupView.test.js
  apps/web/src/store/reducers/ormReducer/index.js
  apps/web/src/store/reducers/ormReducer/index.test.js
Due: backend-changed, web-changed

Display sibling spaces in To field when creating a post in a space
  apps/backend/lib/graphql-bookshelf-bridge/util/applyPagination.js
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/PostEditor/PostEditor.store.js
  apps/web/src/components/PostEditor/PostEditor.store.test.js
  apps/web/src/components/PostEditor/PostEditor.test.js
  apps/web/src/hooks/useRouteParams/index.js
Due: backend-changed, web-changed

Fix a couple things that may have caused Nothing to See here when viewing a collection
  apps/backend/CHANGELOG.md
  apps/web/CHANGELOG.md
  apps/web/src/routes/ViewContent/ViewContent.js
  apps/web/src/routes/ViewContent/viewStreamFilters.js
  apps/web/src/routes/ViewContent/viewStreamFilters.test.js
Due: backend-changed, web-changed

Web and backend v7.0.7
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

Move affiliations editing from My Groups to Edit Profile (#1561)
  apps/web/src/routes/UserSettings/EditProfileTab/EditProfileTab.js
  apps/web/src/routes/UserSettings/UserGroupsTab/UserGroupsTab.js
  apps/web/src/routes/UserSettings/UserGroupsTab/UserGroupsTab.test.js
  apps/web/src/routes/UserSettings/UserSettings.js
Due: web-changed

Add reactions support to Direct Messages (#810)
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/web/src/components/EmojiRow/EmojiRow.js
  apps/web/src/graphql/queries/MessageThreadMessagesQuery.js
  apps/web/src/graphql/queries/MessageThreadQuery.js
  apps/web/src/routes/Messages/Message/Message.js
Due: backend-changed, web-changed

Fix DM reactions: use commentReactions alias, right-align emoji picker (#810)
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/web/src/graphql/queries/MessageThreadMessagesQuery.js
  apps/web/src/graphql/queries/MessageThreadQuery.js
  apps/web/src/routes/Messages/Message/Message.js
Due: backend-changed, web-changed

Add optimistic updates and real-time socket events for DM reactions (#810)
  apps/backend/api/graphql/mutations/index.js
  apps/web/src/store/models/Message.js
  apps/web/src/store/reducers/ormReducer/index.js
Due: backend-changed, web-changed

Remove redundant postReactions from Message type, keep only commentReactions (#810)
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
Due: backend-changed

Move EmojiRow to top-right of message content (#810)
  apps/web/src/routes/Messages/Message/Message.js
Due: web-changed

Align EmojiRow vertically with message content text (#810)
  apps/web/src/routes/Messages/Message/Message.js
Due: web-changed

Responsive EmojiRow layout: below text on mobile, inline on sm+ (#810)
  apps/web/src/routes/Messages/Message/Message.js
Due: web-changed

Fix map menus being behind map content
  apps/web/src/routes/MapExplorer/MapExplorer.js
Due: web-changed

Wrap comment cards on mobile
  apps/web/src/components/CommentCard/CommentCard.js
Due: web-changed

Lint
  apps/web/src/components/CardImageAttachments/CardImageAttachments.js
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Keep loading member activity at bottom of member profile as you scroll down
  apps/backend/api/graphql/makeModels.js
  apps/backend/lib/graphql-bookshelf-bridge/util/applyPagination.js
  apps/web/src/routes/MemberProfile/MemberComments/MemberComments.js
  apps/web/src/routes/MemberProfile/MemberComments/MemberComments.store.js
  apps/web/src/routes/MemberProfile/MemberComments/MemberComments.store.test.js
  apps/web/src/routes/MemberProfile/MemberPosts/MemberPosts.js
  apps/web/src/routes/MemberProfile/MemberPosts/MemberPosts.store.js
  apps/web/src/routes/MemberProfile/MemberPosts/MemberPosts.store.test.js
  apps/web/src/routes/MemberProfile/MemberReactions/MemberReactions.js
  apps/web/src/routes/MemberProfile/MemberReactions/MemberReactions.store.js
  apps/web/src/routes/MemberProfile/MemberReactions/MemberReactions.test.js
  apps/web/src/routes/MemberProfile/ProfileListFooter.js
  apps/web/src/routes/MemberProfile/RecentActivity/RecentActivity.js
  apps/web/src/routes/MemberProfile/RecentActivity/RecentActivity.store.js
  apps/web/src/routes/MemberProfile/RecentActivity/RecentActivity.store.test.js
  apps/web/src/routes/MemberProfile/profilePaging.js
  apps/web/src/routes/MemberProfile/usePagedProfileList.js
  apps/web/src/routes/MemberProfile/useScrollSentinel.js
Due: backend-changed, web-changed

Fix stuck loop when opening a post from a member profile and trying to go back
  apps/web/src/components/PostDialog/PostDialog.jsx
  apps/web/src/routes/MemberProfile/MemberProfile.js
  apps/web/src/routes/PostDetail/PostDetail.js
  apps/web/src/store/models/Person.js
  apps/web/src/util/mobileNavBack.js
  apps/web/src/util/mobileNavBack.test.js
  apps/web/src/util/postDetailCloseNavigation.js
  apps/web/src/util/postDetailCloseNavigation.test.js
Due: web-changed

Update constantinople to fix security hole
  package.json
  yarn.lock
Due: none

Completed post notices appear grayed out with check mark in Chat
  apps/web/src/routes/ChatRoom/ChatPostNotice.jsx
  apps/web/src/routes/ChatRoom/ChatPostNotice.test.js
Due: web-changed

Add microsoft teams to auto-detected meeting event URLs
  apps/web/src/util/url.js
  apps/web/src/util/url.test.js
Due: web-changed

Don't show search on member profile if looking at own profile
  apps/web/src/routes/MemberProfile/MemberProfile.js
Due: web-changed

Include join question answers in Zapier trigger payloads
  apps/backend/api/models/Group.js
  apps/backend/api/models/User.js
Due: backend-changed

Refine role-gated space invite dialog
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/invitation.js
  apps/backend/api/graphql/mutations/spaces.js
  apps/backend/api/graphql/mutations/spaces.test.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/services/Search/util.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.js
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.store.js
  apps/web/src/routes/Messages/PeopleSelector/PeopleListItem/PeopleListItem.js
  apps/web/src/routes/SpaceJoinPage/SpaceJoinPage.jsx
  apps/web/src/store/actions/joinSpace.js
Due: backend-changed, web-changed

Add non-www applink to ios universal linking config
  apps/mobile-leap/app.config.ts
Due: none

Further linting corrections
  apps/web/src/client/websockets.js
  apps/web/src/components/PostEditor/PostEditor.store.test.js
  apps/web/src/components/ui/right-click-menu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/MemberProfile/MemberProfile.test.js
  apps/web/src/routes/Messages/PeopleSelector/PeopleSelector.test.js
  apps/web/src/sandbox/seed/en/comments.js
  apps/web/src/sandbox/seed/en/messageThreads.js
  apps/web/src/sandbox/seed/en/notifications.js
  apps/web/src/sandbox/seed/en/posts.js
  apps/web/src/util/viewUnreadBadges.test.js
Due: web-changed

mobile version bump to 7.0.2
  apps/mobile-leap/app.config.ts
Due: none

debug entitlements
  apps/mobile-leap/scripts/bitrise-build.sh
Due: none

Add an entitlement re-assert to work around OneSignal overwriting other entitlements
  apps/mobile-leap/app.config.ts
  apps/mobile-leap/plugins/withReassertEntitlements.js
Due: none

mobile @ 7.0.2
  apps/mobile-leap/CHANGELOG
Due: none

Fix some chat messages being cut off on the last line
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.test.js
Due: web-changed

Don't flash post: undefined when loading post as individual view
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/PostDetail/PostDetail.js
Due: web-changed

Add option for unified email digests
  apps/backend/api/graphql/schema.graphql
  apps/backend/lib/group/digest2/formatData.js
  apps/backend/lib/group/digest2/index.js
  apps/backend/lib/group/digest2/mergeData.js
  apps/backend/lib/group/digest2/personalizeData.js
  apps/backend/lib/group/digest2/util.js
  apps/backend/lib/i18n/de.js
  apps/backend/lib/i18n/en.js
  apps/backend/lib/i18n/es.js
  apps/backend/lib/i18n/fr.js
  apps/backend/lib/i18n/hi.js
  apps/backend/lib/i18n/pt.js
  apps/backend/test/unit/services/digest2.test.js
  apps/web/CHANGELOG.md
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/graphql/queries/MeQuery.js
  apps/web/src/routes/UserSettings/NotificationSettingsTab/NotificationSettingsTab.js
  apps/web/src/routes/UserSettings/NotificationSettingsTab/NotificationSettingsTab.test.js
  apps/web/src/store/actions/checkLogin.js
  apps/web/src/store/actions/login.js
  apps/web/src/store/actions/updateUserSettings.js
  packages/graphql/fragments/meAuthFieldsFragment.js
  packages/graphql/queries/meQuery.js
  scripts/i18n/i18n-templates/Digest_Email_i18n/html.liquid
  scripts/i18n/i18n-templates/Digest_Email_i18n/macro_post_card.snippet.liquid
Due: backend-changed, web-changed
