Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

fix changelog
  apps/mobile-leap/CHANGELOG
Due: none

Make DM reactions look and work more like chat DMs
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/index.js
  apps/web/src/components/EmojiPill/EmojiPill.js
  apps/web/src/components/EmojiRow/EmojiRow.js
  apps/web/src/components/SocketListener/SocketListener.store.js
  apps/web/src/components/SocketListener/SocketListener.store.test.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
  apps/web/src/routes/Messages/Message/Message.js
  apps/web/src/routes/Messages/Message/Message.test.js
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.jsx
Due: backend-changed, web-changed

Web and backend v7.0.8
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

CHANGELOG update
  apps/web/CHANGELOG.md
Due: web-changed

Update use of groupRoleId to groupRoleIds in Group.member queries
  apps/backend/api/graphql/schema.graphql
  apps/web/src/routes/ChatRoom/ChatMembersPanel.jsx
  apps/web/src/routes/Members/Members.js
  apps/web/src/routes/Members/Members.store.js
  apps/web/src/routes/Members/Members.store.test.js
  apps/web/src/store/actions/roles/index.js
  apps/web/src/store/reducers/queryResults.js
Due: backend-changed, web-changed

Remove the Farms tab in the Group Explorer for now
  apps/web/src/routes/GroupExplorer/GroupExplorer.js
  apps/web/src/routes/GroupExplorer/GroupExplorer.test.js
  apps/web/src/routes/GroupExplorer/GroupSearch/GroupSearch.js
  apps/web/src/routes/GroupExplorer/GroupViewFilter/GroupViewFilter.js
  apps/web/src/routes/GroupExplorer/GroupViewFilter/index.js
Due: web-changed

Fix e2e test
  apps/backend/scripts/seed-e2e-baseline.js
Due: backend-changed

WIP don't return group members when not logged in
  apps/backend/api/graphql/index.test.js
  apps/backend/api/graphql/makeModels.js
Due: backend-changed

Comment on why we need sameSite = none on production (for iframes)
  apps/backend/config/session.js
Due: backend-changed

Hweak http headers for better security
  apps/backend/config/http.js
  apps/web/src/server/index.js
Due: backend-changed, web-changed

POST /noo/user now returns 403 unless the caller authenticated as a super API client with a client credentials token.
  apps/backend/api/controllers/UserController.js
  apps/backend/test/unit/controllers/UserController.test.js
Due: backend-changed

Fix apple signin security issue
  apps/backend/api/controllers/SessionController.js
  apps/backend/test/unit/controllers/SessionController.test.js
Due: backend-changed

Only user ids set in HYLO_ADMIN_IDS are superadmins
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/services/Admin.js
  apps/backend/test/unit/services/Admin.test.js
Due: backend-changed

Fix notifications when accepting a group to group invite
  apps/backend/api/models/GroupRelationshipInvite.js
Due: backend-changed

Fix places where non admin users could access data only admins should see:
  apps/backend/api/graphql/index.test.js
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/group.js
  apps/backend/api/graphql/mutations/group.test.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/models/comment/notifications.js
Due: backend-changed

The people selector in the invite form allows you to invite anyone that is visible to you on hylo
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.js
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.store.js
Due: web-changed

A social login can no longer be moved from one Hylo account to another.
  apps/backend/api/controllers/SessionController.js
  apps/backend/test/unit/controllers/SessionController.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/NonAuthLayoutRouter/util.js
Due: backend-changed, web-changed

Fix sessions surviving a password change or account deletion. Regenerate the session on login.
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/models/User.js
  apps/backend/api/services/UserSession.js
  apps/backend/test/unit/models/User.test.js
  apps/backend/test/unit/services/UserSession.test.js
  apps/web/src/client/websockets.js
  apps/web/src/store/middleware/index.js
  apps/web/src/store/middleware/socketReconnectMiddleware.js
  apps/web/src/store/middleware/socketReconnectMiddleware.test.js
Due: backend-changed, web-changed

Fix non admins being able to access admin only data
  apps/backend/api/graphql/index.test.js
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/mutations/index.test.js
Due: backend-changed

Block anonmyous users accesing profile data for authors of public posts
  apps/backend/api/graphql/index.test.js
  apps/backend/api/graphql/makeModels.js
Due: backend-changed

Graphiql only visible to admins on production
  apps/backend/api/graphql/index.js
Due: backend-changed

Subscriptions now check that the user can see the post first
  apps/backend/api/graphql/makeSubscriptions.js
  apps/backend/api/graphql/makeSubscriptions.test.js
  apps/backend/api/models/Post.js
Due: backend-changed

SSRF fix: Link previews, Zapier webhooks and image-from-URL uploads now refuse to connect to internal or private addresses.
  apps/backend/api/graphql/mutations/zapier.js
  apps/backend/api/models/Group.js
  apps/backend/api/models/LinkPreview.js
  apps/backend/api/models/Post.js
  apps/backend/api/models/User.js
  apps/backend/lib/safeFetch.js
  apps/backend/lib/uploader/index.js
  apps/backend/test/unit/lib/safeFetch.test.js
Due: backend-changed

Fix places where we were not sanitizing HTML content.
  apps/backend/api/graphql/index.test.js
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/services/RichText.js
  apps/backend/test/unit/models/Comment.test.js
  apps/backend/test/unit/services/RichText.test.js
  apps/web/src/components/HyloEditor/extensions/Video.js
  apps/web/src/components/HyloHTML/HyloHTML.js
  apps/web/src/components/HyloHTML/HyloHTML.test.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationItem.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationsDropdown.test.js
  packages/shared/package.json
  packages/shared/src/TextHelpers.js
  packages/shared/src/TextHelpers.test.js
  yarn.lock
Due: backend-changed, web-changed

Rate limit logins to prevent hack attempts
  apps/backend/.env.example
  apps/backend/api/controllers/CommentController.js
  apps/backend/api/controllers/SessionController.js
  apps/backend/api/controllers/SubscriptionController.js
  apps/backend/api/graphql/mutations/user.js
  apps/backend/api/hooks/oidcRoutes.js
  apps/backend/api/models/User.js
  apps/backend/config/policies.js
  apps/backend/config/routes.js
  apps/backend/lib/inboundEmailSignature.js
  apps/backend/lib/rateLimit.js
  apps/backend/test/setup/index.js
  apps/backend/test/unit/controllers/CommentController.test.js
  apps/backend/test/unit/lib/rateLimit.test.js
  apps/mobile-leap/src/util/errorMessages.ts
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/NonAuthLayoutRouter/util.js
Due: backend-changed, web-changed

Fix potential account takeover through signup email verification
  apps/backend/api/graphql/mutations/user.js
  apps/backend/api/models/UserVerificationCode.js
  apps/backend/test/unit/lib/rateLimit.test.js
Due: backend-changed

Fix searching for emojis on mobile
  apps/web/src/components/EmojiPicker/EmojiPicker.js
  apps/web/src/components/EmojiPicker/EmojiPicker.module.scss
Due: web-changed

Fix display of video embeds in page type views that have little text
  apps/web/src/routes/GroupPageView/GroupPageView.jsx
  apps/web/src/routes/GroupWelcomePage/GroupWelcomePage.jsx
Due: web-changed

Don't enable Create Account button until email field is valid
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Signup.js
Due: web-changed

Enable rich HTML group descriptions
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/models/Group.js
  apps/web/src/components/FarmGroupDetailBody/FarmGroupDetailBody.js
  apps/web/src/components/GroupAboutView/GroupAboutView.jsx
  apps/web/src/components/GroupDescription/GroupDescription.js
  apps/web/src/components/GroupDescription/index.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/SpaceSettingsModal.jsx
  apps/web/src/routes/GroupDetail/GroupDetail.js
  apps/web/src/routes/GroupExplorer/FeaturedGroups/FeaturedGroups.js
  apps/web/src/routes/GroupSettings/GroupSettingsTab/GroupSettingsTab.js
  apps/web/src/routes/GroupSettings/GroupSettingsTab/GroupSettingsTab.test.js
  apps/web/src/routes/MapExplorer/MapDrawer/MapDrawer.js
  apps/web/src/routes/Moderation/Moderation.jsx
  apps/web/src/routes/SpaceJoinPage/SpaceJoinPage.jsx
  apps/web/src/routes/ViewContent/ViewContent.js
  packages/shared/src/TextHelpers.js
  packages/shared/src/TextHelpers.test.js
Due: backend-changed, web-changed

Web and backend v7.1.0
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

Record one activity row per user per UTC day
  apps/backend/api/graphql/index.js
  apps/backend/api/models/User.js
  apps/backend/cron.js
  apps/backend/lib/userActivityDays.js
  apps/backend/migrations/20260925120000_user_activity_days.js
  apps/backend/migrations/schema.sql
  apps/backend/test/unit/lib/userActivityDays.test.js
  apps/backend/test/unit/models/User.sanelyDeleteUser.test.js
Due: backend-changed

Add a server-side platform health report for platform admins
  apps/backend/api/controllers/AdminController.js
  apps/backend/config/routes.js
  apps/backend/lib/platformHealth/cache.js
  apps/backend/lib/platformHealth/contributions.js
  apps/backend/lib/platformHealth/definitions.js
  apps/backend/lib/platformHealth/headline.js
  apps/backend/lib/platformHealth/runner.js
  apps/backend/lib/platformHealth/sections/audience.js
  apps/backend/lib/platformHealth/sections/being_answered.js
  apps/backend/lib/platformHealth/sections/coming_back.js
  apps/backend/lib/platformHealth/sections/finding_home.js
  apps/backend/lib/platformHealth/sections/index.js
  apps/backend/lib/platformHealth/sections/missed_connections.js
  apps/backend/lib/platformHealth/sections/network_alive.js
  apps/backend/lib/platformHealth/sections/outbound.js
  apps/backend/lib/platformHealth/sections/real_world_action.js
  apps/backend/lib/platformHealth/sections/stewards.js
  apps/backend/lib/platformHealth/sections/trust_numbers.js
  apps/backend/lib/platformHealth/sql.js
  apps/backend/scripts/platform-health.js
  apps/backend/test/unit/controllers/AdminController.platformHealth.test.js
  apps/backend/test/unit/lib/platformHealth/cache.test.js
  apps/backend/test/unit/lib/platformHealth/headline.test.js
  apps/backend/test/unit/lib/platformHealth/runner.test.js
  apps/backend/test/unit/lib/platformHealth/sql.test.js
Due: backend-changed

Add the Platform health panel to Management
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/Management/Management.js
  apps/web/src/routes/Management/ManagementContextMenu.js
  apps/web/src/routes/Management/PlatformHealth/CohortTable.jsx
  apps/web/src/routes/Management/PlatformHealth/ComparisonTable.jsx
  apps/web/src/routes/Management/PlatformHealth/DataTable.jsx
  apps/web/src/routes/Management/PlatformHealth/HeadlineChange.jsx
  apps/web/src/routes/Management/PlatformHealth/KpiView.jsx
  apps/web/src/routes/Management/PlatformHealth/MetricCard.jsx
  apps/web/src/routes/Management/PlatformHealth/PlatformHealth.jsx
  apps/web/src/routes/Management/PlatformHealth/PlatformHealth.test.js
  apps/web/src/routes/Management/PlatformHealth/SeriesChart.jsx
  apps/web/src/routes/Management/PlatformHealth/VitalTile.jsx
  apps/web/src/routes/Management/PlatformHealth/compare.js
  apps/web/src/routes/Management/PlatformHealth/compare.test.js
  apps/web/src/routes/Management/PlatformHealth/format.js
Due: web-changed

Add end-to-end tests for the Platform health panel
  apps/web/e2e/authenticated.platform-health.spec.js
  apps/web/e2e/fixtures/platform-health.synthetic.json
Due: web-changed

Fix crash in old Hylo mobile app
  apps/backend/api/graphql/mutations/membership.js
  apps/backend/api/graphql/mutations/membership.test.js
Due: backend-changed

Fix Maximum call stack size exceeded from Sentry
  apps/backend/lib/sentry.js
Due: backend-changed

Record where each group membership came from
  apps/backend/api/graphql/mutations/group.js
  apps/backend/api/graphql/mutations/group.test.js
  apps/backend/api/graphql/mutations/spaces.js
  apps/backend/api/models/FundingRound.js
  apps/backend/api/models/Group.js
  apps/backend/api/models/GroupMembership.js
  apps/backend/api/models/Invitation.js
  apps/backend/api/models/JoinRequest.js
  apps/backend/api/models/Track.js
  apps/backend/api/models/User.js
  apps/backend/api/services/InvitationService.js
  apps/backend/test/unit/models/Group.test.js
  apps/backend/test/unit/models/Invitation.test.js
  apps/backend/test/unit/services/InvitationService.test.js
Due: backend-changed

Add analytics event names for the signup, invite and onboarding funnel
  packages/shared/src/constants.js
Due: none

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
