Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

Used shadcn button component. LOVE IT
  apps/web/src/components/GoogleButton/GoogleButton.js
  apps/web/src/components/HyloCookieConsent/HyloCookieConsent.js
  apps/web/src/components/ui/button-variants.tsx
  apps/web/src/routes/NonAuthLayoutRouter/Login/Login.js
  apps/web/src/routes/NonAuthLayoutRouter/NonAuthLayoutRouter.js
  apps/web/src/routes/NonAuthLayoutRouter/PasswordReset/PasswordReset.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Signup.js
Due: web-changed

Linting
  apps/web/src/components/HyloCookieConsent/HyloCookieConsent.js
  apps/web/src/components/TextInput/TextInput.js
  apps/web/src/components/ViewHeader/ViewHeader.jsx
  apps/web/src/routes/GroupSettings/MembershipRequestsTab/MembershipRequestsTab.js
  apps/web/src/routes/MapExplorer/MapExplorer.js
Due: web-changed

Cache num_commenters on posts, for performance
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/models/Post.js
  apps/backend/api/models/comment/deleteComment.js
  apps/backend/migrations/20250614182703_add-num-commenters-to-posts.js
  apps/web/src/store/reducers/ormReducer/index.js
Due: backend-changed, web-changed

Added commentId focus test-cases to linking table
  apps/mobile/src/navigation/linking/__snapshots__/getStateFromPath.test.js.snap
  apps/mobile/src/navigation/linking/getStateFromPath.test.js
Due: mobile-changed

Re-add timezone display to datetimes throughout the app
  packages/shared/src/TextHelpers.js
Due: none

Fix up event RSVP email
  apps/backend/api/graphql/mutations/event.js
Due: backend-changed

make sure track completion message appears even in tracks where actions have been removed
  apps/backend/api/models/Post.js
  apps/backend/api/models/Track.js
  apps/web/src/routes/PostDetail/ActionCompletionSection.jsx
Due: backend-changed, web-changed

Update web and backend to v6.1.3
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

Try to fix RSVPing to events on production
  apps/backend/api/graphql/mutations/event.js
Due: backend-changed

Cleaned up cookie consent at different screen sizes
  apps/web/src/components/HyloCookieConsent/HyloCookieConsent.js
Due: web-changed

Made it so local server listens beyond localhost, allows for connecting phones and other devices to local environment over wifi
  apps/web/scripts/start.js
Due: web-changed

Fixed drawer close button position at all sizes
  apps/web/src/routes/MapExplorer/MapDrawer/MapDrawer.js
  apps/web/src/routes/MapExplorer/MapExplorer.js
Due: web-changed

Make sure we need to check for autofill before checking for autofill
  apps/web/src/components/TextInput/TextInput.js
Due: web-changed

Modified text input to be more mobile friendly, and to work better with autofill
  apps/web/src/components/TextInput/TextInput.js
Due: web-changed

Fixed autofill on text inputs to have mode-appropriate colors
  apps/web/src/css/global/index.scss
Due: web-changed

Massive improvements to non-auth layout, signup and login
  apps/web/src/components/GoogleButton/GoogleButton.js
  apps/web/src/routes/NonAuthLayoutRouter/Login/Login.js
  apps/web/src/routes/NonAuthLayoutRouter/NonAuthLayoutRouter.js
  apps/web/src/routes/NonAuthLayoutRouter/PasswordReset/PasswordReset.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Signup.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/VerifyEmail/VerifyEmail.js
Due: web-changed

Fixed padding on center column on phones
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Cleaned up cookie consent at different screen sizes
  apps/web/src/components/StreamViewControls/StreamViewControls.js
Due: web-changed

Mobile improvements to context menu, post detail and stream
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/PostDetail/PostDetail.js
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

Fixed width of thread list on mobile
  apps/web/src/routes/Messages/ThreadList/ThreadList.js
Due: web-changed

Added min widths to chevrons so that they always display correctly and removed context icons entirely for views that are not messages
  apps/web/src/components/ViewHeader/ViewHeader.jsx
Due: web-changed

Fixed page titles, added helmet to non-auth layout routes, removed getPageTitle
  apps/web/src/routes/NonAuthLayoutRouter/Login/Login.js
  apps/web/src/routes/NonAuthLayoutRouter/ManageNotifications/ManageNotifications.js
  apps/web/src/routes/NonAuthLayoutRouter/NonAuthLayoutRouter.js
  apps/web/src/routes/NonAuthLayoutRouter/PasswordReset/PasswordReset.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Signup.js
Due: web-changed

Added toggling of menu to threaditems for mobile viewers
  apps/web/src/routes/Messages/ThreadList/ThreadListItem.jsx
Due: web-changed

Fixed group settings menu on mobile
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Added an explicit z-order for when the menu is not needed on mobile devices
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Added default text sizes for mobile and removed the navigation arrow. For messages the default back button will work
  apps/web/src/routes/Messages/Header/Header.js
Due: web-changed

Added documentation for checkautofill function
  apps/web/src/routes/NonAuthLayoutRouter/Login/Login.js
Due: web-changed

Added explicit z-index to global nav for mobile
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

Removed duplicate props
  apps/web/src/components/ViewHeader/ViewHeader.jsx
Due: web-changed

Start of a theme page
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/Themes/Themes.js
  apps/web/src/routes/Themes/index.js
Due: web-changed

Rework how joinQuestionAnswers are queried
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/schema.graphql
  apps/web/src/components/Member/Member.js
  apps/web/src/routes/Members/Members.js
  apps/web/src/routes/Members/Members.store.js
Due: backend-changed, web-changed

Added additional ui pieces to the themes page
  apps/web/src/routes/Themes/Themes.js
Due: web-changed

Fix display of join questions to only show questions from current group
  apps/backend/api/graphql/makeModels.js
Due: backend-changed

Added full changelogs for the redesign release
  apps/backend/CHANGELOG.md
  apps/web/CHANGELOG.md
Due: backend-changed, web-changed

Simplified and improved group card to match styling of whats in Groups.js
  apps/web/src/components/GroupCard/GroupCard.js
Due: web-changed

Added Outline and SelectedOutline button variants
  apps/web/src/components/ui/button-variants.tsx
Due: web-changed

Updated styling of detail column in Authlayoutrouter
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

REmoved some of the old styling from detail. The class is still needed because styling of this element is done by adding and removing classes
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.module.scss
Due: web-changed

Removed background color, let authlayoutrouter and publiclayoutrouter handle this. Improved styles of the details.
  apps/web/src/routes/GroupDetail/GroupDetail.js
Due: web-changed

Added header details, title, and featured groups. Featured groups is an array of groupIds, passed into the component.
  apps/web/src/routes/GroupExplorer/FeaturedGroups/FeaturedGroups.js
  apps/web/src/routes/GroupExplorer/GroupExplorer.js
  apps/web/src/store/actions/fetchGroups.js
Due: web-changed
