Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

chore(mobile): Add confirmDIscardChanges handling to New Message
  apps/mobile/src/components/MessageInput/MessageInput.js
  apps/mobile/src/screens/NewMessage/NewMessage.js
Due: mobile-changed

chore(mobile): Better display MessageThread messages display
  apps/mobile/src/components/MessageCard/MessageCard.js
Due: mobile-changed

chore(mobile): Fix linking to not pass through "stream" as a streamType
  apps/mobile/src/navigation/linking/index.js
Due: mobile-changed

chore(mobile): Fix Messages onPress for participants, change colors, add back title option to modal, apply revised PeopleListModal everywhere else
  apps/mobile/src/components/ItemSelector.js
  apps/mobile/src/components/ItemSelectorModal.js
  apps/mobile/src/components/LocationSelectorModal/LocationSelectorModal.js
  apps/mobile/src/components/MessageInput/MessageInput.js
  apps/mobile/src/components/PeopleListModal.js
  apps/mobile/src/components/PeopleListModal/PeopleListModal.js
  apps/mobile/src/components/PeopleListModal/PeopleListModal.styles.js
  apps/mobile/src/components/PeopleListModal/index.js
  apps/mobile/src/components/PostCard/PostFooter/PostFooter.js
  apps/mobile/src/screens/Thread/ThreadHeaderTitle.js
Due: mobile-changed

chore(mobile): Fix cocoapods version tug-of-war
  apps/mobile/ios/Gemfile
  apps/mobile/ios/Gemfile.lock
  apps/mobile/ios/Podfile.lock
Due: mobile-changed

chore(mobile): Attempt OneSignal iOS fix
  apps/mobile/src/navigation/AuthRootNavigator.js
Due: mobile-changed

chore(mobile): Make Message Input text a smidge larger
  apps/mobile/src/components/MessageInput/MessageInput.js
Due: mobile-changed

chore(mobile): Add missing loading indicator to ThreadList pagination
  apps/mobile/src/screens/ThreadList/ThreadList.js
Due: mobile-changed

chore(mobile): OneSignal setups
  apps/mobile/src/hooks/useLogout.js
  apps/mobile/src/navigation/AuthRootNavigator.js
Due: mobile-changed

chore(mobile): Fixes several small Messages issues. Date headers, miss participants in Message headers, spaced of Message Input, and spacing between Messages in list
  apps/mobile/src/components/MessageCard/MessageCard.js
  apps/mobile/src/components/MessageInput/MessageInput.js
  apps/mobile/src/screens/Thread/Thread.js
Due: mobile-changed

Fix some text inputs like on Login
  apps/web/src/components/TextInput/TextInput.js
  apps/web/src/routes/NonAuthLayoutRouter/Login/Login.module.scss
  apps/web/src/routes/OAuth/Login/Login.module.scss
Due: web-changed

chore(mobile): Message list, refine the timestamps
  apps/mobile/src/components/MessageCard/MessageCard.js
  apps/mobile/src/screens/Thread/Thread.js
Due: mobile-changed

Giev a little space at the bottom of the chats before the chat box
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

chore(mobile): Bump message input size up a bit more still
  apps/mobile/src/components/MessageInput/MessageInput.js
Due: mobile-changed

chore(mobile): Keyboard dismisses on drag when in Message Thread
  apps/mobile/src/screens/Thread/Thread.js
  packages/urql/keys.js
Due: mobile-changed

Fix post attachement uploads
  apps/backend/api/models/Post.js
  apps/backend/api/models/post/createPost.js
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: backend-changed, web-changed

chore(mobile): Fix buggy setup in MemberProfile for blocked user
  apps/mobile/src/screens/MemberProfile/MemberProfile.js
  packages/urql/keys.js
Due: mobile-changed

chore(mobile): Make message creator pressable to Member Profile in Messages
  apps/mobile/src/components/MessageCard/MessageCard.js
Due: mobile-changed

Chat post images open up in lightbox not separate URL
  apps/web/src/components/CardImageAttachments/CardImageAttachments.js
  apps/web/src/components/CardImageAttachments/CardImageAttachments.module.scss
  apps/web/src/components/ModalDialog/ModalDialog.module.scss
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.module.scss
Due: web-changed

first pass at multiday events
  apps/web/src/components/Calendar/body/month/calendar-body-month.tsx
  apps/web/src/components/Calendar/calendar-util.tsx
Due: web-changed

Fix chat room notifications being reset
  apps/backend/api/models/TagFollow.js
Due: backend-changed

Fix error updating chat room notifications from settings
  apps/web/src/store/reducers/ormReducer/index.js
Due: web-changed

Fix warning when chat post has no images
  apps/web/src/components/CardImageAttachments/CardImageAttachments.js
Due: web-changed

Add Bell icon in group menu to jump to notifications settings for that group
  apps/web/src/components/GroupMenuHeader/GroupMenuHeader.jsx
  apps/web/src/routes/UserSettings/NotificationSettingsTab/MembershipSettingRow.jsx
  apps/web/src/routes/UserSettings/NotificationSettingsTab/NotificationSettingsTab.js
Due: web-changed

Fix display of group settings
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

chore(mobile): Messages UI and a light app-wide styling for screen and modal hears, as well remove some unused components
  apps/mobile/src/components/CommentEditor/CommentEditor.js
  apps/mobile/src/components/ItemSelector.js
  apps/mobile/src/components/ItemSelectorModal.js
  apps/mobile/src/components/MessageInput/MessageInput.js
  apps/mobile/src/components/ScrollableModal/ScrollableModal.js
  apps/mobile/src/components/ScrollableModal/index.js
  apps/mobile/src/components/ThreadCard/ThreadCard.js
  apps/mobile/src/navigation/MessagesNavigator.js
  apps/mobile/src/navigation/TabsNavigator.js
  apps/mobile/src/navigation/headers/ModalHeader.js
  apps/mobile/src/navigation/headers/ModalHeaderTransparent.js
  apps/mobile/src/screens/NewMessage/NewMessage.js
  apps/mobile/src/screens/Thread/Thread.js
  apps/mobile/src/screens/Thread/Thread.test.js
  apps/mobile/src/screens/Thread/ThreadHeaderTitle.js
  apps/mobile/src/screens/ThreadList/ThreadList.js
  apps/mobile/src/screens/ThreadList/ThreadList.test.js
Due: mobile-changed

chore(mobile): Corrects Notifications modal close button style
  apps/mobile/src/screens/NotificationsList/NotificationsList.js
Due: mobile-changed

Pod version bumps
  apps/mobile/ios/Podfile.lock
Due: mobile-changed

Take context from routeParams; change how all/members/:memberId is routed
  apps/mobile/src/navigation/linking/index.js
  apps/mobile/src/screens/Stream/Stream.js
  packages/hooks/useStreamQueryVariables.js
Due: mobile-changed

Remove console log
  apps/mobile/src/screens/UserSettingsWebView/UserSettingsWebView.js
Due: mobile-changed

chore(mobile): Set estimatedListSize on key FlashLists for performance improvement
  apps/mobile/src/components/Comments/Comments.js
  apps/mobile/src/screens/Stream/Stream.js
  apps/mobile/src/screens/Thread/Thread.js
  apps/mobile/src/screens/ThreadList/ThreadList.js
Due: mobile-changed

use primitive boolean type
  apps/web/src/components/Calendar/calendar-util.tsx
Due: web-changed

Actually finish the work for notification when someone joins your group
  apps/backend/api/models/Activity.js
  apps/backend/api/models/Group.js
  apps/backend/api/models/GroupJoinQuestionAnswer.js
  apps/backend/api/models/Notification.js
  apps/backend/api/models/PushNotification.js
  apps/backend/lib/i18n/en.js
  apps/backend/lib/i18n/es.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationItem.jsx
  apps/web/src/routes/GroupWelcomeModal/GroupWelcomeModal.store.js
  apps/web/src/routes/MemberProfile/MemberProfile.js
  apps/web/src/store/actions/fetchMyMemberships.js
  apps/web/src/store/models/Notification.js
Due: backend-changed, web-changed

Fix error updating membership when not updating settings
  apps/backend/api/graphql/mutations/membership.js
Due: backend-changed

Translation and lint fixes
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/store/models/Notification.js
Due: web-changed

Fixes to messages UI
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/Messages/Message/Message.js
  apps/web/src/routes/Messages/MessageForm/MessageForm.js
  apps/web/src/routes/Messages/MessageSection/MessageSection.js
  apps/web/src/routes/Messages/Messages.js
  apps/web/src/routes/Messages/Messages.module.scss
Due: web-changed

Badge notifications in global nav menu when there are unread threads
  apps/web/src/components/SocketListener/SocketListener.store.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/store/reducers/ormReducer/index.js
Due: web-changed

More fixes to loading of messages
  apps/web/src/routes/Messages/MessageForm/MessageForm.js
  apps/web/src/routes/Messages/MessageSection/MessageSection.js
  apps/web/src/routes/Messages/Messages.js
  apps/web/src/routes/Messages/PeopleSelector/PeopleList/PeopleList.js
Due: web-changed

Fix loading a post and jumping to a specific comment id
  apps/web/src/components/ModerationListItem/ModerationListItem.js
  apps/web/src/components/PostBigGridItem/index.js
  apps/web/src/components/PostCard/PostCard.jsx
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/PostGridItem/index.js
  apps/web/src/components/PostListRow/PostListRow.connector.js
  apps/web/src/components/PostListRow/PostListRow.js
  apps/web/src/components/PostListRow/index.js
  apps/web/src/hooks/useRouteParams/index.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
  apps/web/src/routes/PostDetail/PostDetail.js
  apps/web/src/util/navigation.js
Due: web-changed

Fix help menu
  apps/web/src/components/Dropdown/Dropdown.js
Due: web-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
