Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

chore(mobile): Updates getStateFromPath snapshot
  apps/mobile/src/components/PostCard/PostHeader/__snapshots__/PostHeader.test.js.snap
  apps/mobile/src/navigation/linking/__snapshots__/getStateFromPath.test.js.snap
  apps/mobile/src/navigation/linking/getStateFromPath.test.js
Due: mobile-changed

Fix display of posts in map drawer
  apps/web/src/routes/MapExplorer/MapDrawer/MapDrawer.js
  apps/web/src/routes/MapExplorer/MapDrawer/MapDrawer.module.scss
  apps/web/src/routes/MapExplorer/MapExplorer.js
  apps/web/src/routes/MapExplorer/MapExplorer.store.js
Due: web-changed

Allow in-app notifications to be cmd/ctrl clicked
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationItem.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/NotificationsDropdown/NotificationsDropdown.jsx
Due: web-changed

chore(mobile): Updates changeToGroup to set lastViewedAt to make setting/retrieval of last viewed group in Mobile more consistent
  apps/mobile/src/hooks/useHandleCurrentGroup.js
Due: mobile-changed

fix(mobile): Active ChatWebView responses to changes in current group. Simplifies / clarifies some HyloWebView implementation details.
  apps/mobile/src/components/HyloWebView/HyloWebView.js
  apps/mobile/src/screens/ChatRoomWebView/ChatRoomWebView.js
Due: mobile-changed

If there is already a valid linkPreview, dont flicker the loading spinner for previews
  apps/web/src/components/PostEditor/LinkPreview/LinkPreview.js
Due: web-changed

Fix display of badge names and resonsibilities in member directory
  apps/web/src/components/BadgeEmoji/BadgeEmoji.js
Due: web-changed

Remove file attachments from post editor after creating a post
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Allow text input for flaggin!
  apps/web/src/components/FlagContent/FlagContent.js
  apps/web/src/components/FlagContent/FlagContent.module.scss
Due: web-changed

Provide basic styling for button
  apps/web/src/components/FlagContent/FlagContent.module.scss
Due: web-changed

chore(mobile): Linting
  apps/mobile/src/components/HyloWebView/HyloWebView.js
  apps/mobile/src/screens/ChatRoomWebView/ChatRoomWebView.js
Due: mobile-changed

Remove local storage reference from hylo/shared; now inject locale lookup into a million DateTime functions
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/Calendar/body/day/calendar-body-day-calendar.tsx
  apps/web/src/components/Calendar/body/month/calendar-body-month.tsx
  apps/web/src/components/Calendar/body/week/calendar-body-week-calendar.tsx
  apps/web/src/components/Calendar/calendar-event.tsx
  apps/web/src/components/Calendar/calendar.tsx
  apps/web/src/components/Calendar/header/date/calendar-header-date-chevrons.tsx
  apps/web/src/components/DatePicker/index.js
  apps/web/src/components/PostCard/ChatCard/ChatCard.js
  apps/web/src/components/PostCard/EventDate/EventDate.js
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/PostListRow/PostListRow.js
  apps/web/src/components/Widget/AnnouncementWidget/AnnouncementWidget.js
  apps/web/src/components/Widget/EventsWidget/EventsWidget.js
  apps/web/src/components/Widget/ProjectsWidget/ProjectsWidget.js
  apps/web/src/components/ui/datetimepicker.jsx
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/MemberProfile/MemberProfile.js
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.jsx
  apps/web/src/routes/Stream/Stream.js
  apps/web/src/routes/UserSettings/ManageInvitesTab/ManageInvitesTab.js
  apps/web/src/store/presenters/presentPost.js
  apps/web/src/util/savedSearch.js
  packages/shared/src/DateTimeHelpers.d.ts
  packages/shared/src/DateTimeHelpers.test.js
  packages/shared/src/DateTimeHelpers.ts
  packages/shared/src/types/pretty-date.d.ts
Due: web-changed

Switching a few more DateTime helper functions to use locale or skip it
  apps/backend/api/models/Notification.js
  apps/backend/api/models/Post.js
  apps/web/src/components/Calendar/body/day/calendar-body-day-calendar.tsx
  packages/shared/src/DateTimeHelpers.d.ts
  packages/shared/src/DateTimeHelpers.ts
Due: backend-changed, web-changed

Restore use of DateTime helper
  apps/backend/api/models/Post.js
  packages/shared/src/DateTimeHelpers.ts
  packages/shared/src/index.js
Due: backend-changed

Switch the use of more datetime functions from web to shared
  apps/web/public/locales/es.json
  apps/web/src/components/Calendar/body/day/calendar-body-day-calendar.tsx
  apps/web/src/components/Calendar/calendar-util.tsx
  packages/shared/src/DateTimeHelpers.ts
Due: web-changed

Big improvements to postEditor and associated components
  apps/web/src/components/KeyControlledList/KeyControlledList.js
  apps/web/src/components/KeyControlledList/KeyControlledList.module.scss
  apps/web/src/components/MemberSelector/MemberSelector.js
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/RemovableListItem/RemovableListItem.js
  apps/web/src/components/TagInput/TagInput.js
  apps/web/src/components/ToField/ToField.js
Due: web-changed

Added the correct color to the heading tags in hyloeditor
  apps/web/src/components/HyloEditor/HyloEditor.module.scss
Due: web-changed

Fixed and simplified styling of heading tags in global styles
  apps/web/src/css/global/index.scss
Due: web-changed

Improvements to roles settings tab
  apps/web/src/components/RemovableListItem/RemovableListItem.js
  apps/web/src/routes/GroupSettings/RolesSettingsTab/RolesSettingsTab.js
Due: web-changed

Align chat text with avatar on all media sizes; remove margin on p tags in chat posts
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.module.scss
Due: web-changed

Tweak padding and margins of chat posts and paragraphs in them
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.module.scss
Due: web-changed

Fix display of group names in To field when you hover over them
  apps/web/src/components/KeyControlledList/KeyControlledItemList.js
  apps/web/src/components/TagInput/TagInput.js
Due: web-changed

Add al ittle margin below location field in post editor
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Fix copy and translation for roles page
  apps/web/public/locales/en.json
  apps/web/src/routes/GroupSettings/RolesSettingsTab/RolesSettingsTab.js
Due: web-changed

Display link to change email settings in chat and comment digest emails
  apps/backend/api/models/TagFollow.js
  apps/backend/api/models/comment/notifications.js
Due: backend-changed

Update web to version 6.0.2
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: web-changed

Update backend to version 6.0.2
  apps/backend/CHANGELOG.md
  apps/backend/package.json
Due: backend-changed

Fix issue with message thread digests
  apps/backend/api/models/comment/notifications.js
Due: backend-changed

1.0.1
  package.json
Due: none

6.0.2
  apps/mobile/android/app/build.gradle
  apps/mobile/package.json
Due: mobile-changed

6.0.2 changelog
  apps/mobile/CHANGELOG
Due: mobile-changed

6.0.3-0 pre-release for mobile
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Add functions to sync voting state in chatroom
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Sync chatroom state with post proposal status
  apps/web/src/components/PostCard/PostBody/PostBody.js
  apps/web/src/components/PostCard/PostBodyProposal/PostBodyProposal.js
  apps/web/src/components/PostCard/PostCard.jsx
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Clean up hover states for proposals border and status text
  apps/web/src/components/PostCard/PostBodyProposal/PostBodyProposal.js
  apps/web/src/components/PostCard/PostCard.jsx
Due: web-changed

Create constraint on votes to ensure no duplicate votes
  apps/backend/migrations/20250404122630_unique-vote-constraint.js
Due: backend-changed

chore(mobile): Simplifies GroupSettingsWebView, fixes #435 double navigation to home screen on app load issue
  apps/mobile/src/components/ContextMenu/ContextMenu.js
  apps/mobile/src/hooks/useHandleCurrentGroup.js
  apps/mobile/src/hooks/useOpenURL.js
  apps/mobile/src/navigation/HomeNavigator.js
  apps/mobile/src/navigation/headers/TabStackHeader.js
  apps/mobile/src/navigation/linking/index.js
  apps/mobile/src/screens/GroupSettingsWebView/GroupSettingsWebView.js
Due: mobile-changed

Improvements to proposal editor
  apps/web/src/components/Dropdown/Dropdown.js
  apps/web/src/components/PostEditor/AnonymousVoteToggle/AnonymousVoteToggle.js
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

chore(mobile): Imports web view correctly
  apps/mobile/src/screens/GroupSettingsWebView/GroupSettingsWebView.js
Due: mobile-changed

chore(mobile): Updates openURL usage to not always rely on navigation ref
  apps/mobile/src/components/Files/Files.js
  apps/mobile/src/components/HyloHTML/HyloHTML.js
  apps/mobile/src/components/PostCard/LinkPreview/LinkPreview.js
  apps/mobile/src/components/PostCard/PostCardForDetails.js
  apps/mobile/src/screens/AllViews/AllViews.js
  apps/mobile/src/screens/GroupExploreWebView/GroupExploreWebView.js
  apps/mobile/src/screens/JoinGroup/JoinGroup.js
  apps/mobile/src/screens/MemberProfile/MemberDetails/MemberDetails.js
  apps/mobile/src/screens/MemberProfile/MemberHeader.js
Due: mobile-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
