Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

add clarifying comments re date ranges
  apps/backend/api/services/Search/util.js
Due: backend-changed

Fix finish registration step
  apps/web/src/components/TextInput/TextInput.js
Due: web-changed

Re-enable custom classnanme for HyloEditor EditorContent
  apps/web/src/components/HyloEditor/HyloEditor.js
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/PostEditor/PostEditor.module.scss
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.module.scss
Due: web-changed

reduce if stmts for cal date ranges
  apps/backend/api/services/Search/util.js
Due: backend-changed

distinguish sigle-day and multi-day
  apps/web/src/components/Calendar/calendar-event.tsx
Due: web-changed

chore: Removes shared i18n instance due to malfunction. Makes translation a component-level responsibility. Adds translateTitle to ContextWidgetPresenter and applies it
  apps/mobile/i18n.js
  apps/mobile/src/components/ContextMenu/ContextMenu.js
  apps/mobile/src/components/PostCard/PostBody/PostBody.js
  apps/mobile/src/screens/AllViews/AllViews.js
  apps/mobile/src/util/confirmDiscardChanges.js
  apps/web/src/components/EventInviteDialog/EventInviteDialog.js
  apps/web/src/components/PostCard/EventBody/EventBody.js
  apps/web/src/components/PostCard/EventRSVP/EventRSVP.js
  apps/web/src/components/PostCard/EventRSVP/EventRSVP.test.js
  apps/web/src/components/PostPeopleDialog/PostPeopleDialog.js
  apps/web/src/i18n.mjs
  apps/web/src/routes/AllView/AllView.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/store/models/EventInvitation.js
  packages/presenters/ContextWidgetPresenter.js
  packages/presenters/EventInvitationPresenter.js
  packages/presenters/GroupPresenter.js
  packages/shared/i18n.js
Due: web-changed, mobile-changed

Fix going to group join link when not logged in
  apps/web/src/routes/RootRouter/RootRouter.js
Due: web-changed

Add Welcome email
  apps/backend/api/models/User.js
  apps/backend/api/services/Email.js
Due: backend-changed

unify the where condition for all views
  apps/backend/api/services/Search/util.js
Due: backend-changed

refactor code to use calendarView
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

rename variable for clarity
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

Stop titleResolver from dying when title is null
  packages/presenters/ContextWidgetPresenter.js
Due: none

Correctly access group slug when joining a group via link
  apps/mobile/src/screens/GroupWelcomeFlow/GroupWelcomeFlow.store.js
  apps/mobile/src/screens/JoinGroup/JoinGroup.js
Due: mobile-changed

Include backend error on error invocation
  apps/mobile/src/screens/JoinGroup/JoinGroup.js
Due: mobile-changed

chore(mobile,contexts): Simplifies AuthContext, small fixes surrounding Mobile Sign Up flow
  apps/mobile/src/components/SettingControl/SettingControl.js
  apps/mobile/src/navigation/AuthRootNavigator.js
  apps/mobile/src/navigation/RootNavigator/RootNavigator.js
  packages/contexts/AuthContext.js
Due: mobile-changed

chore(mobile): Signup fixes
  apps/mobile/src/screens/Signup/SignupEmailValidation/SignupEmailValidation.js
  apps/mobile/src/screens/Signup/SignupUploadAvatar/SignupUploadAvatar.js
Due: mobile-changed

Cut away moderation related references in the stream
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

Removed duplicate imports; I am guessing from a bad merge
  apps/web/src/components/Calendar/calendar-event.tsx
Due: web-changed

chore(mobile): Improve keyboard avoiding behavior PostDetails > CommentEditor
  apps/mobile/src/components/Comments/Comments.js
Due: mobile-changed

chore(mobile): Updates linking snapshot after all > my conversion and settings screen changes
  apps/mobile/src/navigation/linking/__snapshots__/getStateFromPath.test.js.snap
Due: mobile-changed

chore: Address initial loading of Home widget for Mobile. Adds GroupPresenter#homeWidget. Some code clean-up
  apps/mobile/src/components/ContextSwitchMenu/ContextSwitchMenu.js
  apps/mobile/src/navigation/HomeNavigator.js
  apps/mobile/src/screens/ChatRoomWebView/ChatRoomWebView.js
  packages/hooks/useCurrentGroup.js
  packages/presenters/GroupPresenter.js
Due: mobile-changed

chore(mobile): Update linking test
  apps/mobile/src/navigation/linking/getStateFromPath.test.js
Due: mobile-changed

chore(mobile): Align Chat Room screen naming
  apps/mobile/src/hooks/useGoToTopic.js
  apps/mobile/src/navigation/HomeNavigator.js
  apps/mobile/src/navigation/linking/__snapshots__/getStateFromPath.test.js.snap
  apps/mobile/src/navigation/linking/index.js
  apps/mobile/src/screens/AllTopicsWebView/AllTopicsWebView.js
  apps/mobile/src/screens/NotificationsList/NotificationsList.store.js
Due: mobile-changed

chore(mobile): Code-level clean-ups
  apps/mobile/src/components/ContextMenu/ContextMenu.js
  apps/mobile/src/components/ContextSwitchMenu/ContextSwitchMenu.js
  apps/mobile/src/hooks/useReactOnEntity.js
  apps/mobile/src/screens/MemberProfile/MemberProfile.js
  packages/hooks/useCurrentUser.js
Due: mobile-changed

Minimum viable Creation Options screen
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/src/components/ContextSwitchMenu/ContextSwitchMenu.js
  apps/mobile/src/navigation/AuthRootNavigator.js
  apps/mobile/src/navigation/linking/index.js
  apps/mobile/src/screens/CreationOptions/CreationOptions.js
  apps/mobile/src/screens/CreationOptions/index.js
Due: mobile-changed

First pass retheme of post creation
  apps/mobile/src/screens/PostEditor/PostEditor.js
  apps/mobile/src/screens/PostEditor/PostEditor.styles.js
Due: mobile-changed

Sync background color for post editor on mobile
  apps/mobile/src/screens/PostEditor/PostEditor.js
Due: mobile-changed

There shifts for Stream
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/src/screens/Stream/Stream.js
Due: mobile-changed

add go to today buttons for calendar
  apps/web/src/components/Calendar/body/day/calendar-body-day-calendar.tsx
  apps/web/src/components/Calendar/body/week/calendar-body-week-calendar.tsx
Due: web-changed

Improve go to today behavior
  apps/web/src/components/Calendar/body/day/calendar-body-day-calendar.tsx
  apps/web/src/components/Calendar/body/week/calendar-body-week-calendar.tsx
  apps/web/src/components/Calendar/calendar-util.tsx
Due: web-changed

delete calendar files no longer needed
  apps/web/src/components/Calendar/body/calendar-body-header.tsx
  apps/web/src/components/Calendar/body/day/calendar-body-day-content.tsx
  apps/web/src/components/Calendar/body/day/calendar-body-day-event.tsx
  apps/web/src/components/Calendar/body/day/calendar-body-day-events.tsx
  apps/web/src/components/Calendar/body/day/calendar-body-margin-day-margin.tsx
Due: web-changed

add go to this month button to calendar
  apps/web/src/components/Calendar/header/date/calendar-header-date-chevrons.tsx
Due: web-changed

style the go to buttons on calendar
  apps/web/src/components/Calendar/body/day/calendar-body-day-calendar.tsx
  apps/web/src/components/Calendar/body/week/calendar-body-week-calendar.tsx
Due: web-changed

improve go to text for calendar
  apps/web/src/components/Calendar/header/date/calendar-header-date-chevrons.tsx
Due: web-changed

refactor go to button variable names
  apps/web/src/components/Calendar/body/day/calendar-body-day-calendar.tsx
  apps/web/src/components/Calendar/body/week/calendar-body-week-calendar.tsx
  apps/web/src/components/Calendar/header/date/calendar-header-date-chevrons.tsx
Due: web-changed

Some shifts to styling in the PostCard
  apps/mobile/src/components/PostCard/PostCard.js
Due: mobile-changed

Switch Pill color control to nativewind classes, in lieu of passed in styles
  apps/mobile/src/components/EmojiPill/EmojiPill.js
  apps/mobile/src/components/Pill/Pill.js
  apps/mobile/src/screens/GroupWelcomeFlow/GroupWelcomeLanding.js
Due: mobile-changed

Prevent double creating a new view/widget
  apps/web/src/routes/AllView/AllView.jsx
Due: web-changed
