Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Fix permissions bug (non-members could see/access content of group) and routing problem on chat detail exit
  apps/backend/api/graphql/filters.js
  apps/backend/api/graphql/filters.test.js
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/models/Post.js
  apps/backend/api/models/post/setupPostAttrs.js
  apps/backend/api/services/Search/forPosts.js
  apps/backend/api/services/Search/util.js
  apps/backend/api/services/Search/util.test.js
  apps/backend/test/unit/models/Post.test.js
  apps/web/src/components/PostDialog/PostDialog.jsx
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/PostDetail/PostDetail.js
  apps/web/src/util/postDetailCloseNavigation.js
  apps/web/src/util/postDetailCloseNavigation.test.js
Due: backend-changed, web-changed

Fix stream load loop crash
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

Fix chatoom text selection; fix drafts popup rendering below other content
  apps/web/src/components/UnsavedDraftLeaveDialog/UnsavedDraftLeaveDialog.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/util/textSelectionTouch.js
Due: web-changed

Get text selection happy in chatroom again
  apps/web/src/components/HyloEditor/HyloEditor.js
  apps/web/src/css/global/index.scss
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.module.scss
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/ChatRoom/ChatRoom.module.scss
  apps/web/src/util/textSelectionTouch.js
Due: web-changed

Fix editing long comments on ipad/mobile
  apps/web/src/components/HyloEditor/HyloEditor.js
  apps/web/src/routes/HyloEditorMobile/HyloEditorMobile.js
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.jsx
Due: web-changed

CHANGELOG
  apps/web/CHANGELOG.md
Due: web-changed

Improve chat and comment editing
  apps/backend/api/models/Tag.js
  apps/backend/test/unit/models/Tag.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.module.scss
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.jsx
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.module.scss
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.test.js
  apps/web/src/store/actions/updatePost.js
  apps/web/src/store/reducers/ormReducer/index.js
  apps/web/src/store/reducers/ormReducer/index.test.js
Due: backend-changed, web-changed

Improve scrolling of comment edit box on mobile
  apps/web/src/components/HyloEditor/HyloEditor.js
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.jsx
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.module.scss
  apps/web/src/routes/PostDetail/Comments/Comments.js
  apps/web/src/routes/PostDetail/PostDetail.js
Due: web-changed

Refine nav tab/stack styling, add group-stacking setting
  apps/web/src/components/ThemeSelector/ThemeSelector.js
  apps/web/src/contexts/ThemeContext.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
  apps/web/src/routes/AuthLayoutRouter/components/TopNav/TopNav.jsx
Due: web-changed

CHANGELOG fixes
  apps/backend/CHANGELOG.md
  apps/web/CHANGELOG.md
Due: backend-changed, web-changed

Fix tab label contrast in light mode
  apps/web/src/routes/AuthLayoutRouter/components/TopNav/TopNav.jsx
Due: web-changed

Proxy astro not gatsby
  apps/web/src/server/proxy.js
Due: web-changed

Attempt to fix android nested comment input bug
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.js
Due: web-changed

Expanded comment input fixes
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.js
Due: web-changed

Ensure users with the appropriate join or invite link can join CLOSED groups
  apps/backend/api/graphql/mutations/group.js
  apps/backend/scripts/seed-e2e-baseline.js
  apps/web/e2e/authenticated.invitation-links-about.spec.js
  apps/web/e2e/helpers/invitationLinksSeed.js
  apps/web/e2e/unauthenticated.invitation-links-about.spec.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/GroupDetail/JoinSection.jsx
Due: backend-changed, web-changed

Hide public group link for CLOSED groups; clean up e2e seed data script
  apps/backend/scripts/seed-e2e-baseline.js
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.js
Due: backend-changed, web-changed

Streamline /about page join button conditional logic
  apps/web/src/routes/GroupDetail/JoinSection.jsx
Due: web-changed

Fix Delete Account functionality
  apps/backend/api/models/User.js
Due: backend-changed

Backend and web v6.5.2
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

Allow currentUser to be undefined in more of the app; allowing more of the component tree to render in parallel
  apps/web/e2e/authenticated.auth-session.spec.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/JoinGroup/JoinGroup.test.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/SignupRouter.js
  apps/web/src/store/reducers/authSession.js
  apps/web/src/store/selectors/getAuthSession.js
  apps/web/src/store/selectors/getAuthState.js
Due: web-changed

Render postDetail views before currentUser and Group data loads
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/models/Post.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/PostDetail/PostDetail.js
Due: backend-changed, web-changed

Hopefully revert the lose of post detail dismissal gesture
  apps/web/src/routes/PostDetail/PostDetail.js
Due: web-changed

Clean up touch-drag rendering for postDialog dismissal
  apps/web/src/routes/PostDetail/PostDetail.js
Due: web-changed

Styling tweaks for the postDialog dismissal gesture
  apps/web/src/routes/PostDetail/PostDetail.js
Due: web-changed

Avoid double posting
  apps/web/src/components/PostEditor/ActionsBar.jsx
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Add maestro for testing
  apps/mobile-leap/.env.example
  apps/mobile-leap/.gitignore
  apps/mobile-leap/.maestro/README.md
  apps/mobile-leap/.maestro/config.yaml
  apps/mobile-leap/.maestro/login-screen.yaml
  apps/mobile-leap/.maestro/login-smoke.yaml
  apps/mobile-leap/app.config.ts
  apps/mobile-leap/assets/merkaba-green-on-white.png
  apps/mobile-leap/assets/merkaba_white.png
  apps/mobile-leap/assets/signin_background.png
  apps/mobile-leap/eas.json
  apps/mobile-leap/package.json
  apps/mobile-leap/scripts/adb-reverse-dev.sh
  apps/mobile-leap/src/components/ImagePicker.tsx
  apps/mobile-leap/src/components/LocationSelector.tsx
  apps/mobile-leap/src/components/auth/AuthScreenParts.tsx
  apps/mobile-leap/src/config/index.ts
  apps/mobile-leap/src/hooks/useCurrentLocation.ts
  apps/mobile-leap/src/hooks/useHandleLinking.ts
  apps/mobile-leap/src/hooks/useOpenURL.ts
  apps/mobile-leap/src/hooks/useReturnToOnAuthPath.ts
  apps/mobile-leap/src/navigation/AuthNavigator.tsx
  apps/mobile-leap/src/navigation/SignupNavigator.tsx
  apps/mobile-leap/src/screens/ForgotPassword/ForgotPasswordScreen.tsx
  apps/mobile-leap/src/screens/JoinGroup/JoinGroupScreen.tsx
  apps/mobile-leap/src/screens/Login/LoginScreen.tsx
  apps/mobile-leap/src/screens/PrimaryWebView/PrimaryWebViewScreen.tsx
  apps/mobile-leap/src/screens/Signup/SignupIntroScreen.tsx
  apps/mobile-leap/src/screens/Signup/SignupStepScreens.tsx
  apps/mobile-leap/src/services/mapbox.ts
  apps/mobile-leap/src/util/upload.ts
  docs/mobile-leap-rebuild-plan.md
  yarn.lock
Due: none

Initial draft of engineering plan
  docs/spaces-and-views-engineering-spec.md
Due: none

Tweaks to plan
  docs/spaces-and-views-engineering-spec.md
Due: none

Plan tweaks
  docs/spaces-and-views-engineering-spec.md
Due: none

Fix list of static landing page URLs for proxy
  apps/mobile/src/navigation/linking/index.js
Due: mobile-changed

More fixing of static landing page URLs
  apps/mobile/src/navigation/linking/index.js
  apps/web/src/server/proxy.js
Due: web-changed, mobile-changed

simplify double-posting logic clean up
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Rename getAuthState to getSignupState
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/JoinGroup/JoinGroup.js
  apps/web/src/routes/NonAuthLayoutRouter/NonAuthLayoutRouter.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/SignupRouter.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/VerifyEmail/VerifyEmail.js
  apps/web/src/routes/OAuth/Login/Login.js
  apps/web/src/routes/RootRouter/RootRouter.js
  apps/web/src/store/constants.js
  apps/web/src/store/middleware/mixpanelMiddleware.js
  apps/web/src/store/reducers/authSession.js
  apps/web/src/store/reducers/resetStore.js
  apps/web/src/store/selectors/getSignupState.js
Due: web-changed

When creating a group make sure you immediately have coordinator role
  apps/web/src/store/reducers/ormReducer/index.js
Due: web-changed

When creating a group make sure it doesnt appear in the pinned section
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

Updates to spaces spec
  docs/spaces-and-views-engineering-spec.md
Due: none

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
