Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Send account emails and receipts without Precedence: bulk
  apps/backend/api/services/Email.js
  apps/backend/test/unit/services/Email.test.js
Due: backend-changed

Reject the Member role wherever a role is assigned or required
  apps/backend/api/graphql/mutations/contentAccess.js
  apps/backend/api/graphql/mutations/contentAccess.test.js
  apps/backend/api/graphql/mutations/fundingRound.js
  apps/backend/api/graphql/mutations/fundingRound.test.js
  apps/backend/api/graphql/mutations/invitation.js
  apps/backend/api/graphql/mutations/invitation.test.js
  apps/backend/api/graphql/mutations/spaces.js
  apps/backend/api/graphql/mutations/spaces.test.js
  apps/backend/api/graphql/mutations/stripe.js
  apps/backend/api/graphql/mutations/stripe.test.js
  apps/backend/api/graphql/mutations/track.js
  apps/backend/api/graphql/mutations/track.test.js
Due: backend-changed

Leave the Member role out of Group.groupRoles
  apps/backend/api/graphql/index.test.js
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
Due: backend-changed

Explain why Post is unavailable on touch screens and fix the comment send tooltip
  apps/web/src/components/Button/Button.js
  apps/web/src/components/Button/Button.test.js
  apps/web/src/components/PostEditor/ActionsBar.jsx
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/PostEditor/PostEditor.test.js
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.js
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.test.js
Due: web-changed

Translate comment digest subjects and format times for the recipient
  apps/backend/api/models/comment/notifications.js
  apps/backend/lib/i18n/de.js
  apps/backend/lib/i18n/en.js
  apps/backend/lib/i18n/es.js
  apps/backend/lib/i18n/fr.js
  apps/backend/lib/i18n/hi.js
  apps/backend/lib/i18n/pt.js
  apps/backend/test/unit/models/Comment.test.js
Due: backend-changed

Let proposal authors record an outcome once voting completes on its own
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/PostCard/PostBodyProposal/PostBodyProposal.js
  apps/web/src/components/PostCard/PostBodyProposal/PostBodyProposal.test.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.test.js
Due: web-changed

Send export and RSVP emails in the recipient's language
  apps/backend/api/models/EventInvitation.js
  apps/backend/api/models/event/mixin.js
  apps/backend/api/services/ExportService.js
  apps/backend/lib/i18n/de.js
  apps/backend/lib/i18n/en.js
  apps/backend/lib/i18n/es.js
  apps/backend/lib/i18n/fr.js
  apps/backend/lib/i18n/hi.js
  apps/backend/lib/i18n/pt.js
  apps/backend/test/unit/models/event/sendUserRsvp.test.js
  apps/backend/test/unit/services/ExportService.test.js
Due: backend-changed

Seed Invite Members and Member roles in the e2e baseline
  apps/backend/scripts/seed-e2e-baseline.js
Due: backend-changed

Open the post composer from "Introduce yourself" in join-approved emails
  apps/backend/api/models/Notification.js
  apps/backend/test/unit/models/Notification.test.js
  scripts/i18n/i18n-templates/Join_Request_Approval_Notification_i18n/html.liquid
  scripts/i18n/i18n-templates/Join_Request_Approval_Notification_i18n/template_data.json
Due: backend-changed

Point people who are in no groups to exploring or creating one
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/NoPosts/NoPosts.test.js
  apps/web/src/components/NoPosts/index.js
  apps/web/src/routes/ViewContent/ViewContent.js
  apps/web/src/routes/ViewContent/ViewContent.test.js
Due: web-changed

Send signed-in people with a bad invite home when they cannot see the group
  apps/web/src/routes/JoinGroup/JoinGroup.js
  apps/web/src/routes/JoinGroup/JoinGroup.test.js
Due: web-changed

Point subscription email links at /my/transactions
  apps/backend/api/controllers/StripeController.js
  apps/backend/api/models/ContentAccess.js
  apps/backend/api/services/Frontend.js
  apps/backend/test/unit/controllers/StripeController.test.js
  apps/web/src/routes/UserSettings/UserSettings.js
  apps/web/src/routes/UserSettings/UserSettings.test.js
Due: backend-changed, web-changed

Track Group Welcome Completed only for a member's first welcome
  apps/web/src/routes/GroupWelcomeModal/GroupWelcomeModal.js
  apps/web/src/routes/GroupWelcomeModal/GroupWelcomeModal.test.js
Due: web-changed

Email members about refunds issued from the Stripe dashboard
  apps/backend/api/controllers/StripeController.js
  apps/backend/api/graphql/mutations/contentAccess.js
  apps/backend/api/models/ContentAccess.js
  apps/backend/test/unit/controllers/StripeController.test.js
Due: backend-changed

Keep the unfollow link's query string when a signed-out reader logs in
  apps/web/src/components/NavigateWithParams/index.jsx
  apps/web/src/routes/PublicLayoutRouter/PublicPostDetail.jsx
  apps/web/src/routes/RootRouter/RootRouter.test.js
Due: web-changed

Add group invite policies and per-person invite access
  apps/backend/api/graphql/mutations/group.test.js
  apps/backend/api/models/Group.js
  apps/backend/api/models/GroupMembership.js
  apps/backend/api/models/GroupRole.js
  apps/backend/test/unit/models/GroupMembership.test.js
  apps/backend/test/unit/models/GroupRole.test.js
Due: backend-changed

Only count a space join as open when any parent member could make it
  apps/backend/api/graphql/mutations/spaces.js
  apps/backend/api/graphql/mutations/spaces.test.js
Due: backend-changed

Copy the parent's invite policy when a space becomes a group
  apps/backend/api/graphql/mutations/spaces.js
  apps/backend/api/graphql/mutations/spaces.test.js
Due: backend-changed

Leave description tags out for a public group with no description
  apps/web/src/server/groupMetaTags.js
  apps/web/src/server/groupMetaTags.test.js
Due: web-changed

Expose invite access and the invite policy in GraphQL
  apps/backend/api/graphql/filters.test.js
  apps/backend/api/graphql/index.test.js
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
Due: backend-changed

Test the join source on every labelled membership path
  apps/backend/api/graphql/mutations/fundingRound.test.js
  apps/backend/api/graphql/mutations/group.test.js
  apps/backend/api/graphql/mutations/spaces.test.js
  apps/backend/api/graphql/mutations/track.test.js
  apps/backend/test/unit/models/User.test.js
Due: backend-changed

Test how the web server layers post, group and default preview tags
  apps/web/src/server/appMiddleware.test.js
Due: web-changed

Honor a rejection saved on the account before sending the Mixpanel profile
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.test.js
  apps/web/src/util/analytics.js
  apps/web/src/util/analytics.test.js
Due: web-changed

Resend the Mixpanel profile when analytics are accepted after a rejection
  apps/web/src/util/analytics.js
  apps/web/src/util/analytics.test.js
Due: web-changed

Put a failed chat message's attachments back in the composer
  apps/web/src/components/ChatEditor/ChatEditor.js
  apps/web/src/components/ChatEditor/ChatEditor.test.js
Due: web-changed

Keep the error page hidden while the stale-chunk reload is in flight
  apps/web/src/client/chunkReload.js
  apps/web/src/components/ErrorBoundary/ErrorBoundary.js
  apps/web/src/components/ErrorBoundary/ErrorBoundary.test.js
  apps/web/src/index.jsx
Due: web-changed

Record invite access on invitations and add the member invitation ledger
  apps/backend/migrations/20260927120100_invite_sponsorship.js
  apps/backend/migrations/schema.sql
  apps/backend/test/unit/migrations/20260927120100_invite_sponsorship.test.js
Due: backend-changed

Make the comment action buttons focusable and operable from the keyboard
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.jsx
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.test.js
Due: web-changed

Keep a failed chat message or comment with the room or post it was sent to
  apps/web/src/components/ChatEditor/ChatEditor.js
  apps/web/src/components/ChatEditor/ChatEditor.test.js
  apps/web/src/hooks/useDraft.js
  apps/web/src/hooks/useDraft.test.js
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.js
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.test.js
Due: web-changed

Keep project members in the project when they unfollow it
  apps/backend/api/graphql/mutations/post.test.js
  apps/backend/api/models/project/mixin.js
Due: backend-changed

Stop the fulfillPost tests leaking activity writes into the next describe
  apps/backend/api/graphql/mutations/post.test.js
Due: backend-changed

Drop Try Again from a post save failure that arrives after the editor closed
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/PostEditor/PostEditor.test.js
Due: web-changed

Take a failed chat message out of the stream's chat activity notice
  apps/web/src/store/reducers/ormReducer/index.js
  apps/web/src/store/reducers/ormReducer/index.test.js
  apps/web/src/store/util/chatActivityNotice.js
  apps/web/src/store/util/chatActivityNotice.test.js
Due: web-changed

Tell the reader when the email unfollow or its Undo fails
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/PostDetail/PostDetail.js
  apps/web/src/routes/PostDetail/PostDetail.test.js
Due: web-changed

Check EMAIL_REASONS against every notification priority reason
  apps/backend/api/models/Notification.js
  apps/backend/api/models/notification/priorityReasons.js
  apps/backend/test/unit/models/notification/emailReasons.test.js
Due: backend-changed

Find the checkout session for dashboard refunds by payment intent
  apps/backend/api/controllers/StripeController.js
  apps/backend/test/unit/controllers/StripeController.test.js
Due: backend-changed

Expire member invitations when the sender leaves or the group becomes a space
  apps/backend/api/graphql/mutations/spaces.js
  apps/backend/api/graphql/mutations/spaces.test.js
  apps/backend/api/models/Group.js
  apps/backend/test/unit/models/Group.test.js
Due: backend-changed

Let members send, see and cancel their own email invitations
  apps/backend/api/graphql/index.test.js
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/invitation.js
  apps/backend/api/graphql/mutations/invitation.test.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Invitation.js
  apps/backend/api/models/InvitationSend.js
  apps/backend/api/services/Frontend.js
  apps/backend/api/services/InvitationService.js
  apps/backend/package.json
  apps/backend/test/unit/models/Invitation.test.js
  apps/backend/test/unit/services/InvitationService.test.js
Due: backend-changed

Keep access when a Stripe dashboard refund is only partial
  apps/backend/api/controllers/StripeController.js
  apps/backend/test/unit/controllers/StripeController.test.js
Due: backend-changed

Queue the refund email instead of sending it during the request
  apps/backend/api/models/ContentAccess.js
  apps/backend/test/unit/controllers/StripeController.test.js
Due: backend-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
