Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

Show spinner while adding attachment to a DM
  apps/web/src/components/AttachmentManager/AttachmentManager.jsx
  apps/web/src/components/UploadAttachmentButton/UploadAttachmentButton.js
  apps/web/src/routes/Messages/MessageForm/MessageForm.js
  apps/web/src/routes/Messages/MessageForm/MessageForm.test.js
Due: web-changed

Fix a few backend tests
  apps/backend/api/graphql/mutations/contentAccess.test.js
  apps/backend/api/graphql/mutations/spaces.test.js
  apps/backend/test/unit/models/Group.test.js
  apps/backend/test/unit/models/Post.test.js
Due: backend-changed

Forgot a file
  apps/backend/api/models/Post.js
Due: backend-changed

FIx tests
  apps/backend/api/graphql/filters.test.js
  apps/backend/migrations/schema.sql
Due: backend-changed

Extra sandbox tweaks
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/tours/globalChromeTour.js
  apps/web/src/tours/tours.css
  apps/web/src/tours/useTour.js
Due: web-changed

Ensure play store accepts our android builds
  apps/mobile-leap/app.config.ts
Due: none

Menu right click menu is on top of group name tooltips
  apps/web/src/components/ui/right-click-menu.jsx
Due: web-changed

Tweaks to welcome flow in create group and space settings
  apps/web/e2e/create-group-modal.spec.js
  apps/web/e2e/space-modal-redesign.spec.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/ui/dialog.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddCollectionDialog.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddCustomViewDialog.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddGroupViewDialog.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddSpaceCollectionDialog.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddSpaceDialog.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddWelcomeViewDialog.jsx
  apps/web/src/routes/CreateGroup/CreateGroupForm.jsx
  apps/web/src/routes/CreateGroup/CreateGroupModal.jsx
  apps/web/src/routes/GroupWelcomePage/GroupWelcomePage.jsx
  apps/web/src/store/reducers/ormReducer/index.js
  apps/web/src/store/reducers/ormReducer/index.test.js
Due: web-changed

Bring back Paid as space access setting
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/SettingSelectRow/SettingSelectRow.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/SpaceSettingsModal.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/spaceFormConstants.js
  apps/web/src/store/actions/fetchGroupsMenuData.js
Due: web-changed

Fix editing single view spaces
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Funding round improvements
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/migrations/20260901160000_add_show_realtime_votes_to_funding_rounds.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/FundingRoundAboutInfo/FundingRoundAboutInfo.jsx
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/ui/info.jsx
  apps/web/src/graphql/fragments/groupDetailsFragment.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddSpaceDialog.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/FundingRoundSettingsFields.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/SpaceSettingsModal.jsx
  apps/web/src/routes/FundingRoundSubmissionsView/FundingRoundPhaseManager.jsx
  apps/web/src/routes/FundingRoundSubmissionsView/RoundPhaseStatus.jsx
  apps/web/src/routes/FundingRoundSubmissionsView/SubmissionCard.jsx
  apps/web/src/routes/FundingRounds/FundingRounds.store.js
  apps/web/src/routes/ManageRoundView/ManageRoundView.jsx
  apps/web/src/store/actions/fetchForGroup.js
  apps/web/src/store/actions/fetchGroupFundingRounds.js
  apps/web/src/store/models/FundingRound.js
  apps/web/src/store/reducers/ormReducer/index.js
  packages/graphql/queries/fetchFundingRoundQuery.js
  packages/graphql/queries/groupFundingRoundsQuery.js
Due: backend-changed, web-changed

Add ability to convert a space to a child group and visa versa
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/mutations/spaces.js
  apps/backend/api/graphql/mutations/spaces.test.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Group.js
  apps/backend/api/models/GroupMembership.js
  apps/backend/api/models/GroupRole.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/SpaceSettingsModal.jsx
  apps/web/src/routes/GroupSettings/GroupSettings.store.js
  apps/web/src/routes/GroupSettings/RelatedGroupsTab/RelatedGroupsTab.js
  apps/web/src/store/actions/groupViews.js
  apps/web/src/store/constants.js
  apps/web/src/store/selectors/getMyGroups.js
  apps/web/src/store/selectors/selectors.test.js
Due: backend-changed, web-changed

Fix re-asking previoulsy answered agreements and join questions when joining a group
  apps/backend/api/graphql/mutations/group.js
  apps/backend/api/graphql/mutations/join_request.test.js
  apps/backend/api/models/GroupMembership.js
  apps/backend/api/models/JoinRequest.js
  apps/web/src/routes/GroupWelcomeModal/GroupWelcomeModal.js
  apps/web/src/routes/GroupWelcomeModal/GroupWelcomeModal.store.js
  apps/web/src/routes/GroupWelcomeModal/GroupWelcomeModal.test.js
  apps/web/src/store/models/Membership.js
Due: backend-changed, web-changed

Fix random flickering out of view spaces in the menu
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/store/actions/fetchGroupViews.js
  apps/web/src/store/actions/markViewAsRead.js
  apps/web/src/store/actions/updateGroupViewUser.js
  apps/web/src/store/util/groupViewsOrder.js
  apps/web/src/store/util/groupViewsOrder.test.js
  apps/web/src/util/spaceVisibility.js
  apps/web/src/util/spaceVisibility.test.js
  docs/spaces-and-views-engineering-spec.md
Due: web-changed

Updating a space's name is reflect everywhere instantly
  apps/backend/api/graphql/mutations/spaces.js
  apps/backend/api/graphql/mutations/spaces.test.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/SpaceSettingsModal.jsx
  apps/web/src/store/actions/fetchGroupViews.js
  apps/web/src/store/actions/groupViews.js
  apps/web/src/store/reducers/ormReducer/index.js
  packages/presenters/src/GroupViewPresenter.js
Due: backend-changed, web-changed

Get paid spaces working
  apps/backend/api/controllers/StripeController.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/mutations/stripe.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/services/StripeService.js
  apps/backend/lib/grantCheckoutSessionAccess.js
  apps/backend/lib/stripeOfferingMetadata.js
  apps/backend/migrations/20260901210000_sync_space_view_names.js
  apps/backend/migrations/20260902013000_space_content_access_group_scopes.js
  apps/backend/scripts/seed-e2e-baseline.js
  apps/backend/test/unit/lib/grantCheckoutSessionAccess.test.js
  apps/backend/test/unit/lib/stripeOfferingMetadata.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/GroupDetail/PaymentSuccess.jsx
  apps/web/src/routes/GroupDetail/PaywallOfferingsSection.jsx
  apps/web/src/routes/GroupSettings/PaidContentTab/OfferingsTab.js
  apps/web/src/routes/OfferingDetails/OfferingDetails.jsx
  apps/web/src/routes/SpaceJoinPage/SpaceJoinPage.jsx
  apps/web/src/routes/ViewContent/ViewContent.js
  apps/web/src/store/actions/fetchGroupSpaces.js
  apps/web/src/store/actions/fetchGroupsMenuData.js
  apps/web/src/store/actions/fulfillStripeCheckoutSession.js
  apps/web/src/store/actions/groupViews.js
  apps/web/src/store/util/extractNestedGroups.js
Due: backend-changed, web-changed

Clicking on a staging.hylo.com link when on hylo.com opens it in new tab
  apps/web/src/components/ClickCatcher/ClickCatcher.js
  apps/web/src/components/ClickCatcher/ClickCatcher.test.js
Due: web-changed

Fix immediate display of new posts in All Activity when chat notices is off
  apps/web/src/store/reducers/queryResults.js
  apps/web/src/store/reducers/queryResults.test.js
Due: web-changed

Editing a post from the map drawer has it appear above the drawer now
  apps/web/src/components/CreateModal/CreateModal.module.scss
Due: web-changed

Make sure editing a post keeps its link preview
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/PostEditor/PostEditor.test.js
  apps/web/src/components/PostEditor/postDraftUtils.js
  apps/web/src/components/PostEditor/postDraftUtils.test.js
Due: web-changed

Use same styling link previews in post editor as in post card
  apps/web/src/components/PostEditor/LinkPreview/LinkPreview.js
  apps/web/src/components/PostEditor/LinkPreview/LinkPreview.module.scss
Due: web-changed

Fix crash
  apps/backend/api/graphql/makeModels.js
Due: backend-changed

Tweak copy of space and group creation around menu setup
  apps/web/e2e/create-group-modal.spec.js
  apps/web/e2e/space-modal-redesign.spec.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/AddSpaceDialog.jsx
  apps/web/src/routes/CreateGroup/CreateGroupForm.jsx
Due: web-changed

Fix warning
  apps/web/src/routes/Members/Members.js
Due: web-changed

Use same invite and about buttons in one column layout as in two
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuGrid.jsx
Due: web-changed

Fix e2e
  apps/web/e2e/authenticated.paid-content-pages.spec.js
  apps/web/e2e/create-group-modal.spec.js
Due: web-changed

Stop the more-pill label oscillating in pill row clamps
  apps/web/src/hooks/usePillRowClamp.js
Due: web-changed

Open the skill map above the search bar, full size, uncovered
  apps/web/e2e/member-skills-graph.spec.js
  apps/web/e2e/members-directory-verify.spec.js
  apps/web/src/components/MemberSkillsGraph/MemberSkillsGraph.jsx
  apps/web/src/routes/Members/Members.js
Due: web-changed

Give role badge emoji a size bump and contrast halo
  apps/web/src/components/BadgeEmoji/BadgeEmoji.js
Due: web-changed

Drop the reorder hint from the More Spaces editing bar
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/MoreSpacesPage.jsx
Due: web-changed

Remove the boot loader instantly when the tab is hidden
  apps/web/index.html
Due: web-changed

Darken the group header pills so their labels pop
  apps/web/src/components/GroupMenuHeader/GroupMenuHeader.jsx
Due: web-changed

Tweak naming of playright job results
  .github/workflows/playwright.yml
Due: none

A space invite link allows for joining the parent group first if not a member of it
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/group.js
  apps/backend/api/graphql/mutations/group.test.js
  apps/backend/api/graphql/mutations/spaces.js
  apps/backend/api/graphql/mutations/spaces.test.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/services/InvitationService.js
  apps/backend/test/unit/services/InvitationService.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/GroupDetail/GroupDetail.js
  apps/web/src/routes/GroupDetail/JoinSection.jsx
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.js
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.test.js
  apps/web/src/routes/JoinGroup/JoinGroup.js
  apps/web/src/routes/JoinGroup/JoinGroup.test.js
  apps/web/src/routes/SpaceJoinPage/SpaceJoinPage.jsx
  apps/web/src/routes/SpaceJoinPage/SpaceJoinPage.test.js
  apps/web/src/routes/UserSettings/ManageInvitesTab/ManageInvitesTab.js
  apps/web/src/store/actions/checkInvitation.js
  apps/web/src/store/actions/joinSpace.js
  packages/graphql/queries/checkInvitationQuery.js
Due: backend-changed, web-changed

Public hylo posts get real open graph tags for link previews and crawlers
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/models/LinkPreview.js
  apps/backend/test/unit/models/LinkPreview.test.js
  apps/web/src/routes/PostDetail/PostDetail.js
  apps/web/src/server/appMiddleware.js
  apps/web/src/server/postMetaTags.js
  apps/web/src/server/postMetaTags.test.js
Due: backend-changed, web-changed

Many fixes to chat
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/group_views.js
  apps/web/e2e/authenticated.group-workspace.spec.js
  apps/web/e2e/group-header-name.spec.js
  apps/web/e2e/stream-empty-state.spec.js
  apps/web/e2e/stream-sticky-header.spec.js
  apps/web/e2e/ui-regressions.spec.js
  apps/web/src/components/ChatEditor/ChatEditor.js
  apps/web/src/components/HyloEditor/HyloEditor.js
  apps/web/src/components/HyloEditor/HyloEditor.test.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.test.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/ChatRoom/ChatRoom.test.js
  apps/web/src/routes/ChatRoom/chatRoomUtils.js
  apps/web/src/routes/ViewContent/ViewContent.js
  apps/web/src/store/reducers/ormReducer/index.js
  apps/web/src/store/reducers/ormReducer/index.test.js
  apps/web/src/store/util/groupViewsOrder.js
  apps/web/src/store/util/groupViewsOrder.test.js
Due: backend-changed, web-changed

Linting
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
Due: web-changed
