Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Fix child post label being on top of post card three dot menu
  apps/web/src/components/PostCard/PostCard.module.scss
Due: web-changed

Switch push notifications to use universal links
  apps/backend/api/services/OneSignal.js
Due: backend-changed

Remove daily as an option for subscriptions
  apps/web/src/routes/GroupSettings/PaidContentTab/OfferingsTab.js
Due: web-changed

Fix toggling of Make Public toggle
  apps/web/src/components/SwitchStyled/SwitchStyled.js
Due: web-changed

Try to fix constantly being logged out on ios
  packages/urql/makeUrqlClient.js
Due: none

Avoid infinity scroll query trigger for calendar view
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

Add group join date to the member export CSV
  apps/backend/CHANGELOG.md
  apps/backend/api/services/ExportService.js
Due: backend-changed

Fix adding a custom view directly to the bottom of the Context Menu
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Fix issue where closing a post open from a chat room would take you to the stream
  apps/web/src/components/PostDialog/PostDialog.jsx
  apps/web/src/routes/PostDetail/PostDetail.js
Due: web-changed

Remove X to close button when viewing a standalone Post Detail route
  apps/web/e2e/authenticated.post-detail.spec.js
  apps/web/src/routes/PostDetail/PostDetail.js
Due: web-changed

Show post type and icon in view header when viewing standalone post route
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
  apps/web/src/routes/PostDetail/PostDetail.js
  apps/web/src/store/models/Post.js
Due: web-changed

Web v6.4.8
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: web-changed

Fix weird reordering of custom views when editing
  apps/backend/CHANGELOG.md
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/models/Group.js
  apps/web/CHANGELOG.md
  apps/web/src/routes/GroupSettings/CustomViewsTab/CustomViewsTab.js
  packages/presenters/src/ContextWidgetPresenter.js
Due: backend-changed, web-changed

Backend v6.4.3
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
Due: backend-changed, web-changed

Remove connectors for Welcome flow and Event Invite dialog
  apps/web/src/components/EventInviteDialog/EventInviteDialog.connector.js
  apps/web/src/components/EventInviteDialog/EventInviteDialog.connector.test.js
  apps/web/src/components/EventInviteDialog/EventInviteDialog.js
  apps/web/src/components/EventInviteDialog/__snapshots__/EventInviteDialog.connector.test.js.snap
  apps/web/src/components/EventInviteDialog/index.js
  apps/web/src/routes/WelcomeWizardRouter/WelcomeExplore/WelcomeExplore.connector.js
  apps/web/src/routes/WelcomeWizardRouter/WelcomeExplore/WelcomeExplore.js
  apps/web/src/routes/WelcomeWizardRouter/WelcomeExplore/index.js
Due: web-changed

Remove connectors for CreateTopic, EventInviteDialog, Member, MemberSelector, PeopleTyping
  apps/web/src/components/CreateTopic/CreateTopic.connector.js
  apps/web/src/components/CreateTopic/CreateTopic.js
  apps/web/src/components/CreateTopic/index.js
  apps/web/src/components/EventInviteDialog/EventInviteDialog.js
  apps/web/src/components/LocationInput/LocationInput.connector.js
  apps/web/src/components/LocationInput/LocationInput.js
  apps/web/src/components/LocationInput/index.js
  apps/web/src/components/Member/Member.connector.js
  apps/web/src/components/Member/Member.connector.test.js
  apps/web/src/components/Member/Member.js
  apps/web/src/components/Member/__snapshots__/Member.connector.test.js.snap
  apps/web/src/components/Member/index.js
  apps/web/src/components/MemberSelector/MemberSelector.connector.js
  apps/web/src/components/MemberSelector/MemberSelector.connector.test.js
  apps/web/src/components/MemberSelector/MemberSelector.js
  apps/web/src/components/MemberSelector/MemberSelector.test.js
  apps/web/src/components/MemberSelector/__snapshots__/MemberSelector.connector.test.js.snap
  apps/web/src/components/MemberSelector/index.js
  apps/web/src/components/PeopleTyping/PeopleTyping.connector.js
  apps/web/src/components/PeopleTyping/PeopleTyping.js
  apps/web/src/components/PeopleTyping/index.js
  apps/web/src/store/presenters/__snapshots__/presentPost.test.js.snap
  apps/web/src/store/presenters/presentPost.js
  apps/web/src/store/reducers/ormReducer/index.js
  apps/web/src/store/selectors/getResponsibilitiesForGroup.js
Due: web-changed

Remove connector for PostHeader
  apps/web/src/components/PostCard/PostHeader/PostHeader.connector.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.connector.test.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.test.js
  apps/web/src/components/PostCard/PostHeader/__snapshots__/PostHeader.connector.test.js.snap
  apps/web/src/components/PostCard/PostHeader/index.js
Due: web-changed

Don't show the chikd post label for all posts in the Stream
  apps/web/src/graphql/fragments/groupViewPostsQueryFragment.js
  apps/web/src/graphql/fragments/postCardFieldsFragment.js
  apps/web/src/graphql/fragments/postsQueryFragment.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/Stream/Stream.js
  apps/web/src/store/actions/__snapshots__/fetchPosts.test.js.snap
  apps/web/src/store/actions/fetchPosts.js
  apps/web/src/store/actions/fetchPosts.test.js
Due: web-changed

Web v6.4.9 & backend v6.4.4
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

Revert use of universal links vs custom scheme
  apps/backend/api/services/OneSignal.js
  apps/backend/test/unit/models/Notification.test.js
Due: backend-changed

Use click handler to process push notifications and deeplinks
  apps/backend/api/services/OneSignal.js
  apps/mobile/index.js
Due: backend-changed, mobile-changed

WIP
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Group.js
  apps/backend/api/models/User.js
  apps/backend/api/services/ExportService.js
  apps/web/src/routes/GroupSettings/GroupSettings.store.js
  apps/web/src/routes/GroupSettings/PrivacySettingsTab/PrivacySettingsTab.jsx
  apps/web/src/routes/GroupWelcomeModal/GroupWelcomeModal.js
  apps/web/src/routes/GroupWelcomeModal/GroupWelcomeModal.store.js
  apps/web/src/routes/MemberProfile/MemberProfile.js
  apps/web/src/store/actions/fetchForGroup.js
  packages/graphql/queries/personQuery.js
Due: backend-changed, web-changed

Fix lint issue
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

Try to fix mobile app logging out on every load
  apps/mobile/src/components/HyloWebView/HyloWebView.js
  apps/mobile/src/util/session.js
  apps/web/src/routes/RootRouter/RootRouter.js
  docs/mobile-ios-session-logout-investigation.md
Due: web-changed, mobile-changed

Fix hanging on splash screen when opening mobile app
  apps/mobile/src/components/HyloWebView/HyloWebView.js
  apps/web/src/routes/RootRouter/RootRouter.js
Due: web-changed, mobile-changed

One more attempt to fix mobile login
  apps/mobile/index.js
  apps/mobile/src/navigation/RootNavigator/RootNavigator.js
  packages/urql/makeUrqlClient.js
Due: mobile-changed

Try again to fix mobile hanging on splash screen
  apps/mobile/src/components/HyloWebView/HyloWebView.js
  apps/mobile/src/navigation/RootNavigator/RootNavigator.js
  apps/mobile/src/navigation/linking/index.js
  apps/mobile/src/util/session.js
Due: mobile-changed

One more try to fix hanging on load on testflight
  apps/mobile/index.js
Due: mobile-changed

Try to fix mobile login again
  apps/mobile/src/components/HyloWebView/HyloWebView.js
  apps/mobile/src/util/session.js
  apps/web/src/routes/RootRouter/RootRouter.js
  apps/web/src/store/middleware/apiMiddleware.js
Due: web-changed, mobile-changed

Try to fix dealing with half logged in state
  apps/mobile/src/navigation/RootNavigator/RootNavigator.js
  apps/mobile/src/navigation/linking/index.js
  apps/mobile/src/screens/PrimaryWebView/PrimaryWebView.js
  apps/web/src/routes/RootRouter/RootRouter.js
Due: web-changed, mobile-changed

One more try to fix
  packages/urql/makeUrqlClient.js
Due: none

Try again
  apps/mobile/src/components/HyloWebView/HyloWebView.js
  apps/mobile/src/util/session.js
  packages/urql/makeUrqlClient.js
Due: mobile-changed

Lets do this again
  apps/mobile/src/util/session.js
  packages/urql/makeUrqlClient.js
Due: mobile-changed

Show either location or locationObject as having completed setup
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Using join link when already a member takes you to correct home view
  apps/web/src/routes/JoinGroup/JoinGroup.js
Due: web-changed

Make sure post notifications go to the correct home view
  apps/backend/api/services/Frontend.js
Due: backend-changed

In-app notifications for non-chat posts open them over the home view
  packages/graphql/fragments/notificationFieldsFragment.js
  packages/navigation/src/index.js
  packages/presenters/src/NotificationPresenter.js
Due: none

Web v6.4.10 and backend v6.4.5
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: backend-changed, web-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
