Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

wip - user settings routing and rendering
  apps/mobile/src/navigation/TabsNavigator.js
  apps/mobile/src/navigation/UserSettingsTabsNavigator.js
  apps/mobile/src/navigation/linking/index.js
  apps/mobile/src/screens/UserSettingsWebView/UserSettingsWebView.js
Due: mobile-changed

chore(mobile): Fix AllView usage of shared helpers
  apps/mobile/src/screens/AllView/AllView.js
Due: mobile-changed

Improved about
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Cleaned up ListItemRenderer to not render duplicates
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Scrollbar color
  apps/web/src/css/global/index.scss
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

Removed console log
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Fix redirect on /messages so back button works right
  apps/web/src/routes/Messages/ThreadList/ThreadList.js
Due: web-changed

Don't allow overriding names of context widgets for chats, users, posts, or groups right now
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/AllView/AllView.jsx
Due: web-changed

Ransack tab bar navigator
  apps/mobile/src/hooks/useChangeToGroup.js
  apps/mobile/src/navigation/TabsNavigator.js
  apps/mobile/src/navigation/headers/TabStackHeader.js
Due: mobile-changed

Nativewind and tailwind config with themeing
  apps/mobile/babel.config.js
  apps/mobile/index.js
  apps/mobile/metro.config.js
  apps/mobile/nativewind-env.d.ts
  apps/mobile/package.json
  apps/mobile/src/style/global.css
  apps/mobile/tailwind.config.js
  yarn.lock
Due: mobile-changed

Add homeWidget to Group graphQL interface
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Group.js
Due: backend-changed

Clean up double import post branch-merge
  apps/mobile/index.js
Due: mobile-changed

New menu locale updates
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
Due: mobile-changed

Fix DrawerNavigator props to use correct syntax
  apps/mobile/src/navigation/DrawerNavigator.js
Due: mobile-changed

Ensure web nav UI doesnt display in webView on mobile
  apps/web/src/components/ViewHeader/ViewHeader.jsx
Due: web-changed

Null check on WidgetIconResolver
  apps/web/src/components/WidgetIconResolver/WidgetIconResolver.jsx
Due: web-changed

PostBodyProposal swapped to urql mutations; no optimistic updates
  apps/mobile/ios/Podfile.lock
  apps/mobile/src/components/PostCard/PostBodyProposal/PostBodyProposal.js
Due: mobile-changed

feat(backend)!: Setup for graphql subscriptions handling including switching from redis client to ioredis (mostly drop-in replacement)
  apps/backend/api/graphql/index.js
  apps/backend/api/models/User.js
  apps/backend/api/services/RedisClient.js
  apps/backend/api/services/RedisPubSub.js
  apps/backend/lib/graphql-bookshelf-bridge/makeResolvers.js
  apps/backend/package.json
  yarn.lock
Due: backend-changed

Improvements to emojipicker, chatroom, chat input
  apps/web/src/components/EmojiPicker/EmojiPicker.js
  apps/web/src/components/EmojiPicker/EmojiPicker.module.scss
  apps/web/src/components/HyloEditor/HyloEditor.js
  apps/web/src/components/HyloEditor/HyloEditorMenuBar.js
  apps/web/src/components/PostCard/PeopleInfo/PeopleInfo.js
  apps/web/src/components/PostCard/PostCard.jsx
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Added some padding to the bottom of the chatroom so that it's easier to see the most recent message
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Fixed group menu header and group details
  apps/web/src/components/GroupMenuHeader/GroupMenuHeader.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

chore: Add subscriptions support (WIP)
  apps/backend/api/graphql/index.js
  apps/backend/api/graphql/makeSubscriptions.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/graphql/useMutationSubscriptionResponder.js
  apps/backend/api/models/comment/notifications.js
  apps/backend/api/services/RedisPubSub.js
  apps/backend/package.json
  apps/mobile/src/navigation/HomeNavigator.js
  apps/mobile/src/screens/PostDetails/PostDetails.js
  apps/mobile/src/urql-shared/client.js
  apps/mobile/src/urql-shared/updates/index.js
Due: backend-changed, mobile-changed

Proposal mutations with simple cache invalidation for state-sync; race-condition present
  apps/mobile/src/components/PostCard/PostBodyProposal/PostBodyProposal.js
  apps/mobile/src/urql-shared/updates/index.js
Due: mobile-changed

chore(backend,mobile): Working backend subscriptions, front end resolution remains
  apps/backend/api/graphql/index.js
  apps/backend/api/graphql/makeSubscriptions.js
  apps/backend/api/graphql/mutations/comment.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/comment/createComment.js
  apps/mobile/src/navigation/HomeNavigator.js
  apps/mobile/src/screens/PostDetails/PostDetails.js
  apps/mobile/src/urql-shared/updates/index.js
Due: backend-changed, mobile-changed

chore(backend): Add docs directory and proposal for auto created subscriptions for mutations
  apps/backend/docs/20250124 - Proposal - AutoSubscriptionsForMutations.md
Due: backend-changed

chore(backend): Remove unused file
  apps/backend/api/graphql/useMutationSubscriptionResponder.js
Due: backend-changed

Group settings first pass
  apps/web/src/components/GeocoderAutocomplete/GeocoderAutocomplete.js
  apps/web/src/components/LocationInput/LocationInput.js
  apps/web/src/components/PostCard/PostCard.jsx
  apps/web/src/components/SettingsControl/SettingsControl.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/GroupSettings/GroupSettingsTab/GroupSettingsTab.js
Due: web-changed

Fix cron
  apps/backend/api/models/Group.js
  apps/backend/api/models/Notification.js
  apps/backend/api/models/post/createPost.js
  apps/backend/api/models/post/updatePost.js
  apps/backend/cron.js
  apps/backend/lib/group/digest2/index.js
  apps/backend/lib/group/digest2/savedSearches.js
  apps/backend/lib/group/digest2/util.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/NonAuthLayoutRouter/ManageNotifications/ManageNotifications.js
Due: backend-changed, web-changed

Change migration name
  apps/backend/migrations/20250114125837_user-notifications-to-memberships.js
Due: backend-changed

chore(backend): Removes Nexudus
  apps/backend/api/controllers/NexudusController.js
  apps/backend/api/models/NexudusAccount.js
  apps/backend/api/services/Nexudus.js
  apps/backend/api/services/UserImport.js
  apps/backend/config/policies.js
  apps/backend/config/routes.js
  apps/backend/cron.js
  apps/backend/migrations/20250125083836_remove-nexudus_accounts.js
Due: backend-changed

chore(mobile): Convert MessageInput to functional component
  apps/mobile/src/components/MessageInput/MessageInput.connector.js
  apps/mobile/src/components/MessageInput/MessageInput.connector.test.js
  apps/mobile/src/components/MessageInput/MessageInput.js
  apps/mobile/src/components/MessageInput/MessageInput.store.js
  apps/mobile/src/components/MessageInput/MessageInput.style.js
  apps/mobile/src/components/MessageInput/MessageInput.test.js
  apps/mobile/src/components/MessageInput/index.js
  apps/mobile/src/store/reducers/index.js
Due: mobile-changed

chore(mobile): Tidy-up MessageCard including minor spacing tweaks
  apps/mobile/src/components/MessageCard/MessageCard.js
  apps/mobile/src/components/MessageCard/MessageCard.style.js
  apps/mobile/src/components/MessageCard/index.js
Due: mobile-changed

chore(mobile): Re-factor Thread to bring back message batching and have a more clear implementation
  apps/mobile/src/screens/Thread/Thread.js
  apps/mobile/src/screens/Thread/Thread.styles.js
Due: mobile-changed

chore(mobile): Clean-up ThreadList sockets stuff
  apps/mobile/src/screens/Thread/ThreadHeaderTitle.js
  apps/mobile/src/screens/ThreadList/ThreadList.js
Due: mobile-changed

chore(mobile): Convert TopicList to functional, clean-up
  apps/mobile/src/screens/TopicList/TopicList.js
  apps/mobile/src/screens/TopicList/TopicList.styles.js
  apps/mobile/src/screens/TopicList/TopicRow.js
Due: mobile-changed

chore(mobile): Revisit NotificationOverlay in prep for Thread/Post subscription
  apps/mobile/src/components/NotificationOverlay/NotificationOverlay.js
  apps/mobile/src/screens/Thread/Thread.js
Due: mobile-changed

chore(mobile): A little more NotificationsOverlay refinement in prep for subscription
  apps/mobile/src/components/NotificationOverlay/NotificationOverlay.js
  apps/mobile/src/screens/Thread/Thread.js
Due: mobile-changed

chore(backend,mobile): Tidy-up
  apps/backend/api/models/Notification.js
  apps/backend/api/services/RedisClient.js
Due: backend-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
