Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

Clean up getDefaultTopics
  apps/web/src/store/selectors/getDefaultTopics.js
Due: web-changed

Remove redundant references to colors
  apps/mobile/src/screens/PostEditor/PostEditor.styles.js
Due: mobile-changed

Styles cleanup
  apps/mobile/src/screens/PostEditor/PostEditor.js
  apps/mobile/src/screens/PostEditor/PostEditor.styles.js
Due: mobile-changed

Emoji row clean up for now; waiting on deeper look for emoji styles from web
  apps/mobile/src/components/EmojiPill/EmojiPill.js
  apps/mobile/src/components/EmojiRow/EmojiRow.js
Due: mobile-changed

improve go to behavior for calendar
  apps/web/src/components/Calendar/header/date/calendar-header-date-chevrons.tsx
Due: web-changed

translate go to text in calendar
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/Calendar/body/day/calendar-body-day-calendar.tsx
  apps/web/src/components/Calendar/body/week/calendar-body-week-calendar.tsx
  apps/web/src/components/Calendar/header/date/calendar-header-date-chevrons.tsx
Due: web-changed

better translation for go to text
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/Calendar/header/date/calendar-header-date-chevrons.tsx
Due: web-changed

add more locale support to calendar
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/Calendar/body/month/calendar-body-month.tsx
  apps/web/src/components/Calendar/calendar-util.tsx
  apps/web/src/components/Calendar/header/actions/calendar-header-actions-mode.tsx
  apps/web/src/components/Calendar/header/date/calendar-header-date-chevrons.tsx
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/ui/calendar.tsx
  apps/web/src/components/ui/datetimepicker.jsx
Due: web-changed

delete calendar "x events"
  apps/web/src/components/Calendar/calendar.tsx
  apps/web/src/components/Calendar/header/date/calendar-header-date-badge.tsx
  apps/web/src/components/Calendar/header/date/calendar-header-date.tsx
Due: web-changed

more locale support for calendar
  apps/web/src/components/Calendar/body/month/calendar-body-month.tsx
  apps/web/src/components/Calendar/body/week/calendar-body-week-calendar.tsx
  apps/web/src/components/Calendar/calendar-util.tsx
Due: web-changed

indicate more events in small calendar
  apps/web/src/components/Calendar/body/day/calendar-body-day-calendar.tsx
Due: web-changed

indicate more events for week too
  apps/web/src/components/Calendar/body/week/calendar-body-week-calendar.tsx
Due: web-changed

fix calendar header goto button
  apps/web/src/components/Calendar/header/date/calendar-header-date-chevrons.tsx
Due: web-changed

simplify calendar header goto
  apps/web/src/components/Calendar/header/date/calendar-header-date-chevrons.tsx
Due: web-changed

Fixed id error issue I was getting
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

fix week range for Spanish calendar
  apps/web/src/components/Calendar/header/date/calendar-header-date-chevrons.tsx
Due: web-changed

chore(backend): Patch verifyEmail issue, add debugging help to sendEmailVerification
  apps/backend/api/graphql/mutations/user.js
Due: backend-changed

chore(mobile,graphql): Mobile Sign-up Styling adjustments, add email verification mutation to shared graphql package
  apps/mobile/src/navigation/SignupNavigator.js
  apps/mobile/src/navigation/headers/WorkflowModalHeader.js
  packages/graphql/mutations/sendEmailVerificationMutation.js
Due: mobile-changed

fix event datetime translation
  apps/web/public/locales/es.json
  packages/shared/src/TextHelpers.js
Due: web-changed

wip translate posted/edited dates
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/store/presenters/presentPost.js
Due: web-changed

Remove extra & in DM message digest when only one other participant
  apps/backend/api/models/comment/notifications.js
Due: backend-changed

Fix display of flag icon on flagged chat posts
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
Due: web-changed

add "now" to translation files
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: web-changed

load namespaces to use i18n
  apps/web/src/i18n.mjs
Due: web-changed

refactor to use luxon more
  packages/shared/src/TextHelpers.js
Due: none

exact timestamps for more views
  apps/web/src/components/PostBigGridItem/PostBigGridItem.js
  apps/web/src/components/PostGridItem/PostGridItem.js
  apps/web/src/components/PostListRow/PostListRow.js
Due: web-changed

short human date for small grid
  apps/web/src/store/presenters/presentPost.js
Due: web-changed

more nuance with short times
  apps/web/src/components/PostBigGridItem/PostBigGridItem.js
  apps/web/src/store/presenters/presentPost.js
  packages/shared/src/TextHelpers.js
Due: web-changed

account for "1 second ago"
  packages/shared/src/TextHelpers.js
Due: none

add setLocale as needed throughout
  apps/web/src/components/PostCard/ChatCard/ChatCard.js
  apps/web/src/components/PostCard/EventDate/EventDate.js
  apps/web/src/components/PostListRow/PostListRow.js
  apps/web/src/components/Widget/AnnouncementWidget/AnnouncementWidget.js
  apps/web/src/components/Widget/EventsWidget/EventsWidget.js
  apps/web/src/components/Widget/ProjectsWidget/ProjectsWidget.js
  apps/web/src/components/ui/datetimepicker.jsx
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/MemberProfile/MemberProfile.js
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.jsx
  apps/web/src/routes/UserSettings/ManageInvitesTab/ManageInvitesTab.js
  apps/web/src/util/savedSearch.js
Due: web-changed

Fix clear formatting and add link features of hylo editor
  apps/web/src/components/HyloEditor/HyloEditorMenuBar.js
Due: web-changed

Pretty load
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Tons of improvements to chat
  apps/web/src/components/EmojiPill/EmojiPill.js
  apps/web/src/components/EmojiPill/EmojiPill.module.scss
  apps/web/src/components/EmojiRow/EmojiRow.js
  apps/web/src/components/HyloEditor/HyloEditor.js
  apps/web/src/components/Pill/Pill.js
  apps/web/src/components/PostCard/PeopleInfo/PeopleInfo.js
  apps/web/src/components/PostCard/PostCard.jsx
  apps/web/src/components/PostDialog/PostDialog.jsx
  apps/web/src/components/PostEditor/ActionsBar.jsx
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/RoundImage/RoundImage.module.scss
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.module.scss
Due: web-changed

Fixed a number of issues, made global nav scrollable
  apps/backend/api/models/Group.js
  apps/web/public/default-group-avatar.svg
  apps/web/public/default-group-banner.svg
  apps/web/public/default-user-banner.svg
  apps/web/public/default-user.svg
  apps/web/src/components/GroupMenuHeader/GroupMenuHeader.test.js
  apps/web/src/components/HyloEditor/HyloEditor.js
  apps/web/src/components/PostEditor/ActionsBar.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
  apps/web/src/store/models/Group.js
Due: backend-changed, web-changed

Load chatroom nicely
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/tailwind.config.js
Due: web-changed

Whitespace
  apps/web/src/components/HyloEditor/HyloEditor.js
Due: web-changed

Group settings: improve styling and show more of group name
  apps/web/src/components/SettingsControl/SettingsControl.js
  apps/web/src/routes/GroupSettings/GroupSettingsTab/GroupSettingsTab.js
Due: web-changed

Ooops.. Forgot to add back in date markers
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

chore(web): Apply translateTitle to Widget title in ContextMenu
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

chore(mobile): Remove deprecated Mixpanel Redux reducer
  apps/mobile/src/hooks/useMixpanelTrack.js
  apps/mobile/src/hooks/usePostActionSheet.js
  apps/mobile/src/store/reducers/index.js
  apps/mobile/src/store/reducers/mixpanel.js
Due: mobile-changed
