Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Updated commentary on the resolver that hides widgets in the context menu
  packages/presenters/ContextWidgetPresenter.js
Due: none

Clear up casing for tags
  apps/backend/api/models/Tag.js
  apps/backend/migrations/20250219140709_topics-tags-casing.js
Due: backend-changed

Remove console
  apps/web/src/components/PostCard/PostBodyProposal/PostBodyProposal.js
Due: web-changed

Fix double group
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
Due: web-changed

Lint fixes
  apps/web/src/routes/Moderation/Moderation.jsx
Due: web-changed

chore(mobile): PR review touch-ups
  apps/mobile/src/components/ContextMenu/ContextMenu.js
  apps/mobile/src/components/DrawerMenu/DrawerMenu.js
  apps/mobile/src/navigation/linking/index.js
Due: mobile-changed

chore: Move i18n to shared instance
  apps/mobile/i18n.js
  apps/mobile/metro.config.js
  apps/mobile/package.json
  apps/web/package.json
  apps/web/src/i18n.mjs
  apps/web/vite.config.js
  packages/config/package.json
  packages/shared/i18n.js
  yarn.lock
Due: web-changed, mobile-changed

chore(shared): Add note about shared i18n use in regards to Backend
  packages/shared/i18n.js
Due: none

chore(mobile): Fixes bug in LocalSelector
  apps/mobile/src/components/LocaleSelector/LocaleSelector.js
Due: mobile-changed

chore(mobile): Reload currentUser after leaving User Settings screen to keep things refreshed
  apps/mobile/src/screens/UserSettingsWebView/UserSettingsWebView.js
Due: mobile-changed

chore(mobile): Adds My to ContextSwitchMenu
  apps/mobile/src/components/ContextSwitchMenu/ContextSwitchMenu.js
Due: mobile-changed

chore(mobile): Bottom Tabs -- Comments-out Profile and Support, moves Messages before Search.
  apps/mobile/src/navigation/TabsNavigator.js
Due: mobile-changed

Fix useMemo
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
Due: web-changed

Can create post using alt-enter in title
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Hide empty container widget titles
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Show custom views in the all view
  apps/web/src/routes/AllView/AllView.jsx
Due: web-changed

identify and style multi-day events
  apps/web/src/components/Calendar/body/month/calendar-body-month.tsx
  apps/web/src/components/Calendar/calendar-event.tsx
  apps/web/src/components/Calendar/calendar-types.ts
  apps/web/src/components/Calendar/calendar-util.tsx
  apps/web/src/components/Calendar/calendar.tsx
  apps/web/src/css/global/index.scss
Due: web-changed

fix bugs with week and day view
  apps/backend/api/services/Search/util.js
  apps/web/src/components/Calendar/body/calendar-body-header.tsx
  apps/web/src/components/Calendar/body/day/calendar-body-day-calendar.tsx
  apps/web/src/components/Calendar/body/day/calendar-body-day-content.tsx
  apps/web/src/components/Calendar/body/day/calendar-body-day-events.tsx
  apps/web/src/components/Calendar/body/month/calendar-body-month.tsx
  apps/web/src/components/Calendar/calendar-event.tsx
  apps/web/src/routes/Stream/Stream.js
Due: backend-changed, web-changed

remove unused variable declaration
  apps/backend/api/services/Search/util.js
Due: backend-changed

switch from sameDay to includes
  apps/web/src/components/Calendar/body/day/calendar-body-day-content.tsx
  apps/web/src/components/Calendar/body/day/calendar-body-day-events.tsx
  apps/web/src/components/Calendar/body/month/calendar-body-month.tsx
  apps/web/src/components/Calendar/calendar-event.tsx
Due: web-changed

tone down the multiday arrows
  apps/web/src/css/global/index.scss
Due: web-changed

chore: Context contexts, and less contexts. Eliminates All Context Group for Mobile, refactors ContextSwitchMenu and ContextMenu
  apps/mobile/src/components/ContextMenu/ContextMenu.js
  apps/mobile/src/components/ContextSwitchMenu/ContextSwitchMenu.js
  apps/mobile/src/components/FlagGroupContent/FlagGroupContent.js
  apps/mobile/src/components/PostCard/PostGroups/PostGroups.js
  apps/mobile/src/navigation/linking/index.js
  apps/mobile/src/screens/AllViews/AllViews.js
  apps/mobile/src/screens/CreateGroupFlow/CreateGroupName.js
  apps/mobile/src/screens/CreateGroupFlow/CreateGroupPurpose.js
  apps/mobile/src/screens/GroupSettingsWebView/GroupSettingsWebView.js
  apps/mobile/src/screens/GroupWelcomeFlow/GroupWelcomeLanding.js
  apps/mobile/src/screens/GroupWelcomeFlow/GroupWelcomeTabBar.js
  apps/mobile/src/screens/MapWebView/MapWebView.js
  apps/mobile/src/screens/Stream/Stream.js
  apps/mobile/src/screens/Stream/makeStreamQuery.js
  apps/mobile/src/screens/UserSettingsWebView/UserSettingsWebView.js
  apps/mobile/src/util/navigation.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  packages/hooks/useCurrentGroup.js
  packages/hooks/useStreamQueryVariables.js
  packages/presenters/ContextWidgetPresenter.js
  packages/presenters/GroupPresenter.js
Due: web-changed, mobile-changed

refactor css
  apps/web/src/css/global/index.scss
Due: web-changed

Finish migration by lower casing all tags; ensure posts_tags are lower-cased before uniq filtering.
  apps/backend/api/models/Tag.js
  apps/backend/migrations/20250219140709_topics-tags-casing.js
Due: backend-changed

fix week view for calendar
  apps/web/src/components/Calendar/calendar-event.tsx
Due: web-changed

chore(mobile): Don't hide ContextSwitchMenu while fetching current group
  apps/mobile/src/components/DrawerMenu/DrawerMenu.js
Due: mobile-changed

chore(mobile): Handles reloading of Mobile Group Settings on changes within Group Settings WebView
  apps/mobile/src/screens/GroupSettingsWebView/GroupSettingsWebView.js
Due: mobile-changed

fix lint error
  apps/web/src/components/Calendar/header/actions/calendar-header-actions-mode.tsx
Due: web-changed

chore(shared): i18n shared instance with in18n plurals polyfill (will be ignored in Web for browser where it's not needed)
  apps/mobile/index.js
  apps/mobile/package.json
  apps/web/package.json
  packages/shared/i18n.js
  packages/shared/package.json
  yarn.lock
Due: web-changed, mobile-changed

chore: Apply i18n shared module to shared Presenters, etc
  apps/mobile/src/components/FlagGroupContent/FlagGroupContent.js
  apps/mobile/src/components/PostCard/PostBody/PostBody.js
  apps/mobile/src/components/PostCard/PostCard.js
  apps/mobile/src/screens/PostDetails/PostDetails.js
  packages/hooks/useCurrentGroup.js
  packages/presenters/ContextWidgetPresenter.js
  packages/presenters/EventInvitationPresenter.js
  packages/presenters/GroupPresenter.js
  packages/presenters/PostPresenter.js
Due: mobile-changed

chore: Remove extraneous i18n/"t" passing
  apps/mobile/src/components/WidgetIconResolver/WidgetIconResolver.js
  apps/web/src/components/WidgetIconResolver/WidgetIconResolver.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  packages/presenters/GroupPresenter.js
Due: web-changed, mobile-changed

chore: Remove extraneous "t" passing to Presenter
  apps/web/src/routes/AllView/AllView.jsx
Due: web-changed

chore(mobile): Apply t() to widget title within AllView
  apps/mobile/src/screens/AllViews/AllViews.js
Due: mobile-changed

initial design for calendar day list
  apps/web/src/components/Calendar/body/calendar-body.tsx
  apps/web/src/components/Calendar/body/day/calendar-body-day.tsx
  apps/web/src/components/Calendar/calendar-provider.tsx
  apps/web/src/components/Calendar/calendar-types.ts
  apps/web/src/components/Calendar/calendar.tsx
  apps/web/src/components/Calendar/header/date/calendar-header-date-chevrons.tsx
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

style changes for today date
  apps/web/src/components/Calendar/body/month/calendar-body-month.tsx
  apps/web/src/components/ui/calendar.tsx
  apps/web/src/components/ui/datetimepicker.jsx
Due: web-changed

return to calendar view from post detail
  apps/web/src/components/Calendar/body/day/calendar-body-day.tsx
Due: web-changed

chore(presenters): Move routing related static widget props to front
  packages/presenters/ContextWidgetPresenter.js
Due: none

chore(mobile): HomeTab screen organization
  apps/mobile/src/navigation/HomeNavigator.js
  apps/mobile/src/screens/ChatRoomWebView/ChatRoomWebView.js
Due: mobile-changed

chore(mobile): Remove unused myHome from Stream Query and setup
  apps/mobile/src/screens/Stream/makeStreamQuery.js
  packages/hooks/useStreamQueryVariables.js
Due: mobile-changed

chore(mobile): Organize HomeNavigator screen list
  apps/mobile/src/navigation/HomeNavigator.js
Due: mobile-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
