Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Hide chat search panel for mobile webView
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Testing/fixing chat digests
  apps/backend/api/models/TagFollow.js
Due: backend-changed

Ensure currentUser is passed into getStaticContext
  packages/hooks/useGroup.js
  packages/presenters/ContextWidgetPresenter.js
Due: none

chore(mobile): Aligns code-level organization around GroupWelcome features
  apps/mobile/index.js
  apps/mobile/src/navigation/HomeNavigator.js
  apps/mobile/src/screens/GroupWelcome/GroupWelcome.js
  apps/mobile/src/screens/GroupWelcome/GroupWelcome.store.js
  apps/mobile/src/screens/GroupWelcome/GroupWelcome.styles.js
  apps/mobile/src/screens/GroupWelcome/GroupWelcomePage.js
  apps/mobile/src/screens/GroupWelcome/GroupWelcomeTabBar.js
  apps/mobile/src/screens/GroupWelcome/index.js
  apps/mobile/src/screens/GroupWelcomePage/index.js
Due: mobile-changed

chore(mobile): Fixes default group banner not working
  packages/presenters/GroupPresenter.js
Due: none

chore(mobile): Adds /groups/:groupSlug/about by re-using UserSettingsWebView passthrough
  apps/mobile/src/navigation/linking/index.js
Due: mobile-changed

chore(mobile): Allows All Posts type to be selected in Stream
  packages/hooks/useStreamQueryVariables.js
Due: none

chore(web): Makes center column scrollable again
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.module.scss
Due: web-changed

chore(web): Make center column scrollable but not always show
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.module.scss
Due: web-changed

chore(mobile): Fixes WebView definition of addHyloWebViewListener for Android/Chrome use
  apps/mobile/src/components/HyloWebView/HyloWebView.js
Due: mobile-changed

chore(mobile): Updates Android UI and fixes numerous functional issues
  apps/mobile/android/app/build.gradle
  apps/mobile/android/app/src/main/AndroidManifest.xml
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/src/components/ContextMenu/ContextMenu.js
  apps/mobile/src/components/ContextSwitchMenu/ContextSwitchMenu.js
  apps/mobile/src/components/GroupMenuHeader/GroupMenuHeader.js
  apps/mobile/src/hooks/useHyloActionSheet.js
  apps/mobile/src/navigation/headers/TabStackHeader.js
  apps/mobile/src/screens/CreateGroup/CreateGroup.js
  yarn.lock
Due: mobile-changed

chore(mobile): Fixes Android deep linking configuration
  apps/mobile/android/app/src/main/AndroidManifest.xml
  apps/mobile/android/app/src/main/res/values/strings.xml
  apps/mobile/scripts/open-link.sh
Due: mobile-changed

Revert "Fix extra scroll bar in chat room at mobile size"
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.module.scss
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/FullPageModal/FullPageModal.js
Due: web-changed

Dont show stream controls over context menu on mobile
  apps/web/src/components/PostCard/PostCard.jsx
  apps/web/src/components/PostDialog/PostDialog.jsx
  apps/web/src/components/StreamViewControls/StreamViewControls.module.scss
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

v6.0.0 changelog for mobile
  apps/mobile/CHANGELOG
Due: mobile-changed

1.0.0
  package.json
Due: none

v6.0.0 release prep
  apps/mobile/android/app/build.gradle
  apps/mobile/package.json
Due: mobile-changed

Fix bug that could cause post to look like it wasnt created but it was.
  apps/web/src/store/reducers/ormReducer/index.js
Due: web-changed

Fix error in chat digest emails
  apps/backend/api/models/TagFollow.js
Due: backend-changed

Fix issue with start time being on top of To field when a post has an image
  apps/web/src/components/PostCard/PostGroups/PostGroups.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
Due: web-changed

Privacy policy url update
  apps/mobile/src/navigation/linking/index.js
  apps/web/src/routes/NonAuthLayoutRouter/NonAuthLayoutRouter.js
Due: web-changed, mobile-changed

Fix z-index of post creation dialog
  apps/web/src/components/CreateModal/CreateModal.module.scss
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
Due: web-changed

Fix display of group settings over context menu
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Add All Topics view/widget
  apps/backend/api/models/Group.js
  apps/backend/migrations/20250317172703_add-all-topics-widget.js
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/css/global/_sass_resources.scss
  apps/web/src/routes/AllTopics/AllTopics.jsx
  packages/presenters/ContextWidgetPresenter.js
Due: backend-changed, web-changed, mobile-changed

Can search for a #topic from the Search bar
  apps/web/src/components/ViewHeader/ViewHeader.jsx
Due: web-changed

Fix post type select z-index
  apps/web/src/components/ui/select.jsx
Due: web-changed

Fix scrolling of all topics
  apps/web/src/routes/AllTopics/AllTopics.jsx
  apps/web/src/routes/AllTopics/AllTopics.module.scss
Due: web-changed

change general to home in seeds
  apps/backend/seeds/tags.js
Due: backend-changed

make icons visible in IconSelector
  apps/web/src/components/IconSelector/IconSelector.module.scss
Due: web-changed

add translations for ContextMenu
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

escape cancels drag
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Fix adding images to comment
  apps/web/src/components/PostDialog/PostDialog.jsx
  apps/web/src/routes/PostDetail/Comments/CommentForm/CommentForm.js
Due: web-changed

Update user settings URLs to new /my ones
  apps/backend/api/services/Frontend.js
  apps/mobile/src/screens/MemberProfile/MemberHeader.js
Due: backend-changed, mobile-changed

remove isDragging, not used
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

disallow container drop on container
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuContext.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuProvider.jsx
Due: web-changed

add dropzone at bottom of ContextMenu
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

refactor and cleanup dropzone code
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

fix bug in draggable child widgets
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Fix display of datetimepicker in post creation
  apps/web/src/components/ui/datetimepicker.jsx
Due: web-changed

Hide global nav bottom of items fade-out on hover (otherwise its light and weird)
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
