Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

Type in changelog
  apps/backend/CHANGELOG.md
Due: backend-changed

Don't show geocoder suggestions when putting a URL in the location field
  apps/web/src/components/GeocoderAutocomplete/GeocoderAutocomplete.js
Due: web-changed

Allow for clicking on URLs in the post location field
  apps/web/src/components/PostCard/EventBody/EventBody.js
  apps/web/src/components/PostCard/PostTitle/PostTitle.js
  packages/shared/src/LocationHelpers.js
Due: web-changed

Lint fix
  apps/mobile/src/components/PostCard/PostCard.js
Due: mobile-changed

Lint fix
  packages/shared/src/LocationHelpers.js
Due: none

Fix horizontal scroll jump when selecting location in post editor on Android
  apps/web/src/components/GeocoderAutocomplete/GeocoderAutocomplete.js
Due: web-changed

WIP
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/fundingRound.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/FundingRound.js
  apps/backend/migrations/20250904120000_funding_rounds.js
  apps/web/src/components/CheckBox/CheckBox.js
  apps/web/src/components/CheckBox/CheckBox.module.scss
  apps/web/src/components/CreateMenu/CreateMenu.jsx
  apps/web/src/components/CreateModal/CreateModal.js
  apps/web/src/components/FundingRoundEditor/FundingRoundEditor.jsx
  apps/web/src/components/FundingRoundEditor/index.js
  apps/web/src/components/TextInput/TextInput.js
  apps/web/src/components/ui/radio-group.jsx
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/FundingRoundHome/FundingRoundHome.jsx
  apps/web/src/routes/FundingRoundHome/index.js
  apps/web/src/routes/FundingRounds/FundingRounds.jsx
  apps/web/src/routes/FundingRounds/index.js
  apps/web/src/store/actions/fetchGroupFundingRounds.js
  apps/web/src/store/actions/fundingRoundActions.js
  apps/web/src/store/constants.js
  apps/web/src/store/models/FundingRound.js
  apps/web/src/store/models/index.js
  apps/web/src/store/selectors/getFundingRound.js
  apps/web/src/store/selectors/getFundingRoundsForGroup.js
Due: backend-changed, web-changed

Oops missed a spot that should redirect to #general not #home - when joining a new group
  apps/web/src/store/models/Group.js
Due: web-changed

Missed a spot where #home should be #general.
  apps/web/src/store/models/Group.js
Due: web-changed

Web v6.1.21
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: web-changed

Setup Node concurrency to improve performance on production
  apps/backend/app.js
Due: backend-changed

Backend v6.1.21 - Node concurrency
  apps/backend/CHANGELOG.md
  apps/backend/package.json
Due: backend-changed

Fix editing a chat post removing it from the chaat room
  apps/web/src/graphql/fragments/postCardFieldsFragment.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Don't currently need to roles when loading a post or comment creator
  apps/web/src/graphql/fragments/postFieldsFragment.js
Due: web-changed

web v6.1.22
  apps/web/CHANGELOG.md
  apps/web/package.json
Due: web-changed

Improve text inputs with internal labels
  apps/web/src/components/TextInput/TextInput.js
Due: web-changed

Tweak styling of checkboxes and radio groups
  apps/web/src/components/CheckBox/CheckBox.js
  apps/web/src/components/CheckBox/CheckBox.module.scss
  apps/web/src/components/ui/radio-group.jsx
Due: web-changed

Create funding rounds!
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/fundingRound.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/FundingRound.js
  apps/backend/migrations/20250904120000_funding_rounds.js
  apps/web/src/components/CreateMenu/CreateMenu.jsx
  apps/web/src/components/CreateModal/CreateModal.js
  apps/web/src/components/FundingRoundEditor/FundingRoundEditor.jsx
  apps/web/src/components/FundingRoundEditor/index.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/FundingRoundHome/FundingRoundHome.jsx
  apps/web/src/routes/FundingRoundHome/index.js
  apps/web/src/routes/FundingRounds/FundingRounds.jsx
  apps/web/src/routes/FundingRounds/index.js
  apps/web/src/store/actions/fetchGroupFundingRounds.js
  apps/web/src/store/actions/fundingRoundActions.js
  apps/web/src/store/constants.js
  apps/web/src/store/models/FundingRound.js
  apps/web/src/store/models/index.js
  apps/web/src/store/selectors/getFundingRound.js
  apps/web/src/store/selectors/getFundingRoundsForGroup.js
Due: backend-changed, web-changed

Initial backend for Funding Rounds
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/fundingRound.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/FundingRound.js
  apps/backend/api/models/Group.js
  apps/backend/api/models/Responsibility.js
  apps/backend/migrations/20250904120000_funding_rounds.js
  apps/backend/migrations/20250904121000_add-manage-rounds-responsibility.js
Due: backend-changed

Make sure button tooltips appear on top of everything
  apps/web/src/components/ui/button.tsx
Due: web-changed

Imprve button styling in datetime picker
  apps/web/src/components/ui/datetimepicker.jsx
Due: web-changed

Fix translation errors in French, Hindi, and Spanish
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
Due: web-changed

Add My Drafts view to My Home
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/hooks/useDraftStorage.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/Stream/MyDrafts.jsx
  apps/web/src/routes/Stream/Stream.js
  apps/web/src/store/constants.js
  packages/presenters/src/ContextWidgetPresenter.js
Due: web-changed

Add ability to save a post to view later
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/mutations/savePost.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Post.js
  apps/backend/api/services/Search/util.js
  apps/backend/migrations/20251002160000_add-saved-at-to-posts-users.js
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/src/screens/Stream/makeStreamQuery.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/Dropdown/Dropdown.js
  apps/web/src/components/Dropdown/Dropdown.module.scss
  apps/web/src/components/PostCard/PostHeader/PostHeader.connector.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.store.js
  apps/web/src/components/WidgetIconResolver/WidgetIconResolver.jsx
  apps/web/src/graphql/fragments/postCardFieldsFragment.js
  apps/web/src/graphql/fragments/postFieldsFragment.js
  apps/web/src/graphql/fragments/postsQueryFragment.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/Stream/Stream.js
  apps/web/src/store/actions/fetchPosts.js
  apps/web/src/store/constants.js
  apps/web/src/store/reducers/queryResults.js
  packages/graphql/fragments/postsQuerySetFragment.js
  packages/graphql/mutations/index.js
  packages/graphql/mutations/savePostMutation.js
  packages/graphql/mutations/unsavePostMutation.js
  packages/presenters/src/ContextWidgetPresenter.js
Due: backend-changed, web-changed, mobile-changed

Fix joining a group by join URL with the mobile app
  apps/mobile/android/app/src/main/AndroidManifest.xml
  apps/mobile/ios/HyloReactNative/HyloReactNative.entitlements
  apps/mobile/ios/HyloReactNative/HyloReactNativeRelease.entitlements
  apps/mobile/src/navigation/headers/ModalHeader.js
  apps/mobile/src/navigation/linking/index.js
Due: mobile-changed

Fix issue where an app crash would wipe out the stored session cookie and break web views
  apps/mobile/src/screens/ErrorBoundary/ErrorBoundary.js
  apps/mobile/src/util/session.js
Due: mobile-changed

Fix sometimes crash when joining a group from join link
  apps/mobile/src/screens/GroupWelcome/GroupWelcome.store.js
Due: mobile-changed

Linting
  apps/backend/config/session.js
  apps/mobile/src/components/HyloWebView/HyloWebView.js
  apps/mobile/src/hooks/useHandleCurrentGroup.js
Due: backend-changed, mobile-changed

Update to latest version oaf apple-app-site-association format
  apps/web/public/apple-app-site-association
Due: web-changed

Update mobile version to 6.1.3
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Fix group member count issue when someone leaves and then rejoins a group
  apps/backend/api/models/Group.js
  apps/backend/api/services/InvitationService.js
Due: backend-changed

Update react native intercom to 8.8.0
  apps/mobile/README.md
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  yarn.lock
Due: mobile-changed

Fix height of global nav and context menus in mobile browser
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

Can add submissions to a funding round
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/FundingRound.js
  apps/backend/api/models/FundingRoundPost.js
  apps/backend/api/models/post/createPost.js
  apps/backend/api/models/post/validatePostData.js
  apps/backend/package.json
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/graphql/mutations/createPostMutation.js
  apps/web/src/routes/FundingRoundHome/FundingRoundHome.jsx
  apps/web/src/routes/FundingRounds/FundingRounds.store.js
  apps/web/src/store/actions/createPost.js
  apps/web/src/store/actions/fundingRoundActions.js
  apps/web/src/store/selectors/getFundingRound.js
Due: backend-changed, web-changed

Immediately remove an unsaved post when looking at the saved posts view
  apps/web/src/store/reducers/queryResults.js
Due: web-changed

Replace instance caches of Track.TrackUser and GroupTag.TagFollow with DataLoaders
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/models/GroupTag.js
  apps/backend/api/models/Track.js
  apps/backend/lib/graphql-bookshelf-bridge/fetcher.js
  apps/backend/lib/graphql-bookshelf-bridge/index.js
  apps/backend/lib/graphql-bookshelf-bridge/util/initDataLoaders.js
Due: backend-changed

Add tooltips and hover state to view buttons in All Views
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/AllView/AllView.jsx
Due: web-changed

Enable editing Funding Rounds and adding as context menu widget
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/mutations/context_widgets.js
  apps/backend/api/graphql/mutations/fundingRound.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/ContextWidget.js
  apps/backend/api/services/Search.js
  apps/backend/migrations/20250930172704_add-funding-rounds-view-widget.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/CreateModal/CreateModal.js
  apps/web/src/components/FundingRoundEditor/FundingRoundEditor.jsx
  apps/web/src/graphql/fragments/groupDetailsFragment.js
  apps/web/src/graphql/fragments/groupQueryFragment.js
  apps/web/src/routes/AllView/AllView.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/FundingRoundHome/FundingRoundHome.jsx
  apps/web/src/routes/JoinGroup/JoinGroup.js
  apps/web/src/store/actions/contextWidgets/index.js
  apps/web/src/store/actions/fetchContextWidgets.js
  apps/web/src/store/actions/fetchGroupFundingRounds.js
  apps/web/src/store/actions/fundingRoundActions.js
  apps/web/src/store/selectors/getFundingRound.js
  apps/web/src/util/contextWidgets.js
  packages/navigation/src/index.js
  packages/presenters/src/ContextWidgetPresenter.js
Due: backend-changed, web-changed

Fix editing completion role for tracks
  apps/web/src/components/TrackEditor/TrackEditor.js
  apps/web/src/hooks/useRouteParams/index.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/TrackHome/TrackHome.jsx
  apps/web/src/store/actions/trackActions.js
  packages/navigation/src/index.js
Due: web-changed
