Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

chore(mobile): Move Mobile URQL subscription exchange to its own module to keep URQL config valid for Web
  apps/mobile/src/urql-shared/client.js
  apps/mobile/src/urql-shared/mobileSubscriptionExchange.js
Due: mobile-changed

chore(backend,mobile): Update Mobile URQL client setup, make Backend logging optionally configurable via env vars (see .env.example)
  apps/backend/.env.example
  apps/backend/api/graphql/index.js
  apps/backend/config/log.js
  apps/mobile/index.js
  apps/mobile/src/hooks/useAuthStatus.js
  apps/mobile/src/urql-shared/client.js
  apps/mobile/src/urql-shared/fetchGraphqlSchema.js
  apps/mobile/src/urql-shared/makeUrqlClient.js
Due: backend-changed, mobile-changed

chore(mobile): Mobile URQL debugging note
  apps/mobile/src/urql-shared/makeUrqlClient.js
Due: mobile-changed

chore(mobile): Fix missed import rename
  apps/mobile/src/urql-shared/mobileSubscriptionExchange.js
Due: mobile-changed

chore(mobile): Fix URQL client setup oops
  apps/mobile/src/urql-shared/makeUrqlClient.js
Due: mobile-changed

Return daily digest to go out at noon
  apps/backend/cron.js
Due: backend-changed

More cleanup of group settings
  apps/mobile/package.json
  apps/web/src/components/SettingsControl/SettingsControl.js
  apps/web/src/components/SwitchStyled/SwitchStyled.module.scss
  apps/web/src/components/ViewHeader/ViewHeader.jsx
  apps/web/src/css/global/index.scss
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/GroupSettings/GroupSettings.module.scss
  apps/web/src/routes/GroupSettings/GroupSettingsTab/GroupSettingsTab.js
  apps/web/src/routes/GroupSettings/GroupSettingsTab/GroupSettingsTab.module.scss
  apps/web/src/routes/GroupSettings/SettingsSection/SettingsSection.js
  apps/web/tailwind.config.js
  yarn.lock
Due: web-changed, mobile-changed

Make ContextWidgetPresenter default export
  apps/web/src/routes/AllView/AllView.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  packages/shared/src/ContextWidgetPresenter.js
Due: web-changed

Change syntax for widgetTypeInferrer
  packages/shared/src/ContextWidgetPresenter.js
Due: none

Move further widget helper functions into ContextWidgetPresenter
  apps/web/src/routes/AllView/AllView.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  packages/shared/src/ContextWidgetPresenter.js
Due: web-changed

initial calendar feature
  apps/web/package.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/Calendar/body/calendar-body-header.tsx
  apps/web/src/components/Calendar/body/calendar-body.tsx
  apps/web/src/components/Calendar/body/day/calendar-body-day-calendar.tsx
  apps/web/src/components/Calendar/body/day/calendar-body-day-content.tsx
  apps/web/src/components/Calendar/body/day/calendar-body-day-events.tsx
  apps/web/src/components/Calendar/body/day/calendar-body-day.tsx
  apps/web/src/components/Calendar/body/day/calendar-body-margin-day-margin.tsx
  apps/web/src/components/Calendar/body/month/calendar-body-month.tsx
  apps/web/src/components/Calendar/body/week/calendar-body-week.tsx
  apps/web/src/components/Calendar/calendar-context.tsx
  apps/web/src/components/Calendar/calendar-event.tsx
  apps/web/src/components/Calendar/calendar-mode-icon-map.tsx
  apps/web/src/components/Calendar/calendar-provider.tsx
  apps/web/src/components/Calendar/calendar-tailwind-classes.ts
  apps/web/src/components/Calendar/calendar-types.ts
  apps/web/src/components/Calendar/calendar.tsx
  apps/web/src/components/Calendar/dialog/calendar-manage-event-dialog.tsx
  apps/web/src/components/Calendar/dialog/calendar-new-event-dialog.tsx
  apps/web/src/components/Calendar/header/actions/calendar-header-actions-add.tsx
  apps/web/src/components/Calendar/header/actions/calendar-header-actions-mode.tsx
  apps/web/src/components/Calendar/header/actions/calendar-header-actions.tsx
  apps/web/src/components/Calendar/header/calendar-header.tsx
  apps/web/src/components/Calendar/header/date/calendar-header-date-badge.tsx
  apps/web/src/components/Calendar/header/date/calendar-header-date-chevrons.tsx
  apps/web/src/components/Calendar/header/date/calendar-header-date-icon.tsx
  apps/web/src/components/Calendar/header/date/calendar-header-date.tsx
  apps/web/src/components/EventCalendar/EventCalendar.js
  apps/web/src/components/EventCalendar/index.js
  apps/web/src/components/StreamViewControls/StreamViewControls.js
  apps/web/src/components/ui/calendar.tsx
  apps/web/src/components/ui/toggle-group.tsx
  apps/web/src/components/ui/toggle.tsx
  apps/web/src/routes/GroupSettings/CustomViewsTab/CustomViewsTab.js
  apps/web/src/routes/Stream/Stream.js
  apps/web/tsconfig.json
  yarn.lock
Due: web-changed

fix DateTime typo
  apps/web/src/components/DatePicker/index.js
Due: web-changed

restore Datetime to original DatePicker
  apps/web/src/components/DatePicker/index.js
Due: web-changed

Rename context menu helpers
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  packages/shared/src/ContextMenuHelpers
Due: web-changed

chore(backend): Adds *QuerySet id generation including adding to graphql schema
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/lib/graphql-bookshelf-bridge/fetcher.js
  apps/backend/lib/graphql-bookshelf-bridge/util/presentQuerySet.js
  apps/mobile/src/components/Comments/Comments.js
Due: backend-changed, mobile-changed

Push all groups to new context menu
  apps/backend/api/models/Group.js
  apps/backend/migrations/20250128140449_migrate-to-new-context-menu.js
Due: backend-changed

Sync mobile theme with web theme
  apps/mobile/src/style/global.css
Due: mobile-changed

Add zustand dependency to mobile
  apps/mobile/package.json
  yarn.lock
Due: mobile-changed

Actually apply isContextGroup as a function
  apps/mobile/src/hooks/useCurrentGroup.js
Due: mobile-changed

Initial fix for GroupWelcomeLanding
  apps/mobile/src/screens/GroupWelcomeFlow/GroupWelcomeLanding.js
  apps/mobile/src/urql-shared/presenters/GroupPresenter.js
Due: mobile-changed

Create updaters for GroupWelcome mutations
  apps/mobile/src/urql-shared/updates/index.js
Due: mobile-changed

chore(backend): Tidy-up querySetId generation (likely deprecated, so can remove soon)
  apps/backend/lib/graphql-bookshelf-bridge/fetcher.js
  apps/backend/lib/graphql-bookshelf-bridge/util/presentQuerySet.js
Due: backend-changed

remove react-roving-focus lock
  yarn.lock
Due: none

style calendar header date icon
  apps/web/src/components/Calendar/header/date/calendar-header-date-icon.tsx
Due: web-changed

style not current month days
  apps/web/src/components/Calendar/body/month/calendar-body-month.tsx
Due: web-changed

style calendar events
  apps/web/src/components/Calendar/calendar-event.tsx
Due: web-changed

Use "Common Views" instead of "Whats happening"
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: web-changed, mobile-changed

Fix backend of menu updating when new posts are created
  apps/backend/api/models/Group.js
  apps/backend/api/models/post/createPost.js
Due: backend-changed

Add welcome text in empty #home chat
  apps/web/public/home-chat-welcome.png
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/graphql/fragments/groupFieldsFragment.js
  apps/web/src/graphql/fragments/groupQueryFragment.js
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.connector.js
  apps/web/src/store/actions/fetchGroups.js
  apps/web/src/util/navigation.js
Due: web-changed

Lint fixes
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Fix display of event date
  apps/web/src/components/PostCard/EventDate/EventDate.js
Due: web-changed

Tweaks to post editor display
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/PostEditor/PostEditor.module.scss
  apps/web/src/components/ui/datetimepicker.jsx
Due: web-changed

After creating a post no longer open the post, just go back to the view
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Hide search in certain views headers
  apps/web/src/components/ViewHeader/ViewHeader.jsx
  apps/web/src/contexts/ViewHeaderContext/ViewHeaderProvider.jsx
  apps/web/src/routes/AllView/AllView.jsx
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/GroupDetail/GroupDetail.js
  apps/web/src/routes/GroupSettings/GroupSettingsTab/GroupSettingsTab.js
  apps/web/src/routes/Groups/Groups.jsx
  apps/web/src/routes/JoinGroup/JoinGroup.js
  apps/web/src/routes/MemberProfile/MemberProfile.js
  apps/web/src/routes/Messages/Messages.js
  apps/web/src/routes/Search/Search.js
  apps/web/src/routes/Stream/Stream.js
  apps/web/src/store/reducers/ormReducer/index.js
Due: web-changed

Tweaks to styling
  apps/web/src/components/GroupMenuHeader/GroupMenuHeader.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
Due: web-changed

Improved group creation flow
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/CreateGroup/CreateGroup.jsx
Due: web-changed

chore(backend,mobile): New URQL pagination implementation, and tidying up to general URQL setup. Disables backend dev default of publishing subscription events to creators of the event
  apps/backend/api/graphql/makeSubscriptions.js
  apps/mobile/src/components/StreamList/StreamList.js
  apps/mobile/src/components/StreamList/StreamList.store.js
  apps/mobile/src/components/StreamList/useFetchPostParam.js
  apps/mobile/src/urql-shared/hooks/usePeopleTyping.js
  apps/mobile/src/urql-shared/makeUrqlClient.js
  apps/mobile/src/urql-shared/resolvers/index.js
  apps/mobile/src/urql-shared/resolvers/makeCursorPaginationResolver.js
  apps/mobile/src/urql-shared/resolvers/makeOffsetPaginationResolver.js
  apps/mobile/src/urql-shared/resolvers/makePaginationResolver.js
  apps/mobile/src/urql-shared/updates/index.js
Due: backend-changed, mobile-changed

chore(backend): Revert *QuerSet id addition to schema.graphql
  apps/backend/api/graphql/schema.graphql
Due: backend-changed

Add autoAdded to Context Widgets interface, so that menus can respond optimistically to new content types
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/web/src/graphql/fragments/groupFieldsFragment.js
  apps/web/src/graphql/fragments/groupQueryFragment.js
  apps/web/src/store/actions/contextWidgets/index.js
Due: backend-changed, web-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
