Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

Massive improvements to map explorer
  apps/web/src/components/Map/Map.js
  apps/web/src/routes/MapExplorer/MapExplorer.js
  apps/web/src/routes/MapExplorer/MapExplorer.module.scss
Due: web-changed

Fix some tests
  apps/web/src/components/TopicSelector/TopicSelector.js
  apps/web/src/components/TopicSelector/TopicSelector.test.js
  apps/web/src/routes/GroupWelcomeModal/GroupWelcomeModal.js
  apps/web/src/routes/Messages/Messages.store.test.js
  apps/web/src/store/models/MessageThread.js
  apps/web/src/store/models/MessageThread.test.js
Due: web-changed

Fix search and search tests
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/Search/Search.js
  apps/web/src/routes/Search/Search.test.js
Due: web-changed

chore(mobile): Fixes GroupWelcome check redirect with URQL Me query updater. Lints some code
  apps/mobile/src/hooks/useHandleCurrentGroup.js
  apps/mobile/src/screens/GroupWelcomeFlow/GroupWelcomeLanding.js
  apps/mobile/src/screens/JoinGroup/JoinGroup.js
  apps/mobile/src/screens/Stream/Stream.js
  packages/graphql/fragments/membershipFieldsFragment.js
  packages/graphql/mutations/updateMembershipMutation.js
  packages/graphql/queries/meQuery.js
  packages/urql/updates/index.js
Due: mobile-changed

Hacky fix for not erroring out in chat room when creating new post
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Calendar is default view for events
  packages/presenters/ContextWidgetPresenter.js
Due: none

Create group fixes
  apps/backend/api/models/Group.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/CreateGroup/CreateGroup.jsx
Due: backend-changed, web-changed

Remove tour
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Improvements to stream, postlist and big post card view
  apps/web/src/components/PostBigGridItem/PostBigGridItem.js
  apps/web/src/components/PostListRow/PostListRow.js
  apps/web/src/components/PostListRow/PostListRow.module.scss
  apps/web/src/components/StreamViewControls/StreamViewControls.js
  apps/web/src/components/StreamViewControls/StreamViewControls.module.scss
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

Add link to copy invite link on members widget
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

chore(graphql): Update to list 4 most recently active members in groupFieldsFragment
  packages/graphql/fragments/groupFieldsFragment.js
Due: none

chore(mobile): Memoizes staticContext result in useGroup to fix crashing PostEditor issue in staticContexts
  packages/hooks/useGroup.js
Due: none

Correct murmurations primary URL for related groups in murmurations profile
  apps/backend/api/models/Group.js
Due: backend-changed

Show most recently active users in members widget
  apps/backend/api/services/Search/forUsers.js
  apps/backend/api/services/Search/util.js
  apps/web/src/hooks/useGatherItems/index.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/Members/Members.store.js
Due: backend-changed, web-changed

Remove type from views in All Views, and sort correctly
  apps/web/src/routes/AllView/AllView.jsx
Due: web-changed

Fix styling of comments when there are lots of emojis and comments on a post card
  apps/web/src/components/PostCard/PostFooter/PostFooter.js
Due: web-changed

Fix extra scroll bar in chat room at mobile size
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.module.scss
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
  apps/web/src/routes/FullPageModal/FullPageModal.js
Due: web-changed

Improvement to completed items and signup
  apps/web/public/hylo-logo-dark-horizontal.svg
  apps/web/public/hylo-logo-light-horizontal.svg
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/LocaleDropdown/LocaleDropdown.js
  apps/web/src/routes/NonAuthLayoutRouter/NonAuthLayoutRouter.js
  apps/web/src/routes/NonAuthLayoutRouter/NonAuthLayoutRouter.module.scss
Due: web-changed

Massive improvements to invite menu
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.js
Due: web-changed

chore(mobile): Updates colors from latest web theme
  apps/mobile/src/style/global.css
Due: mobile-changed

Update to version 6..0.0
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: backend-changed, web-changed

Fixed shadow on menu
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

feat(mobile): Applies derived Web background color
  apps/mobile/src/components/CommentEditor/CommentEditor.js
  apps/mobile/src/components/MessageCard/MessageCard.js
  apps/mobile/src/components/MessageInput/MessageInput.js
  apps/mobile/src/components/NotificationCard/NotificationCard.js
  apps/mobile/src/components/PostCard/PostCard.styles.js
  apps/mobile/src/components/ThreadCard/ThreadCard.js
  apps/mobile/src/navigation/AuthRootNavigator.js
  apps/mobile/src/navigation/MessagesNavigator.js
  apps/mobile/src/navigation/TabsNavigator.js
  apps/mobile/src/navigation/headers/TabStackHeader.js
  apps/mobile/src/screens/GroupSettingsWebView/GroupSettingsWebView.js
  apps/mobile/src/screens/MemberProfile/MemberProfile.styles.js
  apps/mobile/src/screens/MemberProfile/MemberStream/MemberStream.styles.js
  apps/mobile/src/screens/NewMessage/NewMessage.js
  apps/mobile/src/screens/NotificationsList/NotificationsList.js
  apps/mobile/src/screens/PostEditor/PostEditor.js
  apps/mobile/src/screens/PostEditor/PostEditor.styles.js
  apps/mobile/src/screens/SearchPage/SearchPage.styles.js
  apps/mobile/src/screens/Stream/Stream.js
  apps/mobile/src/screens/Stream/StreamHeader.js
  apps/mobile/src/screens/Thread/Thread.js
  apps/mobile/src/screens/ThreadList/ThreadList.styles.js
  apps/mobile/src/style/colors.js
Due: mobile-changed

Fixed color of default avatar
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNavItem.jsx
Due: web-changed

Fixed z-index bug on post modal with stream
  apps/web/src/components/PostDialog/PostDialog.jsx
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Fixed Replies styling
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
Due: web-changed

Fix tracking of unread count in chat rooms again
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

MIssing translation
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: web-changed

Can scroll members page again
  apps/web/src/routes/Members/Members.js
Due: web-changed

Reduced zoom on posts
  apps/web/src/components/PostCard/PostCard.jsx
  apps/web/tailwind.config.js
Due: web-changed

Fixed editing of context menu items
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Roll back unecessary stuff
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Add a home button to widgets in the context menu while hovering
  apps/web/src/routes/AllView/AllView.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

Fix z-index of emoji
  apps/web/src/components/ui/popover.jsx
Due: web-changed

Fix scrolling of groups page
  apps/web/src/routes/Groups/Groups.jsx
Due: web-changed

Fix emoji zindex again
  apps/web/src/components/ui/popover.jsx
Due: web-changed

Add i18n explanation for fresh users with no posts/memberships
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/src/components/CreateGroupNotice/CreateGroupNotice.js
Due: mobile-changed

chore(web): Removes application of global body tag background and foreground from HyloEditorMobile component + route
  apps/web/src/css/global/index.scss
  apps/web/src/routes/HyloEditorMobile/HyloEditorMobile.js
Due: web-changed

chore(mobile): Updates and refines PostEditor
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/src/components/LucideIcon/LucideIcon.js
  apps/mobile/src/screens/PostEditor/DatePickerWithLabel.js
  apps/mobile/src/screens/PostEditor/PostEditor.js
  apps/mobile/src/screens/PostEditor/PostEditor.styles.js
Due: mobile-changed

chore(presenters): Copies iconNames from Web post types to PostPresenter
  packages/presenters/PostPresenter.js
Due: none
