Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Fix Android deeplinking but separating out into two intent filters
  apps/mobile/android/app/src/main/AndroidManifest.xml
Due: mobile-changed

Tweak to proposal voting ended style to not be covered by dashed border
  apps/web/src/components/PostCard/PostBodyProposal/PostBodyProposal.js
Due: web-changed

Remove broken style
  apps/web/src/components/PostCard/PeopleInfo/PeopleInfo.js
Due: web-changed

Cleaned up the style of the chatroom and dms a bit by adding padding at the bottom. Also rounded the corners of the DM input field
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/routes/Messages/MessageForm/MessageForm.js
  apps/web/src/routes/Messages/MessageSection/MessageSection.js
Due: web-changed

Avoid hardcoding link_schema
  apps/mobile/android/app/src/main/AndroidManifest.xml
Due: mobile-changed

Update OneSignal to use SDK and update related models and database tables
  apps/backend/api/controllers/UserController.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/PushNotification.js
  apps/backend/api/models/User.js
  apps/backend/api/services/OneSignal.js
  apps/backend/migrations/20250625101946_push-notifications-update-OneSignal.js
  apps/backend/package.json
  apps/web/src/graphql/queries/MeQuery.js
  apps/web/src/routes/UserSettings/NotificationSettingsTab/NotificationSettingsTab.test.js
  yarn.lock
Due: backend-changed, web-changed

Mobile release 6.1.2
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Format push notification url before sending to OneSignal
  apps/backend/api/services/OneSignal.js
Due: backend-changed

Re-add badge number to OneSignal call
  apps/backend/api/models/PushNotification.js
  apps/backend/api/services/OneSignal.js
Due: backend-changed

Make the topic selector much faster
  apps/backend/api/graphql/filters.js
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/services/Search.js
  apps/web/src/components/HyloEditor/extensions/TopicMentions.js
  apps/web/src/components/TopicSelector/TopicSelector.js
  apps/web/src/routes/AllView/AllView.jsx
  apps/web/src/store/actions/findTopics.js
Due: backend-changed, web-changed

Deprecate Device model (leaving table in place for now)
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/mobile.js
  apps/backend/api/graphql/mutations/mobile.test.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Device.js
  apps/backend/api/models/Notification.js
  apps/backend/api/models/User.js
  apps/backend/package.json
  apps/backend/test/setup/factories.js
  apps/backend/test/unit/models/Device.test.js
  apps/backend/test/unit/models/Notification.test.js
  apps/backend/test/unit/services/UserManagement.test.js
  apps/mobile/src/navigation/AuthRootNavigator.js
Due: backend-changed, mobile-changed

Removing mobile calls for registerDevice, since these are redundant
  apps/mobile/src/navigation/AuthRootNavigator.js
  apps/mobile/src/navigation/RootNavigator/RootNavigator.js
Due: mobile-changed

Push notifs ReadMe update
  apps/backend/.env.example
  apps/mobile/README.md
Due: backend-changed, mobile-changed

staging test 6.1.3
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Fix editing posts with link previews
  apps/web/src/hooks/useEventCallback/index.js
Due: web-changed

Fix boolean bug with OneSignal initialization; bump OneSignal version
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/src/navigation/AuthRootNavigator.js
  yarn.lock
Due: mobile-changed

Try to fix deploy to staging
  apps/web/src/routes/NonAuthLayoutRouter/NonAuthLayoutRouter.js
Due: web-changed

Fix z-index of open/close map drawer icon
  apps/web/src/routes/MapExplorer/MapExplorer.js
Due: web-changed

mobile 6.1.1
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

pre-release setup 6.1.2-0
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Try to fix crashing error when notification comes in while app is in focus
  apps/mobile/index.js
Due: mobile-changed

Start of a theme page
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/Themes/Themes.js
  apps/web/src/routes/Themes/index.js
Due: web-changed

Added full changelogs for the redesign release
  apps/backend/CHANGELOG.md
  apps/web/CHANGELOG.md
Due: backend-changed, web-changed

Added additional ui pieces to the themes page
  apps/web/src/routes/Themes/Themes.js
Due: web-changed

Update to v 6.1.4
  apps/web/CHANGELOG.md
  apps/web/package.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: web-changed

Fix mobile configure script to access github in correct way
  apps/mobile/scripts/configure.sh
Due: mobile-changed

Use groupId to query joinQAs on members now
  apps/web/src/hooks/useGatherItems/index.js
  apps/web/src/routes/Members/Members.js
  apps/web/src/routes/Members/Members.store.js
Due: web-changed

Once again, try to fix Heroku build
  apps/web/src/routes/NonAuthLayoutRouter/Login/Login.js
  apps/web/src/routes/NonAuthLayoutRouter/PasswordReset/PasswordReset.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Signup.js
Due: web-changed

Fix Manage Notifications again/more
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/routes/NonAuthLayoutRouter/ManageNotifications/ManageNotifications.js
Due: web-changed

Fix display of join questions to only show questions from current group
  apps/backend/api/graphql/makeModels.js
Due: backend-changed

Web readme update
  apps/web/README.md
Due: web-changed

Fix display of close drawer button on initial load of map
  apps/web/src/routes/MapExplorer/MapDrawer/MapDrawer.js
  apps/web/src/routes/MapExplorer/MapExplorer.js
Due: web-changed

Add one piece to mobile readme
  apps/mobile/README.md
Due: mobile-changed

Fixed button size on login and signup
  apps/web/src/components/GoogleButton/GoogleButton.js
  apps/web/src/routes/NonAuthLayoutRouter/Login/Login.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Signup.js
Due: web-changed

Improved contrast of groupmenuheader
  apps/web/src/components/GroupMenuHeader/GroupMenuHeader.jsx
Due: web-changed

Hide tooltip on phones
  apps/web/src/components/Tooltip/Tooltip.js
Due: web-changed

Cleanup of member profile at all resolutions. Moved roles to its own section above affiliations. Standardized style of pills/buttons in different sections
  apps/web/src/routes/MemberProfile/MemberProfile.js
Due: web-changed

Made comment card display correctly without line breaks at different resolutions
  apps/web/src/components/CommentCard/CommentCard.js
Due: web-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
