Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files

          # Test which path is updated and set the parameter for continue_config
          mapping: |
            apps/backend/.* backend-changed true
            apps/web/.* web-changed true
            apps/mobile/.* mobile-changed true

          # Compare changes of the branch with main branch
          base-revision: main

          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.

          config-path: .circleci/continue_config.yml

Show signed-out visitors a private-post page instead of a bare login screen
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/queries/postTeaser.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/test/unit/graphql/postTeaser.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/PublicLayoutRouter/PrivatePostTeaser.jsx
  apps/web/src/routes/PublicLayoutRouter/PrivatePostTeaser.test.js
  apps/web/src/routes/PublicLayoutRouter/PublicPostDetail.jsx
  apps/web/src/routes/PublicLayoutRouter/PublicPostDetail.test.js
  apps/web/src/store/actions/checkIsPostPublic.js
Due: backend-changed, web-changed

Count track enrollments and funding-round joins on every join path
  apps/backend/api/models/FundingRound.js
  apps/backend/api/models/Group.js
  apps/backend/api/models/Track.js
  apps/backend/test/unit/models/Group.settleJoin.test.js
  apps/backend/test/unit/models/Group.test.js
Due: backend-changed

Give Hylo's default link preview the homepage description in six languages
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/server/appMiddleware.js
  apps/web/src/server/appMiddleware.test.js
  apps/web/src/server/groupMetaTags.js
  apps/web/src/server/groupMetaTags.test.js
Due: web-changed

Test the paid content preview through GraphQL
  apps/backend/test/unit/models/track/preview.test.js
Due: backend-changed

Update invite-policy tests for Moderators counting as stewards
  apps/backend/api/graphql/index.test.js
  apps/backend/test/unit/models/GroupMembership.test.js
Due: backend-changed

Open hylo.com links (without www) inside the mobile app
  apps/mobile-leap/jest.config.js
  apps/mobile-leap/src/hooks/useOpenURL.test.ts
  apps/mobile-leap/src/hooks/useOpenURL.ts
  apps/mobile-leap/src/navigation/linking/config.ts
Due: none

Offer the Hylo app on phones: iOS Smart App Banner and an Android prompt
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/AppInstallPrompt/AppInstallPrompt.jsx
  apps/web/src/components/AppInstallPrompt/AppInstallPrompt.test.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/server/appMiddleware.js
  apps/web/src/server/appMiddleware.test.js
  apps/web/src/server/groupMetaTags.js
  apps/web/src/util/mobile.js
  packages/shared/src/constants.js
Due: web-changed

Count site banner clicks apart from dismissals and let banners have per-language text
  apps/backend/api/graphql/makeModels.js
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/siteBanners.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/SiteBanner.js
  apps/backend/migrations/20261009000100_site_banner_clicks_translations.js
  apps/backend/migrations/schema.sql
  apps/backend/test/unit/models/SiteBanner.test.js
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/components/SiteBanners/SiteBanners.js
  apps/web/src/components/SiteBanners/SiteBanners.test.js
  apps/web/src/routes/Management/SiteBanners/SiteBanners.js
  apps/web/src/routes/Management/SiteBanners/SiteBanners.test.js
  apps/web/src/sandbox/handlers.js
  apps/web/src/sandbox/handlers.test.js
  apps/web/src/store/actions/siteBanners.js
  apps/web/src/store/constants.js
Due: backend-changed, web-changed

Add Playwright specs for the private-post pages and the report entry points
  apps/web/e2e/private-post-teaser.spec.js
  apps/web/e2e/report-entry-points.spec.js
Due: web-changed

Main search reports how many groups match
  apps/backend/api/graphql/groupDiscovery.test.js
  apps/backend/api/graphql/makeSchema.js
Due: backend-changed

Search: a failed group search no longer leaves the page loading
  apps/web/src/routes/Search/Search.js
  apps/web/src/routes/Search/Search.store.js
  apps/web/src/routes/Search/Search.store.test.js
  apps/web/src/routes/Search/Search.test.js
Due: web-changed

Explorer review: only list groups that are still Public
  apps/backend/api/graphql/groupDiscovery.test.js
  apps/backend/api/graphql/mutations/explorerReview.js
  apps/backend/api/graphql/mutations/explorerReview.test.js
  apps/backend/api/graphql/schema.graphql
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  apps/web/src/routes/Management/ExplorerReview/ExplorerReview.js
  apps/web/src/routes/Management/ExplorerReview/ExplorerReview.test.js
Due: backend-changed, web-changed

Keep the daily jobs running when the sitemap build fails
  apps/backend/cron.js
Due: backend-changed

Member Directory: one search and one event per burst of typing
  apps/web/src/routes/Members/Members.js
  apps/web/src/routes/Members/Members.test.js
Due: web-changed

Sitemap: serve only the parts the current index lists
  apps/web/src/server/sitemapRoute.js
  apps/web/src/server/sitemapRoute.test.js
Due: web-changed

Groups you can join: coming back after joining counts as joined
  apps/web/src/routes/WelcomeWizardRouter/RecommendedGroups/RecommendedGroups.js
  apps/web/src/routes/WelcomeWizardRouter/RecommendedGroups/RecommendedGroups.test.js
Due: web-changed

Test that a comment report emails the comment's author about their comment
  apps/backend/test/unit/models/ModerationAction.test.js
Due: backend-changed

Send the stalled-signup reminder only to confirmed addresses
  apps/backend/api/models/invitation/stalledSignupReminder.js
  apps/backend/test/unit/models/Invitation.test.js
Due: backend-changed

Let the analytics middleware tests run without a local .env
  apps/web/src/store/middleware/mixpanelMiddleware.test.js
Due: web-changed

Open View Draft on the latest text even when the connection is down
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/PostEditor/PostEditor.test.js
  apps/web/src/hooks/useDraft.js
  apps/web/src/hooks/useDraft.test.js
Due: web-changed

Don't post an untitled discussion whose text is only blank lines
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/PostEditor/PostEditor.test.js
Due: web-changed

Never cut an automatic title halfway through an emoji
  apps/backend/api/models/post/titleFromDetails.js
  apps/backend/api/models/post/titleFromDetails.test.js
  apps/web/src/components/PostEditor/titleFromDetails.js
  apps/web/src/components/PostEditor/titleFromDetails.test.js
Due: backend-changed, web-changed

Offer Follow/Unfollow on the post's own page
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.test.js
  apps/web/src/routes/PostDetail/PostDetail.js
Due: web-changed

Give the chat Enter-to-send tests time to load on a busy machine
  apps/web/src/components/ChatEditor/ChatEditor.test.js
Due: web-changed

Offer Introduce yourself only when the stream shows everything
  apps/web/src/components/NoPosts/NoPosts.test.js
  apps/web/src/components/NoPosts/index.js
Due: web-changed

Keep greyed-out My Home cards full size on phones
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuGrid.jsx
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenuGrid.test.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/GroupViewCard.jsx
Due: web-changed

Send the browser's Mixpanel profile deletion before opting out
  apps/web/src/store/middleware/mixpanelMiddleware.js
  apps/web/src/util/analytics.js
  apps/web/src/util/analytics.test.js
Due: web-changed

Tick only 'Add a first event' when a founder posts an event
  apps/backend/api/graphql/groupSetupChecklist.js
  apps/backend/api/graphql/groupSetupChecklist.test.js
  apps/backend/api/graphql/schema.graphql
Due: backend-changed

Wait for a signed-in person's saved analytics choice before sending web events
  apps/web/src/hooks/usePageViewTracking.js
  apps/web/src/hooks/usePageViewTracking.test.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/Signup.store.js
  apps/web/src/routes/NonAuthLayoutRouter/Signup/__snapshots__/Signup.store.test.js.snap
  apps/web/src/store/actions/checkLogin.js
  apps/web/src/store/middleware/mixpanelMiddleware.js
  apps/web/src/store/middleware/mixpanelMiddleware.test.js
  apps/web/src/util/analytics.js
Due: web-changed

Hide the setup checklist as soon as a group has a second member
  apps/web/src/components/SetupChecklist/SetupChecklist.jsx
  apps/web/src/components/SetupChecklist/SetupChecklist.test.js
Due: web-changed

Keep only the host of the referring pages on Page Viewed
  apps/web/src/hooks/usePageViewTracking.js
  apps/web/src/hooks/usePageViewTracking.test.js
  apps/web/src/util/analytics.js
  apps/web/src/util/analytics.test.js
Due: web-changed

Close the phone menu when opening Building Hylo from Help
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/HelpMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/HelpMenu.test.js
Due: web-changed

Translate 'All My Groups' and 'Public Groups' in saved map views
  apps/web/src/routes/MapExplorer/SavedSearches/SavedSearches.js
  apps/web/src/util/savedSearch.js
  apps/web/src/util/savedSearch.test.js
Due: web-changed

Keep this package's new translations together in each language file
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
Due: web-changed

Expect the paywall's 'Sign up to Purchase' to open sign up in the signed-out e2e check
  apps/web/e2e/unauthenticated.routes.spec.js
Due: web-changed

Count a request through a member's link once per person per day
  apps/backend/api/graphql/mutations/join_request.js
  apps/backend/api/graphql/mutations/join_request.test.js
Due: backend-changed

Keep members' invite links shut once they stop working
  apps/backend/api/graphql/mutations/group.js
  apps/backend/api/models/MemberInviteLink.js
  apps/backend/api/models/User.js
  apps/backend/test/unit/services/InvitationService.test.js
Due: backend-changed

Let members page through all of their pending invites
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.store.js
  apps/web/src/routes/GroupSettings/InviteSettingsTab/InviteSettingsTab.test.js
  apps/web/src/routes/GroupSettings/InviteSettingsTab/PendingSubmissionsList.jsx
Due: web-changed

Test asking to join through a member's personal invite link
  apps/web/src/routes/GroupDetail/GroupDetail.store.test.js
  apps/web/src/routes/GroupDetail/GroupDetail.test.js
Due: web-changed

Read checkout line items so a promotion code's fee refund counts only the offering
  apps/backend/api/controllers/StripeController.js
  apps/backend/test/unit/controllers/StripeController.test.js
Due: backend-changed
