Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Remove unecessary notifications permission checks on mac
  apps/desktop/main.js
  apps/desktop/preload.js
Due: none

Update to latest Electron
  apps/desktop/package.json
Due: none

Ensure frontend can lookup accessGrants on Stripe offerings
  apps/backend/api/graphql/schema.graphql
  apps/web/src/components/SettingsControl/SettingsControl.js
  apps/web/src/routes/GroupSettings/PaidContentTab/PaidContentTab.js
  apps/web/src/routes/GroupSettings/PaidContentTab/PaidContentTab.store.js
Due: backend-changed, web-changed

Desktop CHANGELOG update v1.0.0-beta.3
  apps/desktop/CHANGELOG
Due: none

Fix content height in Desktop app so it doesnt go below the screen
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
Due: web-changed

Fix display of My Funding Rounds widget in My Home
  apps/desktop/CHANGELOG
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: web-changed, mobile-changed

Yarn.lock not up to date
  yarn.lock
Due: none

Back to old version of fuses that i can import in ESM
  apps/desktop/package.json
  yarn.lock
Due: none

Remove duplicate presentFundingRound
  packages/hooks/useFundingRound.js
  packages/hooks/useFundingRounds.js
Due: none

Remove console
  apps/mobile/src/components/SubmissionCard/SubmissionCard.js
Due: mobile-changed

Update mobile app to v6.2.0
  apps/mobile/CHANGELOG
  apps/mobile/android/app/build.gradle
  apps/mobile/ios/HyloReactNative/Info.plist
  apps/mobile/ios/HyloReactNativeTests/Info.plist
  apps/mobile/ios/OneSignalNotificationServiceExtension/Info.plist
  apps/mobile/package.json
Due: mobile-changed

Add initial paywall UI and backend changes
  apps/backend/api/graphql/makeSchema.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/mutations/stripe.js
  apps/backend/api/graphql/mutations/stripe.test.js
  apps/backend/api/graphql/schema.graphql
  apps/backend/api/models/Group.js
  apps/backend/api/models/Track.js
  apps/backend/migrations/20251110143609_extend-content-access-to-scopes.js
  apps/backend/migrations/schema.sql
  apps/web/src/components/GroupCard/GroupCard.js
  apps/web/src/components/Widget/GroupsWidget/GroupsWidget.js
  apps/web/src/graphql/fragments/groupDetailsFragment.js
  apps/web/src/routes/GroupDetail/GroupDetail.js
  apps/web/src/routes/GroupDetail/JoinSection.jsx
  apps/web/src/routes/GroupDetail/PaywallOfferingsSection.jsx
  apps/web/src/routes/GroupExplorer/FeaturedGroups/FeaturedGroups.js
  apps/web/src/routes/GroupSettings/RelatedGroupsTab/RelatedGroupsTab.js
  apps/web/src/store/actions/fetchPublicStripeOfferings.js
  apps/web/src/store/constants.js
Due: backend-changed, web-changed

Handle stripe checkout success anf failure
  apps/backend/api/graphql/mutations/group.js
  apps/backend/api/services/InvitationService.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/GroupDetail/PaymentFailure.jsx
  apps/web/src/routes/GroupDetail/PaymentSuccess.jsx
  apps/web/src/routes/GroupDetail/PaywallOfferingsSection.jsx
  apps/web/src/store/actions/acceptInvitation.js
  apps/web/src/util/offerings.js
Due: backend-changed, web-changed

Accommodate someone with a group membership but no scope access (via canAccess) for a paywalled group
  apps/web/src/graphql/fragments/groupDetailsFragment.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/Stream/Stream.js
Due: web-changed

Missed one version increment
  apps/mobile/ios/HyloReactNative/Info.plist
Due: mobile-changed

update webhook handlers to create membership and access grant for users, if required; if a user is a member but their subscription has lapsed, they cannot post to that group
  apps/backend/api/controllers/StripeController.js
  apps/backend/api/models/GroupMembership.js
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/routes/LandingPage/LandingPage.js
Due: backend-changed, web-changed

Fix padding of chat room web view
  apps/mobile/src/screens/ChatRoomWebView/ChatRoomWebView.js
Due: mobile-changed

Don't show Track and Funding Round in create menu when clicking on the map
  apps/web/src/components/CreateMenu/CreateMenu.jsx
  apps/web/src/routes/MapExplorer/MapExplorer.js
Due: web-changed

Add access control related fields to track queries
  apps/web/src/store/actions/fetchGroupTracks.js
  apps/web/src/store/actions/fetchMyTracks.js
  apps/web/src/store/actions/trackActions.js
Due: web-changed

Linting
  apps/web/src/routes/Messages/Messages.js
Due: web-changed

For some reason this inset needs to change. Why??
  apps/mobile/src/screens/ChatRoomWebView/ChatRoomWebView.js
Due: mobile-changed

Make it easier to delete and set vote amount on a submission
  apps/mobile/src/components/SubmissionCard/SubmissionCard.js
  apps/web/src/components/Avatar/Avatar.js
  apps/web/src/routes/FundingRoundHome/SubmissionCard.jsx
  apps/web/src/routes/FundingRoundHome/SubmissionsTab.jsx
Due: web-changed, mobile-changed

Fix issue creating posts
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Copy tweak
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
  apps/mobile/src/components/RoundPhaseStatus/RoundPhaseStatus.js
Due: mobile-changed

Add translations
  apps/mobile/locales/en.json
  apps/mobile/locales/es.json
Due: mobile-changed

Try to fix some console warnings
  packages/graphql/fragments/trackFieldsFragment.js
  packages/graphql/queries/fetchFundingRoundQuery.js
  packages/urql/keys.js
Due: none

Logging to understand why voting is failing in staging
  apps/mobile/src/components/SubmissionCard/SubmissionCard.js
Due: mobile-changed

Revert "Logging to understand why voting is failing in staging"
  apps/mobile/src/components/SubmissionCard/SubmissionCard.js
Due: mobile-changed

Allow for searching within the currenrt group (as default)
  apps/backend/api/graphql/schema.graphql
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/components/CommentCard/CommentCard.connector.js
  apps/web/src/components/CommentCard/CommentCard.js
  apps/web/src/components/CommentCard/index.js
  apps/web/src/components/PostDialog/PostDialog.jsx
  apps/web/src/components/ViewHeader/ViewHeader.jsx
  apps/web/src/hooks/useRouteParams/index.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/Search/Search.js
  apps/web/src/routes/Search/Search.store.js
  apps/web/src/store/reducers/queryResults.js
  packages/navigation/src/index.js
Due: backend-changed, web-changed

New Languages workflow
  apps/web/public/locales/de.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/pt.json
  docs/20250209 - Milestones - Workspace Post Type.md
  docs/20250209 - Spec - Workspace Post Type.md
  fix-mobile-setup.sh
  scripts/i18n/README.md
  scripts/i18n/auto-translate-locale.js
  scripts/i18n/check-locale-keys.js
  scripts/i18n/lib.js
  scripts/i18n/sort-locale.js
Due: web-changed

Fix back button from search after clicking on post
  apps/web/src/components/SkillsSection/SkillsSection.connector.js
  apps/web/src/components/SkillsToLearnSection/SkillsToLearnSection.connector.js
  apps/web/src/components/ViewHeader/ViewHeader.jsx
  apps/web/src/contexts/ViewHeaderContext/ViewHeaderProvider.jsx
  apps/web/src/routes/Search/Search.js
Due: web-changed

Refresh funding rounds list every time it is opened
  apps/mobile/src/screens/FundingRounds/FundingRounds.js
Due: mobile-changed

Smaller completed date for smaller devices
  apps/mobile/src/components/FundingRoundCard/FundingRoundCard.js
Due: mobile-changed

Fix display of participants count
  apps/mobile/locales/en.json
  apps/mobile/package.json
  yarn.lock
Due: mobile-changed

Tweak widths of tabs in funding round based on device width
  apps/mobile/src/screens/FundingRoundDetail/FundingRoundDetail.js
Due: mobile-changed

Fix warning loading funding rounds
  packages/urql/keys.js
Due: none

Long clicking on an emoji shows all the reactions to that post
  apps/mobile/src/components/EmojiPill/EmojiPill.js
  apps/mobile/src/components/EmojiRow/EmojiRow.js
  apps/mobile/src/components/Pill/Pill.js
Due: mobile-changed

Fix height of nav and context menu in Desktop
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
  apps/web/src/routes/AuthLayoutRouter/components/GlobalNav/GlobalNav.jsx
Due: web-changed

Add descriptive class to ChatRoom
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
