Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

Add input ContextWidgetInput
  apps/backend/api/graphql/schema.graphql
Due: backend-changed

Correct test command
  apps/backend/package.json
Due: backend-changed

update dotenv setup
  apps/backend/app.js
  apps/backend/config/bootstrap.js
  apps/backend/knexfile.js
  apps/backend/lib/skiff.js
Due: backend-changed

chore(mobile): URQL create and update Post from PostEditor
  apps/mobile/src/graphql/mutations/createProjectMutation.js
  apps/mobile/src/graphql/mutations/updatePostMutation.js
  apps/mobile/src/screens/PostEditor/PostEditor.js
  apps/mobile/src/store/actions/createPost.js
  apps/mobile/src/store/actions/createProject.js
  apps/mobile/src/store/actions/updatePost.js
Due: mobile-changed

Switch from @import to @use for global sass
  apps/web/vite.config.js
Due: web-changed

The socket.io setup for this test is borked
  apps/backend/test/unit/models/Notification.test.js
Due: backend-changed

Chat fixes including production license
  apps/web/package.json
  apps/web/src/routes/ChatRoom/ChatRoom.js
  yarn.lock
Due: web-changed

Fix display of no posts image
  apps/web/src/components/NoPosts/NoPosts.module.scss
Due: web-changed

Remove no longer used connectors
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/Navigation.connector.js
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/Navigation.connector.test.js
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/__snapshots__/Navigation.connector.test.js.snap
  apps/web/src/routes/AuthLayoutRouter/components/TopNav/MessagesDropdown/MessagesDropdown.connector.js
  apps/web/src/routes/Events/Events.connector.js
  apps/web/src/routes/Events/Events.connector.test.js
  apps/web/src/routes/Events/__snapshots__/Events.connector.test.js.snap
  apps/web/src/routes/GroupDetail/GroupDetail.connector.js
  apps/web/src/routes/GroupSettings/GroupSettings.connector.js
  apps/web/src/routes/GroupSettings/GroupSettings.connector.test.js
  apps/web/src/routes/GroupSettings/__snapshots__/GroupSettings.connector.test.js.snap
  apps/web/src/routes/GroupSidebar/GroupSidebar.connector.js
  apps/web/src/routes/GroupSidebar/GroupSidebar.connector.test.js
  apps/web/src/routes/GroupSidebar/__snapshots__/GroupSidebar.connector.test.js.snap
  apps/web/src/routes/Groups/Groups.connector.js
  apps/web/src/routes/LandingPage/LandingPage.connector.js
  apps/web/src/routes/PostDetail/PostDetail.connector.js
  apps/web/src/routes/PostDetail/PostDetail.connector.test.js
  apps/web/src/routes/PostDetail/__snapshots__/PostDetail.connector.test.js.snap
Due: web-changed

Fix picking emojis in chat
  apps/web/package.json
  apps/web/src/components/EmojiPicker/EmojiPicker.js
  apps/web/src/components/EmojiPicker/EmojiPicker.module.scss
  apps/web/src/components/EmojiRow/EmojiRow.js
  apps/web/src/components/PostCard/PostBody/PostBody.js
  apps/web/src/components/PostCard/PostCard.js
  apps/web/src/components/ui/popover.jsx
  apps/web/src/graphql/fragments/groupQueryFragment.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.module.scss
  apps/web/src/routes/ChatRoom/ChatRoom.js
  yarn.lock
Due: web-changed

URQL FlagGroupContent
  apps/mobile/src/components/FlagGroupContent/FlagGroupContent.js
  apps/mobile/src/graphql/mutations/createModerationActionMutation.js
  apps/mobile/src/screens/NotificationsList/NotificationsList.js
  apps/mobile/src/store/actions/fetchForGroup.js
  apps/mobile/src/store/actions/moderationActions.js
  apps/mobile/src/store/presenters/GroupPresenter.js
  apps/mobile/src/urql-shared/hooks/useReactOnEntity.js
  apps/mobile/src/urql-shared/presenters/PostPresenter.js
Due: mobile-changed

Better handling of presenters
  apps/mobile/src/components/FlagGroupContent/FlagGroupContent.js
  apps/mobile/src/components/PostCard/PostCard.js
  apps/mobile/src/screens/PostDetails/PostDetails.js
  apps/mobile/src/urql-shared/presenters/GroupPresenter.js
Due: mobile-changed

Touch up
  apps/mobile/src/screens/PostEditor/PostEditor.js
Due: mobile-changed

URQL Create and Delete Comment
  apps/mobile/src/components/Comment/Comment.js
  apps/mobile/src/components/CommentEditor/CommentEditor.js
  apps/mobile/src/components/StreamList/StreamList.js
  apps/mobile/src/graphql/mutations/deleteCommentMutation.js
  apps/mobile/src/store/actions/createComment.js
  apps/mobile/src/store/actions/deleteComment.js
  apps/mobile/src/urql-shared/updates/index.js
Due: mobile-changed

add context widgets to group queries and allow transition to new menu via a button (dev feature only)
  apps/backend/api/graphql/index.js
  apps/backend/api/graphql/mutations/index.js
  apps/backend/api/graphql/schema.graphql
  apps/mobile/src/graphql/fragments/groupFieldsFragment.js
  apps/mobile/src/graphql/fragments/groupsQueryFragment.js
  apps/mobile/src/screens/CreateGroupFlow/CreateGroupFlow.store.js
  apps/mobile/src/store/actions/fetchGroupDetails.js
  apps/web/src/graphql/fragments/groupFieldsFragment.js
  apps/web/src/graphql/fragments/groupQueryFragment.js
  apps/web/src/routes/GroupSettings/GroupSettings.js
  apps/web/src/routes/GroupSettings/GroupSettings.store.js
  apps/web/src/routes/GroupSettings/GroupSettingsTab/GroupSettingsTab.js
  apps/web/src/routes/Groups/Groups.js
  apps/web/src/store/actions/fetchGroupDetails.js
  yarn.lock
Due: backend-changed, web-changed, mobile-changed

Fix up some post editor stuff
  apps/web/package.json
  apps/web/src/components/CreateModal/CreateModal.js
  apps/web/src/components/Dropdown/Dropdown.js
  apps/web/src/components/PostEditor/PostEditor.js
  apps/web/src/components/TextInput/TextInput.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  yarn.lock
Due: web-changed

Fix use of join links
  apps/web/src/routes/JoinGroup/JoinGroup.js
  apps/web/src/routes/UserSettings/ManageInvitesTab/ManageInvitesTab.connector.js
  apps/web/src/store/actions/acceptInvitation.js
Due: web-changed

Fix picking emojis on a comment
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.jsx
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.module.scss
Due: web-changed

Lint fixes
  apps/web/src/components/EmojiPicker/EmojiPicker.js
  apps/web/src/routes/PostDetail/Comments/Comment/Comment.jsx
Due: web-changed

Lint fixes, and Highlight fixes on search
  apps/web/src/components/CardImageAttachments/CardImageAttachments.js
  apps/web/src/components/CreateTopic/CreateTopic.js
  apps/web/src/components/EventInviteDialog/EventInviteDialog.js
  apps/web/src/components/GroupCard/GroupCard.js
  apps/web/src/components/Highlight/Highlight.js
  apps/web/src/components/ModalDialog/ModalDialog.test.js
  apps/web/src/components/PostCard/EventRSVP/EventRSVP.test.js
  apps/web/src/components/PostCard/PostBody/PostBody.js
  apps/web/src/components/PostCard/PostCard.js
  apps/web/src/components/PostCard/PostTitle/PostTitle.test.js
  apps/web/src/components/Widget/JoinWidget/JoinWidget.js
  apps/web/src/components/ui/popover.jsx
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/NavLink/NavLink.js
  apps/web/src/routes/GroupExplorer/GroupSearch/GroupSearch.js
  apps/web/src/routes/MapExplorer/SavedSearches/SavedSearches.js
  apps/web/src/routes/MemberProfile/MemberVotes/MemberVotes.store.js
  apps/web/src/routes/OAuth/Login/Login.js
  apps/web/src/routes/PostDetail/ProjectContributions/ProjectContributions.js
  apps/web/src/server/index.js
Due: web-changed

Prepare to host on Heroku with vite and buildpack monorepo
  apps/web/app.json
  apps/web/scripts/build.js
  apps/web/scripts/start.js
Due: web-changed

Specify using of yarn and version of node
  apps/web/package.json
Due: web-changed

Another try to not error out on workspaces
  apps/web/package.json
Due: web-changed

chore(mobile): Make Topic and ContextGroups work again for stream. Move ContextGroup stuff out of Group ReduxORM model
  apps/mobile/src/components/GroupWelcomeCheck/GroupWelcomeCheck.js
  apps/mobile/src/components/GroupsList/GroupsList.js
  apps/mobile/src/components/PostCard/PostGroups/PostGroups.js
  apps/mobile/src/components/StreamList/StreamList.js
  apps/mobile/src/components/StreamList/useFetchPostParam.js
  apps/mobile/src/graphql/queries/groupTopicQuery.js
  apps/mobile/src/graphql/queries/topicQuery.js
  apps/mobile/src/hooks/useChangeToGroup.js
  apps/mobile/src/hooks/useGoToTopic.js
  apps/mobile/src/hooks/usePostActionSheet.js
  apps/mobile/src/navigation/CreateGroupTabsNavigator.js
  apps/mobile/src/screens/CreateGroupFlow/CreateGroupFlow.store.js
  apps/mobile/src/screens/CreateGroupFlow/CreateGroupName.js
  apps/mobile/src/screens/CreateGroupFlow/CreateGroupParentGroups.js
  apps/mobile/src/screens/CreateGroupFlow/CreateGroupPurpose.js
  apps/mobile/src/screens/CreateGroupFlow/CreateGroupReview.js
  apps/mobile/src/screens/CreateGroupFlow/CreateGroupVisibilityAccessibility.js
  apps/mobile/src/screens/DrawerMenu/DrawerMenu.js
  apps/mobile/src/screens/GroupNavigation/GroupNavigation.js
  apps/mobile/src/screens/GroupWelcomeFlow/GroupWelcomeFlow.store.js
  apps/mobile/src/screens/GroupWelcomeFlow/GroupWelcomeLanding.js
  apps/mobile/src/screens/GroupWelcomeFlow/GroupWelcomeTabBar.js
  apps/mobile/src/screens/Groups/Groups.js
  apps/mobile/src/screens/MapWebView/MapWebView.js
  apps/mobile/src/screens/Stream/Stream.js
  apps/mobile/src/store/models/Group.js
  apps/mobile/src/store/selectors/getGroup.js
  apps/mobile/src/store/selectors/getLastViewedGroup.js
  apps/mobile/src/store/selectors/getResponsibilitiesForGroup.js
  apps/mobile/src/urql-shared/presenters/GroupPresenter.js
Due: mobile-changed

Try heroku-postbuild
  apps/web/package.json
Due: web-changed

Try to build frontend on heroku from root directory
  Procfile
  package.json
Due: none

Fix build step
  package.json
Due: none

Basic form of context menu UI, unstyled
  apps/backend/api/models/Group.js
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/src/hooks/useGatherItems/index.js
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/MenuLink/MenuLink.js
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/MenuLink/index.js
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/NavLink/NavLink.js
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/Navigation.js
  apps/web/src/routes/Members/Members.store.js
  apps/web/src/store/selectors/contextWidgetSelectors.js
  apps/web/src/util/contextWidgets.js
  apps/web/src/util/navigation.js
Due: backend-changed, web-changed

Try this to get the frontend running on heroku
  Procfile
  apps/web/.env.example
  apps/web/scripts/build.js
  apps/web/src/server/apiProxy.js
  apps/web/src/server/index.js
  apps/web/src/server/redirectToApp.js
Due: web-changed

One more try
  apps/web/Procfile
  apps/web/package.json
Due: web-changed

Ensure chat widgets route correctly
  apps/web/src/util/navigation.js
Due: web-changed

Try a different Procfile
  Procfile
Due: none

Fix lint warning
  apps/web/src/components/Map/Map.module.scss
Due: web-changed

Does this do it?
  apps/web/scripts/build.js
Due: web-changed

Fix many lint things and some css issues
  apps/web/src/components/CreateTopic/CreateTopic.js
  apps/web/src/components/GroupBanner/GroupBanner.js
  apps/web/src/components/ImageCarousel/ImageCarousel.js
  apps/web/src/components/Member/Member.js
  apps/web/src/components/ModalDialog/ModalDialog.js
  apps/web/src/components/NotFound/NotFound.connector.js
  apps/web/src/components/NotFound/index.js
  apps/web/src/components/PeopleTyping/PeopleTyping.js
  apps/web/src/components/PostCard/EventBody/EventBody.js
  apps/web/src/components/PostListRow/PostListRow.js
  apps/web/src/components/PostPeopleDialog/PostPeopleDialog.js
  apps/web/src/components/SocketListener/SocketListener.js
  apps/web/src/components/Widget/FarmMapWidget/FarmMapWidget.js
  apps/web/src/components/Widget/GroupTopicsWidget/GroupTopicsWidget.js
  apps/web/src/components/Widget/MembersWidget/MembersWidget.js
  apps/web/src/components/Widget/OffersAndRequestsWidget/OffersAndRequestsWidget.js
  apps/web/src/components/Widget/TopicsWidget/TopicsWidget.js
  apps/web/src/components/Widget/Widget.js
  apps/web/src/routes/AuthLayoutRouter/components/Drawer/Drawer.js
  apps/web/src/routes/AuthLayoutRouter/components/Navigation/Navigation.js
  apps/web/src/routes/GroupExplorer/GroupExplorer.js
  apps/web/src/routes/GroupExplorer/GroupExplorer.module.scss
  apps/web/src/routes/GroupSettings/AgreementsTab/AgreementsTab.module.scss
  apps/web/src/routes/GroupSettings/DeleteSettingsTab/DeleteSettingsTab.js
  apps/web/src/routes/GroupSettings/ImportExportSettingsTab/ImportExportSettingsTab.js
  apps/web/src/routes/GroupSettings/MembershipRequestsTab/MembershipRequestsTab.module.scss
  apps/web/src/routes/GroupSettings/RelatedGroupsTab/RelatedGroupsTab.js
  apps/web/src/routes/GroupSettings/ResponsibilitiesTab/ResponsibilitiesTab.module.scss
  apps/web/src/routes/GroupSettings/RolesSettingsTab/RolesSettingsTab.js
  apps/web/src/routes/GroupSettings/TopicsSettingsTab/TopicsSettingsTab.js
  apps/web/src/routes/MemberProfile/MemberProfile.js
  apps/web/src/routes/Messages/MessageSection/MessageSection.js
  apps/web/src/routes/Messages/PeopleSelector/PeopleSelector.js
  apps/web/src/routes/OAuth/Consent/Consent.js
  apps/web/src/routes/PostDetail/ProjectContributions/ProjectContributions.js
  apps/web/src/routes/UserSettings/BlockedUsersTab/BlockedUsersTab.js
  apps/web/src/routes/UserSettings/PaymentSettingsTab/PaymentSettingsTab.js
  apps/web/src/store/actions/fetchForGroup.js
  apps/web/src/store/reducers/ormReducer/index.js
Due: web-changed

One more lint fix and quieting sass deprecation warnings
  apps/web/src/routes/PostDetail/Comments/Comments.js
  apps/web/vite.config.js
Due: web-changed

Try to fix highlighting
  apps/web/src/components/Highlight/Highlight.js
Due: web-changed

More attempts to fix
  apps/web/package.json
  apps/web/src/server/apiProxy.js
  apps/web/src/server/index.js
Due: web-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
