Repository Hylozoic/hylo: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend-changed, web-changed, mobile-changed

chore(mobile): Make Group Settings back button work
  apps/mobile/src/screens/GroupSettingsWebView/GroupSettingsWebView.js
Due: mobile-changed

chore(mobile): Refactors Create Group to a more reliable and better UX
  apps/mobile/src/components/ContextSwitchMenu/ContextSwitchMenu.js
  apps/mobile/src/hooks/useChangeToGroup.js
  apps/mobile/src/navigation/CreateGroupTabsNavigator.js
  apps/mobile/src/screens/CreateGroup/CreateGroup.js
  apps/mobile/src/screens/CreateGroup/CreateGroup.store.js
  apps/mobile/src/screens/CreateGroup/CreateGroup.store.test.js
  apps/mobile/src/screens/CreateGroup/CreateGroupName.js
  apps/mobile/src/screens/CreateGroup/CreateGroupParentGroups.js
  apps/mobile/src/screens/CreateGroup/CreateGroupPurpose.js
  apps/mobile/src/screens/CreateGroup/CreateGroupReview.js
  apps/mobile/src/screens/CreateGroup/CreateGroupTabBar.js
  apps/mobile/src/screens/CreateGroup/CreateGroupUrl.js
  apps/mobile/src/screens/CreateGroup/CreateGroupVisibilityAccessibility.js
  apps/mobile/src/screens/CreateGroup/index.js
  apps/mobile/src/screens/CreateGroupFlow/CreateGroupPurpose.js
  apps/mobile/src/screens/CreateGroupFlow/CreateGroupReview.js
  apps/mobile/src/screens/CreateGroupFlow/__snapshots__/CreateGroupFlow.store.test.js.snap
  apps/mobile/src/screens/CreateGroupFlow/util/index.js
  apps/mobile/src/screens/CreateGroupFlow/util/index.test.js
  apps/mobile/src/screens/JoinGroup/JoinGroup.js
  apps/mobile/src/screens/MemberProfile/MemberDetails/MemberDetails.js
Due: mobile-changed

chore(mobile): Moves linking initialURL, returnToOnAuthPath, and context switching to useHandleLinking hook and promotes to AuthRootNavigator from HomeNavigator
  apps/mobile/src/navigation/AuthRootNavigator.js
  apps/mobile/src/navigation/HomeNavigator.js
  apps/mobile/src/navigation/linking/useHandleLinking.js
Due: mobile-changed

chore(mobile): Makes default ButtonNW have usable size and padding, and be dynamically sized vs requiring fixed width/height
  apps/mobile/src/components/Button/ButtonNW.js
Due: mobile-changed

Improve performance by not loading stuff for old explore page on initial group load
  apps/web/src/graphql/fragments/groupQueryFragment.js
  apps/web/src/routes/AuthLayoutRouter/AuthLayoutRouter.js
  apps/web/src/routes/LandingPage/LandingPage.js
  apps/web/src/store/actions/fetchGroupForLandingPage.js
  apps/web/src/store/constants.js
Due: web-changed

Fix error on password reset page
  apps/web/src/routes/NonAuthLayoutRouter/PasswordReset/PasswordReset.js
Due: web-changed

Split chat room notifications migration into separate data migration to try and prevent issue migrating all the way up
  apps/backend/migrations/20250207125837_chat-room-notifications.js
  apps/backend/migrations/20250207125838_chat-room-notifications-datajs
Due: backend-changed

Fix automatic generation of link previews
  apps/web/src/components/HyloEditor/HyloEditor.js
Due: web-changed

Add migrate-up to root package.json
  package.json
Due: none

Fix resending email verification code
  apps/web/src/routes/NonAuthLayoutRouter/Signup/VerifyEmail/VerifyEmail.js
Due: web-changed

Fix links on welcome to Hylo modal
  apps/web/src/routes/WelcomeWizardRouter/WelcomeExplore/WelcomeExplore.js
Due: web-changed

Support longer filenames for attachments
  apps/backend/migrations/20250307172703_support-longer-image-names.js
Due: backend-changed

Missing translations
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
Due: web-changed

Ensure posts sent over socket have the data they need to display right
  apps/backend/api/models/Post.js
Due: backend-changed

Fix display of proposals in chat rooms
  apps/web/src/routes/ChatRoom/ChatRoom.js
  apps/web/src/store/presenters/presentPost.js
Due: web-changed

fix timestamp on large grid items
  apps/web/src/components/PostGridItem/PostGridItem.js
Due: web-changed

Removed pinned post functionality for now, until we get it working on a per view basis
  apps/web/src/components/PostCard/PostHeader/PostHeader.connector.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.connector.test.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.store.js
  apps/web/src/components/PostCard/PostHeader/PostHeader.store.test.js
  apps/web/src/components/PostCard/PostHeader/__snapshots__/PostHeader.connector.test.js.snap
  apps/web/src/graphql/fragments/postCardFieldsFragment.js
  apps/web/src/graphql/fragments/postFieldsFragment.js
  apps/web/src/routes/ChatRoom/ChatPost/ChatPost.js
  apps/web/src/routes/MapExplorer/__snapshots__/MapExplorer.store.test.js.snap
  apps/web/src/store/actions/__snapshots__/fetchPosts.test.js.snap
  apps/web/src/store/presenters/__snapshots__/presentPost.test.js.snap
  apps/web/src/store/presenters/presentPost.js
  apps/web/src/store/presenters/presentPost.test.js
  apps/web/src/store/reducers/ormReducer/index.test.js
Due: web-changed

Improve performance of chat room a bunch
  apps/web/src/routes/ChatRoom/ChatRoom.js
Due: web-changed

Don't show arrows on image carousel if there's only one image
  apps/web/src/components/ImageCarousel/ImageCarousel.js
Due: web-changed

Fix edit post URL in chat room
  apps/web/src/hooks/useRouteParams/index.js
  apps/web/src/routes/PostDetail/PostDetail.js
Due: web-changed

Fix editing post attachments
  apps/web/src/components/AttachmentManager/AttachmentManager.jsx
  apps/web/src/components/AttachmentManager/FileManager.jsx
  apps/web/src/components/AttachmentManager/ImageManager.jsx
  apps/web/src/components/PostEditor/ActionsBar.jsx
  apps/web/src/components/PostEditor/PostEditor.js
Due: web-changed

Fix display of dates in emails
  packages/shared/src/TextHelpers.js
Due: none

chore(mobile): Fixes TabStackHeader back button behavior
  apps/mobile/src/navigation/headers/TabStackHeader.js
Due: mobile-changed

chore(mobile): Add useKeyboardVisible hook
  apps/mobile/src/hooks/useKeyboardVisible.js
Due: mobile-changed

chore(mobile): Turn off the default keyboard accessory view in iOS added by react-native-keyboard-manager
  apps/mobile/index.js
Due: mobile-changed

chore(mobile): Linting
  apps/mobile/src/screens/GroupSettingsWebView/GroupSettingsWebView.js
Due: mobile-changed

chore(mobile): Adjust styling for CreateGroup workflow buttons area
  apps/mobile/src/screens/CreateGroup/CreateGroup.js
Due: mobile-changed

refactor code as suggested in review
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

refactor Context Menu code
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

chore(mobile): Fixes #343 and cleans-up some Login/ForgotPassword/Signup UX and code messes
  apps/mobile/src/components/FormattedError/FormattedError.js
  apps/mobile/src/navigation/SignupNavigator.js
  apps/mobile/src/screens/ForgotPassword/ForgotPassword.js
  apps/mobile/src/screens/Login/Login.js
  apps/mobile/src/screens/Login/Login.styles.js
  apps/mobile/src/screens/Login/Login.test.js
  apps/mobile/src/screens/Signup/Signup.js
  apps/mobile/src/screens/Signup/Signup.styles.js
  packages/contexts/AuthContext.js
Due: mobile-changed

improve UX when adding widgets
  apps/web/src/routes/AllView/AllView.jsx
Due: web-changed

improve UX when adding home widget
  apps/web/src/routes/AllView/AllView.jsx
Due: web-changed

add gap when editing ContextMenu
  apps/web/src/routes/AuthLayoutRouter/components/ContextMenu/ContextMenu.jsx
Due: web-changed

chore(mobile): Fix group name not appearing in header on initial load
  apps/mobile/src/navigation/headers/TabStackHeader.js
Due: mobile-changed

chore(mobile): Fixes missing "key" prop error
  apps/mobile/src/components/ContextMenu/ContextMenu.js
Due: mobile-changed

chore(mobile): Further clarify comment on modelScreenName
  apps/mobile/src/navigation/AuthRootNavigator.js
Due: mobile-changed

chore(mobile): Remove extraneous setting of header title to current group name management in components, that is now the default behavior
  apps/mobile/src/screens/AllTopicsWebView/AllTopicsWebView.js
  apps/mobile/src/screens/ChatRoomWebView/ChatRoomWebView.js
  apps/mobile/src/screens/GroupExploreWebView/GroupExploreWebView.js
  apps/mobile/src/screens/Groups/Groups.js
  apps/mobile/src/screens/MemberProfile/MemberProfile.js
  apps/mobile/src/screens/PostDetails/PostDetails.js
  apps/mobile/src/screens/Stream/Stream.js
Due: mobile-changed

chore(mobile): Add redirectTo option to linking, change from myHome to view route param, some code tidying
  apps/mobile/src/components/ContextMenu/ContextMenu.js
  apps/mobile/src/navigation/HomeNavigator.js
  apps/mobile/src/navigation/linking/getStateFromPath.js
  apps/mobile/src/navigation/linking/index.js
  apps/mobile/src/screens/AllTopicsWebView/AllTopicsWebView.js
  apps/mobile/src/screens/CreateGroup/CreateGroup.js
  apps/mobile/src/screens/Stream/PostRow.js
  apps/mobile/src/screens/Stream/Stream.js
  packages/hooks/useStreamQueryVariables.js
Due: mobile-changed

chore(mobile): Moves useChangeToGroup to where it is used
  apps/mobile/src/components/PostCard/PostCard.js
  apps/mobile/src/components/PostCard/PostCardForDetails.js
  apps/mobile/src/components/PostCard/PostGroups/PostGroups.js
  apps/mobile/src/navigation/linking/useHandleLinking.js
  apps/mobile/src/screens/Groups/Groups.js
  apps/mobile/src/screens/MemberProfile/MemberDetails/MemberDetails.js
  apps/mobile/src/screens/MemberProfile/MemberDetails/MemberDetails.test.js
  apps/mobile/src/screens/MemberProfile/MemberDetails/__snapshots__/MemberDetails.test.js.snap
  apps/mobile/src/screens/MemberProfile/MemberStream/MemberStream.js
  apps/mobile/src/screens/SearchPage/SearchPage.js
  apps/mobile/src/screens/SearchPage/__snapshots__/SearchPage.test.js.snap
  apps/mobile/src/screens/Stream/PostRow.js
Due: mobile-changed

tests: update module path transforms
  apps/web/config/jest.config.js
Due: web-changed

Path conditions:
  backend-changed: any of: apps/backend/.*
  web-changed: any of: apps/web/.*
  mobile-changed: any of: apps/mobile/.*
